<h2>Hello from partial</h2>
<li class='celeb-list-item'>
    <h3>{{this.name}}</h3>
    <h4>{{this.occupation}}</h4>
    <h4>{{this.catchPhrase}}</h4>
    <a href="/book/{{this._id}}">See more about</a>
</li>