<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <span><a href="/">Home</span></a>
      <span><a href="/celebrities">Celebrities</span></a>
      <span><a href="/movies">Movies</span></a>
    </nav>



<div class = "showtime">


    {{{body}}}

    <script src='/javascripts/script.js'></script>
  
  </div>
  </body>
</html>
