<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <span><a href="/">Home</span></a>
      <span><a href="/celebrities">Celebrities</span></a>
      <span><a href="/movies">Movies</span></a>
    </nav>



<div class = "showtime">


    {{{body}}}

    <script src='/javascripts/script.js'></script>
  
  </div>
  </body>
</html>
