<h2>Celebrities</h2>

<ul>
  <% celebrityList.forEach((e) => { %>
    <li>
      <%= e.name %>
        <a href="/celebrity/<%= e._id %>">View more details</a>
    </li>
    <%})%>
</ul>
<a href="/celebrity/new">Add celebrity</a>
