<h2> Celebrity List</h2>

<ol>
  <% celebrityList.forEach((eachCelebrity)=>{ %>
    <li>Name: <%= eachCelebrity.celebrityName %>
    <a href="/celebrity/<%= eachCelebrity._id %>">View more details</a></li>
  <% }) %>
</ol>
<a href="/celebrity/new">Add celebrity</a>
