<form method="post" action="/celebrities">
  <div>
    <label for="name">  Name: </label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="occupation"> Occupation: </label>
    <input type="text" name="occupation" id="occupation">
  </div>

  <div>
    <label for="catchPhrase"> catchPhrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase">
  </div>

  <button> Add celebrity <cele></cele> </button>
</form>
