
<h2>Add new celebrity</h2>

<form action="/celebrity" method="POST">
  <label for="name">celebrityName</label>
  <input type="text" id="celebrityName" name="celebrityName">

  <label for="price">occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="image-url">catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase">

  <button type="submit">Save celebrity</button>
</form>
