<h1>Login</h1>

<a href="/">Home</a>
<br><br>

<form action="/login" method="POST">

  <input type="text" name='email' placeholder="email">

  <input type="password" name='password' placeholder="password">

  <button type="submit">Login</button>

</form>

{{#if errorMessage}}

<p>{{errorMessage}}</p>

{{/if}}