<a href="/">Back to main page</a>

<form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">

    <label for="email">Email</label><br>
    <input type="text" name="email"
      placeholder="Your email">

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="********">

    <button type="submit">Create account</button>
  </form>