<h2>look at this mass of details: </h2>

<div class='celeblistdiv'>

  <p>name: {{name}}</p>

  <p>working as:  {{occupation}}</p>
  <p>unique catch phrase: {{catchPhrase}}</p>


</div>
<div class="celeblistdiv">

<button><a href="/celebrities">go back</a></button>
</div>