<h1>Edit your Profile</h1>

<form class="" action="/celebrities/<%=id%>/edit" method="post">
    <label for="name-Input">Name :</label>
    <input id="name-Input" type="text" name="nameValue" value="<%=name%>"><label id="name"></label>
    <br>
    <label for="occupation-input">Occupation: </label>
    <input id="occupation-input" type="text" name="occupationValue" value="<%=occupation%>"><label id="occupation"></label>
    <br>
    <label for="catchPhrase-Input">Catch Phrase: </label>
    <input id="catchPhrase-Input" type="text" name="catchPhraseValue" value="<%=phrase%>"><label id="catchPhrase"></label>
    <br>
    <button>Finish</button>
</form>
