<h2>here you can enter the data of the new Celebrity! <br> AMAAAAZING!!</h2>



<form action="/celebrities/new" method="POST">
  <label> Name:
    <input type="text" name="name" />
  </label>
  <br>

  <label> Occupation:
    <input type="text" name="occupation"> </input>
  </label>
  <br>

  <label> catchPhrase: 
    <textarea type="text" name="catchPhrase"> </textarea>
  </label>

  
  <button type="submit"> Create the post </button>
</form>