<h1> <%= celebrity.name %> </h1>

<br>

<center><img src="<%= celebrity.imageUrl %>" width="400px">

<p> Occupation: <%= celebrity.occupation %> </p>

<p> Catch Phrase: <%= celebrity.catchPhrase %> </p></center>
