<h1 class="titlelist">Celebrities </h1>
{{#each cele}}

<a href="celebrities/{{id}}" class="list">{{name}}</a>

<br>
{{/each}}

<a href="/celebrities/new" class= "btn btn-dark btnadd">Add a new celebrity</a>
