<h2>Celebrities:</h2>

{{#each allCelebrities}}
   <a href="/celebrities/show/{{_id}}">{{name}}</a><br>

{{/each}}

<hr>

<a href="/celebrities/new">Create a new celebrity</a>
<hr>
<a href="/">Home page</a>