<h2>Add a new celeb to the list</h2>

<form action="/celebrities" method="POST">

  <p>Name</p>
  <input type="text" name="name">

  <p>Occupation</p>
  <input type="text" name="occupation">

  <p>Catch Phrase</p>
  <input type="text" name="catchPhrase">
  <button>Save</button>
  
</form>