<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Add new Celebrity</h2>

            <form method="POST" action="/celebrities/create-celebrity">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label>Occupation</label>
                    <input type="text" class="form-control" name="occupation">
                </div>
                <div class="form-group">
                    <label>Catchphrase</label>
                    <input type="text" class="form-control" name="catchPhrase">
                </div>
                <button type="submit" class="btn btn-outline-secondary">Create new Celebrity</button>
            </form>
        </div>
    </div>



</div>