<div class="col d-flex details">
  <ul>
    <li><b>Name: </b>{{celebrity.name}}</li>
    <li><b>Occupation: </b>{{celebrity.occupation}}</li>
    <li><b>Catch phrase: </b>{{celebrity.catchPhrase}}</li>
  </ul>
{{!-- WHAT THE FUCK IS HAPPENING HERE? --}}
  <a href="{{celebrity._id}}/edit" class="btn link btn-margin">Edit</a>
</div>
