
  <ul>
    <li>{{celebrity.name}}</li>
    <li>{{celebrity.occupation}}</li>
    <li>{{celebrity.catchPhrase}}</li>
  </ul>
{{!-- WHAT THE FUCK IS HAPPENING HERE? --}}
  <a href="{{celebrity._id}}/edit">Edit</a>
