<h2>Celebrity details</h2>
{{theCelebrity}}

<h3>Name</h3>
<p>{{name}}</p>

<h3>Occupation</h3>
<p>{{occupation}}</p>

<h3>Catch phrase</h3>
<p>{{catchPhrase}}</p>

<a class="btn btn-dark non-radius" href="/famosos/listado">Volver</a>