<div class="container">
    <h1>{{name}}</h1>

    <hr>

    <p><strong>Descripción:</strong> {{catchPhrase}}</p>
    <p><strong>Celebrity:</strong> {{name}}</p>
    <p><strong>Ocupación:</strong> {{occupation}}</p>

    <hr>
    <a href="/celebrities" class="btn btn-dark">Volver a las celebrities</a>
</div>