<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>{{name}}</h3>

            <div class="card detail-card" style="width: 40rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted occupation">{{occupation}}</h6>
                    <p class="card-text phrase">"<i>{{catchPhrase}}</i>"</p>
                    <a href="/celebrities" class="btn btn-dark">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>