<h2>Edit Celebs</h2>



<form action="/celebrities/{{theCeleb._id}}/update" method="post">

<div class = "edit-details">
<label>Name: </label>
<input type="text" name = "name" value="{{theCeleb.name}}">
<br>

<label>Occupation: </label>
<input type="text" name = "occupation" value="{{theCeleb.occupation}}">
<br>

<label>Catch Phrase: </label>
<input type="text" name = "catchphrase" value="{{theCeleb.catchPhrase}}">
<br>
<br>
<button type= "submit">Submit Changes</button>
</div>

</form>