<h2>Edit page</h2>
<form action="/celebrities/:id" method="post">
    <label>name</label>
    <input type="text" name="name">
    <br>

    <label>occupation</label>
    <input type="text" name="occupation">
    <br>

    <label>catch phrase</label>
    <textarea name="catchPhrase" cols="30" rows="10"></textarea>
    <br>

    <button type="submit">Save Person</button>
</form>