<h3>Edit celebrity</h3>

<form action="/celebrities/{{id}}/edit" method="POST">

    <input type="text" name="name" placeholder="Name" value= "{{name}}">
    <br>
    <input type="text" name="ocupation" placeholder="Ocupation"value= "{{ocupation}}">
    <br>
    <input type="text" name="catchPhrase" placeholder="Quote" value= "{{catchPhrase}}">
    <br>
    <button type="submit" class="btn btn-dark"> Edit</button>



</form>