<h2>Edit the celebrity information</h2>

//add prefilled text
<form action="/celebrities/{{oneCelebrity._id}}" method="post">
    <input type="text" placeholder="Name" name="name" />
    <input type="text" placeholder="Occupation" name="occupation" />
    <input type="text" placeholder="Catch Phrase" name="catchPhrase" />
    <button type="submit">SAVE</button>
</form>