<form action="/celebrities/{{this._id}}" method="post">
    <input type="text" name="name" value={{this.name}}>
    <input type="text" name="occupation" value={{this.occupation}}>
    <input type="text" name="catchPhrase" value={{this.catchPhrase}}>
    <button type="submit">Edit Celeb</button>
</form>