<h1>Edit</h1>

<form action="/celebrities/<%= celebrity.id %>" method="POST">

  <label for="celebrity-name">Name</label>
  <input type="text" name="name" id="celebrity-name" value="<%= celebrity.name %>">

  <label for="celebrity-occupation">Occupation</label>
  <input type="text" name="occupation" id="celebrity-occupation" value="<%= celebrity.occupation %>">
  
  <label for="celebrity-catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="celebrity-catchPhrase" value="<%= celebrity.catchPhrase %>">

  <button type="submit">Edit celebrity</button>
</form>