
<form action="/celebrities/{{celebrity.id}}/update" method="POST">
  <label for="name">Name:</label>
  <input type="text" value="{{celebrity.name}}" name="name">
  <label for="occupation">Occupation:</label>
  <input type="text" value="{{celebrity.occupation}}" name="occupation">
  <label for="catchPhrase">Catch phrase:</label>
  <input type="text" value="{{celebrity.catchPhrase}}" name="catchPhrase">
  <button type="submit">EDIT</button>
</form>
