<main class="container">
    <h3>New Star rising!!</h3>

    <form action="/celebrities/{{id}}" method="POST">
        <div class="form-group row">
            <label for="name" class="col-md-2">Name</label>
            <input name="name" type="text" class="form-control col-md-8" id="name" value="{{name}}" >
        </div>
        <div class="form-group row">
            <label for="occupation" class="col-md-2">Occupation</label>
            <input name="occupation" type="list" list="occupations" class="form-control col-md-8" id="occupation" value="{{occupation}}">
        </div>
        <div class="form-group row">
            <label for="catchphrase" class="col-md-2">Famous Quote</label>
            <input name="catchphrase" type="text" class="form-control col-md-8" id="catchphrase" value="{{catchphrase}}">
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary  offset-md-2">Submit</button>
        </div>
    </form>

    <datalist id="occupations">
        <option value="actor">
        <option value="singer">
        <option value="comedian">
        <option value="unknown">
        <option value="oxigen waste">
    </datalist>

</main>