<h1>All them celebs</h1>

{{#each celebs}}
  <a href="celebrities/single/{{id}}"><h1>{{name}}</h1></a>
  <form action="/celebrities/delete/{{id}}" method="POST">
  <button>Delete</button>
  </form>
  <a href="/celebrities/edit/{{id}}">Update</a>
{{/each}}