<h2>Celebrities</h2>


<button id = "get-celebs">See the Celebs</button>
<div class = "celeb-list"></div>


<br>
<br>
<br>

<div class = "new-btn">
<a href="../celebrities/new">Create Your Own Celeb</a>
</div>
