<section class="info-list">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column aling-items-center">
                <h2>Celebrities list</h2>
                <ul>
                {{#each allCelebrities}}
                <div class="list-container">
                    <li>{{name}}</li>
                    <div class="buttons-m">
                        <a class="btn btn-primary btn-sm" href="/celebrities/{{id}}">See datils</a>
                        <form action="/celebrities/{{id}}/delate" method="post">
                          <button class="btn btn-primary btn-sm" type="sumit">Delete</button>
                        </form>
                        <a class="btn btn-primary btn-sm" href="/celebrities/{{id}}/edit">Edit</a>
                    </div>
                </div>
                {{/each}}
                </ul>
            </div>
            <a href="/celebrities/new" class="btn btn-primary btn-lg">Create a new celebrity</a>
            <a href="/" class="btn btn-primary btn-lg">Go back</a>
        </div>
    </div>
<section>