<section class="info-list">
    <div class="container">
        <div class="row ">
            <div class="col d-flex flex-column align-items-center">
                <h2>Celebrities list</h2>
                <ul>
                    {{#each allTheCelebrities}}
                    <div class="list-cont">
                        <li>{{name}}</li>
                        <div class="buttons-manager">
                            <a class="btn btn-primary btn-sm" href="/celebrities/{{id}}">See details</a>
                            <form action="/celebrities/{{id}}/delete" method="post">
                                <button class="btn btn-primary btn-sm" type="submit">Delete</button>
                            </form>
                            <a class="btn btn-primary btn-sm" href="/celebrities/{{id}}/edit">Edit</a>
                        </div>
                    </div>
                    {{/each}}
                </ul>
                <div>
                <a href="/celebrities/new" class="btn btn-primary btn-lg">Create a new celebrity</a>
                <a href="/" class="btn btn-primary btn-lg">Go back</a>
                </div>
            </div>
        </div>
    </div>
</section>