<h2 class="ml-5 mt-3">Celebrities</h2>
<a type="button" class="btn btn-outline ml-5" href="/celebrities/new">New celebrity</a>

{{#each celebrities as |celebrity|}}
<div class="card m-5 bg-light" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{celebrity.name}}</h5>
    <a href="/celebrities/{{ this.id }}" class="card-link">Details</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>
{{/each}}

