<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Celebrity List</title>
  </head>
  <body>

    <h2> List of Celelbrities</h2>
    <ul>

      <%celebrities.forEach((celebrity)=> { %>

      <p>  <%= celebrity.name %></p>
      
      <p><a href=<%'celebrities/:id'%></p>

      <% }) %>
    </ul>


  </body>
</html>
