<h2>Celebrities</h2>
<a href="/">Home</a>

{{#each celebrities}}

<div>

    <h4>{{name}}</h4>

    <a href="/celebrities/{{id}}">Details</a>

    <br>
    <br>

    <form action="/celebrities/{{id}}/delete" method="POST">

        <button type="submit">Delete Celebrity</button>

    </form>

</div>

<hr>

{{/each}}

<br>

<a href="/celebrities/new">Create A Celebrity!</a>