<h2>Celebrities</h2>

{{#each celebsArray}}

<h4>{{this.name}}</h4>

 <a href="/celebrities/{{this._id}}">Click Here for More Details</a>

{{/each}}

<br>
<br>
<br>


<a href="../celebrities/new">Create Your Own Celeb</a>
