<h2>Yoooo</h2>

{{#each celebsArray}}

    <h4>{{this.name}}</h4>

    <a href="/celebrities/{{this._id}}">Click for more details</a>

    <form action= "/celebrities/{{_id}}/delete" method= "post"><button type ="submit">Delete</button></form>
    
{{/each}}

<br>
<br>
<br>

<a href="/celebrities/new">Create Your Own Celeb</a>