<h2>List</h2>
{{#each celebrities_data}}
  <li>{{this.name}}
  <a href="/celebrities/{{this._id}}">Show info</a>
  <a href="/celebrities/{{this._id}}/edit">Edit info</a>
  <form action="/celebrities/{{this._id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  </li>
{{/each}}

<a href="/celebrities/new"><button>Create new celebrity</button></a>
