<!DOCTYPE html>
<html>
  <head>
    <title> Celebrities </title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <h1> Information</h1>

  <h2> Name: <span><%= celebrity.name %></span> </h2>
  <h2> Ocupation: <span><%= celebrity.ocupation %></span> </h2>
  <h2> Catch Phrase: <span>"<i><%= celebrity.catchPhrase %>"</i></span> </h2>
  <img src="<%=celebrity.imageUrl%>" width="100px">

  </body>
</html>
