<!DOCTYPE html>
<html>
  <head>
    <title> Celebrities </title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <h1> Information</h1>

  <h2 class="info-title"> Name: <span><%= celebrity.name %></span> </h2>
  <h2 class="info-title"> Ocupation: <span><%= celebrity.ocupation %></span> </h2>
  <h2 class="info-title"> Catch Phrase: <span>"<i><%= celebrity.catchPhrase %>"</i></span> </h2>
  <img src="<%=celebrity.imageUrl%>" width="100px">

  </body>
</html>
