<div class="col d-flex list">
  {{#each celebrityArray}}
    <div class="col">
      <a href="/celebrities/{{id}}"><h5>{{name}}</h5></a>
      <form action="/celebrities/{{id}}/destroy" method="POST">
        <button type="submit" class="btn link destroy">DESTROY</button>
      </form>
    </div>
  {{/each}}
  <div class="col add">
    <a href="/celebrities/new" class="btn link">Add a celebrity</a>
  </div>
</div>
