<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>A침adir nueva celebrity</h1>

            <form method="POST" action="/celebrities/crear-celebrity">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Ocupaci칩n</label>
                    <input type="text" class="form-control" name="occupation">
                </div>
                <div class="form-group">
                    <label>Descripci칩n</label>
                    <input type="text" class="form-control" name="catchPhrase">
                </div>
                
                <button type="submit" class="btn btn-dark">A침adir nueva celebrity</button>
            </form>
        </div>
    </div>



</div>