


<h2 class="titlelist">Add a new celebrity</h2>

<form action="/celebrities/new" method="POST">
<h4>Name</h4>
<input type="text" name="name" placeholder="Name">
<br>
<h4>Ocupation</h4>
<input type="text" name="ocupation"placeholder="Ocupation">
<br>
<h4>Quote</h4>
<input type="text" name="catchPhrase"placeholder="Quote">
<br>
<button type="submit" class="btn btn-dark btnadd"> ADD</button>



</form>