<h2>Add your celebrity</h2>


<!-- the "value" attribute here let you fill the cases with the info you already have, so the user have just to modify them -->
<form action="/process-add" method="POST">
  <label>
    Name:
    <input type="text" name="name" placeholder="Madonna" required />
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" placeholder="Singer" required />
  </label>

  <label>
    Catchphrase:
    <input type="text" name="catchPhrase" placeholder="I'm the best" required />
  </label>


  <button>Save Changes</button>

</form>