<h2> Add a Celebrity of your Choice</h2>

<form method="POST" action="/celebrities/new">
  <label for="name-input"> Celebrity Name </label>
  <input id="name-input" type="text" name="celebName">
  <br>

  <label for="occupation-input"> Occupation </label>
  <input id="occupation-input" type="text" name="celebOccupation">
  <br>

  <label for="catch-phrase-input"> Catch Phrase </label>
  <textarea id="catch-phrase-input" name="catchPhrase"></textarea>
  <br>
  <button> Add celebrity to the list </button>

</form>
