<div class="container">
    <h2 class="list">Crear celebrity</h2>
    <hr>

    <div class="row">
        
        <form action="/celebrities/new" method="post">

        <div class="col-3">
            <label for="">Nombre:</label>
            <input type="text" name="name">
        </div>

        <div class="col-3">
            <label for="">Ocupación:</label>
            <input type="text" name="occupation" id="">
        </div>

        <div class="col-3">
            <label for="">Eslogan:</label>
            <input type="text" name="catchPhrase" id="">

        </div>

    </div>

        <button class="btn btn-dark submit" type="submit">Crear</button>

        </form>
</div>




