<div class="container">
    <div class="card">
        <h2>CREATE NEW CELEBRITY</h2>
        <form action="/celebrities" method='POST'>
            <input type="text" id='name' name='name' required="true" placeholder="name">
            <br>
            <input type="text" id='occupation' name='occupation' required="true" placeholder="occupation">
            <br>
            <input type="text" id='catchPhrase' name='catchPhrase' required="true" placeholder="catch phrase"></input>
            <br>
            <button type='submit' class='btn btn-add' '>ADD</button>
        </form>
    </div>
</div>