<h2>new celebrity</h2>

<form action="/celebrities" method="post">
    <!--goes back to celebrities for some reason ???-->

    <label>name</label>
    <input type="text" name="name">
    <br>

    <label>occupation</label>
    <input type="text" name="occupation">
    <br>

    <label>catch phrase</label>
    <textarea name="catchPhrase" cols="30" rows="10"></textarea>
    <br>

    <button type="submit">Save Person</button>

</form>