<h2>Add new celebrity</h2>

<form action="/celebrities/new" method="post">
  <input type="text" name="name" placeholder="name of celeb" />
  <br />
  <input type="text" name="occupation" placeholder="occupation" />
  <br />
  <input type="text" name="catchPhrase" placeholder="catchPhrase" />
  <a href="/celebrities/new"><button type="submit">Save celebrity</button></a>
</form>