<h2>You know more gamemasters? Add them to the collection!</h2>
<form action="/celebrities" method="POST">
 <label for="name-input">Known as:</label>
<input type="text" name="name" placeholder="name">
<label for="occupation-input">Busy at:</label>
<input type="text" name="occupation" placeholder="occupation">
<label for="phrase-input">Famous for:</label>
<input type="text" name="catchPhrase" placeholder="catchPhrase">
<button type="submit">Add to list</button>
</form>