<h2>Add a new celebrity</h2>


<form class="form-group form-edit" action="/celebrities/new" method="POST">

    <div class='form-group row'>
        <label class="col-2">Name: </label>
        <input class="col-2 form-control" type='text' name="name">
    </div>

    <div class='form-group row'>
        <label class="col-2">Ocupation: </label>
        <input class="col-2 form-control" type='text' name="ocupation">
    </div>

    <div class='form-group row'>
        <label class="col-2">Catch phrase: </label>
        <textarea class="col-5 form-control" type='text' name="catchPhrase"> </textarea>
    </div>

    <button  class="btn btn-add" type='submit' class='btn btn-info'>Add!</button>
    
</form>
