<h2>Add a new Celebrity</h2>

<form method="post" action="/celebrities">
  <div>
    <label for="celeb-name"> Celebrity Name: </label>
    <input type="text" name="name" value="">
  </div>

  <div>
    <label for="occupation"> Occupation: </label>
    <input type="text" name="occupation" value="">
  </div>

  <div>
    <label for="catch frase"> Catch Frase: </label>
    <input type="text" name="catchFrase" value="">
  </div>

  <input type="submit" name="Add this celebrity">
</form>
