<h2>New</h2>
<form action="/celebrities" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Ocupation:</label>
  <input type="text" name="ocupation">

  <label for="">Catchphrase:</label>
  <input type="text" name="catchPhrase">

  <button type="submit">Add a celebritie</button>
</form>