






<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <h2>Crear nueva celebrity</h2>
            <form action="/celebrities/new" method="post">

                <div class="form-group">
                    <label>Nombre</label>
                    <input name="name" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Ocupación</label>
                    <input name="ocupation" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Frase Habitual</label>
                    <input name="catchPhrase" type="text" class="form-control">
                </div>

                
                <button type="submit" class="btn btn-dark">Crear Celebrity</button>
            </form>
        </div>
    </div>
</div>