{% extends '../layout.twig' %}

{% block body %}
<h1>New Celebrity</h1>

<div class="container">
    <form action="/celebrities" method="POST">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
        <br>
        <label for="price">Occupation</label>
        <input type="text" class="form-control" name="occupation" id="occupation">
        <br>
        <label for="catchPhrase">Catch Phrase</label>
        <input type="text" class="form-control" name="catchPhrase" id="catchPhrase">
        <br>
        <button type="submit" class="btn btn-lg btn-primary">Create Celebrity</button>
    </form>
</div>
{% endblock %}