<form action="/celebrities/new" method="POST">
    <div class="form-row justify-content-center pt-3">
        <div class="form-group col-7 m-2">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control text-secondary">
        </div>
        <div class="form-group col-7 m-2">
            <label for="occupation">Occupation</label>
            <input name="occupation" type="text" class="form-control text-secondary">
        </div>
        <div class="form-group col-7 m-2">
            <label for="catchPhrase">catchPhrase</label>
            <input name="catchPhrase" type="text" class="form-control text-secondary">
        </div>
        <button class="btn btn-outline-primary mt-3 col-7" type="submit">Create</button>
    </div>
</form>