<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <h2>Añadir nueva celebrity</h2>

            <form method="POST" action="/celebrities/new">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Profesión</label>
                    <input type="text" class="form-control" name="ocupation">
                </div>
                <div class="form-group">
                    <label>Latiguillo</label>
                    <input type="text" class="form-control" name="catchPhrase">
                </div>
                
                <button type="submit" class="btn btn-dark">Crear nueva celebrity</button>
            </form>
        </div>
    </div>



</div>