<div class="container">
    <h2>{{celebsTitle}}</h2>
    <h3>Add a new Celebrity in our club!</h3>
    <form method="POST" action="/celebrities/new">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Occupation</label>
            <input type="text" class="form-control" name="occupation">
        </div>
        <div class="form-group">
            <label>Catch phrase</label>
            <input type="text" class="form-control" name="catchPhrase">
        </div>
        <button type="submit" class="btn-warning btn-lg">Let's join to the club!</button>

    </form>
</div>