<h1>NEW CELEBS</h1>

<form action="/celebrities/create" method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="">
<label for="image">Image</label>
<input type="text" name="image">
<label for="occupation">Occupation</label>
<input type="text" name="occupation" id="">
<label for="catchPhrase">Catch Phrase</label>
<input type="text" name="catchPhrase" id="">
<button>Add</button>
</form>