<section class="create-item container">

    <h2>Create</h2>

    <form action="/celebrities/new" method='post'>

        <div class="form-group">

            <label>Name</label>
            <input type="text" class="form-control" name="name" required>

        </div>

        <div class="form-group">

            <label>Occupation</label>
            <input type="text" class="form-control" name="occupation" required>

        </div>

        <div class="form-group">

            <label>Catch phrase</label>
            <input type="text" class="form-control" name="catchPhrase" required>

        </div>

        <button type="submit" class="btn btn-primary">Create</button>

        <a href="/celebrities" class="btn btn-red">Cancel</a>

    </form>

</section>