<h2>Add a new celebrity</h2>

<form action="/celebrities" method="post">
    <input type="text" placeholder="Name" name="name" />
    <input type="text" placeholder="Occupation" name="occupation" />
    <input type="text" placeholder="Catch Phrase" name="catchPhrase" />
    <button type="submit">SAVE CELEBRITY</button>
</form>