<h2>new celebrity</h2>

<form action="/celebrities/create" method="post">
    <!--form action sends the keys to the appointed area!!!-->

    <label>Name</label>
    <input type="text" name="name">
    <br>

    <label>Occupation</label>
    <input type="text" name="occupation">
    <br>

    <label>Catch Phrase</label>
    <textarea name="catchPhrase" cols="30" rows="10"></textarea>
    <br>

    <button type="submit">Save Person</button>

</form>