<h2> Search Products </h2>

<form mehod="get" action="/search">
  <label for="search-term-input">Search by Name </label>
  <input id="search-term-input" class="form-control" name="productSearchTerm">
  <br>

  <button> Search </button>
</form>

<a href="/products/expensive">Most expensive items </a>
<a href="/products/value">Most value items </a>
