<div class="container">
    <h2>{{celebsTitle}}</h2>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Occupation:</strong> {{occupation}}</p>
    <p>"{{catchPhrase}}"</p>
    <a class="btn btn-warning btn-sm" href="/celebrities">Go back</a>
</div>