<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Name: {{celebInfo.name}}</h2>
            <h2>Occupation: {{celebInfo.occupation}}</h2>
            <h2>Catch phrase: {{celebInfo.catchPhrase}}</h2>
            <hr>
            <a href="/celebrities/{{celebInfo.id}}/edit" class="btn btn-dark">Edit the information</a>
         </div>
    </div>
</div>