<!DOCTYPE html>
<html>
  <head>
    <title>Celebrity Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Celebrity Details</h1>

    <h2> <%= celebrity.name %> </h2>

    <p><%= celebrity.occupation %> </p>

    <p><%= celebrity.catchPhrase %></p>

    <a href="/celebrities/"> Got Back </a>

  </body>
</html>
