<section class="detailed-view container">

    <h2>Detailed view</h2>

    <ul>

        <li>Name: {{this.name}}</li>
        <hr>
        <li>Occupation: {{this.occupation}}</li>
        <hr>
        <li>Catch phrase: {{this.catchPhrase}}</li>

    </ul>

    <a href="/celebrities" class="btn btn-dark">See all</a>

</section>