<h2>Seguimos en la página de las celebridades</h2>

<h3> La celebridad de hoy se llama {{celebrity.name}}. Trabaja como {{celebrity.occupation}}. Su frase favorita es "{{celebrity.catchPhrase}}"</h3>
