{% extends '../layout.twig' %}

{% block body %}
<h2>View {{ celebrity.name }}</h2>
<b>Occupation:</b>
<span>{{ celebrity.occupation }}</span>
<br>
<b>Catch Phrase:</b>
<span>{{ celebrity.catchPhrase }}</span>

{% endblock %}