<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="col-5">

            <h2>{{title}}</h2>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">{{this.name}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{this.occupation}}</h5>
                    <p class="card-text">{{this.catchPhrase}}</p>
                </div>
            </div>

        </div>

    </div>


</div>