<h2 class="text-center text-secondary m-3 p-3">Details Page</h2>
<p class="text-center m-3 pt-3"> Name: {{name}}</p>
<p class="text-center m-3">Occupation: {{occupation}}</p>
<p class="text-center m-3">catchPhrase: {{catchPhrase}}</p>