<a href="/celebrities">Back to All Celebrities</a>

<h2>{{celebrityItem.name}}</h2>

<p>{{celebrityItem.occupation}}</p>

<p>{{celebrityItem.catchPhrases}}</p>

<a href="/celebrities/new">Add a new celebrity</a>