<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="display-1">{{name}}</h2>
            <hr>
            <h3 class="display-4">Occupation:</h3>
            <p class="text-secondary">{{occupation}}</p>
            <hr>
            <h3 class="display-4">His phrase:</h3>
            <p class="text-secondary">{{catchPhrase}}</p>
            <hr>
        </div>
    </div>
    
</div>
