<div class="container">

    <h2>{{name}}</h2>

    <hr>

    <p><strong>Occupation:</strong> {{occupation}}</p>
    <p><strong>CatchPhrase:</strong> {{catchPhrase}}</p>

    <hr>

    <a href="/celebrities" class="btn btn-dark">All celebrities</a>

</div>