<div class="container">
    <h2>Celebrity Detail</h2>
    <hr>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Occupation:</strong> {{occupation}}</p>
    <p><strong>Catchphrase:</strong> "{{catchPhrase}}"</p>
    <a href="/celebrities">Go back</a>
</div>
