<div class="container">
    <div class="card">
        <h1>{{celebrity.name}}</h1>
        <h3><strong>OCCUPATION: {{celebrity.occupation}}</strong></h3>
        <h3><strong>CATCH PHRASE: {{celebrity.catchPhrase}}</strong></h3>
    </div>
</div>