<h2 class="m-5">Celebrity Details</h2>

<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{celebrity.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{celebrity.occupation}}</h6>
    <p class="card-text">{{celebrity.catchPhrase}}</p>
    <a href="/celebrities" class="card-link">Go back</a>
  </div>
</div>
