<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Celebrity Info</h2>
  <ul>
    <li>Name: <%=celeb.name%></li>
    <li>occupation: <%=celeb.occupation%></li>
    <li>catch phrase: <%=celeb.catchPhrase%></li>
  </ul>
</body>
</html>
