<h2>Celebrity Details</h2>

<div>

    <h3>{{celebrity.name}}</h3>

    <p>Occupation: {{celebrity.occupation}}</p>

    <p>Catch Phrase: "{{celebrity.catchPhrase}}"</p>

</div>

<a href="/celebrities/{{celebrity.id}}/edit">Edit Celebrity</a>
<br><br>
<a href="/">Home</a>
<br><br>
<a href="/celebrities">Back</a>