<h2>{{this.name}}</h2>
<p><strong>Occupation:</strong> {{this.occupation}}</p>
<p><strong>Catch Phrase:</strong> <i>"{{this.catchPhrase}}"</i></p>

<a class="btn btn-outline-secondary" href="/celebrities">Go back</a>