<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Celebrity List</title>
  </head>
  <body>

    <h2>Celebrity Details</h2>

    <h3><%=celebrity.name%></h3>
    <p><%=celebrity.occupation</p>
    <p><%=celebrity.catchPhrase</p>


  </body>
</html>
