<div class="container">

    <h2>Celebrities Web Page</h2>

    <br>

    <ul>

        <h3>{{this.name}}</h3>
        <h5>{{this.occupation}}</h5>
        <p>{{this.catchPhrase}}</p>


        <br>

    </ul>

</div>