<h2>Update the celebrity</h2>
<form action="/celebrities/{{oneCeleb._id}}/edit" method="post">
  <input type="text" name="name" placeholder="Celebrity Name" value="{{oneCeleb.name}}"/>
  <input type="text" name="occupation" placeholder="Occupation" id="" value="{{oneCeleb.occupation}}"/>
  <input type="text" name="catchPhrase" placeholder="Catch Phrase" id="" value="{{oneCeleb.catchPhrase}}"/>
  {{! <input type="number" name="rating" placeholder="rating" id=""> }}
  <button type="submit">SAVE</button>
</form>

<navbar class="navbar">
    <ul>
      <li><a href="http://localhost:3000/celebrities">Go Back</a></li>
    </ul>
  </navbar>