<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li>
      Name: <%= celebrity.name %> <a href="celebrities/<%= celebrity._id %>">Show Details</a>
    </li>
  <%  }) %>
</ul>

<a href="/celebrities/new">Add new celebrity</a>