<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li>
      Name: <%= celebrity.name %>,
      Occupation: <%= celebrity.occupation %>,
      Phrase: <%= celebrity.catchPhrase %>
    </li>
  <%  }) %>
</ul>
<!-- <a href="/drones/new">Add new drone</a> -->