<form action="/celebrities" method="post">
  <label for="name">Celebrity name:</label>
  <input type="text" name="name" id="name">
  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation" id="occupation">
  <label for="phrase">Catch phrase:</label>
  <input type="text" name="phrase" id="phrase">
  <input type="submit" value="Add Celebrity">
</form>