<h2>Info for Movies</h2>
<br>
<ul>
  <li><strong>Name:</strong> <%= movie.title %></li>
  <li><strong>Genre:</strong> <%= movie.genre %></li>
  <li><strong>Summary of Story:</strong> <%= movie.plot %></li>
</ul>
