<!DOCTYPE html>
<html>
  <head>
    <title>Movies database</title>
    <nav>
      <a href="/">Main</a>
      <a href="/celebrities">Celebrities</a>
      <a href="/celebrities/new">Add a new celebrity</a>
      <a href="/movies">Movies</a>
      <a href="/movies/new">Add a new movie</a>
    </nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body -%>
  </body>
</html>