<h2>My Movies</h2>


<ul>
    <% docs.forEach((mov) =>{ %>
        <li>
            <a href=<%="/movies/"+mov.id%>>Name: <%=mov.name%></a>
            <form action=<%="/movies/"+mov.id+"/delete"%> method="POST">
            
                <button type="submit">Delete</button>
        
                </form>
        </li>

   
    <% }) %>
</ul>


<a href="/movies/new">Add a new Movie</a>