<h2>Add a new Movie</h2>

    <form action="/movies" method="POST">
        <input id="name" name="name" type="text" placeholder="Name">
    
        <input id="genre" name="genre" type="text" placeholder="Genre">
    
        <input id="plot" name="plot" type="text" placeholder="Plot">
    
        <button type="submit">Submit</button>

        </form>