<!DOCTYPE html>
<html>
  <head>
    <title>Celebs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Celebrities and Movies</h1>
    <p>Welcome to find celebrities and movies</p>
  </body>
</html>

<a href = "/movie" > List of movies </a>
<a href = "/celeb" > List of celebs </a>
