<!DOCTYPE html>
<html>
  <head>
    <title>Celebs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Celebrities</h1>
    <p>Welcome to find celebrities</p>
  </body>
</html>
