<h1>Celebrities or movies?</h1>


<a href="/celebrities" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">See celebrities</a>
<a href="/movies" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See movies</a>

