<h2>Celebrity Hot List</h2>
<% celebrity.forEach((celeb)=>{%>
  <li><a href="/celebrities/<%=celeb._id%>"><%= celeb.name %></a></li>
  <form action="/celebrities/<%= celeb._id %>/delete" method="POST">
        <button type="submit">Delete</button>
  </form>
  <form action="/celebrities/<%=celeb._id%>/edit" method="get">
        <button type="submit">Edit</button>
  </form>
<%})%>
<a href="/celebrities/new"><button type="Submit">Add a Celebrity</button></a>
