<h2>Add new celebrity to the Hot List</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="Celeb's name">
  <input type="text" name="occupation" placeholder="Celeb's occupation">
  <input type="text" name="catchPhrase" placeholder="Celeb's catch-phrase">
  <button type="submit">Add Celeb</button>

</form>
