<form action="/movies/{{movieToBeEdited._id}}" method="POST">

    <input type="text" name="name" value="{{movieToBeEdited.name}}" placeholder="name" required>
    <input type="text" name="genre" value="{{movieToBeEdited.genre}}" placeholder="genre" required>
    <input type="text" name="plot" value="{{movieToBeEdited.plot}}" placeholder="plot" required>

    <button>Push me ( ＾◡＾)っ</button>

</form>