<h2>List of celebrities</h2>

<a href="/celebrities/new">Add new celebrity</a>

<ul>
  <%celebrityList.forEach((oneCelebrity)=>{%>
    <li>
      <h1><%=oneCelebrity.name%></h1>
      <!-- <p><%=oneCelebrity.occupation%></p>
      <p><%=oneCelebrity.catchPhrase%></p> -->
      <a href="/celebrities/<%=oneCelebrity._id%>">View Details</a>
      <br>
    </li>
  <%})%>
</ul>
