<h2>Add a new celebrity!</h2>

<form action="index.html" method="post">
  <label for="celebrity-name">Celebrity Name:</label>
  <input id:"celebrity-name" type="text" name="celebrityName" placeholder="e.g. Tom Cruise">
  <br>
  <label for="celebrity-occupation">Celebrity Occupation (i.e. singer, actor, etc.):</label>
  <input id:"celebrity-occupation" type="text" name="celebrityOccupation">
  <br>
  <label for="celebrity-catch-phrase">Celebrity Catch Phrase</label>
  <input id:"celebrity-catch-phrase" type="text" name="celebrityCatchPhrase">
  <br>
  <button>Submit New Celebrity</button>

</form>
