<form action="/celebrities" method="post">
  <input type="text" name="title" value="Title">
  <input type="text" name="genre" value="Genre">
  <input type="text" name="plot" value="Plot">
  <p></p>
  <p><button type="submit" class="btn btn-primary">Create Actor</button></p>

</form>
