<h2> Add a Celebrity </h2>

<div class="row addForm">

<form action="/celebrities/create" method="post">

  <div class="row nameRow">
  <label>Name</label>
  <input type="text" name="theName">
  </div>

  <div class="row occupationRow">
  <label>Occupation</label>
  <input type="text" name="theOccupation">
  </div>

  <div class="row phraseRow">
  <label>Catch Phrase</label>
  <input type="text" name="thePhrase">
  </div>

  <div class="row addButton">
  <input type="submit" value="Add Celebrity">
  </div>

</form>

</div>

<div class="backButton">
  <form action="/celebrities">
    <input type="submit" value="<   Return to full list" />
  </form>
</div>