<h2>Make an entry for a celebrity</h2>

<h2>Form for enter a new celebrity</h2>

<a href="/celebrities">Go back</a>

<form action="/celebrities/add-celebrity" method="POST">
    <label for="name-input">Name: </label>
    <input type="text" name="name" id="name-input" placeholder="Name of new celebrity"/>
    <label for="occupation-input">Occupation: </label>
    <input type="text" name="occupation" id="occupation-input" placeholder="Occupation"/>
    <label for="catchPhrase-input">Quote: </label>
    <input type="text" name="catchPhrase" id="catchPhrase-input" placeholder="A Quote"/>

    <button type="submit">Add celebrity</button>
</form> 