<h2>Add your own Celebrity!</h2>
<form action="/celebrities" method="POST">

<label for="celebname">Name: </label>
<input id="celebname" type="text" name="name">

<label for="celeboccupation">Occupation: </label>
<input id="celeboccupation" type="text" name="occupation">

<label for="celebphrase">Catch phrase: </label>
<input id="celebphrase" type="text" name="catchPhrase">

<button type="submit">Add celebrity</button>

</form>