<h1>Register a new Celeb!</h1>

<form action="/celebrities" method="post" style="display:flex; flex-direction:column; width: 250px;">
  <label for="name">Name</label>
  <input type="text" name="name">
  <br>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation">
  <br>
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase">
  <br>
  <input type="submit" value="Add Celebrity">
</form>
<br>
<a href="/celebrities">Go back</a>