<form action='/cel/add' method='POST'>

  <label for=''>Name</label>
  <input type='text' name='name'>

  <label for=''>Occupation</label>
  <input type='text' name='occupation'>

  <label for=''>Catchphrase</label>
  <input type='text' name='catchPhrase'>

  <button type='submit'>Submit</button>
</form>