<div class="title">
  <h2>Create your own Sleb!</h2>
</div>

<form action="/newCeleb" method="post">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>
  <label for="occupation-input">Occupation</label>
  <input type="text" name="occupation" id="occupation-input">
  <br>
  <label for="catchPhrase-input">Catchphrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase-input">
  <br>
  <input type="submit" value="submit">
</form>