<h2>Add Celeb</h2>

<form action="/celebritiesPOST" method="POST">
    <fieldset>
        <label>
            <input type="text" name="name" placeholder="Star name" value="someone">
        </label>
    </fieldset>



    <fieldset>
        <label>
            <select name="occupation">
                <option value="actor">Actor</option>
                <option value="comedian">Comedian</option>
                <option value="singer">Singer</option>
            </select>
        </label>
    </fieldset>

    <fieldset>
        <label>
            <input type="text" name="catchPhrase" placeholder="Something she/he say" value="something">
        </label>
    </fieldset>


    <button>Add</button>
</form>