<h1>Add new Celebrity</h1>

<form action="/celebrities/add" method="post">
    <label for="">Name:</label>
    <input type="text" name="name"><br>

    <label for="">Occupation:</label>
    <input type="text" name="occupation"><br>

    <label for="">Catchphrase:</label>
    <input type="text" name="catchPhrase"><br>

    <button type="submit">Add new Celebrity</button>
</form>

<a href="/celebrities/list">Cancelar y volver a la lista</a>