<form action="/celebrities/add" method="post">
  <div class="form-container">
    <input type="text" name="name" placeholder="Celebrity's name">
    <input type="text" name="occupation" placeholder="Celebrity's occupation">
    <input type="text" name="catchPhrase" placeholder="Celebrity's quote">
    <button>Save Celebrity</button>
  </div>
</form>