<form action="/celebrities/write" method="POST">
  <label for="name">Name:</label> 
  <input type="text" id="name" name="name"><br><br>
 
  <label for="occupation">Occupation:</label>
  <input type="text" id="occupation" name="occupation"><br><br>
  
  <label for="catchPhrase">Catch Phrase:</label> 
  <input type="text" id="catchPhrase" name="catchPhrase"><br><br>
 
  <button type="submit">ADD</button>  
</form>



  
  
