<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" href="/index">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/celebrities">All Celebritites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/celebrities/add">Add Celebrity</a>
    </li>
</ul>



<h2>Add Celeb</h2>

<form action="/celebritiesPOST" method="POST">
    <div class="form-group">
        <label for="exampleFormControlInput1">Star Name</label>
        <input type="text" name='name' class="form-control" placeholder="someone" value="someone">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Occupation</label>
        <select name='occupation' class="form-control">
            <option value="actor">Actor</option>
            <option value="comedian">Comedian</option>
            <option value="singer">Singer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Phrase</label>
        <input type="text" name='catchPhrase' class="form-control" placeholder="someone" value="something">
    </div>
    <button class="btn btn-success">Add</button>
</form>