<h1>Create Celebrity</h1>

<form method="POST" action="/celebrities" class="form" >

<label class="label" for="name">Celebrity Name</label>
<input class="input" type="text" id="name" name="name" value="test name" >

<label class="label" for="occupation">Occupation</label>
<input class="input" type="text" id="occupation" name="occupation" value="jack of all trades" >

<label class="label" for="catchPhrase">Catch Phrase</label>
<input class="input" type="text" id="catchPhrase" name="catchPhrase" value="wolololooo" >

<div class="button-box">
<button class="btn">Create!</button>
</div>
</form>