<h2>Add a celebrity</h2>

<form action="/process-celeb" method="POST">
  <label>Name :<input type="text" name="name" placeholder:"name..." required /></label>
  <label>Occupation :<input type="text" name="occupation" placeholder:"job..." required /></label>
  <label>Catchphrase :<input type="text" name="catchPhrase" placeholder:"hey..." required /></label>





  <button>Submit</button>

</form>