<h1>Add new Celeb</h1>
<p>It's Magic</p>

<div id="main-celeb-div">


        <div class="new-celeb-form">

            <div>
                <label>Name</label>
                <input id="name" type="text">
            </div>

            <div>
                <label>Occupation</label>
                <input id="occupation" type="text">
            </div>

            <div>
                <label>Catchphrase</label>
                <input id="catchPhrase" type="text">
            </div>


            <button id="new-celeb-button">Submit new celeb</button>

{{!-- basically everything above this is the same as before, I just changed it to match nicks so 
that I dont get as confused. What is below this is actually where all the magic is happening and everything
being rendered.  --}}

        </div>


        <div>

            <ul id="celeb-list">

            </ul>


        </div>

</div>


