<h1>Celebrity List</h1>

<div class="container">
  <h1>Celebrities Names</h1>
  <ul>
    <div class="row">
      <div class="col">
        {{#each celebrity}}
        <li>
          <a class="btn btn-outline-info" href="/celebrities/details/{{_id}}">{{name}}</a> <a
            class="btn btn-outline-success" href="/celebrities/edit?id={{_id}}">Edit</a>
          <form action="/celebrities/{{_id}}/delete" method="POST">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
          </form>

        </li>
        {{/each}}
      </div>
    </div>
  </ul>
  <a href="/celebrities/add" class="btn-secondary btn-md active">New Celebrity</a>
  <a href="/" class="btn-secondary btn-lg active">Go Home</a>
</div>