<p>Hello</p>



{{!-- <div class="movies-header">
  <h2>Ironhack Cinema</h2>
  <p>Click on the movie to check the showtimes!</p>
</div>

<div class="movies-container">
  <div class="row">
    {{#each movies}}

    {{> moviePartial this}}

    {{/each}}
  </div>
</div> --}}