<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h4>Lista de celebridades:</h4>
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <ul class="list-unstyled">
        {{#each celebrities}}
        <li>
          <a href="/celebrities/celebritie-details/{{_id}}">{{name}}</a> -
          [<a href="/celebrities/delete?id={{_id}}">Borrar</a>]
          [<a href="/celebrities/edit?id={{_id}}">Editar</a>]
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>