<h2 class="title">Celebrity Details</h2>
<div class="details-container">
    <h3>Name: {{celebrity.name}}</h3>
    <h4>Occupation: {{celebrity.occupation}}</h4>
    <p>Catch Phrase: {{celebrity.catchPhrase}}</p>
</div>