<div class="container mt-5">

  <h2 class="mb-4">Celebrities</h2>
  <ul>
    {{#each allCelebrities}}
    <li>{{name}}</li><a href='/celebrities/details/{{_id}}'>Detalles >></a>
    {{/each}}
  </ul>

</div>