<div>
    <a href="/">Index</a>
    <a href="./new">New Celebrity</a>
    <h1>Celebrities</h1>
    <div>
        {{#each celebs}}
            <h2>{{name}}</h2>
            <h3>{{occupation}}</h3>
            <p>{{catchPhrase}}</p>
        {{/each}}
    </div>
</div>