<h> Celebrities </h>

<h2> {{#each showAllCelebs}}
      <ul>
        <li><a href="/celebRoutes/details/{{this.id}}" >{{this.name}}</a></li>
        </ul>
        {{!-- action must be the same as post route - copy and paste works best --}}
        <button class ="editCeleb"><a href ="/celebRoutes/edit/{{this.id}}" >Click to edit </a></button>
        
        <button class="deleteCeleb"><a href ="/celebRoutes/delete/{{this.id}}" method="POST"> Click to delete </a></button>

        
      {{/each}}
</h2>

<a class="newCeleb" href = "/celebRoutes/new" >Click here to add a new celebrity! </a>

