<h2>List of our celebrities</h2>

<a href="/celebrities/celebrity-new">Add new celebrity</a>

{{#each celebrityArray}}
<ul>
  <li>Name: {{this.name}}</li>

  <a href="/celebrities/{{this._id}}">Details</a>

  </button><a href="/celebrities/{{this._id}}/edit">Edit</a></button>
  </button><a href="/celebrities/{{this._id}}/delete">Delete</a></button>
  </form>
</ul>
{{/each}}