<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h4>Detalles sobre {{name}}</h4>
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <p>Nombre: {{name}}</p>
      <p>Profesión: {{occupation}}</p>
      <p>Frase célebre: <em>"{{catchPhrase}}"</em></p>
    </div>
  </div>
</div>