<h2> Edit Celebrity </h2>

<form action="/celebrities/<%= celebritiesInfo._id %>" method="post">

  <label for="celebrity-name-input"> Celebrity Name </label>
  <input id="celebrity-name-input" name="celebrityName" type="text" value="<%= celebritiesInfo.name%>">
  <br>

  <label for="celebrity-occupation-input"> Celebrity Occupation </label>
  <input id="celebrity-occupation-input" name="celebrityOccupation" type="text" value="<%= celebritiesInfo.occupation%>">
  <br>

  <label for="celebrity-catch-input"> Catch Phrase </label>
  <input id="celebrity-catch-input" name="celebrityCatchPhrase" type="text" value="<%= celebritiesInfo.catchPhrase%>">
  <br>

    <button> Save </button>

</form>
