<div class="container">

  <h2>Celebrities Details</h2>

  <ul>

    {{#with celebrity}}
    <li>{{name}}</li>
    <li>The occupation is: {{occupation}}</li>
    <li>The cath phrase is: {{catchPhrase}}</li>

    </li> {{/with}}
  </ul>
  (<a href="/">Back to index</a>)
  (<a href="/celebrities">Back to List</a>)
</div>