<div class="celebrities-list">

<h3>Detalles de la celebridad</h3>

<hr>


<article>
    <h3>{{name}}</h3>
    <p>Ocupación: {{occupation}}</p>
    <p>Frase: {{catchPhrase}}</p>
    <a href="/celebrities" class="btn btn-sm btn-dark">Volver</a>
    <a href="/celebrities/edit/{{_id}}" class="btn btn-sm btn-dark">Editar celebridad</a>
</article>
<hr>



</div>