<div class="container">
   
    <h1>Details of {{name}}</h1>
   
    <hr>

    <div class="row">
   
        <div class="col-md-6">
   
            <p>Occupation: {{occupation}}</p>
   
        </div>
   
        <div class="col-md-6">
   
            <p>Catchphrase: {{catchPhrase}}</p>
   
        </div>

    </div>

</div>