{{!-- <form action="/celebrities/create" method="post">
  <label for="">Author First Name</label>
  <input type="text" name="firstName" id="">
  <label for="">Author Last Name</label>
  <input type="text" name="lastName" id="">
  <label for="">Author's Nationality</label>
  <input type="text" name="nationality" id="">
  <label for="">Author's Birthdate</label>
  <input type="date" name="birthdate" id="">
  <label for="">Author's Image</label>
  <input type="text" name="image_url" id="">
  <button type="submit">Add New Celebrity</button>
</form> --}}
<h5>create celebrity</h5>