<h2>Add a celebrity</h2>

<form action="/celebrities/new" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="occupation-input">Occupation:</label>
  <input type="text" name="occupation" id="occupation-input" />

  <label for="catchPhrase-input">Catch Phrase:</label>
  <input type="text" name="catchPhrase" id="catchPhrase-input" />

  <button type="submit">Add</button>

</form>