<h1>More info</h1>

<h2>{{this.name}}</h2>

<h3>{{this.occupation}}</h3>

<h3>{{this.catchPhrase}}</h3>

<form action="/celebrities/{{this._id}}/delete" method="POST">
  <button>delete</button>
</form>