<h1>The Celebrity</h1>

<p>Name: {{celebrity.name}}</p>
<p>Ocupacion: {{celebrity.occupation}}</p>
<p>Frase: {{celebrity.catchPhrase}}</p>

<a href="/celebrities">Cancelar y volver a la lista de celebridades</a>