<h1>List of Celebrities</h1>




{{#each celebrities}}
<div id="celeb-box">
<h2 id="celeb-name">{{this.name}}</h2>
<a href="/celebrities/{{this._id}}"><button>See Details</button></a>
</div>

{{/each}}
<br><br>

<a href="/celebrities/new"><button>Add a celebrity</button></a>