<div class="container">

  <h2>Nuestras Celebrities</h2>

  <ul>

    {{#each celebrities}}
     <li>{{this.name}} (<a href="/celebrities/details/{{this._id}}">Ver detalles</a> | <a
        href="/celebrities/edit?celebrityId={{this._id}}">Editar</a> | <a href="/celebrities/delete?celebrityId={{this._id}}">Eliminar</a>)
    </li>
    {{/each}}

  </ul>

</div>