<h2>Celebrities</h2>


{{#each myCelebrities}}
<div id="all-celeb">
<p class="title">I'm </p><p class="info">{{this.name}}</p>
<p class="title">What I do </p><p class="info">{{this.occupation}}</p>
<p class="title">My catchphrase</p><p class="info">{{this.catchPhrase}}</p>
</div>
{{/each}}