<h2>Celebrity Details</h2>
<span>Name: {{name}}</span>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<a href="/celebrities/list" class="btn-secondary btn-md active">Celebrity List</a>