<h1>{{celebrities.name}}</h1>
<span><strong>Occupation:</strong> {{celebrities.occupation}}</span>
<p><strong>Catch Phrase:</strong> <em>{{celebrities.catchPhrase}}</em></p>

<a href="/celebrities/index">Return</a>