
<div class="container">
<h2>Estas son nuestras celebrities</h2>

 
    
    {{#each allCelebrities}} 
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <a href="celebrities/show/{{_id}}" class="btn btn-primary">Conoce a nuestra estrella</a>
          <a href="/celebrities/edit/{{_id}}" class="btn btn-warning">Editar</a>
          <a href="/celebrities/delete?celebrities_id={{_id}}" class="btn btn-danger">Eliminar Ficha</a>
        </div>
      </div>
    </div>
    {{/each}}
    
<a href="/celebrities/new" class="btn btn-info">Crea una nueva ficha</a>
<a href="/" class="btn btn-info">Volver a la página principal</a>
