<h2>{{celebrity.name}}</h2>
<ul>
  <li><strong>Occupation: </strong>{{celebrity.occupation}}.</li>
  <li><strong>Catchphrase: </strong><em>{{celebrity.catchPrase}}.</em></li>
</ul>

<a href="/celebrities/{{celebrity._id}}/edit">Edit celebrity</a>