<main>
    <h2>Celebrities List</h2>
    <a href="/">Home</a>
    <a href="/celebrities/new">Add a new Celebrity</a>

    {{#each celebrities}}
        <div>
            <a href="/celebrities/{{this._id}}">
                <h3>{{this.name}}</h3>
            </a>
            <a href="/celebrities/{{this._id}}/edit">Editar</a>

            <form action="/celebrities/{{this._id}}/delete" method="post">
                <button type="submit">Excluir Celebridade</button>
            </form>
        </div>
    {{/each}}
</main>