<h1>details</h1>



<p>{{name}}</p>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>
<a href="/celebrities">ATRAS!!!!</a>

<form action="/celebrities/celeb-details/{{_id}}" method="post">
    <button type="submit">borrar celebrity</button>
</form>

