<h2>Datos del Famoso</h2>
<span>Nombre: {{name}}</span>
<p>Ocupacion: {{occupation}}</p>
<p>Frase celebre: {{catchPhrase}}</p>
<a href="/celebrities/list" class="btn-secondary btn-lg active">Lista de famosos</a>