<p><a href="/">Home</a> | <a href="/celebrities">All celebs</a> | <a href="/celebrities/new">Add new celeb</a></p>
<br>
<h3>{{name}}</h3>
<p><b>Occupation: </b>{{occupation}}</p>
<p><b>Catch phrase: </b><i>"{{catchPhrase}}"</i></p>