<h1>Nuevo Famoso</h1>

<form action="/celebrities/add" method="post">
    <label for="">Nombre:</label>
    <input type="text" name="name">

    <label for="">Ocupacion:</label>
    <input type="text" name="occupation">

    <label for="">Frase celebre:</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Crear</button>
</form>