<h2>Add your celebrity</h2>

<form action="/process-celebrity" method="POST">
  <label>
    Name:
    <input type="text" name="name" placeholder="Tom Cruise" required />
  </label>

  <label>Occupation
    <input type="text" name="occupation" placeholder="Actor" />
  </label>

  <label>Catch Phrase
    <input type="text" name="catchPhrase" placeholder="Love Me" />
  </label>

  <button>Submit</button>
</form>