<h2>Create a celebrity</h2>

<form method="POST" action="/createceleb" >
<input name="name">Name</input>
<input name="occupation">Occupation</input>
<input name="catchPhrase">catchPhrase</input>
<button>Submit</button>
</form>

