<div class="title-bar">
<h1>Create: New Celebrity Listing</h1>
<a href="/celebrities/">
<button type="button" class="btn btn-info">See All Celebrities</button>
</a>
</div>
<hr>
<br>

<form action="/celebrities/create" method="POST">
<div class = "row">
<div class="item">
<label for=""><strong>Name: </strong></label>
<input type="text" name="name">
</div>

<div class="item">
<label for=""><strong>Occupation: </strong></label>
<input type="text" name="occupation">
</div>

<div class="item">
<label for=""><strong>Catch Phrase: </strong></label>
<input type="text" name="catchphrase">
</div>

<button class= "btn btn-dark">Submit</button>

</div>
</form>
