<H2>NEW CELEBRITY</H2>
  <form action="/celebrities/create" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control " id="name" placeholder="Enter name" value="">
  
    </div>

    <div class="form-group">
      <label for="name">occupation</label>
      <input name="occupation" type="text" class="form-control " id="occupation" placeholder="Enter occupation" value="">
  
    </div>

      <div class="form-group">
      <label for="name">catchPhrase</label>
      <input name="catchPhrase" type="text" class="form-control " id="catchPhrase" placeholder="Enter catchPhrase" value="">
  
    </div>

    <button type="submit" class="btn btn-primary">Create Celebrity</button>
  </form>

