<h2>Add a new celebrity</h2>

<form action="/celebrities/" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="catchphrase">
  <input type="number" name="rating" min="1" max="10" placeholder="rating">
  <input type="submit" value="Add celebrity">
</form>

<a href="/celebrities/">Go back</a>