<form method="post" action="/create-new-celebrity">
  {{#if msg}}
  <p>{{msg}}</p>
  {{/if}}
  <label for="">name</label>
  <input type="text" name="name">
  <label for="">occupation</label>
  <input type="text" name="occupation">
  <label for="">catch phrase</label>
  <input type="text" name="catchPhrase">
  <button>ok</button>
</form>