<h2>Create new Celeb</h2>

<form action="/celebrities/create-new" method="POST" >
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Occupation:</label>
    <input type="text" name="occupation">

        <label for="">Catch phrase:</label>
    <input type="text" name="catchPhrase">

    <button type="submit"> Create New </button>
</form>