<div>
  <p>Are you sure you want to delete {{name}}?</p>
  <p>{{name}}: 'I dont want to leave Mr. Stark...'</p>
  <form action="/celebrities/{{_id}}/delete" method="POST">
    <button type="submit">Bye</button>
  </form>
</div>