<div class="container">

  <h1>Delete the celebrity {{name}}</h1>

  <div class="row justify-content-center">

    <div class="col-md-8">
      <form action="/celebrities/delete?celebrityId={{_id}}" method="POST">

        <button type=" submit" class="btn btn-dark">Delete</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
      (<a href="/">Back to index</a>)
    </div>
  </div>
</div>