<h2 class="listName">{{celebrity.name}}</h2>
<div class="list">{{celebrity.occupation}}</div>
<div class="list">{{celebrity.catchPhrase}}</div>
<div class="btn-list">
    <a href="/celebrities" class="btn-back left">Back to list</a>
</div>

