<h1>ACTOR DETAILS</h1>

<p>Name:</p>
<h2>{{theCelebrity.name}}</h2>

<p>Occupation:</p>
<h2>{{theCelebrity.occupation}}</h2>


<p>Catchphrase:</p>
<h3>{{theCelebrity.catchPhrase}}</h3>


<img style="width:400px" src="{{theBook.image}}" alt="sorry no image for this actor" >