<h2>{{celebrity.name}} Details</h2>
<a class="btn btn-secondary mb-3" href="/celebrities">Go Back</a>
<div class="card mb-3">
  <img class="card-img-top" src="https://images.clarin.com/2017/03/02/rJMv8eLcg_930x525.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Occupation: {{celebrity.occupation}}</h5>
    <p class="card-text">{{celebrity.catchPhrase}}</p>
  </div>
</div>