<h1>All You Want to Know and More!</h1>

<h4>{{this.name}}</h4>

<h3>{{this.occupation}}</h3>

<h2>Famous Quote: {{this.catchPhrase}}</h2>

<a href="/celebrities">Back to List</a>

<br><br><br>

<a href="/">Back to Intro</a>