
<h1><%= celebrities.name %></h1>

<h3>Occupation: <span><%= celebrities.occupation %></span></h3>
<p>Cacthphrase: "<%= celebrities.catchPhrase %>" </p>


</br>
</br>
</br>
</br>

<a href="/">GO HOME</a>
