<h2> {{showDetails.name}}'s' Detail Page </h2>

<br>

<ul>

  <li>Name: {{showDetails.name}}</li>

  <li>Occupation:{{showDetails.occupation}}</li>

  <li>Catch Phrase:{{showDetails.catchPhrase}}</li>
</ul>