<h2>Celebrity detailed info</h2>
{{#if yay}}

<body onload="M.toast({html: '{{yay}}'})">

</body>
{{/if}}
<h4>Name: {{oneCeleb.name}} </h4>
<p>Occupation: {{oneCeleb.occupation}}</p>
<p>Catch Phrase: {{oneCeleb.catchPhrase}}</p>

<a href="/celebrities/index" class="btn waves-effect waves-light ">Go back
  <i class="material-icons left">arrow_back</i>
</a>