<h1>Celebrity Details</h1>

    <h2>{{result.name}}</h2>
    <p>occupation: {{result.occupation}}</p>
    <p>catchphrase: {{result.catchphrase}}</p>

    <a href="/celebs/{{result._id}}/edit">edit</a>
