<h2>{{name}}</h2>
<p> <span style="font-weight: bold;"> Occupation:</span>
  </span> {{occupation}}</p>
<p> <span style="font-weight: bold;"> Catch Phrase:</span>
  </span> {{catchPhrase}}</p>
<a href="/celebrities">Go Back</a>