<h1>Celebrity Details</h1>
<div class="center">
    <h2 class="link">{{result.name}}</h2>
    <p>occupation: {{result.occupation}}</p>
    <p>catchphrase: {{result.catchphrase}}</p>

   

    <a class="link" href="/celebs/{{result._id}}/edit">edit</a>
</div>