<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{selectedCeleb.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{selectedCeleb.ocupation}}</h6>
      <p class="card-text">{{selectedCeleb.catchPhrase}}</p>
      <a href="/celebrities" type="button" class="btn btn-secondary">Volver</a>
    </div>
  </div>
</div>