
<div id="big">


        <div class="new-celeb-form">

            <div>
                <label>Name of Celeb</label>
                <input id="name" type="text">
            </div>

            <div>
                <label>Celeb's Occupation</label>
                <input id="occupation" type="text">
            </div>

            <div>
                <label>What is this Celeb's catch phrase</label>
                <input id="catchPhrase" type="text">
            </div>


            <button class="waves-effect waves-light btn-small" id="new-celeb-button">Submit new celeb</button>



        </div>


        <div>

            <ul id="celeb-list">

            </ul>

           
        </div>

</div>
<script src="/javascripts/celebscript.js"></script>
