<h2>Edit a celebrity</h2>

<form action="/celebrities/index" method="POST">
    <label for="celebrity-name">Name:</label>
    <input type="text" name="name" >

    <label for="celebrity-occupation">Occupation:</label>
    <input type="text" name="occupation" >

    <label for="celebrity-catch-phrase">Catch Phrase:</label>
    <input type="text" name="catchPhrase"  >

    <button type="submit">Edit</button>
</form>