<h2>Update your celebrity</h2>
<form method="POST" action="/celebrities/{{_id}}" class="form">
    <label for="name" class="label">Name:</label>
    <input type="text" name="name" id="name" value="{{name}}">
    <label for="occupation" class="label">Occupation:</label>
    <input type="text" name="occupation" id="occupation" value="{{occupation}}">
    <label for="catchPhrase" class="label">Catch Phrase:</label>
    <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
    <button class="btn">Update</button>
</form>