<h2>Eddit {{celebrity.name}}</h2>
<form action="/celebrities/{{celebrity._id}}" method="post">
<input type="text" placeholder="name" name="name">
<input type="text" placeholder="occupation" name="occupation">
<input type="text" placeholder="catchPhrase" name="catchPhrase">
<input type="submit" value="Eddit this celebrity">
</form>
<p><a href="/celebrities">Celebrities</a></p>