<h2>Update the data</h2>
<form action="/celebrities/{{celebrity._id}}" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="celebrity-name" placeholder="name" value="{{celebrity.name}}">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" id="celebrity-occupation" value="{{celebrity.occupation}}">
    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" id="celebrity-catchPhrase" value="{{celebrity.catchPhrase}}">
    <button class="btn" type="submit">Submit</button>
</form>