<h2>Update a celebrity</h2>
<form method="post" action="/celebrities/{{celebrity._id}}">
  <label for="update-celebrity">Name</label>
  <input type="text" name="name" value="{{celebrity.name}}">
  <label for="update-celebrity">Occupation</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}">
  <label for="update-celebrity">CatchPhrase</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
  <button>Update</button>
</form>