<h2>
<form action="/celebrities/{{celebrity.id}}" method="POST">
  <label for="">Name:</label>
  <input type="text" name="title" value="{{celebrity.name}}"/>

  <label for="">Occupation:</label>
  <input type="text" name="author" value="{{celebrity.occupation}}"/>

  <label for="">Catch Phrase:</label>
  <input type="text" name="description" value="{{celebrity.catchPhrase}}"/>

  <button type="submit">EDIT</button>
</form>
</h2>