<h2>EDIT THE CELEBRITIES</h2>

<form action="/celebrities/edit?id={{celebrity.id}}" method="POST">
  <input type="text" name="name" value="{{celebrity.name}}">
  <input type="text" name="occupation" value="{{celebrity.occupation}}">
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
  <button type="submit">SUBMIT</button>
</form>