<h2>EDIT CELEBRITY</h2>

<form action="/celebrities/{{_id}}"></form>

<input type="text" name="name" id="name">
<input type="text" name="occupation" id="occupation">
<input type="textarea" name="cathcPrase" id="catchPhrase">
<button type="submit">Submit</button>