<h2>Edit a celebrity</h2>
<form action="../{{celebrity._id}}" method="post">
<label>Name: <input type="text" name="name" value="{{celebrity.name}}"></label><br><br>
<label>Occupation: <input type="text" name="occupation" value="{{celebrity.occupation}}"></label><br><br>
<label>Catch Phrase: <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}"></label><br><br>
<button type="submit">Send</button>
</form>