<div class="row justify-content-center">
  <div class="col-md-6">

    <h1>¡Editar una nueva Celebrity!</h1>

    <form action="/celebrities/details/{{editCeleb.id}}/edit" method="POST">
      <div class="form-group">
        <label for="field1">Nombre</label>
        <input name="name" type="text" class="form-control" id="field1" value="{{editCeleb.name}}">
      </div>
      <div class="form-group">
        <label for="field2">Ocupación</label>
        <input name="ocupation" type="text" class="form-control" id="field2" value="{{editCeleb.ocupation}}">
      </div>
      <div class="form-group">
        <label for="field3">Frase típica</label>
        <input name="catchPhrase" type="text" class="form-control" id="field3" value="{{editCeleb.catchPhrase}}">
      </div>

      <button type="submit" class="btn btn-dark">Editar Celebrity</button>
    </form>
  </div>
</div>