<h2>Edit the Celebrity's details</h2>
<form action="/celebrities/{{id}}" method="POST">
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="occupation" value="{{occupation}}">
  <input type="text" name="catchPhrase" value="{{catchPhrase}}">
  <button type="submit">Update</button>
</form>