<form action="/celebrities/{{id}}" method="post">
    <label for="">Celebrity name:</label>
    <input type="text" value="{{name}}" name="name">

    <label for="">Occupation:</label>
    <input type="text" value="{{occupation}}" name="occupation">

    <label for="">Catch Phrase:</label>
    <input type="text" value="{{catchPhrase}}" name="catchPhrase">

    <button type="submit">EDIT</button>
</form>
