<h2>Edit Celebrity</h2>
<form action="/celebrities/{{this._id}}" method="POST">
    <label>Celebrity name <input type="text" name="name" value="{{this.name}}"></label>
    <label>Occupation <input type="text" name="occupation" value="{{this.occupation}}"></label>
    <label>Catch Phrase! <input type="text" name="catchPhrase" value="{{this.catchPhrase}}"></label>
    <button type="Submit">Send</button>
</form>