<form method="post" action="/celebrities/{{celebrity._id}}" id="update_form">
  <h2>Update the celebrity</h2>
  <label for="name">Name</label>
  <input id="name" type="text" name="name" required value={{celebrity.name}}>
  <label for="occupation">Occupation</label>
  <select id="occupation" name="occupation">
    <option value="actor">actor</option>
    <option value="artist">artist</option>
    <option value="comedian">comedian</option>
    <option value="influencer">influencer</option>
    <option value="musician">musician</option>
    <option value="politician">politician</option>
    <option value="singer">singer</option>
    <option value="tv-something">tv-something</option>
    <option value="writer">writer</option>
    <option value="other">other</option>
  </select>
  <label for="catchPhrase">Catch phrase</label>
  <input id="catchPhrase" name="catchPhrase" value={{celebrity.catchPhrase}}>
  <button class="btn">Update</button>
</form>