<h2>Update the celebrity</h2>

<form action='/celebrities/{{id}}/edit' method = 'post'>
    <input type='text' name='name' placeholder='name' value='{{name}}'>
    <input type='text' name='ocupation' placeholder='ocupation' value='{{ocupation}}'>
    <input type='text' name='catchPhrase' placeholder='catchPhrase'  value='{{catchPhrase}}'>
    <button type='submit'>Update Celebrity</button>
</form>