<form method="POST" accept-charset="utf-8">
  {{> input label="Name" name="name" value=obj.name}}
  {{> input label="Occupation" name="occupation" value=obj.occupation}}
  {{> input label="Catch Phrase" name="catchPhrase" value=obj.catchPhrase}}
  <button type="submit" class="btn btn-primary">Update</button>
</form>
