<h2>Update celebrity</h2>
<form action="/celebrities/{{_id}}" method="post">
  <input type="text" value="{{name}}" placeholder="Name" name="name">
  <input type="text" value="{{occupation}}" placeholder="Occupation" name="occupation">
  <input type="textarea" value="{{catchPhrase}}" placeholder="Catch phrase" name="catchphrase">
  <button type="submit">update</button>
</form>