<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>Editar</h1>

            <form method="POST" action="/celebrities/Editar-celebrities?celebrity_id={{_id}}">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name" value="{{name}}">
                </div>
                <div class="form-group">
                    <label>Ocupación</label>
                    <input type="text" class="form-control" name="occupation" value="{{occupation}}">
                </div>
                <div class="form-group">
                    <label>Frase mítica</label>
                    <input type="text" class="form-control" name="catchPhrase" value="{{cathPhrase}}">
                </div>
               
                <button type="submit" class="btn btn-dark">Guardar edición</button>
            </form>
        </div>
    </div>



</div>