<h2>Edit Celebrity</h2>
<form action="/celebrities/{{_id}}/edit" method="POST">
<label for="name">Name</label>
<br>
<input type="text" name="name" id="">
<br>
<label for="occupation">Occupation</label>
<br>
<input type="text" name="occupation" id="">
<br>
<label for="catchPhrase">Catch Phrase</label>
<br>
<input type="text" name="catchPhrase" id="">
<br>
<button type="submit">Submit Changes</button>
</form>