<h2>Edit Celebrity</h2>
<form action="/celebrities/{{_id}}" method='post'>
    <label class="label" for="name">Celebrity's name</label>
    <input class="input" id="name" type="text" value="" name="name" placeholder="{{name}}"required>
    <label class="label" for="occupation">Occupation</label>
    <input class="input" id="occupation" type="text" value="" placeholder="{{occupation}}" name="occupation" required>
    <label class="label" for="catchPhrase">catchPhrase</label>
    <input class="input" id="catchPhrase" type="text" value="" placeholder="{{catchPhrase}}" name="catchPhrase" required>
    <button type='submit' class="btn">Save Changes</button>
</form>