<h2>Edit data about the celebrity </h2>

<form action="/celebrities/{{celebToEdit._id}}" method="POST">
  <label for="name">Name: </label>
  <input type="text" id="name" value="{{celebToEdit.name}}" name="name">

  <label for="occupation">Occupation: </label>
  <input type="text" id="occupation" value="{{celebToEdit.occupation}}" name="occupation">

  <label for="catchPhrase">Catch Phrase: </label>
  <input type="text" id="occupation" value="{{celebToEdit.catchPhrase}}" name="catchPhrase">




  <div class="row">
    <div class="col s3">
      <a class="btn waves-effect waves-light" href="/celebrities/index">Back
        <i class="material-icons left">arrow_back</i>
      </a>

    </div>
    <div class="col s3 push-s1">

      <button class="btn waves-effect waves-light ">Save
        <i class="material-icons right">save</i>
      </button>
    </div>
  </div>

</form>