<h2>Heading edit.hbs</h2>
<form action="/celebrities/{{id}}" method="POST">
  <label for="name_field">Name</label>
  <input name="name" type="text" id="name_field">
  <label for="occupation_field">Occupation</label>
  <input name="occupation" type="text" id="occupation_field">
  <label for="catchPhrase_field">CatchPhrase</label>
  <input name="catchPhrase" type="text" id="catchPhrase_field">
  <button type="submit">Edit Celebrity</button>
</form>