<h2>Edita el Personaje {{celebrity.name}}</h2>

<form method="POST">
  <label>Nombre</label>
  <input type="text" name="name" placeholder="{{celebrity.name}}">
  <label>Ocupación</label>
  <input type="text" name="ocuppation" placeholder="{{celebrity.ocuppation}}">
  <label>Frase Mítica</label>
  <input type="text" name="catchPhrase" placeholder="{{celebrity.catchPhrase}}">
  <button type="submit"><b>Editar</b></button>
</form>