<h2> EDIT THE DETAILS</h2>

<form action='/celebrities/:id/edit' method='post'>

    <div>
        <label for='name'>Name</label>
        <input name='name' type='text' id='name'>
    </div>

    <div>
        <label for='occupation'>Occupation</label>
        <input name='occupation' type='text' id='occupation'>
    </div>

    <div>
        <label for='catchPhrase'>Catch Phrase</label>
        <input name='catchPhrase' type='text' id='catchPhrase'>
    </div>

    <button type="submit" class='btn btn-dark'>Update</button>

</form>