
<form action="/celebrities/edit" method="POST">
<input name="name" type="text" placeholder="{{name}}" required>
<input name="occupation"type="text" placeholder="{{occupation}}" required>
<input name="catchPhrase"type="text" placeholder="{{catchPhrase}}" required>
<button type="submit">Modificar</button>
</form>