<h2>Edit celebrity</h2>
<form action='/celebrities/{{celebrity._id}}' method='post'>
    <p>Name: </p><input type='text' name='name' value={{celebrity.name}}>
    <p>Occupation: </p><input type='text' name='occupation' value={{celebrity.occupation}}>
    <p>CatchPhrase: </p><input type='text' name='catchPhrase' value={{celebrity.catchPhrase}}>
    <button type='submit'>Edit</button>
</form>