<h1>edit celebrity</h1>

<form action="/edit/{{celebrity.id}}" method="POST">
  <div class="form-group">
    <label for="">name</label>
    <input type="text" class="form-control" name="name" id="" aria-describedby="" placeholder="celebrity name" value="{{celebrity.name}}">
  </div>
  <div class="form-group">
    <label for="">occupation</label>
    <input type="text" class="form-control" name="occupation" id="" placeholder="celebrity occupation" value="{{celebrity.occupation}}">
  </div>
  <div class="form-group">
    <label for="">catch Phrase</label>
    <input type="text" class="form-control" name="catchPhrase" id="" placeholder="celebrity catch phrase" value="{{celebrity.catchPhrase}}">
  </div>
  <button type="submit" class="btn btn-primary">edit celebrity</button>
</form>