<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit celebrity</title>
</head>

<body>
    <h2>Edit celebrity:</h2>

    <form action="/celebrities/{{this.id}}" method="post">

        <label for="celeb-name">Name</label>
        <input id="celeb-name" type="text" name="name" value="{{this.name}}">

        <label for="celeb-occupation">Occupation</label>
        <input id="celeb-occupation" type="text" name="occupation" value="{{this.occupation}}">

        <label for="celeb-catchphrase">Catchphrase</label>
        <input id="celeb-catchphrase" type="text" name="catchphrase" value="{{this.catchphrase}}">

        <input type="submit" value="Edit celebrity">

    </form>

</body>

</html>