<h2>Edit this celebrity detail page</h2>
<form action="POST">
  <input type="text" name="name" id="name" placeholder="name" value="{{name}}">
  <input type="text" name="occupation" id="occupation" placeholder="occupation" value="{{occupation}}">
  <textarea name="catchPhrase" id="catchPhrase" cols="50" rows="7" placeholder="Write something they said...">{{catchPhrase}}</textarea>
  <button type="submit">Update</button>
</form>
