<h2> Editing existing celebrities </h2>

<form action="/celebrities/{{_id}}" method="post">
  Name: <input name="name" value='{{name}}'><br><br>
  Occupation: <input name="occupation" value='{{occupation}}'><br><br>
  Catch phrase: <input name="catchPhrase" value='{{catchPhrase}}'><br><br>
  <button type="submit">Edit</button>
</form>

