<h2>Edit Celebrity</h2>

<form action="/celebrities/{{celebrities.id}}" method="POST">

<label>
    Name
    <input type="text" name="name" value="{{celebrities.name}}">
</label>

<label>
    Occupation
    <input type="text" name="occupation" value="{{celebrities.occupation}}">
</label>

<label>
    Name
    <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}}">
</label>
  <button type="submit">Update</button>

</form>