<h3>Edit Celebrity</h3>
<form action="/celebrities/{{celebrity.id}}" method="POST">
    <input type="text" name="name" placeholder="Name" value="{{this.name}}">
    <input type="text" name="occupation" placeholder="Occupation" value="{{this.occupation}}">
    <input type="text" name="catchPhrase" placeholder="Catch Phrase" value="{{this.catchPhrase}}">
    <button type="submit">Save</button>
</form> 