<section>
<h1>Edit a Celebrity</h1>
<form action="/celebrities/edit/{{celebrity._id}}" method="post"></form>
<label>Name:</label>
 <input type="text" name="name" value="{{celebrity.name}}">

  <label>Occupation:</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}">

  <label></label>Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">


<button type="submit">EDIT</button>
</form>
</section>

<a href="/celebrities">Celebrity List</a> 