<h2>EDIT CELEBRITY</h2>

<form method="POST" action="/celebrities/{{id}}">

  <div>
    <label>NAME</label>
    <input type="text" name="name" placeholder="Name">
  </div>

  <div>
    <label>OCCUPATION</label>
    <input type="text" name="occupation" placeholder="Occupation">
  </div>

  <div>
    <label>CATCHPHRASE</label>
    <input type="text" name="catchPhrase" placeholder="CatchPhrase">
  </div>

  <button type="submit" class="btn btn-dark">Save</button>

</form>