Edit Celebrities


<form action="/celebRoutes/update/{{updatedCeleb.id}}" method="POST">

<p>Name: </p>
<input value = "{{updatedCeleb.name}}" type="text" name="theName"> <br>

Occupation: 
<input value = "{{updatedCeleb.occupation}}" type="text" name = "theOccupation"> <br>

Catchphrase: 
<input value = "{{updatedCeleb.catchPhrase}}" type="text" name="theCatchPhrase"> <br>

<button>Save</button>

</form>


</form>