<h2>Edit celebrity</h2>
<form action="/celebrities/show/{{_id}}/edit" method="post">
    <input type="text" name="name" value={{name}}>
    <input type="text" name="occupation" value={{occupation}}>
    <input type="text" name="catchPhrase" value={{catchPhrase}}>
    <button type="submit">Edit celebrity</button>
</form>