<form action="/celebrities/{{id}}/edit" method="post">
    <input type="text" name="name" value="{{name}}">
    <input type=" text" name="occupation" value="{{occupation}}">
    <input type="text" name="catchPhrase" value="{{catchPhrase}}">
    <button type="submit">Edit</button>

</form>