
<h2>Editar celebrity</h2>

<form action="/celebrities/{{id}}" method="POST">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="{{name}}">
<br>
    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation" id="occupation" value="{{occupation}}">
<br>
    <label for="catchPhrase">Catch Phrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
<br>

<button type="submit">Update</button>

</form>