<h2>Edit Celebrity</h2>
<div class="container">
  <form action="/celebrities/{{celebrity._id}}" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" value="{{celebrity.name}}" class="form-control">
      <label for="occupation">Occupation</label>
      <input type="text" name="occupation" value="{{celebrity.occupation}}" class="form-control">
      <label for="catchPhrase">Catch Phrase</label>
      <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" class="form-control">
      <button type="submit" class="btn btn-primary mt-3">Update</button>
    </div>
  </form>
</div>