<form action="/celebrities/{{_id}}" method='POST'>
  <label for="name">Name</label>
  <input type="text" name="name" value='{{name}}' id="name"><br>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" value='{{occupation}}' id="occupation"><br>
  <label for="catchphrase">Catchphrase</label>
  <input type="text" name='catchphrase' value='{{catchphrase}}' id="catchphrase"><br>
  <button type="submit">Edit The Celebrity</button>
</form>