<div id="container">
    <form action="/celebrities/edit?celeb_id={{celeb._id}}" method="post">
        <label for="">Name:</label>
        <input type="text" name="name" value="{{celeb.name}}">

        <label for="">Author:</label>
        <input type="text" name="occupation" value="{{celeb.occupation}}">

        <label for="">Catch phrase:</label>
        <input type="text" name="catchPhrase" value="{{celeb.catchPhrase}}">

        <button type="submit">EDIT</button>
    </form>
</div>