<h1>Edit</h1>
<form action="/celebrities/{{id}}" method="POST">

    <label for="">Name</label>
    <input type="text" name="name" value="{{name}}">

    <label for="">Occupation</label>
    <input type="text" name="occupation" value="{{occupation}}">

    <label for="">Catch Phrase</label>
    <input type="text" name="catchPhrase" value="{{catchPhrase}}">

    <button type="submit">Done</button>
</form>