<form action="/celebrities/{{_id}}" method="POST">
  <textarea name="name">{{name}}</textarea>
  <textarea name="occupation">{{ocupation}}</textarea>
  <textarea name="catchPhrase">{{catchPhrase}}</textarea>
  <input type="submit" value="Editar">
</form>