<form action="/celebrities/{{ celebrity._id}}" method="POST">
  <label for="name">Name</label> 
  <input id="name" type="text" name="name" value="{{ celebrity.name}}">
  
  <label for="occupation">Occupation</label> 
  <input id="occupation" type="text" name="occupation" value={{ celebrity.occupation}}>
  
  <label for="male">Catch Phrase</label> 
  <input id="catchPhrase" type="text" name="catchPhrase" value={{ celebrity.catchPhrase}}>
  
  <button type="submit">Add</button>
</form>