<div class="bar">
    <h2>Edit celebrity</h2>
</div>

<div class="col-lg-8">

        <div>
            <form  action="/celebrities/{{celebrity._id}}" method="POST">

                <input type="text" name="name" value="{{celebrity.name}}">
                <input type="text" name="occupation" value="{{celebrity.occupation}}">
                <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
                <button type="submit">Edit celebrity</button>

            </form>
        </div>

</div>