<h2>Edit celebrity</h2>
<form method="POST" action="/celebrities/{{_id}}">
  Name: <input type="text" name="name" placeholder="name" value="{{name}}">
  Occupation: <input type="text" name="occupation" placeholder="occupation" value="{{occupation}}">
  Catchphrase: <input type="text" name="catchPhrase" placeholder="catchPhrase" value="{{catchPhrase}}">
  <input type="submit" value="Edit">
</form>