<h2>Edit a celebrity!</h2>

<form action="/celebrities/{{_id}}" method="POST">
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="occupation" value="{{occupation}}">
  <input type="text" name="catchPhrase" value="{{catchPhrase}}">
  <button type="submit">Edit!</button>
</form>