<h2>Edit Celebrities</h2>

<form action="/celebrities/{{celebrities._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{celebrities.name}}" />

  <label for="">Occupation:</label>
  <input type="text" name="occupation" value="{{celebrities.occupation}}" />

  <label for="">Catch Prase:</label>
  <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}}" />


  <button type="submit">Edit</button>
</form>