<section>
  <form action="/celebrities/{{this._id}}" method="POST">
    <label>NAME:</label>
    <input type="text" name="name" value="{{this.name}}">
    <label>OCCUPATION:</label>
    <input type="text" name="occupation" value="{{this.occupation}}">
    <label>CATCH PHRASE:</label>
    <input type="text" name="catchPhrase" value="{{this.catchPhrase}}">
    <button>EDIT</button>  
  </form>
</section>