<h2>Edit a celebrity</h2>
<form action="/celebrities/{{data.id}}" method="POST"> 
    <label for="">Name:</label>
    <input type="text" name="name" value="{{data.name}}" >

    <label for="">Occupation:</label>
    <input type="text" name="occupation" value="{{data.occupation}}">

    <label for="">CatchPhrase:</label>
    <input type="text" name="catchPhrase" value="{{data.catchPhrase}}">

    <button type="submit">SAVE</button>
</form>