<h2>Edit a Football Celeb</h2>

<form action="/celebrities/{{_id}}/edit" method="POST">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input" value="name">
  <br>

  <label for="occupation-input">Occupation</label>
  <input type="text" name="occupation" id="occupation-input" value="occupation"></input>
  <br>

  <label for="phrase-input">phrase</label>
  <textarea type="text" name="catchPhrase" id="phrase-input" value="catchPhrase"></textarea>
  <br>

  <button type="submit">Save Changes</button>
</form>