<h1>EDIT LAND</h1>
<form action="/celebrities/{{this._id}}" method="post">
  <input type="text" name="name" id="" placeholder="{{this.name}}">
  <input type="text" name="occupation" id="" placeholder="{{this.occupation}}">
  <input type="text" name="catchPhrase" id="" placeholder="{{this.catchPhrase}}">
  <button type="submit">UPDATE</button>
</form>