
<h2>Edit an artist</h2>
<a href="/">Home</a>

<form action="/celebrities/{{this.id}}/edit" method="POST">

    <div>
        <label>Name:</label>
        <input value="{{this.name}}" name="name" type="text">
    </div>
    </br>
    <div>
        <label>Occupation:</label>
        <input value="{{this.occupation}}"name="occupation" type="text">
    </div>
    </br>
    <div>
        <label>Catch phrase:</label>
        <textarea name="catchPhrase" cols="30" rows="4">{{this.catchPhrase}}</textarea>
    </div>
    </br>
    <button type="submit">Save changes</button>

</form>
