<h2>Edit a celebrity</h2>
<form action="/celebrities/{{id}}" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="" value="{{name}}">
  <label for="ocupation">Occupation:</label>
  <input type="text" name="ocupation" id="" value="{{ocupation}}">
  <label for="catchPhrase">Catch Phrase:</label>
  <input type="text" name="catchPhrase" id="" value="{{catchPhrase}}">
  <button type="submit">Edit Celebrity</button>
</form>