  <h2> Edit celebrity </h2>

<form action="/celebrities/{{celebrity.id}}/edit" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" value="{{celebrity.name}}">

  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}">

  <label for="catch-phrase">Catch phrase:</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">

  <button type="submit">Edit</button>
</form>