<h2>Edit Celebrity</h2>

<form action="/celebrities/edit/{{id}}" method='post'>
    <input type="text" name='name' value='{{name}}'> 
    <input type="text" name='occupation' value='{{occupation}}'> 
    <input type="text" name='catchPhrase' value='{{catchPhrase}}'> 
    <button type="submit">Edit Celebrity Info</button>
</form>