<h2>Edit a Star</h2>
<form method="POST">
<label for="">Name</label>
<input value="{{data.name}}" type="text" name="name" id="">
<label for="">Occupation</label>
<input value="{{data.occupation}}" type="text" name="occupation" id="">
<label for="">CatchPhrase</label>
<input value="{{data.catchPhrase}}" type="text" name="catchPhrase" id="">
<button type="submit">Update Star</button>
</form>