<h2>EDIT CELEBRITY</h2>

<form action='/celebrities/{{celebrity._id}}' method='POST'>
  <label for=''>Name</label>
  <input type='text' name='name' value="{{celebrity.name}}">

<br>
  <label for=''>Occupation</label>
  <input type='text' name='occupation' value="{{celebrity.occupation}}">
<br>

  <label for=''>Catch Phrase</label>
  <input type='textarea' name='catchPhrase'  value="{{celebrity.catchPhrase}}">
<br>

  <button type='submit'>Edit Celebrity</button>
</form>