<h2>Edit the celebrity</h2>

<form method="post" class="form">
    <input id="name" name="name" type="text" value="{{celeb.name}}">
    <input id="occupation" name="occupation" type="text" value="{{celeb.occupation}}">
    <input id="catchPhrase" name="catchPhrase" type="text" value="{{celeb.catchPhrase}}">
    <button>update</button>
</form>