<h2>Edit it!</h2>

<form action="/celebrities/{{id}}" method="POST">

  <label>Name:</label><br>
  <input type="text" name="name" value="{{name}}"><br><br>

  <label>Occupation:</label><br>
  <input type="text" name="occupation" value="{{occupation}}"><br><br>

  <label>Iconic Phrase</label><br>
  <input type="text" name="catchPhrase" value="{{catchPhrase}}"><br><br>

  <button type="submit">Save edits</button>

</form>