<div class="container-fluid white">
    <div class="row w50">
        <div class="col mr-auto">

            <div class="row d-block">
                <h2 class="text-title">Edición famosil</h2>
            </div>
            <div class="row d-block">
                <form method="post" action="/celebrities/{{_id}}/edit">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input name="name" type="text" value="{{name}}" class="form-control" id="name"
                            aria-describedby="name" placeholder="Introduce un nombre">
                    </div>

                    <div class="form-group">
                        <label for="occupation">Ocupación</label>
                        <input name="occupation" type="text" value="{{occupation}}" class="form-control" id="occupation"
                            aria-describedby="occupation" placeholder="Introduce su ocupación">
                    </div>

                    <div class="form-group">
                        <label for="catchPhrase">Frasecilla</label>
                        <textarea name="catchPhrase" type="text" class="form-control" id="catchPhrase"
                            aria-describedby="catchPhrase"
                            placeholder="Introduce su frasecilla característica"> {{catchPhrase}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Editar</button>

                    <a class="btn btn-dark" href="/celebrities/index">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>