<h2>Edit the celebrity</h2>

<form method="post" action="/celebrities/edit/{{celebrity._id}}" class="form">
    <label for="name">name</label>
    <input class="input" type="text" id="name" name="name" >
    <label for="occupation">occupation</label>
    <input id="occupation" class="input" type="text" name="occupation">
    <label for="catchPhrase">catchPhrase</label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase">
    <button class="btn">ok !</button>
</form>