<h2>Edit Celebrity</h2>
<form action="/celebrities/{{_id}}" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="name" id="name" value="{{name}}"> <br>
  <label for="occupation">Occupation:</label><br>
  <input type="text" name="occupation" id="occupation" value="{{occupation}}"> </input> <br>
  <label for="catchPhrase">Catch Phrase:</label><br>
  <textarea name="catchPhrase" id="catchPhrase" cols="30" rows="10">{{catchPhrase}}</textarea>
  <button>Submit</button>
</form>