<section id="celebrities">
  <div class="container">
    <div class="row">
      <div class="column">
        <a class="button" href="/celebrities">
          <i class="fas fa-arrow-left"></i> Go back
        </a>
        
        <h2>Edit {{data.celebrity.name}}</h2>
      </div>
    </div>
  
    {{> celebritiesForm data }}
  </div>
</section>
