<h2>Edit Celebrity</h2>

<form method="POST" action="celebrities/{{data._id}}">
  <input type="text" name="name" value="{{data.name}}">
  <input type="text" name="occupation" value="{{data.occupation}}">
  <input type="text" name="catchPhrase" value="{{data.catchPhrase}}">
  <button type="submit">Edit</button>
</form>