<h2>Edit record</h2>

<form action="/celebrities/{{_id}}/edit" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="{{name}}">
  <label for="occupation">Occupation: </label>
  <input type="text" name="occupation" id="occupation" value="{{occupation}}">
  <label for="catchPhrase">Catch phrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
  <button type="submit">Send</button>
</form>