{{#with celebrity}}

<form method="POST" action="/celebrities/{{_id}}">
  <div class="form-group">
    <input type="text" class="form-control" value="{{name}}" name="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" value="{{occupation}}" name="occupation">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" value="{{catchPhrase}}" name="catchPhrase">
  </div>


  <button type="submit" class="btn btn-primary">Update</button>
</form>

{{/with}}