<h2>Edit this celebrity!</h2>

<form action="/celebrities/{{celebrity.id}}/update" method ="post">

<label for="name-input">Name</label>
<br>
<input type="text" id="name-input" name="name" value="{{celebrity.name}}">
<br>
<label for="occupation-input">Occupation</label>
<br>
<input type="text" id="occupation-input" name="occupation" value="{{celebrity.occupation}}">
<br>
<label for="catchphrase-input">Catchphrase</label>
<br>
<input type="text" id="catchphrase-input" name="catchPhrase" value="{{celebrity.catchPhrase}}">
<br>
<button>Send</button>

</form>

<a href="/">Go back</a>