<form action="/celebrities/{{id}}/edit" method="POST">
  <label for="name">First name:</label><br>
  <input type="text" id="name" name="name" value="{{name}}"><br>
  <label for="occupation">Occupation:</label><br>
  <input type="text" id="occupation" name="occupation" value="{{occupation}}"><br>
  <label for="occupation">Catchphrase:</label><br>
  <input type="text" id="catchPhrase" name="catchPhrase" value="{{catchPhrase}}">
  <button type="submit" >Edit</button>
</form>