<h2>Edit Celebrity</h2>
<a href="/celebrities">« Back to celebrities</a>
<form class="form" action="/celebrities/edit/{{celebrity._id}}" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name" value="{{celebrity.name}}">
  </div>
  <div>
    <label for="occupation">Occupation</label>
    <input type="text" id="occpation" name="occupation" placeholder="Occupation" value="{{celebrity.occupation}}">
  </div>
  <div>
    <label for="catchphrase">Catchphrase</label>
    <input type="text" id="occupation" name="catchphrase" placeholder="Catchphrase" value="{{celebrity.catchphrase}}">
  </div>
  <button>Submit</button>
</form>

{{#if error}}
<p>Fill out all the forms.</p>
{{/if}}