<h3>Edit Celebrity</h3>

<form action="/celebrities/{{celebrity._id}}" method="POST">

<label>Name</label>
<input name="name" type="text" value="{{celebrity.name}}">

<label>Occupation</label>
<input name="occupation" type="text" value="{{celebrity.occupation}}">

<label>Catch Phrase</label>
<input name="catchPhrase" type="text" value="{{celebrity.catchPhrase}}">

<button> Save Changes </button>

</form>