<form action="/celebrity/edit/{{celebrities.id}}" method="post">

 <label for="">Name:</label>
  <input type="text" name="name" value="{{celebrities.name}}">

  <label for="">Occupation:</label>
  <input type="text" name="occupation"  value="{{celebrities.occupation}}">

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase"  value="{{celebrities.catchPhrase}}">

  <button type="submit">Edit</button>
</form>
