<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit celebrity</h1>

            <form action="/celebrities/{{id}}" method="post">

                <div class="form-group">
                    <label>Name</label>
                    <input name="name" type="text" class="form-control" value="{{name}}">
                </div>

                <div class="form-group">
                    <label>Ocupation</label>
                    <input name="ocupation" type="text" class="form-control" value="{{ocupation}}">
                </div>

                <div class="form-group">
                    <label>catchPhrase</label>
                    <input name="catchPhrase" type="text" class="form-control" value="{{catchPhrase}}">
                </div>


                <button type="submit" class="btn btn-dark">Edit</button>
            </form>
        </div>
    </div>
</div>