<h2>Edit Celebrity</h2>
<form action="/celebrities/<%= celebrity._id%>" method="post">
  <div class="form-container">
    <input type="text" name="name" placeholder="<%= celebrity.name%>">
    <input type="text" name="occupation" placeholder="<%= celebrity.occupation%>">
    <input type="text" name="catchPhrase" placeholder="<%= celebrity.catchPhrase%>">
    <button>Edit Celebrity</button>
  </div>
</form>