<form action="/celebrities/{{_id}}" method="post">
<input type="text" name="name" placeholder="{{name}}">
<input type="text" name="occupation" placeholder="{{occupation}}">
<input type="text" name="catchPhrase" placeholder="{{catchPhrase}}" >
<button type="submit">Update</button>
</form>