<div>
    <form action="/celebrities/{{cel.id}}" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Steve Urkel">
        <label>Occupation</label>
        <input type="text" name="occupation" placeholder="Actor">
        <label>Catch phrase</label>
        <input type="text" name="catchPhrase" placeholder="Did I do that?">
        <button type="submit">EDIT</button>
    </form>
</div>