<h2>Edit</h2>
<form action="/celebrities/{{cel.id}}" method="POST">
  <input name="name" value="{{cel.name}}">
  <input name="occupation" value="{{cel.occupation}}">
  <input name="catchPhrase" value="{{cel.catchPhrase}}">
  <button type="submit">Edit</button>
</form>