<h2>EDIT CELEBRITY</h2>

<form action="/celebrities/{{_id}}" method="POST">
    <input type="text" id="name" name="name" value="{{name}}">
    <br>
    <br>
    <input type="text" id="occupation" name="occupation" value="{{occupation}}">
    <br>
    <br>
    <textarea name="catchPhrase" id="catchPhrase">{{catchPhrase}}</textarea>
    <br>
    <br>
<button type="submit">Edit</button>
</form>
<a href="/">Back to menu</a>






