{{#each celebrities as |celebrity|}}
    <form action="/celebrities/{{celebrity._id}}" method="POST">
    <button type="submit" class="btn btn-danger btn-sm text-white mr-3">Celebrity</button>
    </form>
{{/each}}