<h2>Editar celebridad</h2>

<form action="/celebrities/edit/{{_id}}" method="post">
    <label for="">Nombre</label>
    <input type="text" name="name">

    <label for="">Ocupación</label>
    <input type="text" name="occupation">

    <label for="">Su frase</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Añadir</button>
</form>

