<h2>EDIT CELEBRIITY</h2>
<form method="GET"> 
    <div class="form-group">
        <label for="exampleInputEmail1" method="GET">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Occupation</label>
        <input type="text" name="occupation" class="form-control" id="exampleInputPassword1" placeholder="Enter occupation">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Catch Phrase</label>
        <input type="text" name="catchphrase" class="form-control" id="exampleInputPassword1" placeholder="Enter cach phrase">
    </div>
    <button type="submit" class="btn btn-primary">editar !</button>
</form>