<h2>Edit</h2>

{{#with foundObjFromId}}

<form method="POST" action="/celebrities/edit/{{this._id}}">
  {{> inputForm label="Nombre de la celebridad" placeholder="this.name" name="name" value=this.name }}
  {{> inputForm label="Ocupación de la celebridad" placeholder="this.occupation" name="occupation"
  value=this.occupation }}
  {{> inputForm label="Frase de la celebridad" placeholder="this.catchPhrase" name="catchPhrase"
  value=this.catchPhrase }}
  <button type="submit">Enviar edición</button>
</form>

{{/with}}

<a href="/celebrities/">Return</a>