<h2>Editar Celebrities</h2>

<form action="/celebrities/editar/{{_id}}" method="POST">
    Nombre: <input name="name" type="text" value={{name}}><br>
    Ocupacion: <input name="occupation" type="text" value={{occupation}}><br>
    Frase: <input name="catchPhrase" type="text" value={{catchPrase}}><br>

    <button type="submit">Editar celebrity</button>
</form>