{{!-- <h2>Edit</h2>

<label for="/celebrities/{{this._id}}/edit">actor:</label>
<input type="text" name="name" id="name">
<label for="">occupation:</label>
<input type="text" name="occupation" id="occupation">
<label for="">catchPhrase:</label>
<input type="text" name="catchPhrase" id="catchPhrase">
<label for=""></label>
<button type="submit">EDIT</button>
</form> --}}
