<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celebrities</title>
</head>
  <body>
<form action="/celebrities/update_write/{{_id}}" method="POST">
  <label for="name">Name:</label> 
  <input type="text" id="name" value="{{name}}" name="name"><br><br>
 
  <label for="occupation">Occupation:</label>
  <input type="text" id="occupation" value="{{occupation}}" name="occupation"><br><br>
  
  <label for="catchPhrase">Catch Phrase:</label> 
  <input type="text" id="catchPhrase" value="{{catchPhrase}}" name="catchPhrase"><br><br>
 
  <button type="submit">CHANGE</button>  
</form>


  </body>
</html>