<h2>EDITA UNA CELEBRITY</h2>
<form action="/celebrities/{{_id}}" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{name}}">
  <label for="">Occupation:</label>
  <input type="text" name="occupation" value="{{occupation}}">
  <label for="">Frase mitica:</label>
  <input type="text" name="catchPhrase" value="{{catchPhrase}}">
  <button type="submit">EDIT</button>
</form>