<h2>Edit the celebrity</h2>
<form action="/celebrities/edit?_id={{celebrity._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{celebrity.name}}" />

  <label for="">Occupation:</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}" />

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" />

  <button type="submit">Submit</button>
</form>