<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h1>Editar</h1>

            <form action="/celebrities/edit/{{_id}}" method="post"><!--Mirar esto-->
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input name="name" type="text" class="form-control" id="name" value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="occupation">Ocupación</label>
                    <input name="occupation" type="text" class="form-control" id="occupation" value="{{occupation}}">
                </div>
                <div class="form-group">
                    <label for="catchPhrase">Su Frase</label>
                    <input name="catchPhrase" type="text" class="form-control" id="catchPhrase" value="{{catchPhrase}}">
                </div>

                <button type="submit" class="btn btn-dark">Editar Celebrity</button>
            </form>
        </div>
    </div>