<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      Celebrities
    </title>
</head>

<body>

  <h1>Edit Celebrity</h1>
  <form method="POST" action="/celebrities/edit/<%=celebrity._id%>">

    <fieldset id="sign_up">
      <div>
        <label>Name</label>
        <input value="<%=celebrity.name%>"  type="name" name="name"  id="name" required>
      </div>
      <div>
        <label>Ocupattion</label>
        <input value="<%=celebrity.ocupattion%>" type="ocupattion" name="ocupattion"  id="description" required>
      </div>
      <div>
        <label>Catch Phrase</label>
        <input value="<%=celebrity.catchPhrase%>" type="name" name="catchPhrase"  id="imageUrl" required>
      </div>
    </fieldset>

    <div>
      <input type="submit" value="Edit Celebrity">
    </div>

  </form>

</body>

</html>
