<h2>Edit a celebrity</h2>

<form action="/celebrities/<%= celebrity.id %>/update" method= "POST">
  <label for= "name">Nane</label>
  <input type="text" name="name" value="<%= celebrity.name %>" >

  <label for= "ocupation">Ocupation</label>
  <input type="text" name="ocupation" value="<%= celebrity.ocupation %>">

  <label for= "catchPhrase">CatchPhrase</label>
  <input type="text" name="catchPhrase" value="<%= celebrity.catchPhrase %>">


  <input type="submit" value="submit">
</form>