<h2>Modify A Celebrity</h2>

<form action="/celebrities/{{this._id}}/edit" method="POST">

<label for="">{{this.name}}</label>
<input type="text" name="name">


<label for="">{{this.occupation}}</label>
<input type="text" name="occupation">


<label for="">{{this.catchPhrase}}</label>
<input type="text" name="catchPhrase">

<button class="submit"></button>


</form>