<h2>Edit page</h2>
<form action="/celebrities/<%=celebrity._id%>" method="post">
  <input type="text" name="name" placeholder="<%=celebrity.name%>">
  <input type="text" name="occupation" placeholder="<%=celebrity.occupation%>">
  <input type="text" name="catchPhrase" placeholder="<%=celebrity.catchPhrase%>">
  <button type="submit">Submit</button>
</form>