<h2>Heading</h2>

<form action="/celebrities/{{celebrityToBeEdited._id}}" method="POST">
    <input type="text" name="name" value="{{celebrityToBeEdited.name}}" required>
    <input type="text" name="occupation" value="{{celebrityToBeEdited.occupation}}" required>
    <input type="text" name="catchPhrase" value="{{celebrityToBeEdited.catchPhrase}}" required>
    <button>( ＾◡＾)っ</button>
</form>