<h2>Edit Celebrity:</h2>
<form action="/celebrities/{{celeb._id}}" method="POST">

  <input type="text" name="name" placeholder="name" value="{{celeb.name}}">
  <input type="text" name="occupation" placeholder="occupation" value="{{celeb.occupation}}">
  <input type="text" name="catchPhrase" placeholder="catchPhrase" value="{{celeb.catchPhrase}}">

  <input type="submit" value="Edit data of Celebrity">

</form>