
<h2>Edit</h2>
<form method="POST" action="/celebrities/{{data.id}}">
<input type="text" value="{{data.name}}"    name="name">
<input type="text" value="{{data.occupation}}"   name="occupation">
<input type="text" value="{{data.catchPhrase}}"  name="catchPhrase">
<button type="submit">done</button>
</form>


