<form action="/celebrities/{{_id}}/update" method="post">
    <h1> Update Celebrity</h1>

    <input type="text" name="name" placeholder="Name" value="{{name}}">
    <input type="text" name="occupation" placeholder="Occupation" value="{{occupation}}">
    <input type="text" name="catchPhrase" placeholder="Catch Phrase" value="{{catchPhrase}}">

    <button>Update!</button>
</form>