<h2>EDIT</h2>

<form action="/editcelebrities/{{data.id}}" method="post">
  <input name="name" type="text" value="{{data.name}}">
  <input name="occupation" type="text" value="{{data.occupation}}">
  <input name="catchPhrase" type="text" value="{{data.catchPhrase}}">
  <button type="submit">Edit</button>
</form>