<h2>EDIT CELEBRITY</h2>

<form action="/celebrities/{{id}}" method="POST">

<label for="name"></label>
<input type="text" name="name" id="name" value="{{name}}">

<label for="occupation"></label>
<input type="text" name="occupation" id="occupation" value="{{occupation}}">

<label for="catchPhrase"></label>
<input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">

<button type="submit">UPDATE CELEBRITY</button>

</form>