<h2>Editar famosos</h2>
<form action="/celebrity/edit/{{_id}}" method="POST">
  <input name="name" type="text" placeholder="Celebrity Name" value="{{name}}">
  <input name="occupation" type="text" placeholder="Occupation" value="{{occupation}}">
  <input name="catchPhrase" type="text" placeholder="Catch Phrase" value="{{catchPhrase}}">
  <input type="submit" value="Edit Celebrity">
</form>