<div>
  <h2>Edit Celebrity</h2>
  <form action="/celebrities/{{celebrity._id}}" method="POST">
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{celebrity.name}}" />
      </li>
      <li>
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation" value="{{celebrity.occupation}}" />
      </li>
      <li>
        <label for="catchPhrase">Catchphrase:</label>
        <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" />
      </li>
      <button type="submit">Submit</button>
    </ul>
  </form>
</div>