<h2>Editar celebridad</h2>

<form action="/celebrities/edit/{{_id}}" method="post">
  <label for="">Nombre</label>
  <input type="text" class="form-control" name="name" value="{{name}}"><br>

  <label for="">Profesión:</label>
  <input type="text" class="form-control" name="occupation" value="{{occupation}}"><br>

  <label for="">Frase célebre:</label>
  <input type="text" class="form-control" name="catchPhrase" value="{{catchPhrase}}"><br>

  <button type="submit" class="btn btn-secondary">Actualizar</button>
</form>