<h2>This is views/celebrities/edit.hbs</h2>

<div>
  <form action="/celebrities/{{id}}" method="POST">
    <input type="text" name="name">
    <input type="text" name="occupation">
    <input type="text" name="catchPhrase">
    <button type="submit">Update celebrity!</button>
  </form>
</div>