<div class="celeb-edit">
    <h2>Edit Celebrity</h2>
    {{> site-error}}
    <form method="POST" action="/celebrities/{{celeb._id}}">

        <label for="theName">Name:</label>
        <input name="theName" type="text" value="{{celeb.name}}" required />

        <label for="theOccupation">Occupation:</label>
        <input name="theOccupation" type="text" value="{{celeb.occupation}}" required />

        <label for="theCatchPhrase">Catch Phrase:</label>
        <input name="theCatchPhrase" type="text" value="{{celeb.catchPhrase}}" required />

        <button class="submit">Submit</button>
        {{> form-error}}
    </form>
</div>