<h2> Edit celebrity</h2>
<form method="POST" action=/celebrities/{{id}}>
Name: <input type="text" name="name" value="{{name}}"> 
Occupation: <input type="text" name="occupation" value="{{occupation}}"> 
Catchphrase: <input type="text" name="catchPhrase" value="{{catchPhrase}}"> 
<input type="submit" value="Edit celebrity">
</form>
