<div class="container">
  <form action="/celebrities/{{celebrity._id}}" method="post">
    {{!-- id is the query parameter (req.query....) --}}
    <div class="form-group">
      <label for="name">Name</label>
      <input value="{{celebrity.name}}" class="form-control" type="text" name="name" id="name">
    </div>
    <div class="form-group">
      <label for="occupation">Occupation</label>
      <input value="{{celebrity.occupation}}" class="form-control" type="text" name="occupation" id="occupation">
    </div>
    <div class="form-group">
      <label for="catchPhrase">Catch Phrase</label>
      <input value="{{celebrity.catchPhrase}}" class="form-control" type="text" name="catchPhrase" id="catchPhrase">
    </div>
    <input type="submit" value="Update" class="btn btn-primary">
  </form>
  <a href="/celebrities/index">
    <button class="btn btn-secondary">Go back</button>
  </a>
</div>