<h2>Edit celebrity</h2>

<form method="post" action="/celebrities/{{id}}/edit">

<label for="name">Name</label>
<input type="text" name="name" id="name" value="{{name}}"><br>

<label for="occupation">Occupation</label>
<input type="text" name="occupation" id="occupation" value="{{occupation}}"><br>

<label for="catch-phrase">Catch phrase</label>
<input type="text" name="catchPhrase" id="catch-phrase" value="{{catchPhrase}}"><br>

<button>Edit</button>

</form>