<h2>Celebrities</h2>
{{#each celebrities}}
    <p>{{this.name}}</p>
    <a href="/celebrities/{{this._id}}">See Details</a>
{{/each}}


<!--- MY OLD CODE - WHY DOES CLAIRE's CODE ABOVE MAKE SUCH A DIFFERENCE? 
<h2>Text</h2>

<ul>
    {{#each celebrities}}
        <h2>{{this.name}}</h2>
    {{/each}}
</ul>

<a href="/lab-mongoose-movies/starter-code/views/celebrities/index.hbs">Celebrities</a>
--->


