<h2>Fictitious celebrities</h2>

{{#each celebrities}}

<a href="/celebrities/{{_id}}">
  <h3>{{name}}</h3>
  <form action="/celebrities/{{_id}}/delete" method="post">
    <a href="/celebrities"><button type="submit">Delete celeb</button></a>
  </form>
</a>

{{/each}}

<br>
<br>
<br>

<a href="/celebrities/add">
  <button>Add a celeb</button></a>