this is inside celebs inside views 
<div id="container"></div>
<h2> list of Celebrities </h2>

<ul>
{{#each CelebritiesInHBS}}
<li>
    {{name}}
    <button class="button-small"><a href="/celebrities/edit?celeb_id={{this._id}}"
        class="edit-button">EDIT</a></button>
    <button class="button-small"><a href="/celebrities/delete?celeb_id={{this._id}}"
        class="delete-button">DELETE</a></button>
</li>
</ul>
{{/each}}



