<h2>List of Celebrities</h2>

<ul>
{{#each celebrities}}
<li>{{name}}</li>
<a href="/celebrities/{{this._id}}">See more</a>
<a href="/celebrities/{{this._id}}/delete">Delete</a>
{{/each}}

</ul>

<a href="/celebrities/new">Create Celebrity</a>

