<h2>Celebrities</h2>
{{#each celebrities}}
{{>list path="/celebrities" id=this._id name=this.name}}
{{/each}}
<p><a class="btn btn-success" href="/celebrities/new" role="button">ADD new celebrity</a></p>
<p><a class="btn btn-primary" href="/" role="button">BACK to home</a></p>