<div class="containerr celebList-container">
  {{!-- <h2>Celebrities list</h2> --}}
  {{#each celebs}}
    {{> celebListPartial}}
  {{/each}}
  <div class="card plusCard">
    <a href="/celebrities/new"><img class="card-img-top" src="/images/plus.jpg" alt="Plus image"></a>
    <div class="card-body">
      {{!-- <a href="/celebrities/new" class="btn btn-primary">Add celeb</a> --}}
    </div>
  </div>
</div>
