<h2>Celebrities in the Database</h2>

<a href="/celebrities/new">Create New Celebrity</a>
{{#each celebritiesFindDB}}
<p><b>Name</b></p>{{name}}
<a href="/celebrities/{{_id}}">See More</a>
<form action="/celebrities/{{_id}}/delete" method="post">
<button>Delete</button>
</form>
{{/each}}
