<h2>CELEBRITIES</h2>
<div class="celebrities">
    {{#each allCelebrities}}
    <div>
        <div>{{this.name}}</div>
        {{!-- <div>{{this.occupation}}</div>
        <div>{{this.catchPhrase}}</div> --}}
    </div>
    {{/each}}
</div>