<h2>Celebrities</h2>

{{#each data}}
<div>
    <p><a href="celebrities/{{this._id}}">{{this.name}}</a></p>
</div>

<form action="celebrities/{{this._id}}/delete" method="POST"> 
    <button type="submit">Delete</button>
</form>

{{/each}}

<button><a href="/celebrities/new">Add a new celebrity</a></button>