<div class="d-flex flex-column justify-content-center align-items-center w-100">
<h2>CELEBRITIES</h2>
<div class="d-flex flex-row justify-content-between align-items-center">
{{#each celebrities}}
 <div class="card d-flex flex-column justify-content-center align-items-center p-4 mx-3 my-3"> 

<a class="my-3" href="/celebrities/{{this._id}}">{{this.name}}</a>
<form action="/celebrities/{{this._id}}/delete" method="POST">
  <button type="submit" class="btn btn-danger my-3">Delete</button>
</form>
 <a href="/celebrities/{{this._id}}/edit" type="submit" class="btn btn-info my-3">Edit</a>
</div>
{{/each}}
</div>
<a class="btn btn-success mb-3" href="/celebrities/new">Add new celebrity</a>
<a class="btn btn-dark" href="/">Go back</a>
</div>
