<h2>Celebrity list</h2>

{{#each c}}
    <div>
        <h3>{{this.name}}</h3>
        <a href="/celebrities/{{this.id}}">Show</a>
        <form action="/celebrities/{{id}}/delete" method="POST">
            <button type="submit">Delete Celeb</button>
        </form>
    </div>

{{/each}}

<a href="/celebrities/new">Add a celebrity</a>