<h2>Celebrities</h2>

{{#each data}}
<br>
<a class="data-name" href="/celebrities/{{this._id}}">{{this.name}}</a>
<form action="/celebrities/{{this._id}}/delete" method="POST">
    <br><button type="submit">Delete</button>
</form>
<br>
<button><a href="/celebrities/{{this._id}}/edit">Edit</a></button>
<br>
{{/each}}
<br>
<button><a href="/celebrities/new">Add new</a></button>