<h2>Here we have the celebrities Page</h2>
{{#each celebrity}} 
<h2>

<a href="../celebrities/{{_id}}">{{name}}</a>
{{/each}}
<br><br>
<a href="../celebrities/new">Click here to create a new celebrity</a>

</h2>
