<h2>Yay celebrities</h2>
  {{#each celebrities}}
  <ul><li>{{this.name}}</li></ul>
  <a href="/celebrities/{{this.id}}">click me</a>
  
  <form action="/celebrities/{{this.id}}/delete" method="get" class="form">
    <h1 class="title">Delete a celebrity</h1>

    <button class="btn">ok</button>
    {{!-- <input class="btn" type="submit" value="ok"> --}}
</form>
  {{/each}}