<h2>Our Wonderful Celebrities!</h2>
{{#each celebrity}}
    <div><p><a href='celebrities/{{this.id}}'>{{this.name}}</a></p></div>
{{/each}}
<a href="celebrities/new"><button>Click here to add a celebrity</button></a>
<a href="/"><button>Back to Home</button></a>