<h2>Celebrities!</h2>
{{#each this.celebs}}
<a href="/celebrity/views/{{this.name}}">{{this.name}}</a>
<form action="/celebrity/delete/{{this.id}}" method="POST">
<button>Click to delete</button>
</form>
{{/each}}

<a href="/celebrity/new">Create Celeb</a>