<h2><strong>Celebrities</strong></h2>
{{#each celebrities}}
<a href="/celebrities/{{_id}}"><p>{{this.name}}</p></a>

<form action= "/celebrities/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
{{/each}}

<a href="/celebrities/new">Create a new celebrity</a>