<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Celebrities</h2>
<ul>
    <% celebrities.forEach((celebrity)=> { %>
        <li>
            <%= celebrity.name %>
            <a href="/celebrities/<%= celebrity._id %>">Details</a>
        </li>
    <% }) %>
</ul>
  </body>
</html>