    <h2>Celebrities</h2>
    {{#each celebrity}}
        <a href="celebrities/{{this._id}}">{{this.name}}</a>
        <form method ="POST" action="/celebrities/{{this._id}}/delete">
            <button>Delete</button>
        </form>
    {{/each}}

    <button>
        <a href="celebrities/new">Add new</a>
    </button>
    