<h2>Celebs</h2>
{{#each celebrities}}
  <h3>{{this.name}}</h3>
  <a href="/celebrities/{{this._id}}">See More</a>
  <br>
 
  <a href="/edit/{{this._id}}"> EDIT</a>
  
  <form action="{{this._id}}/delete" method="post">
    <button type="submit">DELETE</button>
  </form>
{{/each}}
<hr>
<a href="/celebrities/new">Add New Celeb</a>