<h2>Awesome Celebrities</h2>
{{#each celebrities}}
<div>
  <p>{{name}}</p>
  <a href="/celebrities/{{_id}}">Show more</a>
</div>
{{/each}}
<br>
<a href="/celebrities/new">Create new Celebrity</a>
<br>
<br>

<a href="/">Back</a>
