<h2>Celebrities</h2>
<ul>
    <% celebrities.forEach((celebrity)=> { %>
        <li>
            <%= celebrity.name %> - <%= celebrity.occupation %> - <%= celebrity.catchPhrase %>
            <a href="/celebrities/<%= celebrity._id %>">Details</a>
        </li>
    <% }) %>
</ul>