<h2>MY CELEBRITIES</h2>

{{#each celebrities}}
<p>{{this.name}}</p>
<a href="/show/{{this.id}}">Show</a>
<form action="/celebrities/{{this.id}}/delete" method="post">
<button type="submit">Delete Celebrity</button>
</form>
{{/each}}

<h3><a href="/new">Add your Celebrity</a></h3>