<h2>Feminist Heroines</h2>

{{#each celebrities}}

<a href="/celebrities/{{_id}}">
  <h3>{{name}}</h3>
  <form action="/celebrities/{{_id}}/delete" method="post">
    <a href="/celebrities"><button type="submit">Delete celebrity</button></a>
  </form>
</a>

{{/each}}

<a href="/celebrities/add">
  <button>Add a feminist hero</button></a>