<h2>Celebrities</h2>

{{#each celebrities}}
<div>
  name: {{name}}
  
  {{!ocupation: {{occupation}}

  {{!catchPhrase :{{catchPhrase}} 

  <a href="/celebrities/{{_id}}">Details</a>
  <a href="/celebrities/new">Create a new celebrity</a>
</div>

{{/each}}