<p class="text-center">Select or Add a Celebrity</p>



{{#each celebList}}
<ul class="list-group">
  <li class="list-group-item"><a href="/celebrities/{{this._id}}">{{this.name}}</a>

    <a class="btn btn-primary btn-sm" href="/celebrities/{{this._id}}/edit" class="edit-button">EDIT</a>
    <a href="/celebrities/{{this._id}}/delete" class="btn btn-danger btn-sm">DELETE</a>
  </li>


</ul>
{{/each}}
<a class="btn btn-outline-success btn-sm" href="/celebrities/new">Add a Celebrity</a>