<h2>All Celebrities</h2>
<ul>
  {{#each allCelebrities}}
  <li><a href="/celebrities/details/{{_id}}">{{name}}</a></li>

  <form action="/celebrities/delete/{{_id}}" method="POST">

    <input type="submit" value="Delete celebrity">


  </form>

  <a href="/celebrities/edit/{{_id}}">
    <button>
      EDIT
    </button></a>
  {{/each}}
</ul>

<a href="/celebrities/new-celeb"><button>New celebrity</button></a>