<section>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h2>Celebrities: </h2>
            </div>
        </div>
        <div class="row">
            {{#each celebrity}}
                <div class="col s12 m12 l4">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <form class="delete-celeb" action="/celebrities/{{this._id}}/delete" method="POST">
                                <button>
                                    <i class="material-icons delete-celeb">clear</i>
                                </button>
                            </form>
                            <span class="card-title">{{this.name}}</span>
                        </div>
                        <div class="card-action">
                            <a href="/celebrities/{{this._id}}">See details</a>
                            <a href="/celebrities/{{this._id}}/edit" class="edit-celeb"><i class="material-icons">create</i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col s4">
                <a class="btn" href="/celebrities/new">Create new celebrities</a>
            </div>
        </div>
    </div>
</section>