<h2>CELEBRATIES</h2>

{{#each celebrities}}
    {{this.name}} <br>
    <hr>
    <a href="/celebrities/{{this._id}}">details</a>
    <form action='/celebrities/{{this._id}}/delete' method='POST'>
      <button type='submit'>DELETE</button>
    </form>
{{/each}}
<br>
<br>
<a href="/celebrities/new"> CREATE A NEW CELEB</a>