<h2>Check out the registered celebrities:</h2>
<ul>
  {{#each celebrities}}
    <li>
      <a href="/celebrities/{{_id}}">{{name}}</a> <a href="/celebrities/{{_id}}/edit">edit</a>
      <form action="/celebrities/{{_id}}/delete" method="POST">
      <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>
<h3>Want to add a new celebrity to this site?</h3>
<a href="/celebrities/new">Click here!</a>