<h2> Celebrities </h2>
<div>
    {{#each celebrities}}
        <h2>{{this.name}}</h2>
        <a href="/celebrities/{{this._id}}">Show More</a>
        <form action="/celebrities/{{this._id}}/delete" method="POST">
            <input type="submit" value="Delete Celebrity">
        </form>
        <form action="/celebrities/{{this._id}}/edit" method="GET">
            <input type="submit" value="Edit Celebrity">
        </form>
    {{/each}}
</div>
<div>
    <h3>Create your Celebrity!!</h3>
    <a href="/celebrities/new">Create new Celebriry</a>
</div>