<h2>Celebrities Page</h2>


{{#each Celebrity}}

<ul><li><a href="celebrities/show/{{this.id}}">{{this.name}}</a></li></ul>
<button><a href="celebrities/delete/{{this.id}}">Delete Celebrities</a></button>

{{/each}}

<button><a href="/celebrities/new">Create new Celebrity</a></button>

