<h2>{{name}}</h2>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>MONGOOSE ATTACK: The official website for the many mongeese movies</h1>
<p>Click <a href="/celebrities"> here </a> to see our celebrities</p>

<p>Click <a href="/celebrities"> here </a> Add new celebrity</p>


