<h2>Listing Celebrities</h2>
<ul>
  {{#each celebritiesFound}}
  <li><a href="celebrities/{{_id}}">{{name}}</a></li>
  {{/each}}
</ul>
<a href="celebrities/new">Insert a new celebrity in the database</a>