<div>
    <h2>Celebrities Page:</h2>
    <ul>

        {{#each celebrityDB}}
        <form action="/celebrities/{{_id}}/delete" method="POST">
            <a href="/celebrities/{{_id}}">{{name}}</a>
            <input type="submit" value="Delete this Celebrity">
        </form>
        {{/each}}


    </ul>

</div>