<h2><strong>Celebrities</strong></h2>

<div class="btn btn-dark btn-sm bottomMargin">
  <a class="newBtn" href="/celebrities/new">Create a new celebrity</a>
</div>

<div class="container">

  {{#each allCelebrities}}
  <div class="row bottomMarginDoc">
    <ul>
      <li>
        <a href="/celebrities/details/{{_id}}">{{this.name}}</a>

        <div class="row">
          <form action="/celebrities/edit/{{_id}}" method="GET">
            <button type="submit" class="btn btn-dark btn-sm">Edit</button>
          </form>
          <form action="/celebrities/delete?celebrity_id={{_id}}" method="POST">
            <button type="submit" class="btn btn-dark btn-sm">Delete</button>
          </form>
        </div>

      </li>
    </ul>
  </div>
  {{/each}}

</div>