<a href="/">Go back</a>
<h2>Celebrities</h2>
<div>
    {{#each allCelebs}}
    <h3>{{name}}</h3>
    <a href="/celebrities/{{_id}}">Celebrity details</a>
    <form action="/celebrities/edit/{{_id}}" method="get">
        <button type="submit">Edit</button>
    </form>
    <form action="/celebrities/delete/{{_id}}" method="post">
        <button type="submit">Delete</button>
    </form>
    {{/each }}
</div>