<h2>Celebrities</h2>

{{#each celebrities}}
<li>
    <a href="/celebrities/{{this._id}}">{{this.name}}</a>
    <form action="/celebrities/{{this._id}}/delete" method="post">
    <button type="submit">Delete</button>
    </form>
    <form action="/celebrities/{{this._id}}/edit" method="get">
    <button type="submit">Edit</button>
    </form>

    
    <br>
</li>
{{/each}}

<br>

<a href="/celebrities/new">Create new celebrity</a>