<h2>Celebrities</h2>
{{#each celebrity}}
    <p><a href="celebrities/{{this._id}}">{{this.name}}</a></p>
    <form action="celebrities/{{this._id}}/delete" method="post">
    <button type="submit">Delete</button>
    </form>
    <a href="celebrities/{{this._id}}/edit">Edit</a>
    
{{/each}}
<a href="celebrities/new">Add</a>
