
<h2>List of Celebrities</h2>
<br>
<ul class="List-group">

    {{#each CelebritiesArr}}
        <li class="Lis-group-item">
            <a href='/celebrities/{{this._id}}'>{{this.name}}</a>
             
             <form action='/celebrities/{{this._id}}/delate' method='post'>
             <br>
                <button type="submit" class="btn btn-dark">Delete</button>

                </form>
                <br>
                <a href='/celebrities/{{this._id}}/edit'><button type="button" class="btn btn-dark">Edit</button></a>
        
        </li>
        {{/each}}

    </ul>
    <br>

<a href='/celebrities/new'><button type="button" class="btn btn-dark">Create a new celebrity!</button></a>
<a href='/'><button type="button" class="btn btn-dark">Go back!</button></a>
