<h2>Celebrities</h2>
{{#each celebrities}}
    <p><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
{{/each}}
<p><a href="/">back to movies page</a></p>
<p><a href="/new">Add a new celebrity</a></p>
 