<h1 class="display-4 m-5">Celebrities</h1>
<div class="container m-5">
  <div class="row">
    <div class="col">


      {{#each celebrities}}
      <form action="/celebrities/{{ this._id }}/delete" method="POST">
        <div class="card m-3">
          <div class="card-header">
            {{ this.name}}
            <button type="submit" class="btn btn-danger float-right">Delete</button>
            <a href="/celebrities/{{this._id}}" class="btn btn-primary float-right mr-2">View</a>
          </div>
        </div>
      </form>
      {{/each}}

      <div class="row">
        <div class="col text-center">
          <a href="/celebrities/new" class="btn btn-success ">Add New</a>
        </div>
      </div>

    </div>
  </div>
</div>