
<h2>Nombres de celebrities</h2>
<div>
  <ul>
    {{#each celebrities}}
    <li>{{name}}</li>
    <a href='celebrities/{{_id}}'>Ver detalles</a>
    <a href='delete/{{_id}}'>Borrar</a>
    {{else}}
      <li>Información no disponible aún</li>
    {{/each}}
  </ul>
  <a href='/create'>Añadir Celebrity</a>
 
</div>



