<div class="container mt-5">
    <h2>Celebrities</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Celebrity</th>
                    <th colspan="2" scope="col">Actions to perform</th>
                </tr>
            </thead>
            <tbody>
                {{#each celebridades}}
                <tr>
                
                    <td><a href="/celebrities/{{this._id}}">{{this.name}}</a></td>
                    <td>
                         <form action="/celebrities/{{this._id}}/delete" method="POST">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    <div>
        <a href="/celebrities/new" class="btn btn-info">Add a celebrity to the DB</a>
    </div>
</div>







