<h2>Celebrities</h2>


<ul>
  {{#each celebrities as |celebrity|  }}
  <li>
    <a href="">
      <strong>{{celebrity.name}}</strong>
    </a>
    <div>
      <a href=""></a>
    </div>
  </li>
  {{/each}}
</ul>
