<h2>Celebrities:</h2>


{{#each celebrities}}
<a href="/celebrities/{{this._id}}">
    <h2>{{this.name}}</h2>
   </a>
<form action="/celebrities/{{this._id}}/delete" method="POST">
    <input type="submit" value="Delete">
</form>
   

<br>

<a href="/celebrities/{{this._id}}/edit">Edit</a>

{{/each}}
<br>
<h3><a href="/celebrities/new">Add new celebrity</a></h3>