<h1>Celebrities</h1>
<% celebrities.forEach((e) => { %>
    <ul>
      <li><%= e.name %></li>
      <a href="/celebrities/<%= e._id %>">Show Details</a>
      <a href="/celebrities/new">Create New Celebrity</a>
    </ul>
  <% })%>
