<h2>Celebrities</h2>

<a href="/celebrities">Home</a>
<a href="/new">New</a>


<hr>

{{#each celebrities}}
    <a href="/celebrities/{{_id}}"> {{name}} </a>
    <br>
   <form action="/celebrities/{{_id}}/delete" method="post">
        <button type="submit">Delete Celebrity</button>
    </form>
{{/each}}

