<h2>Celebrities</h2>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    {{#each celebrities}}
      <li class="list-group-item">{{this.celebrities.name}}</li>
    {{/each}}
  </ul>
</div>
