
{{#each celebrities}}
<h1>Name: {{name}}</h1>
<h2>Occupation:</h2> <p>{{occupation}}</p>

<h2>Catchphrase:</h2> <p>{{catchPhrase}}</p>

<a href="/celebrities/{{_id}}">Go to celebrity details</a>
{{/each}}