<h2>Soy un encabezado</h2>

{{#each celebrity}}

      {{name}}
     <a href="/celebrities/{{_id}}" class="btn btn-link ">See More</a>
     <table>
     <form action="/celebrities/{{_id}}/delete" method="POST">
    <button type="submit">delete</button>
</form>

 </table>
   

{{/each}}

