<div class="row text-center">
  <h2 class="text-center">Celebrities</h2>
  {{#each celebrities as |celebrity|}}
  <div class="card text-center m-1" style="width: 20rem;">
    <div class="card-body">
      <a class="text-decoration-none" href="/celebrities/{{_id}}">
        <h5 class="card-title m-2">{{name}}</h5>
      </a>
      <p class="card-title m-2">{{occupation}}</p>
      <p class="card-title m-2">{{catchPhrase}}</p>
    </div>
  </div>
  {{/each}}
</div>