<h1> celebs</h1>
{{#each celeb}}

<p>{{name}}</p>
<a href="/celebrities/celeb-details/{{_id}}">Mas detalles</a>
<br><br>
<a href="/celebrities/update/{{_id}}">modifica!!</a>

{{/each}}
<br><br>
<div>
    <a href="/celebrities/new">Crea una nueva celebrity awwwwwwwwww tikitikiii</a>
</div>