<h2>Find all our celebrities here:</h2>
{{#each allCelebrities}}
<p>
    <li>{{this.name}}</li>
    <a href="/celebrities/{{this._id}}" class="button"> I WANNA KNOW MORE ABOUT THIS CELEBRITY</a>

</p>
{{/each}}