<div class="row d-flex justify-content-center align-items-center h-100">
  <ul class="list-group" id="celeb-list">
    {{#each celebs as |celebrity|}}
    <li class="list-group-item">{{celebrity.name}}</li>
    {{/each}}
  </ul>
</div>