<h2>All celebrities</h2>
<ul>
    {{#each celebrities}}
    <!--IT 2 <p>{{this.name}}</p> -->
    <li>
        <!--IT 3-->
        <a href="/celebrities/{{_id}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>

<a href="/celebrities/new">Create a new celebrity!</a>