<h2>Celebrities</h2>

<ul>
<% celebrities.forEach((celebrity) => { %>
  <li><a href="/celebrities/<%= celebrity.id %>"><%= celebrity.name %></a></li>
<% }) %>
</ul>

<a href="/celebrities/new">Create a new celebrity</a>
