{{#each celebrities}}
    <h2>{{name}}</h2>
    <a href="/celebrities/{{id}}">View details!</a>
    {{!-- <form action="/celebrities/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form> --}}

{{/each}} 