<h2>Celebrities</h2>
{{#each celebrities}}
<ul>
  <li> <a href="/celebrities/{{id}}">{{name}}</a>
<form action="/celebrities/{{_id}}/delete" method="post">
      <button type="submit"> Delete </button>
    </form>
</ul>
{{/each}}
<br>
<br>

<a href="/">Go back</a>