<h2>Celebrities</h2>
<ul>
{{#each dbCelebs}}
<li><a href="/celebrities/{{this._id}}">{{this.name}}</a></li>
<form action="/celebrities/{{this._id}}/delete" method="post">
<button type="submit">Delete</button>
</form>
{{/each}}
</ul>
<a href="/celebrities/new">Add another celebrity</a>