<h2><ul>
    <% celebrities.forEach((celebrities) => { %>
      <li>
         Name: <%= celebrities.name %>  
         Occupation: <%= celebrities.occupation %> 
         Catch Phrase: <%= celebrities.catchPhrase%>
      </li>
    <% }) %>
  </ul></h2>