<ul>
{{#each allCelebritiesFromDB }}
<li>
    <a href="/celebrities/{{this._id}}">{{this.name}}</a>
    <h3> {{this.occupation}} </h3>
    <h3> {{this.catchPhrase}} </h3>
</li>
{{/each}}
</ul>
<a href="/celebrities/new">Add a new celebrity</a>