<main class="list__wrapper">
    <h1>celebrities</h1>
    <section>    
        {{#each celebrities}}
        <div>
            <h3>{{name}}</h3>
            <a href="/celebrities/{{this._id}}">see celeb</a>
        </div>
        {{/each}}
    </section>
</main>