<section>

 <h2> Celebrities</h2>
{{#each celebrities}}
<div>
      <a href="/celebrities/{{this.id}}">{{this.name}}</a>
</div>

{{/each}} 

<a href="/celebrities/new">Add a new Celebrity</a>

</section>
