<h2>All Celebrities</h2>
{{#each celebrities }} 
    <a href="/celebrities/{{_id}}">
        <h4>{{name}}</h4>
    </a>
<form action="/celebrities/{{id}}/delete" method="POST">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
{{/each}}

