<h2>Lista de Celebridades</h2>
<ul>
{{#each celebrities}}
    <li>{{this.name}} {{this.occupation}} {{this.catchPhrase}}</li>
  {{/each}}
</ul>

<p><a href="/celebrities/new">Add New Celebrity</a></p> 