<h2>ALL OUR Celebrities</h2>
<ul>
    <% celebrities.forEach((celeb) => { %>
        <li>
        <%= celeb.name %> - <%= celeb.occupation %> - <%= celeb. catchPhrase %>
        </li>
    <%  }) %>
</ul>