<h2>Personajes Tierra Media</h2>

{{#each celebrities}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
  </div>
  <form action="/celebrities/delete/{{this._id}}" method="POST"><button type="submit">Borrar</button></form>
  <form action="/celebrities/edit/{{this._id}}"><button type="submit">Editar</button></form>
</div>
{{/each}}

<div><a href="/">Portada</a></div>
<div><a href="/celebrities/new">Crea un nuevo personaje</a></div>