<h2>Find all our celebrities here:</h2>
{{#each allCelebrities}}
<p>
    <li>{{this.name}}</li>
    <a href="/celebrities/{{this._id}}" class="button"> I wanna read more about this celebrity</a>


</p>
{{/each}}

<a href="/celebrities/new">Create a new celebrity</a>