<header>
  <h2>All the Celebrities</h2>
</header>

<div class="allCelebrities">
  <ul>
    {{#each celebritiesDisplay}}
    <li class="eachCelebrityName">
      <h3>{{this.name}}</h3>
    </li>
    {{/each}}
  </ul>

  <a href="/">Back Home</a>

</div>