<h2>Celebrities:</h2>
<ul>
  {{#each celebrities}}
  <form action="/celebrities/{{this._id}}/delete" method="post">
    <li>
      <a href="/celebrities/{{this._id}}">{{this.name}}</a>
      <input type="submit" value="Delete celebrity">
    </li>
  </form>
  {{/each}}
</ul>
<a href="/celebrities/new">Add a new celebrity</a>