<h2>Celebrities</h2>
{{#each celebrities}}
<a href="/celebrities/{{this._id}}/show">{{this.name}}</a>
<button><a href="/celebrities/{{this._id}}/edit">edit</a></button>
<form method="post" action="/celebrities/{{this.id}}/delete">
<button type="submit">delete</button>
</form>
{{/each}}
<a href="/celebrities/new">Add a new celebrity!</a>