<h2>Celebrities</h2>

<div class="grid-container">
    {{#each celebritiesFromDB}}
    <div class="grid-item">
        <h3>{{this.name}}</h3>
        <a href="/celebrities/{{this.id}}">Read more</a>
        <form action="/celebrities/{{this.id}}/delete" method="POST">
            <button>Delete this celebrity</button>
        </form>
    </div>
    {{/each}}
</div>
<hr>
<a href="/celebrities/new">DIY Celebrity</a>