<h2>Celebrity Database</h2>
<h3><a href="/celebs/create-celeb">Create a celeb</a></h3>
<ul>
    
{{#each result}}
<li>
    <h2><a href="/celebs/details/{{this._id}}">{{this.name}}</a></h2>
    
    <form action="/celebs/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
</li>
{{/each}}

</ul>
