<h1>Celebrities</h1>


<div class="celebritiesAll">
{{#each celebrities}}

    <div >

            <div class="card-body">
                <h3 ><a href="/celebrities/{{_id}}">{{this.name}}</a></h3>
                
            </div>

        </div>

{{/each}}
</div>