<div>
    <h2>Celebrities</h2>
    <ul>
        {{#each celebrities}}
        <li><a href="/celebrities/{{this._id}}">{{name}}</a></li>
        <form method="GET" action="celebrities/{{this._id}}/edit">
            <button type="submit">MODIFY</button>
        </form>
        <form method="POST" action="celebrities/{{this._id}}/delete">
            <button type="submit">REMOVE</button>
        </form>
        {{/each}}
    </ul>
    <a href="/celebrities/new">ADD</a>
</div>