<h2>List of celebrities</h2>


<% celebrities.forEach((celebrity) => { %>
<form action="celebrities/<%=celebrity._id%>/delete" method="post">
  <p><a href="/celebrities/<%=celebrity._id%>"> <%=celebrity.name%></a></p>
  <button type="submit">Delete</button>
</form>
<% }) %>


<a href="celebrities/new">Create a new celebrity</a>