<h2>Celebrities</h2>
{{#each celebrities}}
    <p>
        <a href="/celebrities/{{this._id}}">{{this.name}}</a> 
    </p>
    <a href="/celebrities/{{this._id}}/edit">EDIT</a>
    <form action="/celebrities/{{this._id}}/delete" method="post">
        <button type="submit">DELETE</button>
    </form>
    
{{/each}}
  <p><a href="/celebrities/new">ADD NEW CELEBRITY</a></p>
  