<h1>Lista de celebridades</h1>

    <div>
      
        {{#each cels}}
            <h2>Nombre</h2>
            <h3>{{name}}</h3>
           
        {{/each}}
      
    </div>
  
 <a href="/celebrities/:id">Ir a la lista de celebridades</a>