<h2>Super Stars</h2>
    <ul>
  {{#each allCelebrities}}
  <li>{{this.name}}</li>
  <a href="/celebrities/{{this._id}}">see more</a>
  <a href="/celebrities/{{this._id}}/edit">edit</a>
  <form action="/celebrities/{{this._id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
    </ul>
  <a href="/celebrities/new">new celebrity</a>