<section>
    <div class            = "row">
        <div class        = "col-lg-8 d-flex mx-auto my-3 py-3 flex-column justify-content-center">
            <h2 class     = "text-center" id="tituloMovies">Celebrities Page</h2>
        </div>
    </div>
    <div class            = "d-flex flex-wrap">
        {{#each celebrities}}
        <div class        = "card my-5 mx-5 shadow text-center " style="width: 22%;" id="eachCard">
            <div class    = "card-body bg-white col justify-content-center rounded">
               <a href    = "/celebrities/{{this._id}}"> <h2 class="card-title p-3 mx-auto text-black">{{this.name}}</h2></a>
            </div>
            <form method="POST" action="/celebrities/{{id}}/delete">
                <button type="submit" class="btn btn-danger">DELETE</button> 
            </form>
                <a href="/celebrities/{{id}}/edit">
                <button type="submit" class="btn btn-danger">Edit</button>
                </a> 
        </div>
        {{/each}}
    </div>
            <form method="POST">
  <div class="form-group">
    <a href="celebrities/new">Create New Celebrity</a>
    <a href="/">Back to Home Page</a>
</section>