<h2>Here are your celebrities</h2>
<div>
    {{#each celebrities}}
    <a href="/celebrities/{{_id}}">{{name}}</a>
    <form action="/celebrities/{{_id}}/delete" method="POST">
        <button>OBLITERATE THIS PERSON</button>
    </form>

    </br>
    {{/each}}
</div>
</br>
<a href="/celebrities/new">Add your own celebrity!</a>