<h2>GET /celebrities</h2>
<a href="/">Index</a>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Occupation</th>
        <th scope="col">Catch Phrase</th>
      </tr>
    </thead>
    <tbody>
    <% celebrities.forEach( (celebrity) => { %>
        <tr>
            <td><%= celebrity.name %></td>
            <td><%= celebrity.occupation %></td>
            <td><%= celebrity.catchPhrase %></td>
        </tr>
    <% }) %>
    </tbody>
</table>