<h1>Celebs</h1>
  <ul>
    <% celebrities.forEach((celebrities) => { %>
      <li>
        <%= celebrities.name %>
        <a href="/celebrities/<%= celebrities._id %>">View Details</a>
        <form method="POST" action="/celebrities/<%= celebrities._id%>/delete">
        <button type="submit">See ya</button>
        </form>
      </li>
    <%  }) %>
  </ul>