<h2>All celebrities <a class="go-back-link" href="/">&lt; Back to home</a></h2>
{{#each celebrities}}
  <div class="celebrity-card">
    <span>{{this.name}}</span>
    <a href="/celebrities/{{this._id}}/edit">edit</a>
    <a href="/celebrities/{{this._id}}">details</a>
    <form action="/celebrities/{{this._id}}/delete" target="_self" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
{{/each}}

<br>

<a href="/celebrities/new">Add a celebrity</a>
