<h2>Celebrities</h2>
{{#each celebrityInDB}}
 <a href="/celebrities/{{_id}}">{{name}}</a>
 <form action="/celebrities/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
{{/each}}

<a href="/celebrities/new">Create a new Celebrity</a>