<h2>Celebrities List</h2>

{{#each celebrities}}
<br><br>
<a href="/celebrities/{{_id}}">{{name}}</a>
<form action="/celebrities/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>

{{/each}}