<h2>{{title}}</h2>

{{#each celebrities}}
<div>
  <div>
    <a href="/celebrities/:{{this.id}}">{{this.name}}</a>
    <form action="/celebrities/:{{this.id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
{{/each}}

<div><a href="/celebrities/new">Add new celebrity</a></div>