<h2>Celebrities</h2>

{{#each celebrity}}
{{this.name}}
<a href="/celebrities/{{this._id}}">Show Celebrity</a>
<a href="/celebrities/{{this._id}}/delete">Delete Celebrity</a>
{{/each}}

<a href="/celebrities/news">Add a new celebrity</a>