<h2>Celebrities</h2>
{{#each celebrities}}
<a href="/celebrities/{{this._id}}">{{this.name}}</a>
<form method="post" action="/celebrities/{{this.id}}/delete">
<button type="submit">delete celebrity</button>
</form>
{{/each}}
<a href="/celebrities/new">Add a new celebrity!</a>