<h2>Celebrities</h2>
<ul>
    {{#each celebrities}}
    <li>{{this.name}}</li>
    <button><a href="/celebrities/{{ this._id }}">Show details</a></button>

    <form action="/celebrities/{{ this._id }}/delete" method="POST">

        <button type="submit">Delete Celebrity</button>
    
    </form>

    
        <button><a href="/celebrities/{{ this._id }}/celebrity-edit">Edit Celebrity</a></button>
    

    {{/each}}
    <br>
    <button><a href="/celebrities/new">Add a Celebrity</a></button>
</ul>