<div class="container">
    <div class="celebrities card-list">
        {{#each celebrity}}
        <div class="card card--celebrity">
            <h3 class="card_name">{{name}}</h1>
            <div class="card_buttons">
                <form action="/celebrities/{{_id}}/delete" method="post">
                    <button type="submit" class="btn btn-md btn-primary btn-outline">Delete</button>
                </form>
                <a href="/celebrities/{{_id}}/edit" class="btn btn-md btn-secondary btn-outline">Edit</a>
                <a class="btn btn-md btn-primary" href="/celebrities/{{_id}}">View Details</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
