{{#each celebrities}}
<h2><a class="boton marginTop" href="/celebrities/{{_id}}">{{name}}</a></h2>

<form action="/celebrities/{{_id}}/delete" method="post">
   <input class="boton" type="submit" value="Delete">

</form>
<h2><a class="boton" href="/celebrities/{{_id}}/edit">Edita personaje</a></h2>
{{/each}}


<h2><a class="boton marginBot" href="/celebrities/new">Crear nuevo personaje</a></h2>
