<h2>Celebrities</h2>
<div>
<a href="./new">Add new</a>
</div>
{{#each actors}}
<a href="./show/{{_id}}">{{name}}</a>
<form action="/celebrities/{{_id}}/delete" method="POST" >
  <button type="submit">Delete</button>
</form>
{{/each}}