<h2>Celebrities</h2>

<ul>
    {{#each celebrities}}

    <li> <a href="/celebrities/{{this._id}}"> {{ name }} </a> </li>
    <form action="/celebrities/{{id}}/delete" method="post">
        <button>Delete</button>
    </form>
    {{/each}}
</ul>