<h2>Our favorite Celebrities!</h2>
{{#each celebrityDocs}}
<p><a href="/celebrities/celebrity/{{id}}">{{name}}</a></p>
<form action="/celebrities/{{id}}/delete" method="post">
  <button type="submit">Delete celebrity</button>
</form>
{{/each}}

<form action="celebrities/new" >
  <input type="submit" value="Add new celebrity">
</form>
