{{> navBar_celebrities}}
<div class="container">
    <div class="row">
        {{#each celebrities}}
                <div class="card text-center m-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title mb-2"><strong>{{name}}</strong></h5>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
