<h2>Celebrities list</h2>
<ul>
  {{#each celebrities}}
  <li><a href="/celebrities/{{_id}}">  {{name}}</a>
  <a href="/celebrities/{{_id}}/delete">Delete</a>
  </li>
  {{/each}}
</ul>

<a href="/celebrities/add/new">Add new celebrity</a>

