<h2>List of Celebrities</h2>
{{#each celebrityList}}
<p><a href='/celebrities/celebrity/{{id}}'>{{name}}</a></p>
<form action='/celebrities/{{id}}/delete' method='post'>
<a href="/celebrities/edit/{{id}}">EDIT</a></p>
<button type='submit'>Delete</button>
</form>
{{/each}} 
<h3><a href='celebrities/new'>Add a new Celebrity!</a></h3>
<h3><a href='/'>Return to Main</a></h3>