<h2>
    {{#each celebrities}}

    <div><a href="/celebrities/{{id}}">{{name}}</a>
        <form action="celebrities/{{id}}/delete" method="POST">
            <button type="submit">delete</button></form>
    </div>

    {{/each}}

    <a href="/celebrities/new">NEW CELEBRITY</a>
</h2>