<h2>Celebrities</h2>
{{#each celebrities}}
    <a href="/celebrities/{{this._id}}"><p>{{this.name}}</p></a>
    <form action="celebrities/{{this.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{/each}}
<a href="/celebrities/new"><p>New Celebrity</p></a>