<h2>Celebrities</h2>
  <ul class="list-group list-group-flush">
    {{#each celebrities}}
      <div class="row">
        <div class="col-8">
          <li class="list-group-item"><a href="/celebrities/{{this._id}}">{{this.name}}</a></li>
        </div>
        <form action="/celebrities/edit/{{this._id}}" method="GET">
          <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
        </form>
        <form action="/celebrities/delete/{{this._id}}" method="GET">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </div>
    {{/each}}
  </ul>
<br />
<button type="button" class="btn btn-primary"><a href="/celebrities/new" style="text-decoration: none; color:white">Add Celebrity</a></button>
