<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Celebrities</title>
</head>
<body>
  <h2>Celebrities List</h2>
  <div class="list">
    <% celebrities.forEach(celebrity =>{ %>
      <div class ="cards">
      <a href="./celebrities/<%= celebrity._id %>"> <%= celebrity.name %></a>
      </div>
    <% }) %>
    <a href="./celebrities/new"> Create a new celebrity </a>
  </div>
</body>
</html>