<h1>celebrities</h1>
<% celebrities.forEach((celebrity) => { %>
  <p><%= celebrity.name %></p>
  <a href="/celebrities/<%= celebrity._id %>"> Profile</a>
  <form class="" action="/celebrities/<%= celebrity._id %>/delete" method="POST">
  <button type="submit" name="button">delete</button>
</form>
<% }) %>
<br>
<br>
<br>
<a href="/celebrities/new">New celebrity</a>
