<h2>Celebrities index</h2>

<ul>
  {{#each celebrities}}
  <li>
    <a href="/celebrities/{{_id}}">{{name}}</a>
    <a href="/celebrities/{{_id}}/delete">| Delete celebrity</a>
    <a href="/celebrities/{{_id}}/edit">| Update celebrity info</a>
  </li>
  {{/each}}
</ul>

<h2>End of index</h2>

<a href="/celebrities/new">Add a new thing</a>
