<h2 class="mb-5">Celebrities</h2>

<a href="/celebrities/new" class="btn btn-success float-right mb-4">+ Add new</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Occupation</th>
            <th scope="col">Catch Phrase</th>
        </tr>
    </thead>
    <tbody>
        {{#each celebrities}}
        <tr>
            <td> <a href="/celebrities/{{_id}}">{{name}}</a></td>
            <td>{{occupation}}</td>
            <td>{{catchPhrase}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>