<h2>Mongo Celebrities</h2>
<div class="celebrities">
  {{#each celebrities}}
  <div class="celebritydetails">   
    <div class="celebritylink"><a href="/celebrities/{{this._id}}">{{this.name}}</a> 
    <div class="formscontainer" style="float:right">
      <form action="/celebrities/{{this._id}}/delete"  method="post">
        <div><button type="submit" class="buttondel">Delete</button></div>
      </form>  
      <form action="/celebrities/{{this._id}}/edit"  method="get">
        <div><button type="submit" class="buttondel">Edit</button></div>
      </form>   
    </div> 
         
  </div>   
  </div>
  {{/each}}
  <br>
  <br>
  <a href="/">Home</a>
</div>