<h2>Celebrity Home Page</h2>


<ul>
  {{#each celebrityArray}}
  <li>
    <a href="/celebrities/{{this._id}}">{{this.name}}</a>
  </li>
  <li>
    <a href="/celebrities/{{this._id}}">Celebrity Details!</a>
  </li>
  {{/each}}
</ul>