<section id="celebrities">
  <div class="container">
    <h2>Celebrities</h2>
    {{#each celebrities}}
      <div>
        <a href="/celebrities/{{_id}}">{{name}}</a>
      </div>
    {{/each}}
  </div>
</section>