<h2>Celebrities Page</h2>
<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li><a href="/celebrities/<%= celebrity.id%>"><%= celebrity.name %></a></li>
    <form action="/celebrities/<%= celebrity.id%>/delete" method="post">
      <button type="submit">delete</button>
    </form>
  <% }) %>
</ul>
