<h2>CELEBRITIES</h2>
{{#each celebrities}}
<div>
<p><a href="celebrities/{{this._id}}">{{this.name}}</a> - <a href="celebrities/{{this._id}}/edit">Edit</a><form action="/celebrities/{{this._id}}/delete" method="post"><button type="submit">DELETE</button>
</form></p>
</div>
{{/each}}

<a href="/new">Add New Celebrity</a>