
<div class="container w-50">
  <div class="row align-items-center">
    <h1>Celebrities List</h1>
    <div class="col">
      <ul class="list-group">
        {{#each celebrities}}
          <li class="list-group-item">
            <h2 class="fs-3 text-secondary">{{name}}</h2>
            <div class="container mt-3">
              <div class="row">
                <div class="col-auto mb-2">
                  <form action="/celebrities/{{_id}}" method="get">
                    <button type="submit" class="btn btn-outline-secondary px-3 py-1">Details</button>
                  </form>
                </div>
                <div class="col-auto mb-2">
                  <form action="/celebrities/{{_id}}/delete" method="post">
                    <button type="submit" class="btn btn-outline-danger px-3 py-1">Delete</button>
                  </form>
                </div>
                <div class="col-auto mb-2">
                  <form action="" method="post"> <!-- todo route -->
                    <button type="submit" class="btn btn-outline-primary px-3 py-1">Update</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <div class="col-auto">
      <form action="/celebrities/new" method="get">
        <button type="submit" class="btn btn-outline-success px-3 py-1">Add</button>
      </form>
    </div>
    <div class="col-auto p-0">
      <form action="/" method="get">
        <button type="submit" class="btn btn-outline-secondary px-3 py-1">Back</button>
      </form>
    </div>
  </div>
</div>