
<div class="container">
        <h2>List of Celebrities</h2>
    <div class="row">
        {{#each allCelebs}}
            <div class="col-md-4 row-index">

                    <h4>
                        {{name}}
                    </h4>
                    <a class="btn btn-dark btn-sm" href="/celebrities/show/{{id}}">View details</a>
                    <form action="/celebrities/{{id}}/delete" method="POST">
                        <button type="submit" class="btn btn-dark btn-sm">Delete Celebrity</button>
                    </form>
                    <form action="/celebrities/{{id}}/edit" method="GET">
                        <button type="submit" class="btn btn-dark btn-sm">Edit Celebrity</button>
                    </form>
            </div>
        {{/each}}
    </div>
</div>