<h1 style="margin-top: 50px">Celebritieeeessss</h1>
<h3>Uiba que chorrazo!!</h3>

<div style="margin: 20px 0px">
<ul class="list-group" style="margin-top: 70px; max-width: 800px;">
{{#each celebrity}}
  <li class="list-group-item" style="display: flex;align-items: center;">
    <a style="float: left; font-size: 18px" href="/celebrities/{{_id}}">{{name}}</a>
    <form action="/celebrities/delete/{{_id }}" method="POST">
      <input class="btn btn-primary" type="submit" value="Borrar" style="margin: 15px;">
    </form>
    <form action="/celebrities/edit/{{_id }}" method="GET">
      <input class="btn btn-primary" type="submit" value="Editar" style="margin: 15px;">
    </form>
 
  </li>
{{/each}}
</ul>
</div>

<a class="btn btn-primary" href="/celebrities/new" role="button" style="max-width: 200px; margin-top: 60px">Crear Nuevo</a>