<div>
  <h2>Celebrities</h2>
  {{#each celebrity}}
  <p><a href="/show/{{id}}">{{name}}</a></p>
  <form method="POST" action="{{id}}/celebrities-delete/">
    <p><a href="/edit/{{id}}">edit</a></p>
    <button>Delete</button>
  </form>
  {{/each}}
</div>