<h2>Celebrities</h2>

<section class="list">
  <a href="/celebrities/new/" class="add">Add a new celebrity</a>

  {{#each data}}
  <ul class="poster">
    <li><a href="/celebrities/{{this._id}}">{{this.name}}</a></li>
    <li class="links">
      <form action="/celebrities/{{this._id}}/delete" method="POST"><button>Delete</button></form>
      <form action="/celebrities/{{this._id}}/edit" method="POST"><button>Edit</button></form>
    </li>
  </ul>
  {{/each}}
</section>