<div>
    <a href="/celebrities/new">Create new celebrity</a>
  <h2>
    {{#each celebrities}}
    <div>{{name}}</div>
    <a href="/celebrities/{{_id}}">See more</a>
    <form action="/celebrities/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
    </form>
    {{/each}}
  </h2>

</div>