<div class="container">
  <h2>Celebrities</h2>
  <a href="/celebrities/new" class="newCelebrity">New Celebrity</a>
  <p>Celebrities saved: </p>
  <div class="list">
    {{#each celebrities}}
    <div class="element">
      <a href="/celebrities/{{this._id}}" >{{this.name}}</a>
      <form action="/celebrities/{{this._id}}/delete" method="post">
        <div class="form-group">
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>

      <form action="/celebrities/{{this._id}}/edit" method="post">
        <div class="form-group">
          <button type="submit" class="btn btn-info">Edit</button>
        </div>
      </form>
    </div>
    {{/each}}
  </div>
</div>