<h2> List of Celebrities </h2>

<ul>
<%  differentCelebs.forEach((oneCeleb)=>{ %>
    <li>
      <h3> <%= oneCeleb.name %> </h3>
      <a href="/celebrities/<%= oneCeleb._id %>"> View Details </a>
                        <!-- req.query.myId -->
      <br>




      <form method='post' action='/celebrities/<%= oneCeleb._id %>/delete'>
          <button> Delete Button (POST) </button>
        </form>
<%  }); %>
</ul>

<a href="/"> Home </a>
