<h2>All Celebrities</h2>

<div class="celebrityListing">
  {{#each celebrity}}
  <h3><a href='/celebrities/{{this._id}}'>{{this.name}}</a></h3>
  <form action="/celebrities/{{this._id}}/delete" method="post">
  <input type="submit" value="Delete">
</form>
  {{/each}}
</div>
<br>
<br>
<div>
  <a href="/celebrities/new">Create a New Celebrity</a>
</div>