<div class="container">
    <div class="row">
        <h2>Celebrities</h2>
        <!--<p>Welcome to BBDD of Celebrities</p>
        --><div class="col-12 col-md-3"></div>
     
        <div>
            <ul>
                {{#each celebrities}}
                <li>
                    <h3>{{name}}</h3>
                    <a href="/celebrities/{{_id}}" class="btn btn-outline-secondary btn-sm">See More</a>
                    <a href="/celebrities/edit/{{_id}}" class="btn btn-outline-info btn-sm" >Update</a>
                    <a href="/celebrities/delete/{{_id}}" class="btn btn-outline-danger btn-sm">Delete</a>
                </li>
                {{/each}}
            </ul>
        </div>

   


    </div>

    <a href="/" class="btn btn-outline-primary btn-sm">BACK</a></div>
    <a href="/celebrities/new" class="btn btn-outline-warning btn-sm">Add a new Celebrity</a></div>
 </div>
</div>



