<h2> Celebrities </h2>
  <ul>

    {{#each data}}
  
      <li> {{name}} <br>
            
      
      </li>
      <a href="/celebrities/{{_id}}">Details</a>
      <a href="/celebrities/delete/{{_id}}">Delete</a> <p>

    {{/each}}
  
  </ul>
  