<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h2>Welcome to the celebrities home page</h2>

  {{#each celebs}}
  <a href="/celebrities/{{this.id}}"></a>{{this.name}}</a>
  {{/each}}

  <br>
  <a href="/">back to main</a>
</body>

</html>