<h2>Celebrities</h2>
<a href="/new">ADD CELEBRITY</a><br>
{{#each allCelebrities}}

<a href="/celebrities/{{this._id}}">
    {{name}}
</a>
<a href="/celebrities/{{this._id}}/delete">Delette</a>
<br>

{{/each}}