<h2> List of all celebrities </h2>

<table class="table table-bordered table-striped">
    <tr>
        <th> View Celebrity </th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>

    {{#each celebrities}}
    <tr scope="row">
        <td><a href="/celebrities/{{this._id}}"> {{this.name}} </a></td>
        <td> <a href="/edit-celebrities/{{this._id}}"> Edit </a></td>
        <td>
            <form method="post" action="/celebrities/{{this._id}}/delete">
                <button class="fa fa-trash del-btn " type="submit"> Delete </button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<a class="mx-40 text-center btn btn-primary add-btn" href="/new-celebrity">Add a new Celebrity </a>