<h2>Celebrities</h2>
{{#each allCelebrities}}
<li>
  <a href="./show/{{this._id}}">{{this.name}}</a>
  <form action="celebrities/{{this._id}}/delete" method="POST">
    <button type="submit">Delete</button> 
  </form>
  <form action="celebrities/{{this._id}}/edit" method="POST">
    <button type="submit">Edit</button>
  </form>
</li>
{{/each}}

<a href="./celebrities/new">Create you own celebrity</a>
<a href="./">Home</a>

