<h2>{{title}}</h2>
<button><a href="/celebrities/new">add new Celebrity</a></button>
<ul>
  {{#each celebritiesArr}}
  <li>
    <a href="/celebrities/{{_id}}">
      {{this.name}}
    </a>
  </li>
  {{/each}}
</ul>