<h2>My celebrities</h2>
    {{#each celebrities}}
    <div class="celebrity-container">
        <ul>
        <li><h3>{{this.name}}</h3><br>
        <a href="/celebrities/show/{{this._id}}">More details</a>
        <p><a href="/celebrities/{{this._id}}/edit">EDIT</a></p><br>
        <form action="/celebrities/{{this._id}}/delete" method="post">
        <button type="submit">DELETE</button>
        </form>
        </li>
        </ul>
    </div>
    {{/each}}
<br>
<br>
<div>
<a href="/celebrities/new">CREATE MY CELEBRITY</a>
</div>