<h1>List of Widely Known, Not Necessarily Happy People</h1>

{{#each celebrities}}

<h2>the underrated, drumroll please... {{this.name}}</h2>

<a href="/celebrities/{{this._id}}">More Info</a>

  {{/each}}
     
     <br><br><br>

  <a href="/">Home</a>