<main class="list__wrapper">
    <h1>celebrities</h1>
    <section class="drones__wrapper">    
        {{#each celebrities}}
        <div class="drone__wrapper">
            <h3>{{name}}</h3>
            <div class="drones__text">
                <p>What do: {{occupation}}</p>
                <p>What say: {{catchPhrase}}</p>
            </div>
        </div>
        {{/each}}
    </section>
</main>