<h2>The whole list of celebrities</h2>
<div class="celebrities-list">
  {{#each celebrities}}
  <div class="celebrity">
    <h3>{{this.name}}</h3>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
  </div>
  {{/each}}
</div>