<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Celebrities</title>
</head>

<body>
    <h2>Welcome to the celebrities home page</h2>
    
    <br>

    <a href="/celebrities/new">Add Celebrity</a>

    <br><br>

    {{#each celebs}}

    <a href="/celebrities/{{this.id}}">{{this.name}}</a>
    <br>

    <form action="/celebrities/{{this.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>

    <form action="/celebrities/{{this.id}}/edit" method="GET">
        <button type="submit">Edit</button>
    </form>

    {{/each}}


</body>

</html>