{{#each celebrities as |celebrity|}}
    <h2>{{celebrity.name}}</h2>

    <a href="/celebrities/{{celebrity.id}}">{{celebrity.name}}</a>

    <a href="/celebrities/new">Add New Celebrity</a>

    <form action="/celebrities/{{celebrity._id}}/delete" method="POST">
    <button type="submit" class="btn btn-danger btn-sm text-white mr-3">Delete Celebrity</button>
    </form>
{{/each}}