<h2>Esta la web de celebrities</h2>

<div>
  {{#each celebrities}}
  <div class="celebrities"></div>

  <p>{{name}}</p>
  <a href="/celebrities/{{_id}}">+Info</a>


</div>
{{/each}}

<p><a href="/celebrities/new">Crear nueva celebrity</a></p>

</div>