<h2>Celebrities!!</h2>

{{#each celebrities}}
  <h2>{{this.name}}</h2>
  <a href="/celebrities/{{this.id}}">Check out the celebrities</a>
{{/each}} 

<br>
<br>
<br>
<a href="/celebrities/new">Add a new artist!</a>