<h2></h2>


{{#each celebrities}}

    <p>{{this.name}}</p>
    <a href="/celebrities/{{this._id}}">See Details</a>
    <a href="/celebrities/delete/{{this._id}}">delete this celebrity</a>
    
    
{{/each}}

<a href="/celebrities/new">Add a celebrity!</a>
