<h1 class="display-4 m-5">Celebrities</h1>
<div class="container m-5">
  <div class="row">
    <div class="col">

      {{#each celebrities}}

      {{!-- vistaparcial --}}
      {{!-- {{> celebName this }}  --}}
      {{/each}}

    </div>
  </div>
</div>