<h2>Celebrities List</h2>

<button><a href="/celebrity-add">Add celebrity</a></button>

<ul>
  {{#each celebResult}}
  <li>
    <p>Start :{{this.name}}</p>
    <button><a href="/celebrities/{{this._id}}">Show Details</a></button>
  </li>
  {{/each}}

</ul>