<h2>Celebrities</h2>

<div>
  {{#each celebrities}}
    <div>
      <h5>Name: {{this.name}}</h5>
      <p>Occupation: {{this.occupation}}</p>
      <p>Catch phrase: {{this.catchPhrase}}</p>
    </div>
    <hr>
  {{/each}}
</div> 

