<h2>My celebrities</h2>
  <ul>
{{#each celebrities}}
<li><a href="/celebrities/{{this._id}}">{{this.name}}</a></li>

<form action="/celebrities/{{this.id}}/delete" method="POST">
  <button type="submit">Delete </button>
</form>
<form action="/celebrities/{{this.id}}/edit" method="GET">
  <button type="submit">Edit</button>

</form>
{{/each}}
  </ul>



<p><a href="/celebrities/new">Create One</a></p>