<h2>Celebrities list</h2>
{{#each celebs}}
    <form action="celebrities/{{this._id}}/delete" method="POST">
        <p>
            <a href="/celebrities/{{this._id}}">{{this.name}}</a>
            <button type="submit">Remove</button>
        </p>
    </form>
{{/each}}
<br>
<a class="add-button" href="/celebrities/new">Add a celebrity</a>