<h2>Here you have your football players:</h2>
{{#each index}}
<h2>{{name}}</h2>
<p><a href="/celebrities/{{_id}}">View details</a></p>
<p><a href="/celebrities/{{_id}}/edit">Edit</a></p>
<p><a href="/celebrities/{{_id}}/delete">Delete</a></p>
  {{/each}}