<h2>Celebrities</h2>
<div class="celebrities-container">
    {{#each celebrities}}
    <span class="celebrity">
        <a href="/celebrities/{{this._id}}">{{this.name}}</a>
        <div class="form-btns">
            <form action="/celebrities/{{this._id}}/delete" method="post"><button>Delete</button></form>
        </div>
    </span><br>
    {{/each}}
</div>
<br><br>
<a href="/celebrities/new">>> Create Celebrity</a><br>
<a href="/">>> Go back</a>