<h1>Celebrities List</h1>
{{#each celebrities}}
  <a href="/celebrities/{{_id}}">
    <h2>{{name}}</h2>
    <form action="/celebrities/{{_id}}/delete" method="post"><button type="submit">Delete</button></form>
  </a>
  <hr>
{{/each}}
<a href="/celebrities/new">ADD</a>