<h2>CELEBRITY</h2>
<ul>
   <% celebrities.forEach((celebrity) => { %>
       <li>
       <%= celebrity.name %> - <%= celebrity.occupation %> - <%= celebrity.catchPhrase %>
       </li>
   <%  }) %>
</ul>
