<h2>Celebrities</h2>

<ul>
    <% celebrities.forEach((oneCelebrity) => { %>
        <li><a href="/celebrities/<%= oneCelebrity._id %>"><%= oneCelebrity.name %></a><br>
        <a href="/celebrities/<%= oneCelebrity._id %>/edit">Edit</a>
        <br>
        <form action="/celebrities/<%= oneCelebrity._id %>/delete" method="post"><button>Delete</button></form></li>
    <% }); %>
</ul>

<a href="/celebrities/new">Add A Celebrity</a>
