<h2>Celebrities</h2>
<br>
 <div class="row">
    {{#each celebrities as |celebrity|}}
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img src="{{celebrity.image}}">
        </div>
        <div class="card-content">
          <span class="card-title black-text">{{celebrity.name}}</span>

        </div>
        <div class="card-action">
          <a href="/celebrities/{{celebrity.id}}">Show more</a>
        </div>
      </div>
    </div>
  {{/each}}
  </div>