<div class="container">
  <br>
  <br>
  <h2>Celebrities</h2>
  <br>
  <div class="row">
    {{#each celebrity}}
    <div class="col-4">
      <p>{{this.name}}</p>
      <a href="/celebrities/{{this._id}}">
        <button class="btn btn-primary">Show details</button>
      </a>
      <form action="/celebrities/{{this._id}}/delete" method="post">
        <button class="btn btn-secondary" type="submit">Delete Celebrity</button>
      </form>
    </div>
    {{/each}}
  </div>
</div>
<br>
<br>
<div class="container">
  <a href="/celebrities/new">
    <button class="btn btn-primary">Add another 'Celebrity'</button>
  </a>
  <a href="/">
    <button class="btn btn-primary">Return to Start Page</button>
  </a>
</div>