<h2>Celebrities</h2>
<ul>
  {{#each celebrities}}
  <form method="POST" action="/celebrities/{{this._id}}/delete">
    <li>
      <a href="/celebrities/{{this.id}}">
        <h3>{{this.name}}</h3>
      </a>
      <button>Delete Celibrity</button>
    </li>
  </form>
  {{/each}}
</ul>
<a href="/celebrities/new">Add a new celibrity</a>