<h2>List of all celebrities</h2>
<ul>
{{#each allCelebrities}}
<li> {{this.name}} <a href="/celebrities/{{this.id}}">Show details</a> || <a href="/celebrities/{{this.id}}/edit">Edit details</a> || <a href="/celebrities/{{this.id}}/delete">Delete this celebrity</a></li>
{{/each}}
</ul>
<h3>Create your own celebrity</h3>
<a href="/celebrities/new">Go to create form</a>