<h1>ALL CELEBRITIES</h1>


{{#each celebs}}

<h2><a href="/celebrities/details/{{this._id}}">
{{this.name}}
</a></h2>
<form action="/celebrities/delete/{{this._id}}" method="POST">
    <button>Remove Celebrity</button>
</form>
{{/each}}


