<h2> Celebrities </h2>

<ul>
  <% listOfCelebs.forEach((oneCeleb) => { %>
    <li>
      <h3> <%= oneCeleb.name %> </h3>
      <a href="/celebrities/<%=oneCeleb._id%>">Details</a>
    </li>
  <% }) %>
</ul>
