<h2>Our Celebrities</h2>

{{#each celebrities}}
  <div class=" celebs">
    <p>{{name}}</p>
    <div class="celebs-btn">
      <a class="btn btn-outline-info" href="celebrities/{{id}}">+ INFO</a>
      <a class="btn btn-outline-success" href="celebrities/edit/{{id}}">EDIT</a>
      <a class="btn btn-outline-danger" href="celebrities/delete/{{id}}">DELETE</a>
    </div>
  </div>
{{/each}}

<div class="bottom-links">
  <a href="/celebrities/new">Add a Celebrity</a>  
</div>
