<h2>Celebrities list</h2>

<ul>
  {{#each celebrities}}
  <li>
    <a href="/celebrities/{{_id}}">{{name}}</a>
    <a class="delete" href="/celebrities/{{_id}}/delete">Delete celebrity</a>
    <a class="update" href="/celebrities/{{_id}}/edit">Update info</a>
  </li>
  {{/each}}
</ul>

<a class="add" href="/celebrities/new">Add celebrity</a>
