<h1 style="margin-top: 50px">Celebritieeeessss</h1>
<h3>Uiba que chorrazo!!</h3>

<ul class="list-group" style="margin-top: 70px">
{{#each celebrity}}
  <li class="list-group-item">{{name}} <a href="/celebrities/{{_id}}">Ver Ficha</a></li>
{{/each}}
</ul>