<h2>Our Celebrities</h2>

{{#each celeb}}
<p>{{name}}</p><button><a href="/celebrities/{{_id}}">More information</a></button>
<form action="/celebrities/{{_id}}/delete" method="post"><button type="submit">Let's don't shine</button></form>
{{/each}}
<p>{{error}}</p>
<br><br>
<button><a href="/celebrities/new">Add a new star</a></button>
<br><br>
<button><a href="/">Volver a Main</a></button>