<h2>Celebrities:</h2>
<ul>
  {{#each celebrities}}
  <form action="/celebrities/{{this._id}}/delete" method="post">
    <li>
      <a href="/celebrities/{{this._id}}">{{this.name}}</a>
      <button><a href="/celebrities/{{this._id}}/edit">Editar</a></button>
      <input type="submit" value="Delete celebrity">
    </li>
  </form>
  {{/each}}
</ul>
<p><a href="/celebrities/new">Add a new celebrity</a></p>
<p><a href="/">Go Index</a></p>