  
<h2>Celebrities</h2>
<a href="/celebrities/new">Add Celebrity</a>
{{#each celebrities}}
<li>
    <a href="/celebrities/{{this._id}}">{{name}}</a>
    <a href="/celebrities/{{this._id}}/edit">Edit</a>
    <a href="/celebrities/{{this._id}}/delete">Delete</a>
</li>
{{/each}}


















