
<h2>Celebrity Inventory</h2>
    <ul>
      <% celebritiesArray.forEach( (celebs) => {  %>
          <li>
              <a href="/"></a>
              <%= celebs.name %>
          </li>
      <% }); %>
    </ul>

