<h2>CELEBRITIES</h2>

<a href="/celerities/new">new</a>

{{#each celebrities}}
<div>
  {{name}}
  <a href="/celebrities/{{_id}}">details</a>
  <a href="/celebrities/{{_id}}/edit">edit</a>
  <form action="/celebrities/{{_id}}/delete" method="POST">
    <input type="submit" value="delete">
  </form>
</div>
{{/each}}