<!-- celebrities/index.hbs -->
<h2>CELEBRITIES</h2>
<form action="/celebrities/new">
    <button type="submit">+ Add New</button>
</form>
{{#each celebrities}}
<p>{{this.name}}</p>
<form action="/celebrities/{{this.id}}">
    <button type="submit">Show Details</button>
</form>

<form action="/celebrities/{{this.id}}/edit">
    <button type="submit">Edit</button>
</form>

<form action="/celebrities/{{this.id}}/delete" method="post">
    <button type="submit">Remove</button>
</form>

{{/each}}

