<h2>Celebrities</h2>

{{#each celebrities}}
    <p><a href="/celebrities/{{this.id}}">{{this.name}}</a></p>
    <form action="/celebrities/{{this.id}}/delete" method="POST">
    <button type="submit">Delete celebrity</button>
    </form>
{{/each}}