<h2>Celebrities/Index</h2>

{{#each allCelebrities}}
<form action="/celebrities/{{this.id}}/delete" method="post">

  <p><a href="/celebrities/{{this.id}}">{{this.name}}</a></p>

  <input type="submit" value="Delete">
</form>
{{/each}}