<h2>Celebrities</h2>
<div>
    {{#each celebrities}}
        <h3>{{name}}</h3>
        <a href="/celebrities/{{_id}}">Check out more</a>
        <form action="/celebrities/{{_id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    {{/each}}
</div>
<a href="/celebrities/new">Add a new celebrity</a>