<h2>{{ title }}</h2>
<p>
  <span>
    <a href="/celebrities/new-celebrity">Add a new celebrity</a>
  </span>
   / 
  <span>
    <a href="/">Go back</a>
  </span>
</p>
<hr>
{{#each allCelebrities}}
<p>
  Name:
  <a href="/celebrities/{{ this.id }}">{{ this.name }}</a>
  <a href="/celebrities/{{ this.id }}/edit" class="edit-button">EDIT</a>
</p>
{{/each}}