<h2>Personajes Tierra Media</h2>

{{#each celebrities}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
  </div>
</div>
{{/each}}

<div><a href="/">Portada</a></div>
<div><a href="/new">Crea un nuevo personaje</a></div>