<h2>Celebrities</h2>
<ul>
    {{#each allCelebs}}
    <li>{{name}}</li>
    <a href="/celebrities/{{_id}}">Celebrity details</a><br>    
    <a href="/celebrities/update/{{_id}}">Celebrity Update</a>
    <form action="/celebrities/delete/{{_id}}" method="post">
        <button type="submit">Delete</button>
    </form>
    {{/each }}
</ul>