<h2>Products</h2>

<ul>
  <% celebs.forEach((celeb) => { %>
    <li>
      <%= celeb.name %>
      <a href="/celebrities/<%= celeb._id %>">Details</a>
      |
      <a href="/celebrities/<%= celeb._id %>/edit">Edit</a>
      |
      <form action="/celebrities/<%= celeb._id %>/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% })%>
</ul>

<a href="/celebrities/new">New Celebrity!</a>
