<div class="container">
    <h2>CELEBRITIES</h2>
    <div class="row">
        {{#each allCelebs}}
        <div class="col-md-4">
            <h3>{{name}}</h3>
            <a class="detalles" href="/celebrities/details/{{_id}}">Detalles</a>
            <form action="celebrities/details/{{_id}}/delete" method="POST">
                <button class="boton" type="submit">delete</button>
            </form>
            <form action="celebrities/details/{{_id}}/edit" method="GET">
                <button class="boton" type="submit">edit</button>
            </form>
        </div>
        {{/each}}
    </div>
    <div class="newce">
        <a class="link" href=" /celebrities/new" type="button">Add new celebrity</a>
    </div>
</div>