<div id="landing-celebrities">
  <h2>Celebrities</h2>
</div>
<div id="all-celebrities">
  {{#each celebrities}}
  <div>
    <p>{{this.name}}</p>
    <br>
    <p>{{this.occupation}}</p>
    <br>
    <p>{{this.catchPhrase}}</p>
  </div>
  {{/each}}
</div> 
