{{!-- In the views/celebrities/index.hbs view file:
Add an <h2> tag for the page's heading.
    Use a forEach loop to display tags with each celebrity's name.
    In the views/index.hbs (homepage) file:
    Add a link that goes to the /celebrities route. --}}
<div class="wrapper">
    <h2>{{title}}</h2>
    {{#each celebrities}}
    <div class="single">
        <li>name :{{name}}</li>
    </div>
    {{/each}}
</div>