<h2>List of Celebrities</h2>
<ul>
{{#each celebrities}}
<li>
    <a href="/celebrities/{{_id}}" title="{{name}}">{{name}}</a>
</li>
{{/each }}
</ul>

<a href="/">< Go back</a>
<span>|</span>
<a href="/celebrities/new">+ Add new celebrity</a></Go>