<h2>Celebrities</h2>

<a href="./celebrities/new">Add a new celebrity</a>

{{#each celebrities}}


<h3>{{name}}</h3>

<hr>
<a href="/celebrities/{{id}}">Details</a>

<a href="/celebrities/edit/{{id}}">Update</a>

<hr>
<form action="/celebrities/delete/{{id}}" method="POST">
<button type="submit">Remove</button>

{{/each}}