<h2>Celebrities</h2>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    {{#each celebrities}}
      <li class="list-group-item"><a href="/celebrities/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>
<br />
<a href="/celebrities/new">Create</a>
