<h2>Celebrities</h2>


{{#each allCelebritiesFromDB}}

<p class='celebrity-name'>
    
    <span>{{this.name}}</span>

    {{!-- <a href="/books/edit?_id={{this._id}}" class="edit-button">EDIT</a>
    <a href="/books/details/{{this._id}}">{{this.title}}</a> --}}

</p>
{{/each}}