<h2>Celebrities</h2>
{{#each celebrities}}
<p>
<a href="/celebrities/{{_id}}">{{name}}</a>
<form action="celebrities/{{_id}}/delete" method="POST">
    <button type="submit">DELETE</button>
</form>
<form action="celebrities/{{_id}}/edit" method="GET">
    <button type="submit">EDIT</button>
</form>
</p>
{{/each}}
<p><a class="btn btn-primary" href="/celebrities/new" role="button">ADD new celebrity</a></p>
<p><a class="btn btn-primary" href="/" role="button">BACK to home</a></p>