<h1>Celebrities</h1>

{{#if allCelebs}}
    <ul>
        {{#each allCelebs}}
        <li>
            <a href="/celebrities/{{_id}}">{{name}}</a>
            <form action="/celebrities/{{_id}}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
            <form action="/celebrities/{{_id}}/edit" method="get">
                <input type="submit" value="Edit">
            </form>
        </li>
        {{/each}}
    </ul>
{{/if}}