<h2>Celebrities</h2>

{{#each celebrities}}
<a href="celebrities/{{_id}}">{{name}}</a>
<form action="celebrities/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>
{{/each}}
<a href="celebrities/new">Add new celebrity</a>