<h2>Listing Celebrities</h2>
<div>
   {{#each allCeleb}}
   <h3><a href="/celebrities/{{this._id}}">{{this.name}}</a></h3>

   <form action="/celebrities/{{this._id}}/delete" method="POST">
   <button type="submit">DELETE</button>
   </form>
   {{/each}}
   <a href="/celebrities/new">Add a new Celebrity</a>
</div>