<h2>Celebs</h2>

{{#each celebrities}}

<a href="/celebrities/{{this._id}}">
  <h3>{{this.name}}</h3>
  <form action="/celebrities/{{this._id}}/delete" method="post">
    <a href="/celebrities"><button type="submit" style="background-color:red">Delete celeb</button></a>
  </form>
</a>

{{/each}}

<br>

<a href="/celebrities/add">
  <button style="background-color:green">Add new celeb</button></a>