<h2>Welcome to the index of Celebrities</h2>
<ul>
{{#each celebs}}
  <li>{{name}}</li>
  <li>{{occupation}}</li>
  <li>{{catchPhrase}}</li>
  <a href="/show/{{_id}}">Read more</a>
  <br>
{{/each}}
</ul>