<h1>Meet the celebrities!</h1>

{{#if deleted}}

<h2>{{star.name}} has been deleted!</h2>

{{/if}}

<p><a href="/celebrities/new">Add a new Celebrtity</a></p>

{{#each celebrities}}

<h2>{{this.name}}</h2>
<h3><a href="/celebrities/{{this._id}}">See more about {{this.name}}</a></h3>
{{/each}}