<header>
    <h2>All Celebrities</h2>
</header>
<hr>
{{#unless celebrities}}
<p>no celebrities yet sorry</p>
{{/unless}}

<ul class="list label">
    {{#each celebrities}}
    <li>
        {{this.name}}
        <a class="link" href="/celebrities/{{this._id}}">... see more</a>
        <form action="/celebrities/{{this._id}}/delete" method="post" class="form">
        <button>delete</button>
        </form>
        <a class="link" href="/celebrities/{{this._id}}/edit"><button>edit</button></a>

    </li>
    {{/each}}
</ul>

<a class="link" href="/celebrities/new">create a new celebrity</a>
</div>