<h2>Celebrities</h2>
{{#each celebrities}}
  <ul>
    <li>
      {{this.name}}
      <a href="/celebrities/{{this._id}}">More information</a>
      <form action="celebrities/{{this._id}}/delete" method="post">
        <button type="submit">DELETE</button>
      </form>
      <a href="/celebrities/{{this._id}}/edit">Edit</a>
    </li>
  </ul>
{{/each}}
