<div class="header-list-items">
  <h2 class="text-center mt-4 mb-4">Celebrities</h2>
  <a class="btn btn-success mt-4" href="/celebrities/new">CREATE NEW</a>
  <div class="clear"></div>
</div>

<div class="list-container">
  <div class="row">
    {{#each celebrities}}
    <div class="col-lg-4">
      <div class="card mb-4" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title title-item">{{this.cName}}</h5>
          <div class="container-buttons">
            <a href="/celebrities/{{this._id}}" class="btn btn-link">Show</a>
            <a href="/celebrities/{{this._id}}/edit" class="btn btn-outline-secondary">Edit</a>
            <form action="/celebrities/{{this._id}}/delete" method="POST">
              <input class="btn btn-danger" type="submit" value="Remove">
            </form>
          </div>

        </div>
      </div>
    </div>

    {{/each}}



  </div>
</div>