<div class="container">
  <div style="margin-top: 100px; margin-left: -30px">
    <h1 class="display-4 m-5">Celebrities</h1>
  </div>

  <div class="row">
    <div class="col">

      {{#each celebrities}}
      {{> celeb this }}
      {{/each}}


    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="/celebrities/new" class="btn btn-success ">Add New</a>
    </div>
  </div>

</div>