<div id="content-celeb">
    <div class="box-celeb">
        <div class="name">
            <h1>{{celebrity.name}}</h1>
        </div>
        <div class="occupation">
            <p>{{celebrity.occupation}}</p>
        </div>
        <div class="phrase">
            <p>{{celebrity.catchPhrase}}</p>
        </div>
        <a href="/celebrities">go back</a>
    </div>
</div>