<section>
    <div class='container'>

        <h2>Celebrity Index</h2>

        <ul>
            {{#each celebrities}}
            <li>

                <a href='/celebrities/details/{{id}}'>{{name}}</a>
                
                <div class="row">
                    <form action='/celebrities/{{id}}/delete' method='POST'>
                        <button class='btn btn-sm btn-dark' type='submit'>Delete</button>
                    </form>
                </div>
                
            </li>
            {{/each}}
        </ul>

        <a class='btn btn-dark' href='/celebrities/new'>Add celebrity</a>

    </div>
</section>