<h1>Celebrities</h1>
<div class="container">
  <div class="container__celebrity">
    <div class="container__celebrity__nameinput">
      <label for="name">Name:</label>
      <input type="text" name='name' id='container__celebrity__nameinput'>
    </div>
    <div class="container__celebrity__occupationinput">
      <label for="occupation">Occupation:</label>
      <input type="text" name='occupation' id='container__celebrity__occupationinput'>
    </div>
    <div class="container__celebrity__catchphraseinput">
      <label for="catchPhrase">Catch Phrase:</label>
      <input type="text" name='catchPhrase' id='container__celebrity__catchphraseinput'>
    </div>
    <button id="container__celebrity__button" class="container__celebrity__button">Submit</button>
  </div>
  <div id="container__listCelebrities" class="container__listCelebrities">

  </div>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/javascripts/api-celebrities.js'></script>
