<h2>New Celebrity</h2>
<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation">
  <label for="catchPhrase">Details</label>
  <input type="text" name="catchPhrase">
  <input type="submit" value="register">
</form>