<h1>Create a celebrity</h1>

<form action="/celebrities/create" method="post" class="form">
    <label for="name-input">Name</label>
    <input id="name-input" type="text" name="name">   
        <br>
    <label for="occupation-input">Occupation</label>
    <input id="occupation-input" type="text" name="occupation">
        <br>
    <label for="phrase-input">Catch phrase</label>
    <input id="phrase-input" type="text" name="catchPhrase">
    <br>
    <button type="submit">Send</button>
</form>