<form action="/celebrities" method="POST">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>
  <label for="occupation-input">Occupation</label>
  <input type="text" name="occupation" id="occupation-input">
  <br>
  <label for="catchPhrase-input">Catch Phrase</label>
  <input type="date" name="catchPhrase" id="catchPhrase-input">
  <br>
  {{!-- <label for="picture-input">Picture URL</label>
  <input type="text" name="pictureUrl" id="picture-input"> --}}
  <br>
  <button type="submit">Save new celebrity</button>
</form>