<div class="new">
    <div>
        <a href="/celebrities">Back</a>
    </div>
    <div>
        <h3>NEW CELEBRITY</h3>
        <form action="/celebrities/create" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="occupation" placeholder="Occupation">
            <input type="text" name="catchPhrase" placeholder="Phrase">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>