<h2>Add A New Celebrity</h2>

<form class="" action="/celebrities/new" method="post">
    <label for="celebrity-name">Name: </label>
    <input type="text" name="celebName" id="celebrityName">
    <br>

    <label for="celebrity-occupation">Occupation: </label>
    <input type="text" name="celebOccupation" id="celebrity-occupation">
    <br>

    <label for="celebrity-catchphrase">Catchphrase: </label>
    <input type="text" name="celebCatchPhrase" id="celebrity-catchphrase">
    <br>

    <button> Add Celebrity </button>
</form>
