<h2>New Celebrity added</h2>

<form action="celebrities/create" method="post">
<label for="name">Name</label>
<input type="text" id="names" value="Celebrity Name">
<label for="occupation">Occupation</label>
<input type="text" id="occupation" value="Occupation">
<label for="catchPhrase">Catch-Phrase</label>
<input type="text" id="catchPhrase" value="Catch-Phrase">
<button id="add">Add your Celebrity</button>
</form>