<h2>NEW CELEB</h2>

<form action="/celebrities/create" method="POST">
  <div>
    <label for="name"> Name </label>
    <input type="text" name='name' id="name">
  </div>
  <div>
    <label for="occupation"> Occupation </label>
    <input type="text" name="occupation" id="occupation">
  </div>
  <div>
    <label for="catchPhrase"> Catch Phrase </label>
    <input type="text" name="catchPhrase" id="catchPhrase">
  </div>
  <button type="submit"> Submit </button>
</form>

<a href="/celebrities">
  Back to list of Celebs
</a>