<h2>New Celebrity</h2>

<form action="celebrities/create" method="post">
<label for="name">Name</label>
<input type="text" id="name" value="Celebrity Name">
<label for="occupation">Occupation</label>
<input type="text" id="occupation" value="Occupation">
<label for="catchPhrase">Catch Phrase</label>
<input type="text" id="catchPhrase" value="Catch Phrase">
<button id="add">Add A New Celebrity</button>
</form>