<h1>Please add a new celebrity</h1>

<div>
    <form action="/celebrities/create" method="post">
        <label for="name-input">Name</label>
        <input id="name-input" type="text" name="name" placeholder="First and last name...">
        <br>
        <label for="occupation-input">Occupation</label>
        <input id="occupation-input" type="text" name="occupation" placeholder="">
        <br>
        <label for="catchPhrase-input">Catch Phrase</label>
        <input id="catchPhrase-input" type="text" name="catchPhrase">
        <br>
        <button type="submit">Add!</button>
    </form>
</div>