<h2>The new celebrity you want to create</h2>
<form action="/celebrities/create" method="POST">
    <label for="celebrity-name">name</label>
    <input type="text" id="celebrity-name" name="name">

    <label for="celebrity-occupation">occupation</label>
    <input type="text" id="celebrity-occupation" name="occupation">

    <label for="celebrity-catchPhrase">catch phrase</label>
    <input type="text" id="celebrity-catchPhrase" name="catchPhrase">

    <button type="submit">Add the celebrity!</button>
</form>