<h2>Add a celebrity!</h2>

<form action="/celebrities/new" method ="post">

<label for="name-input">Name</label>
<br>
<input type="text" id="name-input" name="name">
<br>
<label for="occupation-input">Occupation</label>
<br>
<input type="text" id="occupation-input" name="occupation">
<br>
<label for="catchphrase-input">Catchphrase</label>
<br>
<input type="text" id="catchphrase-input" name="catchPhrase">
<br>
<button>Send</button>

</form>

<a href="/">Go back</a>