<h2>create new celebrity</h2>
<form action="/celebrities/new" method="post">
<label for="name"></label>
<input type="text" name="name" id="name" value="John Legend">
<label for="occupation"></label>
<input type="text" name="occupation" id="occupation" value="Musician">
<label for="catchPhrase"></label>
<input type="text" name="catchPhrase" id="catchPhrase" value = "la la land">
<button>Create !</button>
</form> 