<h2>Add a celebrity</h2>
<form method="post" action="/celebrities/create">

<label for="name">Name</label>
<input type="text" name="name" id="name">
<br><br>
<label for="occupation">Occupation</label>
<input type="text" name="occupation" id="occupation">
<br><br>
<label for="ncatchPhrase">Catchphrase</label>
<input type="text" name="catchPhrase" id="catchPhrase">
<br><br>
<button>Create</button>

</form>