<h2>create new celebrity</h2>
<form action="/celebrities/new" method="post">
<label for="name"></label>
<input type="text" name="name" id="name" value="Martha argerich">
<label for="occupation"></label>
<input type="text" name="occupation" id="occupation" value="Pianist">
<label for="catchPhrase"></label>
<input type="text" name="catchPhrase" id="catchPhrase" value = "i'm god">
<button>Create !</button>
</form>