<h2>Create new celebrity</h2>

<form method="post" action="/celebrities/create" class="form">
<label for="name">Name</label><br><br>
<input type="text" name="name" id="name" value="Celebrity name"><br><br>
<label for="occupation">Occupation</label><br><br>
<input type="text" name="occupation" id="occupation" value="Celebrity occupation"><br><br>
<label for="catchPhrase">Catch Phrase</label><br><br>
<input type="text" name="catchPhrase" id="catchPhrase" value="Celebrity catchPhrase"><br><br>
<button>Submit celebrity</button><br><br>

</form>