

<h3>Add a New Celebrity to the Catalog via API  </h3>

<div id="big">
  <div class="new-celeb-form">
    <div>
      <label>Name</label>
      <input id="name" type="text">
    </div>
    <div>
      <label>Occupation</label>
      <input id="occupation" type="text">
    </div>
    <div>
      <label>Catch Phrase</label>
      <input id="catchPhrase" type="text">
    </div>
      <button type="button" id="new-celeb-button">Submit New Celeb</button>
  </div>
  <div>
    <ul id="celeb-list">
    </ul>
  </div>
</div>

