 <nav>
    <a href="/">Home</a>
  </nav>

<h1>Create New Celebrity!!!</h1>


<form action="/celebrities/create" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name" id="title">


  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="nationality">Nationality</label>
  <input type="text" name="nationality" id="nationality">

  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchphrase">



  <button> Add New Celebrity</button>

</form>

