<h2>New Celebrity</h2>

<form method="post" action="/celebrities/create" class="form" enctype="multipart/form-data">
    <div>
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="test celebrity">
    </div>
    <div>
    <label for="occupation">Occupation</label>
    <input id="occupation" class="input" type="text" name="occupation" value="singer">
    </div>
    <div>
    <label for="catchPhrase">Catch Phrase</label>
    <input class="input" name="catchPhrase" id="catchPhrase" value="it's all good">
    </div>
    <div>
    <button class="btn">Submit new celebrity</button>
    </div>
</form>