<form action ="/celebrities/addCeleb" method="post">

<label for="name-input">Name</label>
<input type="text" name="newName" id="name-input"/>


<label for="occupation-input">Occupation</label>
<input type="text" name="newOccupation" id="occupation-input"/>


<label for="catchPhrase-input">Catch Phrase</label>
<input type="text" name="newCatchPhrase" id="catchPhrase-input"/>


<button type="submit">Create!</button>


</form>

