<h2>add a new celebrity</h1>

<form method="post" action="/celebrities/create">
    <label for="name">name</label>
    <input id="name" class="input" type="text" name="name" value="celebrity">

    <label for="occupation">occupation</label>
    <input id="occupation" class="input" type="text" name="occupation" value="occupation">

    <label for="catchPhrase">catch phrase</label>
    <input id="catchPhrase" class="input" type="text" name="catchPhrase" value="wesh">

    <button>create</button>
</form>