<h1>Add a Celebrity</h1>

<form action="/celebrities" method="POST">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>
  <label for="occupation-input">Occupation</label>
  <input type="text" name="occupation" id="occupation-input">
  <br>
  <label for="catchPhrase-input">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase-input">
  <button type="submit">Add a Celebrity</button>
  </form>