
<h2>Add New Celebrity</h2>
<br>
<br>
<form action="/celebrities/new" method="POST">


  <label for="">Name :</label>
  <input type="text" name="name">
<br>
<br>
  <label for="">Occupation :</label>
  <input type="text" name="occupation">
<br>
<br>
  <label for="">Catch Phrase :</label>
  <input type="text" name="catchPhrase">
<br>
<br>
<br>
  <button type="submit">Add Celebrity</button>

</form>