<h2 class="title">Add New Celebrity</h2>
<form class="form" action="/celebrities/create" method="POST">
    <div>
        <label for="name-input">Name</label>
        <input type="text" id="name-input" name="name">
    </div>
    <div>
        <label for="occupation-input">Occupation</label>
        <input type="text" id="occupation-input" name="occupation">
    </div>
    <div>
        <label for="catchPhrase-input">Catch Phrase</label>
        <input type="text" id="catchPhrase-input" name="catchPhrase">
    </div>

    <button class="button" type="submit">Add New</button>
</form>