<h2>Add a new celebrity!</h2>
<form action="/celebrities/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="Testing with Kim Kardashian">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation" value="Nothing but being rich">
  <label for="catchPhrase">Catch phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="Yas Queen!">
  <button type="submit">Create</button>
</form>