<div class="container">
<div class="formbox">
<h2>Add New Celebrity</h2>

    <form action="/create-celebrity" method="POST">

    <p>Name</p>
    <input type="text" name="theCelebrityName">

    <p>Occupation</p>
    <input type="text" name="theOccupation">

    <p>Catch Phrase</p>
    <input type="text" name="theCatchPhrase">

    <div class="formbutton">
        <button>Save!</button>
    </div>
    </form>
</div>
</div>