<h2>Add a celebrity</h2>

<form method="post" action="/celebrities/create" enctype="multipart/form-data">

    <label for="name">Name</label>
    <input type="text">

    <label for="occupation">Occupation</label>
    <input type="text">

    <label for="catchphrase">Catchphrase</label>
    <input type="text">

    <button type="submit">Create your celebrity</button>
    
</form>