
<h2>Add New Celebrities</h2>

  <form action="/celebrities/new" method="POST">

    <label>
        <p>Name</p>
        <input type="text" name="name">
    </label>

    <label>
        <p>Occupation</p> 
        <input type="text" name="occupation">
    </label>

    <label>
        <p>Catch Phrase</p> 
        <input type="text" name="catchPhrase">
    </label>

    <br>

    <button type="submit">Add</button>
  </form>