<section>
  <h1>Create celebz</h1>
</section>
<div>
  <form action="/create" method="post">
 
  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="name-occupation">occupation:</label>
  <input type="text" name="occupation" id="occupation-input" />

  <label for="catchPhrase-input">catchphrase:</label>
  <input type="text" name="catchPhrase" id="catchPhrase-input" />
 
  
 
  <button type="submit">Create</button>
 
</form>

</div>