<h2 class="edit"> Create a new celebrity</h2>
<div class="div-form">
  <form class="form-group" action="/celebrities" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="E.g. john doe">
    <label for="occupation">Occupation</label>
    <input id="occupation" type="text" name="occupation" placeholder="E.g. Assassin">
    <label for="catchPhrase">Catch Phrase</label>
    <input id="catchPhrase" type="text" name="catchPhrase" placeholder="E.g. To infinity and beyond">
    <label for="image">Link for celebrities picture</label>
    <input id="image" type="text" name="image" placeholder="E.g. http://google.images">
    <button class="btn btn-primary button" type="submit">Create new celebrity</button>
  </form>
</div>
<button type="button"><a href="/celebrities/">back</a></button>