<h2>Add a new celebrity</h2>
<form method="POST" action="/celebrities">
	<label for="name">name</label>
	<br>
	<input type="text" name="name">
	<br>
	<label for="occupation">occupation</label>
	<br>
	<input type="text" name="occupation">
	<br>
	<label for="catchPhrase">catch phrase</label>
	<br>
	<input type="text" name="catchPhrase">
	<br>
	<input type="submit" value="create">
</form>