<h2>Add a Celeb</h2>

<form action="" method="POST">
  {{!-- Give your input the same names as in your SCHEMA (see celebrity-model.js) --}}
  <label>
    Name:
    <input type="text" name="name" placeholder="Oscar" />
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" placeholder="Actor" />
  </label>

  <label>
    Famous words: (8 characters or more):
    <input type="text" name="catchPhrase" placeholder="Cool awesome super" minlength="8" />
  </label>


  <button>Save This </button>
</form>