<h2>New Celebrity</h2>
<a href="/celebrities">X Cancel</a>
<form class="form" action="/celebrities" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name">
  </div>
  <div>
    <label for="occupation">Occupation</label>
    <input type="text" id="occpation" name="occupation" placeholder="Occupation">
  </div>
  <div>
    <label for="catchphrase">Catchphrase</label>
    <input type="text" id="catchphrase" name="catchphrase" placeholder="Catchphrase">
  </div>
  <button>Submit</button>
</form>