<section class="page">
  <h2>Add a new celebrity</h2>
  <form action="/celebrities/new" method="post">
    <label for="name">Name</label>
    <input name="name" type="text" placeholder="Matthew McConaughey">

    <label for="occupation">Occupation</label>
    <input name="occupation" type="text" placeholder="Actor / Sexy Beast">

    <label for="catchPhrase">Catch Phrase</label>
    <input name="catchPhrase" type="text" placeholder="All right, all right, all right !!">

    <button type="submit">Ok</button>
  </form>
</section>