<div class="container">
    <h2 class="list">Create celebrity</h2>
    <hr>

    <div>

        <form action="/celebrities/new" method="post">

        <div>
            <label for="">Name:</label>
            <input type="text" name="name">
        </div>

        <div>
            <label for="">Ocupation:</label>
            <input type="text" name="occupation" id="">
        </div>

        <div>
            <label for="">Eslogan:</label>
            <input type="text" name="catchPhrase" id="">

        </div>

    </div>

        <button type="submit">Create</button>

        </form>
</div>
