<form method="POST" action="/celebrities/createCeleb">
<h2>Create a celebrity</h2>
<input type="text" name="name" placeholder="Name">
<input type="text" name="occupation" placeholder="Occupation">
<input type="text"name="catchPhrase" placeholder="Phrase">
<button class="btn">create !</button>
</form>