<form action="/celebrities" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="occupationb" placeholder="Occupation">
  <input type="text" name="catchPhrase" placeholder="Catch Phrase">
</form>