
<h1>Add to the Database Please</h1>

<form action="/celebrities/new" method="POST">

<input type="text" name="name">
<label for=""></label>


<input type="text" name="occupation">
<label for=""></label>


<input type="text" name="catchPhrase">
<label for=""></label>


<button class="submit">Submit</button>














</form>