<h2>Add your favourite celebrities</h2>

<form action="/celebrities" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="occupation" placeholder="Occupation">
    <input type="text" name="catchPhrase" placeholder="Catchphrase">

    <button type="submit">Add celebrity</button>
</form>