<section class="add-page page">

<h1>{{tryAgain}}</h1>
<h1>Add a celebrity</h1>
<form action="/celebrities" method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="name" type="text">

        <label for="occupation">occupation</label>
        <input name="occupation" id="occupation" value="occupation" type="text">
        
        <label for="catchPhrase">Catch Phrase</label>
        <input name="catchPhrase" id="catchPhrase" value="catchPhrase" type="text">

        <button class="btn">Add</button>
</form>


</section>

