<h2>Add new celebrity</h2>

<form action="/addCelebrity" method="POST">

    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Occupation" name="occupation">
    <input type="text" placeholder="Catch phrase" name="catchPhrase">
    <button type="submit">Add celebrity!</button>

</form>