<h2>Add new celebrity</h2>

<form action="/celebrities/new" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Occupation:</label>
  <input type="text" name="occupation">

  <label for="">Catch phrase:</label>
  <input type="text" name="catchPhrase">

  <button type="submit">ADD</button>
</form>