<h2>Add Celebrity</h2>

<form action="/celebrities" method="POST">
<input type="text" placeholder="Name" name="name">
<input type="text" placeholder="Occupation" name="occupation">
<input type="text" placeholder="Catch Phrase" name="catchPhrase">
<input type="submit">
</form>