<h2>new celebrity</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="celebName" placeholder="Ej. Woody Allen">
  <input type="text" name="celebOccupation" placeholder="Ej. Director">
  <input type="text" name="celebPhrase" placeholder="Ej. Father's love">
  <button type="submit">Send</button>
</form>