<h2>Create a new celebrity</h2>

<form action="/celebrities/new" method="POST">
    
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input"/><br>

    <label for="occupation-input">Occupation:</label>
    <input type="text" name="occupation" id="occupation-input"/><br>

    <label for="catchPhrase-input">catchPhrase:</label>
    <input type="text" name="catchPhrase" id="catchPhrase-input"/><br>

    <button type="submit">Save</button>
    
</form>