<div class="form__wrapper">
        <h1>Add new celeb</h1>
        <form class="form"  action="/celebrities/new" method="post">
            <div class="mb-3 form-check">   
                <label class="form-label" for="name-input">Name:</label>
                <input class="form-control" type="text" name="name" id="name-input" />
            </div>
            <div class="mb-3 form-check">
                <label class="form-label" for="occupation-input">Occupation:</label>
                <input class="form-control" type="text" name="occupation" id="occupation-input" />
            </div>
            <div class="mb-3 form-check">
                <label class="form-label" for="catchPhrase-input">Catch phrase:</label>
                <input class="form-control" type="text" name="catchPhrase" id="catchPhrase-input" />
            </div>
            <div class="button__wrapper">
                <button type="submit">Add celeb!</button>
            </div>
        </form>
    </div>