<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>NEW</h1>
  <form action="/celebrities" method ="POST">
  <label for="text">Name</label>
  <input type="text" name="name">
  <label for="text">Occupation</label>
  <input type="text" name="occupation">
  <label for="text">CatchPhrase</label>
  <input type="text" name="catchPhrase">  
  <input type="submit" value="send">
  </form>
</body>
</html>