<h2>Add</h2>

<form action="/new" method="POST">

  <div>
    <label for="">
      Name:

      <input name="name" type="text" value="{{name}}"/>
      
    </label>
  </div>
  
  <div>
    <label for="">
      
      <input name="occupation" type="text" value="{{occupation}}"/>
      
    </label>
  </div>

  <div>
    <label for="">
      
      <input name="catchPhrase" type="text" value="{{catchPhrase}}"/>
      
    </label>
  </div>

  <button type="submit">SUBMIT!!</button>
</form>
