<h2>Add new celebrity</h2>

<form action='/celebrities' method='POST'>

  <label for=''>Name</label>
  <input type='text' name='name'>

  <label for=''>Ocupation</label>
  <input type='text' name='ocupation'>

  <label for=''>Catch phrase</label>
  <input type='text' name='catchPhrase'>

  <button type='submit'>Submit</button>
</form>