<h2>Add a new celebrity</h2>

<form action="/celebrities" method="post">
  <p><label for="">Name:</label>
  <br>
  <input type="text" name="name"></p>

  <p><label for="">Occupation:</label>
  <br>
  <input type="text" name="occupation"></p>

  <p><label for="">Catch Phrase:</label>
  <br>
  <input type="text" name="catchPhrase"></p>

  <p><button type="submit">ADD</button></p>
</form>