<h2>New Celebrity:</h2>

<form action="/celebrities/new" method="POST">
    <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="{{name}}"/>

    <br >

    <label for="occupation">Occupation:</label>
  <input type="text" name="occupation"  id="occupation" value="{{occupation}}"/>

    <br >

    <label for="catchPhrase">Quote:</label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}" />

    <br >
    <br >

    <button type="submit" class="button is-black">Add New Celebrity</button>

</form> 