<h2>Add a celeb</h2>
<form action="/celebrities/add" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">
  <label for="catchPhrase">Catchphrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase">
  <button type="submit">Submit</button>
</form>