<h2>New celebrity</h2>

<h2>Create new celebrity</h2>

<form action="/celebrities" method="POST">
  <div>
    <label for="name">name</label>
    <input type="text" name="name" value="" required placeholder="Enter name">
  </div>
  <div>
    <label for="occupation">Password</label>
    <input type="text" name="occupation" value="" required placeholder="Enter occupation">
  </div>
  <div>
    <label for="catchPhrase">Password</label>
    <input type="tect" name="catchPhrase" value="" required placeholder="Enter catchPhrase">
  </div>
  <div>
    <input class="button" type="submit" value="Create">
  </div>
</form>
<a href="/celebrities">Back</a>