<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="Celebrity Name">
  <input type="text" name="occupation" placeholder="Occupation?">
  <input type="text" name="catchPhrase" placeholder="Write a catch Phrase">
  <button type="submit">Add</button>
</form>