<form action="/celebrities/new" method="post">
    <h1> Create Celebrity</h1>

    <input type="text" name="name" placeholder="Name">
    <input type="text" name="occupation" placeholder="Occupation">
    <input type="text" name="catchPhrase" placeholder="Catch Phrase">

    <button>Create!</button>
</form>