<div>
  <h2>New Celebrity</h2>
  <form action="/celebrities" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" />
    <label for="occupation">Occupation:</label>
    <input type="text" name="occupation" />
    <label for="catchPhrase">Catchphrase:</label>
    <input type="text" name="catchPhrase" />
    <button type="submit">Submit</button>
  </form>
</div>