<h2>Add a new celebrity</h2>
<form method="POST" action="/celebrities/">
	<label for="name">name</label>
	<br>
	<input type="text" name="name" required>
	<br>
	<label for="occupation">occupation</label>
	<br>
	<input type="text" name="occupation" required>
	<br>
	<label for="catchPhrase">catch phrase</label>
	<br>
	<input type="text" name="catchPhrase" required>
	<br>
	<input type="submit" value="create">
</form>