<h2>New Celebrity</h2>
<form action="/celebrities" method="post">
  <input name="name" type="text">
  <input name="occupation" type="text">
  <input name="catchPhrase" type="text">
  <button type="submit">Search</button>
</form>
<a href="/celebrities">Back</a>