<form action="/celebrities" method="POST">
    <label for="">
        Name:
        <input type="text" name="name">
    </label>
    <label for="">
        Occupation:
        <input type="text" name="occupation">
    </label>
    <label for="">
        catchPhrase:
        <input type="text" name="catchPhrase">
    </label>
    <button>Crear celebrity</button>
</form>