
<h2>Add a new Celebrity to the List</h2>


<form action="/celebrity/creation" method="POST">


<p>Name</p>
<input type="text" name="theName">


<p>Occupation</p>
<input type="text" name="theOccupation">


<p>Catchphrase</p>
<input type="text" name="theCatchphrase">


<button class="button">Save</button>

</form>