<h2>Create a new celebrity</h2>
<form action="/celebrities" method="POST">
  <label for="name">Celebrity name</label>
  <input id="name" name="name" type="text">
  <label for="occupation">Occupation</label>
  <input id="occupation" name="occupation" type="text">
  <label for="catchPrase">catchPhrase</label>
  <input name="catchPhrase" type="text">
  <button type="submit">Send</button>
</form>