<h2>New Celeb</h2>
<form action="/celebrities" method="POST">
    Name: <input type="text" name="name">
    Occupation: <input type="text" name="occ">
    Catch: <input type="text" name="catch">
    <button type="submit">New</button>
</form>