<h2>NEW CELEBRITY FORM</h2>
<form action="/celebrities/new" method="POST">
  <input type="text" placeholder="Name" name="cName">
  <input type="text" placeholder="Occupation" name="cOccupation">
  <input type="text" placeholder="Phrase" name="cCatchPhrase">
  <input type="submit" value="CREATE">
</form>