<h2>Create new Celebrities</h2>

<form method="post" action="/celebrities/new">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="name">

    <label for="occupation">Occupation</label>
    <input type="text" id="occupation" name="occupation" value="occupation">

    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" id="catchPhrase" name="catchPhrase" value="catchPhrase">

    <button class="btn">create</button>

</form>