<h2>New Celebrity</h2>
<form action="/celebrities" method="post">
<input type="text"  name="name" id="name-input" placeholder="Name">
<input type="text"  name="occupation" id="name-input" placeholder="occupation">
<input type="text"  name="catchPhrase" id="name-input" placeholder="Catch Phrase">
<button type="submit">Add</button>
</form>