<form method="post" action="/create-celeb" class="form">
    <h2>Add a new celeb</h2>
    <label for="name">Name</label>
    <input class="input" id="name" name="name" type="text">
    <label for="occupation">Occupation</label>
    <input class="input" id="occupation" name="occupation" type="text">
    <label for="catchPhrase">Catch Phrase</label>
    <input class="input" id="catchPhrase" name="catchPhrase" type="text">
    <button class="btn">ok </button>
</form>