<h2> Add a new celebrity to your collection! </h2>

<form action="/celebrities/new" method="post">

  Name: <input type="text" name="name"> <br>
  Occupation: <input type="text" name="occupation"> <br>
  Catch Phrase: <input type="text" name="catchPhrase"> <br>

  <button class="save-button" type="submit">Save</button>
  
</form> 