<div class="celeb-padding">

    <h2>Create A New Celebrity</h2>
    <div class="row new-celeb">
        <form action="/celebrities" class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input name="name" type="text" class="validate">
                    <label>First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="occupation" type="text" class="validate">
                    <label>Occupation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="catchPhrase" type="text" class="validate">
                    <label>Catch Phrase</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn-large">Create</button>
            <a href="/celebrities"><button class="waves-effect waves-light btn-large red darken-1">Cancel</button></a>
        </form>

    </div>
</div>