<h2>Add a new Celebrity</h2>

<form method="POST" class="input-container">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Occupation" name="occupation">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Write a catch phrase" name="catchPhrase">
  </div>


  <button type="submit" class="btn btn-success">Submit</button>
</form>