<h2>Añade una celebridad</h2>
<form action="/celebrities" method="POST">
<input type="text" name="name" placeholder="name">
<input type="text" name="occupation" placeholder="ocupation">
<input type="text" name="catchPhrase" placeholder="catch">
<input type="submit">
  </form> 