<h2> CONTRIBUTE TO THE DATABASE</h2>

<a href='/'> Go Back</a>
<a href='/celebrities'>Go back to Celebrities</a>
<br><br>

<form action='/new' method='post'>

    <div>
        <label for='name'>Name</label>
        <input name='name' type='text' id='title'>
    </div>

    <div>
        <label for='occupation'>Occupation</label>
        <input name='occupation' type='text' id='occupation'>
    </div>

    <div>
        <label for='catchPhrase'>Catch Phrase</label>
        <input name='catchPhrase' type='text' id='catchPhrase'>
    </div>

    <button type="submit" class = 'btn btn-dark'>Add Celebrity</button>

</form>





