<form id="form-create-celebrity" method="post" action="/celebrities/new" class="form">
    <h1 class="title">Create Celebrity</h1>

    <label for="name">name</label>
    <input class="input" id="name" name="name" type="text" required value="lolo">

    <label for="occupation">occupation</label>
    <input class="input" id="occupation" name="occupation" type="text" value="dodo">

    <label for="catchPhrase">catchPhrase</label>
    <input class="input" id="catchPhrase" name="catchPhrase" type="text" value="roro">


    <button class="btn">Create !</button>
</form>