<h2>
  Add a new celebrity
</h2>

<form action="/celebrities" method="POST">
  Name: <input name="name"><br><br>
  Occupation: <input name="occupation"><br><br>
  Catch phrase: <input name="catchPhrase"><br><br>
  <button type="submit">Add</button>
</form>
