<h2>New Celebrity</h2>

<form action="/celebrities/new" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="{{name}}"/>

  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation"  id="occupation" value="{{occupation}}"/>

  <label for="catchPhrase">Quote:</label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}" />


  <button type="submit">Create</button>

</form> 