<form action="/celebrities/new" method="post" class="form">
    <h2 class="title">Create celebrity</h2>

    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="name" value="name">

    <label class="label" for="description">occupation</label>
    <textarea class="input" id="occupation" type="text" name="occupation">
    </textarea>

     <label class="catchPhrase" for="description">catchPhrase</label>
    <textarea class="input" id="catchPhrase" type="text" name="catchPhrase">
    </textarea>
    <button class="btn">add</button>
</form>