<h1>Form to add</h1>

<form action="/new" method="post">
    <label>Celebrity name: </label>
    <input type="text" name="name" placeholder="Celebrity name">
    <label>Occupation: </label>
    <input type="text" name="occupation" placeholder="singer, actor...">
    <label>CatchPhrase: </label>
    <input type="text" name="catchPhrase" placeholder="catch phrase">
    <input type="submit" value="Create">
</form>