<h2>Add new Celebrities</h2>
<form method ="post" action="/celebrities">

<label for="name">Name</label>
<input id="name" name="name" type="text" required value="Jennifer Lopez">

<label for="occupation">Occupation</label>
<input id="occupation" name="occupation" type="text" required value="Singer">

<label for="name">Catch Phrase</label>
<input id="catchPhrase" name="catchPhrase" type="text" required value="Get on the floor">

<button>CREATE!</button>
</form>