<form action="/celebrities/new" method="post">
  <p>
    <label>Name: </label>
    <input type="text" name="name">
  </p>

  <p>
    <label>Occupation: </label>
    <input type="text" name="occupation">
  </p>
  <p>

    <label>Phrase</label>
    <input type="text" name="catchPhrase">
  </p>
  <p>
    <input type="submit">
  </p>

</form>