<h1>Insert a new Celebrity!</h1>
<form action="/celebrities" method="POST">
  <div>
    <p><label for="name">Name: </label><input type="text" name="name"></p>
    <p><label for="occupation">Occupation: </label><input type="text" name="occupation"></p>
    <p><label for="catchPhrase">Catch Phrase: </label><input type="text" name="catchPhrase"></p>
    <p><button type="submit">Submit</button></p>
  </div>
</form>
<a href="/celebrities">Go back</a>