
<h2> Your own celebrity</h2>
<hr>
<form action='/celebrities/new' method='post'>
    <div class="form-group">
         <label for="name">Name></label>
          <input type="text" class="form-control"  id="name" name='name' placeholder="Name">
          </div>
          
          <div class="form-group">
          <label for="occupation">Occupation</label>
           <input type="text" class="form-control" id="occupation" name='occupation' placeholder= "Are you a singer, actor, painter, writer, or scientist?">
          </div>
         
          <div class="form-group">
            <label for="catchPhrase">CatchPhrase</label>
            <input type="text" class="form-control" id="catchPharse" name='catchPharse' placesholder="Being a celebrity has its advantages!">
            </div>
            
            <a href='/'><button type="submit" class="btn btn-dark">Create</button></a>

     </form>
