<h2>Add a celebrity</h2>

<form action='/celebrities' method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="occupation" placeholder="Occupation">
  <input type="text" name="catchPhrase" placeholder="CatchPhrase">
  <button type="submit">Add a new celebrity!</button>
</form>