
<h2>{{title}}</h2>
<br>
<form action="/celebrities" method="POST">
<label for="name">Celebrity: </label>
<input type="text" name="name">
<br>
<label for="occupation">Occupation: </label>
<input type="text" name="occupation">
<br>
<label for="catchPhrase">Catch phrase: </label>
<input type="text" name="catchPhrase">
<br>
<button type="submit">Save</button>
</form>