<h2>New celebrity</h2>
<form method="POST" action="/celebrities/new">
  <div class="">
    <label>Name</label>
    <input type="text" class="" name="name" placeholder="Angelina Jolie">
  </div>
  <div class="">
    <label>Ocuppation</label>
    <input type="text" class="" name="occupation" placeholder="Actress">
  </div>
  <div class="">
    <label>Phrase</label>
    <input type="text" class="" name="catchPhrase" placeholder="you can lead o take a horse to water but you can’t make it drink">
  </div>
  <button class="btn" type="submit">Create celeb</button>
</form>
