<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h2>Crear nuevo artista</h2>

            <form method="POST" action="/celebrities/new">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Ocupación</label>
                    <input type="text" class="form-control" name="occupation">
                </div>
                <div class="form-group">
                    <label>Frase mítica</label>
                    <input type="text" class="form-control" name="catchPhrase">
                </div>
                <button type="submit" class="btn btn-dark">Crear</button>
            </form>
        </div>
    </div>



</div>