<h2>Form to enter new Super Stars !</h2>

<form action="/celebrities/new" method="POST">
    <label for="name">Name :</label>
    <input id="name" name="name" type="text" value="Pépito">

    <label for="occupation">Occupation :</label>
    <input id="occupation" name="occupation" type="text" value="Unemployed">

    <label for="catchPhrase">Catchphrase :</label>
    <input id="catchPhrase" name="catchPhrase" type="text" value="Wat">
    <button class="btn">Submit</button>
</form>