<h2>New Celebrity</h2>

<form action = "/celebrities/" method = "POST">
    <input label = "Celebrity Name" name = "name">
    <input label = "His occupation" name = "occupation">
    <input label = "Cath phrase!" name = "catchPhrase">
    <button type = "Submit">Add</button>
</form>

