<h2> Enter New Celebrity</h2>

<form action="/celebrities" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="name" id="" ><br><br>
  <label for="occupation">Occupation:</label><br>
  <input type="text" name="occupation" id=""><br><br>
  <label for="catchPhrase">Catch Phrase:</label><br>
  <input type="text" name="catchPhrase" id=""><br><br>
  <button type="submit">Submit</button>
</form>