<div class="container">
    <div class="row">

        <h2>Create a new Celebrity</h2>


        <form action="/celebrity/main/celebrities" method="post">
            <div class="form-group">
                <label for="name">Celebrity name:</label>
                <input type="text" name="name" class="form-control" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="occupation">Celebrity Occupation:</label>
                <input type="text" name="occupation" class="form-control" placeholder="Occupation">
            </div>

            <button type="Submit" class="btn btn-large btn-block btn-success">Create</button>
        </form>






        <form action="/celebrity/main/celebrities" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" name="occupation" class="form-control" placeholder="Occupation">
                </div>
                <div class="col">
                    <input type="text" name="catchPhrase" class="form-control" placeholder="Catch Phrase">
                </div>
            </div>
            <button type="Submit" class="btn btn-large btn-block btn-success">Create</button>
        </form>
    </div>
</div>