<h2>You can add new celebrities</h2>

<form method="POST" action="/celebrities">
<div>
    <label for="cel-name">Name: </label>
    <input id="cel-name" name="name" type="text">
</div>
<br>
<div>
    <label for="cel-occupation">Occupation: </label>
    <input id="cel-occupation" name="occupation" type="text">
</div>
<br>
<div>
    <label for="catch-phrase">CatchPhrase: </label>
    <input id="catch-phrase" name="catchPhrase" type="text">
</div>  
<br>
<br>     
    <button>Submit</button>
</form>
