<h2>Add a celebrity</h2>

<form action="/process-celeb" method="POST">
  <label> Name:
    <input type="text" name="name" placeholder="Johnny">
  </label>
  <label>Occupation:
    <input type="text" name="occupation" placeholder="Singer">
  </label>
  <label>Catch Phrase:
    <input type="text" name="catchPhrase" placeholder="Rock and Roll">
  </label>
  <button>Submit</button>
</form>