<h2> Add a new Celebrity</h2>
<form action="/celebrities" method="POST">
    <p> Name: <input type="text" name="name"> </p>
    <p>Occupation: <input type="text" name="occupation" > </p>
    <p> CatchPhrase <input type="text" name="catchPhrase"> </p>
    <input type="submit">
</form>