<h2> Add new celebrity</h2>
<form method="POST" action=/celebrities>
Name: <input type="text" name="name"> 
Occupation: <input type="text" name="occupation"> 
Catchphrase: <input type="text" name="catchPhrase"> 
<input type="submit" value="Create new celebrity">
</form>
