<h2>Add new celebrity</h2>
<form action="/celebrities" method="POST">
  <input type="text" value="" placeholder="Name" name="name" >
  <input type="text" value="" placeholder="Occupation" name="occupation">
  <input type="textarea" value="" placeholder="Catch phrase" name="catchphrase">
  <button type="submit">Add</button>
</form>