 <form action="/celebrities" method="POST">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="occupation">occupation</label>
    <input type="text" name="occupation" id="occupation">
    <label for="catchPhrase">catchPhrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase">
    <button type="submit">create celebrity</button>
</form>