<h2>Add a Celebrity</h2>

<form method="POST" action="/celebrities">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="occupation" placeholder="Occupation">
  <input type="text" name="catchPhrase" placeholder="Catch Phrase">
  <button type="submit">Submit</button>
</form>