{{!-- Add an <h2> for the page's heading. --}}
<h2>Add New Celebrity</h2>

{{!-- Add a <form> tag that makes a POST request to /celebrities. --}}
<form action="/celebrities/" method="POST">
    {{!-- Add <input> tags inside the form so the user can fill in values for each attribute of the celebrity. Make an input for name, occupation, and catchPhrase --}}
    <p>Name</p>
    <input type="text" name="name">

    <p>Occupation</p>
    <input type="text" name="occupation">

    <p>Catch Phrase</p>
    <input type="text" name="catchPhrase">

    {{!-- Add a <button> tag in the form so the user can submit the form once they are done filling it out. --}}
    <button>Save!</button>
</form>