<form action="/celebrities" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="" placeholder="escribe un nuevo nombre"/>
    <label for="occupation">Ocupacion</label>
    <input type="text" name="occupation" value="" placeholder="escribe la ocupación"/>
    <label for="catchPhrase">Frase</label>
    <input type="text" name="catchPhrase" value="" placeholder="escribe la frase">

    <button type="submit">Agregar</button>
 </form>