{{> mainNav}}
<h1 class="main-title">Let's create a new celebrity!</h1>
<form action="/celebrities/new" method="post" class="form">
  <div class="form__field">
    <input type="text" id="name" name="name" placeholder="Name" class="form__input form__input--text">
  </div>
  <div class="form__field">
    <input type="text" id="occupation" name="occupation"
      placeholder="Occupation" class="form__label">
  </div>
  <div class="form__field">
    <input type="text" id="catch-phrase" name="catchPhrase" placeholder="Catch phrase" class="form__input form__input--text">
  </div>
  <div class="form__actions">
    <input type="submit" value="Create" class="button button--create form__submit">
  </div>
</form>