<h1>New Celebrity</h1>

<form action="/new" method="POST">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" name="name" id="" aria-describedby="emailHelp" placeholder="Name of Celebrity">
  </div>
  <div class="form-group">
    <label for="">Occupation</label>
    <input type="text" class="form-control" name="occupation" id="" placeholder="Occupation of Celebrity">
  </div>
  <div class="form-group">
    <label for="">Catch Phrase</label>
    <input type="text" class="form-control" name="catchPhrase" id="" placeholder="Catch Phrase of Celebrity">
  </div>
  <button type="submit" class="btn btn-primary">Create New Celebrity</button>
</form>