<!DOCTYPE html>
<html>
  <head>
    <title> New celebrity </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>New Celebrity</h2>
    <form action="/celebrities" method="post">
      <input name="name" placeholder="name">
      <input name="occupation" placeholder="occupation">
      <input name="catchPhrase" placeholder="catchPhrase">
      <button type="submit">Create celebrity</button>
    </form>
  </body>
</html>
