<h2>Create a new celebrity</h2>
<form action="/celebrities" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" value="Johnny DEEP">

    <label for="occupation">Occupation</label>
    <input id="occupation" name="occupation" type="text" value="Actor">

    <label for="catchPhrase">Catch Phrase</label>
    <input id="catchPhrase" name="catchPhrase" type="text" value="Best actor ever">

    <button class="btn">Submit</button>
</form>