<h1>Create a celebrity</h1>

<form action="/celebrities/new" method="POST">

  <div class="form-group">
    <label for="field1">Name</label>
    <input name="name" type="text" class="form-control" id="field1">
    <small class="form-text text-muted">Introduce el nombre completo</small>
  </div>

  <div class="form-group">
    <label for="field2">Occupation</label>
    <input name="occupation" type="text" class="form-control" id="field2">
  </div>

  <div class="form-group">
    <label for="field3">Catch Phrase</label>
    <input name="catchPhrase" type="text" class="form-control" id="field3">
  </div>

  <button type="submit" class="btn btn-dark">Create</button>
</form>