<h2>Add new celebrity</h2>
<form action="/celebrities/new" method="post">
    <label>
        Celeb name:
        <input placeholder="Write name" type="text" name="name">
    </label>
    <label>
        Occupation:
        <input placeholder="Write occupation" type="text" name="occupation">
    </label>
    <label>
        Catch Phrase:
        <input placeholder="Write catch phrase" type="text" name="catchPhrase">
    </label>
    <input type="submit">
</form>