<h2>ADD NEW CELEBRITY</h2>

<br>
<form action="/celebrities" method="POST">
    NAME: <input type="text" id="name" name="name">
    <br>
    <br>
    OCCUPATION:<input type="text" id="occupation" name="occupation">
    <br>
    <br>
    CATCH PHRASE:<input type="text" id="catchPhrase" name="catchPhrase">
    <br>
    <br>
    <button type="submit">SEND</button>
</form>
<br>
<br>
<br>
<a href="/">Back to menu</a>