<h2>{{title}}</h2>

<form action="/new" method="post">
    <input type="text" name="name">
    <input type="text" name="occupation">
    <input type="text" name="catchPhrase">
    <button type="submit">Create</button>
</form>