<h2>Add a new celebrity!</h2>
<form action="" method="POST">
  
  <label for="">
    Name:
    <input type="text" name="name">
  </label>
  
  <label for="">
    Occupation:
    <input type="text" name="occupation">
  </label>
  
  <label for="">
    Catchphrase:
    <input type="text" name="catchPhrase">
  </label>
  
  <button type="submit">Add</button>

</form>