<h2>Add celebrity</h2>

<form action="/celebrities" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation">

  <label for="catchphrase">Catchphrase:</label>
  <input type="text" name="catchphrase">

  <button type="submit">Add</button>
</form>