<h2>Celebrities More

</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="celebName" placeholder="a침ade nombre"> <br><br>
  <input type="text" name="celebOccupation" placeholder="a침ade ocupaci칩n"><br><br>
  <input type="text" name="celebPhrase" placeholder="a침ade frase"><br><br>
  <button type="submit">Send</button>
</form>