<h2>Add new celebrity</h2>
<form action="/celebrities" method="POST">
  <label>Name: </label><input type="text" name="name">
  <label>Occupation: </label><input type="text" name="occupation">
  <label>Catch Phrase: </label><input type="text" name="catchFrase">
  <button type="submit">Add</button>
</form>