<h2> Add new celebrity! </h2>

<form method="post" action="/celebrities">
  <input type="text" name="celebrityName" placeholder="Enter name">
  <br>
  <input type="text" name="celebrityOccupation" placeholder="Enter occupation">
  <br>
  <input type="text" name="celebrityPhrase" placeholder="Enter phrase">
  <br>
  <button> Add! </button>

</form>
