<h2> Add a Celebrity to the list</h2>

<form action="/celebrities-new" method="POST">
<label>Name:</label>
<input name="name" type="text">

<label>Occupation:</label>
<input name="occupation" type="text">

<label>catchPhrase:</label>
<input name="catchPhrase" type="text">

<button>Add New Celebrity</button>
</form>
