<h2>New celebrity</h2>

<form action="/celebrities/new" method="POST">
    <div>
        <span> Name: </span>
        <input type="text" name="name">
    </div>
    <div>
        <span> Occupation: </span>
        <input type="text" name="occupation">
    </div>
    <div>
        <span> Catch phrase: </span>
        <input type="text" name="catchPhrase">
    </div>
    <button type="submit"> Create! </button>
</form>