<h2>Nueva celebrity</h2>

<form action="/celebrities" method="POST">

  <input type="text" name="name" id="name">
  <input type="text" name="occupation" id="occupation">
  <input type="textarea" name="phrase" id="phrase">
  <button type="submit">Submit</button>

</form>