<h2>New celebrities</h2>

<form action ="/celebrities" method="POST">
<label for="name"></label><input type="text" name="name" id="name" value="{{name}}">

<label for="occupation"></label><input type="text" name="occupation" id="occupation" value="{{occupation}}">

<label for="catchPhrase"></label><input type="text" name="catchPhrase" id="catchPrase" value="{{catchPhrase}}">

<button type="Submit">Add new celebrity</button>
</form>