<h2>New Celebrity</h2>
<form action="/celebrities" method="POST">

    <label for="name">name</label>
    <input type="text" id="name" name="name">
    <label for="occupation">occupation</label>
    <input type="text" id="occupation" name="occupation">
    <label for="catchPhrase">catch phrase</label>
    <input type="text" id="catchPhrase" name="catchPhrase">

    <button type="submit">Add new celebrity</button>
</form>