<h2>Add a new Celebrity</h2>
<form method="POST">
<label for="">Name</label>
<input type="text" name="name" id="">
<label for="">Occupation</label>
<input type="text" name="occupation" id="">
<label for="">CatchPhrase</label>
<input type="text" name="catchPhrase" id="">
<button type="submit">Create new Star</button>
</form>