<form class="form" action="/celebrities" method="POST">
    <h2 class="title">Create actor/actress !</h2>
    <div class="form-group">
        <label class="label" for="name">Name</label>
        <input class="input" id="name" type="text" name="name">
    </div>

    <div class="form-group">
        <label class="label" for="actor">Actor</label>
        <input class="input" id="actor" type="text" name="actor">
    </div>


    <div class="form-group">
        <label class="label" for="catchphrase">Catchphrase</label>
        <input class="input" id="catchphrase" type="text" name="catchphrase">
    </div>

    <button class="btn">Submit</button>
</form>