<h2>New Celebrity Phrase</h2>
<form action="./new" method="post">
  Name:
  <input type="text" name="name"><br>
  Phrase:
  <input type="text" name="catchPhrase"><br>
  Occupation:
  <select name="occupation">
    <option value="actor">Actor</option>
    <option value="singer">Singer</option>
    <option value="comedian">Comedian</option>
    <option value="unknown">Unknown</option>
  </select><br>
  <input type="submit" value="Submit">
</form>
