<h2>New Celebrity</h2>
<form action="/celebrities" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="ocupation" placeholder="Ocupation">
    <input type="text" name="catchFrase" placeholder="Catch Phrase">
    <input type="submit" value="Add">
</form>
