<h2>{{title}}</h2>
<hr>
<form action="/celebrities" method="post">
  <label for="name">celebrity's name</label>
  <br>
  <input type="text" name="name" id="name" placeholder="Arnold Schawassjfkdnegger">
  <br>
  <label for="occupation">celebrity's occupation</label>
  <br>
  <input type="text" name="occupation" id="occupation" placeholder="Former Governor of California">
  <br>
  <label for="catchPhrase">Catch Phrase</label>
  <br>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="hasta la vista, baby">
  <br>
  <input type="submit" value="create new celebrity!">
</form>