
<h1>Insert another Celebrity!</h1>
<form action="/celebrities" method="POST">
    <p><label for="name">Name: </label><input type="text" name="name" placeholder="name"></p>
    <p><label for="occupation">Occupation: </label><input type="text" name="occupation" placeholder="occupation"></p>
    <p><label for="catchPhrase">Phrase: </label><input type="text" name="catchPhrase" placeholder="write phrase"></p>
    <p><button type="submit">Done</button></p>
</form> 