<h2>Include celebrities of your choice!</h2>
<form method="POST">
  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="occupation" id="occupation" placeholder="occupation">
  <textarea name="catchPhrase" id="" cols="50" rows="7" placeholder="Write something they said..."></textarea>
  <button type="submit">Add Celebrity</button>
</form>