<form action="/celebrities" method="POST">

<label for="input-name">Name:</label>
<input type="text" name="name" id="input-name" />

<label for="input-occupation">Occupation:</label>
<input type="text" name="occupation" id="input-occupation" />

<label for="input-catchphrase">Catch Phrase:</label>
<input type="text" name="catchphrase" id="input-catchphrase" />

<button type="submit">Create New Celeb</button>
</form>