<h1>Create Celebrity</h1>

<form action="/celebrities/new" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Occupation:</label>
    <input type="String" name="occupation">

    <label for="">Catch Phrase:</label>
    <input type="String" name="catchPhrase">

    <button type="submit">Create</button>
</form>