<h2>New Artists</h2>

<form action="/celebrities/new" method="POST">

    <label for="name">Artist name</label>
    <input id="name" type="text" name="name">

    <label for="Occupation">Occupation</label>
    <input id="Occupation" type="text" name="Occupation">

    <label for="catchPhrase">catchPhrase</label>
    <input id="catchPhrase" type="text" name="catchPhrase">

    <button>Create</button>
</form>