<h2>CREATE NEW CELEBRITY</h2>

<form method="POST" action="/celebrities/create">

  <div>
    <label>NAME</label>
    <input type="text" name="name" placeholder="Name">
  </div>

  <div>
    <label>OCCUPATION</label>
    <input type="text" name="occupation" placeholder="Occupation">
  </div>

  <div>
    <label>CATCHPHRASE</label>
    <input type="text" name="catchPhrase" placeholder="CatchPhrase">
  </div>

  <button type="submit" class="btn btn-dark">Create New Celebrity</button>

</form>