<h2>Add a new celebrity</h2>
<form action="/celebrities" method="POST"> 
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Occupation:</label>
    <input type="text" name="occupation">

    <label for="">CatchPhrase:</label>
    <input type="text" name="catchPhrase">

    <button type="submit">ADD</button>
</form>