<h2>Add new Celebrity</h2>

<form action="/celebrities" method="POST">
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </li>
    <li>
      <label for="occupation">Occupation</label>
      <input type="text" name="occupation" id="occupation">
    </li>
    <li>
      <label class="label" for="catchPhrase">catchPhrase</label>
      <input type="text" name="catchPhrase" id="catchPhrase">
    </li>
  </ul>
  <button>Submit</button>
</form>