<h2>INSERT NEW CELEBRITY</h2>

<form action="/celebrities/new" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="occupation" placeholder="occupation">
    <input type="text" name="catchPhrase" placeholder="catchPhrase">
    <button type="submit">SUBMIT CELEB</button>
</form>