<h2>Add Celebrity</h2>

<form action="/celebrities/{{this._id}}" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="occupation" placeholder="Occupation?">
    <input type="text" name="catchPhrase" placeholder="Catchy phrase from your star">
    <button type="submit">Add Celebrity</button>
</form>