<h2>Create celebrity</h2>

<div class="col">
	<div class="row">
        <h2>Create a new celebrity</h2>
	</div>
	<div class="row">
		<form action="/celebrities" method="POST">
			<div class="form-group">
				<label for="name">Celebrity name: </label>
				<input class="form-control" type="text" id="name" name="name" >
			</div>
			<div class="form-group">
				<label for="occupation">Occupation:</label>
				<input class="form-control" type="text" id="occupation" name="occupation">
			</div>
			<div class="form-group">
				<label for="catchPhrase">Catch phrase: </label>
				<input class="form-control" type="text" id="catchPhrase" name="catchPhrase">
			</div>
			<button type="submit" class="btn btn-primary">Confirm</button>
		</form>
	</div>
</div>