<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Celebrities
    </title>
</head>

<body>

  <h1>Add New Celebrity</h1>

    <form  method="POST" action="/celebrities/new">
      <fieldset id="sign_up">
        <div>
          <label>Name</label>
          <input type="name" name="name"  id="name" required>
        </div>
        <div>
          <label>Ocupattion</label>
          <input type="description" name="ocupattion"  id="description" required>
        </div>
        <div>
          <label>Catch Phrase</label>
          <input type="name" name="catchPhrase"  id="imageUrl" required>
        </div>
      </fieldset>
      <div class="">
        <input type="submit" value="Add Celebrity">
      </div>
    </form>


</body>

</html>
