<h2>Add new celebrities</h2>
<form action="/celebrities/new" method="post">
    <label for="">name:
        <input type="text" name="name">
    </label>
    <label for="">Occupation:
        <input type="text" name="occupation">
    </label>
    <label for="">Catch phrase:
        <input type="text" name="catchPhrase">
    </label>
    <button type="submit">Add</button>
</form>