<form class="form" action="/celebrities" method="POST">
  <h2 class="title">Add your favorite celebrity!</h2>

  <div class="form-group">
    <label class="label" for="name">Name</label>
    <input class="input" id="name" type="text" name="name">
  </div>

  <div class="form-group">
    <label class="label" for="occupation">Occupation</label>
    <input class="input" id="occupation" type="text" name="occupation">
  </div>


  <div class="form-group">
    <label class="label" for="cathPhrase">Quote</label>
    <input class="input" id="cathPhrase" type="text" name="cathPhrase">
  </div>

      <button class="btn">Add it!</button>
      </form>