
<form class="form" action="/celebrities/new" method="POST">
<h2>Adding New Celebrities</h2>
    <div class="form-group">
      <label class="label" for="name">Name</label>
      <input class="input" id="name" type="text" name="name">
    </div>

    <div class="form-group">
      <label class="label" for="occupation">Occupation</label>
      <input class="input" id="occupation" type="text" name="occupation">
    </div>

    <div class="form-group">
      <label class="label" for="catchPhrase">Catch phrase</label>
      <input class="input" id="catchPhrase" type="text" name="catchPhrase">
    </div>

    <button class="btn" type="submit">Submit</button>
</form>