<div class="containerNew">
  <h2>Añade una nueva celebrity</h2>

  <form class="box" action="/celebrities" method="POST">
    <label for="">Nombre:</label>
    <input type="text" name="name" placeholder="nombre"><br>

    <label for="">Ocupación:</label>
    <input type="text" name="occupation" placeholder="ocupacion"><br>

    <label for="">Frase famosa:</label>
    <input type="text" name="catchPhrase" placeholder="frase famosa"><br>

    <button type="submit">Añadir celebrity</button>

  </form>

  <a href="/celebrities">Cancelar y volver a la lista de celebrities</a>
</div>