

<h2 class="titles">Add to server</h2>

<div class="containers">

<form action="/celebrities/created" method="POST">


<p>Name</p>
<input type="text" name="theName">


<p>Occupation</p>
<input type="text" name="theOccupation">


<p>Catchphrase</p>
<input type="text" name="theCatchphrase">

<p>Movies</p>

<select name="theMovies">
<option value="{{this._id}}" selected disabled>Please pick one</option>

{{#each movies}}
<option value="{{this._id}}">{{this.title}}</option>
{{/each}} 

</select>


<button>Save</button>

</form>
</div>
