<form method="POST" action="/celebrities/createCeleb">
<h2>Create a celebrity</h2>
<input type="text" name="name">
<input type="text" name="occupation">
<input type="text"name="catchPhrase">
<button class="btn">create !</button>
</form>

