<div class="container">
<h2>Create a new Celebrity</h2>
<form action="#" method="POST">
    <div class="mb-3">
        <label for="inputName" class="form-label mt-4">Name</label>
        <input type="text" class="form-control" id="inputName" name="name">

        <label for="inputOccupation" class="form-label mt-4">occupation</label>
        <input type="text" class="form-control" , id="inputOccupation" min="0" max="100" name="occupation">

        <label for="inputCatchPhrase" class="form-label mt-4">catchPhrase</label>
        <input type="text" class="form-control" , id="inputCatchPhrase" min="0" max="100" name="catchPhrase">

        <label for="inputImage" class="form-label mt-4">Image</label>
        <input type="text" class="form-control" , id="inputImage" min="0" max="100" name="image">

    </div>
    <button type="submit" class="btn btn-back mt-2">Add celebrity</button>
</form>
</div>