<h2>New celebrity</h2>

<form action="/newCelebrity" method="POST">
<label for="name">Name:
    <input id="name" type="text" name="name">
</label>
<label for="ocupation">Ocupation:
    <input id="ocupation" type="text" name="ocupation">
</label>
<label for="catchPhrase">Catch Phrase:
    <input id="catchPhrase" type="text" name="catchPhrase">
</label>
<input type="submit" value="Create">
</form>