
<h1>Add to the Database Please</h1>

<form action="/celebrities/new" method="POST">

<label for="">Name: </label>
<input type="text" name="name">


<label for="">Occupation: </label>
<input type="text" name="occupation">


<label for="">Catch Phrase: </label>
<input type="text" name="catchPhrase">


<button class="submit">Add</button>




</form>