<h1>Add a new Celebrity</h1>
<section class="form-container">
  <form action="/celebrities/new" method="post">
    <div>
      <label>Celebrity name</label>
      <input type="text" name="name" placeholder="enter with name" id="celeb-name">
    </div>
    <div>
      <label>His/Her occupation:</label>
      <input type="text" name="occupation" placeholder="enter with occupation" id="celeb-occupation">
    </div>
    <div>
      <label>His/Her catch phrase:</label>
      <input type="text" name="catchPhrase" placeholder="enter with the phrase" id="celeb-name">
    </div>
    <div>
      <button type="submit">Add Celebrity</button>
    </div>
  </form>
</section>