<h2>New Celeb</h2>
<form action="/celebrities" method="POST">
    <input type="text" name="celebName" placeholder="Name">
    <input type="text" name="celebOccupation" placeholder="Occupation">
    <input type="text" name="celebPhrase" placeholder="Catch Phrase">
    <button type="submit">Send</button>
</form>
