<h2>Add a celebrity</h2>
<br>
<form action="/celebrities/new" method="post">
  <input type="text" name="name" placeholder="name"> <br><br>
  <input type="text" name="occupation" placeholder="occupation"> <br><br>
  <input type="text" name="catchPhrase" placeholder="catch phrase"> <br><br>
  <button type="submit">Add</button>
</form>