<h2>Add a New Celebrities</h2>
<form method="POST" action="/celebrities">
  <div class="form-group">
    <label for="theName">Name</label>
    <input name="name" type="text" class="form-control" id="theName" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="occupation">Occupation</label>
    <input name="occupation" type="text" class="form-control" id="theOccupation">
  </div>
    <div class="form-group">
    <label for="theCathPhrase">Cath Phrase</label>
    <input name="catchPhrase" type="text" class="form-control" id="theCathPhrase">
  </div>
  <button type="submit" class="submit-button">Submit</button>
</form>