<h2>add a new person to the database</h2>
<form action="/celebrities" method="post">
  name: <input type="text" name="name"><br>
  occupation: <input type="text" name="occupation"><br>
  catchphrase: <input type="text" name="catchPhrase"><br>
  <button type="submit">SUBMIT</button>
</form>