<h2>Add your favorite celebrity</h2>
<form action="/new" method="post">
<br>
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="occupation">Occupation:</label>
<input name="occupation" id="occupation" type="text"/>
<br>
<label for="catchPhrase">Catch Phrase</label>
<input name="catchPhrase" id="catchPhrase" type="text"/>
<br>
<button type="submit">Submit</button>
</form>

