<h2>Adding celebrities</h2>

<form action="/new" method="post">
Name: <input type="text" name="name" id=""><br>
Occupation: 
<select name="occupation" id="">
  <option value="actor">actor</option>
  <option value="singer">singer</option>
  <option value="comedian">comedian</option>
  <option value="sports">sports</option>
  <option value="unknown">unknown</option>
  <option value="other">other</option>
</select><br>
Catch phrase input: <textarea name="catchPhrase" id="" cols="30" rows="1"></textarea>
<button type="submit">Add celebrity</button>
</form>