<h1>Add your own celeb!</h1>
<form action="/celebrities" method="POST" enctype="multipart/form-data">
<label>Name</label>
<input name="name" type="text">
<label>Occupation</label>
<input name="occupation" type="text">
<label>Catch Phrase</label>
<input name="catchPhrase" type="text">
<label>Photo</label>
<input type="file" name="thePic">
<div class="center-align"><button class="waves-effect waves-light btn-large">Submit!</button></div>
</form>