<h2>Add a celebrity</h2>

<form action="/celebrities/new" method="POST">
    <input type="text" name="name" placeholder="NAME" />

    <input type="text" name="occupation" placeholder="OCCUPATION" />

    <input type="text" name="catchPhrase" placeholder="CATCHPHRASE" />

    <button type="submit">SAVE</button>

</form>