<form action="/new" method="POST">
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name">

    <label for="occupation">Ocupación</label>
    <input type="text" id="occupation" name="occupation">

    <label for="catchPhrase">Cita</label>
    <input type="text" id="catchPhrase" name="catchPhrase">
  
    <button type="submit">Crear Celebrity</button>
  </form>
  