<h2>Add a Celebrity</h2>

<form action="/celebrities/process-add" method="POST">
  <label>
    Name:
    <input type="text" name="name" placeholder="Betty Boop" />
  </label>

   <label>
     Occupation:
    <input type="text" name="occupation" placeholder="dancer" />
  </label>

   <label>
     Catch Phrase: 
    <input type="text" name="catchPhrase" placeholder="Poopoopidoo" />
  </label>

  <button>Submit new celebrity</button>
</form>