<form action="/celebrities/create" method="POST">
    <label>First Name</label>
    <input type="text" name="firstName">
    <label>Last Name</label>
    <input type="text" name="lastName">
    <label>Occupation</label>
    <input type="text" name="occupation">
    <label>Catch Phrase</label>
    <input type="text" name="catchPhrase">
    <button>Create new Celeberity</button>
</form>