<h2>New route</h2>

<form action="/celebrities" method="POST">
  <label for="name">Celebrity name:</label>
  <input id="name" type="text" name="name">
  <label for="occupation">Occupation:</label>
  <input id="occupation" type="text" name="occupation">
  <label for="catchPhrase">Catch Phrase:</label>
  <input id="catchPhrase" type="text" name="catchPhrase">

  <button type="submit">Add Celebrity</button>
</form>