<h2>Add a new Celebrity!</h2>
<form action="new" method="POST">
  <label for="name">Name</label><input name="name" type="text">
  <label for="occupaton">Occupation</label><input name="occupation" type="text">
  <label for="catchPrase">Catch Phrase</label><input name="catchPhrase" type="text">
  <button>Submit</button>
</form>
<br>
<a href="/">Go back</a>