<h1>Add a new celebrity to our site! </h1>
<h2>Fill the blank spaces with the artist info you want to share</h2>


<form action="/celebrities" method="post">
  <label>Name</label>
  <input type="text" name="name" id="name">
  <label>Occupation</label>
  <input type="text" name="occupation" id="occupation">
  <label>Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase">
  <input type="submit" value="Add Celebrity">
</form>

<a href="/celebrities">Main</a>