<h2>NEW CELEBRITY</h2>

<form action="/celebrities/new" method="POST">
    <h1>Create a celebrity</h1>
    <label for="name">name</label>
    <input type="text" id="name" name="name">

    <label for="occupation">occupation</label>
    <input type="text" id="occupation" name="occupation">

    <label for="catchPhrase">catch phrase</label>
    <input type="text" id="catchPhrase" name="catchPhrase">

    <button>Create</button>
</form>