<div class="bar">
    <h2>Add new celebrity</h2>
</div>

<div class="col-lg-8 add-container">

    <div class="add-info-container">

        <form class="add-form" action="/addCelebrity" method="POST">

            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Occupation" name="occupation">
            <input type="text" placeholder="Catch phrase" name="catchPhrase">
            <button type="submit">Add celebrity!</button>

        </form>

    </div>

</div>
