<h2>Here you can add your own celebrities</h2>
<form method="POST" action="/new">
    <input type="text" name="name" placeholder="Celebrity name" />
    <input type="text" name="occupation" placeholder="Celebrity occupation" />
    <input type="text" name="catchPhrase" placeholder="Celebrity catchphrase" />
    <button type="submit">Submit!</button>
</form>