<h2>Add a new celebrity</h2>

<form action="/celebrities/new" method="POST">
<div>Name:  <input name="name" type="text"></div>
<div>Occupation: <input name="occupation" type="text"></div>
<div>Catch Phrase:   <input name="catchPhrase" type="text"></div>
<input type="button"  type="submit" value="Create">
</form>

<a type="button" class="btn btn-info" href="/">Back Home</a>