<h2>Please add a new celebrity:</h2>

{{!-- tag that makes a POST request to /celebrities. --}}

<form action="/celebrities/new" method="post">
  Name: <input type="text" name="name"><br><br>
  Occupation: <input type="text" name="occupation"><br><br>
  CatchPhrase: <input type="text" name="catch-phrase"><br><br>
  <button type="submit" value="Submit">Post the new celeb</button>
</form>