<h2>New celebrity</h2>
<form method="POST" action="/celebrities">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="catchPhrase">
  <input type="submit" value="submit">
</form>