<div>
    <h2>Añadir un celebrity</h2>
    <hr>

    <form action="/celebrities/add" method="POST">
        <ul>
            <li>
                <label for="field1">Nombre</label>
                <input type="text" id="field1" name="name">
            </li>

            <li>
                <label for="field2">Profesión</label>
                <input type="text" id="field2" name="occupation">
            </li>

            <li>
                <label for="field3">Frase preferida</label>
                <input type="text" id="field3" name="catchPhrase">
            </li>
        </ul>

        <button type="submit">Añade tu celebrity nuevo </button>
    </form>
</div>