extends ../layout

block content

  h2 Add Celebrity

  .form-container
    form(action="/celebrities" method='POST')

      .form-element
        label(for="name") Name
        input(type="text" id="name" name="name")

      .form-element
        label(for="occupation") Occupation
        input(type="text" id="occupation" name="occupation")

      .form-element
        label(for="catchPhrase") Catchphrase
        input(type="text" id="catchphrase" name="catchPhrase")

      if error 
        p #{error}
      button(type="submit") Add new celebrity!