<h2>Add new celebrity</h2>

<form action="/celebrities" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>  
    </div>
   
    <div>
        <label for="occupation">Ocuppation</label>
        <input type="text" name="occupation" id="occupation" required>  
    </div>
   
    <div>
        <label for="catchPhrase">Catch phrase</label>
        <input type="text" name="catchPhrase" id="catchPhrase" required>    
    </div>
    
    <button type="submit">Add celebrity</button>
</form>

<a href="/celebrities">Back</a>