<h2>Add a new celebrity</h2>

<form action="/celebrities/new" method="POST">
    <label for="name-input">Name</label>
    <input id="name-input" type="text" name="name" required>
    <label id="ocupation-input" for="ocupation-input" required>Ocupation</label>
    <input type="text" name="ocupation">
    <label for="catch-phrase-input">Catch phrase</label>
    <input id="catch-phrase-input" type="text" name="catchPhrase">
    <button type="submit">Submit</button>
</form>