<div class="container pad-50 bg-pastel-pink">
    <div class="row">
        <div class="col-12">
            <h2 class=" border-lf-rg pad-50 aling-center white"><strong>New Celebrity</strong></h2>
        </div>
    </div>

    <form class="form-inline" action="new" method="post">
        <div class="form-group mb-2 pad-15-r">
            <label for="name" class="pad-15-r ">Name</label>
            <input name="name" type="text" class="form-control">
        </div>
        <div class="form-group mb-2 pad-15">
            <label for="ocupation" class="pad-15-r ">Occupation</label>
            <input name="ocupation" type="text" class="form-control">
        </div>
        <div class="form-group mb-2 pad-15">
            <label for="catchPharse" class="pad-15-r ">Favourit Pharse</label>
            <input name="catchPharse" type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-dark mb-2">Create New Celebrity</button>
    </form>
    <a class="btn btn-dark btn-sm bradius-0" href='/celebrities'>Back List</a>


</div>