<form action="/celebrities/add" method="post" class="form">
    <h1 class="title">Add a celebrity</h1>
    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="name" required>
    <label class="label" for="occupation">occupation</label>
    <input class="input" id="occupation" type="text" name="occupation">
    <label class="label" for="catchphrase">catchphrase</label>
    <input class="input" id="catchphrase" type="text" name="catchphrase">
    <button class="btn">ok</button>
</form>
