<h2>Create New Celebrity</h2>
<form id="form" action="/celebrities/new" method="post" accept-charset="utf-8">
  <h3>Celebrity Name</h3>
  <input id="form-name" type="text" name="name" placeholder="Name" required="required">
  <h3>Celebrity Occupation</h3>
  <input id="form-ocu" type="text" name="occupation" placeholder="Occupation" required="required">
  <h3>Celebrity CatchPhrase</h3>
  <textarea id="form-catch"  name="catchPhrase"  placeholder="CatchPhrase"cols="30" rows="10"></textarea>
  <br>
  <input id="submit" type="submit" value="Create Celebrity">
</form>