<h2>Crear nuevo celebrity</h2>

<form action="/celebrities/new" method="post">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Ocuppation:</label>
    <input type="text" name="occupation">

    <label for="">Catch Phrase:</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Añadir</button>
</form>