<h1>CREA TU CELEBRITY</h1>

<form action="/celebrities/new" method="post">

<p>Nombre de la celebrity </p><input type="text" name="name" id=""><br>
<p>Qué hace</p><input type="text" name="occupation" id=""><br>
<p>Su frase más aww </p><input type="text" name="catchPhrase" id=""><br>
<button type="submit">Crear!</button>

</form>