<div>
    <h2>Celebrities' Details</h2>
    <form action="/celebrities" method="post">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name">
        <label for="occupation">Name:</label>
        <input id="occupation" type="text" name="occupation">
        <label for="catchPhrase">Name:</label>
        <input id="catchPhrase" type="text" name="catchPhrase">
        <input type="submit" value="Search">
</form>
</div>