<h2>New celebrity</h2>

<form class="form" action="/celebrities" method="POST">
    <h2>Create a label</h2>

    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name">

    <label for="occupation">Occupation</label>
    <input class="input" type="text" id="occupation" name="occupation">

    <label for="catchPhrase">Catch phrase</label>
    <input class="input" type="catchPhrase" id="catchPhrase" name="catchPhrase">

    <button class="btn">Create</button>
</form>