<h2>Add celebrity</h2>
<form action="/celebrities/new" method="post">

<label for="name-input">Name:</label>
<input type="text" id="name-input" name="name" autocomplete="off">

<label for="occupation-input">Occupation:</label>
<input type="text" id="occupation-input" name="occupation" autocomplete="off">

<label for="catchPhrase-input">Catch phrase:</label>
<input type="text" id="catchPhrase-input" name="catchPhrase" autocomplete="off">

<button type='submit'>Add celebrity</button>
</form>