{{!-- MAKE A FORM TO CREATE NEW CELEBRITIES --}}
<h2 class="title">WELCOME TO THE CREATE PAGE</h2>
<hr>

<form action="/celebrities/new" method="post" class="form">
    <h3 class="title">Create Celebrity</h3>
    <label for="name" >Name</label>
    <input type="text" name="name" placeholder="Jack Sparrow" required>

    <label for="occupation" >Occupation</label>
    <input type="text" name="occupation" placeholder="Pirate">

    <label for="catchPhrase" >Catch Phrase</label>
    <input type="text" name="catchPhrase" placeholder="Allons mes jolies, YOHO!">

    <button class="btn">Add</button>
</form>