<div class="container">
  
  <h2>Add your favourite star!</h2>

  <form method="POST" action="/celebrities/new">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name">
  </div>

  <div class="form-group">
    <label>Occupation</label>
    <input type="text" class="form-control" name="occupation">
  </div>

  <div class="form-group">
    <label>Catch Phrase</label>
    <input type="text" class="form-control" name="catchPhrase">
  </div>

  <button type="submit" class="btn btn-dark btn-block">Add this star!</button>

  </form>

</div>