<form method="POST" accept-charset="utf-8">
  {{> input label="Name" name="name"}}
  {{> input label="Occupation" name="occupation"}}
  {{> input label="Catch Phrase" name="catchPhrase"}}
  <button type="submit" class="btn btn-success">Add</button>
</form>
