<h2>Create your own football player here:</h2>

<form method="POST" action="/new">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" placeholder="Xabi Alonso">
  </div>
  <div class="form-group">
    <label>Position</label>
    <input type="text" class="form-control" name="occupation" placeholder="Midfielder">
  </div>
  <div class="form-group">
    <label>Catch Phrase</label>
    <input type="text" class="form-control" name="catchPhrase" placeholder="Cristiano Ronaldo no pone maquillaje a sus palabras">
  </div>
  <button type="submit" class="btn btn-primary">Create player</button>
</form>