<h2>Add a New Celebrity</h2>
<form action='/celebrities/new' method='post'>
<input type='text' name='name' value='name'>
<input type='text' name='occupation' value='occupation'>
<input type='catchphrase' name='catchPhrase' value='catchPhrase'>
<button type='submit'>Add</button>
</form>
