<h2>Add your celebrity</h2>
<form method="POST" action="/celebrities/new" class="form">
    <label for="name" class="label">Name:</label>
    <input type="text" name="name" id="name">
    <label for="occupation" class="label">Occupation:</label>
    <input type="text" name="occupation" id="occupation">
    <label for="catchPhrase" class="label">Catch Phrase:</label>
    <input type="text" name="catchPhrase" id="catchPhrase">
    <button class="btn">Create</button>
</form>