<h2>Agregar un nuevo Artista</h2>


<form action="/celebrities" method="post">

  <label for="">Nombre</label>
  <input type="text" name="name" required placeholder="name">
<br>
  <label for="">Ocupacion</label>
  <input type="text" name="occupation" required placeholder="occupation">
<br>
  <label for="">Frase</label>
  <input type="text" required name="catchPhrase" placeholder="catchPhrase">
<br>
  <input type="submit" value="create">
</form>