<header>
  <h2>Add a new celebrity</h2>
</header>

<form action="/celebrities" method="post">
  <!--it's action="/new" no  and not /celebrities?? -->
  <label for="name">Name:</label>
  <input id="name" type="text" name="name">

  <label for="occupation">Occupation:</label>
  <input id="occupation" type="text" name="occupation">

  <label for="catchPrase">Catch Phrase:</label>
  <input id="catchPrase" type="text" name="catchPrase">

  <button type="submit">Add</button>

</form>