<h3>Add a New Celebrity to the Catalog</h3>

<form action="/celebrities" method="POST">

<label>Name</label>
<input name="theName" type="text">

<label>Occupation</label>
<input name="theOccupation" type="text">

<label>Catch Phrase</label>
<input name="theCatchPhrase" type="text">

<button> Save </button>

</form>