<!DOCTYPE html> 
<html> 
<body> 
  <h2>Update Form</h2>
<form action="/celebrities" method="POST">
  Name:<br> 
  <input type="text" name="name"> 
  <br> 
  Occupation<br> 
  <input type="text" name="occupation"> 
  <br>
  CatchPhrase<br> 
  <input type="text" name="catchPhrase">
  <br>
  <input type="submit" value="Submit"> 
</form>  
  
</body> 
</html> 