<h2>Add celebrity</h2>
<form action="/new" method="POST">
  <input name="cName" placeholder="Name">
  <input name="cOccupation" placeholder="Occupation">
  <input name="cCatchPhrase" placeholder="CatchPhrase">
  <button type="submit">Create new celebrity</button>
</form>