<h2>Create a new celebrity</h2>

<form action="" method="POST">

  <label for="name">Name</label>
  <input required type="text" name="name">
  <label for="ocupattion">ocupattion</label>
  <input required type="text" name="ocupattion">
  <label for="catchphrase">Catch phrase</label>
  <input required type="text" name="catchPhrase">
  <button>Create</button>

</form>