<form action="/celebrities/new" method="post" class="form">

  <h1 class="title">Create a celebrity</h1>
  <hr>
  <div class="form-body">
  <label class="label" for="name">name</label>
  <input class="input" id="name" type="text" name="name" value="test celebrity">

  <label class="label" for="occupation">occupation</label>
  <input class="input" id="occupation" type="text" name="occupation" value="test celebrity">

  <label class="label" for="catchPhrase">Catch Phrase</label>
  <input class="input" id="catchPhrase" type="text" name="catchPhrase" value="test celebrity">

  <button>ok</button>
  </div>
</form>