<form method="post" action="/new-celebrity">
  <h2>Add one celebrity</h2>
  <input type="text" name="name">
  <input type="text" name="occupation">
  <input type="text" name="catchPhrase">
  <button>Click Me!</button>
</form>