<h2 class="homeTitle">New Celebrity</h2>

<div class="new">
<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation">
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase">

  <button type="submit">Create</button>
</form>
</div>
<a class="one" href="/celebrities">Back</a>