<div>
    <h2>Add a celebrity</h2>
    <form method="POST" action="/celebrities">
        <p> <input type="text" name="name" placeholder="Celebrity's Name">
        </p>
        <p> <input type="text" name="occupation" placeholder="Occupation">
        </p>
        <p> <input type="text" name="catchPhrase" placeholder="Catchphrase">
        </p>
        <p> <input type="submit" value="Add new Celebrity">
        </p>
    </form>
</div>
</form>