<div class="form">

    <h2>Add a celebrity</h2>

    <form action="/celebrities" method="POST">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="field">
            <label for="occupation">Occupation</label>
            <input type="text" name="occupation">
        </div>
        <div class="field">
            <label for="catchPhrase">Favourite catch phrase</label>
            <input type="text" name="catchPhrase">
        </div>
        <button>Submit</button>
    </form>

</div>