<h2>Add new celebrity</h2>

  <form action="/celebrities/new" method="POST">

 <p>
        Name:
        <input type="text" name="name" value="{{celebrity.name}}">
    </p>
    <p>
        Occupation:
        <input type="text" name="occupation" value="{{celebrity.occupation}}">
    </p>
    <p>
        Catch phrase:
        <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
    </p>

    <input type="submit" value="Add">
</form>
 

