<a href="/celebrities/index">Go Back</a>

<h2>New Celebrity</h2>


<form action="/celebrities" method="post">
    <input type="text" name="name" placeholder="name"></br>
    <input type="text" name="occupation" placeholder="occupation"></br>
    <input type="text" name="cathPhrase" placeholder="Phrase"></br>

    <button type="submit">Submit</button>
</form> 