<h2>Add a new celebrity</h2>

<form method="POST" action="/celebrities">

    <label for="name"></label>
    <input id="name" type="text" name="name" value="fake name">

    <label for="occupation"></label>
    <input id="occupation" type="text" name="occupation" value="fake occupation">

    <label for="catchPhrase"></label>
    <input id="catchPhrase" type="text" name="catchPhrase" value="fake catchphrase">

    <button>Add</button>
    
</form>
