<h2>Add a celebrity</h2>

<form method="POST" action="/process-celebrity">
    <input name="name" type="text" placeholder="Celebrity name..."/>
    <br />
    <input name="occupation" type="text" placeholder="Occupation..."/>
    <br />
    <input name="catchPhrase" type="text" placeholder="catchPhrase...(8 characters or more)s"/>
    <br />
    <button> Save This Celebrity</button>
    <br />
</form>