<h2>Create new celebrity</h2>
<form method="post" action="/celebrity">
  <label>Name</label>
  <input type="text" name="name" placeholder="name">
  <label>Occupation</label>
  <input type="text" name="occupation" placeholder="occupation">
  <label>Catch phrase</label>
  <input type="text" name="catchPhrase" placeholder="catch phrase">
  <button>Click!</button>
</form>