
<h2>Add to server</h2>


<form action="/celebrities/created" method="POST">


<p>Name</p>
<input type="text" name="theName">


<p>Occupationr</p>
<input type="text" name="theOccupation">


<p>Catchphrase</p>
<input type="text" name="theCatchphrase">


<button>Save</button>

</form>