
<h1>Create a new Celeb Here!</h1>

<!-- Simple form which will send a POST request -->
<form action="/celebrities/new/create" method="post">

  <p>Name</p>
  <input type="text" name="theName">


    <p>Occupation</p>
  <input type="text" name="theOccupation">


    <p>Catchphrase</p>
  <input type="text" name="theCatchphrase">

  <input type="submit" value="Submit Celebrity">
</form>