<h2>ENCABEZADO</h2>

<form action="/celebrities/new" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="catchPhrase">
  <button type="submit">Create</button>
</form>
