<h2>Add new Celebrity</h2>


<hr class="mt-0" />

<div class="row">
    <div class="col-15 col-sm-12">
        <form action="/celebrities" method="post" class="mt-3 mb-3 mx-auto">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Celebrity name" name="name">
                <label for="floatingInput">CELEBRITY NAME</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="ocupation" placeholder="Celebrity ocupation"
                    name="ocupation">
                <label for="floatingPassword">CELEBRITY OCUPATION</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="catchPhrase" placeholder="Celebrity catch phrase"
                    name="catchPhrase">
                <label for="floatingPassword">CELEBRITY CATCH PHRASE</label>
            </div>


            <div>
                <div class="mb-5">
                    <button type="submit" class="btn btn-outline-success pl-4 pr-4">ADD NEW CELEBRITY</button>
                </div>
        </form>


        <div class="mb-5">
            <a class="btn btn-outline-primary pl-4 pr-4" href="/celebrities/">BACK</a>
        </div>
    </div>


</div>