<h2>Add Celebrity</h2>

<form action="/celebrities" method="post">
  <div class="form-row">
    <label for="">Name</label>
    <input type="text" name="name" required>
  </div>
  <div class="form-row">
    <label for="">Occupation</label>
    <input type="text" name="occupation">
  </div>
  <div class="form-row">
      <label for="">Catch Phrase</label>
      <input type="text" name="catchPhrase">
  </div>
  <input type="submit" value="add">
</form>