<h2>Create new celebrity</h2>
<form method="POST" action="/celebrities">
  <input type="text" name="name" placeholder="name"/><br/>
  <input type="text" name="occupation" placeholder="occupation"/><br/>
  <input type="text" name="catchPhrase" placeholder="catch phrase"/><br/>
  <button type="submit" value="Submit">Submit</button>
</form>