<h2>New Famous</h2>
<form action="/celebrity/new" method="POST">
  <input name="name" type="text" placeholder="Name">
  <input name="occupation" type="text" placeholder="Occupation">
  <input name="catchPhrase" type="text" placeholder="Catch Phrase">
  <input type="submit" value="New Celebrity">
</form>