<h2>New celebrity</h2>
<form action="/celebrities/new" method="post">
  <label for="name">name:</label>
  <input id="name" type="text" name="name">

  <label for="occupation">occupation:</label>
  <input id="occupation" type="text" name="occupation">

  <label for="catchPhrase">catchPhrase:</label>
  <input id="catchPhrase" type="text" name="catchPhrase">

  <button type="submit">add new celebrity</button>
</form>