<h2>Añadir nueva celebridad</h2>

<form action="/celebrities" method="post">
  <label for="">Nombre:</label>
  <input type="text" name="name"><br>

  <label for="">Ocupacion:</label>
  <input type="text" name="occupation"><br>

  <label for="">Frase:</label>
  <input type="text" name="catchPhrase"><br>

  <button type="submit">Añadir celebridad</button>

</form><br>

<a href="/celebrities">Cancelar y volver a la lista de celebridades</a>