<form method="POST" action="/celebrities">
    <h2>Create a new Celebrity</h2>
    <div class="form-group">
        <label for="drone-form">Name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Name of the celeb">
        <small id="name" class="form-text text-muted">Arthur</small>
    </div>
    <div class="form-group">
        <label for="propellers">Catchphrase</label>
        <input name="catchPhrase" type="text" class="form-control" id="catchphrase" placeholder="What does the _ say?">
    </div>
    <div class="form-group">
        <label for="maxSpeed">Occupation</label>
        <input name="occupation" type="text" class="form-control" id="occupation" placeholder="Astronaut">
    </div>
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>