<h2>NEW CELEBRITY</h2>
<form action="/celebrities/new" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="Enter celebrity name">

    <label for="">Occupation:</label>
    <input type="text" name="occupation" placeholder="Try tho think about waht their do">

    <label for="">Catch phrase: </label>
    <input type="text" name="catchPhrase" placeholder="Enter a famous phrase">


    <button type="submit">ADD THIS CELEBRITY</button>




</form>