<h2>Add a new celebrity</h2>

<form action="/celebrities/new" method="POST">
    <label>
    Name
      <input type="text" name="name">
    </label>

     <label>
    Occupation
      <input type="text" name="occupation">
    </label>

     <label>
    Catch Phrase
      <input type="text" name="catchPhrase">
    </label>

    <button type="submit">Create new celebrity</button>
</form>