<h2>Add a new Celeb</h2>

<form action="/celebrity/new" method="POST">
<label>
    Name
    <input type="text" name="name">
</label>
<label>
    Occupation
    <input type="text" name="occupation">
</label>
<label>
    Catch Phrase
    <input type="text" name="catchPhrase">
</label>
<button type="submit">Create Celeb</button>
</form>

<a href="/celebrities">Back</a>