<form action="/celebrities/new" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" name="name" value="" placeholder="Nombre">
  <br>
  <label for="ocupacion">Ocupacion:</label>
  <input type="text" name="ocupation" value="" placeholder="Ocupacion">
  <br>
  <label for="frase">Frase:</label>
  <input type="text" name="catchPhrase" value="" placeholder="Frase">
  <br>
  <button type="submit" name="button">Añadir</button>
</form>
