<h2>Add a new celebrity</h2>
<form action="/celebrities" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="Name">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" value="Occupation">
    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" value="Catch Phrase">
    <button type="submit">Add celebrity</button>
</form>