<h2>Add new celebrity</h2>
<form action="/process-celebrities/new" method="POST">
  <label for ="">Name:
    <input type="text" name="name" placeholder="Salman Khan"/>

  </label>

   <label for ="">Occupation:
    <input type="text" name="occupation" placeholder="Actor"/>

  </label>
   <label for ="">Catchphrase:
    <input type="text" name="catchPhrase" placeholder="Bhai"/>

  </label>
  <button type="submit">Add New Celebrity</button>
</form>