<h2>Lets input a celebrity</h2>

<form method="post" class="form">
    <input id="name" name="name" type="text" >
    <input id="occupation" name="occupation" type="text" >
    <input id="catchPhrase" name="catchPhrase" type="text" >
    <button>create</button>
</form>