<h2>New Celebritie</h2>

<form action="/celebrities" method="POST">

<p>
  <label for="name">Name:
  <input type="text" name="name"></input></p>
  </label>
<p>
<label for="occupation"> Occupation:
<input type="text" name="occupation"></input></p>
</label>

<p>
<label for="catchPhrase"> Cath Phrase:
<input type="text" name= "catchPhrase"></input></p>
</label>

<button type="submit">Send</button>
</form>