<h2>Add a new celebrity</h2>

<form action="/celebrities/new" method="post" class="form">
  

    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="name" value="test celebrity">

      <label class="label" for="occupation">occupation</label>
      <input class="input" id="occupation" type="text" name="occupation" value="test occupation">

     <label class="label" for="catchPhrase">Catch catchPhrase</label>
    <input class="input" id="catchPhrase" type="text" name="catchPhrase" value="test catchPhrase">

    <button class="btn">ok</button>
</form>