<h2>Create a new celebrity</h2>
<form action="/celebrities" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
    <br><br>
  <label for="occupation">Ocuppation:</label>
  <input type="text" name="occupation">
    <br><br>
  <label for="catch_phrase">Catch phrase:</label>
  <input type="text" name="catch_phrase">
    <br><br>
  <button type="submit">Add celebrity</button>
</form>