<h2>{{title}}</h2>

<form action="/celebrities" method="post">
    <div>
        <label for="">Name:</label>
        <input type="text" name="name" value="">
    </div>
    <div>
        <label for="">Occupation:</label>
        <input type="text" name="occupation" value="">
    </div>
    <div>
        <label for="">Catch Phrase:</label>
        <input type="text" name="catchPhrase" value="">
    </div>
    <button type="submit">ADD</button>
</form>

<a href="/celebrities">Return</a>