<h1>Add a New Celebrity</h1>
<form action="/celebrities/new" method="POST">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" value="{{celebrity.name}}">
  </p>
  <p>
    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation" value="{{celebrity.occupation}}">
  </p>
  <p>
    <label for="catchPhrase">Catch phrase: </label>
    <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
  </p>
  <p>
    <input type="submit" value="Add New!">
  </p>
</form>
<p><a href="/celebrities">Go back</a></p>