<form action="/celebrities" method="POST">
  <label>
    Name:
    <input type="text" name="name" placeholder="John Doe" required=true />
  </label>
  <label>
    Occupation:
    <input type="text" name="occupation" placeholder="I am an actor" required=true />
  </label>
  <label>
    Catch Phrase:
    <input type="text" name="catchPhrase" placeholder="Hey there." />
  </label>

  <button>Save New Celebrity</button>
</form>