<h2>Add a new celeb</h2>
<form action="/celebrities/new" method="post">
    <label for="name"></label>
    <input id="name" type="text" name="name" value="fake name" />

    <label for="occupation"></label>
    <input id="occupation" type="text" name="occupation" value="fake occupation" />

    <label for="catchPhrase"></label>
    <input id="catchPhrase" type="text" name="catchPhrase" value="fake catchphrase" />
    <button type="submit">Add Celebrity</button>
</form>