<h2>Crear nueva Celebrity</h2>

<form action="/create/" method="post">
    <div>
        <label for="nameCelebrity-input">Nombre</label>
        <input name="nameCelebrity" type="text" id="nameCelebrity-input">
    </div>
    <div>
        <label for="occupation-input">Ocupación</label>
        <input name="occupation" type="text" id="occupation-input">
    </div>
    <div>
        <label for="catchPhrase-input">Eslogan</label>
        <input name="catchPhrase" type="text" id="catchPhrase-input">
    </div>

    <button type="submit">Crear nueva Celebrity</button>
</form>
