<h2>Add your celebrity</h2>

<form action="/celebrities" method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name of your Celebrity">

<label for="ocupation">Ocupation</label>
<input type="text" name="ocupation" id="ocupation" placeholder="Principal ocupation">

<label for="catchPhrase">Catch Phrase</label>
<input type="text" name="catchPhrase" id="catchPhrase" placeholder="most important catchPhrase">

<button type="submit">Add Celebrity</button>
</form>