<h2>Add a celebrity</h2>
<form action="/celebrities" method="post" class="form">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation">
    <label for="catchphrase">Catch Phrase</label>
    <input type="text" name="catchPhrase">
    <button>Ok</button>
</form>