<form action="/celebrities" method="post" class="form">
  <h2 class="title">Add a celebrity</h2>

  <label class="label" for="name">name</label>
  <input class="input" id="name" type="text" name="name" value="test celebrity">

  <label class="label" for="occupation">Occupation</label>
  <input class="input" id="occupation" type="text" name="occupation" value="test occupation">

  <label class="label" for="catchPhrase">catch Phrase </label>
  <input class="input" id="catchPhrase" type="text" name="catchPhrase" value="test catchphrase">

  <button class="btn">ok</button>
  {{!-- <input class="btn" type="submit" value="ok"> --}}
</form>