<h2>Add a new celebrity </h2>

<form method="post" action="/add-celebrity" id="celebrity_form">
  <label for="name">name</label>
  <input id="name" type="text" name="name" autocomplete="off">
  <label for="occupation">occupation</label>
  <input id="occupation" type="text" name="occupation" autocomplete="off">
  <label for="catchPhrase">catchPhrase</label>
  <input id="catchPhrase" type="catchPhrase" name="catchPhrase" autocomplete="off">
  <button class="btn">create</button>
</form>