<h2>Add New Celebrity</h2>
<form action="/celebrities" method="POST">
<input type="text" name="name" id="celebrity-name" placeholder="Type name">
<input type="text" name="occupation" id="celebrity-occupation" placeholder="Type occupation">
<input type="text" name="catchPhrase" id="celebrity-catchPhrase" placeholder="Type catch phrase">
<button type="submit">Submit</button>
</form>