<h2>create celebrity</h2>

<form action="/celebrities" method="POST">

<input type="text" name="name" placeholder="name">
<input type="text" name="occupation" placeholder="occupation">
<input type="text" name="catchPhrase" placeholder="catch phrase">

<button type="submit">create celeb.</button>
</form>

<a href="/celebrities">got to celebrities list</a>