<h2>New celebrity</h2>
<form action="/celebrities/new" method="POST">
  <label for="celebrity-name">Name:</label>
  <input type="text" name="name">
  
  <label for="celebrity-occupation">Occupation:</label>
  <select name="occupation">
    {{#each occupation}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  
  <label for="celebrity-catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase">
  <button type="submit">Create</button>
</form>
{{#if err}}
  <p>Error de validación de formulario</p>
{{/if}}