<h2>Sing your celebrity up</h2>
<form action="/celebrities/new" method="post">
<div>
<input name="name" type="text">
<input name="occupation" type="text">
<input name="catchPhrase" type="text">
</div>
<div>
  <input type="submit"value="Publica"> 
</div>

</form>