<h2>Page's heading</h2>

<form method="post" action="/celebrities/new" >

 <label class="label" for="name">Celebrity's name</label>
 <input class="input" id="name" type="text" value="fakename" name="name">

 <label class="label" for="occupation">Celebrity's occupation</label>
 <input class="input" id="occupation" type="text" value="fakeoccup" name="occupation">

 <label class="label" for="catchPhrase">Celebrity's catch phrase</label>
 <input class="input" id="catchPhrase" type="text" value="fakecatch" name="catchPhrase">

    <button class="btn">Create</button>
</form>