<h2>Create a new celebrity</h2>
<form action="/celebrities" method="POST">
<input type="text" label="Name: "name="name">
<input type="text" label="Ocuppation: " name="occupation">
<input type="text" label="Catchphrase: " name="catchPhrase">
<button type="submit">Add</button>
</form>