<h2 class="page-title">Add a new celebrity</h2>

<form action="/celebrities" method="post">
    <input type="text" name="celebName" placeholder="Celebrity name">
    <input type="text" name="celebOccupation" placeholder="Occupation">
    <input type="text" name="celebCatchPhrase" placeholder="Catch Phrase">
    <button type="submit">Add celebrity</button>
</form>