<h2>Creacion de Personajes</h2>


<form action="/celebrities/" method="POST">
  <div class="form-group">
    <label for="name">Nombre del Personaje</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="occupation">Profesión</label>
    <input type="text" class="form-control" id="occupation" name="occupation">
  </div>
    <div class="form-group">
    <label for="catchPhrase">Frase Preferida</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>