<form action="/celebrities/new" method="POST">
    <p>"Name: "<input type="text" name="nameCelebrity"></p>
    <p>"Occupation: "<input type="text" name="occupationCelebrity"></p>
    <p>"Catch Phrase: "<input type="text" name="phraseCelebrity"></p>
    <button class="btn" type="submit">Create</button>
</form>

