<h2>Create you own celeb!</h2>

<form action="/celebrities" method="POST">

    <label for="name-input">Name for the celeb: </label>
    <input type="text" name="name" id="name-input">

    <label for="occupation-input">Occupation of the celeb: </label>
    <input type="text" name="occupation" id="occupation-input">

    <label for="catchPhrase-input">What's your celebrity catch phrase? </label>
    <input type="text" name="catchPhrase" id="catchPrhase-input">

    <button type="submit">Create</button>

</form>