<h2>Add Celebrity</h2>

<h3>FILL THE FIELDS TO ADD THE CELEBRITY</h3>

<form action="/celebrities" method="POST">
  <input type="text" placeholder="Name" name="name" required>
  <input type="text" placeholder="Occupation" name="occupation" required>
  <input type="text" placeholder="Catch Phrase" name="catchPhrase" required>
  <input type="submit">
</form>