<h2>Create your Celebrity</h2>
<form action="/celebrities/new" method="post">
  
  <p><input placeholder="Celebrity Name" type="text" name="name"</p>
  <p><input placeholder="Celebrity Ocupation" type="text" name="occupation"</p>
  <p><input placeholder="Celebrity Catch Prase" type="text" name="catchPhrase"</p>

  <p><input type="submit"</p>
  
</form>