<h2>Create new celebritie</h2>
<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input name="name" type="text">
  <label for="occupation">Occupation</label>
  <input name="occupation" type="text">
  <label for="catchPhrase">Cath Phrase</label>
  <input name="catchPhrase" type="text">
  <input type="submit" value="Submit" id="">
</form>