<h2>Fill the form to add a new celebrity </h2>


<form action="/new" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
  
    <label for="price">Occupation</label>
    <input type="text" name="occupation" id="occupation">
  
    
  
    <label for="catchPhrase">CatchPhrase</label>
    <textarea type="text" name="catchPhrase" id="catchPhrase"></textarea>
  
    <button type="submit">Add celeb</button>
  </form>
  