<h2>Add a new celebrity!</h2>
<form method="post" action="/celebrities">
    <label for="name">Name</label>
    <input type="text" class="input" name="name" value="Aya Nakamura">
    <label for="occupation">Occupation</label>
    <input type="text" class="input" name="occupation" value="Artist">
    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" class="input" name="catchPhrase" value="Pookie dans le sac">
    <button>Create celebrity</button>
</form>
