<h2>New Celebritie</h2>
<a href="/celebrities">Go Back</a>
<form action="/celebrities/new" method="POST">
  <input type="text" name="name" id="">
  <input type="text" name="occupation" id="">
  <input type="text" name="catchPhrase" id="">
  <button>Crear</button>
</form>
