<h2>Add a new celebrity</h2>

<form action="/celebrities" method="POST">
<input type="text" id="name" name="name" placeholder="Celebrity name">
<br>
<input type="text" id="occupation" name="occupation" placeholder="Celebrity occupation">
<br>
<textarea name="catchPhrase" id="catchPhrase" cols="30" rows="10" placeholder="Enter a celebrity quote"></textarea>
<br>
<button type="submit">Add to list</button>
</form>