<form action = '/celebrities/new' method = "POST">
    <input name = 'name' type = 'text' placeholder = 'name'>
    <input name = 'occupation' type = 'text' placeholder = 'occupation'>
    <input name = 'catchPhrase' type = 'text' placeholder = 'Catch Phrase'>
    <button>Enviar</button>
</form>