<h2>Add new celebrity</h2>

<form action="/celebrities/new" method="post">
  <label for="">Name:</label>
  <input type="text" name="name"> <br><br>

  <label for="">Occupation:</label>
  <input type="text" name="occupation"> <br><br>

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase"> <br><br>

  <button type="submit">Add Celebrity</button>
</form>