<h2>Add a celebrity</h2>

<form method='POST' action='/celebrities/new'><div class="input-group mb-3">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1"for="celebName">Name</label>
        </div>
        <input name= 'name'type="text" class="form-control" id="celebName">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1"for="occupation">Occupation</label>
        </div>
        <input name= 'occupation' type="text" class="form-control" id="occupation">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="catchphrase">Catchphrase</label>
        </div>
        <input name='catchphrase' type="text" class="form-control" id="catchphrase">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 