<h2>Create a new celebrity</h2>
<form action="/celebrities" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="" placeholder="Insira o nome da celebridade">
  <label for="ocupation">Occupation:</label>
  <input type="text" name="ocupation" id="" placeholder="Insira a profissão">
  <label for="catchPhrase">Catch Phrase:</label>
  <input type="text" name="catchPhrase" id="" placeholder="Insira uma frase de efeito">
  <button type="submit">New Celebrity</button>
</form>