<h3>Add your Celebrity</h3>

<form action="/celebrities" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Occupation:</label>
  <input type="text" name="occupation">

  <label for="">catchPhrase:</label>
  <input type="text" name="catchPhrase">

  <button type="submit">ADD</button>
</form> 