<h2>Add a New Celebrity</h2>
<form action="/celebrities/" method="POST">
  <div class="form-group">
    <form action="/celebrities/" method="POST">
      <div class="form-group">
        <label class="font-size" for="">Celebrity</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label class="font-size" for="">Occupation</label>
        <input type="text" name="occupation" class="form-control" id="">
      </div>
      <div class="form-group form">
        <label class="font-size" for="">Phrase</label>
        <input type="text" name="catchPhrase" class="form-control" id="exampleCheck1">
      </div>
      <button type="submit" class="btn btn-secondary">Add Celebrity</button>
      <a class="btn btn-secondary" href="/celebrities" role="button">Go to celebrities</a>
    </form>
  </div>