<h2>Add new celebrity:</h2>

<form action="/celebrities" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="ocupation">Ocupation</label>
    <input type="text" class="form-control" id="ocupation" name="ocupation">
  </div>
    <div class="form-group">
    <label for="catchPhrase">Famous quote</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
  </div>
  <br >
  <button class="btn btn-dark">Submit</button>
</form>

  

