<h2>Add a new celebrity</h2>
<form method="post" action="/celebrities/new" class="form">
    <label for="name" class="label">Name</label>
    <input id="name" name="name" type="text" value="Jean Castex">

    <label for="occupation" class="label">Occupation</label>
    <input id="occupation" name="occupation" type="text" value="1er ministre">

    <label for="catchPhrase" class="label">Catch phrase</label>
    <input id="catchPhrase" name="catchPhrase" type="text" value="Bon voilà">

    <button class="btn">Add</button>
</form>