<h2>Adding a new Celebrity</h2>

<form action="/celebrities/new" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="Write the full name">

    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation" placeholder="Write the occupation">

    <label for="catchPhrase">Catch Phrase: </label>
    <input type="text" name="catchPhrase" placeholder="Write the catch phrase">

    <button type="submit">ADD</button>
</form>