<!--Creo un form POST para crear una nueva celeb.-->
<h2>Create a new celebrity!</h2>

<form action="/celebrities/new" method="post">
    <label for="name">Celeb's name:</label>
    <input placeholder="Mónica del Raval" type="text" name="name">

    <label for="occupation">Occupation:</label>
    <input placeholder="Singer" type="text" name="occupation">

    <label for="catchPhrase">Catch phrase:</label>
    <input placeholder="El único fruto del amor..." type="text" name="catchPhrase">

    <button type="submit">Create!</button>
</form>