<h2>New Celebrity</h2>
<form action="/celebrities/new" method='POST'>
<div>
    <label for="name">Celebrity name: </label>
    <input type="text" name="name">
</div>
<div>
    <label for="occupation">Celebrity occupation: </label>
    <input type="text" name="occupation">
</div>
<div>
    <label for="catchPhrase">Celebrity catch phrase: </label>
    <input type="text" name="catchPhrase">
</div>
    <button type="submit">Add Celebrity</button>
</form>