<h2>Create a new Celebrity</h2>
<form action="/celebrities" method="POST">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" name="name">
    </div>
    <div>
        <label for="occupation">Occupation</label>
        <input id="occupation" type="text" name="occupation">
    </div>
    <div>
        <label for="catchPhrase">Catch Phrase</label>
        <input id="catchPhrase" type="text" name="catchPhrase">
    </div>
    <button>Submit</button>
</form>