<h2>Create a celebrity</h2>

<h1 class="title">Celebrity's form</h1>
<div class="form-div">
<form method="post" action="/celebrities/new" class="form">
    <label class="label" for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name" placeholder="Celebrity's name" required></input>

    <label class="label" for="occupation" class="label">Occupation</label>
    <input class="input" type="occupation" id="occupation" name="occupation" placeholder="Celebrity's occupation" required value="unknown"></input>

    <label class="label" for="catchPhrase" class="label">Catch Phrase</label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase" placeholder="Celebrity's catch phrase" required></input>
</div>

    <button class="btn">Add new</button>
</form>