<form method="post" action="/celebrities/" class="form">
    <h2>Create new celebrity {{name}}</h2>
    <label for="celeb-name">name</label>
    <input class="input" id="celeb-name" type="text" name="name" value="{{name}}">
    <label for="celeb-occupation">specialty</label>
    <input class="input" id="celeb-occupation" type="text" name="occupation" value="{{occupation}}">
    <label for="celeb-catch">city</label>
    <input class="input" id="celeb-catch" type="text" name="catchphrase" value="{{catchPhrase}}">
    < <button class="btn">Create !</button>
</form>