<h2>Add new celebrity</h2>

<form action="/celebrities/new" method="POST">
  <label for="name-input"> Name </label>
  <input type="text" name="name" id="name-input"></input>
  <br>

  <label for="occupation-input"> Occupation </label>
  <input type="text" name="occupation" id="occupation-input"></input>
  <br>

  <label for="catchphrase-input"> Catch Phrase: </label>
  <textarea type="text" name="catchphrase" id="catchphrase-input"></textarea>
  <br>

  <button type="submit"> It's alive! </button>
</form> 