<section>
  <form action="/celebrities" method="POST">
    <label>NAME:</label>
    <input type="text" name="name">
    <label>OCCUPATION:</label>
    <input type="text" name="occupation">
    <label>CATCH PHRASE:</label>
    <input type="text" name="catchPhrase">
    <button>ADD</button>  
  </form>
</section>