<h2>Add new celebrity</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="occupation" placeholder="Occupation">
  <input type="text" name="catchPhrase" placeholder="Catchphrase">
  <input type="text" name="movies" placeholder="List movies seperated by comma">
  <button type="submit">Create new</button>
</form>