<p><a href="/">Home</a> | <a href="/celebrities">All celebs</a> | <a href="/celebrities/new">Add new celeb</a></p>
<h2>Add here the details of a new celeb</h2>
<form action="/celebrities/new" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="occupation-input">Occupation:</label>
  <input type="text" name="occupation" id="occupation-input" />

  <label for="catchPhrase-input">Catch Phrase:</label>
  <input type="text" name="catchPhrase" id="catchPhrase-input" />

  <button type="submit">Create</button>

</form>