<h2>NEW CELEBRITY</h2>
<form action="/celebrities" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="occupation" placeholder="occupation">
    <input type="text" name="catchphrase" placeholder="catchphrase">
    <input type="submit" value="ADD CELEBRITY">
</form>