<h2>Crear Celebrities</h2>

<form action="/celebrities/new" method="POST">
    Nombre: <input name="name" type="text"><br>
    Ocupacion: <input name="occupation" type="text"><br>
    Frase: <input name="catchPhrase" type="text"><br>

    <button type="submit">Añadir nuevo celebrity</button>
</form>