<h2>Agrega un nuevo Miembro para el cuadro de Honor</h2>

<form method="POST">
  <label>Nombre</label>
  <input type="text" name="name" placeholder="Pepito">
  <label>Ocupación</label>
  <input type="text" name="ocuppation" placeholder="Conciencia">
  <label>Frase Mítica</label>
  <input type="text" name="catchPhrase" placeholder="Tú sabrás">
  <button type="submit"><b>Agregar</b></button>
</form>