<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h2> Add new celebrity</h2>
      <form method="post" action="/celebrities">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="occupation">Occupation:</label>
        <input type="text" id="occupation" name="occupation">
        <br>
        <label for="catchPhrase">Catchphrase:</label>
        <input type="text" name="catchPhrase">
        <br>
        <input type="submit" value="Create new celebrity">
      </form>
    </div>
  </div>
</div>