<h2>Add a celebrity</h2>
<form action="/celebrities" method="POST">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="Dummy">
    </fieldset>
    <fieldset>
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" id="occupation" value="Unemployed">
    </fieldset>
    <fieldset>
        <label for="catchphrase">Catch Phrase</label>
        <textarea name="catchPhrase" rows="5" cols="50"
            id="catchphrase">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dolorum voluptatem impedit quaerat!</textarea>
    </fieldset>
    <button type="">Add Celebrity</button>
</form>