<h2>Add new celebrity</h2>

<form action="/celebrities/add/new" method="POST">


<label for="name">Name:</label>
  <input type="text" name="name"><br>
<label for="occupation">Occupation:</label>
  <input type="text" name="occupation"><br>
<label for="catchPhrase">Catch Phrase:</label>
  <textarea type="text" name="catchPhrase"></textarea><br>


<button type="submit">Add new</button>


</form>