
<h1>New Celebrity</h1>
<form action="/celebrities" method="POST">
    <label for="celebName">Celebrity Name:</label>
    <input type="text" name="celebName">
    <label for="celebOccupation">Occupation:</label>
    <input type="text" name="celebOccupation">
    <label for="celebCatchPhrase">Catch Phrase:</label>
    <input type="text" name="celebCatchPhrase">
    <button type="submit">Add</button>
</form>