<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input type="text" name='name'>
  <label for="phrase">Catch Phrase</label>
  <input type="text" name='catchPhrase'>
  <label for="occupation">Occupation</label>
  <input type="text" name='occupation'>
  <button type='submit'>Submit</button>
</form>
