<form method="POST" accept-charset="utf-8">
  <input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="celebrity name">
  <input class="form-control form-control-lg" type="text" name="occupation" id="occupation" placeholder="occupation">
  <input class="form-control form-control-lg" type="text" name="catchPhrase" id="catchPhrase" placeholder="catcha phrase">
  <button type="submit" class="btn btn-success">Add</button>
</form>
