<h2>Add new celebrity</h2>
<form action="/celebrities" method="post">
    <label for="name">
        Name
        <input id="name" name="name"/>
    </label>
    <label for="occupation">
        Occupation
        <input id="occupation" name="occupation"/>
    </label>
    <label for="catchPhrase">
        Catch Phrase
        <input id="catchPhrase" name="catchPhrase"/>
    </label>
    <button type="submit">Add</button>
</form>