<h2>Add Celebrities</h2>
<form method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Occupation" name="occupation">
  <input type="text" placeholder="Catch phrase" name="catchPhrase">
  <button type="submit">Create</button>
</form>