  <h2>Add your favourite celebrities to the list!</h2>

  <form action="/celebrities/create" method="post">
  <div class="form-group">
    <label for="name-input">Celebrity's name</label>
    <input name="name" type="text" class="form-control" id="name-input" placeholder="name">
  </div>
  <div class="form-group">
    <label for="occupation-input">Celebrity's occupation</label>
    <input name="ocuppation" type="text" class="form-control" id="occupation-input" placeholder="Occupation">
  </div>
    <div class="form-group">
    <label for="catchPrase-input">Celebrity's catchPhrase</label>
    <input name="catchPhrase" type="textarea" class="form-control" id="catchPrase-input" placeholder="Catch Phrase">
  </div>
   <button type="submit" class="btn btn-primary">Add now!</button>
</form>

