<h2>Add New Celebrities</h2>

<form action="/books/add" method="post">
  <label for="">Name:</label>
  <input type="text" name="title">

  <label for="">Occupation:</label>
  <input type="text" name="author">

  <label for="">catchPhrase:</label>
  <input type="text" name="description">


  <button type="submit">ADD</button>
</form>