<h2>Add Celebrity profile</h2>
<form action="/celebrities/new" method="POST">
  <div>
    <label class="label" for="name">Name</label>
  </div>
  <input class="input" id="name" type="text" name="name">


  <div>
    <label class="label" for="occupation">Occupation</label>
  </div>
  <input class="input" id="occupation" type="text" name="occupation">


  <div>
    <label class="label" for="catchPhrase">Catch Phrase</label>
  </div>
  <input class="input" id="catchPhrase" type="text" name="catchPhrase">


  <div>
    <button class="btn">submit</button>
  </div>
</form>

<hr>
<a href="/celebrities">back</a>