<h2>New Celebrity</h2>

<form action="/celebrities/new" method="post">
    <label for="name">Name:</label>
    <input required name="name" type="text">
    <label for="occupation">Occupation:</label>
    <input required name="occupation" type="text">
    <label for="catchPhrase">catchPhrase:</label>
    <input required name="catchPhrase" type="text">

    <button type="submit">Submit!</button>

</form>
<a href="/">
    <h3>Return to Main Page</h3>
</a>