<h2>Create a new celebrity</h2>

<form action="/celebrities" method="post">
  <label for="name">Celebrity name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="occupation">Occupation:</label><br>
  <input type="text" id="occupation" name="occupation" ><br><br>
  <label for="catchPhrase">Catchphrase:</label><br>
  <textarea name="catchPhrase" type="text" id="catchPhrase" placeholder="Enter catchphrase" rows="10"></textarea><br><br>
  <input type="submit" value="Submit">
</form> 