<div class="celeb-new">
    <h2>Add Celebrity</h2>
    {{> site-error}}
    <form method="POST" action="/celebrities">

        <label for="theName">Name:</label>
        <input name="theName" type="text" required />

        <label for="theOccupation">Occupation:</label>
        <input name="theOccupation" type="text" required />

        <label for="theCatchPhrase">Catch Phrase:</label>
        <input name="theCatchPhrase" type="text" required />

        <button class="submit">Submit</button>
        {{> form-error}}
    </form>
</div>