<h2>form</h2>
<form action="/celebrities" method="POST">
<p>
<label for="name">Name:</label>
<input type="text" id="name" name="name" value="<%= celebrities.name %>">
</p>
<p>
<label for="occupation">Occupation: </label>
<input type="text" name="occupation" id="occupation" value="<%= celebrities.occupation %>">
</p>
<p>
<label for="catchPhrase">CatchPhrase: </label>
<input type="text" name="catchPhrase" id="catchPhrase" value="<%= celebrities.catchPhrase %>">
</p>
<button type="submit">Save</button>
</form>
