<h2>New celebrity</h2>
<form action='/celebrities' method='post'>
    <p>Name: </p><input type='text' name='name' />
    <p>Occupations: </p><input type='text' name='occupation' />
    <p>CatchPhrase: </p><input type='text' name='catchPhrase'/>
    <button type='submit'>Add</button>
</form>