<h2>Adding new</h2>

<form method="post" action="/celebrities/new" class="form">

    <label class="label" for="name">Celeb's name</label>
    <input class="input" id="name" type="text" value="Yoann Bourgeois" name="name">
    <label class="label" for="occupation">occupation</label>
    <input class="input" id="occupation" type="text" value="artist" name="occupation">
    <label class="label" for="catchPhrase">catchPhrase</label>
    <input class="input" id="catchPhrase" type="text" value="Il grandit dans un petit village du Jura."
        name="catchPhrase">

    <button class="btn">create</button>

</form>