<form action="/celebrities" method="post">
    <label for="celebrity-name">Name</label>
    <input type="text" id="celebrity-name" name="name">
  
    <label for="occupation">occupation</label>
    <input type="text" name="occupation" id="occupation">

    <label for="catch-phrase">catchPhrase</label>
    <textarea type="text" name="catchPhrase" id="catch-phrase"></textarea>
  
    <button type="submit">Create Product</button>
  </form>