<h2>New celebrity:</h2>
<div class="celebrity-wrapper">
<form action="/celebrities" method="POST">
<input type="text" name="name" value="Francisco" placeholder="Name">
<input type="text" name="ocupation" value="Dev Star" placeholder="Ocupation">
<input type="text" name="catchPhrase" value="All in" placeholder="catchPhrase">
<input type="submit" class="submit" value="Create">
</form>
<a href="/celebrities">Go back</a>
</div>