<h2>Create a new celebrity</h2>

<form action='/celebrities/new' method = 'post'>
    <input type='text' name='name' placeholder='name'>
    <input type='text' name='occupation' placeholder='ocupation'>
    <input type='text' name='catchPhrase' placeholder='catchPhrase'>
    <button type='submit'>Create New Celebrity</button>
</form>