<h2>Create a new celebrity</h2>

{{!-- action represents the ROUTE you wanna target --}}
<form method="post" action="/celebrities/new" class="form">
    <label for="name">name</label>
    <input class="input" type="text" id="name" name="name" >
    <label for="occupation">occupation</label>
    <input id="occupation" class="input" type="text" name="occupation">
    <label for="catchPhrase">catchPhrase</label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase">
    <button class="btn">ok !</button>
</form>