<h2>New Actor</h2>
<form action="/celebrities" method="post">
  <div>
    <label for="GET-name">Nom: </label>
    <input id="GET-name" type="text" name="name">
  </div>
  <div>
    <label for="GET-Occupation">Occupation:</label>
    <input id="GET-Occupation" type="text" name="occupation">
  </div>
  <div>
    <label for="GET-Catchphrase">Catchphrase:</label>
    <input id="GET-Catchphrase" type="text" name="catchPhrase">
  </div>
  <input type="submit" value="Enregistrer">
</form>
{{#if something}}coucou{{/if}}

<a href="/celebrities">Go back to the list</a>