
<h1>Add Celebrity</h1>
<form action="/celebrities" method="post">
  Name: <input type="text" name="name"> <br>
  Occupation: <input type="text" name="occupation"><br>
  Catchphrase: <input type="text" name="catchPhrase"><br>
  <button type="submit">Create</button>
</form>	

<a href="../celebrities">Back</a>