<h2>Add a Celeb</h2>

<form method="POST" action="/process-celebrity">
  {{!-- what the user will submit when creating a new book --}}
  <input type="text" name="name" placeholder="Name...">
  <br />

  <input type="text" name="occupation" placeholder="Occupation...">
  <br />

  <input type="text" name="catchPhrase" placeholder="catchPhrase...(8 characters or more)">
  <br />

  <button>Save this Celeb</button>
</form>