<h2>This is celebrities/new.hbs</h2>

<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="Celebrity Name">
  <input type="text" name="occupation" placeholder="Celebrity Occupation">
  <input type="text" name="catchPhrase" placeholder="Celebrity Catch Phrase">
  <button type="submit">Create new Celebrity!</button>
</form>