<h2>Add new Celebrities</h2>

<form action="/celebrities/new" method="POST">

<label>
    Name
    <input type="text" name="name">
</label>

<label>
    Occupation
    <input type="text" name="occupation">
</label>

<label>
    Catchphrase
    <textarea type="text" name="catchPhrase" cols="30" rows="4"></textarea>
</label>

<button type="submit">Add Celebrity</button>
</form>