<form action="/celebrities" method="post">
    <label for="name">Name:</label><input id="name" type="text" name="name">
    <label for="catchPhrase"> Catch phrase</label> <input id="catchPhrase" type="text" name="catchPhrase">
    <label for="occupation">Occupation</label><select id="occupation" name="occupation">
        <option value="actor">Actor</option>
        <option value="singer">Singer</option>
        <option value="comedian">Comedian</option>
        <option value="unknown">Unknown</option>
    </select>
    <button type="submit">Submit</button>
</form>