<h2>CREA UNA NUEVA CELEB!!!</h2>

<form action="/celebrities" method="POST">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="celebrityName" placeholder="Escribe un nombre" name="name">
    </div>
    <div class="form-group">
        <label for="occupation">Ocupación</label>
        <input type="text" class="form-control" id="occupation" placeholder="¿A qué se dedica?" name="occupation">
    </div>
    <div class="form-group">
        <label for="catchPhrase">Frase famosa:</label>
        <textarea class="form-control" id="catchPhrase" rows="3" name="catchPhrase"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
</form>