<h2>New star</h2>

<form action="/celebrities/new" method="POST">


<label for="">Name</label>
<input type="text" name="name">

<label for="">Occupation</label>
<input type="text" name="occupation">


<label for="">catchPhrase</label>
<input type="text" name="catchPhrase">


<button type="submit">Add</button>


</form>