<h2>Adicione uma nova celebridade</h2>
<form action="/celebrities/new/createCelebrity" method="POST">
  <label for="name">Nome da celebridade</label>
  <input type="text" name="name"><br>
  <label for="occupation">Ocupação</label>  
  <input type="text" name="occupation"><br>
  <label for="catchPhrase">Frase</label>   
  <input type="text" name="catchPhrase"><br>
  <input type="submit" value="Submit">
</form>