<h2>New celebrity:</h2>
<div class="celebrity-wrapper">
<form action="/celebrities" method="POST">
<input type="text" name="name" value="El Fary" placeholder="Name">
<input type="text" name="ocupation" value="The definitive 20th men" placeholder="Ocupation">
<input type="text" name="catchPhrase" value="Deja a los chavales que camelen" placeholder="catchPhrase">
<input type="submit" class="submit" value="Create">
</form>
<a href="/celebrities">Go back</a>
</div>