<h2>Add Celebrities</h2>
<form method="POST">
  <input class="form-control form-control-lg" type="text" placeholder="Name" name="name">
  <input class="form-control" type="text" placeholder="Occupation" name="occupation">
  <input class="form-control form-control-sm" type="text" placeholder="Catch phrase" name="catchPhrase">
  <button type="submit" class="btn btn-success button2">Create</button>
</form>