<h2>Create New Celebrity</h2>

<form method="POST" action="/celebrities/new">
  <div class="form-group">
    <label for="nameField">Name</label>
    <input name="name" type="text" class="form-control" id="nameField" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="occupationField">Occupation</label>
    <input name="occupation" type="text" class="form-control" id="occupationField" placeholder="Enter Occupation">
  </div>
  <div class="form-group">
    <label for="catchPhraseField">Catch Phrase</label>
    <input name="catchPhrase" type="text" class="form-control" id="catchPhraseField" placeholder="Enter Catch Phrase">
  </div>
  <button type="submit" class="btn btn-primary">Add Celebrity!</button>
</form>