<h2>Add a new Celebrity</h2>
<!-- give your inputs the same name as your schema fields(see models)-->

<form action="/addceleb" method="POST">
    <label>
        Name
        <input type="text" name="name"/>
    </label>
    <label>
        Occupation
        <input type="text" name="occupation"/>
    </label>
    <label>
        Catch Phrase
        <input type="text" name="catchPhrase" placeholder="200 Max"/>
        
    </label>

    <button>Add Celebrity</button>
</form>