<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input type="text" name="name"> <br> <br>

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation"><br> <br>

  <label for="catchPhrase">CatchPhrase</label>
  <input type="text" name="catchPhrase"><br> <br>

  <input type="submit" value="register">
</form> 