<h class="text-center py-5"></h>Create a new celebrity</h2>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center py-5">Create a new celebrity</h2>
        <form action="/newceleb" method="POST">
          <div class="form-group">
            <label for="name-input">Name:</label>
            <input type="text" class="form-control" name="name">
            <small id="emailHelp" class="form-text text-muted">Put the name for the new Celebrity</small>
          </div>
          <div class="form-group">
            <label for="occupation-input">Occupation:</label>
            <input type="text" class="form-control" name="occupation">
            <small id="emailHelp" class="form-text text-muted">Put the occupation of this new Celebrity</small>
          </div>
          <div class="form-group">
            <label for="maxSpeed-input">Quote</label>
            <input type="text" class="form-control" name="catchPhrase">
            <small id="emailHelp" class="form-text text-muted">Put a famous quote of your new Celebrity</small>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>

</div>