<div class="row  d-flex flex-column justify-content-center align-items-center h-100">
  <div class="wrapper">
    <form action="/celebrity/new" method="POST" class="celebrity-form">
      {{> celebrityForm}}
    </form>
  </div>
</div>