

<h1 style="padding-top: 4rem">Add a celebrity</h1>

<form action="/celebrities/new/save" method="POST">
  <p>Name</p>
  <input type="text" name="name">

  <p>Occupation</p>
  <input type="text" name="occupation">

  <p>Catch Phrase</p>
  <input type="text" name="catchPhrase">

  <p>Image</p>
  <input type="text" name="image">

  <button>Save</button>
</form>