<h2>Create celebrity</h2>

<form action="/celebrities" method="POST">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
<br>
    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation" id="occupation">
<br>
    <label for="catchPhrase">Catch Phrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase">
<br>

<button type="submit">Create</button>

</form>