<h2>Add New Celebrity Data</h2><br>

<form action="/celebrities/process" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <br>
  <label for="occupation">Occupation (separated by spaces)</label>
  <input type="text" name="occupation" id="occupation">
  <br>
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase">
  <br>
  <input type="submit" value="Submit">
</form>