<h2> Add a Celebrity </h2>


<form method='post' action='/celebrities'>

  <label for='celebrity-name-input'> Name of Celebrity</label>
  <input id='celebrity-name-input' type='text' name='celebrityName'>
                                         <!-- req.body.productName -->
  <br>

  <label for='celebrity-occupation-input'> Occupation </label>
  <input id='celebrity-occupation-input' type='text' name='celebrityOccupation'>
                                                      <!-- req.body.productPrice -->
  <br>

  <label for='celebrity-catchphrase-input'> Catch Phrase</label>
  <input id='celebrity-catchphrase-input' type='text' name='celebrityCatchPhrase'>
                                           <!-- req.body.productImageUrl -->
  <br>

                                         <!-- req.body.productDescription -->

  <button> Add This Celebrity </button>
</form>
