<h2>Create a new Football Celeb</h2>

<form action="/celebrities/new" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name-input">Name</label>
      <input type="text" class="form-control" name="name" id="name-input">
    </div>
    <div class="form-group col-md-6">
      <label for="occupation-input">Occupation</label>
    <input type="text" class="form-control" name="occupation" id="occupation-input">
    </div>
  </div>
  <div class="form-group">
    <label for="phrase-input">phrase</label>
    <textarea type="text" class="form-control" name="catchPhrase" id="phrase-input"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create new Football Celeb</button>
</form>