<div class="container">
    <div class="celebrities-title">
        <h2>Add a Celebrity</h2>
    </div>

    <div class="contenedor">
        <form class="form" action="/celebrities/new" method="post">
            <div class="formulario">
                <label for="name">Name</label>
                <input class="form-input" type="text" name="name" id="name">
            </div>
            <div class="formulario">
                <label for="occupation">Occupation</label>
                <input class="form-input" type="text" name="occupation" id="occupation">
            </div>

            <div class="formulario">
                <label for="catch">Catch Phrase</label>
                <input class="form-input" type="text" name="catchPhrase" id="catch">
            </div>
            <button class="btn" type="submit">Add</button>
        </form>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/celebrities">Celebrities</a>
    </div>
</div>