<h2>Add a New Celebrity To The Library</h2>

<form action="/celebrities/create-new-celebrity" method="POST">
  <label>Name</label>
  <input name="theName" type="text">

  <label>Occupation</label>
  <input name="theOccupation" type="text">

  <label>catchPhrase</label>
  <input name="theCatchPhrase" type="text">

  <button> Save </button>
</form>