<h2>NEW</h2>

<form class="form" method="POST" action="/celebrities">
  {{> inputForm label="Nombre de la celebridad" placeholder="Jim Carrey" name="name" value=obj.name }}
  {{> inputForm label="Ocupación de la celebridad" placeholder="Actor" name="occupation"
  value=obj.occupation }}
  {{> inputForm label="Frase de la celebridad" placeholder="Frase célebre" name="catchPhrase"
  value=obj.catchPhrase }}
  <button type="submit">Submit</button>
</form>


<a class="button" href="/celebrities/">Return</a>