<form method="post" action="/celebrities">
    <label for="name">Name</label>
    <input name="name" type="text">
    <label for="occupation">Occupation</label>
    <input name="occupation" type="text">
    <label for="catchPhrase">Catch phrase</label>
    <input name="catchPhrase" type="text">
    <button>Save</button>
</form>