<h2>page to create new celebs</h2>

<form action='/celebrities/new' method='POST'>

  <label for=''>Name</label>
  <input type='text' name='name'>

  <label for=''>Occupation</label>
  <input type='text' name='occupation'>

  <label for=''>Catchphrase</label>
  <input type='text' name='catchphrase'>

  <button type='submit'>Submit</button>
</form>