<div class="container">
    <h2>Nueva celeb</h2>

    <form action="/celebrities/new" method="POST">
        <div class="form-group">
            <label for="field1">Name</label>
            <input name="name" type="text" class="form-control" id="field1">
        </div>
        <div class="form-group">
            <label for="field2">Occupation</label>
            <input name="occupation" type="text" class="form-control" id="field2">
        </div>
        <div class="form-group">
            <label for="field3">Catch Phrase</label>
            <input name="catchPhrase" type="text" class="form-control" id="field3">
        </div>

        <button type="submit">new celeb</button>
    </form>
</div>