<h2> Add a new celebrity</h2>

<form action="/celebrities/new" method="post">
<div class="container_row">
<label for="name" class="label">Name : </label>
<input type="text" class="input" id="name" name="name" value="Marty McFly">
</div>
<div class="container_row">
<label for="occupation" class="label">Occupation : </label>
<input type="text" class="input" id="occupation" name="occupation" value="time traveller">
</div>
<div class="container_row">
<label for="catchPhrase" class="label">Famous catchphrase : </label>
<input type="textarea" class="input" id="catchPhrase" name="catchPhrase" value="wow that's crazy, Doc!">
</div>


<button type="submit" class="btn_add"> add new celebrity</button>


</form>