<h2>Add a new celebrity</h2>
<form action="/celebrities" method="post">
<input type="text" placeholder="name" name="name">
<input type="text" placeholder="occupation" name="occupation">
<input type="text" placeholder="catchPhrase" name="catchPhrase">
<input type="submit" value="Add a new celebrity">
</form>
<p><a href="/celebrities">Celebrities</a></p>