<h2>GET /celebrities/new</h2>
<ul>
    <li>
        <a href="/">Index</a>
    </li>
    <li>
        <a href="/celebrities">Celebrities</a>
    </li>
</ul>

<form action="/celebrities" method="post">
    <input type="text" name="name" placeholder="Celebrity name...">
    <input type="text" name="occupation" placeholder="Occupation...">
    <input type="text" name="catchPhrase" placeholder="Catch Phrase">
    <button type="submit">Create new</button>
</form>