<h2 id="new_title">Add a new celebrity</h2>
<form action="/celebrities" method="POST">
  <label for=""></label>
  <input type="text" name="name" placeholder="name">
  <label for=""></label>
  <input type="text" name="occupation" placeholder="occupation">
  <label for=""></label>
  <input type="text" name="catchPhrase" placeholder="catchPhrase">
  <button type="submit">Submit Celebrity</button>
</form>