<h2>Add a celebrity:</h2>

<form action="/celebrities" method="POST">
  <label name="name">Name:</label><input type="text" name="name">
  <label name="occupation">Occupation:</label><input type="text" name="occupation">
  <label name="catchPhrase">CatchPhrase:</label><input type="text" name="catchPhrase">
  <button type="submit">Create</button>
</form>