<h2>Add a celebrity</h2>

<form action="/celebrities/new" method="POST" >
<input type="text" name="name" placeholder="name">
<input type="text" name="occupation" placeholder="occupation">
<input type="text" name="catchPhrase" placeholder="catchPhrase">
<button type="submit">create new</button>
</form>