<h2>Add your favorit evil Celeb</h2>

<form action="/celebrities/{{celebrity._id}}" method="POST">
    <input type="text" name="name" placeholder="Celebrity's name">
    <input type="text" name="occupation" placeholder="Occupation?">
    <input type="text" name="catchPhrase" placeholder="Catchy phrase about your star">
    <button type="submit">ADD YOUR CELEB</button>
</form>