<form action="/celebrities/new" method="POST">
  <p><label for="name">Name</label><br>
    <textarea name="name"></textarea></p>
  <p>
    <label for="occupation">Occupation</label><br>
    <textarea name="occupation"></textarea>
  </p>
  <p>
    <label for="catchPhrase">Catch Phrase</label><br>
    <textarea name="catchPhrase"></textarea>
  </p>
  <input type="submit" value="New">
</form>