<h3>Create a new artist</h3>

<form action="/celebs/create" method="POST">
    <label for="fistName"> Enter First Name </label>
    <input type="text" name="firstName">
    <label for="lastName"> Enter Last Name </label>
    <input type="text" name="lastName">
    <label for="occupation"> occupation</label>
    <input type="text" name="occupation">
    <label for="catchPhrase"> catch Phrase</label>
    <input type="text" name="catchPhrase">
    <button>Submit New Celebrity</button>
</form>