<h2>Create your own celebrity</h2>

<form action="/celebrities/new" method="POST">

  <label>Name:</label><br>
  <input type="text" name="name"><br><br>

  <label>Occupation:</label><br>
  <input type="text" name="occupation"><br><br>

  <label>Iconic phrase:</label><br>
  <input type="text" name="catchPhrase"><br><br>

  <button type="submit">Create it!</button>

</form>