<h2>New celebrity</h2>
<h1>Create student</h1>
<form action="/celebrities/new" method="POST">
  <label for="celebrity-name">Name:</label>
  <input type="text" name="name">

  <label for="celebrity-occupation">Occupation:</label>
  <input type="text" name="occupation">

  <label for="celebrity-catchPhrase">catchPhrase:</label>
  <input type="text" name="catchPhrase">
  
  <button type="submit">Create</button>
</form>