<div class="container">
  <a href="/celebrities">Go back</a>

  <div class="title">
    <h2>Add your Favourite Celebrity</h2>
  </div>


  <form class="form" action="/celebrities" method="POST">
    <ul class="form-style-1">
      <div>
        <li> <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" class="field-long"></li>
      </div>
      <div>
        <li><label for="occupation">Occupation</label>
          <input type="text" id="occpation" name="occupation" placeholder="Occupation" class="field-long"></li>
      </div>
      <div>
        <li>
          <label for="catchphrase">Catchphrase</label>
          <input type="text" id="catchphrase" name="catchphrase" class="field-long" placeholder="Catchphrase"></input>
        </li>
      </div>
      <button>Submit</button>
    </ul>
  </form>

</div>