<h2>NEW CELEBRITY</h2>


<form action="/celebrities" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="ocupation" placeholder="occupation">
    <input type="text" name="catchPhrase" placeholder="catchPhrase">
    <button type="submit">Add Celebrity</button>
</form>