<h2>ADD A NEW CELEBRITY</h2>
<br>
<form action="/celebrities/new" method="POST">
	<input name="name" type="text" placeholder="¿Cómo se llama?" required>
	<input name="occupation" type="text" placeholder="¿A qué se dedica?" required>
	<input name="catchPhrase" type="text" placeholder="¿Cuál es su frase estrella?" required>
	<button type="submit" class="btn btn-primary">ADD</button>
</form>