<h1>{{title}}</h1>
<form action="./new.hbs" method="POST">
  <div>
    <label for="name"> Name </label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="occupation"> Occupation </label>
    <input type="text" name="occupation" id="occupation">
  </div>
  <div>
    <label for="catchPhrase"> Catch Phrase </label>
    <input type="text" name="catchPhrase" id="catchPhrase">
  </div>
  <button> Submit </button>
</form>

<button><a href="/">
  Back to Celebrity Inventory
</a></button>