<h2>Add new celeb</h2>
<form action="/celebrities" method="post">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Chuck Chesterson">

    <label>Occupation:</label>
    <input type="text" name="occupation" placeholder="Cheek Chucker">

    <label>Catch Phrase:</label>
    <input type="text" name="catchPhrase" placeholder="Cheeky guy aren't ya?">

    <button type="submit">Add New</button>
</form>