<h2>Add a new Celebrity!</h2>
<form action="/celebrities/new" method="post">
    <label class="label" for="name">
        Name:
        <input type="text" name="name" class="input" value="fakename">
    </label>
    <label class="label" for="occupation">
        Occupation:
        <input type="text" name="occupation" class="input" value="fakeoccup">
    </label>
    <label class="label" for="catchphrase">
        Catch Phrase:
        <input type="text" name="catchphrase" class="input" value="fakecatch">
    </label>
    <button class="btn" type="submit">Add Celebrity</button>
</form>