<h1>You can procastinate too :D</h1>
<p>Create a new trash celebrity and you'll be fun!</p> 

<form action="/celebrities" method="POST">
    <input type="text" name="name" placeholder="Chewbacca"> Celebrity's name </input>
    <input type="text" name="occupation" placeholder="meme generator"> Occupation </input>
    <input type="text" name="catchPhrase" placeholder="whroaaaaa"> Catch phrase </input>
    <button type="submit" name="Submit">Submit!!</button>
</form>