<h2>Add a Celebrity</h2>

<form action="/process-celeb" method="POST">
  <!-- Give your inputs the same names as in your SCHEMA (see book-model.js) -->
  <label>
    Name:
    <input type="text" name="name" placeholder="John Doe">
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" placeholder="Welder">
  </label>

  <label>
    Catchphrase:
    <input type="text" name="catchPhrase" placeholder="Your Catchphrase here">
  </label>

  <button>Save this Celebrity</button>
</form>