<form action="/celebrities/new" method="post" class="form">
    <h1 class="title">Create celebrity</h1>
<hr>
    <label class="artist" for="name">name</label>
    <input class="input" id="name" type="text" name="name" value="test celebrity">
    <br>
    <label class="artist" for="occupation">occupation</label>
    <input class="input" id="occupation" type="text" name="occupation" value="unemploye">
    <br>
    <label class="artist" for="catchPhrase">What is his/her best punchline ever ?</label>
    <input class="input" id="catchPhrase" type="text" name="catchPhrase" value="Yo !">

    <button class="btn">ok</button>
</form>