<h2>New Celebrities</h2>

<form action="/celebrities" method="POST">
<label for="name">Name</label>
<input type="text" name="name" pattern="[A-Za-z]">
<label for="catchphrase">Catchprase</label>
<input type="text" name="catchphrase" pattern="[A-Za-z]">
<label for="occupation">Occupation</label>
<input type="text" name="occupation" pattern="[A-Za-z]">
<input type="submit" value="Add Celebrity">
</form>