<h1>{{{title}}}</h1>
<h2>Añadir una celebridad!</h2>
<p>Por favor rellene los siguientes datos:</p>

<form action="/celebrities/new" method="POST">
  <input type="text" name="name" placeholder="nombre">
  <input type="text" name="occupation" placeholder="ocupación">
  <input type="text" name="catchPhrase" placeholder="frase">
  <input type="submit" value="Añadir">
</form> 
<p><a href="/celebrities">Regresar</a> a la lista de celebridades.</p>
<p>Pagina de inicio: <a href="/">Regresar.</a></p>