<h1> Add a new celebrity </h1>

<form method="POST" action="/celebrities">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="occupation" placeholder="Occupation">
    <input type="text" name="catchPhrase" placeholder="Catchphrase">
    <button>Submit</button>
</form>