<h2>Create new celebrity</h2>

<form method="post" action="/celebrities" class="form">
    <h1 class="title">Add a celebrity</h1>
    <label class="label" for="name">Celebrity's name</label>
    <input class="input" id="name" type="text" value="Ex:Jean-Marc Généreux" name="name">
    <label class="label" for="occupation">Occupation</label>
    <input class="input" id="occupation" type="text" value="dancer" name="occupation">
    <label class="label" for="catchPhrase">catchPhrase</label>
    <input class="input" id="catchPhrase" type="text" value="Et ça ?? J'achète" name="catchPhrase">
    <button class="btn">create</button>
</form>