
<h2>Add a new artist</h2>
<a href="/">Home</a>

<form action="/celebrities/new" method="POST">

    <div>
        <label>Name:</label>
        <input name="name" type="text">
    </div>
    </br>
    <div>
        <label>Occupation:</label>
        <input name="occupation" type="text">
    </div>
    </br>
    <div>
        <label>Catch phrase:</label>
        <textarea name="catchPhrase" cols="30" rows="4"> </textarea>
    </div>
    </br>
    <button type="submit">Add new artist</button>

</form>
