<h2> Agrega una nueva celebridad! </h2>

<form action="/celebrities/new" method="POST"> 

<label> Nombre </label>
<input type="text" name="name" placeholder="chuachenaguer">
<label> Ocupacion </label>
<input type="text" name="occupation" placeholder="Artitsta">
<label> Eslogan </label>
<input type="text" name="catchPhrase" placeholder="Hasta la vista baby!">
<button type="submit" >Add</button>


</form>