<h2>Create new celebrity</h2>
<form action="/celebrities" method="POST">
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Occupation" name="occupation" required>
    <input type="text" placeholder="Famous phrase" name="catchPhrase" required>
    <button type="submit">Add</button>
</form>