<section class="displayInfo">
  <h2>Create a new celebrity</h2>
  <form class="createform" action="/celebrities" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="" placeholder="Enter celebrity name...">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" value="" placeholder="Enter celebrity occupation">
    <label for="catchPhrase">Quote</label>
    <input type="text" name="catchPhrase" value="" placeholder="Enter celebrity quote">
    <input class="button" type="submit" class="submit" value="Create">
  </form>
</section>