<h2>New celebrity</h2>
<form action="/celebrities/new" method="post">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="">
    <label for="occupation">Occupation</label>
    <input class="form-control" type="text" name="occupation" id="">
    <label for="catchPhrase">Catchphrase</label>
    <input class="form-control" type="text" name="catchPhrase" id="">
    <button type="submit" class="btn btn-primary my-3">Add new celebrity</button>
</form>