<h2>Add a new celebrity</h2>

<form action="/celebrities" method="POST">
    <label>
    Name
      <input type="text" name="name" id="">
    </label>

     <label>
    Occupation
      <input type="text" name="occupation" id="">
    </label>

     <label>
    Catch Phrase
      <input type="text" name="catchPhrase" id="">
    </label>

    <button type="submit">Create new celebrity</button>
</form>