<form action="/celebrities/new" method="post" class="form">
    <h1 class="title">Create Celibrity</h1>

    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="name" value="Rihanna">
    <label class="label" for="occupation">occupation</label>
    <input class="input" id="occupation" type="text" name="occupation" value="singer">
    <label class="label" for="catchPhrase">Catch phrase</label>
    <input class="input" id="catchPhrase" type="text" name="catchPhrase" value="I wish I was a singer">


    <button class="btn">ok</button>
    {{!-- <input class="btn" type="submit" value="ok"> --}}
</form>