<h1>ADD Artist</h1>
<form action="/celebrities" method="post">
  <label for="name_actor">
  <input type="text" name="name" id="name_actor" placeholder="name actor here">
  </label>
  <label for="occupation">
  <input type="text" name="occupation" id="occupation" placeholder="occupation actor here">
  </label>
  <label for="catch_phrase">
  <input type="text" name="catchPhrase" id="catch_phrase" placeholder="phrase cool actor here">
  </label>
  <button type="submit">DONE</button>
</form>