<h2>Add a new Celebrity</h2>
<form action="/celebrities" method="POST">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter celebrity name">
    </div>

    <div class="form-group">
        <label>Occupation</label>
        <input type="text" class="form-control" name="occupation" placeholder="Enter celebrity occupation">
    </div>

    <div class="form-group">
        <label>CatchPhrase</label>
        <input type="text" class="form-control" name="catchPhrase" placeholder="Enter celebrity catchPhrase">
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary mr-3">Submit</button>
    </div>
</form>