<h2>Add new celebrity</h2>

<form action="/celebrities" method="POST">
<input type="text" id="name" name="name" placeholder="Name of the celebrity">
<input type="text" id="occupation" name="occupation" placeholder="Occupation">
<textarea name="catchPhrase" id="catchPhrase" cols="30" rows="10" placeholder="Insert the catch phrase"></textarea>

<button type="submit">Add celebrity!</button>

</form>