<h2>Add new celebrities</h2>
<form action="/celebrities" method="POST">
  <input type="text" placeholder="Celebrity's name" name="name"> <br>
  <input type="text" placeholder="Cebrity's occupation" name="occupation"> <br>
  <input type="text" placeholder="Celebrity's catchphrase" name="catchPhrase"><br>
  <button type="submit">Submit</button>
</form>