<h2>Add new celebrity</h2>

<form action="/celebrities" method="post">
    <input type="text" name="name" value="">
    <input type="text" name="occupation" value="">
    <input type="text" name="catchPhrase" value="">
    <button type="submit">Add a new celebrity!</button>
</form>