<form class="form" action="/celebrities/new" method="POST">
    <h2>Celebrity form</h2>

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" id="occupation">

    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase">


    <button class="btn">Create celebrity</button>

</form>