<h2>Create a new Football Celeb</h2>

<form action="/celebrities/new" method="POST">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>

  <label for="occupation-input">Occupation</label>
  <input type="text" name="occupation" id="occupation-input"></input>
  <br>

  <label for="phrase-input">phrase</label>
  <textarea type="text" name="catchPhrase" id="phrase-input"></textarea>
  <br>

  <button type="submit">Create the Football Celeb</button>
</form>