<h1>Adding celebrities</h1>
<form action='/celebrities' method='POST'>
  Name: <input type='text' name='name' ><br>
  Occupation: <input type='text' name='occupation' ><br>
  Catch phrase: <input type='text' name='catchPhrase' ><br>

<button type="submit">Create celebrity</button>
</form>