<h2> Adding a new celebrity </h2>

<form action="/celebrities/new" method="post">
    <label for="celebName"> Celebrity Name:</label>
    <input type="text" id="celebName" name="name" />

    <label for="celeOccupation"> Celebrity Occupation:</label>
    <input type="text" id="celeOccupation" name="occupation" />

    <label for="catchPhrase"> Catch Phrase:</label>
    <input type="text" id="catchPhrase" name="cPhrase" />

    <button type="submit"> Create a Celebrity </button>
</form>