<h2>Add new celebrity</h2>
<form action="/celebrities/new" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="occupation" placeholder="Occupation">
<input type="text" name="catchPhrase" placeholder="Catch Phrase">
<button type="submit">Add</button>
</form>