<h2>Add new celebrities</h2>

<form id="form" action="/celebrities" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name"
      placeholder="Celebrity's name">

    <label for="occupation ">Occupation</label><br>
    <input type="text" name="occupation"
      placeholder="Celebrity´s occupation">

    <label for="catchPhrase">Catch Phrase</label><br>
    <input type="text" name="catchPhrase"
      placeholder="Celebrity´s catch phrase">

    <button type="submit">Create new Celebrity</button>
  </form>