<div class="flex-column index">
    <h2>Add your favourite celebrity</h2>

    <div class="inputs">
        <form action="/celebrities" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="occupation" placeholder="Occupation">
            <input type="text" name="catchPhrase" placeholder="Catchphrase">

            <button type="submit">Add celebrity</button>
        </form>
    </div>
    
</div>