<h2>Crea una celebridad</h2>
<form action="/celebrities/new" method="POST">
<label for="name" name="name">Artist name</label>
<input type="text" name="name" placeholder="New artist name">
<br>
<label for="occupation" name="occupation">Occupation of the Artist</label>
<input type="text" name="occupation" placeholder="Occupation">
<br>
<label for="catchPhrase" name="catchPhrase">Catch Phrase</label>
<input type="text" name="catchPhrase" placeholder="Catch Phrase of Artist">
<br>
<button type="submit">Add Artist</button>
</form>