<!-- views/ne Celebrity add, new.hbs -->
<h1>Add your own artist!!</h1>

<form action="/new" method="post">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Occupation:</label>
    <input type="text" name="occupation">

    <label for="">Catch Phrase:</label>
    <input type="text" name="catchPhrase">

    <button type="submit"><a href="/celebrities"></a> ADD</button>
</form>
