<h2>Add your celebrity</h2>

<form action="/new" method="POST">
<label for="">actor:</label>
<input type="text" name="name" id="name">
<label for="">occupation:</label>
<input type="text" name="occupation" id="occupation">
<label for="">catchPhrase:</label>
<input type="text" name="catchPhrase" id="catchPhrase">
<label for=""></label>
<button type="submit">ADD</button>
</form>



