<h2>Create</h2>

<form action="/celebrities/new" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation">
    <label for="catchPhrase">CatchPhrase</label>
    <input type="text" name="catchPhrase">
    <button type="submit">create</button>
</form>