<form action="/drones" method="post">
    <label for="drone-name">Name</label>
    <input type="text" id="drone-name" name="name">
  
    <label for="proppellers">proppellers</label>
    <input type="number" name="proppellers" id="proppellers">

    <label for="max-speed">maxSpeed</label>
    <textarea type="number" name="maxSpeed" id="max-speed"></textarea>
  
    <button type="submit">Create Product</button>
  </form>