<h2>Crea una nueva celebrity</h2>

<form action="/celebrities/new" method="POST">
    <div>
        <label>Nombre</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>Profesión</label>
        <input type="text" name="occupation">
    </div>
    <div>
        <label>Cita</label>
        <input type="text" name="catchPhrase">
    </div>

    <button type="submit">Crear celebrity</button>



</form>