<h2>Create new ceb</h2>

<div class="card-body card create"> 

    <form action="/celebrities/new" method="POST">

        <input type="text" name="name" value="">
        <input type="text" name="occupation" value="">
        <input type="text" name="catchPhrase" value="">
        <button type="submit" class="card-link btn btn-success">Create</button>

    </form>

</div>