<h2>Add Celebrity</h2>
<form class="form-group" action="/celebrities" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation">
  <label for="catchPhrase">Catch Phrase:</label>
  <input type="text" name="catchPhrase">
  <button type="submit">ADD</button>
</form>
<a class="btn btn-primary" href="/celebrities" role="button">BACK to Celebrities</a>