{{> nav}}

<div class="container-fluid">
    <h2>Añade una nueva celebrity</h2>
</div>

<div id="celebrities" class="container-fluid">
    <div class="row">
        <form class="boxed" action="/celebrities" method="POST">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="celebrityName" placeholder="Escribe un nombre" name="name">
            </div>
            <div class="form-group">
                <label for="occupation">Ocupación</label>
                <input type="text" class="form-control" id="occupation" placeholder="¿A qué se dedica?"
                    name="occupation">
            </div>
            <div class="form-group">
                <label for="catchPhrase">Frase famosa:</label>
                <textarea class="form-control" id="catchPhrase" rows="3"
                    name="catchPhrase">Escribe su frase más famosa.</textarea>
            </div>
            <button type="submit" class="btn btn-dark">ENVIAR</button>
        </form>

    </div>
</div>