<form action="/celebrities/new" method="post">

  <div class="form-row">
    <label for="">Celebrity Name:</label>
    <input type="text" name="name" class="form-control">

  </div>

  <div class="form-row">
    <label for="">Occupation:</label>

    <input type="text" name="occupation" class="form-control">
  </div>
  <div class="form-row">

    <label for="">Catch-Phrase:</label>
    <input type="text" name="catchPhrase" class="form-control">

    <button type="submit">ADD CELEBRITY</button>
  </div>
</form>