<section>
  <a class="arrow-back" href="/celebrities">←</a>
  <div class="board">
    <div class="board2">
      <div class="board3">
        <form class="form">
        {{!-- <form class="form" action="/celebrities" method="POST"> --}}
        {{!-- not action post? --}}
          <label>NAME:</label>
          <input type="text" name="name" id="name2">
          <label>OCCUPATION:</label>
          <input type="text" name="occupation" id="occupation2">
          <label>CATCH PHRASE:</label>
          <input type="text" name="catchPhrase" id="catchPhrase2">
          <button class="btn" id="add-btn2">ADD</button>  
        </form>
        <div>
          <div id="celebs-list">
            {{!-- <p>Test123</p> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>