
<h2 id="title"></h2>
<form action="/celebrity" method="POST">
{{!-- the action is telling to which file the form has to be sent --}}

    <label for="name"> Celebrity name: </label>
    <input id="name" name="name" type="text" placeholder="celebrity name here...">
    <label for="occupation"> The occupation: </label>
    <input id="occupation" name="occupation" type="text" placeholder="occupation here...">
    <label for="phrase"> common phrase: </label>
    <input id="phrase" name="catchPhrase" type="text" placeholder="phrase here...">

    <button type="submit">Create New celebrity</button>
</form>