<h2>Create DB Entries</h2>
<form action="/celebrities" method="post">
    <h4>Celebrity Name:</h4>
    <input type="text" name="celebName" id="celebName">
    <h4>Occupation:</h4>
    <input type="text" name="occupation" id="occupation">
    <h4>Catchphrase:</h4>
    <input type="text" name="catchphrase" id="catchprase">
    <button type="submit">Submit</button>
</form>