<h2>Add a new Celebritie</h2>
<form action="/celebrities/add" method="post">
    <div class="form-group">
        <label>Celebritie Name: </label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label>Ocuppation: </label>
        <input type="text" class="form-control" name="occupation">
    </div>
    <div class="form-group">
        <label>Phrase: </label>
        <input type="text" class="form-control" name="catchPrase">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>