
<h2>Create new Celeb here</h2>

<form action="/celebrities/create-new-celeb" method="POST">
  <label>Celeb Name</label>
  <input name="name" type="text">
  <label>Celeb Occupation</label>
  <input name="occupation" type="text" name="" id="">
  <label>Celeb Catchphrase</label>
  <input name="catchPhrase" type="text" id="">
  <button>Create New Celeb</button>
</form>


