<h2>Add a new celebrity</h2>

<form action="/celebrities/new-celeb" method="POST">
    <div>
        <label for="name">Name: <input type="text"  name="name" placeholder="Celeb name"></label>
        <br>
        <label for="occupation">Occupation: <input type="text"  name="occupation" placeholder="Celeb occupation"></label>
        <br>|
        <label for="catchPhrase">Catchy Phrase: <input type="text"  name="catchPhrase" placeholder="THE Catch Phrase"></label>
    </div>

    <button type="submit">Add celebrity</button>
</form>