<h2>Add a new celebrity</h2>


<form  action="/celebrities/new" method="POST">

    <div >
        <label >Name: </label>
        <input   id="name" type='text' name="name">
    </div>

    <div >
        <label >Ocupation: </label>
        <input   id="occupation" type='text' name="occupation">
    </div>

    <div >
        <label >Catch phrase: </label>
        <input   id="catchPhrase"t ype='text' name="catchPhrase"> </input>
    </div>

    <button type='submit'>Add New Celebrities</button>

</form>



