<div class="buttonsSection">
  <a id="backButton" href="/celebrities"><i class="fas fa-arrow-left"></i></a>
</div>
<section class="new">
  <div class="formSave">
    <h1>New Celebrity</h1>
    <img src="https://www.wmktdig.com/wp-content/uploads/2017/06/DPB9qdME-1200x1200.jpeg" alt="">
    <form id="myForm" action="/celebrities/new" method="post" accept-charset="utf-8">
      <input placeholder="Name" type="text" name="name" id="" required>
      <input placeholder="Occupation" type="text" name="occupation" id="" required>
      <textarea placeholder="Phrase" rows="4" cols="50" name="catchPhrase" form="myForm"></textarea>
      <button class="saveButton" type="submit">Save</button>
    </form>
  </div>
</section>