<h1>Add new celeb </h1>

<form action="/celebrities" method="POST">
    <input type="text" name="name" placeholder="Name new celeb">
    <input type="text" name="occupation" placeholder="New celeb's occupation">
    <input type="text" name="catchPhrase" placeholder="CatchPhrase of new celeb">
    <button type="submit">Submit new celeb</button>
</form>

<div>
    <a href="/celebrities/"> Go back</a>
</div>