<div class="celeb-padding">

    <h2>Create A New Celebrity via API</h2>
    <div class="row new-celeb new-new-celeb">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label>First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="occupation" type="text" class="validate">
                    <label>Occupation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="catchPhrase" type="text" class="validate">
                    <label>Catch Phrase</label>
                </div>
            </div>
            <button type="button" id="api-create-button" class="waves-effect waves-light btn-large">Create</button>
            <a href="/celebrities"><button type="button"
                    class="waves-effect waves-light btn-large red darken-1">Cancel</button></a>
        </form>

        <div>
            <ul id="celeb-list">

            </ul>
        </div>

    </div>
</div>