<h2>New Celebrity</h2>
<br>
<br>

<form action="/newCeleb" method="POST">
 <div class="form-group">
<label for="nameInput">Name: </label>
<input class="form-control" type="text" name="name" id="nameInput">
</div>
<div class="form-group">
<label for="occupationInput">Ocupation: </label>
<input class="form-control" type="text" name="occupation" id="occupationInput">
</div>
<div class="form-group">
<label for="catchPhrase">About: </label>
<input class="form-control" type="text" name="catchPhrase" id="catchPhrase">
</div>
<button type="submit" class="btn btn-primary">Save new Celebrity</button>
</form>