
<div class='new-celebs-page'>


<h2>New Celebrity</h2>

<form class='new-celeb-form' action='/celebrities/new' method='POST'>
  <div>
    <p>Name: </p>
  <input type='text' name='theName'>
  </div>
  
  <div>
    <p>Occupation: </p>
  <input type='text' name='theOccupation'>

  </div>

  

  <div>
      <p>Catch Phrase: </p>
  <input type='text' name='theCatchPhrase'>
  </div>

  <div class='form-save'>
      <button type='submit'>Save</button>
  </div>

</form>




</div>

