<h2>The Celebrity Entry form </h2>

<form action="/celebrities" method="POST">
<div>
   Enter your name: <input type="text" name="name" >

</div>

<div>
   Enter your occupation: <input type="text" name="occupation" ><br>

</div>

<div>
   Enter your catchPhrase: <input type="text" name="catchPhrase" ><br>

</div>

   <button type="submit">Submit</button>

</form>