<h2>New Celebrity</h2>
<div>
<form action="/celebrities/new_celebrity" method="POST">

<input type="text" name="name" placeholder="name">
<input type="text" name="occupation" placeholder="occupation">
<input type="text" name="catchPhrase" placeholder="catchPhrase">


<button type="submit">Create a New Celebrity</button>

</form>
</div>
