<h1>Quick Add of Celebrities</h1>


<div id="big" class="flex">

  <div class="new-celeb-form">

    <div>
      <div>

        <label for="type">Enter Name </label>
        <input type="text" id="name">
      </div>
      <div>

        <label for="occupation">Occupation </label>
        <input type="text" id="occupation">
      </div>
      <div>

        <label for="catchPhrase">catch Phrase </label>
        <input type="text" id="catchPhrase">
      </div>
      <div>

        <label for="famousFor">Famous For: </label>
        <input type="text" id="famousFor">
      </div>



      <button id="new-celeb-button">Submit</button>
    </div>

  </div>

  <div>

    <ul id="celebrities-list">

    </ul>
  </div>

</div>