<h2>Celebrity details</h2>

<p class="name"> 
  Name : {{celebrityDetails.name}}
</p>
<p class="occupation">
  Occupation : {{celebrityDetails.occupation}}
</p>
<p class="catchPhrase">
  Catch-phrase : {{celebrityDetails.catchPhrase}}
</p>