<h1>{{{title}}}</h1>
<h2>Información de la Celebridad:</h2>
<ul>
  <li>Nombre:  <h4>{{celebrity.name}}</h4></li>
  <li>Ocupación: <h4>{{celebrity.occupation}}</h4></li>
  <li>Frase: <h4>{{celebrity.catchPhrase}}</h4></li>
</ul>
<p><a href="/celebrities">Regresar</a> a la lista de celebridades.</p>
<p>Pagina de inicio: <a href="/">Regresar.</a></p>