<div class="d-flex flex-column justify-content-center align-items-center w-100">
<h2>DETAILS</h2>
{{#each celebrity}}
<p>{{this.name}}</p>
<p>{{this.occupation}}</p>
<p>{{this.catchPhrase}}</p>

{{/each}}
<a class="btn btn-dark" href="/celebrities">Go back</a>
</div>

