{{#with foundObjFromId}}
<h1>{{this.name}}</h1>
<span>Name: {{this.name}}</span>
<p>Occupation: {{this.occupation}}</p>
<p>CatchPhrase: {{this.catchPhrase}}</p>
{{/with}}

<a href="/celebrities/">Return</a>