{{#each celebrity}}
<h2>Name: {{name}}</h2>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchPhrase}}</p>
<p>Rating: {{rating}}</p>
{{/each}}

<a href="/celebrities">
  Back to Celebrity Inventory
</a>