<h1> {{celebrity.name}} </h1>
<h3>Occupation: {{celebrity.occupation}} </h3>
<h3>About: {{celebrity.catchPhrase}} </h3>

<a href="/celebrities/{{celebrity._id}}/edit">
    <button class="btn btn-outline-secondary" type="button">Edit</button>
</a>
<br>
<a class="btn btn-primary" href="/celebrities">Go to Celebrities List</a>