<h2>The Celebrity Details Page</h2>

<ul>
  <li><span>Name: </span>{{celebrity.name}}</li>
  <li><span>Occupation: </span>{{celebrity.occupation}}</li>
  <li><span>Catch phrase: </span>"{{celebrity.catchPhrase}}"</li>
</ul>
