<h2> Celebrity Details </h2>
<ul>
    <li>
      <h3> <%= celebDetails.name %> </h3>
      <p> <%= celebDetails.occupation %> </p>
      <p> <i><%= celebDetails.catchPhrase %> </i></p>

      <a href="/celebrities"> Celebrity List </a>

      <br>

      <a href="/"> Home </a>

</ul>
