<div class="celebrity">
    <div id="info">
        <h1>{{celebrity.name}}</h1>
        <p>Occupation:{{celebrity.occupation}}</p>
        <p>catchPhrase:{{celebrity.catchPhrase}}</p>
    </div>
</div>