

<h2>Celebrity details</h2>
<p>Name: {{celeb.name}}</p>
<p>Occupation: {{celeb.occupation}}</p>
<p>Catchphrase: "{{celeb.catchPhrase}}"</p>

<p>Go to <a href="/celebrities">Celebrities</a> page</p>

<p>Go to <a href="/">Home</a> page</p>

