<h2>{{details.name}}</h2>

<p>
  <strong>Occupation:</strong>
  {{details.ocupation}}
</p>

<p>
  <strong>Catch Phrase:</strong>
  {{details.catchPhrase}}
</p>

<!--
<a href="/books/{{book._id}}/edit">Edit this book</a>
-->