<h2>{{celebrity.name}}</h2>
<p>{{celebrity.occupation}}</p>
<em>"{{celebrity.catchPhrase}}"</em>
<br><br>
<form action="/celebrities/{{celebrity._id}}/edit" method="get"><button>Edit</button></form>
<a href="/celebrities/index">Go back</a>