<h2> Celebrity Details </h2>

<ul>


    <li> Celebrity Name: <%= celebrityInfo.name %> </li>
    <li> Occupation:   <%= celebrityInfo.occupation %> </li>
    <li> Catch Phrase: <%= celebrityInfo.catchPhrase %> </li>



</ul>
