<h2>Celebrity details</h2>

<div class="details">
    <p><strong>Name: </strong>{{name}}</p>
    <p><strong>Occupation: </strong>{{occupation}}</p>
    <p><strong>Catch phrase: </strong>{{catchPhrase}}</p>
</div>

<div class="nav-links">
    <a href="/celebrities">🔙 Back to celebrities page</a>
</div>
