<h1>About</h1>

<div>
  <h2><strong>{{name}}</strong></h2>
  <h3>{{occupation}}</h3>
  <p>Quote :</p>
  <p>{{catchPhrase}}</p>
  <a href="/celebrities/{{this.id}}/edit"><button>Edit</button></a>
  <a href="/celebrities"><button>Go Back to the list</button></a>

</div>