<h2>Celebrity Details</h2>

<b>Name: </b>{{oneCelebrity.name}} <br>
<b>Occupation:</b> {{oneCelebrity.occupation}}
<p><b>Catch Phrase:</b> <br>
    {{oneCelebrity.catchPhrase}}
</p>

<a href="/celebrities/edit">EDIT</a><br>
<a href="/celebrities"> Go back and show all celebrities </a>