<h2>Details</h2>

<h3>Name: {{theCelebrity.name}}</h3>
<h3>Occuption: {{theCelebrity.occupation}}</h3>
<p>Quote: {{theCelebrity.catchPhrase}}</p>

<a href="/celebrities/{{theCelebrity._id}}/edit">Edit</a>