<h2>Estas son los detalles de celebridades:</h2>

<a href='/'>Go back!</a>
<a href='/celebrities'>Go back to Celebrities!</a>

<p>{{theCelebrity.name}}</p>

<p>{{theCelebrity.occupation}}</p>

<p>{{theCelebrity.catchPhrase}}</p>
