
<h3>Name: {{celebrity.name}}</h3>
<h4>Ocuppation: {{ celebrity.occupation }}</h4>
<p>" {{ celebrity.catchPhrase}} "</p>
<form action="/celebrities/{{celebrity._id}}" method="post">
<button type="submit">Delete this Celebrity</button>
</form>
  
