<h1 style="text-align:center; font-size : 50px; margin: 60px;"> {{celebrity.name}}</h1>
<a href="/celebrities" style="position:absolute; top: 10px; left : 10px;">Back</a>

<div style='text-align:center'>
  <p style=" color:rgb(0, 174, 255); font-size : 20px;"> {{celebrity.occupation}}</p>
  <p><i><q>{{celebrity.catchPhrase}}</q><br> - {{celebrity.name}}</i> </p>
</div>