<h2>Celebrity details</h2>
<p><strong>Name: </strong>{{foundCeleb.name}}</p>
<p><strong>Occupation: </strong>{{foundCeleb.occupation}}</p>
<p><strong>Catchphrase: </strong>{{foundCeleb.catchPhrase}}</p>
<a class="btn btn-secondary btn-sm" href="/celebrities">Back</a>