<div class="container mt-5 py-5">
    <div class="row  border border-dark">

        <div class="col">
            <div class="row">
                <div class="col my-3">
                </div>
            </div>
            <div class="jumbotron">
                <h1 class="display-3">{{celebrity.name}}</h1>
                <p class="lead">Ocupation: {{celebrity.occupation}}</p>
                <p class="lead">{{celebrity.catchPhrase}}</p>

                <hr class="my-2">
                <p class="lead">
                    <a href="/celebrities" class="btn btn-secondary">Go Back</a>
                </p>
            </div>
        </div>

    </div>
</div>