  <h2>{{celebrity.name}}</h2>

  <div>
  <ul>
  <li>Occupation: {{celebrity.occupation}}.</li>
  <li>Catch Phrase: {{celebrity.catchPhrase}}.</li>
  </ul>
<a href="../index.hbs"><button>Back</button></a>
  </div>