<h2>CELEBRITIES SHOW</h2>

<div class="celebritiesAll">

<h3>Name:</h3> 
<p>{{celebrities.name}}</p>

<h4>Ocupation:</h4>
<p>{{celebrities.occupation}}</p>

<h4>Catch phrase:</h4>
<p>{{celebrities.catchPhrase}}</p>


</div>