<div class="container">

    <h1>Ficha Personal</h1>

    <hr>

    <p><strong>Nombre:</strong> {{name}}</p>
    <p><strong>Ocupación:</strong> {{occupation}}</p>
    <p><strong>Frase mítica:</strong> {{catchPhrase}}</p>

    <hr>

    <a href="/celebrities"  class="btn btn-dark">Volver a los actores</a>

</div>