<h2>Celeb profile of {{result.name}}</h2>

<ul>
    <li>Occupation: {{result.occupation}}</li>
    <li>Catchy phrase: {{result.catchPhrase}}</li>
    <li><a href="/celebrities/{{result._id}}/edit">EDIT </a></li>
</ul>

