<h2>Celebrity Details</h2>

<h1>{{name}}</h1>
<h2>{{occupation}} </h2>
<h3> " {{catchPhrase}} "</h3>


 <hr>
  <a href="/celebrities/{{_id}}/delete">Delete celebrity</a>
  <a href="/celebrities">Go back to list</a>