<div>

<h1>Welcome to {{celebrity.name}}'s Page!</h1>
<hr>
<br>
<h2>occupation: {{celebrity.occupation}}</h2>

<p>catchphrase: {{celebrity.catchphrase}}</p>

<a href="/celebrities/edit/{{celebrity._id}}"><button>Edit This Celebrity</button></a>

</div>