<h2>Celebrity Information</h2>

<div>
      <h5>Name: {{celebrity.name}}</h5>
      <p>Occupation: {{celebrity.occupation}}</p>
      <p>Catch phrase: {{celebrity.catchPhrase}}</p>
      <a href="/celebrities/details/{{celebrity._id}}/edit"><button>Edit</button></a>
    </div>