<h2>{{celebrity.name}}</h2>
<ul>
    <li>
        <b>Name:</b> <span>{{celebrity.name}}</span>
    </li>
    <li>
        <b>Ocupation:</b> <span>{{celebrity.ocupation}}</span>
    </li>
    <li>
        <b>Catch Phrase:</b> <span>{{celebrity.catchFrase}}</span>
    </li>
</ul>