<h2>Celebrity Details</h2>
<h3>Name: {{this.name}}</h3>
<p>Occupation: {{this.ocupation}}</p>
<p>Catch Phrase: {{this.catchPhrase}}</p>
<form action="/celebrities/{{this.id}}/edit" method="get">
<button type="submit">Edit Celebrity</button>
</form>