<h2>Celebrity details</h2>
{{#each foundCelebrity}}
<p>{{this.name}}</p>
<p>{{this.ocupation}}</p>
<p>{{this.catchPhrase}}</p>
{{/each}}

<a href="/celebrities/{{this.foundCelebrity._id}}/edit">
  <button>Edit details</button>
</a>

