<!--#3 ??this.name or just name ??muss ich loopen, ich glaube nicht weil ich ja nur die info vom einem celebtriy will-->
<h2> Details </h2>
<p>
  name:
  {{this.name}}
  occupation:
  {{this.occupation}}
  Catch Phrase:
  {{this.catchPhrase}}
</p>