<div class="view">

    <div class="center-block">

        {{> backButton}}

        <h2>More about</h2>

        <h3>{{celebrity.name}}</h3>
        <p>{{celebrity.name}} is a famous {{celebrity.occupation}} <br> who loves to say "{{celebrity.catchPhrase}}"</p>
    </div>

</div>