<h2>Celebrity page</h2>
<p>Name: {{foundCelebrity.name}}</p>
<p>Occupation: {{foundCelebrity.occupation}}</p>
<p>Catch phrase: {{foundCelebrity.catchPhrase}}</p>
<a href="/celebrities/{{foundCelebrity.id}}/edit">Edit data</a>