<h2 class="mb-5">View details</h2>

<span class="badge badge-dark">Name</span>
<h5 class="mb-4">{{name}}</h5>
<span class="badge badge-dark">Occupation</span>
<p class="mb-4">{{occupation}}</p>
<span class="badge badge-dark">Catch Phrase</span>
<p class="mb-4">{{catchPhrase}}</p>