<h2>MORE INFO ABOUT YOUR CELEBRITY</h2>
<div>
<h3>{{this.oneCeleb.name}}</h3>
<h4>{{this.oneCeleb.occupation}}</h4>
<h4>{{this.oneCeleb.catchPhrase}}</h4>
</div>
<a href="/celebrities/{{this.oneCeleb._id}}/edit/">Update info</a>

