<h2 style="margin-top: 5rem;">{{celebrities.name}}</h2>

<div class="card bg-light mb-3" style="max-width: 188rem; opacity: .8; text-align: center">
    <div class="card-header" style="font-size: 1.5rem; font-weight: 400">Occupation: {{celebrities.occupation}}</div>
    <div class="card-body">
        <p class="card-text"> {{celebrities.catchPhrase}}</p>
    </div>
</div>
<div>
    <a class="btn btn-secondary button" href="/celebrities" role="button">Go to celebrities</a>
</div>
<div>
    <a class="btn btn-secondary button" href="/" role="button">Home</a>
</div>