<h2>Celebrity Profile</h2>
<li>
  <ul>Name: {{celebrityItem.name}}</ul>
  <ul>Occupation: {{celebrityItem.occupation}}</ul>
  <ul>Catch Phrase: {{celebrityItem.catchPhrase}}</ul>

</li>
<a href="/celebrities">Home</a>