<h2>{{celebDetails.name}}</h2>

<p>
  <strong>Occupation:</strong>
  {{celebDetails.occupation}}
</p>

<p>
  <strong>Catch Phrase:</strong>
  {{celebDetails.catchPhrase}}
</p>

<!--
<a href="/books/{{book._id}}/edit">Edit this book</a>
-->