
        <h2>Detalle</h2>
   

        <h3>{{allTheCelebritiesFromDB .name}}</h3>
        <p>Ocupación: {{allTheCelebritiesFromDB .occupation}}</p>
        <p>CatchPhrase: {{allTheCelebritiesFromDB .catchPhrase}}</p>

    <a href="/celebrities">Celebridades</a>
    <a href="/">Home</a>
