<h2>{{celebrity.name}}</h2>


<p>Occupation : {{celebrity.occupation}}</p>
<p>CatchPhrase : {{celebrity.catchphrase}}</p>

<a href="/celebrities" >
return
</a>
<br>
<a href="/celebrities/edit/{{celebrity._id}}">
Edit Celebrity
</a>

