<h2>Celebrity Details</h2>

<h3>{{celebrity.name}}</h3>
<h4>Occupation: {{celebrity.occupation}}</h4>
<p>Catch Phrase: "{{celebrity.catchPhrase}}"</p>

<a href="/celebrities/{{celebrity._id}}/edit">Edit</a>