
<div class="card">
  <div class="card-header">
    <h2>Detail Celebrity</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <span>{{celebrity.catchPhrase}}</span>
      <footer class="blockquote-footer">{{celebrity.name}} - <cite title="Source Title">{{celebrity.occupation}}</cite></footer>
    </blockquote>
  </div>
</div>

<a class="btn btn-warning mt-5 float-right" href="/celebrities">Back</a>