<h2 class="h1">Celebrity details</h2>
<div class="card col-lg-6">
  <div class="card-body">
    <h5 class="card-title">{{celebrity.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{celebrity.occupation}}</h6>
    <p class="card-text">{{celebrity.catchPhrase}}</p>
  </div>
</div>