<div class="container mt-5 py-5">
    <div class="row mt-5 py-5 border border-dark">
        <div class="col">
            <div class="row">
                <div class="col my-3">
                    <a href="/celebrities">Go Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>{{name}}</h1>
                        <p>
                            <strong>Ocupation: {{occupation}}</strong>
                        </p>
                        <p>
                            <strong> {{ catchPhrase}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>