<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= celebrity.name %></h2>

    <p>Name: <%= celebrity.name %></p>
    <p>Occupation: <%= celebrity.occupation %></p>
    <p>Catch phrase: <%= celebrity.catchPhrase %></p>

  </body>
</html>
