<h2> Celebrity INFO</h2>

<a href ='/'> Go Back</a>
<a href = '/celebrities'>Go back to Celebrities</a>

<h1>{{theCelebrity.name}}</h1>
<h5>{{theCelebrity.occupation}}</h5>
<h5>{{theCelebrity.catchPhrase}}</h5>