<div class="container">
    <h1>Detalles de {{name}}</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Ocupation: {{ocupation}}</p>
        </div>
        <div class="col-md-6">
            <p>Phrase: {{catchPhrase}}</p>

        </div>
    </div>
    <a class="btn btn-dark" href="/celebrities">Volver a la lista</a>

</div>