<h2>Show</h2>
<ul>
  {{#each celebrities as |celebrity|}}
  <li><a href="">{{celebrity.name}}</a></li>
  <li><a href="">{{celebrity.occupation}}</a></li>
  <li><a href="">{{celebrity.catchPhrase}}</a></li>
  {{each}}
</ul>
