<section class="detail-page page">
        <a href="/celebrities"><i class="fas fa-undo"></i></a>
        <h2>The Celebrity Details Page</h2>
        <p>Name: <span>{{name}}</span></p>
        <p>Occupation: <span>{{occupation}}</span></p>
        <p>Catchphrase: <span>{{catchPhrase}}</span></p>
</section>