<h2>Details</h2>
<p>Name: {{celebrityDetails.name}}</p>
<p>Occupation: {{celebrityDetails.occupation}}</p>
<p>Catch Phrase: {{celebrityDetails.catchPhrase}}</p>
<a href="/celebrities/{{celebrityDetails._id}}/edit">Edit</a>