<div class="wrapper">
    <div class="container wrapperShow">
        <div class="col s12">
            <div class="card large whiteBack">
                <div class="card-image">
                    <img src="{{celebrities.img}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{celebrities.name}}</span>
                    <p>{{celebrities.occupation}}</p>
                    <p>{{celebrities.catchPhrase}}</p>
                </div>
            </div>
            <a class="waves-effect waves-light btn links" href="/celebrities">Go back to the list</a>
        </div>
    </div>
</div>