<div class="container">
    <h2>Estas son las interioridades de las "celebrities" </h2>
    <div class="col">
        <ul>
            {{#with celebrity}}
            <h3>{{name}}</h3>
            <p>Ocupación: {{occupation}}</p>
            <p>Cita: {{catchPhrase}}</p>
            <a href="/celebrities">Regresar</a>
            {{/with}}
        </ul>

    </div>
</div>