<header>
  <h2>Celebrity Details</h2>
</header>
<div class="card">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Name: {{ celebrity.name }}</h4>
        <h4 class="card-text">Occupation: {{ celebrity.occupation }}</h4>
        <h4 class="card-text">CatchPhrase: <q>{{ celebrity.catchPhrase }}</q></h4>
      </div>
    </div>
  </div>
</div>

<a href="/celebrities/{{ celebrity.id }}/edit">Edit Celebrity</a>