{{#with theCelebrity}}
{{>details  name=name typeTitle="Occupation" type=occupation aboutTitle="Catch Phrase" about=catchPhrase}}
{{/with}}

<a class="btn btn-primary" href="/celebrities">Back to Celebrities</a>