<p class="text-center">Details of {{celebDetails.name}}</p>
<p>


  {{celebDetails.occupation}}
</p>

<p>{{celebDetails.catchPhrase}}</p>

<a class="btn btn-primary btn-sm" href="/celebrities">Back to Celebrity List</a>

</div>