<section>
  <div class="celebShow">
    <div class="title">
      <h1> About {{celebrity.name}}</h1>
    </div>
    <div class="text">
      <h2>Name: {{celebrity.name}}</h2>
      <p>occupation: {{celebrity.occupation}}</p>
      <p>
        <b>Catch Phrase: {{celebrity.catchPhrase}}</b>
      </p>
    </div>
  </div>
  <a href="/celebrities"> HOME PAGE</a>
</section>