<h2>Celebrity details</h2>
<ul>
  <li>{{celebrities.name}}</li>
  <li>{{celebrities.occupation}}</li>
  <li>{{celebrities.catchPhrase}}</li>
</ul>

<a href="/celebrities/{{celebrities._id}}/edit">Edit</a>
<a href="/celebrities/">Back to Celebrities</a>