
<a href=""><img src= {{celebrities.image}} alt="" srcset=""></a>
<h1>{{celebrities.name}}</h1>
<p>Occupation : {{celebrities.occupation}}</p>
<p>Phrase : {{celebrities.catchPhrase}}</p>
<a href="/celebrities">Return</a>
