<div class="row  d-flex flex-column justify-content-center align-items-center h-100">
  <div class="wrapper">

    <h2>Celebrity Details</h2>
    <ul class="list-group " id="celeb-details">
      <li><b>Name:</b> {{celeb.name}}</li>
      <li><b>Occupation:</b> {{celeb.occupation}}</li>
      <li><b>Occupation:</b> {{celeb.catchphrase}}</li>
    </ul>

  </div>
</div>