<h2>Celebrity Details</h2>
<h3>Name: </h3>
<p>{{name}}</p>
<h3>Occupation: </h3>
<p>{{occupation}}</p>
<h3>Catch Phrase: </h3>
<p>{{catchPhrase}}</p>
<a href="../../celebrities">Return to Celebrities List</a>