<h2>Celebrity: {{celebItem.name}}</h2>

<p>Name: <strong>{{celebItem.name}}</strong></p>

<p>Occupation: {{celebItem.occupation}}</p>

<p>Catch Phrase: " {{celebItem.catchPhrase}} "</p>

<a href="/celebrities">Back to Celebrities List</a>