<h2>Celebrity {{celebrities.name}}</h2>
    <p><b> Name: </b>{{celebrities.name}}</p>
    <p><b> Occupation: </b>{{celebrities.occupation}}</p>
    <p><b> Phrase: </b>{{celebrities.catchPhrase}}</p>
<div>
    <a href="/celebrities" style="color: red";>Go to Celebrities</a>
</div>
<div>
    <a href="/" style="color: red;">Return</a>
</div>