<!--IT 3-->
<h2>{{thisCeleb.name}} detailed information</h2>

<ul>
    <li>Name: {{thisCeleb.name}}</li>
    <li>Occupation: {{thisCeleb.occupation}}</li>
    <li>Catch phrase: {{thisCeleb.catchPhrase}}</li>
</ul>

<a href="/celebrities">Back to celebrities' list.</a>