<h2>{{name}} details' page</h2>
<ul>
    <li>{{name}}</li>
    <li>{{occupation}}</li>
    <li>{{catchPhrase}}</li>
</ul>

<a href="/celebrities">< Go back</a>
<span>|</span>
<a href="/celebrities/new">+ Add new celebrity</a></Go>