<div class="container">
    <div class="celebrities-title">
        <h2>The Celebrity</h2>
    </div>
    <div class="celebrities-box">

        <h3>{{theCelebrity.name}}</h3>
        <p>Ocupation: {{theCelebrity.occupation}}</p>
        <p>Catch Phrase: {{theCelebrity.catchPhrase}}</p>

    </div>
    <a href="/celebrities">Celebrities</a>
    <a href="/">Home</a>
</div>