<h2>The celebrities!</h2>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.celebrity.name}}</h5>
    <p class="card-text">{{this.celebrity.occupation}}</p>
    <p class="card-text">{{this.celebrity.catchPhrase}}</p>
  </div>
</div>

<a href="/celebrities/{{this.celebrity._id}}/edit">Let's edit.</a>