<h2>Celebrity Details</h2>

<div class="card text-center">
  <div class="card-header">
    {{name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{occupation}}</h5>
    <p class="card-text">"{{catchPhrase}}"</p>
    <a href="/celebrities" class="btn btn-primary">Back</a>
    
  </div>
  <div class="card-footer text-muted">
  </div>
</div>