<h2>Celebrity details:</h2>
<div>
    <p>Name: {{celeb.name}}</p>
    <p>Occupation: {{celeb.occupation}}</p>
    <p>Catch Phrase: "{{celeb.catchPhrase}}"</p>
</div>

<p>Something wrong? You can <a href="/celebrities/{{celeb._id}}/edit">edit this celebrity</a>!</p>