<h2> Details of {{celebrities.name}}</h2>
<ul>
    <li>Name: {{celebrities.name}}</li>
    <li>Occupation: {{celebrities.occupation}}</li>
    <li>Catch phrase: "{{celebrities.catchPhrase}}"</li>
</ul>