<div class="container pad-50 bg-pink">
    <div class="row">
        <div class="col-12">
            <h2 class=" border-lf-rg pad-50 aling-center white"><strong>Celebrity {{name}} Detail</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 aling-center">
            <h5>{{ocupation}}</h5>
        </div>
        <div class="col-12 aling-center">
            <p>
            <blockquote><em>'{{catchPharse}}'</em></blockquote>
            </p>
        </div>
    </div>
    <a class="btn btn-dark btn-sm bradius-0" href='/celebrities'>Volver</a>
</div>