<h2>Celebrity {{celebrities.name}}</h2>
    <p><b> Name: </b>{{celebrities.name}}</p>
    <p><b> Occupation: </b>{{celebrities.occupation}}</p>
    <p><b> Phrase: </b>{{celebrities.catchPhrase}}</p>

    <a href="/celebrities" style="color: red";>Return</a>
