<h2>Celebridad</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Ocupacion</th>
        <th>frase</th>
    </tr>

    <tr>
        <td>{{celebrity.name}}</td>
        <td>{{celebrity.occupation}}</td>
        <td>{{celebrity.catchPhrase}}</td>
    </tr>
</table>