<div class="database-index-container">
  <h2>Celebrity Details</h2>
  <p><%= celebDetails.name %></p>
  <p><%= celebDetails.occupation %></p>
  <p><%= celebDetails.catchPhrase %></p>
  <a href="/celebrities/<%= celebId %>/edit" class="button">Edit</a>
  <a href="/celebrities" class="button">Go Back</a>
</div>