<h2>Celebrities Info!</h2>

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{obj.name}}</div>
  <div class="card-body">
    <h5 class="card-title">{{obj.occupation}}</h5>
    <p class="card-text">{{obj.catchPhrase}}</p>
  </div>
</div>
