{{#with foundObjFromId}}
<h1>{{this.name}}</h1>
<p><b>Name:</b> {{this.name}}</p>
<p><b>Occupation:</b> {{this.occupation}}</p>
<p><b>CatchPhrase:</b> {{this.catchPhrase}}</p>
{{/with}}

<a class="button" href="/celebrities/">Return</a>