<h2 class="mb-4">{{title}} Phrase</h2>

<blockquote class="blockquote text-center bg-light py-3">
    <p class="mb-0">"{{celebrity.catchPhrase}}"</p>
    <footer class="blockquote-footer">
        <cite title="Source Title">{{celebrity.name}}</cite> ({{celebrity.occupation}}
    </footer>
</blockquote>

<a class="btn btn-secondary" href="/celebrities">Back</a>