<section id="celebrities">
  <div class="container">
    <div class="row">
      <div class="column">
        <a class="button" href="/celebrities">
          <i class="fas fa-arrow-left"></i> Go back
        </a>
        
        <h2>{{celebrity.name}}</h2>
        <p><em>{{celebrity.occupation}}</em></p>
        <blockquote class="text-center">
          <i class="fas fa-quote-left icon"></i>
          {{celebrity.catchPhrase}}
        </blockquote>
      </div>
    </div>
  </div>
</section>