<h2>Aaaand here's {{celeb.name}}'s details!</h2>
<div class="celeb_item">
<div>Name: {{celeb.name}}</div>
<div>Occupation: {{celeb.occupation}}</div>
<div>Catch phrase: {{celeb.catchPhrase}}</div>
</div>
