<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <h2>
                <strong> Details of </strong>{{celebrities.name}}</h2>
        </div>
        <div class="col-12 col-md-8">
            <h3>{{celebrities.name}}</h3>
            <ul>
                <li>Occupation :{{celebrities.occupation}}</li>
                <li>Catch phrase :{{celebrities.catchPhrase}}</li>
            </ul>
            <a href="/celebrities">Back</a>
        </div>


    </div>
</div>
</div>