{{!-- Add an <h2> for the page's heading.
Display tags with the celebrity's name, occupation and catchPhrase. --}}

<h2>Celebrity</h2>

<p> {{celebrity.name}}</p>
<p> {{celebrity.occupation}}</p>
<p> {{celebrity.catchPhrase}}</p>