<div class="card">
  <h5 class="card-header">{{name}}</h5>
  <div class="card-body">
    <table>
      <tbody class="item-details">
        <tr>
          <th>Title</th>
          <td>{{name}}</td>
        </tr>
        <tr>
          <th>Occupation</th>
          <td>{{occupation}}</td>
        </tr>
        <tr>
          <th>Catch Phrase</th>
          <td>{{catchPhrase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>