<div class="container">

<h1>{{name}} </h1>

  <hr>

  <p><strong>Nombre:</strong> {{name}}</p>
  <p><strong>Profesión</strong> {{occupation}}</p>
  <p><strong>¿Qué dijo esta estrella?:</strong> {{catchPhrase}}</p>

  <hr>
  <a href="/celebrities" class="btn btn-dark">Consulta otra celebrity</a>
</div>
