<h2>Info</h2>

<div class="container">
  <p>Name: {{data.name}}</p>
  <p>Occupation: {{data.occupation}}</p>
  <p>Catch Phrase: {{data.catchPhrase}}</p>
  <a href="/celebrities/{{data._id}}/edit">Edit</a>
</div>
