<h2>Info celebrities</h2>
<a class="btn btn-primary" href="/">Home</a>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Name: {{{name}}}</h5>
    <p class="card-text">Occupation: {{{occupation}}}</p>
    <p class="card-text">Catchphrase: {{{catchPhrase}}}</p>
  
  </div>
</div>