<a href="/celebrities">Return</a>
<h2>Here's some info about <b>{{celebrities.name}}</b></h2>

<p>Their occupation: {{celebrities.occupation}}</p>
<p>Their catchphrase: {{celebrities.catchPhrase}}</p>


