<h2>Celebrities info</h2>
<p>
    <li>NAME: {{celebrities.name}}</li>
    <li>OCCUPATION: {{celebrities.occupation}}</li>
    <li>CATCH PHRASE: "{{celebrities.catchPhrase}}</li>
    <a href="/celebrities/edit">EDIT INFO</a>

</p>