<div class="section">
    <div class="container">

        {{#each celebFound}}

        <p class="title is-1">{{name}}</p>
        <p class="subtitle is-3">{{occupation}}</p>
        <p class="subtitle">"{{catchPhrase}}"</p>

        <form action="/celebrities/{{_id}}/edit" method="get" class="is-inline-block
">
            <input class="button" type="submit" value="Edit">
        </form>

        {{/each}}
    </div>
    </section>