<h2>Welcome to {{name}}'s page</h2>
<hr>

<h3>{{name}}'s details:</h3>

<ul>
  <li>
    <h4>Occupation:</h4>
    <p>{{occupation}}</p>
    </li>
  <li>
    <h4>Iconic phrase:</h4>
    <p>{{catchPhrase}}</p>
  </li>
</ul>

<a href="/celebrities">Go back to the list</a>