<h2>Caracteristicas del personaje</h2>
{{#with details}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">{{this.name}}</p>
    <p class="card-text">{{this.occupation}}</p>
    <p class="card-text">{{this.catchPhrase}}</p>
  </div>
</div>
{{/with}}

<div><a href="/celebrities">Personajes</a></div>