<h2> {{name}} - in details </h2>
<span> <a class="a_navigation" href="/celebrities"> Go Back </a></span>
<ul>
    <li> Name : {{name}} </li>
    <li> Occupation : {{occupation}} </li>
    <li> Catch Phrase : "{{catchPhrase}} "</li>
</ul>