<div class="row">
    <div class="col">
        <h2>Detalle de la celebridad</h2>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5><strong>{{name}}</strong></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Ocupación: </strong>{{occupation}}</li>
        <li class="list-group-item"><strong>Frase celebre: </strong>{{catchPhrase}}</li>
    </ul>
</div>
<a href="/celebrities"><button type="button" class="btn btn-dark">Volver a Celebridades</button></a>