<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h2 class="title is-3">Celebrity info:</h2>
    
    <div class="box">
    <article class="media">
        <div class="media-left">
        <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
        </figure>
        </div>
        <div class="media-content">
        <div class="content">
            <p>
            <strong>{{name}}</strong> <small>@name</small>
            <br>
            <br>
            <strong>{{occupation}}</strong> <small>@occupation</small>
            <br>
            <br>
            <strong>{{catchPhrase}}</strong> <small>@catch phrase</small>
            </p>
            <a class="button is-danger is-small" href="/celebrities/details/{{id}}/edit">Edit this info</a>
        </div>
        </div>
    </article>
    </div>
  </div>
</div>