<h1> celebrity details</h1>
<h1>{{theCelebrity.name}}</h1>
<span>: {{theCelebrity.occupation}}</span>
<p>catch phrase : {{theCelebrity.catchPhrase}}</p>

{{!-- <a href="/list-of-books">Return</a> --}}