<h2>Celebrity Details</h2>
<div class="card mt-4 p-1" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title fs-3">{{name}}</h5>
    <p class="card-text"><span class="fw-bold">Occupation:</span> {{occupation}}</p>
    <p class="card-text"><span class="fw-bold">Catch Phrase:</span> {{catchPhrase}}</p>
  </div>
</div>
<a href="/celebrities">
  <button class="btn btn-outline-secondary px-3 py-1 my-3">Back</button>
</a>