<h2>Show Page</h2>

    <h3>{{celebrity.name}}</h3>
    <p>{{celebrity.occupation}}</p>
    <p>{{celebrity.catchphrase}}</p>
    <a href="/celebrities/{{celebrity.id}}/edit">Edit</a>

<a href="/celebrities">Go Back</a>