<h2>The reals ones</h2>

<ul>
    <p>Name:  {{celebrity.name}}</p>
    <p>Ocupation:  {{celebrity.occupation}}</p>
    <p>Catch Phrase:  {{celebrity.catchPhrase}}</p>

    <a href="/celebrities/index">Back</a>

</ul>
