<h2> Celebrity Details </h2>



<div class="container">

    <div class="form-border">

        <div id="form-inner">
            <div class="form-item">
                <p>Name: {{celebrityInfo.name}} </p>
            </div>

            <div class="form-item">
                <p> Celebrity Occupation: {{celebrityInfo.occupation}}</p>
            </div>

            <div class="form-item">
                <p> Celebrity Cathy phrase: {{celebrityInfo.catchPhrase}}</p>
            </div>

            <a class="add-btn" href="/celebrities"> Go Back</a>

        </div>

    </div>
</div>