<h2>Celebrity</h2>
<p>Name: {{celebrity.name}}</p>
<p>Occupation: {{celebrity.occupation}}</p>
<p>Catch Phrase: {{celebrity.catchPhrase}}</p>
<button><a href="/celebrities/show/{{celebrity._id}}/edit">EDIT</a></button>