<h2> Details of: {{ celebById.name }} </h2>

<p><b>Description: </b>{{ celebById.occupation }}</p>

<p><b>Catch Phrase: </b>{{ celebById.catchPhrase }}</p>

{{!-- <a href="/books/{{book._id}}/edit"> Edit </a>
<br>
<a href="/books">Go to books list page</a> --}}