<h2>Celebrity info:</h2>
<h2>Name: {{name}}</h2>
<h3>Occupation: {{occupation}}</h3>
<h3>Catch phrase: {{catchPhrase}}</h3>
<br>
<p>There is an error? <a href="/celebrities/details/{{id}}/edit">Edit this info</a></p>


