<h2>Celebrity Details</h2>
<hr>


  <div>
     <p>Name: {{celebrities.name}}</p>
     <p>Occupation: {{celebrities.occupation}}</p>
     <p>Catch Phrase: {{celebrities.catchPhrase}}</p>
</div>
<p><a href="/celebrities">Go back</a></p>