<div class="container">

<h2>{{celebDetails.name}}</h2>

<article>
    <ul>
        <li> <strong>Occupation</strong> : {{celebDetails.occ}}</li>
        <li> <strong>Catch Phrase</strong>: "<i>{{celebDetails.catchPhrase}}</i>" </li>
    </ul>
</article> 

<a class="btn btn-md btn-dark" href="/celebrities">Back</a>

</div>