<h2>Infos about the celebrity</h2>
<ul>
<li>{{celebrity.name}}</li>
<li>{{celebrity.occupation}}</li>
<li>{{celebrity.catchPhrase}}</li>
<br>
<a href="/celebrities/"><button class="btn">Back</button></a>
</ul>