<h2>Celebrity details <a class="go-back-link" href="/celebrities/index">&lt; Back to all</a></h2>
<p><b>Name : </b>{{celebrity.name}}</p>
<p><b>Occupation : </b>{{celebrity.occupation}}</p>
<p><b>Catch Phrase : </b>{{celebrity.catchPhrase}}</p>
