<h2>Celebrity Details Page</h2>


  <h4>Name: {{celebrityFromDb.name}}</h4>
  <h5>Ocupation: {{celebrityFromDb.occupation}}</h5>
  <h6>Catch Phrase: {{celebrityFromDb.catchPhrase}}</h6>
  <a href="/celebrities/{{celebrityFromDb.id}}/edit">Edit</a>
