<div class="main-content">

    <div class="content details">
        <h2 class="display-5">Aquí tienes los detalles de {{name}}</h2>
        <p><strong>Nombre: </strong>{{name}}</p>
        <p><strong>Profesión: </strong>{{occupation}}</p>
        <p><strong>Frase célebre: </strong> "{{catchPhrase}}"</p>
    </div>
    
</div>