<div class="body-movies-index">
    <h1>Celebrity Details</h1>
    <div class="items-details title-list">
        <div>
            <h2>{{this.name}}</h2>
            <p><span>Occupation: </span>{{this.occupation}}</p>
            <p><span>CatchPhrase</span>{{this.catchPhrase}}</p>
        </div>
        <div class="button-back">
            <a href="/celebrities">Back</a>
        </div>
    </div>

</div>