<h2> View Celebrities</h2>
{{#each celebrities}}
<div class ="name">
  {{name}}
  </div>
  <div class = "occupation">
{{occupation}}
  </div>
  <div class = "catchPhrase">
{{catchPhrase}}
</div>
  {{/each}}
 
