<div class="containerNew">
  <h2>The Celebrity</h2>

  <h3>Nombre: {{celebrity.name}}</h3>
  <h3>Ocupación: {{celebrity.occupation}}</h3>
  <h3>Frase famosa: {{celebrity.catchPhrase}}</h3>

  <a href="/celebrities">Cancelar y volver a la lista de celebridades</a>
</div>