<div>
    <h2>Show celebrity: {{name}} cetail</h2>
    <ul>
        {{#each}}
        <li>{{name}}</li>
        <li>{{occupation}}</li>
        <li>{{catchPhrase}}</li>
        {{/each}}
    </ul>
</div>