
{{> nav}}
<section class="section-1">
<h2>{{foundObjFromId.name}} Info</h2>

<div class="card">
  <div class="card-body">
    <ul>
  <li>Name: {{foundObjFromId.name}}  </li>
  <li>Occupation: {{foundObjFromId.occupation}}</li>
  <li>Phrase: {{foundObjFromId.catchPhrase}}</li>

</ul>
  </div>
</div>

</section>
