<h2>Celebrity Details</h2>
<p><%= celebDetails.name %></p>
<p><%= celebDetails.occupation %></p>
<p><%= celebDetails.catchPhrase %></p>
<a href="/celebrities/<%= celebId %>/edit">Edit</a>
<a href="/celebrities">Go Back</a>