<h2>Show celebrity details</h2>
{{celebrity.name}}
<ul>
    <p>-{{celebrity.occupation}}</p>
    <p>-{{celebrity.catchPhrase}}</p>
    <p><a href="/celebrities/edit/{{celebrity._id}}">edit</a></p>
</ul>