<h2>{{this.celebrities.name}}</h2>

<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Occupation</h5>
    <p class="card-text">{{this.celebrities.occupation}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Catch Phrase</h5>
    <p class="card-text">{{this.celebrities.catchPhrase}}</p>
  </div>
  <div class="card-body">
    <a href="/celebrities" class="card-link">List</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>