<h2>Celebrity details</h2>
  {{#with celebrity}}
  <h3>{{this.name}}</h3>
   <ul class="celebrities-show">
        <li><strong>Occupation:</strong> {{this.occupation}}</li>
        <li><strong>Catch phrase:</strong> {{this.catchPhrase}}</li>
  </ul>
  {{/with}}