<h2>Details:</h2>

{{#with eachCel}}
<h3>Name:</h3>
<p>{{this.name}}</p>
<h3>Occupation:</h3>
<p>{{this.ocuppation}}</p>
<h3>Catch Phrase:</h3>
<p>{{catchPhrase}}</p>
<p>Don't agree with this info? Please, edit it now</p>
<a href="/celebrities/edit?celebrityId={{_id}}">Edit information</a>
{{/with}}

  