<div>
  <h2>CELEBRITY</h2>
  <div>Name: {{name}}</div>
  <br>
  <div>Occupation: {{occupation}}</div>
  <br>
  <div>CatchPhrase: {{catchPhrase}}</div>
  <form action="/celebrities/{{_id}}/edit">
  <button type="submit">Edit</button>
  </form>
</div>