<h2>Celebrity Information</h2>
<div>
  <p><span>Name: {{celebrity.name}}</span></p>
  <p><span>Occupation: {{celebrity.occupation}}</span></p>
  <p><span>Catch Phrase: {{celebrity.catchPhrase}}</span></p>
</div>