<div class="celebrities-container">
  <h3> {{theCelebrity.name}} </h3>
  <h4><b>OCCUPATION:</b> {{theCelebrity.occupation}}  </h4>
  <h4><b>CATCH PHRASE:</b> {{theCelebrity.catchPhrase}} </h4>
  <br>
  <br>
  <a href="/celebrities"><button class="button-celeb-p">BACK TO CELEBRITIES</button></a>
</div>