<h1>Selected celebrity</h2>

<div class="data-celebrity">
        <h2>{{celebrityData.name}}</h1>
        <h2>{{celebrityData.occupation}}</h2>
        <h2>{{celebrityData.catchPhrase}}</h2>
        <a href="/celebrities">Go back</a>

</div>