<div class="list">
    <div class="card-info">
            <a href="/celebrities">Go back</a>
            <h3>{{celebrity.name}}</h3>
            <p>Occupation: {{celebrity.occupation}}</p>
            <p>Phrase: {{celebrity.catchPhrase}}</p>
    </div>  
</div>