<h1>{{celebrity.name}}</h1>
<p>Ocuppation: {{celebrity.occupation}}</p>
<p>Catch phrase: {{celebrity.catchPhrase}}</p>
<a href="/celebrities/{{celebrity._id}}/edit">Edit</a>
<a href="/celebrities">Back</a>