<div class="container">
    <h2>Celebrity</h2>
    <div class="row mt-5">
            <div class="card mr-4 text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase text-warning">{{celebrity.name}}</h5>
                    <p class="card-text"><span class="font-weight-bold"> Occupation: </span>{{celebrity.occupation}}</p>
                    <p class="card-text"><span class="font-weight-bold"> Catch phrase:  </span>{{celebrity.catchPhrase}}</p>
                </div>
            </div>
    </div>
    <a class="btn btn-success mt-5 float-right" href="/celebrities">Back</a>
</div>