<h2>More Details on Celebrity</h2>
<p>Name:{{celebItem.name}}</p>
<p>Occupation:{{celebItem.occupation}}</p>
<p>Catch Phrase:{{celebItem.catchPhrase}}</p>

<a href="/celebrities/{{celebItem._id}}/edit">Update/Edit</a>