<h2>DETAILS:</h2>
<br>
<h3>{{name}}</h3>
<h4 class="text-grey">Occupation: {{occupation}}</h4>
<p>Catch Phrase: {{catchPhrase}}</p>
<a href="/celebrities/{{_id}}/edit" class="btn btn-primary">EDIT</a>