<h2>{{selectedCelebrity.name}}</h2>

<h4>Ocupation: {{selectedCelebrity.ocupation}}</h4>

<h5><i>{{selectedCelebrity.catchPhrase}}</i></h5>

<button><a href="/celebrities/{{selectedCelebrity._id}}/edit" class="edit-button">Edit</a></button> <br>

<a href="/celebrities">Go back to all celebrities</a>