<div class="container">
    <h2>Celebrity details</h2>

    <hr>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Occupation:</strong> "{{occupation}}"</p>
    <p><strong>Catch Phrase:</strong> "{{catchPhrase}}"</p>

    <button type="button" class="btn btn-secondary">
        <a href="/celebrities">Back to Movies</a>
    </button>

</div>