<ul>
    <li>
        <p>
            Name : {{celebrity.name}}
        </p>
    </li>
    <li>
        <p>
            Occupation : {{celebrity.occupation}}
        </p>
    </li>
    <li>
        <p>
            Catch Phrase : {{celebrity.catchPhrase}}
        </p>
    </li>
    <li>
        <a href="/celebrities">Go Back</a>
    </li>

</ul>