<h3>
  <%= celebrity.name %>'s Details</h3>
<p>
  Occupation:
  <%= celebrity.occupation %>
</p>
<p>
  <i>
    Catchphrase:
    <%= celebrity.catchPhrase %>
  </i>
</p>

<h4>
  <a href='/celebrities/'>Back to Celebrity List</a>
</h4>