
<h2> Celebrity Details </h2>
<div class="celebDetails">
  <h3><strong>Name:</strong> {{celebrity.name}}</h3>
  <h3><strong>Occupation:</strong> {{celebrity.occupation}}</h3>
  <h3><strong>Catch Phrase:</strong> {{celebrity.catchPhrase}}</h3>
</div>
<div class="backButton">
  <form action="/celebrities">
    <input type="submit" value="<   Return to full list" />
  </form>
</div>