<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">

      <h2><strong>{{name}}</strong></h2>

      <ul class="list-group">
        <li class="list-group-item"><strong>Occupation:</strong> {{occupation}} </li>
        <li class="list-group-item"><strong>Catch Phrase:</strong> {{catchPhrase}}</li>
        <a href="/celebrities/"><button class="btn-dark btn">Back to celebrities</button></a>
      </ul>

    </div>
  </div>
</div>