<h2>Perfil</h2>
<div>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Ocupacion</th>
      <th>Frase que lo distingue</th>
    </tr>
    <tr>
      <td>{{celebridad.name}}</td>
      <td>{{celebridad.ocupation}}</td>
      <td>{{celebridad.catchPhrase}}</td>
    </tr>
  </table>
</div>
