<div class="container">
    <div class="show">
        <h3>{{celebrity.name}}</h3>
        <h4>{{celebrity.occupation}}</h4>
        <p class="phrase-celebrity">{{celebrity.catchPhrase}}</p>
        <a href="/celebrities"><button type="button" class="btn btn-default btn-sm">Back</button></a>
    </div>
</div>