<div>
    <h2>{{celebrity.name}}</h2>
    <p>Occupation: {{celebrity.occupation}}</p>
    <p>Catch phrase: {{celebrity.catchPhrase}}</p>
    <a href="/celebrities/{{celebrity.id}}/edit">Edit</a>
    <hr>
    <a href="/celebrities">Back to celebrities page</a>
</div>