<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= celebrity.name %></h1>
    <h2><%= celebrity.occupation %></h2>
    <h4><%= celebrity.catchPhrase %></h4>
  </body>
</html>
