<div class="container">
   <h2>Celebrities {{name}}</h2>
   <br>
   <ul>
      <li>Name: {{name}}</li> 
      <li>Occupation: {{occupation}}</li>
      <li>catchPharse: {{catchPharse}}</li>
   </ul>
   <a href="/celebrities" class="btn btn-primary btn-sm">Go back</a>
</div>
