<h2 class="bottomMarginDoc"><strong>Celebrity Details</strong></h2>

<p><strong>Name: </strong>{{name}}</p>
<p><strong>Occupation: </strong>{{occupation}}</p>
<p><strong>Catch Phrase: </strong>{{catchPhrase}}</p>