<div class="container mt-5">
    <h2>{{laCelebridad.name}}'s Page</h2>
    
    <p>Name: {{laCelebridad.name}}</p>
    <p>Occupation: {{laCelebridad.occupation}}</p>
    <p>Catchphrase: {{laCelebridad.catchPhrase}}</p>
</div>
