<h2>Start Details</h2>
<button><a href="/celebrities">list</a></button>

<ul>

  <li>
    <p>Start :{{celebItem.name}}</p>
  </li>
  <li>
    <p>Occupation: {{celebItem.occupation}}</p>
  </li>
  <li>
    Punchline :{{celebItem.catchPhrase}}
  </li>

  <a href="/{{celebItem._id}}/delete">Delete This Star</a>

</ul>