<div class="bar">
    <h2>Celebrity details</h2>
</div>

<div class="col-lg-6 ">
    <div >
        <h3 class="card-title">{{this.name}}</h3>
        <h4>Occupation</h4>
        <p>{{celebrity.occupation}}</p>
        <h4>Catch Phrase</h4>
        <p >{{celebrity.catchPhrase}}</p>
    </div>
</div>