<h2>Celebrity Details</h2>
<ul>
    <li>{{name}}</li>
    <li>{{occupation}}</li>
    <li>{{catchPhrase}}</li>
</ul>
<br>
<br>
<a href="/celebrities/{{_id}}/edit">
    <button>Edit data</button>
</a> 
<br>
<br>
<br>
<a href="/">Back to menu</a>
