Welcome to {{theCelebrity.name}}'s Page!

occupation: {{theCelebrity.occupation}}

catchphrase: {{theCelebrity.catchphrase}}

<a href="/celebrities/edit/{{theCelebrity._id}}"><button>Edit This Celebrity</button></a>