<h2>{{name}}</h2>
<div class="container">
  <div class="row justify-content-between">
    <div class="col">
      <p>{{celebrity.name}}</p>
      <p>{{celebrity.occupation}}</p>
      <p>{{celebrity.catchPhrase}}</p>
    </div>
  </div>
</div>