<div>
  <h2>Celebrity Details</h2>
  
  <h5>Celebrity Name: {{celebrity.name}}</h5>
  <h5>Celebrity Occupation: {{celebrity.occupation}}</h5>
  <h5> Catch Phrase: {{celebrity.catchPhrase}}</h5>

</div>