<h2>Show</h2>
<div class="card" style="width: 18rem;">
{{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
<div class="card-body">
    <h5 class="card-title">{{oneCeleb.name}}</h5>
    <p class="card-text">{{oneCeleb.occupation}}</p>
    <p class="card-text">{{oneCeleb.catchPhrase}}</p>
</div>
</div>