{{#with celebrity}}
<h2 class="center-title">{{name}}`s Details</h2>
<div class="row justify-content-center">
  <div class="col text-center" style="max-width: fit-content;">
    {{> celebPage}}
  </div>
</div>
{{/with}}