<header>
  <h2>About you celebrity</h2>
  <!-- celebrityShow is the name given to the rendered db object in the celebrities.js -->
</header>

<h3>Name : {{celebrityShow.name}}</h3>

<h4>Occupation : {{celebrityShow.occupation}}</h4>
<h4>Catch Phrase: {{celebrityShow.catchPhrase}}</h4>

<a href="/celebrities">Back to celebrities</a>