
<h1>Page Details</h1>

{{#each respuesta2}}
<img src="{{this.image}}" alt="">
    <h2>{{this.name}}</h2>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
{{/each}}
    <a href="/celebrities">Vuelve a las celebrities</a>