<h1>ShowMore</h1>

{{#each celebShow}}
<h3>{{name}}</h3>
<div>{{occupation}}</div>
<div>{{catchPhrase}}</div>
{{/each}}
<a href="/celebrities">Celebrities</a>
<a href="/">Index</a>
<a href="/celebrities/add">Add Celebrity</a>