
{{> nav}}
<section class="section-1">
<h2>Celebrity Info</h2>

<ul>
  <li>Name: {{foundObjFromId.name}}  </li>
  <li>Occupation: {{foundObjFromId.occupation}}</li>
  <li>Phrase: {{foundObjFromId.catchPhrase}}</li>

</ul>
</section>
