<h2>Celebrities Details</h2>
<div class="container">
    {{#each celebId}}

        <h4>{{name}}</h4>
        <p>{{occupation}}</p>
        <p>{{catchPhrase}}</p>

    {{/each}}

    <a class="btn btn-dark" href="/celebrities/index">Back</a>

</div>