<h2>Celebrities Details</h2>
<ul>
    <span>Name:</span>
    <li>{{this.name}}</li>
    <span>Occupation:</span>
    <li>{{this.occupation}}</li>
    <span>Catch Phrase:</span>
    <li>{{this.catchPhrase}}</li>
</ul>