<h2>CELEBRITY DETAILS</h2>

      <div class="card mb-2">
        <h5 class="card-header">{{ celebritiesFromDB.name }}</h5>
        <div class="card-body">
          <p class="card-text">{{ celebritiesFromDB.occupation }}</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{ celebritiesFromDB.catchPhrase }}</p>
        </div>
      </div>

