<h2>Celebrities Details</h2>

<a href="/celebrities">Go back</a>
<li>{{celebrity.name}}</li>
<li>{{celebrity.occupation}}</li>
<li>{{celebrity.catchPhrase}}</li>


<button><a href="/celebrities/{{celebrity.id}}/edit">Edit</a></button>