<header>
  <h2>{{celebrity.name}}</h2>
  <hr>
</header>
<div></div>
<ul>
    <li>Occupation: {{celebrity.occupation}}.</li>
    <li>Catch Phrase: {{celebrity.catchPhrase}}.</li>
</ul>
<a href="/celebrities/all"><button>Go back</button></a>
</div>