<main>
    <h2 class="text-center py-5">Show Celebrity</h2>
    <p> <span class="font-weight-bold">Name: </span> {{this.name}}</p>
    <p> <span class="font-weight-bold">Occupation: </span> {{this.occupation}}</p>
    <p> <span class="font-weight-bold">CatchPhrase: </span> {{this.catchPhrase}}</p>
    <a href="/celebrities">
        < Go back</a>
            <span>|</span>
            <a href="/celebrities/new">+ Add new celebrity</a></Go>
</main>