<h2>Celebrity Profile</h2>

<div>
  <h4>{{celebrity.name}}</h4>
  <p>Occupation: {{celebrity.occupation}}</p>
  <p>Catchphrase: {{celebrity.catchPhrase}}</p>
  <a href="/celebrities/{{celebrity._id}}/edit">Edit the celebrity</a>
</div>