<h2>{{oneCeleb.name}}</h2>
<ul>
    <li>Name: {{oneCeleb.name}}</li>
    <li>Occupation: {{oneCeleb.occupation}}</li>
    <li>Catch phrase: "{{oneCeleb.catchPhrase}}"</li>
</ul>

<a href="/celebrities">Go to the celeb list</a> 