<h2>Celebrity Details:</h2>
<p><strong>Name: </strong>{{celebrity.name}}</p>
<p><strong>Occupation: </strong>{{celebrity.occupation}}</p>
<p><strong>Catch Phrase: </strong>{{celebrity.catchPhrase}}</p>
<a href="/celebrities/{{celebrity.id}}/edit">EDIT</a>