<h2>Here is the celebrity you were looking for:</h2>
<p>{{celebrityFoundViaID.name}}</p>
<p>{{celebrityFoundViaID.occupation}}</p>
<p>{{celebrityFoundViaID.catchPhrase}}</p>
<a href="/celebrities/{{celebrityFoundViaID._id}}/edit">Edit this celebrity's info</a>
<a href="/celebrities">Back to the list</a>