<main class="container">
    <h2>Details of "{{name}}"</h2>
        <div class="row">
            <div class="col-12">
                <p>Name: {{name}}</p>
                <p>Occupation: {{Occupation}}</p>
                <p>Catch phrase:: {{catchPhrase}}</p>
            </div>
        </div>    
        <hr>

<a class="btn btn-sm btn-dark" href="/celebrities/index">Back</a>
</main>
