<h1>Artist info</h1>

<h2>Celbrity name: {{celebrity.name}}</h2>
<h2>He/she is a/an: {{celebrity.occupation}}</h2>
<h2>Our favorite phrase: {{celebrity.catchPhrase}}</h2>
<a href="/celebrities/">Back</a>