<h2>This is a celebrity detail</h2>
<br>

<h3><u>{{name}}</u></h3>
<p><strong>Occupation:</strong> {{occupation}}</p>
<p><strong>Catch Phrase:</strong> "{{catchPhrase}}"</p>
<hr/>

<a href="/celebrities">Back to the main list</a>