<div class="page">
    <h2 class="title">{{celebrity.name}}</h2>
    <hr>
    <ul>
        <li>
            <span>occupation | </span><span>{{celebrity.occupation}}</span>
        </li>
        <li>
            <span>catch phrase | </span><span>{{celebrity.catchPhrase}}</span>
        </li>
    </ul>
    <br>
    <br>
    <a href="/celebrities/all"><button>Go back</button></a>
</div>