<h1>CELEBRITY DETAILS </h1>

<div class="card form" style="width: 500px">

  <p>NAME: {{name}}</p>
  <p>OCCUPATION: {{occupation}}</p>
  <p>CATCHPHRASE: {{catchPhrase}}</p>

<a class="btn btn-success" href="/celebrities/edit/{{_id}}">Edit Celebrity</a>
<a class="btn btn-primary" href="/celebrities/index">Back to Index</a>

</div>


