<h2>Celebrity</h2>
{{#with celebrity}}
  <ul>
    <li>{{name}}</li>
    <li>Occupation: {{occupation}}</li>
    <li>Catch phrase: {{catchPhrase}}</li>
  </ul>
{{/with}}

<a href="../celebrities">Back</a>
