<h2>{{celebrity.name}}</h2>
<p>Occupation: <strong>{{celebrity.occupation}}</strong></p>
<p>Catch Phrase: <strong>{{celebrity.catchPhrase}}</strong></p>
<a href="/celebrities/{{celebrity.id}}/edit">Edit celebrity</a>