<h2>single celebrity page heading</h2>
<div>name: {{this.singleCelebrity.name}}</div>
<div>occupation: {{this.singleCelebrity.occupation}}</div>
<div>catchprase: {{this.singleCelebrity.catchPhrase}}</div>