<h2>Here's the great  <u>{{celebrity.name}}</u></h2>

<p>Occupation: {{celebrity.occupation}}</p>
<p>Catch Phrase: <em>{{celebrity.catchPhrase}}</em></p>
<a href="/celebrities">Return to Celebrities</a>
