<h1>{{title}}</h1>
<h2>Celebrity Details</h2>
<div class="form-group">
  <label for="name">Name:</label>
  <span id="name">{{this.name}}</span>
  <br/>
  <label for="occupation">Occupation:</label>
  <span id="occupation">{{this.occupation}}</span>
  <br/>
  <label for="catchPhrase">Catch Phrase:</label>
  <p id="catchPhrase">{{this.catchPhrase}}</p>
  <a name="" id="" class="btn btn-primary" href="/celebrities" role="button">Return to List</a>
</div>