<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h2><%= celebrities.name %></h2>
<p><%= celebrities.occupation %></p>
<p><%= celebrities.catchPhrase %></p>
<form action="/celebrities/<%= celebrities._id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

</body>
</html>