<h2>Details</h2>

<h5><span class="font-weight-bold">Name:</span> {{name}}</h5>
<h5><span class="font-weight-bold">Occupation:</span> {{occupation}}</h5>
<h5><span class="font-weight-bold">Catch Phrase:</span> {{catchPhrase}}</h5>
<h6><a href="/celebrities" class="btn btn-info">Go back</a></h6>