<div class="row text-center">
  <h2 class="text-center">Celebrity's profile:</h2>
  <div class="card text-center m-1>
    <div class=" card-body">
    <h5 class="card-title m-2">{{celebrity.name}}</h5>
    <p class="card-title m-2"> Occupation: {{celebrity.occupation}}</p>
    <p class="card-title m-2"> CatchPhrase: {{celebrity.catchPhrase}}</p>
  </div>
</div>
</div>