{{#with celebrityDetails}}
<div class="celebrity-container">
    <h3 class="name">{{name}}</h3>
    <h3 class="occupation">{{occupation}}</h3>
    <h3 class="catch-phrase">{{catchPhrase}}</h3>
    <a href="/celebrities">Go back</a>
</div>

{{/with}}