<h2>Celebrity Details</h2>

<ul>
    <li> {{ this.details.name }} </li>
    <li> {{ this.details.occupation }} </li>
    <li> {{ this.details.catchPhrase }} </li>
    <a href="/celebrities/{{this.details.id}}/edit">Edit</a>
</ul>