<div class="section">
  <h1><a href="/">Where is my idol?</a></h1>
  <h2>Details of {{celebrity.name}}</h2>
  <ul>
    <li><span class="description">Occupation:</span> {{celebrity.occupation}}</li>
    <li><span class="description">Catch Phrase:</span> {{celebrity.catchPhrase}}</li>
  </ul>
  <a href="/celebrities" class="button button-goback">Go back</a>
</div>
