<div>
    <div>
        <h2>CELEBRITY DETAILS</h2>
    </div>
    <div>
        <h3>{{allTheCelebritiesFromDB .name}}</h3>
    </div>
    <div>
        <p>Ocupación: {{allTheCelebritiesFromDB .occupation}}</p>
    </div>
    <div>
        <p>CatchPhrase: {{allTheCelebritiesFromDB .catchPhrase}}</p>
    </div>

</div>

<a href="/celebrities">Celebridades</a>
<a href="/">Home</a>