<div class="container">
    <h2>Celebrity Detail</h2>
    <div id="detail">
        <div>
            <p><strong>Name: </strong>{{celebrity.name}}</p>
            <p><strong>Occupation: </strong>{{celebrity.occupation}}</p>
            <p><strong>CatchPhrase: </strong><em>{{celebrity.catchPhrase}}</em></p>
        </div>
        <a href="/celebrities">Go to Celebrities</a>
    </div>
</div>