<h2>Our celebrity <span class="text-secondary">{{celebrities.name}}</span></h2>

<div>
    <p><span class="text-secondary">Name: </span>{{celebrities.name}}</p>
    <p><span class="text-secondary">Occupation: </span>{{celebrities.occupation}}</p>
    <p><span class="text-secondary">Catch Phrase: </span>"{{celebrities.catchPhrase}}"</p>
</div>

<div class="bottom-links">
  <a href="/celebrities">Back to celebrities</a>
</div>