{{!-- Render a single celebrity --}}
<h2>Show Celebrity</h2>
<h3>{{celebrities.name}}</h3>
<p>Occupation: {{celebrities.occupation}}</p>
<p>Catch Phrase: {{celebrities.catchPhrase}}</p>
<a href="/celebrity/list">Back</a>

