<div class="contenedor">
    <div class="titulo">
        <h2>Your celebrity</h2>
    </div>
   

        <h3>{{celebrityDetails.name}}</h3>
        <p>Ocupation: {{celebrityDetails.occupation}}</p>
        <p>Catch Phrase: {{celebrityDetails.catchPhrase}}</p>

    
    <a href="/celebrities">Celebrities</a>
    <a href="/">Home</a>
</div>