<section>
<h2>{{ name }}</h2>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{occupation}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{catchPhrase}}</h6>
  </div>
</div>
<br>
<a href="/celebrities"><button class="btn btn-primary">Regresa</button></a>
</section>