<section class="page">
  <h2>{{celebrity.name}}</h2>
  
  <p>Occupation : {{celebrity.occupation}}</p class="show1">
  <p class="show">Catch Phrase : <span>"{{celebrity.catchPhrase}}"</span></p class="show1">
  
</section>