{{!-- this is celeb page

<h1>Title: {{celebrity.name}}</h1>
 --}}

<a href="/">Home</a>

<h3>Celebrity Name :</h3>

{{oneCelebrity.name}}

<h4>Occupation : </h4>

{{oneCelebrity.occupation}}

<h4>Catch Phrase: </h4>

{{oneCelebrity.catchPhrase}}

