<h2>Update a celebrity</h2>
<form action="/celebrities/{{celebrity._id}}" method="post" class="form">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{celebrity.name}}">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" value="{{celebrity.occupation}}">
    <label for="catchphrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
    <button>Ok</button>
</form>