<h1>modifica a {{name}}</h1>

<form action="/celebrities/update/{{_id}}" method="post">

<p>Nuevo nombre de la celebrity </p><input type="text" name="name" id=""><br>
<p>Nuevo trabajo</p><input type="text" name="occupation" id=""><br>
<p>Nueva frase cool </p><input type="text" name="catchPhrase" id=""><br><br><br>
<button type="submit">update!!</button>


</form>
<br><br>
<a href="/celebrities">Vuelve atras!</a>