<section>
    <h2>Actualiza la celebridad</h2>
        <form action="/celebrities/update/{{_id}}" method="post">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" required value="{{ name }}" name="name">
            </div>
            <div class="form-group">
                <label for="occupation">Ocupación</label>
                <input type="text" class="form-control" required value="{{ occupation }}" name="occupation">
            </div>
            <div>
                <label for="catchPhrase">Frase</label>
                <input type="text" class="form-control" required value="{{ catchPhrase }}" name="catchPhrase">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
</section>