<h1>New  celebrity</h1>
<form method="post" action="/celebrities/edit/{{celebrity._id}}">
    Name : <input type="text" name="name" value="{{celebrity.name}}">
    Occupation : <input type="text" name="occupation" value="{{celebrity.occupation}}">
    catchPhrase : <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
    <button type="submit">Save</button>
</form>