<h1>Add a new celebrity</h1>
<div class="loginFields">
  <form action="/celebrities/create" method="post">
    <input type="text" name="name" placeholder="Celebrity Name" />
    <input type="text" name="occupation" placeholder="Occupation" id="" />
    <input type="text" name="catchPhrase" placeholder="Catch Phrase" id="" />
    {{! <input type="number" name="rating" placeholder="rating" id=""> }}
    <button type="submit">SAVE</button>
  </form>
</div>
    <ul class="goBack">
      <li><a href="http://localhost:3000/celebrities"><button type="button" class="btn btn-outline-info">Go Back</button></a></li>
    </ul>
