<h1>Mapbox Test Page</h1>




<br><br>
  {{!-- <a href="/celebrities/create"><button type="button" class="btn btn-outline-light">Add a new Celebrity</button></a> --}}
    <ul class="goBack">
      <li><a href="http://localhost:3000/index"><button type="button" class="btn btn-outline-info">Go Back</button></a></li>
    </ul>

  