<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Celebrity Smashdown</h1>
    <p><a href="/celebrities">Celebrities Click Here...</a></p>

  </body>
</html>
