<!doctype <!DOCTYPE html>
<html>
<head>
    <title>Celebrities Smashdown!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1> MEH MEH </h1>
    <%- body %>

</body>
</html>