<h2>Celebrity Details</h2>

<h3> {{celebrityItem.name}} </h3>
<p> {{celebrityItem.occupation}} </p>
<p> {{celebrityItem.catchPhrase}} </p>

<a href="/celebrities/{{celebrityItem._id}}/edit">Edit Celebrity</a>
<a href="/celebrities">Back to celebrities</a>
<a href="/">Back home</a>




