<form action="/celebrities/{{CelebrityItem._id}}/process-edit" method="POST" >

    <input type="text" name="name" value="  {{CelebrityItem.name}} " >
    <input type="text" name="occupation" value="{{CelebrityItem.occupation}}" >
    <input type="text" name="catchPhrase" value="{{CelebrityItem.catchPhrase}}" >

<button>Update</button>
</form>