<h2>Celebrities</h2>
<ul>
{{#each celebrities}}
  <h3>{{this.name}}</h3>
  <a href="/celebrities/{{this._id}}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">View details</a>
  <form action="/celebrities/{{this._id}}/delete" method="POST">
    <button type="submit">DELETE</button>
  </form>

{{/each}}
</ul>
<a href="/celebrities/new" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Add new celebrity</a>
