<h2>Celebrity</h2>

{{#with celebrity}}
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
{{/with}}
<a href="/celebrities/{{celebrity._id}}/edit" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Edit celebrity</a>
