<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/celebrities">List of Celebrities</a></li>
      <li><a href="/celebrities/new">Add New Celebrity</a></li>
      <li><a href="/movies">List of Movies</a></li>
      <li><a href="/movies/new">Add New Movie</a></li>
    </ul>
  </body>
</html>
