<!DOCTYPE html>
<html>
  <head>
    <title>Celebrity Watch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Celebrity Watch</h1>
    <p>Welcome to what really matters</p>
    <a href= "/celebrities"> Celebrity list </a>
  </body>
</html>
