<!--View how each Page  will look -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/jpg" href="/images/heart.jpg" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <center>
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-4">
            <a href="/celebrities">Celebrities</a>
          </div>

          <div class="col-md-4">
            <center> <a href="/"> HOME</a></center>
          </div>

          <div class="col-md-4">
            <a href="/movies">Movies</a>
          </div>
        </div>
      </div>
    </center>
  </nav>
</header>


<body>
  <center>

    <%- body %>
<br>
<hr>
<footer>
  <p class ="footer">Made with &hearts; by: Jessica Palacios. &copy; 2017</p>

</footer>
  </center>
</body>

</html>
