<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <header>
    <h1>Celebrities'News</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/celebrities">Our Celebrities</a>
    </nav>
  </header>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>