<h2>Add a Celebrity</h2>

<!-- step #4 of create form (browser sends request) -->

<form action="/new-celebrity" method="POST">

    <input type="text" name="name" placeholder="name..." />
    <br />
    <input type="text" name="catchPhrase" placeholder="catchPhrase..." />
    <br />
    <input type="text" name="occupation" placeholder="occupations..." />
    <br />

    <button> Save This Celebrity </button>
</form>