<h2> Celebrity's Details </h2>

<ul>
    <li>
      <h3>{{this.name}}</h3>
      <p> best sentence : {{this.catchPhrase}}</p>
      <p> best occupation : {{this.occupation}}</p>
    </li>
</ul>

<p>Added on {{celebrity.createdAt}}</p>
