
<ul>
  {{#each celebrity}}
  
  <li>
    <h2>{{ this.firstName }} {{ this.lastName }}</h2>
    {{!-- <h3>Occupation: {{ this.occupation }}</h3>
    <h3>Catch Phrase: {{ this.catchPhrase }}</h3> --}}
  </li>

  {{/each}}

</ul>