<h2>Edit Celeb Info</h2>

<form action="/celebrities/{{celeb._id}}" method="POST">
  <label>Name: </label>
  <input type="text" name="name" value = "{{celeb.name}}">

  <label>Occupation: </label>
  <input type="text" name="occupation" value = "{{celeb.occupation}}">

  <label>Catch Phrase: </label>
  <input type="text" name="catchPhrase" value = "{{celeb.catchPhrase}}">

  <button type="submit">Update Celeb</button>
</form>