<h2>Add a new Celeb</h2>
<form action="/celebrities" method="POST">
  <label>Name: </label>
  <input type="text" name="name">

  <label>Occupation: </label>
  <input type="text" name="occupation">

  <label>Catch Phrase: </label>
  <input type="text" name="catchPhrase">

  <label>Movies: </label>
  <select name="movies">
    <option value="">Please Choose Casted Movie</option>
    {{#each movies}}
    <option value="{{this._id}}">{{this.title}}</option>
    {{/each}}
  </select>

  <button type="submit">Create Celeb</button>
</form>