<h2> Celebrities </h2>

<a href="/celebrities/new">Add a New Celebrity</a>

<ul>
  <% listOfCelebrities.forEach((oneCelebrity) => { %>
    <li>
      <h3> <%= oneCelebrity.name %> </h3>
      <a href
    </li>

    <li>
      <a href="/celebrities/<%= oneCelebrity._id %>">
        View Details
      </a>
    </li>

    <li>
      <a href="/celebrities/<%= oneCelebrity._id %>/delete">
        Delete
      </a>
    </li>
  <% }) %>
</ul>
