<h2><%=celebrityDetails.name%> Details</h2>

<img src="<%=celebrityDetails.imageUrl%>" />

<p> Occupation: <%=celebrityDetails.occupation%> </p>
<p> Catch Phrase: "<%=celebrityDetails.catchPhrase%>" </p>
