<h2> Add a New Celebrity </h2>

<form method="post" action="/celebrities">
  <label for="celebrity-name-input"> Name of Celebrity </label>
  <input id="celebrity-name-input" type="text" placeholder="e.g. Alex Del Valle" name="celebrityName" />
  <br />

  <label for="celebrity-occupation-input"> Occupation of Celebrity </label>
  <input id="celebrity-occupation-input" type="text" placeholder="e.g. Developer" name="celebrityOccupation" />
  <br />

  <label for="celebrity-catchphrase-input"> Celebrity Catch Phrase </label>
  <textarea id="celebrity-catchphrase-input" placeholder="e.g.To infinity and beyond!" name="celebrityCatchPhrase"></textarea>
  <br />

  <label for="celebrity-image-input"> Image URL </label>
  <input id="celebrity-image-input" type="text" placeholder="e.g. http://example.com/star.gif" name="celebrityImageUrl" />
  <br />

  <button> Save This Celebrity </button>
</form>
