<h2>Add a new Movie here:</h2>
<form action="/new2" method="post">
  <label for="title">Name:</label>
  <input type="text" name="title">

  <label for="genre">Genre:</label>
  <input type="text" name="genre">

  <label for="plot">Catch Phrase:</label>
  <input type="text" name="plot">

  <button type="submit">Add a Movie</button>
</form>