<!-- driver.hbs -->

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            <strong>Name: {{this.firstName}} {{this.lastName}}</strong>
        </h5>
        <a href="/driver/{{this._id}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Read more!</a>
    </div>
</div>