<!-- truck.hbs -->
<div class="card" style="width: 18rem;">
    <img class="card-img-top card-truck" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            <strong>Name: {{this.name}}</strong>
        </h5>
        <a href="/truck/{{this._id}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Read more!</a>
    </div>
</div>