<h1>Details Page</h1>


<h1>{{list.name}}</h1>
<h2>Occupation -> {{list.occupation}}</h2>
<h4>
  CatchPhrase -> {{list.catchPhrase}}</h4>

<button>
  <a href="/celebrities/edit/{{list._id}}"> Edit </a>
</button>

<a href="/celebrities">Go back to see all the celebrities</a>