<form action="/celebrities/update/{{celebrity._id}}" method="post">
  <p>Name</p>
  <input type="text" name="name">
  <p>Occupation</p>
  <input type="text" name="occupation">
  <p>Catchphrase</p>
  <input type="text" name="catchPhrase">
  <input type="submit" value="Submit Celebrity">
</form>