<h1>Celebridades</h1>

<div>
  {{#each celebrities}}
    <p>{{this.name}}</p>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
    <a href="/celebrity/detailCelebrity/{{this._id}}">View more...</a>
  {{/each}}
</div>