<form action="/celebrities/create" method="post">

  <p>Name</p>
  <input type="text" name="theName">

  <p>Occupation</p>
  <input type="text" name="theOccupation">

  <p>Catchphrase</p>
  <input type="text" name="theCatchPhrase">

  <input type="submit" value="Submit Celebrity">
</form>