<h1>Celebrity create New</h1>

<form action="/celebrity/create" method="post">

  {{#if error}}
  <p style="color: crimson;">{{error}}</p>
  {{/if}}

  <label for="name">Name
    <input type="text" name="name" id="name">
  </label>
  <br>
  <label for="ocupation">Ocupation
    <input type="text" name="ocupation" id="name">
  </label>
  <br>
  <br>
  <label for="catchPhrase">Catch Phrase
    <input type="text" name="catchPhrase" id="catchPhrase">
  </label>
  <br>

  <br>
  <button type="submit">Create</button>
</form>
