<h1>HI IM A CELEBRITY</h1>
<a href="/">Back</a>

<form action="/celebrities/new" method="POST">
    <div><label>Name: </label> <input type="text" name="name"></div>
    <div><label>Occuptation: </label> <input type="text" name="occupation"></div>
    <div><label>Catch Phrase: </label> <input type="text" name="catchPhrase"></div>
    <button>Create</button>
</form>