<div style="display: flex; justify-content: center;">
    <h1>Crear nueva Celebridad</h1>
</div>


<form action="/celebrities" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre:</label>
        <input type="text" class="form-control" name="name">

    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ocupación:</label>
        <input type="text" class="form-control" name="occupation">

    </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Frase:</label>
        <input type="text" class="form-control" name="catchPhrase">

    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>