<h1>Celebrity create New</h1>

<form action="/create" method="post">

  {{#if error}}
  <p style="color: crimson;">{{error}}</p>
  {{/if}}

  <label for="name">Name
    <input type="name" name="name" id="name">
  </label>
  <br>
  <label for="ocupation">ocupation
    <input type="ocupation" ocupation="ocupation" id="ocupation">
  </label>
  <br>
  <label for="catchPhrase">catchPhrase
    <input type="catchPhrase" name="catchPhrase" id="catchPhrase">
  </label>
  <br>

  <br>
  <button type="submit">Create</button>
</form>
