<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Celevbrity</title>
</head>
<body>
  <h2>Nueva Celebrity</h2>

  <form action="/celebrities" method="post">
    <label>Name: </label> <input type="text" size="20" name="name"><br/>
    <label>Occupation: </label> <input type="text" size="20" name="occupation"><br/>
    <label>catchPhrase: </label> <input type="text" size="20" name="catchPhrase"><br/>
    <input type="submit" value="Send">
  </form>
</body>
</html>