<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Celebrity</title>
</head>
<body>
  <h2>Details Celebrity</h2>
    <span><b>Name:</b> <%= celebrity.name %></span><br/>
    <span><b>Occupation:</b> <%= celebrity.occupation %></span><br/>
    <span><b>What?: </b><%= celebrity.catchPhrase %></span><br/>
  
</body>
</html>