<div class="login-page">
  <div>
    <h2>Login</h2>
    <form action="/login" method="POST" class="user-info">
        <label>Username</label>
        <input type="text" name="username">

        <label>Password</label>
        <input type="text" name="password">

      <button>Log In</button>
    </form>
    <img src="/images/google.png" alt="">
    <a href="/google/auth">Log In With Google</a>
  </div>
</div>