<h2>Signup</h2>

<form action="/signup" method="POST">

<label>Choose Username</label>
<input type="text" name="theUsername">


<label>Set Password</label>
<input type="text" name="thePassword">

<button>Save</button>
</form>
