<h2>Signup</h2>


<form action="/signup" method="POST">

<label>Choose A Username:</label>
<input type="text" name="theUsername">
<br>


<label>Choose A Password:</label>
<input type="text" name="thePassword">
<br>


<button>Sign Up</button>
</form>