$primary-color: #800080;
$secondary-color: #E65C5C;

@font-face {
    font-family: 'grendelbold';
    src: url('fonts/grendb__-webfont.woff2') format('woff2'),
         url('fonts/grendb__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}