.btn-style {
  /* params: top&&bottom left&&right */
  padding: 0.375rem 0.75rem;
  /* aligns the content (i.e. text and other inline or inline-block elements in the container) between left and right edges */
  text-align: center;
  /* align the middle of the button element with the middle of lowercase letters in the parent. */
  vertical-align: middle;
  /* remove any underlines, line-through, overline or inheritted decorations */
  text-decoration: none;
  /* sets the element inline with the rest of the text around it. Unlike inline atrribute you can set width and height */
  display: inline-block;
  font-size: 1rem;
  /* round edges, the higher the number the more circular the element becomes*/
  border-radius: .25rem;
  /* sets a equal amount of height from the top and bottom of the text */
  line-height: 1.5;
  /* params: border width, style, color */
  border: 1px solid transparent;
  position: absolute;
  right: 50%;
  z-index: 101; }

.btn-style2 {
  /* params: top&&bottom left&&right */
  padding: 0.375rem 0.75rem;
  /* aligns the content (i.e. text and other inline or inline-block elements in the container) between left and right edges */
  text-align: center;
  /* align the middle of the button element with the middle of lowercase letters in the parent. */
  vertical-align: middle;
  /* remove any underlines, line-through, overline or inheritted decorations */
  text-decoration: none;
  /* sets the element inline with the rest of the text around it. Unlike inline atrribute you can set width and height */
  display: inline-block;
  font-size: 1rem;
  /* round edges, the higher the number the more circular the element becomes*/
  border-radius: 50px;
  /* sets a equal amount of height from the top and bottom of the text */
  line-height: 1.5;
  /* params: border width, style, color */
  border: 1px solid transparent;
  position: absolute;
  right: 50%;
  width: 15rem;
  height: 3.5rem;
  text-decoration: none;
  outline: none; }

.btn-lab {
  background-color: #f7f7f7;
  color: #8b8585;
  border-color: #f7f7f7;
  transition: .25s;
  outline: none; }

.btn-add-celeb {
  color: black;
  transform: translate(20rem, -3rem);
  margin: 0;
  outline: none;
  border: none; }

.btn-add-celeb:focus {
  outline: none; }

.btn-lab-link {
  background-color: #f7f7f7;
  background-color: transparent;
  color: #8b8585;
  color: black;
  border-color: #f7f7f7;
  transition: .25s;
  text-decoration: none;
  outline: none;
  border: none;
  text-align: center; }

.btn-lab-link:hover {
  background-color: #f7f7f7;
  background-color: #007bff;
  color: black;
  color: #383838;
  border-color: #f7f7f7;
  transition: .25s;
  text-decoration: none;
  outline: none;
  border: none; }

.search {
  height: 8vh;
  width: 8vw;
  filter: invert(100%); }

.btn-blue {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  transition: .25s; }

.btn-blue-hover {
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
  transition: .25s; }

.btn-red {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
  transition: .25s; }

.btn-red-hover {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
  transition: .25s; }

.btn-green {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
  transition: .25s; }

.btn-green-hover {
  background-color: transparent;
  color: #28a745;
  border-color: #28a745;
  transition: .25s; }

/*# sourceMappingURL=button.css.map */