.form {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-bottom: 20px;
  padding: 10px;
}

.form .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.form .row.justify-start {
  justify-content: start;
}

.form .label {
  cursor: pointer;
}

.btn {
  outline: none;
  background: black;
  color: whitesmoke;
  cursor: pointer;
  border-color: black;
}

.btn.is-active,
.btn:hover {
  background: whitesmoke;
  color: black;
}

.form .input,
.form .btn {
  height: 38px;
}

.form textarea.input {
  min-height: 38px;
  height: 100px;
  width: 100%;
  max-width: 100%;
}

.form .input,
.form textarea.input,
.form .btn {
  border: 1px solid black;
}

.form .input {
  padding: 5px 0 5px 20px;
  margin-bottom: 15px;
  width: 100%;
  outline: none;
}

.form select,
.form .input,
.form option {
  background: whitesmoke;
}

.form .input.color {
  height: 32px;
  width: 32px;
  padding: 0;
}

.form .row > .input,
.form .row > .btn {
  margin: 0;
}

.form .row > .input + .icon {
  margin-left: 20px;
}

.form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}
