li {
  list-style: none;
}

.edit-button {
  margin-left:20px; 
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  background-color: grey;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

p, div {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

ul, li {
  margin-left: -20px;
}

p, div, label, input, li {
  margin-bottom: 10px;
}