body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }


h2 {
  text-align: center;
  font-weight: 600;
  padding: 2em 0;
  color: white;
}
.btn {
  cursor: pointer;
}

.index {
  background: url('../images/cinema.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.container-index {
  margin: 30em 0 0;
}

.container-img {
  background: url('../images/cinema-red.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

label, p {
  color: white;
}
