body {
  padding: 0;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > div{
  padding-left: 15px;
}

a {
  color: #00B7FF;
}

nav{
  width: 100%;
  height: 50px;
  background: #e2e2e2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav > ul{
  // margin: 0%;
  margin: auto 0;
  padding: 15px 0;
  list-style: none;
}

nav > ul > li{
  margin: auto 10px;
  font-size: 1rem;
  display: inline;
}

// .right-align{
//   margin-left: 500px;
// }

.card-wrapper{
  margin-left: 15px;
  display: flex;
  flex-flow: row wrap;
}

.celeb-card, .movie-card{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding: 15px 0;
  margin: 0%;
}

.celeb-card > form, .movie-card > form{
  // padding: auto 0;
  margin: auto 15px;
}

button{
  border: 1px solid #ededed;
  padding: 3px 10px;
  border-radius: 15px;
  color: black;
  margin-left: 5px;

  transition: .3s;
}

button:hover{
  background: #00B7FF;
  color: white;
}

form{
  display: flex;
  flex-flow: row wrap;
}

form > label{
  margin: 0 10px 0 15px;
}

// form > input  {
//   margin: 5px 0;
// }

// form > button{
//   margin: 5px 15px;
// }

.remove-bottom-margin{
  margin-bottom: 0;
}