body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

a {
  color: #00B7FF;
}

.btn {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.btn-link {
  color: black;
  text-decoration: none;  
}

#big{
  display: flex;
  justify-content: space-between;
}

#big > div{
  width: 45%;
}