body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.detail-page {
  display: block;
}


ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 20px 0;
  line-height: 0.7em;
   width: 30%;

}

li img {
  height: 200px;
  /* width: 20%; */
  /* height: auto; */
}

li h2 {
  font-size: 1.3em;
  padding-bottom: 5px;
}

li p {
  font-size: 1em;
  
}

li a {
  font-size: 1em;
  padding-top: 10px;

}


.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.button {
  margin-top: 40px;
  width: 100px;
  display: inline-block;
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  border: 1px rgb(172, 172, 172) solid;
}


.input {
  display: block;
  margin: 15px 0;
}


.input p {
  display: inline-block;
  width: 120px;
}


.error {
  background-color: rgb(156, 52, 52);
  padding: 10px;
  color: white;
}