@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/*font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Open Sans', sans-serif;*/

$black: #000;
$white: #fff;
$red: #b91111;
$text: #333;
$grey: #e6e6e6;

html {
  font-size: 10px;
}

body {
  font: 1.4rem 'Open Sans', sans-serif;
  line-height: 2;
  // height: 100vh;
  // background: $black url(../images/homepage-bg.jpg) no-repeat top center;
  // position: relative;

  // &:before {
  //   content: '';
  //   width: 100%;
  //   height: 40rem;
  //   top: 50%;
  //   margin-top: -20rem;
  //   background: $red;
  //   left: 0;
  //   position: absolute;
  //   mix-blend-mode: multiply;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: 'Montserrat Subrayada', sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-left: 3rem;
  margin-top: 3rem;

  a {
    color: $red;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}

.logo h2 {
  color: $white;
  margin-bottom: 3rem;
  font-size: 4rem;
}

nav {
  border-bottom: 0.1rem solid $white;
  background-color: $red;

  .navbar-brand {
    line-height: 1;
    font-size: 2rem;
    color: $white;
  }

  .nav-link {
    color: $white;
    margin-right: 5rem;
    padding: 0;
    margin-top: 2rem;

    &:hover {
      text-decoration: line-through;
    }
  }
}

#profile {
  background: $white;
  height: 100vh;

  .profile-pic {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: url(../images/foto.jpg) no-repeat center center / cover;
    position: relative;
    margin: 6rem auto 1rem auto;

    &::before {
      content: '';
      position: absolute;
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      border: solid 0.2rem $red;
      top: -0.5rem;
      left: -0.5rem;
    }
  }

  .bold {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
  }

  .light {
    font-size: 1rem;
    color: rgba($color: #000000, $alpha: 0.4);
    text-align: center;
  }

  .feed {
    background: $grey;
    padding: 1rem 0 !important;
    margin-top: 3rem;
    border-radius: 3rem 3rem 3rem 0;
    position: relative;

    .bold {
      font-size: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      background: transparent;
      width: 6rem;
      height: 6rem;
      bottom: -6rem;
      left: 0px;
      border-radius: 3rem 0px 0px 0;
      box-shadow: 0 -3rem 0 $grey;
    }
  }

  .sub-nav {
    padding: 4rem;

    .sub-nav-item {
      font-size: 1.8rem;
      margin: 2rem 0;
      display: block;
      color: rgba($text, 0.7);

      i {
        margin-right: 1rem;
      }

      &.active {
        color: $red;
      }
    }

    a {
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
  }
}

#help-nav {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;

  label {
    position: relative;

    i {
      position: absolute;
      top: 1.3rem;
      left: 2rem;
    }
  }

  input {
    border: solid 0.1rem $grey;
    padding: 0.5rem 1rem;
    padding-left: 5rem;
    border-radius: 5rem;

    &:focus {
      outline: none;
    }
  }

  .create {
    border: solid 0.1rem $red;
    background: $red;
    color: $white;
    border-radius: 5rem;
    padding: 1rem 3rem;
    margin: 0 1rem;

    &:hover {
      text-decoration: none;
      background: $white;
      transition: all 200ms;
      color: $red;
      border-color: $red;
    }
  }

  .other-items {
    i {
      font-size: 2rem;
      color: $grey;
      margin: 0 2rem;
    }
  }
}

.edit,
.delete {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0;
  border: 0;
  padding: 1rem;
  z-index: 5;
}

.edit {
  top: 2rem;
  background: $red url(../images/edit.svg) no-repeat center center / contain;
  background-size: 3rem 3rem;
}

.delete {
  top: 7rem;
  background: $red url(../images/delete.svg) no-repeat center center / contain !important;
  padding: 1rem !important;
}

.image {
  width: 40rem;
  height: 40rem;
  border: 0.1rem solid $white;
}

.show {
  padding: 4rem;
  .card {
    border: 0.1rem solid $grey;
    border-radius: 0 4rem 4rem 4rem;
  }

  .image {
    border-radius: 0 4rem 4rem 4rem;
    height: 32rem;
    width: 100%;
  }

  .block-info {
    padding: 3rem;
    .name {
      font-weight: 600;
      font-size: 2rem;
      color: $red;
    }

    .occupation {
      font-size: 1.4rem;
      font-weight: 600;
      color: $text;
    }

    .phrase {
      width: 100%;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 600;
      margin-top: 2rem;
    }

    .movie-info {
      margin: 1rem 0;
      display: flex;
      align-items: center;

      .movie {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        border: solid 0.1rem $red;
        margin-right: 1.6rem;
      }
    }

    i {
      color: $text;
      font-size: 2.4rem;
      margin-right: 1rem;
      margin-top: 2rem;
    }

    form {
      button {
        background: none;
        border: 0;

        i {
          color: $red;
        }
      }
    }
  }
}
