body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.new {
  margin-top: 10%;
}

.delete {
  margin-top: 3%;
}

h2 {

  text-align: center;
}