// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
// }

// a {
//   color: #00B7FF;
// }

.celebritiyIndex {
  margin: 10px;
}

// #showContainer {
//   display: flex;
//   flex-direction: column;
//   background-color: grey;
//   width: 500px;
// }
// .row{
//   display: flex;
//   flex-direction: column;
// }
// .description {
//   dis
// }


// celebritiesContainer


// celebrity

// imgIndex

// updateContainer