// dark purple #27104e
// purple #64379f
// violet #9854cb
// light violet #ddacf5
// blue #75e8e7

body {
  font-family: 'Oxanium', cursive;
  font-size: 16px;
  color: #27104e;
}

a {
  color: #75e8e7;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#nav-bar {
  background-color: #9854cb;
}

#nav-bar a {
  color: white;
}

.form {
  padding: 100px 0;
}

.no-form {
  padding: 50px 0 150px;
}

#each-card {
  background-color: white;
  border: solid 1px #ddacf5;
  margin-top: 30px;
}

#each-card #buttons-mine {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#each-card form {
  width: 100%;
}

.card img {
  height: 380px;
  object-fit: cover;
  object-position: top;
}

.button-mine {
  background-color: #75e8e7;
  border: solid 1px #27104e;
  color: #27104e;
  margin: 5px 0;
}

.outlined {
  background-color: white;
  border: solid 1px #27104e;
  color: #27104e;
  margin: 5px 0;
}

.erase {
  padding-left: 0;
  text-align: left;
  color: #27104e;
  text-decoration: underline;
}

footer {
  background-color: #9854cb;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}