body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.navbar {
    background: #00B7FF;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.all {
    color: rgb(185, 102, 102);
    display: flex;
    justify-content: center;
}