/* CSS Styles begins*/
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Noto+Serif&display=swap');

$bgcolor : #ffffff;
$textcolor: #000000;
$highlighted: #fcff38;
$highlightedblue: #38f2ff;
$textcolorsoft: rgba($textcolor,0.8);
$textcolorsupersoft: rgba($textcolor,0.3);
$paddingXL:2rem 0 1rem 0;
$paddingM: 1rem 0 0.5rem 0;
$paddingS: 0.5rem 0 0.25rem 0;

html{
  font-size: 10px;
}

h1,h2,h3,h4,p,q{
  margin:0;
}

body {
  font-family: sans-serif;
  background-color: $bgcolor;
  color:$textcolor;
  // font-family: 'Bebas Neue', cursive;
}

.new{
margin-top:4rem;
font-size:1.6rem;
text-decoration: none;
}

.new:hover::before{
  content:"+ "
  }

.new:hover::after{
  content:" +"
  }

.new:hover{
  background-color: $highlightedblue;
    }

.home{
      margin-top:4rem;
      font-size:1.6rem;
      text-decoration: none;
      }
      
.home:hover::before{
        content:"<< "
        }
      
.home:hover::after{
        content:" <<"
        }
      
.home:hover{
        background-color: $highlighted;
          }
      




.main-wrapper{
  display:flex;
  width:100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list-wrapper{
  display:flex;
  width:60vw;
  justify-content:center;
  h3{
    font-size:2rem;
    padding:$paddingS;
  }

  h3:hover{
    background-color: $highlightedblue;
  }
  h4{
    font-size:1.5rem;
    color:$textcolorsoft;
    padding:$paddingM;
  }
  a{
    font-size:1.5rem;
    text-decoration: none;
    color:$textcolorsoft; 
    margin:2rem 0;
  }

  a:hover{
    color:$textcolor;
    transition: 0.3s;;
  }
  a:hover::before{
    content: "->";
  }

  .submit{
    background-color:$textcolorsupersoft;
    border: none;
    color: $textcolorsoft;
    padding: 1rem ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin:0.5rem 0.5rem 0.5rem 0;
  }
    .submit:hover{
      background-color:$textcolor;
      color:$bgcolor;
      transition: 0.5s;
    }
  }


ul{
  padding:0;
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-start;
  width:100%;
}

h2{
  font-size:3rem;
  margin:4rem;
  padding:0rem 4rem;
  background-color: $highlighted;
}

.list-wrapper li{
  display:flex;
  width:33%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding:$paddingXL;
}

.forms-container{
  display:flex;
  justify-content: flex-start;
  width:100%;
}

.celebrity-wrapper{
  display:flex;
  width:60%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap:wrap;
  h4{
    font-size:2rem;
  }

  q{
    padding:3rem;
    font-size:5rem;
  }

  a{
    font-size:1.5rem;
  }

  a:hover::before{
    content:"<< "
  }

  input{
    text-align:left;
    padding:2rem 4rem;
    font-size:5rem;
    margin:2rem;
    width:60%;
  }

  .submit{
    background-color:$textcolorsupersoft;
    border: none;
    color: $textcolorsoft;
    padding: 2rem 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    margin:2rem;;
    width:60%;
  }
    .submit:hover{
      background-color:$highlightedblue;
      color:$bgcolor;
      transition: 0.5s;
    }
  }

.hero-section{
  width:80%;
  display:flex;
  flex-direction: column;
  align-items: center;


  h1{
    font-size: 4rem;
    margin: 4rem;
    padding: -1rem 3rem;
    color: $textcolorsoft;
    text-align: center;
    width:60%;
  }

  .lists-wrapper{
    margin-top:5rem;
    display:flex;
    width:60%;
    justify-content: space-between;
    

    a{
      font-size:4rem;
      margin:4rem -2rem;
      padding:2rem 2rem;
      transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateX(0rem);
      -webkit-box-shadow: -45px 28px 0px -2px rgba(0,0,0,0.17);
      -moz-box-shadow: -45px 28px 0px -2px rgba(0,0,0,0.17);
      box-shadow: -45px 28px 0px -2px rgba(0,0,0,0.17);
      background-color: $highlighted;
      transition: 0.3s;
      text-decoration: none;
    }

    a:hover{
      font-size:4rem;
      margin:4rem -2rem;
      padding:2rem 2rem;
      transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateX(-10rem);;
      -webkit-box-shadow: -45px 28px 0px -2px rgba(0,0,0,0.17);
      -moz-box-shadow: -45px 28px 0px -2px rgba(0,0,0,0.17);
      box-shadow: -45px 28px 0px -2px rgba(0,0,0,0.17);
      background-color: $highlightedblue;
      transition: 0.3s;
    }

  }

  p{
    font-size: 1.5rem;
    color: $textcolorsoft;
    margin-top:15rem;
  }
}



a:visited{
  text-decoration:none;
  color:inherit;
}