<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <p><strong>Nombre:</strong> {{name}}</p>
    <p><strong>Ocupación:</strong> {{ocupation}}</p>
    <p><strong>Eslogan:</strong> {{catchPhrase}}</p>

    <hr>

    <a href="/celebrities" class="btn btn-primary">Volver a las celebrities</a>

</div>