<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>Añadir nueva celebridad</h1>

            <form method="POST" action="/celebrities/new">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Ocupación</label>
                    <input type="text" class="form-control" name="ocupation">
                </div>
                <div class="form-group">
                    <label>Eslogan</label>
                    <input type="text" class="form-control" name="catchPhrase">
                </div>
              
              
                <button type="submit" class="btn btn-primary">Añadir</button>
            </form>
        </div>
    </div>



</div>