<h2>{{title}}</h2>
<form action="/celebrities" method="post">
	<input type="text" name="name" placeholder="Name *" required>
	<input type="text" name="occupation" placeholder="Occupation *">
	<input type="text" name="catchPhrase" placeholder="catchPhrase *" required>
	<button type="submit">Create a new celebrity</button>
</form>