<section class="form-celebrities">
	<h2>{{title}}</h2>
	<form action="/celebrities" method="post">
		<input type="text" name="name" placeholder="Name *" required>
		<input type="text" name="occupation" placeholder="Occupation">
		<textarea name="catchPhrase" placeholder="Phrase *" rows="4" cols="50" required></textarea>
		<button type="submit" class="btn btn-primary">Create a New Celebrity</button>
	</form>
</section>