<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Celebrities</title>
</head>
<body>

  <div>
    <h2>Ironhack Celebrities</h2>
    
  </div>

  <div class="container">
    <% celebrities.forEach ((actor)=>{ %>
        <div>
        
          <h2><%= actor.name %></h2>
          <a href="/celebrities/<%= actor._id %>">See more</a>
          <a href="/celebrities/<%= actor._id %>/edit">Edit</a>
          <form action="/celebrities/<%= actor._id%>/delete" method="post">
            <input type="submit" value="delete">
          </form>
          

        </div>

    <% }) %>
    <a href="/celebrities/new">Add more</a>

  </div>


</body>
</html>