<h2> List of Celebrities </h2>

<a href="/celebrities/new"> Add New Celebrity </a>

<ul>
  <%  listOfCelebrities.forEach((oneCelebrity) => { %>
      <li>
        <h3>
        <a href="celebrities/<%= oneCelebrity._id %>">
        <%= oneCelebrity.name %>
        </a>
        </h3>

        <form action="/celebrities/<%= oneCelebrity._id %>/delete" method="post">
        <button> Delete </button>
        </form>
      </li>
   <% }) %>
</ul>
