<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Añade un nuevo actor</h2>
  <form action="/celebrities" method="post">
  <label for="name">Nombre</label>
  <input type="text" name="name" id="celebrity-name">

  <label for="ocupation">Ocupación</label>
  <input type="text" name="ocupation" id="celebrity-ocupation">

  <label for="catchPhrase">Frase</label>
  <input type="text" name="catchPhrase" id="celebrity-catchPhrase">

  
  <input type="submit" value="send">
</form>

</body>
</html>