<h2> Add a new Celebrity </h2>

<form method="post" action="/celebrities">
  <label for="celebrity-name"> Celebrity Name </label>
  <input id="celebrity-name" type="text" placeholder="e.g. Madonna"
      name="celebrityName" />
  <br />

  <label for="celebrity-occupation"> Celebrity Occupation </label>
  <input id="celebrity-occupation" type="text"
      placeholder=" e.g. Singer" name="celebrityOccupation" />
  <br />


  <label for="celebrity-catchPhrase"> Catch Phrase </label>
  <textarea id="celebrity-catchPhrase" placeholder="e.g. ....."
    name="celebrityCatchPhrase"></textarea>
  <br />

  <button> Save this Celebrity </button>
</form>
