<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Celebrity Info</title>
</head>
<body>



  <div class="container">
    
        <div>
          <a href = "/celebrities" class = "button">Go back</a>
          <h1 class = "name"><%= celebrity.name %></h1>
          <h2 class = "ocupation">Ocupation: <%= celebrity.ocupation %></h2>
          <h2 class = "catchPhrase">catchPhrase: <%= celebrity.catchPhrase %></h2>
          
        </div>
   
  </div>

  
</body>
</html>