<h2>Create New Account</h2>

<form action='/signup' method='POST' id="form">
<div >
  <div>
    <label>Username</label>
    <input type='text' name='theUsername'>
  </div>
  <div>
    <label>Password</label>
    <input type='text' name='thePassword'>
  </div>

  <div>
    <label>Is this Admin?</label>
    <input name="role" type='checkbox' value="true" class="center" id="admins">
   
  </div>
  <button>Submit</button>
  </div>
</form>