<h2>Create An Account!</h2>


<form action="/signup", method="POST">

<p>Username</p>
<input type="text" name="username">


<p>Password</p>
<input type="text" name="password">



<button>Sign Up</button>



</form>