<h2>Whos your fav celeb?</h2>

<form action="" method="POST">
  <input type="text" placeholder="Name of celebrity" name="name">
  <input type="text" placeholder="Occupation of celebrity" name="occupation">
  <input type="text" placeholder="Catchphrase" name="catchPhrase">
  <button type="submit">Add celeb</button>
</form>

<a href="../">Back home</a>