<h2>Celebrities</h2>
<form action="/new" method="POST">
<label for="name">
  Celebrity's name: 
  <input type="text" name="name">
</label>
<label for="occupation">
  Celebrity's occupation:
  <input type="text" name="occupation">
</label>
<label for="catchPrase">
  <input type="text" name="catchPhrase">
</label>
<button type="submit">Create</button>
</form>
