
<h1>Get the list of movies</h1>

<button id="fetch-movies">Fetch Movies</button>




</div>

{{!-- <h1>Add movies to the list</h1> --}}


<label for = "">title</label>
<input type="text">

<label for = "">genre</label>
<input type="text">

<label for = "">plot</label>
<input type="text">

<label for = "">image</label>
<input type="text">

<button id="add-new-movie">Create</button>

<div id="results"></div>

