<form action="/celebrities" method="post">
  <input type="text" name="name" value="Name">
  <input type="text" name="occupation" value="Occupation">
  <input type="text" name="catchPhrase" value="Catch Phrase">
  <p></p>
  <p><button type="submit" class="btn btn-primary">Create Actor</button></p>

</form>
