<h2>Add a New Movie</h2>

<form action="/movies/creation" method="POST">


<p>Title</p>
<input type="text" name="theTitle">

<p>Director</p>
<input type="text" name="theDirector">

<p>Genre</p>
<input type="text" name="theGenre">

<p>Plot</p>
<input type="text" name="thePlot">

<p>Poster</p>
<input type="text" name="theImage">

<button>Save</button>


</form>