<div class="cualquiera">
  <div class="container">
    <div class="tarjetas">
      <div class="row">
        <div class="col-sm-12">
          <form action="/movies/editMovie/{{movie._id}}" method="post">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="">Nombre:</label>
                    <input type="text" name="title" value="{{movie.title}}">
                  </div>
                  <div class="col-sm-12">
                    <label for="">Ocupación:</label>
                    <input type="text" name="genre" value="{{movie.genre}}">
                  </div>
                  <div class="col-sm-12">

                    <label for="">Frase:</label>
                    <input type="text" name="plot" value="{{movie.plot}}">

                  </div>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-info" type="submit">EDIT</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <a href="/movies">Volver a la lista</a>
        </div>
      </div>
    </div>
  </div>
</div>