<h2>Add a new celebrity</h2>
<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation">
  <label for="catchPhrase">Catch phrase</label>
  <input type="text" name="catchPhrase">
  <input type="submit" value="Send">
</form>
<br><a href="/">Go back</a>