<h2>Agregar otro celebridad</h2>

<form action="/celebrities/new" method="post">
  <p>
    <label for="name">Nombre Entero</label>
    <input placeholder="BliSS, BlisS, BlisS" id="name" name="name" type="text">
  </p>

  <p>
    <label for="occupation">ocupación</label>
    <input placeholder="Profe, Estudiante, TA" id="occupation" name="occupation" type="text">
  </p>

  <p>
    <label for="catchPhrase">frase típica</label>
    <textarea placeholder="BlisS BlisS BlisS " id="catchPhrase" name="catchPhrase" type="text"></textarea>
  </p>
  <button>
    <input type="submit" value="Send">
  </button>
</form>