<h2>Celebrity Details</h2>
<p id="name-text"><strong>Name: </strong><%= celebrity.name %></p>
<p id="occupation-text"><strong>Occupation: </strong><%= celebrity.occupation %></p>
<p id="catch-phrase-text"><strong>Catch phrase: </strong><%= celebrity.catchPhrase %></p>
<br><a href="/celebrities" class="back-link">Go back</a>