<!DOCTYPE html>
<html>
  <head>
    <title><%= celebrity.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= celebrity.name %></h1>
    <h2><%= celebrity.occupation%></h2>
    <p><%= celebrity.catchPhrase %></p>
    <a href="/celebrities"> Go Back</a>
  </body>
</html>
