<h2>Movies list</h2>

<a href="/movies/new">Add a new movie</a>

{{#each movies}}
  <p>
    <a href="/movies/{{this._id}}">{{this.title}}</a>
    <form action="/movies/{{this._id}}/delete" method="POST"><button>Delete</button></form>
  </p>
{{/each}}