<h2>Add your favourite movie</h2>

<form action="/movies" method="post">

    <input type="text" id="name" name="title" placeholder="Movie´s name">
    <input type="text" id="genre" name="genre" placeholder="genre">
    <input type="text" id="plot" name="plot" placeholder="the plot...">
    <button type="submit">ADD</button>

</form>
