<h2>Create your Movie</h2>

<form action="/movies" method="POST">
<input type="text" placeholder="Title" name="title">
<br>
<input type="text" placeholder="Genre" name="genre">
<br>
<input type="text" placeholder="Plot" name="plot">
<br>

<button>Submit this movie</button>
</form>