<h2>Add a new movie</h2>

<form id="form" action="/movies/new" method="POST">
<label for="title">Title</label><br>
<input type="text" name="title"
  placeholder="Please enter a title">

<br><br>
<label for="genre">Genre</label><br>
<input type="text" name="genre"
  placeholder="Please enter an genre">
<br><br>
<label for="plot">Plot</label><br>
<input type="text" name="plot"
  placeholder="Please enter a plot">
<br><br>

<button>Add the movie</button>
</form>