<h2>Create a new celebrity</h2>


<form action="/celebrities/create" method="POST">

    <label for="">name</label>
    <input type="text" name="name" placeholder="name">

    <label for="">ocuppation</label>
    <input type="text" name="ocuppation" placeholder="ocuppation">

    <label for="">Image url</label>
    <input type="text" name="image" placeholder="image">

    <label for="">catchPhrase</label>
    <input type="text" name="catchPhrase" placeholder="Phrase">


    <button>Create</button>



</form>


<a href="/celebrities/index">Go back to Celebrities</a>
