<h2>welcome to the one celebrity Info</h2>

<ul>
  <li><b>Name:</b> {{oneCeleb.name}}</li>
  <li> <b>Ocupation:</b>  {{oneCeleb.ocupation}}</li>
  <li> <b>catchPhrase</b> {{oneCeleb.catchPhrase}}</li>
</ul>
