<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>

    <a href="/celebrities">Go To Celebrities</a>
  </body>
</html>
