<h2>NEW CELEBRITY</h2>

<form action="/process-new-celebrity" method="POST">

  <input type="text" name="name" placeholder="new celeb name">
  <br>

  <input type="text" name="occupation" placeholder="and their occupation">
  <br>


  <input type="text" name="catchPhrase" placeholder="their catchphrase">
  <br>

  <button>Add your favourite Celeb</button>
</form>