<form action="/movies/{{ this._id }}/delete" method="POST">
  <div class="card m-3">
    <div class="card-header">
      {{ this.title}}
      <a href="/movies/{{this._id}}" class="btn btn-primary float-right mr-2">View</a>
      <button type="submit" class="btn btn-danger float-right">Delete</button>
    </div>
  </div>
</form>