<h2>My Celebrities</h2>


<ul>
    <% docs.forEach((cel) =>{ %>
        <li>
            <a href=<%="/celebrities/"+cel.id%>>Name: <%=cel.name%></a>
            <form action=<%="/celebrities/"+cel.id+"/delete"%> method="POST">
            
                <button type="submit">Delete</button>
        
                </form>
        </li>

   
    <% }) %>
</ul>


<a href="/celebrities/new">Add a new Celebrity</a>