<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>cool!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  </head>
  <body>
<header>our awesome site</header>
<%- body %>
<footer>copyright 2018</footer>
  
  </body>
</html>