
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="btn btn-primary">
      <a href="/celebrities/">View Celebrities</a>
    </button>

    <button class="btn btn-primary">
        <a href ="/movies">Movies Inventory</a>
    </button>
