<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href='/celebrities'>Enter in the celebrities page</a> </br>
    <a href='/movies'>Enter in the movies page</a>
  </body>
</html>
