<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <nav>
    <a href="/">Home</a>
    <a href="/celebrities">See Celebrities</a>
  </nav>
  <body>
    <%- body %>
  </body>
</html>
