<h2>{{header}}</h2>

<ul>
  {{#each celebrities as |celebrity|}}
    <li>
      <a href="/celebrities/details/{{celebrity._id}}">{{celebrity.name}}</a>
    </li>
  {{/each}}
</ul>

<a href="/celebrities/new">Agregar</a>

<a href="/">Regresar</a>  