<!DOCTYPE html>
<html>
  <head>
    <title>All about TV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All about TV</h1>
    <p>Welcome to your TV library</p>
  </body>
</html>
<button type= 'submit'><a href="/celebrities">Go to celebrities</a></button>
<button type= 'submit'><a href="/movies">Go to movies</a></button>
