<ul>
  <% movies.forEach((movie) => { %>
  <li>
    <p> <a href = "/movies/<%= movie._id %>"> <%= movie.title %> </a> </p>
  </li>
  <form action = "/movies/<%= movie._id %>/delete" method = "post">
    <button type = "submit"> Delete </button>
      </form>
<% }) %>
</ul>
