<form action = "/movies/new" method = "post">
  <label for="title">Movie Title</label>
  <input type="text" id="title" name="title">

  <label for="Genre">genre of movie: </label>
  <input type="text" name="genre" id="genre">

  <label for="plot">Plot of movie:</label>
  <input type="text" name="plot" id="plot">

  <button type="submit">Make New Novie</button>
</form>
