<ul>
  <li>
    <p> <h3> Movie Title: </h3><%= movies.title %> </p>
  </li>
  <li>
    <p> <h3> Move Genre:</h3> <%= movies.genre %> </p>
  </li>
  <li>
    <p> <h3> Movie Plot: </h3> <%= movies.plot %> </p>
  </li>
  <p> <a href = "/movies/new">Add movie</a> </p> <br>
  <p> <a href = "/movies/<%= movies._id %>/edit">Edit movie</a> </p>
</ul>
