<div class="card m-4">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{image}}" class="img-fluid" alt="{{name}}" />
        <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/celebrities/{{_id}}" class="btn btn-celebrity">View Profile</a>
    </div>
</div>

