<div class="col-md-4">
    <div class="celeb">
        <a href="/celebrity/{{id}}"><h3>{{name}}</h3></a>
        <a href="/celebrities/delete/{{_id}}">Delete celebrity</a>
        <a href="/celebrities/edit/{{_id}}">Edit celebrity</a>
    </div>
</div>