
    <div class="celeb">
        <a href="/celebrity/{{id}}"><h3>{{name}}</h3></a>
        <a href="/celebrities/delete/{{_id}}">Delete</a> |
        <a href="/celebrities/edit/{{_id}}">Edit</a>
    </div>
