<div class="row  d-flex flex-column justify-content-center align-items-center h-100">
  <div class="wrapper">
    <form action="/celebrity/new" method="POST" class="form-group" id="new-celebrity">
    <input type="text" name="name" class="form-control" placeholder="Name" value="{{this.name}}">
    <input type="text" name="occupation" class="form-control" placeholder="Occupation" value="{{this.occupation}}">
    <input type="text" name="catchphrase" class="form-control" placeholder="Catchprase" value="{{this.catchphrase}}">
    <input type="submit">
    </form>
  </div>
</div>