      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control" placeholder="Name" value="{{this.name}}">
      </div>

      <div class="form-group">
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" class="form-control" placeholder="Occupation" value="{{this.occupation}}">
      </div>

      <div class="form-group">
        <label for="catchphrase">Catchphrase</label>
        <input type="text" name="catchphrase" class="form-control" placeholder="Catchprase"
          value="{{this.catchphrase}}">
      </div>

      <input type="submit">