<article>
    <h2>{{name}}</h2>
    <h4>{{occupation}}</h4>
    <blockquote>{{catchPhrase}}</blockquote>
    <form action="/celebrities/{{_id}}/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
</article>