
{{#each allTheCelebrities}}
<div>
  <p>Name: <a>{{this.name}}</a></p>
  <a href="/celebrities/{{this._id}}">See more</a>

  <br>

  <a href="/celebrities/{{this._id}}/edit">Edit</a>

  <form action="/celebrities/{{this._id}}/delete" method="post">
    <button class="delete-button">Delete !</button>
  </form>

</div>

{{/each}}


<a href="/celebrities/new">Add new celebrity</a>