
<div class="card">
  <img class="card-img-top" src="{{imgUrl}}" alt="Celebrity image">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="celebrities/{{_id}}/show" class="btn btn-primary">See more</a>
  </div>
</div>
