<li>
    <a href="celebrities/{{id}}">{{name}} hola</a>
    <form action="/celebrities/{{id}}/delete " method="POST"><button type="submit"
            class="btn btn-primary">BORRAR</button></form>
</li>