<div class="celebrity-card">
  {{#with celebrity}}
  <h2 class="celebrity-card__title">{{name}}</h2>
  <div class="celebrity-card__info">
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
  </div>
  {{/with}}
</div>