<div class="col-12" id="help-nav">
    <form>
        <label for="search">
            <i class="fas fa-search"></i>
            <input name="search" placeholder="Search">
        </label>
    </form>
    <div class="create-block">
        <a href="/movies/new" class="create">Create Movie <i class="fas fa-plus"></i></a>
        <a href="/celebrities/new" class="create">Create Celebrity <i class="fas fa-plus"></i></a>
    </div>
    <div class="other-items">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-sign-out-alt"></i>
    </div>
</div>