<div class="col-sm-4">
  <div class="card">
    <!--<img src="..." class="card-img-top" alt="...">-->
    <div class="card-body text-center">
      <a href="/celebrities/{{this._id}}">
        <h5 class="card-title">{{name}}</h5>
      </a>
    </div>
  </div>
</div>