<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{genre}}</p>
    <a href="/movies/{{this._id}}" class="card-link">Card link</a>
  </div>
</div>