<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{catchPhrase}}</p>
    <a href="/celebrities/{{this._id}}" class="card-link">Card link</a>
  </div>
</div>