<div class="col-sm-4">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{name}} is an {{occupation}}. {{catchPhrase}} is a common phrase.
      </p>
    </div>
  </div>
</div>