<div class="card">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <a href="/celebrities/{{this._id}}">
          <h5 class="card-title">{{name}}</h5>
        </a>
      </div>
      <div class="col-4">
        <a href="/celebrities/{{_id}}/edit"><button type=" submit" class="btn btn-primary">Edit</button></a>


        <a href="/celebrities/{{_id}}/delete"><button type=" submit" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </div>
</div>