<div class="col-md-4">
    <div class="movie">
        <a href="/movie/{{id}}"><h3>{{title}}</h3></a>
        <a href="/movies/delete/{{_id}}">Delete movie</a>
        <a href="/movies/edit/{{_id}}">Edit movie</a>
    </div>
</div>