
<div class="card">
  <img class="card-img-top" src="{{imgUrl}}" alt="Movie image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href="/movies/{{_id}}/show" class="btn btn-primary">See more</a>
  </div>
</div>
