<div class="movie">
  <h4><a href="./movies/show/{{ _id }}">{{ name }}</a></h4>
  <h6><a href="/movies/{{_id}}/edit">EDIT</a></h6>
  <form action="/movies/{{_id}}/delete" method="post"><h8><button type="submit">DELETE</button></h8></form>
</div>