<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <a href="/movies/details/{{id}}" type="button" class="btn btn-secondary">Ver detalles</a>
      <form method="POST" action="/movies/details/{{id}}/delete">
        <button type="submit" class="btn btn-secondary">Borrar</button>
      </form>
      <form method="GET" action="/movies/details/{{id}}/edit">
        <button type="submit" class="btn btn-secondary">Editar</button>
      </form>
    </div>
  </div>
</div>