<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" name="name" class="form-control" placeholder="Name" value="{{this.name}}">
</div>

<div class="form-group">
  <label for="Genre">Genre</label>
  <input type="text" name="genre" class="form-control" placeholder="Genre" value="{{this.genre}}">
</div>

<div class="form-group">
  <label for="catchphrase">Plot</label>
  <input type="text" name="plot" class="form-control" placeholder="Plot" value="{{this.plot}}">
</div>

<input type="submit">