<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{genre}}</h6>
    <p class="card-text">{{plot}}
    </p>
  </div>
</div>