<div class="formBlock">
  <label for="movie-title">Title</label>
  <input id="movie-title" name="title" type="text" value="{{movie.title}}">
</div>

<div class="formBlock">
  <label for="movie-director">Director</label>
  <input id="movie-director" name="director" type="text" value="{{movie.director}}">
</div>

<div class="formBlock">
  <label for="movie-description">Description</label>
  <input id="movie-description" name="description" type="text" value="{{movie.description}}">
</div>
