
    <div class="movie">
        <a href="/movies/movie/{{id}}"><h3>{{title}}</h3></a>
        <a href="/movies/delete/{{_id}}">Delete</a> |
        <a href="/movies/edit/{{_id}}">Edit</a>
    </div>
