<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Celebrities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/celebrities">All</a>
          <a class="dropdown-item" href="/celebrities/new">Add Clebrity</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Happy Coding ♥️</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Movies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/movies">All</a>
          <a class="dropdown-item" href="/movies/new">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Happy Coding ♥️</a>
        </div>
      </li>
    </ul>
  </div>
</nav>