<nav class="menu">
<ul>
  <li><a href="/">Home</a></li>
    <li><a href="/celebrities">Celebrities</a></li>
    <li><a href="/celebrities/new">Create new Celebrity</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/movies/new">Create new Movie</a></li>
</ul>
</nav>