<nav class="navbar">
    <a href="/">Home</a>
    <span> | </span>
    <a href="/celebrities">Celebrities</a>
    <span> | </span>
    <a href="/celebrities/celebrityForm">Add a new celebrity</a>
    <span> | </span>
    <a href="/movies">Movies</a>
    <span> | </span>
    <a href="/movies/movieForm">Add a new movie</a>
</nav>