<nav class="bg-secondary py-2">
  <div class="d-flex flex-row bg-secondary justify-content-center">
    <a class="text-decoration-none text-white p-2" href="/">Inicio</a>
    <a class="text-decoration-none text-white p-2"  href="/celebrities">Celebrities</a>
    <a class="text-decoration-none text-white p-2" href="/movies">Movies</a>
  </div>
</nav>