<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <ul>
    <li><a href="/celebrities">Celebrities</a></li>
    <li><a href="/celebrities/new">Add Celebrity</a></li>
  </ul>
  <ul>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/movies/new">Add Movie</a></li>
  </ul>
</nav>