<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Is <b>{{occupation}}</b>, his best phrase is: <b>{{catchPhrase}}</b>
    </p>
  </div>
</div>