<div class="logo">
    <h1>
        <a href="/">
            LAB<br>
            MONGOOSE<br>
            MOVIES
        </a>
    </h1>
</div>
<div class="col-12">
    <div class="profile-pic"></div>
    <div class="bold">Andrés Martínez</div>
    <div class="light">Madrid, Spain</div>
</div>
<div class="col-12 p-0 feed">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="bold">Movies</div>
            <div class="light">116</div>
        </div>

        <div class="col-4">
            <div class="bold">Celebrities</div>
            <div class="light">2065</div>
        </div>
    </div>
</div>
<div class="col-12 sub-nav">
    <a href="/" class="sub-nav-item active"><i class="fas fa-home"></i> Feed</a>
    <a href="/movies" class="sub-nav-item"><i class="fas fa-video"></i> Movies</a>
    <a href="/celebrities" class="sub-nav-item"><i class="fas fa-star"></i> Celebrities</a>
    <div class="sub-nav-item"><i class="far fa-check-circle"></i> Top post</div>
    <div class="sub-nav-item"><i class="fas fa-user"></i> People</div>
    <div class="sub-nav-item"><i class="fas fa-bell"></i> Notifications</div>
    <div class="sub-nav-item"><i class="fab fa-telegram-plane"></i> Direct</div>
    <div class="sub-nav-item"><i class="fas fa-chart-pie"></i> Stats</div>
    <div class="sub-nav-item"><i class="fas fa-cog"></i> Settings</div>
</div>