<div class="">
    <p>{{this.name}}</p>
     <a class="" href="/show/{{this.id}}">Movie Info</a>

<form method="POST" action="/celebrities/{{this.id}}/delete">
<button type="submit">delete</button>
</form>
<form method="GET" action="/celebrities/{{this.id}}/edit">
<button type="submit">edit</button>
</form>
</div>