<div class ="main-contain">


  <h2>Create New Celeb</h2>
<form id="create-celeb">
  Name:<br> 
  <input type="text" name="name" id="cname"> 
  <br> 
  Occupation<br> 
  <input type="text" name="occupation" id ="occ"> 
  <br>
  CatchPhrase<br> 
  <input type="text" name="catchPhrase" id="phrase">
  <br>
  <input type="submit" value="Submit"> 
</form>  
  
  <button id="fetch-all">Fetch all</button> 

 <div id="all-items"></div>
</div>


