<form action="/movies/{{theMovie._id}}/reviews/create" method="post">

    <label for="reviewer">Your Name?</label>
    <input type="text" id="reviewer" name="reviewer">

    <label for="say">What do you have to say?</label>
    <textarea name="content" id="say" cols="30" rows="10"></textarea>

    <button type="submit">Post It</button>

</form>