<h2>Celebrities!!!!!!!!!</h2>

<ul>
  <% celebrities.forEach(function(celebrity){ %>
    <li><a href="/celebrities/<%= celebrity.id %>"><%= celebrity.name %></a></li>
  <% }); %>
</ul>

<a href="/">Home</a>
<a href="/celebrities/new">Add a celebrity</a>