<h1>Detalles de {{name}}</h1>
<div class="details">
    <br>

    <p>{{name}} es {{occupation}}</p>
    <p>Seguramente la oigas decir "{{catchPhrase}}"</p>

    <a class="btn btn-dark" href="/">
        Volver
    </a>

</div>