<form action="/delete-movie/{{movie.id}}" method="POST">
  <div>Do you really want to Delete <strong>{{movie.title}}</strong>? </div>
  <div class="d-flex"> 
    <button type="submit" class="btn btn-success mt-3">Yes</button>
    <a class=" block btn btn-danger ml-3 mt-3" href="/celebs">No</a>
  </div>

</form>