<form action="/drivers/add" method="post">
    <div>
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name="firstName">
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName">
        </div>

        <!--<label for="">Driver of:</label>
        <select name="_truck">
        </select>
        <input type="text" name="_truck">-->

        <div>
            <label for="birthday">Birthday</label>
            <input id="birthday" type="text" name="birthday">
        </div>

        <div>
            <label for="image">Image</label>
            <input id="image" type="text" name="image">
        </div>

        <div>
            <button class="btn btn-primary home-search" type="submit">Add this Driver</button>
        </div>

    </div>
</form>