<form action="/edit-celeb/{{celeb.id}}" method="POST">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" name="name" value="{{celeb.name}}">
  </div>
  <div class="form-group">
    <label for="occupation">occupation</label>
    <input type="text" class="form-control" name="occupation" value="{{celeb.occupation}}">
  </div>
  <div class="form-group">
    <label for="catchPhrase">catch Phrase</label>
    <input type="text" class="form-control" name="catchPhrase" value="{{celeb.catchPhrase}}">
  </div>
  <div class="d-flex"> 
    <button type="submit" class="btn btn-primary mt-3">Update Celeb</button>
    <a class=" block btn btn-info ml-3 mt-3" href="/celebs">Back</a>
  </div>
</form>