<div id="start" class="d-flex justify-content-around flex-column">
        <div><h1>MONSTER TRUCK MADNESS</h1>
        <p>Welcome to my Monster Truck Database</p>
        </div>
        <div class="d-flex justify-content-around row">
            <p><a href="/trucks" class="choose-btn btn-lg" role="button" aria-pressed="true">TRUCKS</a></p>
            <p><a href="/drivers" class="choose-btn btn-lg" role="button" aria-pressed="true">DRIVERS</a></p>
        </div>
</div>