{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- <div class="container">
    <h1>Buscador de celebrities</h1>
    <hr>
    <p>Tu CRUD de celebrities de confianza</p>

    <a href="/celebrities" class="btn btn-dark btn-sm">Ver todas las celebrities</a>
    <a href="/celebrities/crear-celebrity" class="btn btn-dark btn-sm">Añadir celebrity</a>

</div> --}}

<div class="container">
    <h1>Buscador de películas</h1>
    <hr>
    <p>Tu CRUD de películas de confianza</p>

    <a href="/peliculas" class="btn btn-dark btn-sm">Ver todas las películas</a>
    <a href="/peliculas/crear-pelicula" class="btn btn-dark btn-sm">Añadir película</a>

</div>
