<h1 class="text-center text-dark mt-4 pt-4">{{title}}</h1>
<div class="row d-flex justify-content-around m-4">
    <a class="btn btn-light col-5 p-3 mt-3 text-warning" href="/celebrities">Celebrities</a>
    <a class="btn btn-light col-5 p-3 mt-3 text-warning" href="/movies">Movies</a>
</div>