<div>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/movies" class="btn btn-default">
    <span class="glyphicon glyphicon-film"></span> View Movies
    <span class="glyphicon glyphicon-film"></span>
  </a>
  <a href="/celebrities" class="btn btn-default">
    <span class="glyphicon glyphicon-star-empty"></span>View Celebrities
    <span class="glyphicon glyphicon-star-empty"></span>
  </a>
</div>