<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <a href="celebrities">Celebrities</a>
    <a href="movies">Movies</a>
  </head>
  <body>
  </body>
</html>
