<!DOCTYPE html>
<html>
  <head>
    <title>Celebrities</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= celebrities %></h1>
    <!-- <p>Welcome to <%= title %></p> -->
  </body>
</html>
