<div class="container">
    <h1>La web de las Celebridades y Películas</h1>
    <hr>
    <p>Celebrities y Películas ¿Qué puede haber mejor?</p>

    <a href="/celebrities" class="btn btn-primary btn-sm">Ver todas nuestras Celebridades</a>
    <a href="/movies" class="btn btn-primary btn-sm">Ver todas nuestras Películas</a>
</div>