
<div class="row d-flex justify-content-center">
  <div class="col-md-9">
    <h1>{{siteTitle}}</h1>
    <p>| Where the Celebs & Movies fit together |</p>
  </div>
</div>

<div class="row d-flex justify-content-around align-items-stretch">

  <div class="col-md-4 ">
    <a href="/celebrities">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1576764721257-242b757e67d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img" alt="Celebrity draw">
        <div class="card-img-overlay">
          <h5 class="card-title">All Celebrities here</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/movies">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img" alt="Movie roll image">
        <div class="card-img-overlay">
          <h5 class="card-title">Check the movie list</h5>
        </div>
      </div>
    </a>
  </div>
</div>