<h1>{{siteTitle}}</h1>
<p>Welcome to {{siteTitle}}</p>

<a class="mt-5 mr-5 btn btn-outline-secondary" href="/celebrities">Go to our Celebrities Database</a>
<a class="mt-5 btn btn-outline-info" href="/movies">Go to our Movies Database</a>