<div class="home-info">
<h1 class= "title">{{title}}</h1>
<p>Welcome to my mongoose app</p>
<br>
<br>
<button class="celebrity-btn"><a href="/celebrities">Celebrities</button></a>
<br>
<br>
<button class="movie-btn"><a href="/movies">Movies</button></a>
</div>
