

<main>

<h1>Googlebrities</h1>
<p>Welcome to the {{title}} searcher</p>


 <form action="/search" method="get" class="form-inline my-2 my-lg-0">
      <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


</main>