<div class="container title iron">

    <h1 > {{title}}</h1>

        <h2 >Welcome to {{title}}</h2>


    <div class="row listados">

        <div class="col-6">
            <h4>Ve al listado de artistas <a href="/celebrities">aquí</a></h4>
        </div>
        
        <div class="col-6">
            <h4>Ve al listado de películas <a href="/movies">aquí</a></h4>    
        </div>
      
    </div>
        
</div>


