<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to Celebrities AND Movies</h2>
    <a href="/celebrities">See all celebrities</a>
    <br>
    <a href="/movies">See all movies</a>
  </body>
</html>
