<main class="view"
    style="background-image: url('https://r3.abcimg.es/resizer/resizer.php?imagen=https%3A%2F%2Fstatic1.abc.es%2Fmedia%2Fpeliculas%2F000%2F023%2F366%2Fali-g-anda-suelto-2.jpg&nuevoancho=620&medio=abc'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <div class="container">

        <h1>Celebrities & Movies</h1>
        <p>Welcome to celebrities & movies</p>

        <a href="/famosos/listado" role="button">
            <button type="button" class="btn btn-info">View Celebrities</button>
        </a>
        <a href="/peliculas/listadoPelis" role="button">
            <button type="button" class="btn btn-info">View Movies</button>
        </a>
    </div>

</main>