<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/celebrities">Got to Celebotato page</a>
    <a href="/movies">Got to Potato Films page</a>
  </body>
</html>
