<main class="home-page">
    <article class="main-options-container">
        <h1>Welcome to the Celebrities Page!!</h1>
        <div class="button-cont">
        <a href="/celebrities" class="btn btn-primary btn-lg">See celebrities</a>
        <a href="/movies" class="btn btn-primary btn-lg">See movies</a>
        </div>  
    </article>
</main>