<h1 class="title">{{siteTitle}}</h1>
<p>Welcome to {{siteTitle}}</p>


<a href="/celebrities" class="btn btn-dark btnindex">Check the celebrities</a>
<a href="/movies"class="btn btn-dark btnindex">Check the movies</a>