<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <h1 class="title-app">Welcome to the Mongoose Movie <span><b>App</b><span></h1>
    <a class="btn" href="/celebrities">Celebrities</a>
    <a class="btn-movies" href="/movies">Movies</a>
  </body>
</html>
