<section class="index-page">

    <div class="bg-blur d-flex justify-content-center align-items-center">

        <div class="welcome row">

            <div class="col-12 d-flex justify-content-center align-items-center top">

                <h1>Welcome</h1>

            </div>

            <div class="col-12 d-flex justify-content-around align-items-center bottom">

                <a href="/celebrities" class="btn btn-primary">Celebrities</a>

                <a href="/movies" class="btn btn-primary">Movies</a>

            </div>

        </div>

    </div>

</section>