<section class="home-page">
    <div class="container-home">
        <h1>¡¡Welcome to your favorite Celebrities page!!</h1>
        <div class="button-container">
            <a href="/celebrities" class="btn btn-primary btn-lg">See celebrities!</a>
            <a href="/movies" class="btn btn-primary btn-lg">See movies!</a>
        </div>
    </div>
</section>