<h1>Genetate Your new Favorite Movie!</h1>

<a href="/celebrities">
  <button type= "button" >
    View Celebrities
  </button>
</a>

<a href="/Movies">
  <button type= "button" >
    View Movies
  </button>
</a>
