<div class="container">

<h1>{{website}}</h1>

<p>Welcome to {{website}}</p>
<a href="/celebrities" class="btn btn-dark btn-sm">Find your favourite celebrities!</a>
<a href="/movies" class="btn btn-dark btn-sm">Find your favourite movies!</a>

</div>


