<div class="test">
    {{!-- <nav class="navBar">
        <div>
        <a href="http://localhost:3000/celebrities"><button type="button" class="btn btn-outline-light">Check out our celebrities!</button></a>
        </div>
        <div>
        <a href="http://localhost:3000/movies"><button type="button" class="btn btn-outline-light">Browse our list of movies</button></a>
        </div>
        <div>
        <a href="http://localhost:3000/user/register"><button type="button" class="btn btn-outline-light">Create an Account</button></a>
        </div>
        <div>
        <a href="http://localhost:3000/user/login"><button type="button" class="btn btn-outline-light">Login</button></a>
        </div>
    </nav> --}}
    <div class="welcomeText">
        <h1>Welcome to MapUrVacation</h1>
        <h2>Please log in or create an account</h2>
    </div>
</div>


