<h1>{{this.siteName}}</h1>
<p>Welcome to {{this.siteName}}</p>
<hr>
<a href="/celebrities" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Celebrities</a>
<a href="/movies" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Movies</a>