<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1">{{title}}</h1>
            <p class="text-secondary">Welcome to the webpage of celebrities and movies!</p>
            <hr>
            <p>Here you can make basic CRUD operations with 2 different collections from the same DB: celebrities and movies. Enjoy!</p>
        </div>
    </div>
</div>