<h2>READY TO SEE OUR CELEBRITIES?</h2>
<a href="/celebrities">Click here for a sneek peak</a>

<br>
<a href="/celebrities/new">Or create your own celebritiy first?</a>
<br>

<h2>READY TO SEE THEM IN ACTION?</h2>
<a href="/movies">Check out their best movies!</a>

<br>
<a href="/movies/new">Did we forget one of your favorites? Please add it!</a>