<div class="container">
    <h1>Welcome to the really weird Mongoose Movies App</h1>
    <h3>What you are interested in?</h3>
    <div class="button-wrapper">
        <a href="/celebrities"><button class="btn btn-option">Celebrities</button></a>
        <a href="/movies"><button class="btn btn-option">Movies</button></a>
    </div>
</div>