<header class="hero">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="web-title">Mongoose lab</h1>
            </div>
            <div class="col-4">
                <a href="/celebrities" class="btn btn-light index-btn" style="margin-right: 25px;">Celebrities</a>
                <a href="/movies" class="btn btn-light index-btn">Movies</a>
            </div>
        </div>
    </div>





</header>