<div class="hello">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>


  <h1>We're a great full crud movie app thingy.</h1>

  <div class="buttons">
      <a href="/user/signup">Signup!</a>
      <a href="/user/login">Login!</a>
  </div>
</div>