<div class="container">

    <h1>Welcome to Celebrities and Movies homepage!</h1>

    <hr>

    <a href="/celebrities">Go to celebrities index</a>

    <hr>

    <a href="/movies">Go to movies index</a>

<footer class="page-footer">

  <div class="footer text-ml pt-4">Ironhack project CRUD. Miguel Serrano</div>

</footer>
</div>