<div class="container">
    <h1>{{siteTitle}}</h1>
    <div class='row'>
        <a href="/celebrities" class="btn btn-dark "> Celebrities link</a>
    </div>
    <div class='row'>
        <a href="/movies" class="btn btn-dark "> movies link</a>
    </div>
</div>