<div class="container">
    <div class="presentation">
        <h1>{{mainTitle}}</h1>
        <hr>
        <a href="/celebrities" class="btn btn-warning btn-lg">Check the celebrities!</a>
        <a href="/movies" class="btn btn-warning btn-lg">Check the movies!</a>
    </div>
</div>