<div class="container">
  <div class="title-container">
    <h1 class="main-title">Mongoose Film Archive</h1>
    <p class="subtitle">Welcome to the biggest film library</p>
  </div>

  <div class="button-container">
    <a class="button" href="/celebrities">Celebrities</a>
    <a class="button" href="/movies">Movies</a>
  </div>
</div>