<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>IRONHACK MOVIES & CELEBS</h1>
            <hr>
            <button type="submit" class="btn btn-outline-dark btn-sm"><a href="/celebrities">See
                    celebrities</a></button>

            <button type="submit" class="btn btn-outline-dark btn-sm"><a href="/movies">See movies</a></button>

        </div>
    </div>
</div>