<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{webTitle}}</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div class='container-flex'>

    <nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
      <a class='navbar-brand' href='/'>Iron Hack Movies and Celebrities</a>

      <ul class='navbar-nav ml-auto'>
        <li class='nav-item active'><a class='nav-link'href='/celebrities'>Celebrities</a></li>
        <li class='nav-item active'><a class='nav-link' href='/movies'>Movies</a></li>
      </ul>
      
    </nav>

  </div>

  <main class="container-flex">

    {{{body}}}

  </main>
  

  <script src="/javascripts/script.js"></script>
</body>

</html>