    <!DOCTYPE html>
     <html>
       <head>
         <meta charset="utf-8">
         <title>Find cool celebrities and their projects!</title>
         <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
       </head>

       <header>
         <nav>
           <ul class="nav">
             <li><a href="/">Home</a></li>
             <li><a href="/celebrities">Celebrities</a></li>
             <li><a href="/celebrities/new">New Celebrity</a></li>
           </ul>
         </nav>
       </header>
       <body>
         <%- body %>
       </body>
     </html>
