<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Googlebrities</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" href="/celebrities/new">Add celebrity</a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link " href="/celebrities">List of celebrities</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/movies/new">Add movie</a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link " href="/movies">List of movies</a>
      </li>
     
    </ul>
     <form action="/search" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   
  </div>
</nav>


  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>