<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul>
        <a href="/movies"><li>Movies</li></a>
        <a href="/celebrities"><li>Celebrities</li></a>
      </ul>
    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
