<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    This is a header.
    <nav>
      <a href="/celebrities">All Celebs</a>
      <a href="/celebrities/new">Add Celeb</a>
      <a href="/celebrities/delete">Delete Celeb</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    this is a footer.
  </footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>