<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> DBZ Fandom </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>DBZ FANDOM</h1>
    <nav>
      <a href="/characters">Characters</a>
      <a href="/characters/new">Add a New Character</a>
    </nav>
    <%- body %>
  </body>
</html>
