<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <a href="/"><h1>Mongoose Movies</h1></a>
    <nav>
      <a href="/celebrities">All Celebs</a>
      <a href="/celebrities/new">Add Celeb</a>
      <a href="/movies">All Movies</a>
      <a href="/movies/new">Add Movie</a>

    {{#if theUser}}
        <form action="/user/logout" method="POST">
          <button>Logout</button>
        </form>
    {{/if}}

    {{#unless theUser}}
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>

    {{/unless}}


    </nav>
  </header>

  {{{body}}}
    {{#if errorMessage}}
    <div>
      {{errorMessage}}
    </div>
  {{/if}}



  <script src="/javascripts/script.js"></script>
</body>
</html>