<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>
  <body>
    <nav>
      <li><a href="/">Home</li></a>
      <li><a href="/celebrities">Celebrities</li></a>
      <li><a href="/movies">Movies</li></a>
    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
