<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/celebrities">Celebrities</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </header>
    <%- body %>
<footer>
  Made by Ivan
</footer>
  </body>
</html>
