<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100vw; padding-bottom: 10px">
  <a class="navbar-brand btn-link" href="/">Iron Cinema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn-link" href="#" id="directorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Directors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/directors">Directors List</a>
          <a class="dropdown-item" href="/directors/add-new">Add New</a>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn-link" href="#" id="actorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/actors">Actors List</a>
          <a class="dropdown-item" href="/actors/add-new">Add New</a>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn-link" href="#" id="moviesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/movies">Movies List</a>
          <a class="dropdown-item" href="/movies/add-new">Add New</a>
      </li>
    </ul>
        {{#if theUser}}
<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:5px">
    User Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/account">Account Settings</a>
    <a class="dropdown-item" href="/secret">Shh . . .</a>
    {{#if theUser.isAdmin}}
    <a class="dropdown-item" href="/create-new-account">Create New User</a>
        <a class="dropdown-item" href="/active-users">See All Users</a>
    {{/if}}
  </div>
</div>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
      <button class="btn btn-outline-danger my-2 my-sm-0">Log Out</button>
    </form>
{{else}}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="margin-right:5px">
                <a class="btn btn-outline-primary" href="/login">Log In</a>
            </li>
            <li class="nav-item" style="margin-right:5px">
                <a class="btn btn-outline-secondary" href="/signup">Sign Up</a>
            </li>
        </ul>
{{/if}}

  </div>
</nav>

    {{{body}}}

    <script src="/javascripts/script.js"></script>

  </body>
</html>
