<div class="new-form">


    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2>Nueva peli</h2>

            <form action="/pelis/nueva" method="post">
                <div class="form-group">
                    <label>Título</label>
                    <input name="title" type="text" class="form-control">

                </div>
                <div class="form-group">
                    <label>Género</label>
                    <input name="genre" type="text" class="form-control">

                </div>
                <div class="form-group">
                    <label>Trama</label>
                    <input name="plot" type="text" class="form-control">

                </div>

                <button type="submit" class="btn btn-dark">Crear</button>
            </form>

        </div>
    </div>
    <br>


</div>
<a class="btn btn-dark" href="/">
    Volver
</a>