<h1>Add a movie</h1>

<form action="/movies/new-movie" method="post">
  Title: <input type="text" name="title"><br>
  Genre: <input type="text" name="genre"><br>
  Plot: <input type="text" name="plot"><br>
  <button>Add a movie</button>
</form>