<h1>Welcome to Your Profile Page</h1>

<br><br>
<a href="/signup">Back</a>
<br><br>
<a href="/">Home</a>

<h2>Welcome {{#if user}}{{user.email}}{{else}}Stranger{{/if}}</h2>

<img src="https://media.tenor.com/images/13ada8c40541fe230f6283fd89ed4858/tenor.gif" alt="High five cat">