<div class="card cardcenter" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Celebrity: {{celeb.name}}</h5>
    <h6>Occupation</h6>
    <p>{{celeb.occupation}}</p>
    <h6>Phrase:</h6><br>
    <p>{{celeb.catchPhrase}}</p>
        
    <a href="/celeb" class="btn btn-primary">return to Celebs</a>
  </div>
</div>