<form action="/trucks/add" method="post">
    <div>
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
        </div>

        <!--<label for="">Driver:</label>
        <select name="driver">
        </select>
        <input type="text" name="driver">-->

        <div>
            <label for="year">Year</label>
            <input id="year" type="number" name="year">
        </div>

        <div>
            <label for="body">Body</label>
            <input id="body" type="string" name="body">
        </div>

        <div>
            <label for="transmission">Transmission</label>
            <input id="transmission" type="string" name="transmission">
        </div>

                <div>
            <label for="engine">Engine</label>
            <input id="engine" type="string" name="engine">
        </div>

        <div>
            <label for="image">Image</label>
            <input id="image" type="text" name="image">
        </div>

        <div>
            <button class="btn btn-primary home-search" type="submit">Add this Truck</button>
        </div>

    </div>
</form>
