<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li>
        <a href="/celebrities/index">List Celebrities</a>
    </li>
    <li>
        <a href="/celebrities/new">Add Celebrities</a>
    </li>
</ul>
<ul>
    <li>
        <a href="/movies/index">List Movies</a>
    </li>
    <li>
        <a href="/movies/new">Add Movies</a>
    </li>
</ul>