<div class="container-fluid">
    <div class="container">
        <h1 class="animated zoomIn">Hall of Fame</h1>

        <div class="main-menu">
            <ul>
                <h3>Celebrities</h3>
                <li>
                    <a href="/celebrities/index">
                        <button>
                            <h4>View List</h4>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/celebrities/new">
                        <button>
                            <h4>Add</h4>
                        </button>
                    </a>
                </li>
            </ul>
            <ul>
                <h3>Movies</h3>
                <li>
                    <a href="/movies/index">
                        <button>
                            <h4>View List</h4>
                        </button>

                    </a>
                </li>
                <li>
                    <a href="/movies/new">
                        <button>
                            <h4>Add</h4>
                        </button>

                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>