<div class="index container-fluid">
    <div class="container">
        <h1 class="animated zoomIn">Hall of Fame</h1>

        <div class="main-menu">
            <ul>
                <h3>Celebrities</h3>
                <li>
                    <a href="/celebrities/index">
                        <button title="View List">
                           <i class="fas fa-list"></i> View 
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/celebrities/new">
                        <button title="Add new">
                            <i class="fas fa-plus-circle"></i> Add
                        </button>
                    </a>
                </li>
            </ul>
            <ul>
                <h3>Movies</h3>
                <li>
                    <a href="/movies/index">
                        <button title="View List">
                           <i class="fas fa-list"></i> View
                        </button>

                    </a>
                </li>
                <li>
                    <a href="/movies/new">
                        <button title="Add new">
                            <i class="fas fa-plus-circle"></i> Add
                        </button>

                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>