<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="animate.min.css">
  <link rel="shortcut icon" href="/images/favicon.jpeg" type="image/x-icon">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <title>{{title}}</title>
</head>

<body>

  <div class="nav container-fluid">
    <div class="container">
      <ul>
        <a href="/">
          <li class="effect">
            <h5>Home</h5>
          </li>
        </a>
      </ul>
    </div>
  </div>

  {{{body}}}

  <script src='/javascripts/index.js'></script>
  <script src='/javascripts/script.js'></script>
</body>

</html>