<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/images/favicon.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <title>{{title}}</title>
</head>

<body>

  <div class="nav container-fluid">
    <div class="container">
      <ul>
        <a href="/">
          <li class="effect">
            <h5>Home</h5>
          </li>
        </a>
      </ul>
    </div>
  </div>

  {{{body}}}

  <div class="footer container-fluid">
    <div class="dev-container">
      <h3>Developed by</h3>
      <h3 class="dev-name">Mateus Felix</h3>
    </div>

  </div>

  <script src='/javascripts/index.js'></script>
  <script src='/javascripts/script.js'></script>
</body>

</html>