<h2> Add a new celebrity </h2>
<form action="/celebrities" method="post">
  Name: <label><input type="text" name="name"></label>
  Occupation: <label><input type="text" name="occupation"></label>
  Catch Phrase: <label><input type="text" name="catchPhrase"></label>
  <button type="submit">Submit</button>
</form>