

<h1>⭐️ Celebrities ⭐️</h1>


<ul class="list-group">
 <% celebs.forEach( (celebrity) => {%>
  <li class="list-group-item"> <a href="/celebrities/<%= celebrity._id %>"><%= celebrity.name %></a><strong> </strong></li>
  <% }); %>
</ul>


<a href="celebrities/new" role="button" class="btn btn-primary btn-lg">Add a celebrity</a>





