


<form action"/" method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput"><strong>Celebrity name</strong></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"><strong>Celebrity Ocupation/job</strong></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" name="ocupation">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"><strong>Celebrity catchphrase</strong></label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="" name="catchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>