<div class="container2">

<h2> Add a Celebrities </h2>

<form action="/celeb-new" method="POST">
  <input type='text' name='name'  placeholder="Name ..."/>
  <br />
  <input type='text' name='occupation'  placeholder="Occupation ..."/>
   <br />
  <input type='text' name='catchPhrase'  placeholder="CatchPhrase ..."/>
  <br />
 
<button> Save the celeb</button>

</form>

<a href="/celebrities">Go back to my celebrities</a>
</div>

