
<br>
<h3>
<a href="/movies/new">CREATE NEW</a>
</h3>

{{#each theMovies}}

<div class="row celeb-row">
  <div class="col-sm-12">

    <hr> {{this.title}} es {{this.genre}} y dice {{this.plot}}
    <a href="/movies/{{this._id}}">Show</a>
    <br>

  </div>
</div>
{{/each}}
<hr>