<h2>
  Add a new MOVIE</h2>

<form action="create" method="post">

  <div class="form-group">

    <label>Title</label>
    <input type="text" name="title">
    <br>
  </div>

  <div class="form-group">
    <label>Genre</label>
    <input type="text" name="genre">
    <br>
  </div>

  <div class="form-group">
    <label>Plot</label>
    <input type="text" name="plot">
    <br>
  </div>

  {{!-- <div class="form-group">
    <label for="Actor">Actor</label>
    <select class="form-control" id="Actor">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> --}}


  <button type="submit">Create</button>

</form>