<a href="/celebrities">back</a>

<h2>Agrega una celebridad</h2>

<form action="/celebrities/new" method="post" id="title">

<p>
  <label for="name">Nombre de la celebridad:</label>
<input type="text" name="name" placeholder="">
</p>

<p>
  <label for="occupation">Ocupacion:</label>
<input type="text" name="occupation" placeholder="">
</p>

<p>
  <label for="catchPhrase">Frase:</label>
<textarea type="text" name="catchPhrase" placeholder=""></textarea>
</p>

<input type="submit" value="guardar">
</form>