<p><strong>Name of the movie:</strong> {{singleMovie.title}}</p>
<p><strong>genre: </strong> {{singleMovie.genre}}</p>
<p><strong> Plot: </strong> {{singleMovie.plot}}</p>
<a href="/movies"> Go back</a>