<h1>Edit your movie</h1>
<form action="/movies/edit" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="genre">Genre</label>
    <input type="text" name="genre">
    <label for="plot">Plot</label>
    <input type="text" name="plot">
    <input type="submit" value="Edit movie">
</form>