<section>
  <h1>Details</h1>
  <ul>
    <li>
      <h4>{{movie.title}}</h4>
      <h5>Occupation: {{movie.genre}}</h5>
      <p>Catch Phrase: {{movie.plot}}</p>
    </li>
  </ul>
  <a href="/movies">Back</a>
</section>