<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="title">
        <h1>My Cinema Collection</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="large button">
        <a href="/celebrity">My Favourite Characters</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="large button">
        <a href="/movie">My Favourite Movies</a>
      </div>
    </div>
  </div>
</div>