<h2>Modification Movie Form</h2>

<form action="/moviesedit/{{movie._id}}" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{movie.title}}">

    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" value="{{movie.genre}}">

    <label for="plot">Plot</label>
    <input type="text" id="plot" name="plot" value="{{movie.plot}}">

    <button>Add the movie</button>
</form> 