<h2>Add a Movie</h2>

<form action="/moviesadd" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">

    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre">

    <label for="plot">Plot</label>
    <input type="text" id="plot" name="plot">

    <button>Add the movie</button>
</form>