
<h1>Log In to Your Account</h1>
<div class="loginFields">
    <form action="login-the-user" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>LOGIN</button>
    </form>
</div>
  
    <ul class="goBack">
      <li><a href="http://localhost:3000/index"><button type="button" class="btn btn-outline-info">Go Back</button></a></li>
    </ul>
  