<form action="login-the-user" method="post">

    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>LOGIN</button>
</form>