<h1>Create a new account</h1>
<div class="loginFields">
<form action="/userCreate" method="post">
  <input type="text" name="username" placeholder="Enter Username" />
  <input type="text" name="password" placeholder="Enter Password" id="" />
  {{!-- <input type="text" name="catchPhrase" placeholder="Catch Phrase" id="" /> --}}
  {{! <input type="number" name="rating" placeholder="rating" id=""> }}
  <a href="/user/userCreate"></a><button type="submit">SUBMIT</button>
</form>
</div>
    <ul class="goBack">
      <li><a href="http://localhost:3000/index"><button type="button" class="btn btn-outline-info">Go Back</button></a></li>
    </ul>