<div class="addForm">


<h2>Add New Celeb</h2>

<form action="/create-the-celeb" method="POST">




<p>Name</p>
<input type="text" name="newCelebName">

<p>Occupation</p>
<input type="text" name="newCelebOccupation">


<p>Catch Phrase</p>
<input type="text" name="newCelebPhrase">

<p>Image</p>
<input type="text" name="newCelebImage">
    <button>Save!</button>
</form>
</div>