
<div class='celebPage'>
<div class="theCeleb">


<h1>name: {{celeb.name}}</h1>

<h3>occupation: {{celeb.occupation}}</h3>

<p>Quote: {{celeb.catchPhrase}}</p>

<img style="width: 350px" src="{{celeb.image}}"/>
</div>
</div>