<div class="fondo">

    <a href="/celebrity/{{id}}" class="botn" type="button">Mira que famosos!</a>
</div>

{{!-- <div class="fondo2">
    <a href="/movie/{{id}}" class="botn" type="button">Mira que Peliculas!</a>
</div> --}}