<h2>Añade un nuevo Famoso</h2>
<form action="/celebrity/new" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Occupation:</label>
  <input type="text" name="occupation">

  <label for="">Catch phrase:</label>
  <input type="number" name="catchPhrase">

  <button type="submit">Add a celebrity</button>
</form>