{{#with celebrity}}
<div class = "row">
    <div class = "col-md-6 rand-text">
        <h1>SHOW</h1>
        <p>{{name}}</p>
        <p>{{occupation}}</p>
        <p>{{catchPhrase}}</p>
    </div>
</div>
{{/with}}