<form action = "/celebs" method = "post">
  <label for="name">Celebrity Name</label>
  <input type="text" id="name" name="name">

  <label for="Occupaton">Occupation of Celeb: </label>
  <input type="text" name="occupaton" id="occupaton">

  <label for="catchPhrase">Catch Phrase of Celeb:</label>
  <input type="text" name="catchPhrase" id="catchPhrase">

  <button type="submit">Make Celeb</button>
</form>
