<ul>
  <li>
    <p> <h3> Name: </h3><%= celebrity.name %> </p>
  </li>
  <li>
    <p> <h3> Their Occupation:</h3> <%= celebrity.occupation %> </p>
  </li>
  <li>
    <p> <h3> Their Catch Phrase: </h3> <%= celebrity.catchPhrase %> </p>
  </li>
  <p> <a href = "/celebs/new">Add Celeb</a> </p> <br>
  <p> <a href = "/celebs/<%= celebrity._id %>/edit">Edit Celeb</a> </p>
</ul>
