<h2>CREATE A NEW MOVIE</h2>

<form action="/new2" method="POST">

    <label for="title">Title</label>
    <input type="text "name="title">

    <label for="genre">Genre</label>
    <input type="text" name="genre">
    
    <label for="plot">Plot</label>
    <input type="text" name="plot">

    <button type="submit">Submit</button>
</form>
<a href="/movies">Go Back</a>