
    <h2> Movies</h2>
    <ul>
      <% movies.forEach((movies)=> {  %>
        <li class="list">  <a href= "/movies/<%-movies._id%>"> <%= movies.title %></a>
            <form method="post" action="/movies/<%-movies._id%>/delete">
                <button class="btn-list"> Delete </button>
                <button class="btn-list" type="button" name="button"><a href="/movies/<%-movies._id%>/edit">Edit</a></button>
              </form>
        </li>
      <% }) %>
    </ul>
    <button class="a-btn"><a href= "/movies/new"> Add a new movie </a></button>
