<h2> Movies</h2>

<ul>
  <% movies.forEach((movies)=> {  %>
    <li>  <a href= "/movies/<%-movies._id%>"> <%= movies.title %></a>
        <form method="post" action="/movies/<%-movies._id%>/delete">
            <button> Delete </button>
            <button type="button" name="button"><a href="/movies/<%-movies._id%>/edit">Edit</a></button>
          </form>
    </li>
  <% }) %>
</ul>
<a href= "/movies/new"> Add a new movie </a>
