<h2>Add a Movie</h2>

<form action="/movies" method="POST">
  <ul>
    <li>
      <label for="title">Title: </label>
      <input type="text" id="title" name="title">
    </li>
    <br>
    <li>
      <label for="genre">Genre: </label>
      <input type="text" id="genre" name="genre">
    </li>
    <br>
    <li>
      <label for="plot">Plot: </label>
      <input type="text" id="plot" name="plot">
    </li>
    <br>
    <li>
      <button type="submit">Add</button>
    </li>
  </ul>
</form>
