.content-wrapper {
    display: flex;
    height: 100vh;

    aside {
        width: 20%;
        max-width: 300px;
        padding: 1rem;

        @include mq(small, max) {
            width: 100%;
        }
    }

    section {
        width: 80%;
        flex-grow: 1;

        @include mq(small, max) {
            width: 100%;
        }
    }
}

article {
    margin: 2rem;

    @media screen and (max-width: 460px) {
        margin: 1rem;
    }

    ul {
        li {
            position: relative;
            width: 24%;
            margin-bottom: 2rem;
            padding: 3rem 3rem 10rem;
            border: 1px solid $lightergray;
            margin-right: 1%;
            background-color: #f9f6ff;

            @media screen and (max-width:1300px) {
                width: 49%;
            }

            @media screen and (max-width:600px) {
                width: 98%;
            }

            .buttons-group {
                position: absolute;
                bottom: 3rem;
                left: 3rem;
            }

            &.hover {
                background-color: #c3a5ff;

                h3 {
                    a {
                        color: #423535;

                        &:hover {
                            color: #423535;
                        }
                    }
                }

                .genre,
                .occupation {
                    color: #e4e4e4;
                }

                p {
                    color: $white;
                }

                h4 {
                    color: #735252;
                }

                a {
                    color: #a15da9;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                button,
                .button {
                    background-color: #9d6bff;
                    border-color: #9b7dd8;
                    color: $white;

                    &:hover {
                        background-color: #b996ff;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }

            // li.hover

            button,
            .button {
                margin-top: 1rem;
                margin-bottom: 6px;
                background-color: $white;
                border: 1px solid $lightergray;
                color: $lightgray;
                padding: 3px 7px;
                text-transform: uppercase;
                font-size: .6rem;
                transition: all 250ms;

                &:hover {
                    background-color: $lightgray;
                    color: $black;
                    cursor: pointer;
                }
            }
        }
    }
}

form {
    label {
        display: inline-block;
        margin: 0 11px 7px 0;
    }

    input {
        display: block;
        width: 100%;
        padding: 18px 13px;
        margin-bottom: 1rem;
        border: 1px solid $lightgray;

        &:active {
            border-color: $darkpurple;
        }

        &[type="radio"] {
            display: inline-block;
            width: unset;
            margin-right: 3px;
        }
    }

    button {
        background-color: $lightgray;
        border: 1px solid $lightgray;
        color: $darkgray;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 300;
        transition: all 250ms;

        &:hover {
            background-color: $darkgray;
            color: $lightgray;
            cursor: pointer;
        }
    }
}