<h2>Add a Star</h2>

<form action="/process-celebrity" method="POST">
  <input type="text" name="name" placeholder="Name...">
  <br>
  <input type="text" name="occupation" placeholder="Occupation...">
  <br>
  <input type="text" name="catchPhrase" placeholder="Catch Phrase...">
  <br>
  <button>Save This Star</button>
</form>