<h2>Celebrity</h2>
<ul>
  <li>
    <p>Name : {{celebrity.name}}</p>
  </li>
  <li>
    <p>Occupation : {{celebrity.occupation}}</p>
  </li>
  <li>
    <p>Famous for : {{celebrity.catchPhrase}}</p>
  </li>
</ul>