<h2>New Post</h2>

<form action="/posts/create-new" method="POST">

<p>Title Of Post</p>
<input type="text" name="theTitle">


<p>Content of post</p>
<textarea name="theContent" cols="40" rows="20"></textarea>



<button>Submit Post</button>

</form>