<div class="container2">
<h2> Add a Movies </h2>

<form action="/movie-new" method="POST">
  <input type='text' name='name'  placeholder="Name ..."/>
  <br />
  <input type='text' name='genre'  placeholder="genre ..."/>
   <br />
  <input type='text' name='plot'  placeholder="Plot ..."/>
  <br />
 
<button> Save the Movie</button>

</form>

<a href="/movies">Go back to my Movies</a>
</div>
