<div class="container-fluid">
    <h2>Add new celebrity</h2>

    <form action="/celebrities/new" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">

        <label for="occupation">Occupation</label>
        <input type="text" name="occupation">

        <label for="catchPhrase">Catch Phrase</label>
        <input type="text" name="catchPhrase">

        <button type="submit">Add Celebrity</button>
    </form>
</div>