<h2> </h2>
<form action="/celebritys/new" method="POST">
<input type="text" name="name">
<input type="text" name="occupation">
<input type="text" name="catchPhrase">
<input type="text" name="submit">
</form>