<!DOCTYPE html>
<html>
  <head>
    <title>Celebrities extravaganzza</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WE ARE FAMOUS</h1>
    <%- body %>
  </body>
</html>