<h2>CELEBRITIES!</h2>

<ul>
    <% celebrities.forEach((aCelebrity) => { %>
        <li>
            <%= aCelebrity.name %>
        </li>
    <% }); %>
</ul>

<a href="/celebrities/new">Create a new Celebrity</a>