<h2>CELEBRITIES!</h2>

<ul>
    <% celebrities.forEach((aCelebrity) => { %>
        <li>
            <%= aCelebrity.name %>
        </li>
        <a href="/celebrities/<%= aCelebrity._id %>">Full info</a>
        <form action="/celebrities/<%= aCelebrity._id %>/delete" method="POST">
            <button type="delete">Delete</button>
        </form>
    <% }); %>
</ul>

<a href="/celebrities/new">Create a new Celebrity</a>