<main>
  <h2>Celebrities List:</h2>

<a href="/celebrities/new">Add new Celebrity</a>

  <ul>
    {{#each celebrities}}
      <li>    
      <a href="/celebrities/{{this._id}}">{{this.name}}</a>

      <a href="/celebrities/{{this._id}}/edit">Edit Celebrity</a>

      <form action="/celebrities/{{this._id}}/delete" method="post">
        <button type="submit">Delet Celebrity</button>
      </form>
      </li>
    {{/each}}
  </ul>
</main>