<h1> Details of: {{ firstName }} {{ lastName }} </h1>


<p><b>Occupation:</b>{{ occupation }}</p>

<p><b> catchPhrase: </b>{{ catchPhrase }}</p>
<br>
<br>

<a href="/celebrities">Go to celebrities list page</a>