* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $font;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.button-danger {
  color: $white;
  background-color: $red;
  border-color: $red;
  &:hover, &:focus {
    color: $white;
    background-color: $darkRed;
    border-color: $darkRed;
  }
}

#error {
  padding: 30px 0;
}