<h2> Add a new movie </h2>
<form action="/movies" method="post">
  Title: <label><input type="text" name="title"></label>
  Genre: <label><input type="text" name="genre"></label>
  Plot: <label><input type="text" name="plot"></label>
  <button type="submit">Submit</button>
</form>