<h2>Celebrities Info</h2>
<ul>
<% celebritiesArray.forEach((celebrity) =>{ %>

<li>
<%= celebrity.name %> (<a href="celebrities/<%= celebrity.id%>">details</a>)
</li>

<% }) %>
</ul>
<a href="/celebrities/new">Add new</a>
<br>
<a href="/">Back to start</a>
