<h2>Our celebrities</h2>

<div class="celeb-list">
  <ul>
    <% res.forEach((item) => { %>
    <li class="celebrity">
      <p class="name"><%= item.name %></p>
  
    </li>
    <% }) %>
  </ul>

</div>
