<h2>Celebrities!!!!!!!!!</h2>
<ul>
    <% celebrities.forEach((c) => { %>
        <li> name
            <%= c.name %>
        </li>
        <li>occupation
            <%= c.occupation %>
        </li>
        <li>catchPhrase
            <%= c.catchPhrase %>
        </li>
        <%  }) %>
</ul>
<a href="celebrities">daleeeeeee</a>