<h2>Celebrities!!!!!!!!!</h2>
<ul>
    <% celebrities.forEach((c) => { %>
        <li> 
            <%= c.name %> <a href="celebrities/<%=c.id%>">daledondale</a>
        </li>
        <%  }) %>
</ul>
<!-- <a href="celebrities/new">daleeeeeee</a> -->