<h2>SLEBS!</h2>

<ul>
<% celebs.forEach((celeb) => {%>
<li>Sleb name: 
<%= celebs.name %> What do they do? <%= celebs.occupation %>
Favourite thing to say: <%= celebs.catchphrase %>
</li>
<% }) %>
</ul>
