<h2>Our celebrities</h2>

<div class="celeb-list">
  <ul>
    <% celebrities.forEach((item) => { %>
    <li class="celebrity">
      <p class="name"><%= item.name %></p>
      <a class="view-more" href="celebrities/show/<%= item._id %>">View More</a>

    </li>
    <% }) %>
  </ul>

</div>
