<h2>Our celebrities</h2>

<div class="celeb-list">
  <ul>
    <% celebrities.forEach((celeb) => { %>
    <li class="celebrity">
      <p class="name"><%= celeb.name %></p>
      <a class="view-more" href="/celebrities/show/<%= celeb._id %>">View More</a>
      <a class="view-more" href="/celebrities/edit/<%= celeb._id %>">Edit Celeb</a>



      <form action="/celebrities/<%= celeb._id %>/delete" method="POST">
         <button type="submit">DELETE</button>
      </form>



    </li>
    <% }) %>
  </ul>

</div>
