
<h2>Add your favourite celebrity</h2>

<form action="/celebrities" method="post">

    <input type="text" id="name" name="name" placeholder="Celebrity´s Name">
    <input type="text" id="occupation" name="occupation" placeholder="Celebrity´s Occupation">
    <input type="text" id="catchPhrase" name="catchPhrase" placeholder="Pick up line">
    <button type="submit">ADD</button>

</form>
