<h2>Add a new CELEB</h2>


<form method='POST' action='/celebrities' class="form">
    <label for="name">Name: </label><input type="text" name="name">
    <label for="occupation">Occupation: </label><input type="text" name="occupation">
    <label for="catch-phrase">Catch Phrase: </label><input type="text" name="catchPhrase">
    <button> ADD </button>
</form>
