<h2>Create your celebrity</h2>

<form action="/celebrities" method="POST">
<input type="text" placeholder="Name" name="name">
<br>
<input type="text" placeholder="Occupation" name="occupation">
<br>
<input type="text" placeholder="Catch Phrase" name="catchPhrase">
<br>

<button>Submit this celebrity</button>
</form>