<h2>Add a new celebrity</h2>

<form id="form" action="/celebrities/new" method="POST">
<label for="name">Name</label><br>
<input type="text" name="name"
  placeholder="Please enter a name">

<br><br>
<label for="occupation">Occupation</label><br>
<input type="text" name="occupation"
  placeholder="Please enter an occupation">
<br><br>
<label for="catchPhrase">Catch phrase</label><br>
<input type="text" name="catchPhrase"
  placeholder="Please enter a catchphrase">
<br><br>

<button>Add the celebrity</button>
</form>