<h2>
  <%= title %>
</h2>

<form action="/celebrities" method="post" id="celebrityform">
  <label for="name">Name
  <input type="text" name="name" id="name">
  </label>
  <label for="occupation">Occupation
  <input type="text" name="occupation" id="occupation">
  </label>
  <label for="catchPhrase">CatchPhrase
  <input type="textarea" name="catchPhrase" id="catchPhrase">
  </label>
  <button type="submit">Add celebrity</button>
</form>
