<h2>Agrega una celebridad</h2>

<form action="/celebrities/new" method="post">
  <p>
    <label for="name">Nombre de la celebridad:</label>
    <input type="text" name="name" placeholder="Isaac Asimov" id="name">
  </p>
  <p>
    <label for="occupation">Ocupación:</label>
  <input id="occupation" type="text" name="occupation" placeholder="Escritor">
  </p>
  <p>
    <label for="cathPhrase">Frase:</label>
  <input id="cathPhrase" type="text" name="cathPhrase" placeholder="Robots">
  </p>

  <input type="submit" value="Agregar">
</form>