<!DOCTYPE html>
<html>
<head>
<title>Movies</title>
</head>

<body>
<h1> Plus d'info sur : </h1>

<h2><%= celebritiyId.name %></h2>
<p> Occupation : <%= celebritiyId.occupation %> </p>
<p> Favorite punchline : <%= celebritiyId.catchPhrase %></p>

</body>

</html>