<h2>New celebrity</h2>
<form action="/celebrities" method="POST">
  <label for="name">Celebrity's name</label>
  <input type="text" id="name" name="name">

  <label for="occupation">Celebrity's occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">Celebrity's catchphrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase">

  <button type="submit">Create new celebrity</button>
</form>