<h2>Celebrity details</h2>

<h3> <%= celebrity.name  %> </h3>

<ul>
  <li>
  Occupation: 
    <%= celebrity.occupation  %>
  </li>
  <li>
     Catchphrase: 
    <%= celebrity.catchPhrase %>
  </li>
</ul>

<a href="/celebrities">
  Back to list of celebrities
</a>