<h1>Celebrity</h1>
<a href="/celebrities">Celebrities list</a>
<p>name: <%= celebrities.name %></p>
<p>occupation: <%= celebrities.occupation %></p>
<p>catch pharse: <%= celebrities.catchPharse %></p>