<div class="row home-row">
  <h1>HOME</h1>
  <div class="col-sm-12 home-row">

    <a class="nav-link" href="/celebs/">Celebrities</a>

    <a class="btn" href="/movies/index">Movies</a>

  </div>
</div>