<h2>Add new movie</h2>
<form action="/movies" method="POST">
  <input type="text" name="title" placeholder="Movie name">
  <input type="text" name="genre" placeholder="Genre">
  <textarea type="text" name="plot" placeholder="Plot"></textarea>
  <button type="submit">Add Movie</button>

</form>
