body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 80px;
  font-size: 1.5em; }


.navbar-brand {
  font-size: 1.4em;

}

h1 {
  margin-top: 180px;
  margin-bottom: 50px;
  font-size: 80px;
}


.par {
  font-size: 30px;
}

nav li {
  margin-right: 20px;
  
  }
