*
  margin: 0
  padding: 0

body
  padding: 20px
  font: 14px sans-serif
  text-align: center
form
  display: inline-block
a
  color: #00B7FF
  text-decoration: none
ul
  clear: both
button
  &:focus
    outline: none
li
  text-decoration: none
  list-style: none
  text-align: left
  padding: 20px
  margin-bottom: 10px
  background-color: #262228
  border-radius: 10px
  border: 5px solid #ddd
  a
    padding: 5px
    background-color: #00B7FF
    color: #fff
    border-radius: 5px
    transition: all 0.3s ease
    &:hover
      background-color: #0092cc

h1
  font-size: 3rem
  text-transform: uppercase
  letter-spacing: 5px
  font-weight: bold
  color: #9b59b6
  text-rendering: optimizeLegibility
  margin: 40px

h2
  font-weight: 600
  letter-spacing: 2px
  color: #dfdce3
  text-rendering: optimizeLegibility
  margin-bottom: 10px

span
  font-weight: 100
  color: #dfdce3
.info-btn
  float: left
  padding: 10px 20px
  margin-right: 5px
.delete-btn
  margin-top: 0
  background-color: #e74c3c
  border: none
  padding: 12px 20px
  border-radius: 5px
  color: #fff
  transition: all 0.3s ease
  &:hover
    background-color: #bb3e31
.edit-btn
  background-color: #f39c12
  border: none
  padding: 11px 20px
  border-radius: 5px
  color: #fff
  margin-right: 2px
  &:hover
    background-color: #d68910
.btn-movies
  padding: 20px 40px
  background-color: #9b59b6
  font-size: 3rem
  text-transform: uppercase
  font-weight: 100
  color: #fff
  transition: all 0.3s ease
  border-radius: 10px
  position: absolute
  top: 40%
  left: 58%
  transform: translateX(-50%) translateY(-50%)
  &:hover
    background-color: #724286
.btn
  padding: 20px 40px
  background-color: #9b59b6
  font-size: 3rem
  text-transform: uppercase
  font-weight: 100
  color: #fff
  transition: all 0.3s ease
  border-radius: 10px
  position: absolute
  top: 40%
  left: 38%
  transform: translateX(-50%) translateY(-50%)
  &:hover
    background-color: #724286

.create
  padding: 10px 20px
  background-color: #27ae60
  color: #fff
  border-radius: 5px
  margin-top: -6px
  &:hover
    background-color: #229452
.add,.create
  float: left
.add
  margin-left: 43px
  margin-right: 10px
  font-size: 1.4rem
  color: #34495e
  vertical-align: middle
  text-transform: uppercase
  margin-bottom: 20px

.user-input
  margin: 0
  padding: 0
  display: inline-block
  text-align: left
  width: 100%
  label
    font-size: 1.2rem
    text-align: center
    display: block
    font-weight: bold
    letter-spacing: 1px
    color: #4d4d4d
  input
    height: 30px
    width: 100%
    margin-bottom: 25px
    color: #4d4d4d
    font-size: 1rem
    padding: 0 10px
    border: none
    border-bottom: 1px solid #4d4d4d
    &:focus
      outline: none

.container
  width: 30%
  margin: 0 auto
  button
    margin: 0
    width: 100%


.create-btn
  border: none
  padding: 10px 20px
  background-color: #27ae60
  color: #fff
  border-radius: 5px
  margin-top: 18px
  &:hover
    background-color: #229452

.title-app
  margin-top: 174px
  color: #000
  span
    color: #9b59b6
.info-title
  color: #4d4d4d
  span
    color: #3d3d3d
