body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.navbar a{
  color: black;
  font-size: 16px;
  text-decoration: none;
}