body {
  font-family: sans-serif;
  background-image: url('../images/fondo.jpg');
  color:white;
  text-align: center;
  font-family: 'Montserrat',
  sans-serif;
  

}
.title{
  padding-top: 90px;
  font-size: 50px;
}
.btnindex{
  margin-top:50px ;
}
.list{
  text-decoration:none;
  color:white;

}
.btnadd{
margin-top: 50px;
width: 60%;
}
.titlelist{
  padding-top: 40px;
  padding-bottom: 40px;
}
input{
  border-radius: 6px;
}
li{
  text-decoration: none;
  list-style: none;
  margin-right:30px
}
.btna{
  margin-top: 50px;
  width: 40%;
}