<h2>Celebrities List</h2>

<form action="/films" method="post" accept-charset="utf-8">
	<input type="text" name="name" placeholder="Enter the name"><br>
	<input type="text" name="genre" placeholder="Enter the genre"><br>
	<input type="text" name="plot" placeholder="Enter the plot"><br>
	<button type="submit">Submit</button>
</form>