<h2>Agrega una celebridad</h2>
<form action="/celebrities/new" method="post">
  <p>
    <label for="name">Nombre: </label>
    <input type="text" name="name" placeholder="Nombre" id="name">
  </p>
  <p>
    <label for="occupation">Ocupación: </label>
    <input type="text" name="occupation" placeholder="Ocupación" id="occupation">
  </p>
  <p>
    <label for="catchPhrase">Frase: </label>
    <input type="text" name="catchPhrase" placeholder="Frase" id="catchPhrase">
  </p>
  <input type="submit" value="Guardar">
</form>
<hr><br>
<div class="b">
  <a href="/celebrities/" class="button">Cancelar</a>
</div>
