<h2>Celebrities</h2>
{{#each celeb}}
<div class="card-body">
  <div class="row">
    <div class="col-8" style="display:flex; align-items:center;">
      <div>
        <b>{{this.name}}</b>: {{this.occupation}}
      </div>
    </div>
    <div class="col-4 text-right">
    </div>
  </div>
</div>
{{/each}}