
<div class="home-page-div">

<h1 id="welcome">Welcome to the coolest website ever!</h1>

<div id="cube1" class="cube flip-to-top">
	  <div class="default-state">
		    <span>I want to see Celebrities</span>
	  </div>
	  <div class="active-state">
  		  <a href="/celebrities">Take me there</a>
  	</div>
</div>


<div id="cube2" class="cube flip-to-top">
	  <div class="default-state">
		    <span>I want to see Movies</span>
	  </div>
	  <div class="active-state">
  		  <a href="/movies">Take me there</a>
  	</div>
</div>



{{!-- <a href="/celebrities">I want to check out the Celebrities</a> --}}

{{!-- <a href="/movies">I want to check out the Movies</a> --}}

</div>