<h2>Login</h2>


<form action="/login" method="POST">

  <label>Your Username</label>
  <input type="text" name="username">


  <label>Password</label>
  <input type="password" name="password">



  <button>Log In</button>

</form>