<h1>Login</h1>

<form action="/login" method="POST">

<p>Username</p>
<input type="text" name="theUsername">

<p>Password</p>
<input type="password" name="thePassword">

{{#if error}}
<div class="error-message">{{ error }}</div>
{{/if}}

<button style="background-color: gray">Submit</button>
</form>