<h2>Welcome, This is secret place just for you {{user.username}}</h2>

{{#if msg}}

<body onload="M.toast({html: '{{msg}}'})">

</body>

{{/if}}
{{#if yay}}

<body onload="M.toast({html: '{{yay}}'})">

</body>
{{/if}}


<div class="row">


  <div class="col s3">
    <a class="btn waves-effect waves-light" href="/">Back
      <i class="material-icons left">arrow_back</i>
    </a>

  </div>
  <div class="col s3 offset-s1">

    <form action="/logout" method="POST">
      <button class="btn waves-effect waves-light">Logout</button>
    </form>
  </div>

</div>