<div id="signup-div">

<h2>Signup</h2>

<form id="user-form" action="/signup" method="POST">

<label>Pick A Username</label>
<input type="text" name="username">


<label>Password</label>
<input type="text" name="password">



<button class="waves-effect waves-light btn-large loginsignup">Sign me up</button>
</form>

</div>
