<h2>Signup</h2>


<form action="/signup" method="POST">

  <label>Username</label>
  <input type="text" name="theUsername">


  <label>Password</label>
  <input type="password" name="thePassword">


  <button>Log In</button>
</form>