<h2>Signup</h2>
<div class="row">
{{#if msg}}

<body onload="M.toast({html: '{{msg}}'})">

</body>
{{/if}}
  <form action="/user/create" method="POST" class="col s6">
    <label for="username">Pick your Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Pick your Password</label>
    <input type="text" id="password" name="password">
    <div class="row">
      <div class="col ">
        <a class="btn waves-effect waves-light" href="/">Back
          <i class="material-icons left">arrow_back</i>
        </a>
      </div>
      <div class="col offset-s1 ">
        <button class="btn waves-effect waves-light">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    
  </form>
</div>