<h2>signup</h2>

<form action="/signup" method="POST">
  <label>Pick a Username</label>
  <input type="text" name="theUsername">

  <label>Password</label>
  <input type="text" name="thePassword">

  <button>Save</button>

</form>