<h2>Signup</h2>

<form id="user-form" action="/signup" method="POST">

<label>Pick A Username</label>
<input type="text" name="theUsername">


<label>Password</label>
<input type="text" name="thePassword">



<button>Save</button>
</form>