<h2>Add new celebrity</h2>

<form action="/add-celebrity" method="post">
  <input type="text" name="name" placeholder="Celebrity name">
  <input type="text" name="occupation" placeholder="Celebrity occupation">
  <input type="text" name="catchPhrase" placeholder="Celebrity catch phrase">
  <button type="submit">Add your celebrity</button>
</form>