<h2>Add a celebrity</h2>

<form action="/process-celebrity" method="POST">
    <input type="text" name="name" placeholder="Celebrity Name" />
    <br />
    <input type="text" name="occupation" placeholder="Celebrity Occupation" />
    <br />
    <input type="text" name="catchPhrase" placeholder="Catch Phrase" />
    <br />

    <button>Add the Celebrity</button>
</form>