
<div>
<h1>

The name: {{theCelebrity.name}}
</h1>
</div>
<div>
<h2>

Occupation: {{theCelebrity.occupation}}
</h2>
</div>
<h2>

 Catch Phrase: {{theCelebrity.catchPhrase}}
</h2>
<button>
    <a href="/editCelebrity">
        Edit celebrity
    </a>
</button>