
<form action="/celebrities/update/{{celebrity._id}}" method="POST">

    <label for="">Name</label>
    <input type="text" name="name" value="{{celebrity.name}}">

    <label for="">Occupation</label>
    <input type="text" name="occupation" value="{{book.description}}">

    <label for="">Author</label>
    <input type="text" name="thePhrase" value="{{book.author}}">

   

    <button>Submit Changes</button>



</form>