<h1>Welcome to this page!</h1>

<a href="./celebrities">Click here to see spicy celebrities (but only their names)</a></br>
<a href="./movies">Click here to see some spicy movies we have (all safe for work ofc)</a>

{{#if theUser}}

<div>
  {{theUser.username}}
</div>
{{/if}}
