<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrity"><button>Click here to see a list of celebrities</button></a>
<a href="/movies"><button>Click here to see a list of movies</button></a>

