<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div><a href="/celebrities">Go to Celebrities</a></div>
    <div><a href="/movies/">Go to Movies</a></div>
    
  </body>
</html>
