<!DOCTYPE html>
<html>
  <head>
    <title>celebrities</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="display: flex; align-items: center; flex-direction: column; text-align: center;">
    <h1>CLICK ON SOMETHING!</h1>
    <%- body %>
    <a href="/">Home</a>
  </body>
</html>