<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/">HOME</a>
      &nbsp;
      &nbsp;
      <a href="/celebrities">CELEBRITIES</a>
      &nbsp;
      &nbsp;
      <a href="/celebrities/new">NEW CELEBRITY</a>
      &nbsp;
      &nbsp;
    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
