<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>





    <%- body %>
    <footer>
      <div class="links">
        <a href="/"> Home </a>
        <br>

        <p> Celebrities </p>

        <a href="/celebrities"> Celebrities </a>
        <br>

        <a href="/celebrities/new"> Add Celebrities </a>
        <br>

        <p> Movies </p>

        <a href="/movies"> Movies </a>
        <br>

        <a href="/movies/new"> Add Movies </a>
        <br>
      </div>
    </footer>

  </body>
</html>
