<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>





    <%- body %>
    <a href="/"> Home </a>
    <br>

    <a href="/celebrities"> Celebrities </a>
    <br>

    <a href="/celebrities/new"> Add Celebrities </a>
    <br>
  </body>
</html>
