<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1> Celebrity Central </h1>

      <nav>
        <a href="/">Home</a>
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/new">Add a New Celebrity</a>
      </nav>

    <%- body %>

  </body>
</html>
