<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/celebrities">Celebrities</a>
        <%# <a href="/celebrities/new"> Add a celebrity</a>%>
      </nav>
    </header>

    <%- body %>

    <footer>
      <p>
        Made with 💓 at Ironhack
      </p>
    </footer>

  </body>
</html>
