<div>
        
        <h1>SHOW ME A GOD DAMN POKEMON</h1>

        <button id="poke-button">GET THE POKE, DO IT</button>

        <div id="poke-info"></div>
        <div id="poke-photo"></div>
        
    </div>

<h2>LIST OF CHARACTERS</h2>

<button id="list-button">LIST BUTTON</button>

<div id="characters-div">

</div>


<script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <script src='/javascripts/script.js'></script>