<h2 class="movies-header">Movies page</h2>
<hr>
<ul class="container">
{{#each movies}}
    <li class="row my-3 cel-opt"><span class="title badge badge-success p-3">{{this.title}}</span></li>
    <a class="btn btn-primary ml-2" href="/movies/{{this._id}}">Click to get more information!</a>
    <a class="btn btn-warning mx-3" href="/movies/{{this._id}}/edit">Click to edit information!</a>
    <a class="btn btn-danger" href="/movies/{{this._id}}/delete">Get rid of this movie!</a>
    <hr>
{{/each}}
</ul>
<hr>
<p>Didn't find your favorite movie here? Add new one! <a class="btn btn-primary" href="/movies/new">Click right now!</a><a class="btn btn-primary m-2" href="/">Return to main page!</a></p>
