<h2>Adding movie page!</h2>
<hr>
<form action="/movies" method="POST">
    <div class="form-group"><label for="title">TITLE</label><input name="title" placeholder="Enter new title" type="text" class="form-control"></div>
    <div class="form-group"><label for="genre">GENRE</label><input name="genre"  placeholder="Enter genre" type="text" class="form-control"></div>
    <div class="form-group"><label for="plot">PLOT</label><input name="plot" placeholder="Enter plot" type="text" class="form-control"></div>
    <button class="btn btn-success" type="submit">SUBMIT</button>
</form>