<h2>Movie's info page!</h2>
<hr>
<p>OUR MAIN MOVIE TODAY IS: <span class="badge badge-secondary">{{movie.title}}</span>
<p>This movie is in genre <span class="badge badge-info">{{movie.genre}}</span>. Its short plot is : <span class="badge badge-info">{{movie.plot}}</span></p>
<a class="btn btn-primary" href="/movies">Return to movies page!</a>