<h2>Create a new house</h2>

<form action="/schools/new" method="post">
    <label for="house">House</label>
    <input type="text" name="house">

    <label for="colour">House colours</label>
    <input type="text" name="colour">

    <label for="animal">House animal</label>
    <input type="text" name="animal">

    <button type="submit">Submit</button>
</form>