<h1>Hello, {{currentUser.username}}</h1>

<h2>Check out our list of Movies!</h2>
<a href='/movies'><button class="list-button">Movies</button></a>
<br>
<br>
<h2>Check out our list of Celebrities</h2>
<a href='/celebrities'><button class="list-button">Celebrity list</button></a>
<br>
<br>
