<h2>Welcome Login </h2>

<div class="formcontainer">

<form action="/login" method="POST">
Username: 
<input type="text" name="theUsername">
Password:
<input type="password" name="thePassword">
<button>Login</button>
</form>

</div>
