<section>
  <div class="board">
    <div class="board2">
      <form class="form" action="/login" method="POST">
        <label>Your username:</label>
        <input type="text" name="theUsername">
        <label>Password:</label>
        <input type="text" name="thePassword">
        <button class="btn">LOGIN</button>
        {{#if error}}
          <div>{{error}}</div>
        {{/if}}
      </form>
    </div>
  </div>
</section>