<h1 class="pagelogin">LOGIN</h1>

<form  class="pagelogin" action="/login" method="POST">

<p>USERNAME</p>
<input type="text" name="theUsername">

<p>PASSWORD</p>
<input type="password" name="thePassword">
<br>
<button class="login">SIGN IN</button>


</form>