<h1>SIGN UP</h1>

<form action="/signup" method="POST">

<p>USERNAME</p>
<input type="text" name="theUsername">

<p>PASSWORD</p>
<input type="password" name="thePassword">
<br>
<button class="login">CREATE ACCOUNT</button>


</form>