<h2>Welcome to Sign up </h2>

<div class="formcontainer">

<form action="/signup" method="POST">
Username: 
<input type="text" name="theUsername">
Password:
<input type="password" name="thePassword">
<button>Login</button>
</form>

</div>


