<h2>Sign Up</h2>


<form action="/User/signup" method="POST">

<label>Pick A Username</label>
<input type="text" name="theUsername">


<label>Password</label>
<input type="text" name="thePassword">



<div class="center-align"><button class="waves-effect waves-light btn-large">Save</button></div>
</form>
