<h1>Signup</h1>

<form action="/signup" method="POST">

<label>Username</label>
<input type="text" name="username" required>

<label>Password</label>
<input type="text" name="password" required>

<button>Submit</button>

</form>

{{#if message}}
<h3>
{{message}}
</h3>
{{/if}}