<section>
  <div class="board">
    <div class="board2">
      <form class="form" action="/signup" method="POST">
        <label>Choose a username:</label>
        <input type="text" name="theUsername">
        <label>Password:</label>
        <input type="text" name="thePassword">
        <button class="btn">SIGN UP</button>
      </form> 
    </div>
  </div>
</section>