<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{celeb.name}}</h1>
    <p class="lead">{{celeb.occupation}}</p>
     <p class="lead">{{celeb.catchPhrase}}</p>
  </div>
</div>