<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Options:</h1>
    <p>Welcome to the Jungle</p>
    <a href="celebrities">Ir a celebrities</a><br/><br/>
    <a href="celebrities/new">Añadir celebrities</a>
  </body>
</html>
