<h1>Add a Celebrity</h1>
<form action='add' method='post'>
  <label for="name">Celeb name: </label>
  <input type='text' name='name' id='name' placeholder='Celeb name'>
  <label for="occupation">Occupation: </label>
  <input type='text' name='occupation' id='occupation' placeholder='Occupation'>
  <label for="catchphrase">Catchphrase: </label>
  <input type='text' name='catchPhrase' id='catchphrase' placeholder='Catchphrase'>
  <input type="submit" value="Save celeb">
</form>