<h1>Add a Celebrity</h1>
<form>
  <label for="name">Celeb name: </label>
  <input type='text' name='name' id='name' placeholder='Celeb name'>
  <label for="occupation">Occupation: </label>
  <input type='text' name='occupation' id='occupation' placeholder='Occupation'>
  <label for="catchphrase">Catchphrase: </label>
  <input type='text' name='catchphrase' id='catchphrase' placeholder='Catchphrase'>
</form>