<h2>{{celebDetails.name}}'s Details</h2>


<h5>{{celebDetails.occupation}}</h5>
<p>{{celebDetails.catchphrase}}</p>

<a href="/celebrities/edit/{{celebDetails.id}}">
<button>Edit this Celeb</button>
</a>