<h1>Edit celebrity</h1>
<h2>{{name}}</h2>
<form action='edit' method='post'>
  <label for="name">Name:</label>
  <input type='input' id="name" name='name' value='{{name}}'>
  <label for="occupation">Occupation:</label>
  <input type='input' id="occupation" name='occupation' value='{{occupation}}'>
  <label for="catchphrase">Catchphrase:</label>
  <input type='input' id="catchphrase" name='catchPhrase' value='{{catchPhrase}}'>
  <input type='submit' value='Save changes'>
</form>