
<h2>Celebrities</h2>
<a href="/celebrities/new"><button type="button" name="button">Add Celebrity</button></a>

<% celebrities.forEach((person) => { %>
<ul>
    <li><%= person.name %> <a href="/celebrities/<%= person._id %>">View</a>
      | <a href="/celebrities/<%= person._id %>/edit">Edit</a>
    |  <form action="/celebrities/<%= person._id %>/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
  </li>
</ul>
<% }) %>

<a href="/">Back to Home</a>
