<h2>Celebrities</h2>

<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li>
      <%= celebrity.name %> - $<%= celebrity.price %>
      <a href="/celebrities/<%= celebrity.id %>">View</a>
    </li>
  <%  }) %>
</ul>
