
<h2>List of all celebrities:</h2>
<p><a href="/celebrities/new">Add a new celebrity</a></p>
<ul>
    <% celebrities.forEach((celebrity) => { %>
        <li style="margin-bottom: 1em">
          <b>Name: </b><%= celebrity.name %> <br>
          <br><a href="/celebrities/<%=celebrity._id %>">View details</a>
          <a style="margin-left: 1em" href="/celebrities/<%= celebrity.id %>/edit/">Edit</a>
          <form style="margin-left: 1em; display: inline-block" action="/celebrities/<%=celebrity.id%>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
        </li>
    <% }) %>
</ul>