<h2>Celebrities List</h2>

<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li>
      <%= celebrity.name %>
      <a href="/celebrities/<%= celebrity._id %>">View Details</a>
    </li>
  <%  }) %>
</ul>
<a href="./celebrities/new">New Celebrity</a>
