<h2>Celebrities</h2>

<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li>
      <%= celebrity.name %> - $<%= celebrity.price %>
      <a href="/celebrities/<%= celebrity.id %>">View</a>
      <form action="/celebrities/<%= celebrity._id %>/delete" method="POST">
        <button type="submit">Delete Celeb</button>
      </form>
    </li>
  <%  }) %>
</ul>
