<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lab-mongoose-movies</title>
  </head>
  <body> -->

    <h2><%= title %></h2>

    <ul>
  <% celebrities.forEach((c) => { %>
    <li>
      <%= c.name %> - $<%= c.occupation %> - $<%= c.catchPhrase %>
    </li>
  <%  }) %>
</ul>
<a href="/celebrities">Back to celebrities...</a>
<!-- 
  </body>
</html> -->
