<h2>Create a celebrity</h2>
<form action="/celebrities/new" method="post">
    <input type="text" name="name" placeholder="Name"> 
    <input type="text" name="occupation" placeholder="Occupation"> 
    <input type="text" name="catchPhrase" placeholder="Catchphrase"> 
    <button type=submit>Submit Celebrity</button>
</form>