<h2>Create a new Celebrity</h2>

<form method="post" action="/celebrities">
    <label for="celebrity-name"> Celebrity Name: </label>
    <input type="text" name="_name">

    <label for="occupation"> Occupation: </label>
    <input type="text" name="_occupation">

    <label for="catchPhrase"> Catch Phrase: </label>
    <input type="text" name="_catchPhrase">

  <button type="submit">New Celebrity</button>
</form>
