<h1>CREATE NEW CELEB PAGE</h1>

<form action="/celebrities/create" method="post">

<label>Name:</label>
<input type="text" name="name">
<br>

<p><label>Occupation:</label>
<input type="text" name="occupation">
<br>

<p><label>Catchphrase:</label>
<input type="text" name="catchPhrase">
<br>

<p></p><button type="submit">Save Book</button>


</form>