<h2>Add a new celebrity</h2>

<form action="/celebrities" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation">

  <label for="catchPhrase">Catchphrase:</label>
  <input type="text" name="catchPhrase">

  <input type="submit" value="Add new celebrity">
</form>

<p>
  <a href="/">Home</a>
</p>

<p>
  <a href="/celebrities/">List of celebrities</a>
</p>