<h2>Add a Celebrity</h2>

<form action="/celebrities/new" method="POST">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name">
    </div>

    <div>
        <label for="occupation">Occupation: </label>
        <input type="text" name="occupation">
    </div>

    <div>
        <label for="catchPhrase">Catchphrase: </label>
        <input type="text" name="catchPhrase">
    </div>


<p><button type="submit">Submit</button></p>
    

</form>