<div id="newC">
  <h2>
    New Celebrity
  </h2>
  <br>
  <form action="/celebrities/new" method="post">
    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">Occupation: </label>
    <input type="text" name="occupation">

    <label for="">Catch Phrase: </label>
    <input type="text" name="catchPhrase">

    <button type="submit"> Add </button>
  </form>
<br>
<p><a href="/celebrities">Go Back</a></p>

</div>