<h2>MAKE A CELEB</h2>

<div>

<form action="/celebrities/create" method="POST">

<label for="">name</label>
<input type="text" name="celebName">
<label for="">occupation</label>
<input type="text" name="celebOccupation">
<label for="">catchphrase</label>
<input type="text" name="celebCatchphrase">
<button>CREATE</button>



</form>
</div>