<h2>Add a celebrity</h2>

<form action="/celebrities" method="POST">

    <label for="name">Name</label><br>
    <input id="name" type="text" name="name"><br><br>

    <label for="occupation">Occupation</label><br>
    <input id="occupation" type="text" name="occupation"><br><br>

    <label for="catch-phrase">Catch Phrase</label><br>
    <input id="catch-phrase" type="text" name="catchPhrase"><br><br>

    <button type="submit">Create</button>

</form>