<h2> Add a celebrity</h2>

<form action="/celebrities" method="post">

      <label for="celebrity-name-input"> Name </label>
      <input id="celebrity-name-input" type="text" name="celebrityName" placeholder="e.g Some dude" />
      <br/>

      <label for="celebrity-ocupation">  Ocupation </label>
      <input id="celebrity-ocupation" type="text" name="celebrityOcupation" placeholder="e.g Breakdancer" />
      <br/>

      <label for="celebrity-catchphrase"> Catchphrase </label>
      <input id="celebrity-catchphrase" type="text" name="celebrityCatchphrase" placeholder=" e.g Wooooah" />
      <br/>

      <button> Add celebrity </button>
    </form>
