<h1>Add a New Celeb</h1>


<form action="/celebrity/create" method="POST">

    <label for="">Name</label>
    <input type="text" name="celebName">

    <label for="">Occupation</label>
    <input type="text" name="celebOccupation">

    <label for="">Catchphrase</label>
    <input type="text" name="celebCatchphrase">

    <button>Create</button>



</form>