<h2><%= celeb.name %></h2>

<ul>
        <li>
            <%# celebrity is defined in routes/celebrities %>
            <p>Name: <%= celeb.name %><br>
            Occupation: <%= celeb.occupation %><br>
            Catch Phrase: <%= celeb.catchPhrase %><br>
            </p>
        
            
        </li>
    
</ul>

<button type="button"><a href ='/'>Back</a></button>