
<h2>Details:</h2>
<ul>
        <li style="margin-bottom: 2em">
          <b>Name: </b><%= celebrity.name %> <br>
          <b>Occupation: </b><%= celebrity.occupation %> <br>
          <b>Famous Phrase: </b><%= celebrity.catchPhrase %> <br>
        </li>
</ul>