<h1><%= celebrity.name %></h1>
<h3>Celebrity Occupation: <span><%= celebrity.occupation %></span></h3>

<p><%= celebrity.catchPhrase %></p>

<button><a href="/celebrities/">Celebrities</a></button>
<button><a href="/celebrities/<%= celebrity._id %>/edit">Update</a></button>