<div id="show">
<h2> Celebrity: </h2>
<p> {{celeb.name}} </p>
<p> {{celeb.occupation}} </p>
<p> {{celeb.catchPhrase}} </p>

<a href="/celebrities/{{celeb.id}}/edit"><p> [ Edit ] </p></a>


<a href="/celebrities">Go back</a>

</div>
