<h2> <%= celebrityDetails.name %> </h2>

<p> ocupation : <%= celebrityDetails.ocupation %> </p>
<p> catchPhrase: "<%= celebrityDetails.catchPhrase %>"</p>

<a href="/celebrities/<%= celebrityDetails._id %>/edit"> Edit this Celebrity </a>
