{{#with celebrity}}
<h2>{{name}}</h2>

<div class="celebrity-detail">
  <h3>Name:</h3>
  <p>{{name}}</p>

  <h3>Occupation:</h3>
  <p>{{occupation}}</p>

  <h3>Catchphrase:</h3>
  <p>{{catchPhrase}}</p>
</div>
{{/with}}

<p>
  <a href="/celebrities">List of celebrities</a>
</p>
<p>
  <a href="/">Home</a>
</p>
