<div id='active-users-page'>

<h1>All Active Users:</h1>



<div class='all-active-users'>

{{#each users}}

<div>

<h2>
{{this.username}}
</h2>
</a>

<form action="/admin/delete/{{this._id}}" method="POST">
    <button>Delete Account</button>
</form>


</div>



{{/each}}


</div>




</div>

