<div class="user-new">
    <h2>User Login</h2>
    {{> site-error}}
    <form method="POST" action="/login">

        <label for="username">Username:</label>
        <input name="username" type="text" required />

        <label for="password">Password:</label>
        <input name="password" type="password" required />

        <button class="submit">Submit</button>
        {{> form-error}}

        <p class="account-message">
            Don't have an account? <a href="/signup">Sign up</a>
        </p>

        <div>
            <a href="/auth/google">Login With Google</a>
        </div>

    </form>
</div>