
  <h2>Login</h2>




<form action="/login" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your Password">


  <button>Sign in</button>


</form>


  {{#if errorMessage }}
    <div>{{ errorMessage }}</div>
  {{/if}}