<h1>Login</h1>
<form action="/login" method="POST">
  <div>
      <label for="userName">Username </label>
      <input type="text" name="username" id="userName">
  </div>
  <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
  </div>
  <button type="submit">Submit</button>
</form>