<div class="title-bar">
    <a href="/">
        <button type="button" class="btn btn-info">Back To Homepage</button>
    </a>
    <h1>You have successfully logged out!</h1>
    <a href="/login">
        <button class="btn btn-success">Login</button>
    </a>
</div>