<div id='new-account-page'>

<h2>Create New Account</h2>


<form class='new-account-form' action="users/signup" method="POST">

    <div>
    <label >Username</label>
    <input type="text" name="theUsername">
    </div>

    <div>
    <label >Password</label>
    <input type="text" name="thePassword">
    </div>

    <div>
        <label>Is This User An Administrator?</label>
        <input name="role" type="checkbox" value="true">
    </div>


    <button>Submit</button>


</form>


</div>


