<h1>This is your profile</h1>


<h3>Welcome {{theUser.username}}</h3>

<form action="/account/delete-my-account" method="POST">
<button>Delete My Account</button>
</form>


<img style="width: 400px" src="{{theUser.image}}">