<div class="user-new">
    <h2>User Signup</h2>
        <div class="error">{{error}}</div>
        <form method="POST" action="/signup">

            <label for="username">Username:</label>
            <input name="username" type="text" required />

            <label for="password">Password:</label>
            <input name="password" type="password" required />

            <br /><br />
            <button>Submit</button>

        </form>
</div>