{{#if userInSession}}
<h1>Bienvendo , no es necesario registrarse ya estas dentro {{userInSession.name}}</h1>
{{/if}}

{{#unless userInSession}}
<h2>Sign-up here</h2>
<div class="container">
    <div class="row  justify-content-center">
        <div class="col-2">
        <form action="/signup" method="POST">
        <label for="input-name">Name: </label>
        <input required type="text" name="name" placeholder="Your name"/>
        <label for="input-email">Email: </label>
        <input required type="email" name="email" placeholder="Your email"/>
        <label for="input-password">Password: </label>
        <input required type="password" name="password" id="input-password" placeholder="********"/>
        <button class="btn btn-warning" type="submit">Sign-up!</button>
    </form>
     {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
        </div>
    </div>
</div>
{{/unless}}


