<h2>Sign-up here</h2>
 <form action="/signup" method="POST">
        <label for="input-name">Name: </label>
        <input type="text" name="name" placeholder="Your name"/>
        <label for="input-email">Email: </label>
        <input type="email" name="email" placeholder="Your email"/>
        <label for="input-password">Password: </label>
        <input type="password" name="password" id="input-password" placeholder="********"/>
        <button type="submit">Sign-up!</button>
    </form>