<h2 style="padding-top: 4rem;">Signup For An Account!</h2>


<form action="/signup", method="POST">

<p>Username</p>
<input type="text" name="username">


<p>Password</p>
<input type="text" name="password">



<button>Save</button>



</form>