
<div id='signup-page'>



<h1>Signup</h1>

<form class='signup-form' action="users/signup" method="POST">


<div>
    <p>Username</p>
<input type="text" name="theUsername">
</div>


<div>
<p>Password</p>
<input type="password" name="thePassword">
</div>




<button>Submit</button>
</form>


  <div>
    <a href="/users/auth/google">Signup With Google</a>
  </div>


</div>



