<h1>Please Sign Up</h1>

<form action="/user/signup" method="POST">

  <label>Username: </label>
  <input type="text" name="username" required>
  <label>Password: </label>
  <input type="password" name="password" required>
  <label>First Name: </label>
  <input type="text" name="firstName" required>
  <label>Last Name: </label>
  <input type="text" name="lastName" required>

<button>Submit</button>

</form>

{{#if message}}
{{message}}
{{/if}}