<h2>Signup For An Acount</h2>
<form action="/signup" method="POST">
    <div>
        <label for="userName">Username</label>
        <input type="text" name="theUsername" id="userName">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="thePassword" id="password">
    </div>
  <button type="submit">Submit</button>
</form>