{{#if userInsession}}
<h2>Welcome, {{userInsession.username}}!</h2>
<p>This is your profile page.</p>

<a href="/celebrities">Celebrities</a>
<a href="/celebrities/new">New celebrity</a>
<a href="/movies">Go to movies page</a>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}