<h1>{{header}}</h1>

<ul>
  {{#each celebritytables as |celebrity|}} 
  <li>Name: {{celebrity.name}} - Occupation: {{celebrity.occupation}}</li>
  {{/each}}
</ul>


<p><a href="/">Return</a></p>
{{!-- {{> authorForm}} --}}