<h1>{{header}}</h1> - NAME: {{celebritytables.name}}

<p>
  <strong>- RATE: {{celebritytables.occupation}}</strong>
</p>
<p>
  -CATCH PHRASE: {{celebritytables.catchPhrase}}
</p>

<p><a href="/celebrities">Regresar</a>
</p>