<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/celebs">Celebs List</a></li>
    <li><a href="/movies">Movies List</a></li>
  </ul>
    <%- body %>
  </body>
</html>
