<h2>Movies Information</h2>

<ul>
  <li> <b>Title: </b>{{movies.title}}  </li>
  <li> <b>Genre: </b>{{movies.genre}}  </li>
  <li> <b>Plot: </b>{{movies.plot}}  </li>


</ul>




<a href="/movies/index">Go back to All Movies</a>
