<div class="indWrap container">
<div class="row"><a class="btn btn-primary btn-lg startBtn" href="/celebrities">Check our celebrities!</a></div>
<div class="row"><a class="btn btn-primary btn-lg startBtn" href="/movies">Check our movies!</a></div>
</div>