<br>
<h2>List of celebrities</h2>
<br>
<ul class="list-group">

    {{#each celebritiesArr}}
    <li class="list-group-item">

        <a href='/celebrities/{{this._id}}'>{{this.name}}</a>

        <form action='/celebrities/{{this._id}}/delete' method='post'>
            <br>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
        <br>
        <a href='/celebrities/{{this._id}}/edit'><button type="button" class="btn btn-primary">Edit</button></a>

    </li>
    {{/each }}

</ul>

<br>
<br>

<a href='/celebrities/new'><button type="button" class="btn btn-primary">Create a new celebrity!</button></a>
<a href='/'><button type="button" class="btn btn-primary">Go back!</button></a>