<form action="/celebrity/{{celebrity._id}}/edit" method="post">
    <label for="">Name:</label>
    <input type="text" name="name" value="{{celebrity.name}}">
  
  <label for="">Occupation:</label>
  <input type="text " name="ocuppation" value="{{celebrity.occupation}}">

    <label for="">Catch Phrase:</label>
    <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">

    <button type="submit">EDIT</button>
</form>