{{#with celebrity}}
    
        <h2>{{name}}</h2>

        <h4>Occupation:</h4>
        <p>{{occupation}}</p>
       <h4>CatchPhrase:</h4>
        <p>{{catchPhrase}}</p>
{{/with}}
<a href="/celebrity">Go back to CELEBRITY</a>