<h1>New celebrity</h1>

<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="Catch phrase">
  <input type="submit" value="Add">
</form>