<h2>{{celeb.name}}</h2>

<ul>
  <li><b>Name: </b>{{celeb.name}}</li>
  <li><b>Ocupattion: </b>{{celeb.occupation}}</li>
  <li><b>Catch phrase: </b> <i>"{{celeb.catchPhrase}}"</i></li>
</ul>

<a href="/celebrities">Back to list</a>