<h2>Add a New Celebrity</h2>

<form action="/celebrities/creation" method="POST">


<p>Name</p>
<input type="text" name="theName">

<p>Occupation</p>
<input type="text" name="theOccupation">

<p>Catchphrase</p>
<input type="text" name="theCatchPhrase">

<p>Photo URL</p>
<input type="text" name="theImage">

<button>Save</button>


</form>