<h1>Welcome to celebrity details page</h1>


<h2>{{celeb.name}}</h2>

<h3>{{celeb.occupation}}</h3>

<h4>{{celeb.catchPhrase}}</h4>

<img style="width:400px" src="{{celeb.image}}" alt="no image found">
