<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <h1> Mongoose Movies </h1>

    <a href="/celebrities"> Celebrities </a>
    <a href="/movies"> Movies </a>

    <%- body %>


  </body>
</html>
