



<body>
  <form id="form" action="/signup" method="POST">
    <h2>Sign Up</h2>

    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="AnakinSkywalker">

    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="DeathStar">

    <br><br>
    <label for="email">eMail</label><br>
    <input type="text" name="email"
      placeholder="Anakin@Skywalker.com">
    <br><br>

    <label for="">Message</label>
    <textarea type="text" name="message" id=""></textarea>

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button>Create account</button>

    <p class="account-message">
      Have an account already? <a href="/login">Log in</a>
    </p>
    <p class="account-message">
      Or log In with google <a href="/auth/google">Login With Google</a>
    </p>
  </form>