<div id="container">
  <h2>You {{ user.username }} are in a session!</h2>
  <div></div>
  
  <a href="/">back to HOme</a>
  <hr>
  {{#if message}}
      <div class="error-message">{{ message }}</div>
  {{/if}}
</div>