<h2> Add a movie to our database </h2>
<form action="/movies/add" method="post">
  <label for="title-input"> Title of Film: </label>
  <input type="text" name="movieTitle" id="title-input"><br><br>

  <label for="genre-input"> Genre: </label>
  <input type="text" name="movieGenre" id="genre-input"><br><br>

  <label for="plot-input"> Plot: </label>
  <textarea name="moviePlot" id="plot-input"></textarea><br><br>

  <button> Add this movie </button>
</form>
