<div class="addForm">

<h2>Add New Movie</h2>

<form action="/create-the-movie" method="POST">



<p>Title</p>
<input type="text" name="newMovieTitle">

<p>Director</p>
<input type="text" name="newMovieDirector">


<p>Description</p>
<input type="text" name="newMovieDescription">

<p>Image</p>
<input type="text" name="newMovieImage">
    <button>Save!</button>

</form>
</div>