<h1> Add your favorite movie </h1>

<form action="/create-the-movie" method="POST">

  <p> Title </p>
  <input type="text" name="theNewTitle">

  <p> Year</p>
  <input type="text" name="theNewYear">

  <p> producer </p>
  <input type="text" name="theNewProducer">
  <button> Save!</button>


</form>