<h2>New celebrity</h2>

<form action="/celebrities" method="POST">
  <p>
    <label>
      Name:
      <input type="text" name="name">
    </label>
  </p>

  <p>
    <label>
      Occupation:
      <input type="text" name="occupation">
    </label>
  </p>

  <p>
    <label>
      Catch phrase:
      <input type="text" name="catchPhrase">
    </label>
  </p>

  <button>Add this celebrity</button>
</form>