<div class="card m-3">
  <div class="card-header">
    {{ this.name}}
    <a href="/celebrities/{{this._id}}" class="btn btn-primary float-right">View</a>
  </div>
  {{!--   <div class="card-body">
    <h5 class="card-title">{{ this.catchPhrase }}</h5>
    <p class="card-text">{{ this.occupation }}</p>
  </div> --}}
</div>