
<h2>Add movie</h2>

    <% if(movie.isNew) { %>
      <form action="/movie" method="POST">
    <% } else { %>
      <form action="/movie/<%= movie._id %>" method="POST">
    <% }%>


      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= movie.name %>">

      <label for="genre">genre</label>
      <input type="text" name="genre" id="genre" value="<%= movie.genre %>">

      <label for="plot">plot</label>
      <input type="text" name="plot" id="plot" value="<%= movie.plot %>">

      <button type="submit">Save</button>
    </form>
