<h2>celebrities</h2>
<ul>
    <% celebritiesList.forEach((celeb) => { %>
        <li>
            Name:<a href="/celebrities/<%= celeb.name %>"> <%= celeb.name %>  </a>
        </li>
    <% }) %>
</ul>
<div><a href='/celebrities/new'>add new celebrities</a></div>
