<h2>Add a new celebrity</h2>

<form action="/celebrities" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">Catchphrase</label>
  <input type="string" name="catchPhrase" id="catchPhrase">

  <button type="submit">Create Celebrity</button>
</form>
