<h2>celebrity details</h2>
<ul>
        <li>
            Name: <%= nameMatch.name %> 
        </li>
        <li>
            Occupation: <%= nameMatch.occupation %> 
        </li>
        <li>
            CatchPhrase: <%= nameMatch.catchPhrase %> 
        </li>
</ul>
