<h2>Create your own celebrity</h2>

<form action="/celebrities" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="price">Occupation</label>
  <input type="text" name="occupation" id="price">

  <label for="image-url">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="image-url">


  <button type="submit">Create celebrity</button>
</form>
