<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Add a Celebrity </title>
  </head>
  <body>

    <form class="newCeleb" action="/celebrities/new" method="post">
      <label for="name">Name:</label> <br>
      <input id="name" type="text" name="name" value="" placeholder="Name"> <br><br>

      <label for="occupation">Occupation:</label> <br>
      <input id="occupation" type="text" name="occupation" value="" placeholder="Occupation"> <br><br>

      <label for="catchPhrase">Catch Phrase:</label> <br>
      <input id="catchPhrase" type="text" name="catchPhrase" value="" placeholder="Catch Phrase"> <br><br>

      <button type="submit" name="button">Submit</button>
    </form>

  </body>
</html>
