<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= result.name %></title>
  </head>
  <body>

    <h1>Details:</h1>
    <ul>
      <li> Name:   <%= result.name %></li>
      <li> Occupation:  <%= result.occupation %></li>
      <li> Catch Phrase:  <%= result.catchPhrase %></li>
    </ul>

  </body>
</html>
