<h1>Celebrity Data</h1>

<h3><em>Before we get started, we'd like to credit <b>YOU, the developer</b>, as the true celebrity.</em></h3>



<button id ="get-celebrities">Get all the celebrities</button>

<div class = "celebrity-list">
  </div>