<h2>Federation Files: {{name}}</h2>

<a href = "/celebrities/">Go back</a>
<p><b>Name:</b> {{this.name}}</p>
<p><b>Occupation:</b> {{this.occupation}}</p>
<p><b>Favorite Quote:</b> "{{this.catchPhrase}}"</p>
