<h2>Create new Celebrity</h2>

<form action="/celebrities/new" method="POST">
  <P>
    <label>Name</label>
    <input type="text" name="name">
  </P>
  <P>
    <label>Occupation</label>
    <input type="text" name="occupation" />
  </P>
  <P>
    <label>Catch Phrase</label>
    <input type="text" name="catchPhrase" />
  </P>

  <input type="submit" value="Add Celeb">
  </p>
</form>