<section class="container">

    <h1 class="bests">BEST CELEBRITIES EVER</h1>

    <div class="row">

        {{#each allCelebs}}

        <div class="col-md-4 nolist">


        <a href="/celebrities/{{this.id}}"><h2 class="nolist">{{this.name}}</h2></a>
        
        <form action="/celebrities/{{this.id}}/delete" method="POST">
        
        <button type="submit" class="btn btn-lg btn-dark">Delete</button>
        
        </form>
            

        </div>

        {{/each}}

    </div>
<br>
    <div>
        <a href="/celebrities/new" class="btn btn-lg btn-warning">Create your own celebrity</a>
    </div>

</section>