<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">All celebrities</li>
  </ol>
</nav>

<h1>All celebrities</h1>
<hr>
{{#each celebs}}
    <a href="/celebrities/{{_id}}" class="card p-3 mb-2">
        <h5>{{this.name}}</h5>
        {{this.occupation}}
        {{this.catchPhrase}}
    </a>
{{/each}}

<a href="/celebrities/create" class="btn btn-dark mt-2">+ Create your celebrity</a>