<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h2>Create new celebrities!</h2>

      <form method="POST" action="/celebrities">

        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" name="name">
        </div>

        <div class="form-group">
          <label>Occupation</label>
          <input type="text" class="form-control" name="occupation">
        </div>

        <div class="form-group">
          <label>Catchphrase:</label>
          <input type="text" class="form-control" name="catchphrase">
        </div>

        <button type="submit" class="btn btn-info">Create celeb!</button>

        {{#if errorMsg}}
        <div style="background: brown; color: white; text-align: center; padding: 10px; margin-top:20px">
          {{errorMsg}}</div>
        {{/if}}

      </form>

    </div>

  </div>

</div>