<h2>Create a new Celebrity</h2>
<form action="/celebrities/new" method="post">
    <label for="title-input">Name:</label>
    <input type="text" name="name" id="name-input" />
    <label for="occupation-input">Occupation:</label>
    <input type="text" name="occupation" id="occupation-input" />
    <label for="rate-input">CatchPhrase:</label>
    <textarea name="catchPhrase" id="description-input" cols="30" rows="4"> </textarea>
    <button type="submit">Create</button>
</form>

<a href="/">Go Back</a>