<form action='/celebrities/create' method='POST'>
    <input name="name" placeholder="Name of the celebrity"/>
    <input name="occupation" placeholder="Occupation"/>
    <input name="catchPhrase" placeholder="Catch phrase"/>
    <button class="btn btn-success" type="submit">Create</button>
</form>