<h2>DETAILS OF BEST CELEBRITY:</h2>

<ul>
    <li><strong>Name:</strong> {{allInfo.name}}</li>
    <li><strong>Ocuppation:</strong> {{allInfo.occupation}}</li>
    <li><strong>Best phrase:</strong> {{allInfo.catchPhrase}}</li>
</ul>


 <a href="/celebrities/{{allInfo.id}}/edit" class="btn btn-warning">Edit</a>
