<section class="container">

  <article class="row justify-content-center">

    <div class="col-6 columns">
      <h2>{{celebInfo.name}}'s details</h2>
      <hr><br>
      <h6>{{celebInfo.occupation}}</h6>
      <p>{{celebInfo.catchphrase}}</p>

      <a href="/celebrities/{{celebInfo.id}}/edit" class="btn btn-info">Edit</a>

    </div>

  </article>

</section>