<form action="/celebrities/{{celeb._id}}/edit" method="POST">
    <input name="name" value="{{celeb.name}}"/>
    <input name="occupation" value="{{celeb.occupation}}"/>
    <input name="catchPhrase" value="{{celeb.catchPhrase}}"/>
    <button class="btn btn-success" type="submit">Update</button>
</form>