<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><a href="/celebrities">Celebrities</a></h1>
      <h1><a href="/movies">Movies</a></h1>
    </header>
    <%- body -%>
  </body>
</html>
