
    
    <div class="row">
        <div class="imageLanding">
        </div>
    </div>
<h1>{{title}}</h1>
    <div class="container">
        <div class="row">
            <div class="col col-sm-6">

                <a href="/celebrities">
                    <button class="btn btn-info">Ver todos los personajes</button>
                </a>

            </div>
            <div class="col col-sm-6">
                <a href="/movies">
                    <button class="btn btn-info">Ver todas las películas</button>
                </a>
            </div>




        </div>
    </div>
