<div class="cualquiera">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="tarjetas">
                    <h3>{{movie.title}}</h3>
                    <hr>
                    <h6>Ocupación: {{movie.genre}}</h6>
                    <p>Frase Mítica: {{movie.plot}}</p>
                    <a href="/movies">Ver todas</a>
                </div>

            </div>

        </div>
    </div>

</div>

