<div class="cualquiera">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="tarjetas">
                    <h3>{{celebrity.name}}</h3>
                    <hr>
                    <h6>Ocupación: {{celebrity.occupation}}</h6>
                    <p>Frase Mítica: {{celebrity.catchPhrase}}</p>
                <a href="/celebrities">Ver todas</a>
                </div>

        </div>

    </div>
</div>

</div>