{{#if user}}
<h2>Welcome, {{ user.username }}!</h2>
<p>This is your profile page my friend! And your email is: {{ user.email }}</p>

<a href="">List of Authors</a>
<button>
  <a href="/userProfile">Reload the page</a>
</button>
<form action="/logout" method="POST">
  <button type="submit"> Log Out </button>
</form>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}