<h2>Celebrities List</h2>

<form action="/celebs" method="post" accept-charset="utf-8">
	<input type="text" name="name" placeholder="Enter the name"><br>
	<input type="text" name="occupation" placeholder="Enter the occupation"><br>
	<input type="text" name="catchPhrase" placeholder="Enter the catchphrase"><br>
	<button type="submit">Submit</button>
</form>