<form method="POST" action="/celebs/<%=celeb.id%>/edit">
<label>Name</label>
<input type='text' name='name' value="<%=celeb.name%>"/>
<p>
<label>Occupation</label>
<input type='text' name='occupation' value="<%=celeb.occupation%>"/>
<p>
<label>Catch phrase</label>
<input type='text' name='catchPhrase'value="<%=celeb.catchPhrase%>" />
<p>
<button type="submit">Save celebrity</button>
</form>
