<h2> Add a Celebrity </h2>

<!-- weird if statement with "typeof" to avoid an error -->
<% if (typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <!-- we cant do a forEach loop because "validationErrors" is an object -->
    <% for (let field in validationErrors) { %>
      <li> <%= validationErrors[field].message %> </li>
    <% } %>
  </ul>
<% } %>

<form method="post" action="/celebrities">
  <label for="celebrity-name-input"> Celebrity Name: </label> <br />
  <input  id="celebrity-name-input" class="input" type="text" placeholder="e.g. Any Name"
      name="celebrityName" />
  <br />
  <br />
  <label for="celebrity-occupation-input"> Celebrity Occupation: </label> <br />
  <input  id="celebrity-occupation-input" class="input" type="text"
      placeholder="e.g. Job Description" name="celebrityOccupation" />
  <br />
  <br />
  <label   for="celebrity-catchPhrase-input"> Celebrity Catch Phrase: </label> <br />
  <textarea id="celebrity-catchPhrase-input" class="input" placeholder="e.g. Catch Phrase"
      name="clebrityCatchPhrase"></textarea>
  <br />
  <br />
  <button> Save This Celebrity </button>
</form>
