<h2> Check out our Celebrities! </h2>

<a href="/celebrities/new"> Add a New Celeberty </a>

<ul>
  <% listOfCelebrities.forEach((oneCelebrity) => { %>
    <li>
      <h3> <%= oneCelebrity.name %> </h3>

      <ul>
        <li>
          <a href="/celebrities/<%= oneCelebrity._id %>"> WOW! More Info!</a>
        </li>
      </ul>

    </li>
  <% }) %>
</ul>
