<h2> Our Celebrities Information is found here! OMG!!!!!</h2>

<h3> Your Selected Celebrity: </h3>

<p> <b><%= celebrityDetails.name %></b>: </p>

<p> <b>Occupation:</b> <%= celebrityDetails.occupation %> </p>

<p> <b>Catch Phrase:</b> <%= celebrityDetails.catchPhrase %> </p>
