<!--layout.hbs-->

<h2>Celebrities</h2>
<ul>
  {{#each celebrities}}
    <li> 
     <a href = '/celebrities/{{id}}'> {{ name }} </a>
      
      <form action="/celebrities/{{_id}}/delete" method="post">
        <input type="submit" value="delete" />
      </form>
    </li>    
  {{/each}}
  <a href = 'celebrities/new'> ADD </a>
</ul>