<h2 class="movies-head">Sign Up</h2>

<form action="/signup" method="POST" style="width:500px; margin-left:100px">
  <div class="form-group">
    <label for="username">Username</label><br>
    <input type="text" name="theUsername" id="username" /><br>
    <label for="password">Password</label><br>
    <input type="password" name="thePassword" id="password"/><br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
