<h2 class="movies-head">Sign Up</h2>

<form action="/signup" method="POST" style="width:500px; margin-left:100px">
  <div class="form-group">
    <label for="theUsername">Username</label>
    <input
      type="text"
      class="form-control"
      id="theUsername"
      aria-describedby="userHelp"
      placeholder="Create a new username"
      name="theUsername"
    />
  </div>
    <div class="form-group">
    <label for="thePassword">Password</label>
    <input
      type="password"
      class="form-control"
      id="thePassword"
      aria-describedby="userHelp"
      placeholder="Create a new password"
      name="thePassword"
    />
  </div>

  <button type="submit" class="btn btn-primary">Create Account</button>
    <a href="/auth/google" class="btn btn-light google-link"
      >Sign up with Google
      <img
        src="https://img.icons8.com/color/48/000000/google-logo.png"
        class="google-svg"
    /></a>
      <p class="account-message" style="margin-top:10px">
    Already have an account? <a href="/login" class="btn-link">Log In</a>
  </p>
</form>

<a href="https://icons8.com/icon/17949/google" style="display:none">Google icon by Icons8</a>