<h2> List of Celebrities </h2>
<div id='celebritiesList'>
  <ul>
    <% celebrities.forEach( (celebrity) => { %>
      <li>
        <a href="/celebrities/<%=celebrity.id%>">
          <%= celebrity.name %>
          <form action="/celebrities/<%=celebrity.id%>/delete" method="post">
            <button type="submit">Delete</button>
          </form>
        </a>
    </li>
    <%})%>
  </ul>
  <a href="/new">
    Add a new celebrity!
  </a>
</div>