<form action='/movies/{{movie._id}}/reviews/create' method='post'>

  <label for="reviewer">What is your name?</label>
  <input type="text" id="reviewer" name="reviewer"/>

  <label>Please enter your review</label>
  <textarea name="content" id="reviewer" cols="30" rows="1"></textarea>

  <button type="submit">Post</button>
</form>
