
<h2>Details:</h2>
<a href="/movies">Back</a>
<ul>
        <li style="margin-bottom: 2em">
          <b>Title: </b><%= movie.title %> <br>
          <b>Genre: </b><%= movie.genre %> <br>
          <b>Plot: </b><%= movie.plot %> <br>
        </li>
</ul>