<h2>Edit Movie</h2>
<form action="/movies/{{_id}}" method="post">
    Name:<input type="text" name="name" value={{name}}>
    Genre: <input type="text" name="genre" value={{genre}}>
    Plot: <input type="text" name="plot" value={{plot}}>
    <button>Update Movie</button>
</form>