<h2>Edit Movie</h2>
<form action="/movies/{{movie._id}}/edit" method="POST">
    <label for="title">Insert the Title: </label>
    <input type="text" name="title" value="{{movie.title}}">
    
    <label for="genre">Insert the Genre: </label>
    <input type="text" name="genre" value="{{movie.genre}}">

    <label for="plot">Insert the Plot: </label>
    <input type="text" name="plot" value="{{movie.plot}}">

    <input type="submit" value="Edit Movie">
</form>
