<h2>List of movies</h2>

<ul class="movie-list">
{{#each movies}}
<li>
  <h3><a href="/movies/{{id}}">{{title}}</a></h3>
  <form action="/movies/{{id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  <button><a href="/movies/{{id}}/edit">Edit</a></button>
</li>
{{/each}}
</ul>

<p>
  <a href="/">Home</a>
</p>

<p>
  <a href="/movies/new">Add new movie</a>
</p>