
<h2>List of all movies:</h2>
<p><a href="/movies/new">Add a new movie</a></p>
<ul>
    <% movies.forEach((movie) => { %>
        <li style="margin-bottom: 1em">
          <b>Title: </b><%= movie.title %> <br>
          <br><a href="/movies/<%=movie._id %>">View details</a>
          <a style="margin-left: 1em" href="/movies/<%= movie.id %>/edit/">Edit</a>
          <form style="margin-left: 1em; display: inline-block" action="/movies/<%=movie.id%>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
        </li>
    <% }) %>
</ul>