<h2>Welcome to the Movie Details Page for the movie "{{movie.title}}"!</h2>
<div>
  {{> moviePartial this}}
  <a href="/movies/edit/{{movie.id}}">Edit movie!</a></br>
</div>

<a href='/movies'>Return Back</a>
