<h1>Get the list of Movies</h1>

<button id="fetch-movies">Fetch Movies</button>

  <h2>New Movie</h2>
   <label for="title">Title: </label>
   <input id="new-title" type="text" name="title">
   <label for="genre">Genre: </label>
   <input id="new-genre" type="text" name="genre">
   <label for="image">Image: </label>
   <input id="new-image" type="text" name="image">

   <button id="create-movie-btn">Create Movie</button>
<div id="results"></div>
