<h2>Create New Movie</h2>
<form action="/movies" method="POST">
    <label for="title">Insert the Title: </label>
    <input type="text" name="title">
    
    <label for="genre">Insert the Genre: </label>
    <input type="text" name="genre">

    <label for="genre">Insert Plot: </label>
    <input type="text" name="plot">

    <input type="submit" value="Add Movie">
</form>