<h2>Add a Movie</h2>

<form action="/movies/new" method="POST">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title">
    </div>

    <div>
        <label for="genre">Genre: </label>
        <input type="text" name="genre">
    </div>

    <div>
        <label for="plot">Plot: </label>
        <input type="text" name="plot">
    </div>


<p><button type="submit">Submit</button></p>
    

</form>