<h1>CREATE NEW MOVIE PAGE</h1>

<form action="/movies/create" method="post">

<label>Title:</label>
<input type="text" name="title">
<br>

<p><label>Genre:</label>
<input type="text" name="genre">
<br>

<p><label>Plot:</label>
<input type="text" name="plot">
<br>

<p><label>Poster URL:</label>
<input type="text" name="poster">
<br>

<p></p><button type="submit">Save Movie</button>


</form>

<p><a href="/movies">Back to Movies</a></p>