<div id="newM"> 
  <h2>
    New Movie
  </h2>
  <br>
  <form action="/movies/new" method="post">
    <label for="">Title: </label>
    <input type="text" name="title">

    <label for="">Genre: </label>
    <input type="text" name="genre">

    <label for="">Plot: </label>
    <input type="text" name="plot">

    <button type="submit"> Add </button>
  </form>
  <br>
  <p><a href="/movies">Go Back</a></p>
</div>