<h2> Add New Movies </h2>

<form action="/movies" method="post">

  <label for="movieTitle"> Title </label>
  <input  id="movieTitle" type="text" name="movieTitle">
  <br>

  <label for="movieGenre"> Genre </label>
  <input  id="movieGenre" type="text" name="movieGenre">
  <br>

  <label   for="moviePlot"> Plot</label>
  <textarea id="moviePlot" name="moviePlot"> </textarea>
  <br>

  <button> Add Movie </button>

</form>
