<h2>Add new Movie</h2>
<form action="/movies" method="post">
    Name:<input type="text" name="name">
    Genre: <input type="text" name="genre">
    Plot: <input type="text" name="plot">
    <button>Add Movie</button>
</form>