<h2>MAKE A MOVIE</h2>

<div class="container-fluid">

<form action="/movies/create" method="POST">

<label for="">title</label>
<input type="text" name="movieTitle">
<label for="">genre</label>
<input type="text" name="movieGenre">
<label for="">plot</label>
<input type="text" name="moviePlot">
<label for="">Star</label>
    <select name="movieStar">
        {{#each celebs}}
      <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>


<button>CREATE</button>



</form>
</div>