<% if (typeOf(errorMessage !== 'undefined'){ %>
  <div>
    <%= errorMessage %>
  </div>
<% }) %>


<form method="post" action="/movies/new">
  <div>
      <label for="">Name</label>
      <input type="text" name="movieName" id="">
  </div>

  <div>
      <label for="">Genre</label>
      <input type="text" name="movieGenre" id="">
  </div>

  <div>
      <label for="">Plot</label>
      <textarea name="moviePlot" id="" cols="30" rows="2"></textarea>
  </div>
  <button>Save</button>
</form>