<h2>Add a new movie</h2>

<form action="/movies" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">

  <label for="genre">Genre:</label>
  <input type="text" name="genre">

  <label for="plot">Plot:</label>
  <input type="text" name="plot">

  <input type="submit" value="Add new movie">
</form>

<p>
  <a href="/">Home</a>
</p>

<p>
  <a href="/movies/">List of movies</a>
</p>