<h2>Create a movie</h2>
<form action="/movies/new" method="post">
    <input type="text" name="title" placeholder="Title"> 
    <input type="text" name="genre" placeholder="Genre"> 
    <input type="text" name="plot" placeholder="Plot"> 
    <button type=submit>Submit Movie</button>
</form>