{{#with movie}}
<h2>{{title}}</h2>

<div class="movie-detail">
  <h3>Title:</h3>
  <p>{{title}}</p>

  <h3>Genre:</h3>
  <p>{{genre}}</p>

  <h3>Plot:</h3>
  <p>{{plot}}</p>
</div>
{{/with}}

<p>
  <a href="/movies">List of movies</a>
</p>
<p>
  <a href="/">Home</a>
</p>