<ul style="padding: 0; margin: 0; text-decoration-style: none;">
  <li>
    <h3><%= movie.title %></h3>
  </li>
  <li>
    <h3><%= movie.genre %></h3>
  </li>
  <li>
    <h3><%= movie.plot %></h3>
  </li>
</ul>