<h1><%= movie.title %></h1>
<h3>Movie Genre: <%= movie.genre %></h3>
<p><%= movie.plot %></p>

<button><a href="/movies/">Movies</a></button>
<button><a href="/movies/<%= movie._id %>/edit">Update</a></button>