<h2>All Celebrities</h2>


<ul class="celebrity">
  <% celebrity.forEach( (celeb) => { %>
    <li class="ind-celebrity"><a href="/celebrities/<%= celeb._id %>"><%= celeb.name %></a></li>
  <% }); %>
</ul>

<a href="/celebrities/new">Add a Celebrity</a>
