<h2>Add your movies here!</h2>

<form action="/movies/add-new-movie" method='post'>
<input type="text" name='title' value='Movie Name'>
<input type="text" name='genre' value='Genre'>
<input type="text" name='plot' value='Plot'>
<button type="submit">Add your movies now!</button>
 </form>