<h2>Add your own movie!</h2>
<form action="/movies" method="POST">

<label for="movietitle">Title: </label>
<input id="movietitle" type="text" name="title">

<label for="moviegenre">Genre: </label>
<input id="moviegenre" type="text" name="genre">

<label for="movieplot">Plot: </label>
<input id="movieplot" type="text" name="plot">

<button type="submit">Add movie</button>
</form>