<h1>Add new Movie</h1>

<form action="/movies/add-new-movie" method="post">
  Title: <input type="text" name="title"> <br>
  Genre: <input type="text" name="genre"> <br>
  Plot: <input type="text" name="plot"> <br>
  <button type="submit" >Submit</button>
</form>

