<div class="form">
  <h2>Añade otra peli, alma de cántaro</h2>
  
  <form method="POST" action="/movies">
  
    <div class="form-group">
      <label for="movie-title">Title</label>
      <input name="title" type="text" class="form-control" id="movie-title">
    </div>
    <div class="form-group">
      <label for="movie-genre">Genres</label>
      <input name="genre" type="text" class="form-control" id="movie-genre">
    </div>
    <div class="form-group">
      <label for="movie-image">Image URL</label>
      <input name="photo" type="text" class="form-control" id="movie-image">
    </div>
    <div class="form-group">
      <label for="movie-plot">Plot</label>
      <input name="plot" type="text" class="form-control" id="movie-plot">
    </div>
  
    <button type="submit" class="btn button-mine">Guardar</button>
  </form>
</div>