<h2>Make an entry for a movie</h2>

<h2>Form for enter a new movie</h2>

<a href="/movies">Go back</a>

<form action="/movies/add-movie" method="POST">
    <label for="name-input">Title: </label>
    <input type="text" name="name" id="title-input" placeholder="Enter the title"/>
    <label for="occupation-input">Genre: </label>
    <input type="text" name="genre" id="genre-input" placeholder="Enter the genre"/>
    <label for="catchPhrase-input">Plot: </label>
    <input type="text" name="plot" id="plot-input" placeholder="Enter the plot"/>

    <button type="submit">Add movie</button>
</form> 