<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Add new Movie</h2>
            </div>
        </div>

        <div class="row">
            <form action="/movies" method="POST" class="col s12 m12 l6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="artist-name" name="title" type="text" class="validate">
                        <label for="artist-name">Movie Title</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="occupation" name="genre" type="text" class="validate">
                        <label for="occupation">Genre</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="catch-phrase" name="plot" type="text" class="validate">
                        <label for="catch-phrase">Plot</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4">
                        <button class="btn">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>