<h1>Add Movie</h1>

<form method="POST" action="/movies" class="form" >

<label class="label" for="title">Movie Title</label>
<input class="input" type="text" id="title" name="title" value="test title" >

<label class="label" for="genre">Genre</label>
<input class="input" type="text" id="genre" name="genre" value="comedy" >

<label class="label" for="plot">Movie Plot</label>
<input class="input" type="text" id="plot" name="plot" value="just a funny story of a computer and some code" >
<div class="button-box">
<button class="btn">Create!</button>
</div>
</form>