<h2>Add a New Movie</h2>
<form action='/movies/add' method='post'>
<input type='text' name='title' value='title'>
<input type='text' name='genre' value='genre'>
<input type='text' name='plot' value='plot'>
<button type='submit'>Add</button>
</form>