<h1>Register a new Movie!</h1>

<form action="/movies" method="post" style="display:flex; flex-direction:column; width: 250px;">
  <label for="title">Title</label>
  <input type="text" name="title">
  <br>
  <label for="genre">Genre</label>
  <input type="text" name="genre">
  <br>
  <label for="plot">Plot</label>
  <input type="text" name="plot">
  <br>
  <input type="submit" value="Add Movie">
</form>
<br>
<a href="/movies">Go back</a>