<!DOCTYPE html> 
<html> 
<body> 
  <h2>Update Form</h2>
<form action="/movies" method="POST">
  Title:<br> 
  <input type="text" name="title"> 
  <br> 
  Genre<br> 
  <input type="text" name="genre"> 
  <br>
  Plot<br> 
  <input type="text" name="plot">
  <br>
  <input type="submit" value="Submit"> 
</form>  
  
</body> 
</html> 