<h1>Añade una pelicula</h1>

<form action="create-movie" method="post">

<p>Nombre de la pelicula </p><input type="text" name="title" id=""><br>
<p>genero</p><input type="text" name="genre" id=""><br>
<p>descripcion </p><input type="text" name="plot" id=""><br>
<button type="submit">Crear!</button>

</form>

<br><br>

<a href="/movies">vuelve</a>