<h2>Create new Movie </h2>

<form action="/movies/new" method="POST">
  <P>
    <label>Name</label>
    <input type="text" name="title">
  </P>
  <P>
    <label>Genre</label>
    <input type="text" name="genre" />
  </P>
  <P>
    <label>Plot</label>
    <input type="text" name="plot" />
  </P>

  <input type="submit" value="Add Movie ">
  </p>
</form>