<form action="/movies/create" method="POST">
    <input name="title" placeholder="Name of the movie"/>
    <input name="plot" placeholder="Describe the plot"/>
    
    <button type="submit" class="btn btn-success">Create</button>
</form>