<h2>Add a new movie</h2>

<form action="/movies" method="POST">
  <p>Title</p>
  <input type="text" name="title">

  <p>Genre</p>
  <input type="text" name="genre">

  <p>Plot</p>
  <input type="text" name="plot">
  <button>Save</button>
</form>


<select name="theCelebrity">
  <option value="" selected disabled>Please Select One</option>

  {{#each allTheCelebrities}}

  <option value="{{this._id}}">{{this.name}}</option>

  {{/each}}
</select>