<div>
  <p>Are you sure you want to delete {{title}}?</p>
  <p>{{title}}: 'I dont want to leave Mr. Stark...'</p>
  <form action="/movies/{{_id}}/delete" method="POST">
    <button type="submit">Bye</button>
  </form>
</div>