<h2>Movies in details</h2>

<h4>Title: {{singleMovie.title}}</h4>
<p>Genre: {{singleMovie.genre}}</p>
<p>Plot: {{singleMovie.plot}}</p>

<p>Starring: {{singleMovie.actors.name}}</p>

<a href="/movies/index" class="btn waves-effect waves-light ">Go back
  <i class="material-icons left">arrow_back</i>
</a>