

<h2>Movie details</h2>
<p>Title: {{movies.title}}</p>
<p>Genre: {{movies.genre}}</p>
<p>Plot: "{{movies.plot}}"</p>

<p>Go to <a href="/movies">Movies</a> page</p>

<p>Go to <a href="/">Home</a> page</p>