<div class="beadcrumbs">
  <a href="/" class="breadcrumbs__link">Home</a>
  <a href="/movies" class="breadcrumbs__link">Movies</a>
</div>
{{#with movie}}
<h2>{{title}}</h2>
<ul>
{{#each genre}}
<li>{{this}}</li>
{{/each}}
</ul>
<p>{{plot}}</p>
{{/with}}
