<h2 class="listName">{{movie.title}}</h2>
<div class="list">{{movie.genre}}</div>
<div class="list">{{movie.plot}}</div>
<div class="btn-list">
    <a href="/movies" class="btn-back left">Back to list</a>
</div>

