<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{selectedMovie.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{selectedMovie.genre}}</h6>
      <p class="card-text">{{selectedMovie.plot}}</p>
      <a href="/movies" type="button" class="btn btn-secondary">Volver</a>
    </div>
  </div>
</div>