<h2>Edit movie:</h2>

<form action="/movies/{{id}}/edit" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{title}}">
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" class="form-control" id="genre" name="genre" value="{{genre}}">
  </div>
    <div class="form-group">
    <label for="plot">Plot</label>
    <input type="text" class="form-control" id="plot" name="plot" value="{{plot}}">
  </div>
  <br >
  <button class="btn btn-dark">Update</button>
</form>

  