<form action="/movies/{{this._id}}" method="POST">
  <label for="title">Title</label>
  <input type="text" name='title' value='{{this.title}}'>
  <label for="genre">Genre</label>
  <input type="text" name='genre' value='{{this.genre}}'>
  <label for="plost">Plot</label>
  <input type="text" name='plost' value='{{this.plot}}'>
  <button type='submit'>Submit</button>
</form>
