<form action="/movies/{{_id}}" method="post">
<input type="text" name="title" placeholder="{{title}}">
<input type="text" name="genre" placeholder="{{genre}}">
<input type="text" name="plot" placeholder="{{plot}}" >
<button type="submit">Update</button>
</form>