<form method="post" action="/movies/{{movy._id}}/edit">
  <h2>Edit a movie</h2>
  <input type="text" name="title" value="{{movy.title}}">
  <input type="text" name="genre" value="{{movy.genre}}">
  <input type="text" name="plot" value="{{movy.plot}}">
  <button>Edit Me!</button>
</form>