<div class="bar">
    <h2>Edit movie</h2>
</div>

<div class="col-lg-8">

        <div>

            <form  action="/movies/{{movie._id}}" method="POST">

                <input type="text" name="title" value="{{movie.title}}">
                <input type="text" name="genre" value="{{movie.genre}}">
                <input type="text" name="plot" value="{{movie.plot}}">
                <button type="submit">Edit movie</button>

            </form>

        </div>

</div>