<h2>Edit movie</h2>
<form action="/movies/{{id}}/edit" method="post">

<label for="title-input">Title:</label>
<input type="text" id="title-input" name="title" autocomplete="off" value='{{title}}'>

<label for="genre-input">Genre:</label>
<input type="text" id="genre-input" name="genre" autocomplete="off" value='{{genre}}'>

<label for="plot-input">Plot:</label>
<input type="text" id="plot-input" name="plot" autocomplete="off" value='{{plot}}'>

<button type='submit'>Edit Movie</button>
</form>