<h2>Edit Masterpiece</h2>

<form action="/movies/{{movies.id}}" method="POST">

<label>
    Title
    <input type="text" name="title" value="{{movies.title}}">
</label>

<label>
    Genre
    <input type="text" name="genre" value="{{movies.genre}}">
</label>

<label>
    Plot
    <input type="text" name="plot" value="{{movies.plot}}">
</label>
  <button type="submit">Update</button>

</form>