<form method="POST" accept-charset="utf-8">
  {{> input label="Title" name="title" value=obj.title}}
  {{> input label="Genre" name="genre" value=obj.genre}}
  {{> input label="Plot" name="plot" value=obj.plot}}
  <button type="submit" class="btn btn-primary">Update</button>
</form>
