<h2>Edit your Movie</h2>
<form action="/movies/{{movie._id}}" method="POST">
    <input type="text" name="title" value="{{movie.title}}" placeholder="Title">
    <input type="text" name="genre" value="{{movie.genre}}" placeholder="Genre">
    <input type="text" name="plot" value="{{movie.plot}}" placeholder="Plot">
    <button type="submit">Update!</button>
</form>