<h2>Edit Movie</h2>
<form action="/movies/{{id}}" method="POST">
    <input type="text" name="title" id="movie-title" value="{{title}}">
    <input type="text" name="genre" id="movie-genre" value="{{genre}}">
    <input type="text" name="plot" id="movie-plot" value="{{plot}}">
    <button type="submit">Submit</button>
</form>