<header>
    <h2>Edit Movie</h2>
</header>
<hr>
<section id="edit">
    <form action="/movies/{{movie._id}}" method="post" class="form">

        <label class="artist" for="title">title</label>
        <input class="input" id="title" type="text" name="title" value="{{movie.name}}">
        <br>
        <label class="artist" for="genre">genre</label>
        <input class="input" id="genre" type="text" name="genre" value="{{movie.genre}}">
        <br>
        <label class="artist" for="plot">
            <textarea rows="5" cols="33" class="input" id="plot" type="text" name="plot">
{{movie.plot}}
</textarea>
            <button class="btn">ok</button>
    </form>
</section>