<h2>Edit Movie</h2>
<form action="/movies/{{movie._id}}" method="POST">
    Title: <input type="text" name="title" value="{{movie.title}}">
    Genre: <input type="text" name="genre" value="{{movie.genre}}">
    Plot: <input type="text" name="plot" value="{{movie.plot}}">
    <button type="submit">Update</button>
</form>