<h2>Edit a movie</h2>
<form action="../{{movie._id}}" method="post">
<label>Title: <input type="text" name="title" value="{{movie.title}}"></label><br><br>
<label>Genre: <input type="text" name="genre" value="{{movie.genre}}"></label><br><br>
<label>Plot: <input type="text" name="plot" value="{{movie.plot}}"></label><br><br>
<button type="submit">Send</button>
</form>