<h2>EDIT</h2>
<form action="/movies/{{id}}" method="POST">
    <label for="name">Title:</label>
    <input type="text" name="name" value="{{name}}">

    <label for="genre">genre:</label>
    <input type="text" name="genre" value="{{genre}}">

    <label for="plot">Plot:</label>
    <input type="text" name="plot" value="{{plot}}">

    <button type="submit">Submit</button>
</form>