<h2> Edit movie</h2>
<form method="POST" action=/movies/{{id}}>
Title: <input type="text" name="title" value="{{title}}"> 
Genre: <input type="text" name="genre" value="{{genre}}"> 
Plot: <input type="text" name="plot" value="{{plot}}"> 
<input type="submit" value="Edit movie">
</form>


