<div class="container cosa">
  <h2>EDIT</h2>

  <form action="/movies/details/{{movieEdit.id}}/edit" method="POST">
    <div class="form-group">
      <label for="field1">Title</label>
      <input name="title" type="text" class="form-control" id="field1" value="{{movieEdit.title}}">
    </div>
    <div class="form-group">
      <label for="field2">Genre</label>
      <input name="genre" type="text" class="form-control" id="field2" value="{{movieEdit.genre}}">
    </div>
    <div class="form-group">
      <label for="field3">Plot</label>
      <input name="plot" type="text" class="form-control" id="field3" value="{{movieEdit.plot}}">
    </div>

    <button type="submit">edit</button>
  </form>
</div>