<h2>Edit movie</h2>
<form action="/movie/view/{{_id}}" method='post'>
    <label for="title-input">Title</label>
    <input type="text" name='title' id='title-input' value='{{title}}'>
    <label for="genre-input">Genre</label>
    <input type="text" name='genre' id='genre-input' value='{{genre}}'>
    <label for="plot-input">Plot</label>
    <input type="text" name='plot' id='plot-input' value='{{plot}}'>
    <button type='submit'>Submit</button>
</form>