<h2>Edit this celebrity info</h2>

<form action="/movies/{{id}}" method="POST">
<input type="text" id="title" name="title" value="{{title}}">
<br>
<input type="text" id="genre" name="genre" value="{{genre}}">
<br>
<textarea name="plot" id="plot" cols="30" rows="10">{{plot}}</textarea>
<br>
<button type="submit">Edit!</button>
</form>

