<h2>Edit Movies</h2>

<form action= "/movies/{{movie.id}}" method="POST">
<label>Title</label>
<input type="text" name="title" value="{{movie.title}}">
<label>Genre</label>
<input type="text" name="genre" value="{{movie.genre}}">
<label>Plot</label>
<input type="text" name="plot" value="{{movie.plot}}">
<button type="submit">Send</button>
</form>
<p></p>
<a href= "/movies">Back to movies</a>