<h2>Edit a movie</h2>

<form action="/movies/{{oneMovie._id}}" method="POST">
    <label for="">Title:</label>
    <input type="text" name="title" value="{{oneMovie.title}}">
    
    <br>
    
    <label for="">Genre:</label>
    <input type="text" name="genre" value="{{oneMovie.genre}}">
    
    <br>
    
    <label for="">Plot:</label>
    <input type="text" name="plot" value="{{oneMovie.plot}}">
    
    <br>
    
    <button type="submit">EDIT MOVIE</button>
</form>