<h2>Edit movie</h2>
<form action="/movies/show/{{_id}}/edit" method="post">
    <input type="text" name="title" value={{title}}>
    <input type="text" name="genre" value={{genre}}>
    <input type="text" name="plot" value={{plot}}>
    <button type="submit">Edit movie</button>
</form>