<h2>Edit a movie</h2>
<form action="/movies/{{id}}" method="POST">
  <label for="title">Name:</label>
  <input type="text" name="title" id="" value="{{title}}">
  <label for="genre">Occupation:</label>
  <input type="text" name="genre" id="" value="{{genre}}">
  <label for="plot">Catch Phrase:</label>
  <input type="text" name="plot" id="" value="{{plot}}">
  <button type="submit">Edit Movie</button>
</form>