{{> nav}}

<div class="container-fluid">
  <h2>Edita la información:</h2>
</div>

<div id="celebrities" class="container-fluid ">
  <div class="row">
    <form class="boxed" action="/movies/{{movies.id}}" method="POST">
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" class="form-control" id="title" value="{{movies.title}}" name="title">
      </div>
      <div class="form-group">
        <label for="genre">Género:</label>
        <input type="text" class="form-control" id="genre" value="{{movies.genre}}" name="genre">
      </div>
      <div class="form-group">
        <label for="plot">Argumento:</label>
        <textarea class="form-control" id="plot" rows="3" name="plot">{{movies.plot}}</textarea>
      </div>
      <button type="submit" class="btn btn-dark">Guardar</button>
    </form>

  </div>
</div>