<section>
  <form class="form" action="/movies/{{this._id}}" method="POST">
    <label>TITLE:</label>
    <input type="text" name="title" value="{{this.title}}">
    <label>GENRE:</label>
    <input type="text" name="genre" value="{{this.genre}}">
    <label>PLOT:</label>
    <input type="text" name="plot" value="{{this.plot}}">
    <button>EDIT</button>  
  </form>
</section>