<h2>EDITA UNA CELEBRITY</h2>
<form action="/movies/{{_id}}" method="POST">
  <label for="">Titulo:</label>
  <input type="text" name="title" value="{{title}}">
  <label for="">Genero:</label>
  <input type="text" name="genre" value="{{genre}}">
  <label for="">Frase mitica:</label>
  <input type="text" name="plot" value="{{plot}}">
  <button type="submit">EDIT</button>
</form>