<h2>Edit Movie</h2>

<form action="/movies/{{_id}}" method="POST">
<input type="text" placeholder="Title" name="title" value="{{title}}" required>
<input type="text" placeholder="Genre" name="genre" value="{{genre}}" required>
<input type="text" placeholder="Plot" name="plot" value="{{plot}}" required>
<input type="submit">
</form>