<form action="/movies/{{_id}}" method="post">
    <label for="">Name:</label>
    <input type="text" value="{{name}}" name="name">

    <label for="">occupation:</label>
    <input type="text" value="{{occupation}}" name="occupation">

    <label for="">catchPhrase:</label>
    <input type="text" value="{{catchPhrase}}" name="catchPhrase">

    <button type="submit">Update!</button>

</form>