<h2>Edit Movies</h2>
 
<form action="/movies/edit/{{movies.id}}" method="POST">
  <label>
    Title:
    <input type="text" name="title" value="{{movies.name}}" />
  </label>
  
  <label>
    Genre:
    <input type="text" name="genre" value="{{movies.occupation}}" />
  </label>

  <label>
    Plot:
    <input type="text" name="plot"  value="{{movies.catchPhrase}}" />
  </label>
 
  <button type="submit">Save changes</button>
</form>