{{> mainNav}}
{{#with movie}}
<form action="/movies/edit" method="post" class="form">
  <h1 class="form__title">Editing movie</h1>
  <input type="hidden" name="_id" value="{{_id}}">
  <div class="form__field">
    <input type="text" id="title" name="title" value="{{title}}"
      placeholder="Title" class="form__input form__input--text">
  </div>
  <div class="form__field">
    <input type="text" id="genre" name="genre" value="{{genre}}"
      placeholder="Genre (separated with commas)" class="form__label">
  </div>
  <div class="form__field">
    <input type="text" id="plot" name="plot" value="{{plot}}" placeholder="Plot"
      class="form__input form__input--text">
  </div>
  <div class="form__actions">
    <input type="submit" value="Update" class="button button--update">
  </div>
</form>
{{/with }}