<h2>Edit The Movie</h2>

<form action="/movies/edit/{{id}}" method='post'>
    <input type="text" name='title' value='{{title}}'> 
    <input type="text" name='genre' value='{{genre}}'> 
    <input type="text" name='plot' value='{{plot}}'> 
    <button type="submit">Edit Movie Info</button>
</form>