<h2>Edit movie</h2>
<form action="/movies/{{movie.id}}/edit" method="post">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="" value="{{movie.title}}">
    <label for="Genre">Genre</label>
    <input class="form-control" type="text" name="genre" id="" value="{{movie.genre}}">
    <label for="plot">Plot</label>
    <input class="form-control" type="text" name="plot" id="" value="{{movie.plot}}">
    <button type="submit" class="btn btn-primary my-3">Save changes</button>
</form>