<div class="container">
    <div class="header">
        <a href="/movies"><</a>
        <h1>Edit movie</h1>
    </div>
    
    <form action="/movies/{{movie._id}}/edit" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholer="Write a title" value="{{movie.title}}">
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" id="genre" name="genre" placeholer="Write a genre" value="{{movie.genre}}">
        </div>
        <div class="form-group">
            <label for="plot">Plot</label>
            <textarea type="textarea" id="plot" name="plot">{{movie.plot}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
    </form>
</div>
