<form action="/movies/{{movieUpd._id}}" method="post">
  <input type="text" placeholder="{{movieUpd.title}}" name="title">
  <input type="text" placeholder="{{movieUpd.genre}}" name="genre">
  <input type="text" placeholder="{{movieUpd.plot}}" name="plot">
  <button type="submit">edit now</button>
</form>