<h2>Edit it!</h2>

<form action="/movies/{{id}}" method="POST">

  <label>Title:</label><br>
  <input type="text" name="title" value="{{title}}"><br><br>

  <label>Genre:</label><br>
  <input type="text" name="genre" value="{{genre}}"><br><br>

  <label>Plot</label><br>
  <input type="text" name="plot" value="{{plot}}"><br><br>

  <button type="submit">Save edits</button>

</form>