
<form acction="/movies/edit" method="POST">
    <input name="id" type="hidden" value={{_id}}>
    <input name="title" type="text" placeholder="{{title}}" required>
    <input name="genre" type="text" placeholder="{{genre}}" required>
    <input name="plot" type="text" placeholder="{{plot}}" required>
    <button type="submit">EDIT</button>
</form>