<h2>Edit a Movie</h2>

<form action="/movies/{{movieItem._id}}/edit-process" method="post">
<label>
  Title: 
  <input type="text" name="title" placeholder="Awesome, the movie" value="{{movieItem.title}}" />
</label>

<label>
  Occupation: 
  <input type="text" name="genre" placeholder="Suspense" value="{{movieItem.genre}}" />
</label>

<label>
  Plot:
  <input type="text" name="plot" placeholder="images, so many of them..." value="{{movieItem.plot}}" />
</label>

  <button>Submit the Changes</button>
</form>