<h2>Edit movie</h2>
<form method="POST" action="/movies/{{_id}}">
  Title: <input type="text" name="title" placeholder="title" value="{{title}}">
  Genre: <input type="text" name="genre" placeholder="genre" value="{{genre}}">
  Plot: <input type="text" name="plot" placeholder="plot" value="{{plot}}">
  <input type="submit" value="Edit">
</form>