  <h2> Edit movie </h2>

<form action="/movies/{{movie.id}}/edit" method="POST">
  <label for="name">Title:</label>
  <input type="text" name="title" value="{{movie.title}}">
  <br>
  <label for="genre">Genre:</label>
  <input type="text" name="genre" value="{{movie.genre}}">
  <br>
  <label for="plot">Plot:</label>
  <input type="text" name="plot" value="{{movie.plot}}">
  <br>
  <button type="submit">Save</button>
</form>