<h2>EDIT MOVIE</h2>

<form method="POST" action="/movies/{{id}}">

  <div>
    <label>TITLE</label>
    <input type="text" name="title" placeholder="Title">
  </div>

  <div>
    <label>GENRE</label>
    <input type="text" name="genre" placeholder="Genre">
  </div>

  <div>
    <label>PLOT</label>
    <input type="text" name="plot" placeholder="Plot">
  </div>

  <button type="submit" class="btn btn-dark">Save</button>

</form>