<h2>Edit Movie Phrase</h2>
<form action="edit" method="post">
  Title:
  <input type="text" name="title" value= {{title}}><br>
  Genre:
  <input type="text" name="genre" value= {{genre}}><br>
  Plot:
  <input type="text" name="plot" value= {{plot}}><br>
  <input type="submit" value="Submit">
</form>
