<form action="/movies/{{movie._id}}/edit" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" value="{{ movie.name }}">

  <label for="description">Description:</label>
  <input type="text" name="description" value="{{ movie.description }}">

  <label for="catchPhrase">Catch Phrase:</label>
  <textarea name="catchPhrase">{{ celeb.catchPhrase }}</textarea>
  <button type="submit">Save</button>
</form>