<h2>Edit movie</h2>

<form action="/movies/{{_id}}" method="POST">

    <label for="title">title</label>
    <input type="text" id="title" name="title" value="{{title}}">
    <label for="genre">genre</label>
    <input type="text" id="genre" name="genre" value="{{genre}}">
    <label for="plot">plot</label>
    <input type="text" id="plot" name="plot" value="{{plot}}">

    <button type="submit">Edit movie</button>
</form>