<section class="displayInfo">
  <h2>Edit movie:</h2>
  <form class="createform" action="/movies" method="POST">
    <input type="hidden" name="id" value="{{_id}}">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{title}}">
    <label for="genre">Genre</label>
    <input type="text" name="genre" value="{{genre}}">
    <label for="plot">Plot</label>
    <input type="text" name="plot" value="{{plot}}">
    <input class="button" type="submit" value="Update">
  </form>
</section>