<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Update the movie</h2>
      <form action="/movies/{{movie.id}}/edit" method="POST" style="width: 40rem;">
        <div class="mb-3 p-2">
          <div class="form-group">
            <label>Movie title</label>
            <input name="title" type="text" class="form-control mb-1" value={{movie.title}}>
          </div>
          <div class="form-group">
            <label>Genre</label>
            <input name="occupation" type="text" class="form-control mb-1" value={{movie.genre}}>
          </div>
          <div class="form-group">
            <label>Plot</label>
            <input name="plot" type="text" class="form-control mb-3" value={{movie.plot}}>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-info m-1">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>