<h2>Edit Movie:</h2>
<form action="/movies/{{this._id}}/edit" method="POST">

<p>Title:
<input type="text" name="name" value="{{title}}">
</p>

<p>Genre:
<input type="text" name="name" value="{{genre}}">
</p>

<p>Plot:
<input type="text" name="name" value="{{plot}}">
</p>

<input type="submit">
</form>