<h2>Update movie info</h2>

<form action="/movies/{{film.id}}/edit" method="POST">
    <label>
        Title:
        <input type="text" name ="title" value="{{film.title}}">
    </label>
    <label>
        Genre:
        <input type="text" name ="genre" value="{{film.genre}}">
    </label>
    <label>
        Plot:
        <input type="text" name ="plot" value="{{film.plot}}">
    </label>
    <button type="submit">Submit Changes</button>
</form>