
    <h2>Editar Pelicula</h2>

    <form action="/peliculas/editar/{{_id}}" method="post">

        <label for="title">Titulo</label>
        <input name="title" value="{{title}}" id="title" type="text">

        <label for="genre">Genero</label>
        <input name="genre" value="{{genre}}" id="genre" type="text">

        <label for="plot">Trama</label>
        <input name="plot" value="{{plot}}" id="plot" type="text">

        <button type="submit" class="btn btnEdit btn-dark btn-sm">Editar pelicula</button>

    </form>

    <a class="btn btn-dark non-radius btn-sm" href="/peliculas/listado">Volver</a>

