Edit Movies


<form action="/movies/update/{{updatedMovie.id}}" method="POST">

<p>Title: </p>
<input value = "{{updatedMovie.title}}" type="text" name="theTitle"> <br>

Genre: 
<input value = "{{updatedMovie.genre}}" type="text" name = "theGenre"> <br>

Plot: 
<input value = "{{updatedMovie.plot}}" type="text" name="thePlot"> <br>

<button>Save</button>

</form>


</form>