<h2>Edit the movie</h2>

<form method="post" class="form">
    <input id="title" name="title" type="text" value="{{movie.title}}">Title</input>
    <input id="genre" name="genre" type="text" value="{{movie.genre}}">Genre</input>
    <input id="plot" name="plot" type="text" value="{{movie.plot}}">Plot</input>
    <button>update</button>
</form>