
<div class="containerForm">
<h2>Edit new Movie</h2>
<form action="" method="post">
  <div class="rowForm">
  <label for="name">Title</label>
  <input type="text" name="title" value="{{movie.title}}">
</div>
<div class="rowForm">
  <label for="occupation">Genre</label>
  <input type="text" name="genre" value="{{movie.genre}}">
</div>
<div class="rowForm">
  <label for="catchPhrase">Plot</label>
  <input type="text" name="plot" value="{{movie.plot}}">
</div>
  <button type="submit">Edit</button>

</form>
</div>