<form action="/movies/edit/{{ id }}" method="post">
<br>
    <input type="text" name="title" placeholder="title">
    <br>
    <input type="text" name="genre" placeholder="genre">
    <br>
    <input type="text" name="plot" placeholder="plot">
    <br>
    <button type="submit">Update</button>
</form>