<div class="section">
    <h1 class="title is-3">Edit movie information</h1>

{{#each movieToEdit}}

<form action="/movies/{{_id}}" method="POST" class="section">
   
     <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Info</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" type="text" name="title" value="{{title}}">
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" type="text" name="genre" value="{{genre}}">
                </p>
            </div>
        </div>
    </div>


   <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Plot</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" name="plot">{{plot}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="button is-primary" type="submit" value="Edit movie">
                </div>
            </div>
        </div>
    </div>
</form>

{{/each}}

</div>

