<br>
<h1>Edit your movie</h1>
<br>

{{!--Send data to  POST /edit-movie  --}}

<form action="/movies/{{movie._id}}/edit" method="post">
    Name
    <input type="text" value="{{movie.title}}" class="form-control" name="title"> <br> 
    {{!-- //will define a req.body.title --}}
    Genre
    <input type="text" value="{{movie.genre}}" class="form-control" name="genre"> <br>
    Plot
    <input type="text" value="{{movie.plot}}" class="form-control" name="plot"> <br>
    <button type="submit" class="btn btn-primary">Edit your movie!</button>
</form>