<h1>Edit</h1>

<form action="/movies/{{_id}}" method="POST">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="occupation">Genre</label>
    <input type="text" name="genre" id="genre">

    <label for="plot">Plot</label>
    <input type="text" name="plot" id="plot">

    <button type="submit">Update Movie</button>
</form>