<div class="form">
    <h2>Edit Movie</h2>
    <form action="/movies/{{movie._id}}/edit" method="POST">
        <label>Title:</label>
        <input type="text" name="title" value="{{movie.title}}">
        <label>Genre:</label>
        <input type="text" name="genre" value="{{movie.genre}}">
        <label>Plot:</label>
        <input type="text" name="plot" value="{{movie.plot}}">        
        <button type="submit">Edit</button>
    </form>
</div>