<form method='post'>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name='title' placeholder="Here your favourite film" value='{{this.title}}'>
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" class="form-control" id="genre" name='genre' placeholder="Comedy? Drama? Your choice" value='{{this.genre}}'>
  </div>

  <div class="form-group">
    <label for="plot">Plot</label>
    <textarea class="form-control" id="plot" name='plot' rows="3" value='{{this.plot}}'></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>