<a href="/">Go back</a>
<h2>Movies</h2>
<div>
    {{#each movies}}
    <h3>{{title}}</h3>
    <a href="/movies/{{_id}}">Movie details</a>
    <form action="/movies/edit/{{_id}}" method="get">
        <button type="submit">Edit</button>
    </form>
    <form action="/movies/delete/{{_id}}" method="post">
        <button type="submit">Delete</button>
    </form>
    {{/each}}
</div>