<h2>
  <ul>
    {{#each myMovies}}
    <li>{{this.title}}
      <a href="/movies/{{this._id}}">See more...</a>
      <a href="/movies/{{this._id}}/edit">edit</a>
    </li>
    <form action="/movies/{{this._id}}/delete" method="POST">
      <button>Delete</button>
    </form>
    {{/each}}
  </ul>
</h2>

<a href="/movies/new"> add movie</a>