<h2>All Movies</h2>

{{#each docs as | doc |}}
<form action="/movies/{{doc._id}}/delete" method="POST">
  <a href="/movies/{{doc._id}}">{{doc.title}}</a>
  <button type="submit">Delete</button>
</form>
{{/each}}

<p><a href="/movies/new">Add a new Movie</a></p>