<h2>MOVIES</h2>
{{#each movies}}
    <div>
    {{this.title}}
    <a href="/movies/{{this._id}}">See More</a>
    <a href="/movies/{{this._id}}/edit">Update</a>
    <form action="/movies/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    </div>
{{/each}}
<a href="/movies/new">new movie</a>