<h2>List of Movies</h2>
<a href="movies/new">Add Movie</a>

{{#each moviesFromDB}}
<p>{{this.title}}</p>
<a href="/movies/{{this.id}}">See details</a>
<form action="/movies/{{this.id}}/delete" method="POST">
        <button type="submit">Delete</button>
        <a href="/movies/{{this.id}}/edit">Edit</a>
</form>
{{/each}}