<h2>Movie list</h2>

{{#each movies}}
  <p>
    <a href="/movies/{{this._id}}">{{this.title}}</a>
     <form class="form" action="/movies/{{this._id}}/delete" method="POST">
      <button class="btn">Delete</button>
    </form>
     {{!-- <a href="/movies/{{this._id}}/delete">delete</a> --}}
  </p>

{{/each}}

<a href="/">Home</a>
<a href="/movies/new">Create Movies</a>
