<div class="row">
	<div class="col-12 d-flex justify-content-center align-items-center">
		<h1 class="my-5">{{title}}</h1>
	</div>
</div>
<div class="row justify-content-center">
	{{#each movies}}
	<div class="col-3 d-flex flex-column justify-content-center align-items-center bg-info text-white rounded m-3">
		<a class="my-5 text-light" href="movies/{{this._id}}">{{this.title}}</a>
		<form action="movies/{{this.id}}/delete" method="POST">
			<div class="form-group">
				<input class="btn btn-dark btn-lg btn-block" type="submit" value="Delete">
			</div>
		</form>
	</div>
	{{/each}}
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<a class="my-5 btn btn-dark btn-lg btn-block" href="movies/new">Add new movie</a>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<a class="my-5 btn btn-dark btn-lg btn-block" href="/">Home</a>
	</div>
</div>