<h2>MOVIES</h2>
{{#each movies}}
<p>{{this.title}}</p>
<a href="/movies/{{this._id}}">See all details</a>

<form action="/movies/{{this._id}}/delete" method="post">
    <button type="submit">DELETE</button>
</form>

<form action="/movies/{{this._id}}/edit" method="get">
    <button type="submit">EDIT</button>
</form>
{{/each}}

<a href="/movies/new">Add a new movie</a>