<h1>The movies list</h1>
<div class="movies-list">
  {{#each movies}}
  <div class="movie">
    <h2><a href="/movies/{{this._id}}">{{this.title}}</a></h2>
    <form action="/movies/{{this._id}}/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
  </div>
  {{/each}}
</div>
<a href="/movies/new">Add new movie</a>
<a href="/">Go back</a>