
<h2>List of movies</h2>

<a href="/movies/new">Add new movie!</a>
<br>
<a href="/">Home</a>


{{#each this.movies}}
        <p>Title: {{this.title}}</p>
        <a href="/movies/{{this.id}}">Details</a>
        <a href="/movies/{{this.id}}/edit">Edit</a>

<form action="/movies/{{this.id}}/delete" method="POST"> 
      <button type="submit">Delete</button>
    </form>
<hr>
{{/each}}

