<h2>List of movies</h2>

{{#each movie}}
<div><a href='/movies/{{this._id}}'>{{this.title}}</a></div>
<form method='POST' action='/movies/{{this._id}}/delete'><button type="submit" class="btn btn-secondary">Delete</button></form>
<a href="/movies/{{this._id}}/edit"><button>Edit</button></a>
{{/each}}

<div><a href='/movies/new'>Add a movie</a></div>