<h2>Movies</h2>
{{#each movies}}
    <p><a href="/movies/{{this._id}}">{{this.title}}</a></p>

    <p><a href="/edit?movie_id={{this._id}}"><button type="submit">EEDIT</button></a></p>

    <form action="/{{this._id}}/delete" method="post">
        <button type="submit">DELETE</button>
    </form>

{{/each}}
<p><a href="/">Back to Mongoose Movies</a></p>
<p><a href="/new">Add a new movie</a></p>