<h2>Awesome Movies</h2>
{{#each movies}}
<div>
  <p>{{title}}</p>
  <a href="/movies/{{_id}}">Show more</a>
  <form action="/movies/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  <form action="/movies/{{_id}}/edit" method="get">
    <button type="submit">Edit</button>
  </form>
</div>
{{/each}}
<br>
<a href="/movies/new">Create new Movie</a>
<br>
<br>

<a href="/">Back</a>
