<h2>All Movies</h2>

<div class="movieListing">
  {{#each movie}}
  <h3><a href='/movies/{{this._id}}'>{{this.title}}</a></h3>
  <form action="/movies/{{this._id}}/delete" method="post">
  <input type="submit" value="Delete">
</form>
  {{/each}}
</div>
<br>
<br>
<div>
  <a href="/movies/new">Create a New Movie</a>
</div>