<div class="container">
  <div class="row">

    <div class="col-12">

      <h1>Movies</h1>

    </div>

  </div>

  <div class="row">

    <div class="col-4">
      <a href="movies/new" class="btn btn-dark"> Create a new entry</a>
    </div>
    <div class="col-8">

      {{#each allMovies}}

      <p><a href="movies/{{id}}">{{title}}</a></p>

      {{/each}}

    </div>
  </div>
</div>