<h1 class="display-4 m-5">Movies</h1>
<div class="container m-5">
  <div class="row">
    <div class="col">
      {{#each movies}}
      {{> moviesPartial}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="/movies/new" class="btn btn-success ">Add New</a>
    </div>
  </div>
</div>