<h2>Movies</h2>

{{#each movies}}
	<a href="/movies/{{this.id}}">{{this.title}}</a>
	<form action="/movies/{{this.id}}/delete" method="post">
		<button type="submit">Delete</button>
	</form>
{{/each}}

<a href="/movies/new">Add a new movie</a>
