<h2>Movies list</h2>
<ul>
    {{#each movies}}
    <li>{{title}} <a href="/movies/{{_id}}">See Details</a></li>
    {{/each}}
</ul>

<a href="/movies/new">Add a new movie</a>
<br>
<a href="/">Go to the home page</a>