<a href="/">Go back</a>
<h2>MOVIES:</h2>
<div class="list">
    {{#each movies}}
        <div class="card">
            <a href="/movies/{{_id}}">{{title}}</a>
            <form action="/movies/{{_id}}/delete" method="post">
                <button type="submit">Delete</button>
            </form>
            <a href="/movies/{{_id}}/edit/">Edit</a>
        </div>
    {{/each}}
</div>
<a href="/newmovie">New Movie</a>