{{#each movieList}}
<a href="/movies/{{_id}}">
   <h2>{{title}}</h2>
</a>
<form action="/movies/{{_id}}/delete" method="post">
   <button type="submit">Delete it now</button>
</form>
<form action="/movies/{{_id}}/edit" method="get">
   <button type="submit">Edit it now</button>
</form>
{{/each}}
<a href="/movies/new">Add new movie</a>