<div class="container-fluid black text-right">
    <div class="row w50 ml-auto">
        <div class="col ml-auto ">

            <div class="row">
                <h2 class="text-title ml-auto">Movies</h2>
            </div>
            <div class="row">
                <a class="btn btn-dark btn-lg ml-auto" href="/movies/new">CREAR NUEVA PELÍCULA</a>
            </div>

            <div class="row">
                <div class="col ml-auto">
                    {{#each allMovies}}

                    <div class="col star-div">
                        <h3 class="text-title"> {{title}}</h3>
                        <div class="botones d-flex justify-content-between">

                            <a class=" btn-lg btn-dark" href="/movies/{{_id}}">Ver más</a>
                            <a class="btn btn-lg btn-dark btn-danger" href="/movies/{{_id}}/delete">Borrar</a>
                            <a class="btn btn-lg btn-dark btn-success" href="/movies/{{_id}}/edit">Editar</a>

                        </div>
                    </div>
                    {{/each }}
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <a class="btn btn-dark btn-lg ml-auto " href="/">Volver a inicio</a>
    </div>
</div>