{{#each movies}}
    <h2>{{this.title}}</h2>
    <a href="movies/{{this.id}}">Details</a>
    <form method="post" action="movies/{{id}}/delete">
        <button type="submit">Delete</button>
    </form>
    <form method="get" action="movies/{{id}}/edit">
        <button type="submit">Edit</button>
    </form>
    <hr/>
{{/each}}
<p><a href="movies/new">Add new movie</a></p>
