<h2>Movies</h2>
<ul>
  {{#each allMovies}}
  <li>{{this.title}}</li>
  <li><a href="/movies/{{this._id}}">Details</a></li>
  <li><a href="/movies/{{this.id}}/edit">Edit</a></li>
  <form action="/movies/{{this._id}}" method="POST">
    <button type="submit">DELETE</button>
  </form>
  {{/each}}
</ul>
<button>
  <a href="/movies/new">New movie</a>
</button>
<a href="/">Go to home page</a>