<h2>MY MOVIES</h2>

{{#each movies}}
<p>{{this.title}}</p>
<a href="/show/{{this.id}}">Show</a>
<form action="/celebrities/{{this.id}}/delete" method="post">
<button type="submit">Delete Movie</button>
</form>

<a href="/celebrities/{{this.id}}/edit">Edit Movie</a>
{{/each}}

<h3><a href="/new">Add your Movie</a></h3>