
<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <h2 class="title is-3">Our movies list:</h2>
        {{#each movie}}
        <div class="box">
        <article class="media">
            <div class="media-left">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
            </div>
            <div class="media-content">
            <div class="content">
                <p>
                <strong><a href="/movies/details/{{id}}" class="link-more">{{title}}</a></strong> <small>@{{genre}}</small>
                </p>
                <form action="/movies/{{id}}/delete" method="POST">
                <button class="button is-info is-outlined is-small" type="submit">
                    <span>Delete</span>
                    <span class="icon is-small">
                    <i class="fas fa-times"></i>
                    </span>
                </button>
                </form>
            </div>
            </div>
        </article>
        </div>
        {{/each}}
        <br>
        <a class="button is-info" href="/movies/new">Add new movie to the list!</a>
    </div>
</div>
