<h2>Movies</h2>

{{#each data}}
<br>
<a href="/movies/{{this._id}}">{{this.title}}</a>
<form action="/movies/{{this._id}}/delete" method="POST">
   <br> <button type="submit">Delete</button>
</form>
<br>
<button><a href="/movies/{{this._id}}/edit">Edit</a></button>
<br>
{{/each}}
<br>
<button><a href="/movies/new">Add new</a></button>