<h1>Movies's List</h1>
<ul>
  {{#each movies}}
  <li>{{this.title}} <a href="/movies/{{this._id}}">Details</a>
    <a href="/movies/{{this.id}}/delete">Delete</a>
  </li>
  {{/each}}
</ul>
<a class='button' href="/movies/manage/new">Add Movie</a>
<a class='button' href="/">Home</a>