<h2>Movies</h2>

<ul>
<% movies.forEach((movie) => { %>
  <li>
    <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
    <form action="/movies/<%= movie.id %>/delete" method="POST">
    <input type="submit" value="Delete">
    </form>
  </li>
<% }) %>
</ul>

<a href="/movies/new">Create a new movie</a>
