<h2>Movies</h2>
<a href="/movies/new">Add a Movie!</a>

<div class="container">
  {{#each data}}
    <p><a href="/movies/{{this._id}}">{{this.title}}</a>
    <form method="POST" action="/movies/{{this._id}}/delete">
      <button type="submit">Delete</button>
    </form>
    </p>
  {{/each}}
</div>