<h2>Heading movies</h2>
{{#each movieArray}}
<p>{{title}}</p>
<a href="/movies/{{id}}">More</a>
<a href="/movies/{{id}}/edit">Edit movie</a>
<form action="/movies/{{id}}/delete" method="POST">
  <button type="submit">Delete movie</button>
</form>
{{/each}}
<br><br><a href="movies/new">Add movie</a>