<h2>All the movies!</h2>

    <ul class="list movies">
    {{#each movies}}
        <li class="movie">
            {{this.title}}
            <a class="link" href="/movies/{{this._id}}">... see more</a>
            <form action="/movies/{{this._id}}/delete" method="post" >
                <input class="btn" type="submit" value="delete">
            </form>
        </li>
    {{/each}}
    </ul>

<a href="/movies/new" class="link">Add a new movie</a>

