<h2>Movies</h2>

{{#each movies}}
  <p><a href="/movies/{{_id}}">{{title}}</a></p>
  <form action="/movies/{{this._id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}


<button><a href="/movies/new">Add Movie</a></button>

<button><a href="/">Go Back</a></button>