<h1>Movies</h1>
<a href="/movies/new">Add a new movie!</a>
{{#each movies}}
<li>
  <a href="/movies/{{this._id}}">{{this.title}}</a>
  <form action="/movies/{{this._id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
</li>
{{/each}}