<h2>Movies</h2>
<ul class="list-group list-group-flush">
  {{#each movies}}
  <li class="list-group-item dblist">
    <a href="/movies/{{this._id}}">{{this.title}}</a>
    <div>
      <a href="/movies/edit/{{this._id}}">Edit</a>
      <a href="/movies/delete/{{this._id}}">Delete</a>
    </div>
  </li>
  {{/each}}
</ul>
<br>
<button type="button" class="btn btn-primary"><a href="/movies/new" style="text-decoration: none; color:white">Add Movie</a></button>