<h1 class ="all">List of All Movies</h1>

{{#each movies}}

<h2><a href="/movies/details/{{this.id}}"> 
{{this.title}}
</a></h2>
{{!-- <form action="/celebrities/delete/{{this._id}}" method="POST">
    <button class ="button">Remove Celebrity</button>
</form> --}}

{{!-- <a class="edit" href="/celebrities/editcelebrity/{{this._id}}">Edit Actor's Info</a> --}}
{{/each}}
