<h2>Movies</h2>

<ul>
{{#each movies}}
    <a href="/movies/{{_id}}">
        <p>{{title}}</p>
    </a>

    <form action="/movies/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{/each}}
</ul>
<a href="/movies/new">Add a new movie</a>
<br>
<br>
<br>
<a href="/">Back to menu</a>