<h2>Movies</h2>
{{#each movies}}
<p><a href="/movies/{{this._id}}">{{this.title}}</a></p>
{{/each}}
<div>
    <a href="/movies" style="color: red;">Go to Movies</a>
</div>
<div>
    <a href="/movies/new" style="color: rgb(11, 134, 32);">Add New Movie</a>
</div>