<h1>These are the hottest movies</h1>

{{#each moves}}
<li>{{ title }}</li>
<li><a href="/movies/{{_id}}">Details</a></li>
<form action="/movies/{{_id}}/delete" method="post">
  <input type="submit" value="delete">
</form>
{{/each}}



<p>Wanna add a new movie?</p>
<a href="/movies/new">Add movie</a>