<h2>Movies</h2>

<ul>
{{#each movies}}
    <li><a href="/movies/{{this.id}}">{{this.title}}</a></li><form method="GET" action="/movies/{{this.id}}/edit"><button>Edit</button></form><form method="POST" action="/movies/{{this.id}}/delete"><button>Delete</button></form>
{{/each}}
</ul>
 
<br><br>
<a href="/movies/new">Add Movie</a>