<h1 class ="all">List of All Movies</h1>

{{#each movies}}

<h2><a href="/movies/details/{{this.id}}"> 
{{this.title}}
</a></h2>
<form action="/movies/delete/{{this._id}}" method="POST">
    <button class ="button">Remove Movie</button>
</form>

<a class="edit" href="/movies/editmovie/{{this._id}}">Edit Movie's Info</a>
{{/each}}
