<h2>Movies</h2>
<div class="row">
    {{#each movies}}
        <div class="col-4 my-3">
            <div class="card">
                <div class="card-body">
                    <a href="/movies/{{this.id}}" class="card-title">{{this.title}}</a>
                    <div class="row">
                            <form action="/movies/{{this.id}}/edit" method="get" class="my-1">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <form action="/movies/{{this.id}}/delete" method="post" class="my-1">
                                <button type="sumbit" class="btn btn-danger">Delete</button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
    {{/each}}
    <form action="/movies/new" method="get">
        <button class="btn btn-primary">Add new movie</button>
    </form>
</div>