<div class="container">
    <div class="row">
        <h2>MOVIES</h2>
       <div class="col-12 col-md-3"></div>
     
        <div>
            <ul>
                {{#each movies}}
                <li>
                    <h3>{{title}}</h3>
                    <a href="/movies/{{_id}}" class="btn btn-outline-secondary btn-sm">See More</a>
                    <a href="/movies/edit/{{_id}}" class="btn btn-outline-info btn-sm">Update</a>
                    <a href="/movies/delete/{{_id}}" class="btn btn-outline-danger btn-sm">Delete</a>
                </li>
                {{/each}}
            </ul>
        </div>

   


    </div>
    <a href="/" class="btn btn-outline-primary btn-sm">Back Cinema </a>
    <a href="/movies/new" class="btn btn-outline-warning btn-sm">Add a new movie</a>
 
</div>

