<h2>Movies list</h2>
<div class="list-group">
  {{#each movies}}
  <a href="/movies/{{_id}}" class="list-group-item list-group-item-action">{{this.title}}</a>
  <form action="/movies/delete/{{id}}" method="POST">
    <button type="submit">DELETE</button>
  </form>
  <a href="/movies/edit/{{_id}}">EDIT</a>
  <br>

  {{/each}}

</div>

<a href="/">Go to the home page</a>

<a href="/movies/new">Add movie</a>