<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>List of movies</h3>
    <a href="/">Back</a>
    <a href="/movies/new">New movie</a>
    <ul>
      <%- movies.map((c)=> `<li>
      <a href="/movies/${c._id}">${c.title}</a>
      <a href="/movies/${c._id}/delete">Delete</a>
      </li>`).join(''); %>
    </ul>
  </body>
</html>
