<div class="listContainer">

  <h2>List of Movies</h2>

  <ul>
    {{#each movies}}
    <div class="listItem">
    <li>{{title}}</li>
    <a class="seeMore" href="/movies/{{this._id}}">See more</a>
    <a class="delete" href="/movies/{{this._id}}/delete">Delete</a>
    </div>
    {{/each}}

  </ul>
</div>

<div class="viewFooter">
  <a class="new" href="/movies/new">Create Movie</a>
  <a class="backHome" href="/">Back to Home</a>
</div>