<h2>movies</h2>

{{#each movies}}
<h3><a href="/movies/show/{{_id}}">{{this.name}}</a></h3>

<form action="/movies/{{_id}}/delete" method="POST">
<button>delet</button>
</form>
{{/each}}


<a href="/movies/new">Add new movie</a>