<div class="bar">
    <h2>Movies</h2>

    <a href="/addMovie">Add a new movie!</a>
</div>

<div class="container">

    <div class="row">

        {{#each moviesFromDB}}

            <div class="col-lg-4 celebrities-container">
                <div class="celebrities-info-container">
                    <h5 class="card-title">{{this.title}}</h5>
                    <a href="/movies/{{this._id}}" class="btn btn-primary">Movie detail</a>
                    <a href="/movies/{{this._id}}/edit" class="btn btn-primary padding-movie-edit">Edit</a>
                    <form action="movies/{{this._id}}/delete" method="POST">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </div>
            </div>

        {{/each}}

    </div>

</div>