<div class="cont">
    <a href="/">Home Page</a>
    <h1>Movies</h1>
    {{#each celebrities}}
    <div>
        <a href="/movies/{{_id}}">{{title}}</a> 
        <a href="/movies/delete/{{_id}}">Delete movie</a>
        <a href="/movies/edit/{{_id}}">Edit movie</a>
    </div>
    {{/each}}
</div>