<div class="title">
    <div class="col">
        <h2>Lista de películas</h2>
    </div>
</div>

<div class="movies-list">
    {{#each movies}}
    <ul>
        <li><a href="/movies/show/{{_id}}">{{title}}</a></li>
        <a href="/movies/edit?id={{_id}}"><button type="button" class="btn btn-success btn-sm">Editar</button></a>
        <form action="/movies/{{_id}}/delete" method="POST">
            <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
            <hr>
        </form>
    </ul>
    {{/each}}
    <a href="/movies/new"><button type="button" class="btn btn-info">Crear nuevo</button></a>
    <a href="/"><button type="button" class="btn btn-info">Volver la inicio</button></a>
</div>