<h2>Celebrities</h2>


<div class="col-5">
  {{#each movies}}
  {{> listItem}}
  {{/each}}
</div>

<!--<a href="/movies/new"><button type="submit" class="btn btn-success">Add a new movie</button></a>-->