<div>
 <a class="btn btn-primary" href="/" role="button">Home</a>
 <a class="btn btn-primary" href="/movies/new" role="button">Add movie</a>
</div>
<h2>Movies list</h2>
{{#each movies as |movie|}}
<h3>Name:{{movie.title}}</h3>
<a class="btn btn-primary" href="/movies/{{movie.id}}" role="button">Details</a>
<a class="btn btn-primary" href="/movies/{{movie.id}}/edit" role="button">Edit</a>
<form action="/movies/{{movie.id}}/delete" method="POST"><button type="submit"
        class="btn btn-primary">Delete</button>
</form>

{{/each}}