<h2>Movies page</h2>

<ul>
    {{#each movies}}
        <div class="content-wrapper">
            <li><a href="/movies/{{this._id}}">{{this.title}}</a></li>
            <div class="action-buttons">
                <a href="/movies/{{_id}}/edit">Edit movie</a>
                <form action="/movies/{{this._id}}/delete" method="POST">
                    <button type="submit">Delete movie</button>
                </form>
            </div>
        </div>
        <hr>
    {{/each}}
</ul>

<div class="nav-links">
    <a href="/">🔙 Back to home page</a>
    <a href="/movies/new">➕ Add new movie</a>
</div>