<h1>Movies</h1>

<a href="/movies/new">
    <button>add a movie</button>
</a>

{{#each movies}}

<p>
    {{this.title}} 
    <a href="/movies/{{this._id}}">see details</a>
    <a href="/movies/delete/{{this._id}}">delete</a>

</p>

{{/each}}