<a href="/">Return</a>
<h2>Movies</h2>
{{#each movies}}
<h3><a href="/movies/{{this.id}}">{{this.title}}</a></h3>

<a href="/movies/{{this.id}}/edit">Edit Movies</a> <br> <br>

<form action="/movies/{{this.id}}/delete" method="POST">
  <button type="submit">Submit Deletion of Movie</button>
</form>

{{/each}}
<p><a href="/movies/new">Add your Own Movie</a></p>