<h2>Movies</h2>
<ul>
  {{#each movies}}
  <form method="POST" action="/movies/{{this._id}}/delete">
    <li>
      <a href="/movies/{{this.id}}">
        <h3>{{this.title}}</h3>
      </a>
      <button>Delete Movie</button>
    </li>
  </form>
  <a href="/movies/{{this.id}}/edit">Edit</a>
  {{/each}}
</ul>
<a href="/movies/new">Add a new movie</a>