<a href="/movies/new">Create new</a>
<ul>
  {{#each movies as |movie|}}
    <li>
      <a href="/movies/{{movie._id}}">
      {{movie.title}}</a>
      <br>
      <a href="/movies/{{movie._id}}/edit">Edit</a>
      <form action="/movies/{{movie._id}}/delete" method="POST" enctype="application/x-www-form-urlencoded">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>