<h2>All Movies</h2>
{{#each movies }} 
    <a href="/movies/{{_id}}">
        <h4>{{title}}</h4>
    </a>
    <form action="/movies/{{id}}/delete" method="POST">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
    <form action="/movies/{{id}}/edit" method="GET">
            <button type="submit" class="btn btn-success">Edit</button>
    </form>
{{/each}}

