<a href="/">Home</a>
<br>
<a href="/newMovie">New Movie</a>


<hr>

{{#each movies}}
<section >
    <h2><a href="/movies/{{_id}}"> {{title}} </a></h2>
    <br>
   <form action="/movies/{{_id}}/delete" method="post">
        <button class="btn btn-danger" type="submit">Delete Movie</button>
    </form>
    <br>
   <a class = "btn btn-primary" href="/movies/{{_id}}/edit"> Edit Movie </a>
<hr>
</section>
{{/each}}

