<h2>Movies</h2>
{{#each movies}}
<a href="movies/details/{{this._id}}">
  <h3>{{this.title}}</h3>
</a>
{{/each}}   

<a href="/movies/new">
  <button style="background-color:green">Add new movie</button></a>