<h2>Movies</h2>
<div class="enlaces">
<a href="./newmovie">Add new</a>
</div>
<div class="principal">
{{#each movies}}
<div class="contenido">
<a href="./showmovie/{{_id}}">{{title}}</a>
<form action="/movies/{{_id}}/delete" method="POST" >
  <button type="submit">Delete</button>
</form>
</div>
{{/each}}
</div>