<a href="/movies/new">Create movie</a>
{{#each movies as |movie|}}
    <a href="/movies/{{movie._id}}"><h2>{{movie.title}}</h2></a>
    <form action="/movies/{{movie._id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{/each}}