<h2>Movies</h2>
{{#each movies}}
{{>list path="/movies" id=this._id name= this.title}}
{{/each}}
<p><a class="btn btn-success" href="/movies/new" role="button">ADD new movie</a></p>
<p><a class="btn btn-primary" href="/" role="button">BACK to home</a></p>