<h2>MY MOVIES</h2>

{{#each movies}}
<p>{{this.title}}</p>
<a href="/list/{{this.id}}">Show More</a>
<form action="/movie/{{this.id}}/delete" method="post">
<button type="submit">Delete Movie</button>
</form>

<a href="/movie/{{this.id}}/edit">Edit Movie</a>
{{/each}}

<h3><a href="/newmovie">Add your Movie</a></h3>