<div class="movies">
    <h2>MOVIES</h2>
    <ul>
        {{#each allMovies}}
        <li>
            <a href="/movies/show/{{this._id}}">{{this.title}}</a>
            <form action="/movies/{{this._id}}/delete" method="POST">
                <button  class="btn btn-delete" type="submit">Delete</button>
            </form>
            <form action="/movies/{{this._id}}/edit" method="POST">
                <button  class="btn btn-edit" type="submit">Edit</button>
            </form>
        </li>

        {{/each}}
    </ul>

    <a href="/movies/new">New Movie</a>
</div>