<h2>List of all Movies</h2>

{{#each allMovies}}

<a href="/movies/{{this._id}}"><h2>{{this.title}}</h2></a>
<form action="/movies/{{this._id}}/delete" method="POST">
<button type="submit">DELETE</button>
</form>

{{/each}}

<a href="/movies/new"><h2>Add a new movie</h2></a>