<div class="container">

  <div class="list-group">
    <h2 class="list-group-item list-group-item-action active list-group-item-dark">
      Movies:
    </h2>

    <div class="row  align-items-center">
      {{#each allMovies}}
      <div class="col-md-10">
        <a href="/movies/details/{{_id}}" class="list-group-item list-group-item-action">{{title}}</a>
      </div>

      <div class="col-md-2">
        <form action="/movies/delete?id={{_id}}" method="POST">
          <input name="id" type="hidden" class="form-control" id="field1">
          <button class"delete" type="submit" class="btn btn-dark">Delete</button>
          <a href="/movies/{{_id}}/edit" class="btn btn-dark">Edit</a>
        </form>
      </div>
      {{/each}}
    </div>
  </div>
  <a id="create" href="/movies/new" class="btn btn-dark">Create a new celebrity</a>
</div>