<h2> List of All Movies</h2>

<div class='movie-wrapper'>
    {{#each movies}}
    <div class='movie-options'>
        <div class='movie-name'>
            {{this.title}}
        </div>

        <div class='movie-actions'>
            <a href="/movies/show/{{this._id}}">More Info</a>

            <form action="/movies/delete/{{this.id}}" method="POST">
                <button class='delete-button' type="submit"> Delete </button>
            </form>

            <a href="/movies/edit/{{this._id}}"> Edit </a>
        </div>
    </div>

    {{/each}}
</div>


{{!-- <div>
    <a href="/movies/new"><button>New Movie</button></a>
</div> --}}