<h2>Movies</h2>
<ul>
  {{#each movies}}
  <form action="/movies/{{this._id}}/delete" method="post">
    <li>
      <a href="/movies/{{this._id}}">{{this.title}}</a>
      <button><a href="/movies/{{this._id}}/edit">Edit</a></button>
      <input type="submit" value="Delete movie">
    </li>
  </form>
  {{/each}}
</ul>
<p><a href="/movies/new">Add a new movie</a></p>
<p><a href="/">Go Index</a></p>