<h2>Movie List</h2>
<a href="/movies/new">Add new movie</a>
{{#each movies}}
    <p>{{title}}</p>
    <a href="/movies/{{id}}">Show details</a>
    <form action="/movies/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{/each}}