<h2>List of Movies</h2>

<a href="/movies/new">Add a Movie</a>

<ul>
    {{#each movieArray}}
    <li>
        Name:
        <a href="/movies/{{this._id}}">{{this.title}}</a>
        <form action="/movies/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </li>
    {{/each}}
</ul>