<section class="page">
  <h2>Movies</h2>
  
  {{#unless movies}}
  <p class="nothing">Sorry, nothing here yet...</p>
  {{/unless}}
  <a class ="create" href="/movies/new">Add a new movie</a class ="create">

  <div class="grid">
  {{#each movies}}
      <div class="cell">
          <a class="movie" href="/movies/show/{{this._id}}">{{this.name}}</a>
          <div class="buttons">
            <form action="/movies/{{this._id}}/edit" method="get"><button type="submit">Edit</button></form>
            <form action="/movies/{{this._id}}/delete" method="post"><button type="submit">Delete</button></form>
          </div>
      </div>
  {{/each}}
  </div>
</section>