<h2>Movies List</h2>

{{#each movies}}
<br><br>
<a href="/movies/{{_id}}">{{title}}</a>
<form action="/movies/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>

{{/each}}
<br><br>

<a href="/movies/new">Add a Movie</a>