<h2>List of Movies</h2>
{{!-- {{#each movieList}}
<p><a href='/movies/movie/{{id}}'>{{title}}</a></p>
<form action='/movies/{{id}}/delete' method='post'>
<button type='submit'>Delete</button>
</form>
{{/each}} 
<h3><a href='movies/new'>Add a new Movie!</a></h3>
<h3><a href='/'>Return to Main</a></h3> --}}