<ul style='list-style: none;'>
    {{#each movies}}
    <li>
        <h4>{{this.title}}</h4>

    </li>
    <li>
        <a href="/movies/{{id}}">See Details</a>
    </li>
    <li>
        <a href="/movies/{{id}}/delete">Delete</a>
    </li>
    <li>
        <a href="/movies/{{_id}}/edit">Edit</a>
    </li>

    {{/each}}

    <a href="/movies/new"><button>Add New Movie</button></a>

</ul>