<h1>All the Movies!</h1>

{{#if deleted}}

<h2>{{movie.name}} has been deleted!</h2>

{{/if}}

<p><a href="/movies/new">Add a new Movie</a></p>

{{#each movies}}

<h2>{{this.title}}</h2>
<h3><a href="/movies/{{this._id}}">See more about {{this.title}}</a></h3>
{{/each}}