<h2>Movie list</h2>
<div class="div1">
{{#each movies}}
<div class="movie-list">
  <a href="/movies/{{this._id}}">{{this.title}}</a>
  <form action="movies/{{this._id}}/delete" method="POST">
  <button> Delete</button>
  </form>
</div>
{{/each}}
</div>

<a href="/movies/new">Create a new Movie</a>
<a href="/celebrities/new">Create a new Celebrity</a>
<form action="/logout" method="POST">
  <button>logout</button>
</form>