<div class="content">

    <h2 class="display-5">Échale un ojo a nuestras pelis</h2>

    {{#each response}}

    <p><strong>Título: </strong>{{title}}</p>

    <div class="main-btns">

        <div>
            <a class="btn btn-info" href="movies/details/{{id}}">Ver detalle</a>
        </div>
        <div class="restricted">
            <a class="btn btn-outline-info" href="movies/edit?movie_id={{id}}">Editar</a>

            <form method="POST" action="movies/details/{{id}}/delete">
                <button type="submit" class="btn btn-light">Borrar</button>
            </form>
        </div>


    </div>

    <hr>

    {{/each}}


    <div class="create-new">

        <a class="btn btn-info" href="movies/new">Crear nueva película</a>

    </div>


</div>