<h1>Film list</h1>


<ul>
    {{#each movies}}
    <li>
        <p>{{title}} |
            <a class="btn btn-sm btn-dark" href="/movies/{{id}}">ver detalles</a>
            <a class="btn btn-sm btn-dark" href="/movies/{{id}}/edit">Editar</a>


        <form action="movies/{{id}}/delete" method="post">
            <button type="submit">Delete movie</button>
        </form>
        </p>
    </li>

    {{/each}}


    <a class="btn btn-sm btn-dark" href="/movies/new">crear</a>