<h2>Movies</h2>
{{#each data}}
    <p>{{title}}</p>

    <a href="movies/view/{{_id}}">Details</a>
  
    <a href='movies/view/{{_id}}/delete'  type='submit'>Delete</a>
    
{{/each}}
 <br>
<a href="movies/new">Add a new celebrity</a> 
<br>
<a href="/">Back</a>