<p class="text-center">Select or Add a Movie</p>

{{#each moviesList}}
<ul class="list-group">
  <li class="list-group-item"><a href="/movies/{{this._id}}">{{this.title}}</a>

    <a class="btn btn-primary btn-sm" href="/movies/{{this._id}}/edit" class="edit-button">EDIT</a>
    <a href="/movies/{{this._id}}/delete" class=" btn btn-danger btn-sm">DELETE</a>
  </li>


</ul>
{{/each}}
<a class="btn btn-outline-success btn-sm" href="/movies/new">Add a Movie</a>