<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Movies list</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {{#each movies}}
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card" style="width: 18rem;margin-right:20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">This is a Movie!!!.</p>
                        <a href="movies/{{this._id}}" class="btn btn-sm btn-primary">See details</a>
                        <span>
                            <form action="movies/delete" method="post">
                                <input type="text" value="{{this._id}}" name="id" style="display:none">
                                <button type="submit" class="delete btn btn-sm btn-danger">Delete Movie</button>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="new col-md-4 offset-md-5">
                <a href="movies/new" id="create-celeb" class="btn btn-primary">Create a new Movie</a>
            </div>
        </div>
    </div>
</div>