<h2>List of Movies</h2>
<a href="movies/new">Create new</a>
<ul>
  <% movies.forEach((movie) => { %>
    <li>
      <a href="/movies/<%= movie._id %>"><%= movie.name %></a>
      <a href="/movies/<%= movie._id %>/edit">edit</a>
       <form action="/movies/<%= movie._id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
        
    </li>
  <%  }) %>
</ul>