{{> nav}}

<div class="container-fluid">
  <h2>Movies</h2>
</div>

<div id="celebrities" class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <ul>
        {{#each movies}}
        {{#with this}}
        {{> movie}}
        {{/with}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="row text-right">
    <a class="btn btn-light" href="./movies/new">Añade una película</a>
  </div>
</div>