<div class="containerr movieList-container">
  {{!-- <h2>Movies list</h2> --}}
  {{#each movies}}
    {{> movieListPartial}}
  {{/each}}
  <div class="card plusCard">
    <a href="/movies/new"><img class="card-img-top" src="/images/plus.jpg" alt="Plus image"></a>
    <div class="card-body">
      {{!-- <a href="/movies/new" class="btn btn-primary">Add movie</a> --}}
    </div>
  </div>
</div>
