<h2>List of Movies</h2>

{{#each allTheMovies}}
<div>
  <p>Title of the Movie: <a>{{this.title}}</a></p>
  <a href="/movies/{{this._id}}">See more</a> <br>

  <a href="/movies/{{this._id}}/edit">Edit</a>

  <form action="/movies/{{this._id}}/delete" method="post">
    <button class="delete-button">Delete !</button>
  </form>
</div>

{{/each}}

<a href="/movies/new">Add new movie</a>