<h1>Movies</h1>

{{#each movies}}
<h3><a href="/movies/show/{{_id}}">{{this.title}}</a></h3>
<button><a href="/movies/edit/{{_id}}">Edit</a></button>
<form action="/movies/delete/{{_id}}" method="POST">
    <button type="submit">Delete</button>
</form>
{{/each}}
<a href="/">
    <h3>Return to Main Page</h3>
</a>