<h2>Our Movies</h2>

{{#each movie}}
<p>{{title}}</p>
<a href="/movies/{{_id}}">More information</a>
<form action="/movies/{{_id}}/delete" method="post"><button type="submit">Delete is don't look the bright side of the life!!</button></form>
{{/each}}
<p>{{error}}</p>
<br><br>
<a href="/movies/new">Add a new Movie</a>
<br><br>
<a href="/">Volver a Main</a>