<h1>Movies</h1>

<ul>
{{#each mov}}
 <li><a href='/movies/{{_id}}'>{{title}}</a></li>
 <form action="/movies/{{_id}}/delete" method="POST">
    <input type="submit" value="Delete">
 </form>
{{/each}}
</ul>