<head>
  <title>Celebrities-Movies</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Movies</h1>
  <ul>
    <% movies.forEach((movie) => { %>
      <li>
        <h2><%= movie.title %></h2>
        <div class="links2">
          <a href="/movies/<%= movie._id %>"><button type="button" name="button">Details</button></a>
          <a href="/movies/<%= movie._id %>/edit"><button type="button" name="button">Edit</button></a>
          <form action="/movies/<%= movie._id %>/delete" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </li>
    <% })%>
  </ul>

  <a href="/movies/new"><button class="newone" type="button" name="button">New Movie!</button></a>

</body>
