<h2>Movies</h2>

<a href="/movies/new">Add a new Movie</a>

{{#each movies}}
  <div>
    <a href="/movies/{{id}}">{{name}}</a>
    <form action="/movies/{{id}}/delete" method="POST"></form>
    <button type="submit">DELETE</button>
  </div>
{{/each}}