<h1>Movie info</h1>

<div class="movie">
    <div class="box-movie">
        <div class="title-movie"> <h2>{{movie.title}}</h2></div>
    </div>
    <div class="box-genre">
        {{movie.genre}}
    </div>
    <div class="plot">
        {{movie.plot}}
    </div>
 
    <a href="/movies">go back</a>
</div>
