<h1>Movies</h1>

{{#each movies}}
    <div class="card" style="width: 18rem;">
    {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="/movies/{{id}}" class="btn btn-primary">Show</a>
        <form action="/movies/{{id}}/delete" method="POST">
            <button class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
    </div>
{{/each}}