<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h4>Detalles sobre {{title}}</h4>
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <p>Título: {{title}}</p>
      <p>Género: {{genre}}</p>
      <p>Plot: <em>"{{plot}}"</em></p>
    </div>
  </div>
</div>