<div class="celebrities-list">

<h3>Detalles de la pelicula</h3>

<hr>


<article>
    <h3>{{title}}</h3>
    <p>Género: {{genre}}</p>
    <p>Sinópsis: {{plot}}</p>
    <a href="/movies" class="btn btn-sm btn-dark">Volver</a>
    <a href="/movies/edit/{{_id}}" class="btn btn-sm btn-dark">Editar pelicula</a>
</article>
<hr>



</div>