<div style="display: flex; justify-content: center;">
    <h1>Movie</h1>
</div>


<div class="card mt-5">
    <div class="card-header">
        Movie
    </div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">genero: {{genre}}</p>
        <p class="card-text">plot: {{plot}}</p>

        <a href="/movies" style="font-size: 20px;">Back</a>
    </div>
</div>