
{{#with movie}}
<h1>{{title}}</h1>
<p>Genre of the film: {{genre}}</p>
<p>What is the movie about?: {{plot}}</p>
{{/with}}


<p><a href="/movies">Go back to the list</a></p>

<p><a href="/">Go back to the main page</a></p>
