<h2>Edit Movie</h2>
<form action="/movies/{{movie._id}}" method="post">
    <div class="form-group">
        <label>Movie title: </label>
        <input type="text" class="form-control" name="title" value="{{movie.title}}">
    </div>
    <div class="form-group">
        <label>Genre: </label>
        <input type="text" class="form-control" name="genre" value={{movie.genre}}>
    </div>
    <div class="form-group">
        <label>Plot: </label>
        <input type="text" class="form-control" name="plot" value="={{movie.plot}}">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>