<h2>Edit Movie</h2>
<form action="/movie/edit/{{_id}}" method="POST">
  <input name="title" type="text" placeholder="Movie Title" value="{{title}}">
  <input name="genre" type="text" placeholder="Genre" value="{{genre}}">
  <input name="plot" type="text" placeholder="Plot" value="{{plot}}">
  <input type="submit" value="Edit Movie">
</form>