<h1>List of Movies</h1>
<a href="/movies/new"><button class="new-movie-btn">Add a new movie</button></a>
<hr>
{{#each movies}}
<div class="each-movie-border">
<h3 class="movie-title">{{this.title}}</h3>
<a href="/movies/{{this._id}}">More Info</a>
</div>
{{/each}}
<br>
<br>

