<h1>More info</h1>

<h2 class="movie-title">{{this.title}}</h2>

<h3> - {{this.genre}}</h3>

<h3> - {{this.plot}}</h3>

<form action="/movies/{{this._id}}/delete" method="POST">
  <button>delete</button>
  <br>
  <br>
</form>
  <a href="/movies"><button>Return to movies list</button></a>