<h2>Movie details</h2>

<h4>{{title}}</h4>
<span>Genre: {{genre}}</span>
<p>{{plot}}</p>
<p>
    <span class="font-weight-bold">Stars: </span>
    {{#each cast}}
        {{this.name}}
    {{/each}}
</p>

<a href="/movies" class="btn btn-secondary">Back</a>