<h2>Add a new Movie!</h2>
<hr>

<form action="/movies/new" method="post">

    <label>Title</label>
    <input type="text" name="title">

    <label>Genre</label>
    <input type="text" name="genre">

    <label>Plot</label>
    <input type="text" name="plot">

    <button type="submit">Add</button>

</form>