<h2>Add new Movie</h2>

<form action="/movies" method="POST">
   <label for="title"> Title</label>
   <input type="text" name="title" id="title-id">
   <label for="genre">Genre</label>
   <input type="text" name="genre" id="occupation-id">
   <label for="plot">Plot</label>
   <input type="text" name="plot" id="plot-id">
   <button type="submit">Add your favourite movie</button>
</form>