<div class="container">
  <h2>ESTAS SON LAS PELÍCULAS DISPONIBLES</h2>

  <ul>

    {{#each allMovies}}
    <a href="/movies/show/{{_id}}"><li>{{title}}</li></a>[<a href="/movies/delete?movies_id={{_id}}">Eliminar Película</a> ]</li>
    [<a href="/movies/edit-movies/{{_id}}">Editar película</a> ]</small></li> 
    {{/each}}

  </ul>

<a href="/movies/new-movies">Crea una nueva película</a>
<br>
<a href="/">Volver a la página principal</a>



</div>