 <h2> Movie Info</h2>

<p>Title: {{movieId.title}}</p>
<p>Genre: {{movieId.genre}}</p>
<p>Plot: {{movieId.plot}}</p>
<a href="/movies/{{movie._id}}/edit">Edit</a><br>
<a href="/movies">Go Back to Movies</a> 
