<body class="listMovie">

<h1>Check the list of available movies</h1>

{{#each movies}}



<a href="movie/{{this._id}}">{{this.title}}</a>


{{/each}}




<a href="/movies/addM">Add a Movie to the list</a>




</body>





