<h1>List of movies</h1>				
<ul>				
	{{#each movies}}			
		<li>		
			<a href="/movies/{{this._id}}">	
				{{this.title}}
			</a>
			(
				<a href="/movies/{{this._id}}/edit">Edit</a>
				<a href="/movies/{{this._id}}/delete">Delete</a>
			)
		</li>		
	{{/each}}			
</ul>				

<a href="/movies/new">Add a movie</a>