<div>
  <h1>Movie Details</h1>
</div>


<p>Title : {{movie.title}}</p>
<p>Genre : {{movie.genre}}</p>
<p>Description : {{movie.plot}}</p>
<hr>
<div><a href="/movies/{{movie._id}}/edit">Edit movie</a></div>

<div>
  <a href="/movies">back</a>
</div>