<h2>Movie Database</h2>
<h3><a href="/movies/new-movie">create</a></h3>
<ul>
{{#each result}}
<li>
    <h2><a href="/movies/details/{{this._id}}">{{this.title}}</a></h2>
    <form action="/movies/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
</li>
{{/each}}
</ul>

