<section>
    <div class="card border-light mb-3" style="max-width: 50rem;">

        <div class="card-header">
            <h2>{{title}}</h2>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{genre}}</h5>
            <p class="card-text">{{plot}}</p>
        </div>

    </div>
</section>