<h2>List of all the movies in DB:</h2>

{{#each allMoviesFromDB}}
<h3>Title:</h3>
<p><a href="/movies/{{id}}">{{title}}</a></p>

<form action="/movies/{{id}}/delete" method="POST">
   <button type="submit">DELETE</button>
   </form>

  <a href="/movies/{{id}}/edit">Edit </a>
{{/each}}
<BR>
<hR>
<a href="/movies/new">Create new Movie:</a>

