<h1>All the movies</h1>

<div>
    {{#each myCelebrities}}
       <p>{{this.name}}</p>
       <p>{{this.occupation}}</p>
       <p>{{this.catchPhrase}}</p>
       <p>_______________</p>
    {{/each}}
</div>