<h2>New Movie</h2>
<form action="/movie/new" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input name="genre" type="text" placeholder="Genre">
  <input name="plot" type="text" placeholder="Plot">
  <input type="submit" value="New Movie">
</form>