<h1>Movie Details</h1>
<div class="center">
<h2 class="link">{{result.title}}</h2>
    
    <p>genre: {{result.genre}}</p>
    <p>plot: {{result.plot}}</p>
    <p>actor: {{result.actor.name}}</p>

</div>