<h2>Add a movie</h2>

<form action="/movies/create" method="post">
<label for="title">Title</label>
<input type="text" id="title" name="title">
<br><br>
<label for="genre">Genre</label>
<input type="text" id="genre" name="genre">
<br><br>
<label for="plot">Plot</label>
<input type="text" id="plot" name="plot">
<br><br>
<label for="cast">Casting</label>
<select id="cast" name="cast" multiple>
    {{#each celebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>
<br><br>
<button>Create</button>
</form>