<h2>Add a movie</h2>

<form class="form-group" action="/movies/create" method="POST">
  <label for="">Title:</label>
  <input class="form-control" type="text" name="title">

  <label for="">Genre:</label>
  <input class="form-control" type="text" name="genre">

  <label for="">Plot:</label>
  <input class="form-control" type="text" name="plot">

  <label for="">Cast:</label>
  <select class="form-control" name="cast" multiple>
    {{#each celebrity}}
      <option type="checkbox" value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select>

  <button class="btn btn-primary my-3" type="submit">ADD</button>
</form>
