<h1>Add a movie</h1>

<form class="form" method="post" action="/movies/create">

  <label for="title">Title</label><br>
  <input type="text" id="title" name="title" value="test"><br>

  <label for="genre">Genre</label><br>
  <input type="text" id="genre" name="genre" value="test"><br>

  <label for="plot">Plot</label><br>
  <input type="text" name="plot" id="plot" value="test"><br>

  <label for="cast">Cast</label><br>
  <select type="text" name="cast" id="cast" multiple><br>
    {{#each myCelebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select><br>
  <button class="del-mov" type="submit">Create a movie</button>

</form>