
<h2>add new movie</h2>
<form action="/celebrities/new" method="POST">


  <label for="">Name :</label>
  <input type="text" name="name">

  <label for="">Occupation :</label>
  <input type="text" name="occupation">

  <label for="">Catch Phrase :</label>
  <input type="text" name="catch-phrase">

  <button type="submit">add movie</button>

</form>