<h2>Create new movie</h2>

<form method="post" action="/movies/create" class="form" enctype="application/x-www-form-urlencoded">
<label for="title">Title</label><br><br>
<input type="text" name="title" id="title" value="movie title"><br><br>
<label for="genre">Genre</label><br><br>
<input type="text" name="genre" id="genre" value="movie genre"><br><br>
<label for="plot">Plot</label><br><br>
<input type="text" name="plot" id="plot" value="movie plot"><br><br>
<label for="cast">Cast</label><br><br>
<select name="cast" id="select-celebrity" multiple>
    {{#each celebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select><br><br>
<button>Submit movie</button><br><br>
</form>