<h2>Add a new movie:</h2>

<form action="/movies/create" method="POST">

<label> Title:
    <input type="text" name="title">
</label>
<br>
<label> Genre:
    <input type="text" name="genre">
</label>
<br>
<label> Plot:
     <textarea cols="30" rows="10" name="plot"></textarea>
</label>
<br>
<label> Cast:</label>
    <select  name="cast" multiple>
    
        {{#each celebritiesFromDB}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    

<button type='submit'>Save</button>

</form>


