<h1>Create Movie</h1>

<form action="/movies/new-movie" method="POST">

<p>Title</p>
<input type="text" name="theTitle">
<p>Genre</p>
<input type="text" name="theGenre">
<p>Plot</p>
<input type="text" name="thePlot">
<button>Save</button>

</form>