<div class="container">


  <h2>FICHA DE LA NUEVA PELÍCULA</h2>

  <form method="POST" action="/movies/new-movies">

    <div class="form-group">
      <label>Título</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label>Género</label>
      <input type="text" class="form-control" name="genre">
    </div>
    <div class="form-group">
      <label>Argumento</label>
      <input type="text" class="form-control" name="plot">
    </div>

    <button type="submit" class="btn btn-dark">Crear ficha de nueva película</button>
  </form>

  <a href="/movies/" class="btn btn-info">Salir</a>


</div>