<h3>Adding a new movie</h3>
<form action="/movies" method="POST">
    <input type="text" name="title" placeholder="Please type the movie´s title">
    <input type="text" name="genre" id="" placeholder="PLease add the genres of the movie">
    <input type="text" name="genre" id="" placeholder="PLease add the genres of the movie">
    <input type="text" name="genre" id="" placeholder="PLease add the genres of the movie">
    <input type="number" name="year" placeholder="Please add the year when the movie was released">
    <input type="text" name="director" placeholder="Please add the Movie´s director name">
    <input type="text" name="plot" placeholder="Please add a plot for the new movie">
    <button type="submit">Add the new movie</button>
</form>


