<h2> New movie</h2>

<form action="/movies/create" method="post">
<label>Title</label>
<input type="text" name="title">
<label>Genre</label>
<input type="text" name="genre">
<label>Plot</label>
<input type="text" name="plot">
<label>Cast</label>
<select name="cast" >
{{#each celebrities}}
<option value='{{this.id}}'>{{this.name}}</option>
{{/each}}
</select>
<p></p>
<button type="submit">Send </button>
</form>