<form action="/movies/create" method="post">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">
  </div>
  <div>
    <label for="plot">Plot:</label>
    <input type="text" id="plot" name="plot">
  </div>
  <div>
    <label for="cast">Cast</label>
    <select name="cast" multiple>
      {{#each celebrities}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

