<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h2>Create new movies!</h2>

      <form method="POST" action="/movies">

        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" name="title">
        </div>

        <div class="form-group">
          <label>Genre:</label>
          <input type="text" class="form-control" name="genre">
        </div>

        <div class="form-group">
          <label>Plot:</label>
          <input type="text" class="form-control" name="plot">
        </div>

        <button type="submit" class="btn btn-info">Create movie!</button>

        {{#if errorMsg}}
        <div style="background: brown; color: white; text-align: center; padding: 10px; margin-top:20px">
          {{errorMsg}}</div>
        {{/if}}

      </form>

    </div>

  </div>

</div>