<h2>New Movie</h2>

<form action="/movies/create" method="post">
    <label for="title">Title</label>
    <input type="text" value="MovieTitle">
    <label for="genre">Genre</label>
    <input type="text" value="Genre">
    <label for="plot">Plot</label>
    <input type="text" value=Plot>
    <label for="cast">Cast</label>
    <input type="text" value=Cast>
    <button id="add">Add your movie</button>
</form>