<h2>Add New Movie</h2>
<form action="/movies/create" method="POST">
    <label for="title-input">Title</label>
    <input type="text" id="title-input" name="title">

    <label for="genre-input">Genre</label>
    <input type="text" id="genre-input" name="genre">

    <label for="plot-input">Plot</label>
    <input type="text" id="plot-input" name="plot">

    <button type="submit">Add New</button>
</form>