<div class="contanier">
    <h2>Add Movie</h2>
    <form method="POST" action="/movies/new">
        <div class="form">
            <label>Movie Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form">
            <label>Movie Genre</label>
            <input type="text" class="form-control" name="genre">
        </div>
        <div class="form">
            <label>Movie Plot</label>
            <input type="text" class="form-control" name="plot">
        </div>
        <button type="submit" class="btn btn-dark">Add Movie</button>
    </form>
</div>