<h2> Agrega una nueva celebridad! </h2>

<form action="/movies/new" method="POST"> 

<label> Title </label>
<input type="text" name="title" placeholder="nombre de la peli">
<label> Genero </label>
<input type="text" name="genre" placeholder="clasificalo">
<label> Argumento </label>
<input type="text" name="plot" placeholder="lo que pasa!">
<button type="submit" >Add</button>


</form>