<h2>Add a new Movie to our database</h2>

<form action="/movies" method="post">
    <label for="">Title:</label>
    <input type="text" name="title"><br>

    <label for="">Genre:</label>
    <input type="text" name="genre"><br>

    <label for="">Plot:</label>
    <input type="text" name="plot"><br>

    <button type="submit">ADD</button>
</form>