<h2>Here you can create a new Movie!</h2>

<form action="/movies/new" method="POST">

<label>
    Title:
    <input type="text" name="title"/>
</label>

<label>
    Genre:
    <input type="text" name="genre"/>
</label>

<label>
    Plot:
    <input type="text" name="plot"/>
</label>

<button type="submit">Add</button>

</form>