<h2>ADD NEW MOVIE</h2>

<br>
<form action="/movies" method="POST">
    TITLE: <input type="text" id="title" name="title">
    <br>
    <br>
    GENRE:<input type="text" id="genre" name="genre">
    <br>
    <br>
    PLOT:<input type="text" id="plot" name="plot">
    <br>
    <br>
    <button type="submit">SEND</button>
</form>
<br>
<br>
<br>
<a href="/">Back to menu</a>