<h2>Lets input a movie</h2>

<form method="post" class="form">
    <label for="title"> Title</label><input id="title" name="title" type="text">
    <label for="title">Genre</label><input id="genre" name="genre" type="text">
    <label for="title">Plot</label><input id="plot" name="plot" type="text">
    <button>create</button>
</form>