<h2>Add new movie</h2>

<form action="/movies" method="POST">
<input type="text" id="title" name="title" placeholder="Title of the movie">
<input type="text" id="genre" name="genre" placeholder="Genre">
<textarea name="plot" id="plot" cols="30" rows="10"></textarea>

<button type="submit">Add new movie!</button>

</form>