<form action="/movies/new" method="post" class="form">
    <h1 class="title">Create a movie</h1>

    <label class="label" for="title">title</label>
    <input class="input" id="title" type="text" name="title" value="Intouchable">
    <label class="label" for="genre">genre</label>
    <input class="input" id="genre" type="text" name="genre" value="touching">
    <label class="label" for="plot">plot</label>
    <input class="input" id="plot" type="text" name="plot" value="je suis un plot">


    <button class="btn">ok</button>
    {{!-- <input class="btn" type="submit" value="ok"> --}}
</form>