<h1>I need to know more disgusting movies :D</h1>
<p>Create a new trash movie and you'll be fun!</p> 

<form action="/movies" method="POST">
    <input type="text" name="title" placeholder="Caligula"> Movie's name </input>
    <input type="text" name="genre" placeholder="trash"> genre </input>
    <input type="text" name="plot" placeholder="I need more wine"> plot </input>
    <button type="submit" name="Submit">Submit!!</button>
</form>