<h2>Add new movie</h2>
<form action="/movies/new" method="post">
    <label>
        Movie title:
        <input placeholder="Write title" type="text" name="title">
    </label>
    <label>
        Genre:
        <input placeholder="Write genre" type="text" name="genre">
    </label>
    <label>
        Plot:
        <input placeholder="Write plot" type="text" name="plot">
    </label>
    <input type="submit">
</form>