<h2>Add a new Movie!</h2>
<form action="/movies/new" method="post">
    <label>
        Title:
        <input type="text" name="title">
    </label>
    <label>
        Genre:
        <input type="text" name="genre">
    </label>
    <label>
        Plot:
        <textarea name="plot" col="20" row="10"></textarea>
    </label>
    <button type="submit">Add Movie</button>
</form>