<h2>Crea una nueva Película</h2>

<form action="/movies/new" method="POST">
    <div>
        <label>Título</label>
        <input type="text" name="title">
    </div>
    <div>
        <label>Género</label>
        <input type="text" name="genre">
    </div>
    <div>
        <label>Resumen</label>
        <input type="text" name="plot">
    </div>

    <button type="submit">Crear película</button>



</form>