<h1>Add your own Movie!</h1>
<form action="/movies" method="POST">
<label>Title</label>
<input name="title" type="text">
<label>Genre</label>
<input name="genre" type="text">
<label>Plot</label>
<input name="plot" type="text">
<button>Submit!</button>
</form>