<h2>New Movie</h2>
<form action="/movies" method="POST">

    <label for="name">Title:</label>
    <input type="text" name="name">

    <label for="genre">Genre:</label>
    <input type="text" name="genre">

    <label for="plot">Plot:</label>
    <input type="text" name="plot">

    <button type="submit">Submit Information</button>

</form>