<h2>Heading new.hbs</h2>
<form action="/movies/new" method="POST">
  <label for="title_field">Title</label>
  <input name="title" type="text" id="title_field">
  <label for="genre_field">Genre</label>
  <input name="genre" type="text" id="genre_field">
  <label for="plot_field">Plot</label>
  <input name="plot" type="text" id="plot_field">
  <button type="submit">Add Movie</button>
</form>