<h2> Add a new Movie</h2>
<form action="/movies" method="POST">
    <p> Title: <input type="text" name="title"> </p>
    <p>genre: <input type="text" name="genre" > </p>
    <p> plot <input type="text" name="plot"> </p>
    <input type="submit">
</form>