<h2>Add new celebrity</h2>

<form action="/movies" method="post">
<label for="title-input">Title</label>
    <input type="text" name="title" value="" id='title-input'>
    <label for="genre-input">Genre</label>
    <input type="text" name="genre" value="" id='genre-input'>
    <label for="plot-input">Plot</label>
    <input type="text" name="plot" value="" id='plot-input'>
    <button type="submit">Add a new Movie!</button>
</form>

<br>
<a href="/">Home</a> 