<form action="/movies/new" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="">
    <label for="genre">Genre</label>
    <input type="text" name="genre" id="">
    <label for="plot">Plot</label>
    <input type="text" name="plot" id="">
    <button type="submit">Add new movie</button>
</form>