<div class="containerForm">
<h2>Add new Movie</h2>
<form action="" method="post">
  <div class="rowForm">
  <label for="name">Title</label>
  <input type="text" name="title">
</div>
<div class="rowForm">
  <label for="occupation">Genre</label>
  <input type="text" name="genre">
</div>
<div class="rowForm">
  <label for="catchPhrase">Plot</label>
  <input type="text" name="plot">
</div>
  <button type="submit">Create</button>

</form>

</div>