<div>
  <h1>Create New Movie</h1>  
</div>
<div>
  <form action="/movies/create" method="POST">
  <h4>Title</h4>
  <input type="text" name="theTitle">
  <h4>Genre</h4>
  <input type="text" name="theGenre">
  <h4>Plot</h4>
  <input type="text" name="thePlot">
  
  <input type="submit" value="Create">
  </form>
</div> 