<section class="page">
  <h2>Add a new movie</h2>
  <form action="/movies/new" method="post">
    <label for="name">Name</label>
    <input name="name" type="text" placeholder="Brazil">

    <label for="genre">Genre</label>
    <input name="genre" type="text" placeholder="Sci-Fi">

    <label for="plot">Plot</label>
    <textarea name="plot" id="plot" cols="30" rows="10" placeholder="Type your synopsis here"></textarea>

    <button type="submit">Ok</button>
  </form>
</section>