<h2>Add a movie</h2>
<form action="/movies" method="POST">
    <fieldset>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="Dummy">
    </fieldset>
    <fieldset>
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="Horror">
    </fieldset>
    <fieldset>
        <label for="plot">Plot</label>
        <textarea name="plot" rows="5" cols="50"
            id="plot">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dolorum voluptatem impedit quaerat!</textarea>
    </fieldset>
    <button type="">Add Movie</button>
</form>