<form action="/movies/new" method="post">
  <label for="titulo">Titulo:</label>
  <input type="text" name="title" value="" placeholder="Titulo">
  <br>
  <label for="genero">Genero:</label>
  <input type="text" name="genre" value="" placeholder="Genero">
  <br>
  <label for="PLOT">PLOT:</label>
  <input type="text" name="plot" value="" placeholder="PLOT">
  <br>
  <button type="submit" name="button">Añadir</button>
</form>
