<h2>Create Movie</h2>

<div class="col">
	<div class="row">
        <h2>Create a new Movie</h2>
	</div>
	<div class="row">
		<form action="/movies" method="POST">
			<div class="form-group">
				<label for="title">Movie title: </label>
				<input class="form-control" type="text" id="title" name="title" >
			</div>
			<div class="form-group">
				<label for="genre">genre:</label>
				<input class="form-control" type="text" id="genre" name="genre">
			</div>
			<div class="form-group">
				<label for="plot">Plot: </label>
				<textarea class="form-control" type="text" id="plot" name="plot"></textarea>
			</div>
				<div class="form-group">
					<label for="cast">Choose a car:</label>

						<select name="cast" id="cast" multiple>		
					{{#each celebrities as |celebrity|}}
					<option value="{{celebrity.id}}">{{celebrity.name}}</option>
					{{/each}}
					</select>
				</div>
			<button type="submit" class="btn btn-primary">Confirm</button>
		</form>
	</div>
</div>