<h2>New celebrity</h2>
<form action='/movies' method='post'>
    <p>Title: </p><input type='text' name='title' />
    <p>Genre: </p><input type='text' name='genre' />
    <p>Plot: </p><input type='text' name='plot'/>
    <button type='submit'>Add</button>
</form>