<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>New Movie</h1>

      <hr>

      <form method="POST" action="/movies/new">

        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <input name="genre" type="text" class="form-control" id="genre">
        </div>

        <div class="form-group">
          <label for="plot">Plot</label>
          <input name="plot" type="text" class="form-control" id="plot">
        </div>

        <button type="submit" class="btn btn-dark">Create new movies</button>
      </form>

    </div>
  </div>


</div>