<h2>Add a new Movie</h2>

<form action="/movie/new" method="POST">
<label>
    Title
    <input type="text" name="title">
</label>
<label>
    Director
    <input type="text" name="director">
</label>
<label>
    Stars
    <input type="text" name="stars">
</label>
<label>
    Genre
    <input type="text" name="genre">
</label>
<label>
    Description
    <input type="text" name="description">
</label>
<label>
    Spoilers
    <input type="text" name="spoilers">
</label>
<button type="submit">Add Movie</button>
</form>

<a href="/movies">Back</a>

