<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Movies
    </title>
</head>

<body>

  <h1>Add New Movie</h1>

    <form  method="POST" action="/celebrities/new">
      <fieldset id="sign_up">
        <div>
          <label>Tittle</label>
          <input type="name" name="tittle"  id="tittle" required>
        </div>
        <div>
          <label>Genre</label>
          <input type="description" name="genre"  id="genre" required>
        </div>
        <div>
          <label>Plot</label>
          <input type="name" name="plot"  id="plot" required>
        </div>
      </fieldset>
      <div class="">
        <input type="submit" value="Add Movie">
      </div>
    </form>


</body>

</html>
