<h2>New movie</h2>

<form action="/movies" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title">

  <label for="genre">Genre:</label>
  <input type="text" name="genre">

  <label for="plot">Plot:</label>
  <input type="text" name="plot">
  
  <button type="submit">Create</button>
</form>