<h2>Add a new movie</h2>
<a href="/">Home</a>

<form action="/movies/new" method="POST">

    <div>
        <label>Title:</label>
        <input name="title" type="text">
    </div>
    </br>
    <div>
        <label>Genre:</label>
        <input name="genre" type="text">
    </div>
    </br>
    <div>
        <label>Plot:</label>
        <textarea name="plot" cols="30" rows="4"> </textarea>
    </div>
    </br>
    <button type="submit">Add new movie</button>

</form>
