<h2>Add a Movie <a class="go-back-link" href="/movies/index">&lt; back</a></h2>
<form class="form" action="/movies/new" method="POST">

  {{> movieForm }}

  <div class="formBlock">
    <button type="submit">Add movie</button>
  </div>
</form>
