<h1>Insert a new Movie!</h1>
<form action="/movies" method="POST">
  <div>
    <p><label for="title">Title: </label><input type="text" name="title"></p>
    <p><label for="genre">Genre: </label><input type="text" name="genre"></p>
    <p><label for="plot">Plot: </label><input type="text" name="plot"></p>
    <p><button type="submit">Submit</button></p>
  </div>
</form>
<a href="/movies">Go back</a>