<h2 class='heading__title'>Create a new Movie</h2>

<form action="/movies/new" method="POST">
  <div class="mb-3">
    <label for="titleInput" class="form-label">Title</label>
    <input type="text" class="form-control" id="nameInput" name="title">
  </div>
  <div class="mb-3">
    <label for="genreInput" class="form-label">Genre</label>
    <input type="text" class="form-control" id="occupationInput" name="genre" >
  </div>
  <div class="mb-3">
    <label for="plotInput" class="form-label">Plot</label>
    <input type="text" class="form-control" id="catchPhraseInput" name="plot">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>