<span><a href="/movies">Back</a></span><br>

<h2>NEW MOVIE PAGE</h2>

<form action="/movies" method="POST">
  <label for="title">Title:
    <input type="text" name="title">
  </label>

  <label for="genre">Genre:
    <input type="text" name="genre">
  </label>

  <label for="plot">Plot:
    <input type="text" name="plot">
  </label>
  <button type="submit">ADD</button>
</form>