<h2>Create your Movie</h2>

<form action="/newmovie/create" method="post">
  <label for="">title:</label>
  <input type="text" name="title">

  <label for="">Genre:</label>
  <input type="text" name="genre">

  <label for="">Plot:</label>
  <input type="text" name="plot">

  <button type="submit">Create</button>
</form>