<h2>NEW MOVIE</h2>
<form action="/movies/new" method="POST">
    <label for="">title:</label>
    <input type="text" name="title" placeholder="Enter movie title">

    <label for="">genre:</label>
    <input type="text" name="genre" placeholder="what kind of movies is it?">

    <label for="">plot: </label>
    <input type="text" name="plot" placeholder="Enter the plot">


    <button type="submit">ADD this movie to the list</button>




</form>