<h2>Crea una pelicula</h2>
<form action="/movies/new" method="POST">
<label for="title" name="title">Name of movie</label>
<input type="text" name="title" placeholder="New movie">
<br>
<label for="genre" name="genre">Genre of the movie</label>
<input type="text" name="genre" placeholder="Genre">
<br>
<label for="plot" name="plot">Plot of the movie</label>
<input type="text" name="plot" placeholder="Plot of the movie">
<br>
<button type="submit">Add Movie</button>
</form>