<h2>Añadir nueva pelicula</h2>

<form action="/movies" method="post">
  <label for="">Titulo:</label>
  <input type="text" name="title"><br>

  <label for="">Genero:</label>
  <input type="text" name="genre"><br>

  <label for="">Sinopsis:</label>
  <input type="text" name="plot"><br>

  <button type="submit">Añadir pelicula</button>

</form><br>

<a href="/movies">Cancelar y volver a la lista de peliculas</a>