<h2>Add movie</h2>
<form action="/movies/new" method="post">

<label for="title-input">Title:</label>
<input type="text" id="title-input" name="title" autocomplete="off" >

<label for="genre-input">Genre:</label>
<input type="text" id="genre-input" name="genre" autocomplete="off">

<label for="plot-input">Plot:</label>
<input type="text" id="plot-input" name="plot" autocomplete="off">


<button type='submit'>Add movie</button>
</form>