<h2>Add a new movie</h2>

<form action="/movies/new" method="post">
  <b>Title</b>
  <br>
  <input type="text" name="title" class="form-control">
  <br>
  <b>Genre</b>
  <br>
  <input type="text" name="genre" class="form-control">
  <br>
  <b>Plot</b>
  <br>
  <textarea name="plot" class="form-control"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Add!</button>
</form>