<h2>Add new movie to DDBB</h2>

<form action="/movies/new" method="post"> 
  <label for="title">Título:</label>
  <input type="text" name="title"><br><br>

  <label for="genre">Género:</label>
  <input type="text" name="genre"><br><br>

  <label for="plot">Sinopsis:</label>
  <input type="text" name="plot"><br><br>

  <button type="submit">ADD</button>
</form>