<h2> Add a Movie </h2>

<form action="/movies/create" method="post">
  <p>Title</p>
  <input type="text" name="theTitle">

  <p>Genre</p>
  <input type="text" name="theGenre">

  <p>Plot</p>
  <input type="text" name="thePlot">

  <input type="submit" value="Add Movie">
</form>