<h1>Add a new Movie</h1>
<section class="form-container">
  <form action="/movies/new" method="post">
    <div>
      <label>Movie title:</label>
      <input type="text" name="title" placeholder="enter with title" id="movie-title">
    </div>
    <div>
      <label>Genre:</label>
      <input type="text" name="genre" placeholder="enter with genre" id="movie-genre">
    </div>
    <div>
      <label>Plot:</label>
      <input type="text" name="plot" placeholder="enter with the plot" id="movie-plot">
    </div>
    <div>
      <button type="submit">Add Movie</button>
    </div>
  </form>
</section>