<form method="POST" accept-charset="utf-8">
  {{> input label="Title" name="title"}}
  {{> input label="Genre" name="genre"}}
  {{> input label="Plot" name="plot"}}
  <button type="submit" class="btn btn-success">Add</button>
</form>
