<h2>Add new Movie</h2>
<form action="" method="post">
  <label for="name">Title</label>
  <input type="text" name="title">

  <label for="occupation">Genre</label>
  <input type="text" name="genre">

  <label for="catchPhrase">Plot</label>
  <input type="text" name="plot">

  <button type="submit">Create</button>

</form>