<h2>New Movie</h2>
<form action="/movies" method="POST">
    Title: <input type="text" name="title">
    Genre: <input type="text" name="genre">
    Plot: <input type="text" name="plot">
    <button type="submit">New</button>
</form>