<h1>Add a new movie to the database:</h1>

<form action="/movies/new" method="POST">
    <input type="text" name="title" value="The Matrix">
    <input type="text" name="genre" value="Sci-fi">
    <textarea name="plot"> When computer programmer Thomas Anderson, under the hacker alias "Neo", uncovers the truth, he "is drawn into a rebellion against the machines"[5] along with other people who have been freed from the Matrix.</textarea>

    <input type="submit" value="Add movie">
</form>