<h2>Add New Movie</h2>

{{!-- Add a <form> tag that makes a POST request to /movies. --}}
<form action="/movies/" method="POST">
    <p>Title</p>
    <input type="text" name="title">

    <p>Genre</p>
    <input type="text" name="genre">

    <p>Plot</p>
    <input type="text" name="plot">

    <button>Save!</button>
</form>