<h2>Adding a new Movie</h2>

<form action="/movies/create" method="POST">
<label for="title">Title</label>
<input type="text" name="title" id="">
<br />
<label for="genre">Genre</label>
<input type="text" name="genre" id="">
<br />
<label for="plot">Plot</label>
<input type="text" name="plot" id="">
<br />
<button type="submit">Add Movie</button>
</form>