<h2>Create Movie</h2>
<form action="/movies/add" method="post">
  <label for="title">Title: </label>
  <input type="text" id="title" name="title">
  <label for="genre">Genre: </label>
  <input type="text" id="genre" name="genre">
  <label for="plot">Plot: </label>
  <input type="text" id="plot" name="plot">
  <button type="submit">Create</button>
</form>