<h2>Add a new movie</h2>

<form action="/movies/new" method="POST">

    <label for="title">title</label>
    <input id="title" type="text" name="title">

    <label for="genre">genre</label>
    <input id="genre" type="text" name="genre">

    <label for="plot">plot</label>
    <input id="plot" type="text" name="plot">

    <button type="submit">Add a new movie</button>
</form>