<h2>Add new movie</h2>

<form action="/movies/add/new" method="POST">

<label for="title">title:</label>
  <input type="text" name="title"  value="{{title}}"><br>
<label for="genre">Genre:</label>
  <input type="text" name="genre" value="{{t}}"><br>
<label for="plot">Plot:</label>
  <textarea type="text" name="plot" value="{{plot}}"></textarea><br>


<button type="submit">Add new</button>


</form>