<form id="form-create-movie" method="post" action="/movies/new" class="form">
    <h1 class="title">Create movie</h1>

    <label for="title">Movie</label>
    <input class="input" id="title" name="title" type="text" required value="lolo">

    <label for="genre">Genre</label>
    <input class="input" id="genre" name="genre" type="text" value="dodo">

    <label for="plot">plot</label>
    <input class="plot" id="plot" name="plot" type="text" value="roro">


    <button class="btn">Create !</button>
</form>