<form method="POST" action="/movies">
    <h2>Create a new Movie</h2>
    <div class="form-group">
        <label for="drone-form">Title</label>
        <input name="title" type="text" class="form-control" id="Title" placeholder="Movie title">
        <small id="title" class="form-text text-muted">Boy and Girl 4</small>
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <input name="genre" type="text" class="form-control" id="catchphrase" placeholder="Drama">
    </div>
    <div class="form-group">
        <label for="plot">Plot</label>
        <input name="plot" type="text" class="form-control" id="occupation" placeholder="Boy meets girl">
    </div>
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>