 <h2>Add a new movie</h2>

<form  method='post'>
  <p>
    <label for='title'>Write title:</label>
    <input type='text' name='title'>
  </p>
  <p>
    <label for='genre'>Write genre:</label>
    <input type='text' name='genre'>
  </p>
  <p>
     <label for='plot'>Write plot:</label>
    <input type='text' name='plot'>
  </p>
  <p>
    <input type='submit'>
  </p>
</form>
