<form action="/movies/new" method="post">


    <label for="title" id="title">Title</label>
    <input id="title" name="title" value="test" type="text">

    <label for="genre" id="genre">Genre</label>
    <input id="genre" name="genre" value="test" type="text">

    <label for="plot" id="plot">Plot</label>
    <input id="plot" name="plot" value="test" type="text">


    <button class="btn">create !</button>

</form>