<div class="wrapper">
  <div class="container whiteBack">
  <h2> Add a movie</h2>
    <form action="/movies" method="post">
      <div class="row form">
        <label for="">Title:</label>
        <input type="text" name="title">

        <label for="">Genre:</label>
        <input type="text" name="genre">

        <label for="">Plot:</label>
        <input type="text" name="plot">

        <button type="submit" class="waves-effect waves-light btn links">ADD</button>
      </div>
    </form>
  <a href="/movies" class="waves-effect waves-light btn links">Go back to the list</a>
  </div>
</div>