
<h2>Create new movie</h2>
<form method="post" action="/movie">
  <label>Name</label>
  <input type="text" name="title" placeholder="title">
  <label>Occupation</label>
  <input type="text" name="genre" placeholder="genre">
  <label>Catch phrase</label>
  <input type="text" name="plot" placeholder="plot">
  <button>Click!</button>
</form>

<a href="/movies">Go back</a>