<h2>Add a new Movie</h2>
<form action="/movies" method="POST">

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter movie title">
    </div>

    <div class="form-group">
        <label>Genre</label>
        <input type="text" class="form-control" name="genre" placeholder="Enter movie genre">
    </div>

    <div class="form-group">
        <label>Plot</label>
        <input type="text" class="form-control" name="plot" placeholder="Enter movie plot">
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary mr-3">Submit</button>
    </div>
</form>