<h2>
  Add a new movie
</h2>

<form action="/movies" method="POST">
  Title: <input name="title"><br><br>
  Genre: <input name="genre"><br><br>
  Plot: <input name="plot"><br><br>
  <button type="submit">Add</button>
</form>
