<h2>New Celebrity</h2>

<form action="/movies/new" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title">
  <label for="">Genre:</label>
  <input type="text" name="genre">
  <label for="">Plot:</label>
  <input type="text" name="plot">
  <button type="submit">ADD</button>
</form>