<h2>Add your favorite Movie!</h2>

<form action="/movies/new" method='post'>
<label for="title">Title:</label>
<input type="text" name="title" placeholder="Type movie title">

<label for="genre">Genre:</label>
<input type="text" name="genre" placeholder="Type movie genre">

<label for="plot">Plot:</label>
<input type="text" name="plot" placeholder="Type movie plot">

<button type="submit">Add new movie!</button>
</form>