<h2>{{title}}</h2>

<form action="/movies" method="post">
    <div>
        <label for="">Title:</label>
        <input type="text" name="title" value="">
    </div>
    <div>
        <label for="">Genre:</label>
        <input type="text" name="genre" value="">
    </div>
    <div>
        <label for="">Plot:</label>
        <input type="text" name="plot" value="">
    </div>
    <button type="submit">ADD</button>
</form>

<a href="/movies">Return</a>