<h2>Can't find the movie you are looking for? Add a movie</h2>

<form action="/movies/new" method="POST">
    <label for="title">
        Title:
        <input type="text" name ="title">
    </label>
    <label for="genre">
        Genre:
        <input type="text" name ="genre">
    </label>
    <label for="plot">
        Plot:
        <input type="text" name ="plot">
    </label>
    <button type="submit">Submit Movie</button>
</form>