<h2>Add a new movie</h2>
<form action="/movies" method="POST"> 
    <label for="">Title:</label>
    <input type="text" name="title">

    <label for="">Genre:</label>
    <input type="text" name="genre">

    <label for="">Plot:</label>
    <input type="text" name="plot">

    <button type="submit">ADD</button>
</form>