<h2>Add a new movie</h2>
<section class="list">
  <form action="/movies" method="POST">
    <div class="element">
      <label for="title">Title*</label>
      <input type="text" name="title" id="title" value="{{base.title}}" {{#if errors.emptyTitle}}class="error" {{/if}}>
    </div>
    <div class="element">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre" value="{{base.genre}}">
    </div>
    <div class="element">
      <label for="plot">Plot</label>
      <textarea name="plot" id="plot">{{base.plot}}</textarea>
    </div>
    {{#if errors.message}}<p class="error">{{errors.message}}</p>{{/if}}
    <button>Create</button>
  </form>
</section>