
<h2>New Movie:  </h2>

<form action="/movies/new" method="POST">
     <p> Title:
    <input type="text" name="title">
</p>
 <p> Genre:
    <input type="text" name="genre">
</p>

    <p> Plot:
    <input type="text" name="plot">
</p>

<input type="submit" value="publish">

</form>