<h2>Add a new movie</h2>
<form action="/movie" method="post">
    <label for="movie-name">Movie title</label>
      <input id="movie-name" type="text" name="title">
    <label for="movie-genre">movie genre</label>
      <input type="text" name="genre">
    <label for="movie-plot">Plot</label>
      <input type="text" name="plot" id="movie-plot">
    <button>Create new movie</button>
</form>