<form method="post" action="/movies" class="form">
    <h2 class="title">Create new movie</h1>
    <hr>

    <label class="label" for="title">Title</label>
    <input class="input" id="title" type="text" name="title">

    <label class="label" for="genre">Genre</label>
    <input class="input" id="genre" type="text" name="genre">

    <label class="label" for="plot">Plot *don't spoil*</label>
    <input class="input" id="plot" type="text" name="plot">

    <button class="btn">create !</button>
</form>