<div class="celeb-padding">

    <h2>Create A New movie</h2>
    <div class="row new-celeb">
        <form action="/movies" class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input name="title" type="text" class="validate">
                    <label>Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="genre" type="text" class="validate">
                    <label>Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="plot" type="text" class="validate">
                    <label>Plot</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="actor" type="text" class="validate">
                    <label>Actor</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn-large">Create</button>
            <a href="/movies"><button class="waves-effect waves-light btn-large red darken-1">Cancel</button></a>
        </form>

    </div>
</div>