<form action="/movies/create" method="POST">

    <label for="title"> Enter Movie Title:</label>
    <input type="text" name="title">
    <label for="genre"> Specify Genre</label>
    <input type="text" name="genre">
    <hr>
    <label for="plot"> Describe Plot</label>
    <textarea name="plot" id="plot" cols="20" rows="3">

    </textarea>
    <button>Submit Movie</button>


</form>