<h2>Add Movie</h2>

<form action="/movies/{{this._id}}" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="plot" placeholder="What is this movie about?">
    <button type="submit">Add Movie</button>
</form>