<main>
    <h2 class="text-center py-5">New Movie</h2>
    <form action="" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title">
        <label for="genre">Genre:</label>
        <input type="text" name="genre">
        <label for="plot">Plot:</label>
        <input type="text" name="plot">
        <input type="submit" value="Add New">
    </form>
</main>