<h2>What is your favorite movie?</h2>

<form action ="/celebrities/new" method="post">
<label for="">Title:</label>
<input type="text" name="name">

<label for="">Genre:</label>
<input type="text" name="occupation">

<label for="">Plot:</label>
<input type="text" name="catchPhrase">

<button type="submit">Add your movie!</button>

</form>