<div class="row  d-flex flex-column justify-content-center align-items-center h-100">
  <div class="wrapper">
    <form action="/movie/new" method="POST" class="new-form">
      {{> movieForm}}
    </form>
  </div>
</div>