<h2>Add a new movie!</h2>

<form action="/movies" method="POST">
    <label>Title:</label>
    <input type="text" name="title">

    <label >Genre:</label>
    <input type="text" name="genre">

    <label>Plot:</label>
    <input type="text" name="plot">

    <button type="submit">Submit a new movie</button>
</form>