<h2>Create new movie</h2>

<div class="card-body card create"> 

    <form action="/movies/new" method="POST">

        <input type="text" name="name" value="">
        <input type="text" name="genre" value="">
        <input type="text" name="plot" value="">
        <button type="submit" class="card-link btn btn-success">Create</button>

    </form>

</div>