<h2>Add a new movie</h2>

<form action="/movies/new" method="POST">

<div>Title:  <input name="title" type="text"></div>
<div>Genre: <input name="genre" type="text"></div>
<div>Plot:   <input name="plot" type="text"></div>

<input type="button"   type="submit" value="Create">

</form>

<a type="button"  href="/">Back Home</a>