<h2>Add new movie</h2>
<form action="/movies" method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="genre" placeholder="Genre">
  <input type="text" name="plot" placeholder="Plot">
  <input type="text" name="movies" placeholder="List actors seperated by comma">
  <button type="submit">Create new</button>
</form>
