<a href="/movies/index">Go Back</a>

<h2>New Movie</h2>


<form action="/movies" method="post">
    <input type="text" name="title" placeholder="Title"></br>
    <input type="text" name="genre" placeholder="Genre"></br>
    <input type="text" name="plot" placeholder="Plot"></br>

    <button type="submit">Submit</button>
</form> 