<h2>Create Movie</h2>
<form action="/movies" method="post">

  <label for="title-input">Title:</label>
  <input type="text" name="title" id="title-input" />

  <label for="genre-input">Genre:</label>
  <input type="text" name="genre" id="genre-input" />

  <label for="plot-input">Plot:</label>
  <input type="text" name="plot" id="plot-input" />

  <button type="submit">Create</button>

</form>
