<h2>New movie</h2>

<form action="/newMovie" method="POST">
<label for="title">Title:
    <input id="title" type="text" name="title">
</label>
<label for="genre">Genre:
    <input id="genre" type="text" name="genre">
</label>
<label for="plot">Plot:
    <input id="plot" type="text" name="plot">
</label>
<input type="submit" value="Create">
</form>