<h2>Add a new Movie</h2>

<form action="/movie" method="POST">

  <label for="">Title: </label>
  <input type="text" name="title">
  <label for="">Genre: </label>
  <input type="text" name="genre">
  <label for="">Star:</label>
  <select name="star">
    {{#each celebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <label for="">Plot: </label>
  <input type="text" name="plot">
  <button>Add</button>

</form>