<h2>Add a movie</h2>

<form method='POST' action='/movies/new'><div class="input-group mb-3">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1"for="movieName">Title</label>
        </div>
        <input name= 'title'type="text" class="form-control" id="movieName">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1"for="plot">Plot</label>
        </div>
        <input name= 'plot' type="text" class="form-control" id="plot">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="genre">Genre</label>
        </div>
        <input name='genre' type="text" class="form-control" id="genre">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 