<div style="display: flex; justify-content: center;">
    <h1>Crear nueva Pelicula</h1>
</div>


<form action="/movies" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Titulo:</label>
        <input type="text" class="form-control" name="title">

    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">genero:</label>
        <input type="text" class="form-control" name="genre">

    </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">plot:</label>
        <input type="text" class="form-control" name="plot">

    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>