<h2> Add a New Movie </h2>

<form method="post" action="/movies">

  <label for="movie-input"> Movie Name </label>
  <input  id="movie-input" name="movieName" type="text">
  <br>

  <label for="genre-input"> Genre </label>
  <input  id="genre-input" name="genre" type="text">
  <br>

  <label for="plot-input"> Plot </label>
  <input  id="plot-input" name="plot" type="text">
  <br>

  <button> Save This Movie </button>

</form>
