<h2>Add a new movie</h2>
<!-- give your inputs the same name as your schema fields(see models)-->

<form action="/addmovie" method="POST">
    <label>
        Title:
        <input type="text" name="title"/>
    </label>
    <label>
        Genre:
        <input type="text" name="genre"/>
    </label>
    <label>
        Plot:
        <input type="text" name="plot"/>
        
    </label>

    <button>Add a Movie</button>
</form>