<h2>Create your own movie</h2>

<form action="/movies/new" method="POST">

  <label>Title:</label><br>
  <input type="text" name="title"><br><br>

  <label>Genre:</label><br>
  <input type="text" name="genre"><br><br>

  <label>Plot:</label><br>
  <input type="text" name="plot"><br><br>

  <button type="submit">Create it!</button>

</form>