<h1>Create a new Movie Here!</h1>

<!-- Simple form which will send a POST request -->
<form action="/movies/new/create" method="post">

  <p>Title</p>
  <input type="text" name="theTitle">


    <p>Genre</p>
  <input type="text" name="theGenre">


    <p>Plot</p>
  <input type="text" name="thePlot">

  <input type="submit" value="Submit Movie">
</form>