<h2>Add a new movie</h2>
<form action="/movies/new" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" required>

  <label for="">Genre:</label>
  <input type="text" name="genre" required>

  <label for="">Plot:</label>
  <input type="text" name="plot" required>

  <button type="submit">Add</button>
</form>
<a href="/movies">Cancel</a>