<h2>Create a new movie</h2>
<br>
<form action="/movies/new" method="POST">
  <label for="titleInput">title: <input id="titleInput" type="text" name="title"></label>
  <br>
  <label for="genreInput">genre: <input id="genreInput" type="text" name="genre"></label>
  <br>
  <label for="plotInput">plot: <input id="plotInput" type="text" name="plot"></label>
  <br>
  <button>submit</button>
</form>