<h2>Add a Movie</h2>

<form method="POST" action="/movies">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="genre" placeholder="Genre">
  <input type="text" name="plot" placeholder="Plot">
  <button type="submit">Submit</button>
</form>