<form action="/movies" method="POST">
    <label for="title">Nombre de la pelicula</label>
    <input type="text" name="title" value="" placeholder="escribe el nombre de la pelicula" />
    <label for="genre">Genero</label>
    <input type="text" name="genre" value="" placeholder="Escribe el genero de la pelicula" />
    <label for="plot">Sinopsis</label>
    <input type="text" name="plot" value="" placeholder="Escribe la sinopsis">

    <button type="submit">Agregar</button>
</form>