
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

        <h2>Add a new Movie</h2>
        <form method="POST" action="/movies/new">
            <div class="form-group">
                <label for="detail1">Title</label>
                <input type="text" class="form-control" id="detail1" name="title">
            </div>
            <div class="form-group">
                <label for="detail2">Genre</label>
                <input type="text" class="form-control" id="detail2" name="genre">
            </div>
            <div class="form-group">
                <label for="detail3">Plot</label>
                <input type="text" class="form-control" id="detail3" name="plot">
            </div>
            <button type="submit" class="btn btn-ligth btn-outline-dark">Submit</button>
        </form>

        </div>
    </div>

</div>