<div class="form__wrapper">
        <h1>Add new movie</h1>
        <form class="form"  action="/movies/new" method="post">
            <div class="mb-3 form-check">   
                <label class="form-label" for="title-input">Title:</label>
                <input class="form-control" type="text" name="title" id="title-input" />
            </div>
            <div class="mb-3 form-check">
                <label class="form-label" for="genre-input">Genre:</label>
                <input class="form-control" type="text" name="genre" id="genre-input" />
            </div>
            <div class="mb-3 form-check">
                <label class="form-label" for="plot-input">Plot:</label>
                <input class="form-control" type="text" name="plot" id="plot-input" />
            </div>
            <div class="button__wrapper">
                <button type="submit">Add movie!</button>
            </div>
        </form>
    </div>