<a href="/movies">Go back</a>
<h2>Add a new movie:</h2>
<form action="/movies/new" method="post">

  <label for="title">Movie's title: </label>
  <input type="text" name="title" placeholder="title">

  <label for="genre">Genre: </label>
  <input type="text" name="genre" placeholder="genre">

  <label for="plot">Plot: </label>
  <input type="text" name="plot" placeholder="plot">

  <button type="submit"> Add movie</button>

</form>