<h2>Add new Movie</h2>
<form method ="post" action="/movies">

<label for="title">Name</label>
<input id="title" name="title" type="text" required value="Kill Bill">

<label for="genre">Genre</label>
<input id="genre" name="genre" type="text" required value="Drama">

<label for="name">Plot</label>
<input id="plot" name="plot" type="text" required value="Uma Turman kills everyone">

<button>CREATE!</button>
</form>