<h2>ADD A MOVIE</h2>

<form action='/movies' method='POST'>

  <label for=''>title</label>
  <input type='text' name='title'>
  
  <label for=''>genre</label>
  <input type='text' name='genre'>

  <label for=''>plot</label>
  <input type='text' name='plot'>

  <button type='submit'>Send your movie</button>
</form>