<div class="containerr movieCreate-container">
  <h2>New movie</h2>
  <form method="POST" action="/movies/new">
    <div class="">
      <label>Title</label>
      <input type="text" class="" name="title" placeholder="Groundhog Day">
    </div>
    <div class="">
      <label>Genre</label>
      <input type="text" class="" name="genre" placeholder="Comedy">
    </div>
    <div class="">
      <label>Plot</label>
      <input type="text" class="" name="plot" placeholder="A weatherman finds himself inexplicably living the same day over and over again.">
    </div>
    <button class="btn btn-primary" type="submit">Create movie</button>
  </form>
</div>
