<div>Create</div>
<form method="POST" action="/movies">
  <div class="form-group">
    <label for="celebrityName">Title</label>
    <input name="title" type="text" class="form-control" id="celebrityName">
  </div>
  <div class="form-group">
    <label for="celebrityOccupation">Genre</label>
    <input name="genre" type="text" class="form-control" id="celebrityOccupation">
  </div>
  <div class="form-group">
    <label for="celebrityCatchPhrase">Plot</label>
    <input name="plot" type="text" class="form-control" id="celebrityCatchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>