<h2>Add a new celebrity profile</h2>

<form action="/movies" method="POST">

    <label for="movieName">Title: </label>
    <input type="text" name="title" id="movieName">

    <label for="movieGenre">Genre: </label>
    <input type="text" name="genre" id="movieGenre">

    <label for="moviePlot">Plot: </label>
    <input type="text" name="plot" id="moviePlot">

    <button class="btn btn-primary btn-sm" type="submit">Add</button>

</form>