<h2>Add a movie</h2>

<form action="/movies/new" method="POST">
    <input type="text" name="title" placeholder="TITLE" />

    <input type="text" name="genre" placeholder="GENRE" />

    <input type="text" name="plot" placeholder="PLOT" />

    <button type="submit">SAVE</button>

</form>