<h1>Add a movie</h1>

<form action="/movies" method="post">
  Title: <input type="text" name="title"> <br>
  Genre: <input type="text" name="genre"><br>
  Plot: <input type="text" name="plot"><br>
 
  <button type="submit">Create movie</button>
</form>