<form method="post" action="/movies/new" id="new_movie">
  <h2>Add a new movie</h2>
  <label for="title">Title</label>
  <input id="title" type="text" name="title" required>
  <label for="genre">Genre</label>
  <input id="genre" name="genre">
  <label for="plot">Plot</label>
  <input id="plot" name="plot">
  <button class="btn">Create</button>
</form>