<h2>Add Movie</h2>

<form action="/movies" method="post">
  <div class="form-row">
    <label for="">Title</label>
    <input type="text" name="title" required>
  </div>
  <div class="form-row">
    <label for="">Genre</label>
    <input type="text" name="genre">
  </div>
  <div class="form-row">
      <label for="">Plot</label>
      <input type="text" name="plot">
  </div>
  <input type="submit" value="add">
</form>