<h2>This movies/new.hbs</h2>

<form action="/movies/new" method="POST">
  <input type="text" name="title" placeholder="Movie Title">
  <input type="text" name="genre" placeholder="Movie Genre">
  <input type="text" name="plot" placeholder="Movie Plot">
  <button type="submit">Create New Movie</button>
</form>