<h2>Add a new movie</h2>
<form action="/movies" method="POST">
    <input type="text" name="title" id="movie-title" placeholder="Type title">
    <input type="text" name="genre" id="movie-genre" placeholder="Type genre">
    <input type="text" name="plot" id="movie-plot" placeholder="Type plot">
    <button type="submit">Submit</button>
</form>