<h1>Create a Movie</h1>

<form action="/movies/new" method="POST">
    <label for="">Title:</label>
    <input type="text" name="title">

    <label for="">Genre:</label>
    <input type="String" name="genre">

    <label for="">Plot:</label>
    <input type="String" name="plot">

    <button type="submit">Create</button>
</form>