<h1>New movie</h1>

<form action="/movies" method="POST">
<p>
<label for="title">Title
<input type="text" name="title"></input>
</label>
</p>
<p>
<label for="genre">Genre
<input type="text" name="genre"></input>
</label>
</p>
<p>
<label for="plot">Plot
<input type="text" name="plot"></input>
</label>
</p>
<input type="submit">
</form>