<h2>DIY Movie</h2>
<form action="/movies/new" method="POST">
    <label>
        Title:
        <input type="text" name="title">
    </label>
    <label>
        Genre:
        <input type="text" name="genre">
    </label>
    <label>
        Plot:
        <textarea type="text" name="plot"></textarea>
    </label>

    <button type="submit">Create your movie</button>
</form>