<h2>Add a new movie</h2>
<form action="/movies" method="post">
<input type="text" placeholder="title" name="title">
<input type="text" placeholder="genre" name="genre">
<input type="text" placeholder="plot" name="plot">
<input type="submit" value="Add a new movie">
</form>
<p><a href="/movies">Movies</a></p>