<h2>New Movie</h2>

<form action="/movies/new" method="POST">

    <label for="title">Title</label>
    <input class="input" type="text" id="title" name="title">

    <label for="genre">Genre</label>
    <input class="input" type="text" id="genre" name="genre">

    <label for="plot">Plot</label>
    <input class="input" type="text" id="plot" name="plot">

    <button class="btn">Create</button>
</form>