<h2>Add new Movie</h2>

<form action="/movies/new" method="POST">

<label>
    Title
    <input type="text" name="title">
</label>

<label>
    Genre
    <input type="text" name="genre">
</label>

<label>
    Plot
    <textarea type="text" name="plot" cols="30" rows="4"></textarea>
</label>

<button type="submit">Add Movie</button>
</form>