<h2>Create New Movie</h2>
<form action="/movies/create" method="POST" id="movieForm">
<label>Title</label>
<input type="Text" name="title">

<label>Genre</label>
<input type="Text" name="genre">

<label>Plot</label>

<textarea  name="plot" rows="4" cols="50" ></textarea>
<button>add new Movie</button>
</form>
