<h2>Create a new Movie</h2>
<form action="/movies/new" method="POST">
  <label for="name">Title:</label>
  <input type="text" name="title">
  <label for="occupation">Genre:</label>
  <input type="text" name="genre">
  <label for="catchPhrase">Plot:</label>
  <input type="text" name="plot">
  <input type="submit" value="Submit">
</form>