<h2>Create DB Entries</h2>
<form action="/movies" method="post">
    <h4>Movie Title:</h4>
    <input type="text" name="title" id="title">
    <h4>Genre:</h4>
    <input type="text" name="genre" id="genre">
    <h4>Plot:</h4>
    <input type="text" name="plot" id="plot">
    <button type="submit">Submit</button>
</form>