<h2> Enter New Movie</h2>

<form action="/movies" method="post">
  <label for="title">Title:</label><br>
  <input type="text" name="title" id="" ><br><br>
  <label for="genre">Genre:</label><br>
  <input type="text" name="genre" id=""><br><br>
  <label for="plot">Plot:</label><br>
  <input type="text" name="plot" id=""><br><br>
  <button type="submit">Submit</button>
</form>