<h2>Add new movie</h2>

<form action="/movies/new" method="post">
  <label for="">Title:</label>
  <input type="text" name="title"> <br><br>

  <label for="">Genre:</label>
  <input type="text" name="genre"> <br><br>

  <label for="">Plot:</label>
  <input type="text" name="plot"> <br><br>

  <button type="submit">Add Movie</button>
</form>