<h2>New Movies</h2>
<form action="/movies" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre">
  <label for="plot">Plot:</label>
  <input type="text" name="plot" id="catchPhase">
  <button>Submit</button>
</form>