 <form action="/movies" method="POST">
    <label for="title">title</label>
    <input type="text" name="title" id="title">
    <label for="genre">genre</label>
    <input type="text" name="genre" id="genre">
    <label for="plot">plot</label>
    <input type="text" name="plot" id="plot">
    <button type="submit">create movie</button>
</form>