<div class="py-5 text-center" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-8">
          <form action="/movies/new" method="POST" class=" d-flex flex-column align-items-center align-content-center justify-content-center m-5">
            <input name="title" type="text" placeholder="Title" class="m-2" required>
            <input name="genre" type="text" placeholder="Genre" class="m-2" required>
            <input name="plot" type="text" placeholder="Plot" class="m-2" required>
            <button class="m-2 btn btn-success" type="submit">ADD</button>
          </form>
        </div>
      </div>
    </div>
</div>