<h2>Create a new Movie</h2>

<form action="/movies/new" method="POST">
  <label>
    Title
    <input type="text" name="title">
  </label>
  <label>
    Genre
    <input type="text" name="genre">
  </label>
  <label>
    Plot
    <input type="text" name="plot">
  </label>
  <button type="submit">Create masterpiece</button>
</form>