<h2>New Movie</h2>
<form action="/movies/new" method='POST'>
    <div>
        <label for="title">Movie title: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="genre">Movie genre: </label>
        <input type="text" name="genre">
    </div>
    <div>
        <label for="plot">Movie plot: </label>
        <input type="textarea" name="plot">
    </div>
    <button type="submit">Add Movie</button>
</form>