<h2>Add New Movies</h2>

<section class="celebSectionDetails">

  <form action="/movies/new" method="POST">

    <label>
        <p>Title</p>
        <input type="text" name="title">
    </label>

    <label>
        <p>Genre</p> 
        <input type="text" name="genre">
    </label>

    <label>
        <p>Plot</p> 
        <input type="text" name="plot">
    </label>

    <br>

    <button class="submitButton" type="submit">Add</button>
  </form>

  </section>