<h2>Add a new movie</h2>

<form method="post" action="/movies/new">

<label for="title">Title</label>
<input type="text" name="title" id="title"><br>

<label for="genre">Genre</label>
<input type="text" name="genre" id="genre"><br>

<label for="plot">Plot</label>
<input type="plot" name="plot" id="plot"><br>

<button>Add movie</button>

</form>