<form action="/movies" method="POST">

  <label for="">Movie title:</label>
  <input type="text" name="title" placeholder="Title"> </br>

  <label for="">Genre:</label>
  <input type="text" name="genre" placeholder="Genre"> </br>

  <label for="">Plot:</label>
  <input type="text" name="plot" placeholder="Plot"> </br>



  <button type="submit">Create new movie</button>
</form>