<h2>Add a new movie</h2>
<form action="/movies/new" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" placeholder="Type here the title of the movie" required>
    <br>
    <label for="gebre">Genre:</label>
    <input type="text" name="genre" id="genre" placeholder="Type here the genre of the movie" required>
    <br>
    <label for="plot">Plot:</label>
    <input type="text" name="plot" id="plot" placeholder="Type here the plot of the movie">
    <br>
    <button type="submit">Add new movie</button>
</form>