<h2 style="margin-top: 50px">Añade una película a la BBDD:</h2>

<div style="max-width: 700px; margin-top: 50px;">
  <form method="POST">
    <div class="form-group">
      <label for="formGroupExampleInput">Título</label>
      <input type="text" class="form-control" placeholder="Escribe aquí el título" name="title">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Género</label>
      <input type="text" class="form-control" placeholder="Escribe el género" name="genre">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Sinopsis</label>
      <input type="text" class="form-control" placeholder="¿De qué va la peli?" name="plot">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>