<h2>Create a new Movie</h2>

<form action='/movies/new' method = 'post'>
    <input type='text' name='title' placeholder='title'>
    <input type='text' name='genre' placeholder='genre'>
    <input type='text' name='plot' placeholder='plot'>
    <button type='submit'>Create New Movie</button>
</form>