<h2>New Movie</h2>
<form action="/movies/new" method="post">
<label for="">title</label>
<input type="text" name="title">
<label for="">genre</label>
<input type="text" name="genre">
<label for="">plot</label>
<input type="text" name="plot">
<a href="/"><button type="submit">ADD</button></a>
</form>