<h2>Create new movie</h2>

<form method="post" action="/movies" class="form">
    <h1 class="title">Add a movie</h1>
    <label class="label" for="title">Movie's name</label>
    <input class="input" id="title" type="text" value="Tomorrow never dies" name="title">
    <label class="label" for="genre">Genre</label>
    <input class="input" id="genre" type="text" value="action" name="genre">
    <label class="label" for="plot">Plot</label>
    <input class="input" id="plot" type="text" value="James Bond again and again" name="plot">
    <button class="btn">create</button>
</form>