<h2>Add News {{Movies}}</h2>
<form action="/movies/" method="POST">
  <div class="form-group">
    <label class="font-size" for="">Movie</label>
    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label class="font-size" for="">Genre</label>
    <input type="text" name="genre" class="form-control" id="">
  </div>
  <div class="form-group form">
    <label class="font-size"  for="">Plot</label>
    <input type="text" name="plot" class="form-control" id="exampleCheck1">
  </div>
  <button type="submit" class="btn btn-secondary">Add Movie</button>
    <a class="btn btn-secondary" href="/movies" role="button">Go to movies</a>
</form>
<div>
</div>
