<h1>Create a movie</h1>

<form action="/movies/new" method="POST">

  <div class="form-group">
    <label for="field1">Title</label>
    <input name="title" type="text" class="form-control" id="field1">
  </div>

  <div class="form-group">
    <label for="field2">Genre</label>
    <input name="genre" type="text" class="form-control" id="field2">
  </div>

  <div class="form-group">
    <label for="field3">Plot</label>
    <input name="plot" type="text" class="form-control" id="field3">
  </div>

  <button type="submit" class="btn btn-dark">Create</button>
</form>