<h2>Add new movie</h2>

<form action="/movies/add/new" method="POST">

<label for="title">title:</label>
  <input type="text" name="title"><br>
<label for="genre">Genre:</label>
  <input type="text" name="genre"><br>
<label for="plot">Plot:</label>
  <textarea type="text" name="plot"></textarea><br>


<button type="submit">Add new</button>


</form>