
<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
        <h2 class="title is-3">Add a new movie</h2>
        <form action="/movies" method="POST">
            <input class="input is-info" type="text" id="title" name="title" placeholder="Movie title">
            <br>
            <br>
            <input class="input is-info" type="text" id="genre" name="genre" placeholder="Genre">
            <br>
            <br>
            <textarea class="textarea is-info" name="plot" id="plot" cols="30" rows="10" placeholder="Enter the movie plot"></textarea>
            <br>
            <br>
            <button class="button is-info" type="submit">Add to list</button>
        </form>
    </div>
</div>