<form method="post" action="/movies/" class="form">
    <h2>Create new movie {{name}}</h2>
    <label for="movie-name">titre</label>
    <input class="input" id="movie-name" type="text" name="name" value="{{titre}}">
    <label for="movie-genre">specialty</label>
    <input class="input" id="movie-genre" type="text" name="genre" value="{{genre}}">
    <label for="movie-plot">city</label>
    <input class="input" id="movie-plot" type="text" name="plot" value="{{plot}}">
    < <button class="btn">Create !</button>
</form>