<h2> Adding a new movie </h2>

<form action="/movies/new" method="post">
    <label for="movietitle"> Movie Title:</label>
    <input type="text" id="movietitle" name="title" />

    <label for="movieGenre"> Movie genre:</label>
    <input type="text" id="movieGenre" name="genre" />

    <label for="moviePlot"> Movie Plot:</label>
    <input type="text" id="moviePlot" name="plot" />

    <button type="submit"> Create a Movie </button>
</form>