<h2>New Movie</h2>
<form action="/movies/new_movie" method="POST">

  <input type="text" name="title" placeholder="title">
  <input type="text" name="genre" placeholder="genre">
  <input type="text" name="plot" placeholder="plot">


  <input type="submit" value="Create a New Movie">

</form>