<h2>ADD MOVIE BELOW:</h2>

<form method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1" method="POST">Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Title">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Genre</label>
        <input type="text" name="genre" class="form-control" id="exampleInputPassword1" placeholder="Genre">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Plot</label>
        <input type="text" name="plot" class="form-control" id="exampleInputPassword1" placeholder="Plot">
    </div>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>
