<div class="container">
    <div class="row">

        <h2>Create a new Movie</h2>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" action="/movie/main/movies" method="post">
                <div class="form-group">
                    <label for="title">Movie Title:</label>
                    <input type="text" name="title" class="form-control" placeholder="Title">
                </div>

                <div class="form-group">
                    <label for="genre">Movie Genre:</label>
                    <input type="text" name="genre" class="form-control" placeholder="Genre">
                </div>

                <div class="form-group">
                    <label for="catchPhrase">Movie plot:</label>
                    <input type="text" name="plot" class="form-control" placeholder="Plot">
                </div>
                <button type="Submit" class="btn btn-large btn-block btn-success">Create</button>

                <a href="/movie/main/movies" id="create-celeb" class="btn btn-large btn-block btn-primary">Return
                    to list</a>
            </form>
        </div>
    </div>
</div>