<h1>New movie</h1>
<form action="new" method="POST">
  <input type="text" name="title"
    placeholder="title">
  |
  <input type="text" name="genre"
    placeholder="genre">
  |
  <input type="text" name="plot"
    placeholder="plot">
  <button>Create</button>
</form>
<a href="/movies">Back to movies list</a>
