<h2>New Movie</h2>

<form action="/movies" method="POST">
<label for="title">Title</label>
<input type="text" name="title">
<label for="genre">Genre</label>
<input type="text" name="genre">
<label for="plot">Occupation</label>
<textarea name="plot"></textarea>
<input type="submit" value="Add Movie">
</form>

<p><a href="/movies">Go back</a></p>