<h2>Peliculones</h2>

<form action="/movies" method="post">
  {{> form label="" placeholder="" name="" value=obj.name }}
  {{> form label="" placeholder="" name=""
  value=obj.occupation }}
  {{> form label="Frase" placeholder="Frase" name="catchPhrase"
  value=obj.catchPhrase }}
  <button type="submit">Submit</button>
</form>

<a href="/movies">Celebrities</a>

<a href="/">Home</a>