<h2>Crea una nueva película</h2>

<form action="/movies" method="post">
    <div>
        <label for="title">Escribe el nombre de la película:</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="genre">Escribe el género de la película:</label>
        <input type="text" name="genre">
    </div>
    <div>
        <label for="plot">Escribe el resumen de la película:</label>
        <input type="text" name="plot">
    </div>
    <button type="submit">Enviar</button>
</form>
