<form class="form" action="/movies/new" method="POST">
    <h2>Create new Movie</h2>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">

    <label for="genre">Genre</label>
    <input type="genre" name="genre" id="genre">

    <label for="plot">Plot</label>
    <input type="plot" name="plot" id="plot">

    <button class="btn">Create movie</button>
</form>