<div class="container pad-50 bg-cream">
    <div class="row">
        <div class="col-12">
            <h2 class=" border-lf-rg pad-50 aling-center white"><strong>New Movie</strong></h2>
        </div>
    </div>

    <form class="form-inline" action="new" method="post">
        <div class="form-group mb-2 pad-15-r">
            <label for="title" class="pad-15-r ">Title</label>
            <input name="title" type="text" class="form-control">
        </div>
        <div class="form-group mb-2 pad-15">
            <label for="genre" class="pad-15-r ">Genre</label>
            <input name="genre" type="text" class="form-control">
        </div>
        <div class="form-group mb-2 pad-15">
            <label for="plot" class="pad-15-r ">Plot</label>
            <input name="plot" type="text" class="form-control">
        </div>
        <input type="submit" class="btn btn-dark mb-2" value="Create New Movie">
    </form>
    <a class="btn btn-dark btn-sm bradius-0" href='/moves'>Back List</a>


</div>