
<span><a href="/movies/index">Back</a></span><br>
<h2>Add New Movie</h2>
<form action="/movies/new" method="POST">
  <label for="title">title:
    <input type="text" name="title">
  </label>

  <label for="genre">genre:
    <input type="text" name="genre">
  </label>

  <label for="plot">plot:
    <input type="text" name="plot">
  </label>

  <button type="submit">SAVE</button>
</form>

