<h1>Add your own Movie</h1>
<form action="/movies" method="POST">
<label>Title</label>
<input name="title" type="text">
<label>Genre</label>
<input name="genre" type="text">
<label>Plot</label>
<input name="plot" type="text">

<div>
<label>Actor</label>
<select class ="browser-default" name="actor" id="">


  {{#each theOptions}}
  <option value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>
</div>

<div class="center-align"><button class="waves-effect waves-light btn-large">Submit!</button></div>
</form>