<h2>Add a New Movie To The Library</h2>

<form action="/movies/create-new-movie" method="POST">
  <label>Title</label>
  <input name="theTitle" type="text">

  <label>Genre</label>
  <input name="theGenre" type="text">

  <label>Plot</label>
  <input name="thePlot" type="text">

  <label>Celebrity</label>
  <select name="theCelebrity">
    {{#each celebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button> Save </button>
</form>