<h2>Add new movie</h2>

<form action="/addMovie" method="POST">

    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Genre" name="genre">
    <input type="text" placeholder="Plot" name="plot">
    <button type="submit">Add movie!</button>

</form>