<h2> Add new movie</h2>
<form method="POST" action=/movies>
Title: <input type="text" name="title"> 
Genre: <input type="text" name="genre"> 
Plot: <input type="text" name="plot"> 
<input type="submit" value="Create new movie">
</form>
