<h2>NEW MOVIE</h2>
<div>
  {{#if msg }}
  <h3>{{msg}}</h3>
  {{else}}
  <h3>Error creating celebrity, try another time</h3>
  {{/if}}
</div>
<br>
<a href="/movies">back</a>
<br>
<div>
  <form action="/movies" method="post">
    <label for="title-input">Name:</label>
    <input type="text" id="title-input" name="title">
    <label for="genre-input">Ocupation:</label>
    <input type="text" id="genre-input" name="genre">
    <label for="plot-input">Catch Phrase:</label>
    <input type="text" id="plot-input" name="plot">
    <button type="submit">Save info</button>
  </form>
</div>