<h2>Add Movie</h2>

<h3>FILL THE FIELDS TO ADD A MOVIE</h3>

<form action="/movies" method="POST">
  <input type="text" placeholder="Title" name="title" required>
  <input type="text" placeholder="Genre" name="genre" required>
  <input type="text" placeholder="Plot" name="plot" required>
  <input type="submit">
</form>