<h2 class="page-title">Add a new movie</h2>

<form action="/movies" method="post">
    <label for="movieTitle">Title:</label>
    <input type="text" name="movieTitle" placeholder="Movie title">
    <label for="movieGenre">Genre:</label>
    <input type="text" name="movieGenre" placeholder="Movie genre">
    <label for="moviePlot">Plot:</label>
    <input class="description-type" type="text" name="moviePlot" placeholder="Movie plot">
    <button type="submit">Add movie</button>
</form>