<h2>Pagina de la pelicula nueva</h2>

<form action="/movies" method="post">
  <label for="title-input">Title:</label>
  <input id="title" type="text" title="title">

  <label for="genre-input">Genre:</label>
  <input id="genre-input" type="text" title="genre">

  <label for="plot-input">Plot:</label>
  <input id="plot-input" type="text" title="plot">

  <input type="submit" value="Save Title">
</form>