<section>
    <h2>Añade una nueva película</h2>
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
        <form action="/movies/new" method="post">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" required name="title">
            </div>
            <div class="form-group">
                <label for="genre">Género</label>
                <input type="text" class="form-control" required name="genre">
            </div>
            <div>
                <label for="plot">Resumen</label>
                <input type="text" class="form-control" required name="plot">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
</section>