
      <form action = "/movies" method = "POST" >
      <div>
        <label for = "title"> Title </label>
        <input type = "text" name = "title" id = "title">
      </div>
      <div>
        <label for = "genre"> Genre </label>
        <input type = "text" name = "genre" id = "genre">
      </div>
      <div>
        <label for = "plot"> Plot </label>
        <textarea name = "plot" id = "plot"></textarea>
      </div>
      <button> Submit </button>
    </form>

    <a href = "/movies">
      Back to Movies
    </a>
     
     
    