<h2>Create a new Movie</h2>
<form action="/movies" method="POST">
  <input type="text" name="title" value="">
  <input type="text" name="genre" value="">
  <input type="text" name="plot" value="">
  <button type="submit">Create</button>
</form>