<h2>Create a new celebrity</h2>

<form action="/movies" method="POST">

  <label for="name">Title:</label>
  <input type="text" name="title" required />

  <label for="occupation">Gnere:</label>
  <input type="text" name="genre" required />

  <label for="catchPhrase">Plot:</label>
  <input type="text" name="plot" required />

  <button type="submit">Submit</button>

</form>