<h2>Add a New Movie</h2>
<form action="/movies/" method="POST">
  <div class="form-group">
    <label for="">Movie</label>
    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="">Genre</label>
    <input type="text" name="genre" class="form-control" id="">
  </div>
  <div class="form-group form-check">
    <label  for="">Plot</label>
    <input type="text" name="plot" class="form-control" id="exampleCheck1">
  </div>
  <button type="submit" class="btn btn-primary">Add Movie</button>
</form>
<div>
    <a href="/movies" style="color: red;">Go to Movies</a>
</div>