<h1>Register a new movie</h1>
<form action="/movies" method="post">
  <label for="title">title</label>
  <input type="text" name="title">
  <label for="genre">genre</label>
  <input type="text" name="genre">
  <label for="plot">plot</label>
  <input type="text" name="plot">
  <input type="submit" value="register">
</form>