<h1>Form to add</h1>

<form action="/movies/new" method="post">
    <label>Movie title: </label>
    <input type="text" name="title" placeholder="Movie title">
    <label>Genre: </label>
    <input type="text" name="genre" placeholder="comedy, drama...">
    <label>Plot: </label>
    <input type="text" name="plot" placeholder="plot...">
    <input type="submit" value="Create">
</form>