<h2>Add a New Amazing Movie</h2>

<form class="form" action="/movies/manage/new" method="post">
  <label for="field1">Title</label>
  <input type="text" placeholder="Movie Title" name="title">
  <label for="field2">Genre</label>
  <input type="text" placeholder="What you think is" name="genre">
  <label for="field3">Plot</label>
  <input type="text" name="plot">
  <button type="submit">Add</button>
</form>
<a class="button" href="/movies">Back</a>