<h2>Add a new Movie to the List</h2>


<form action="/movie/creation" method="POST">


<p>Title</p>
<input type="text" name="theTitle">


<p>Genre</p>
<input type="text" name="theGenre">


<p>Plot</p>
<input type="text" name="thePlot">


<button class="button">Save</button>

</form>