<h2>New Movie</h2>

<form action="/movies/" method="POST">
    <label>Movie title <input type="text" name="title"></label>
    <label>Genre <input type="text" name="genre"></label>
    <label>Plot <input type="text" name="plot"></label>
    <button type="Submit">Add</button>
</form>