<form action="/movies/new" method="post" class="form">
    <h1 class="title">Create movie</h1>
<hr>
    <label class="artist" for="title">title</label>
    <input class="input" id="title" type="text" name="title" value="test movie">
    <br>
    <label class="artist" for="genre">genre</label>
    <input class="input" id="genre" type="text" name="genre" value="comic">
    <br>
    <label class="artist" for="plot">once apon a time</label>
    <input class="input" id="plot" type="text" name="plot" value="once apon a time">

    <button class="btn">ok</button>
</form>


