<h2>NEW MOVIE!</h2>
<form action="/movies/new" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Year:</label>
  <input type="text" name="year">

  <label for="">Director:</label>
  <input type="text" name="director">

  <label for="">Duration:</label>
  <input type="text" name="duration">

  <label for="">Genre:</label>
  <input type="text" name="genre">

  <label for="">Rate:</label>
  <input type="text" name="rate">


  <button type="submit">ADD</button>
</form>