<h2> Add new movie </h2>

<form action="/movies" method="POST">

<p>Title</p>
<input type="text" name='theTitle'>

<p>Genre</p>
<input type="text" name='theGenre'>

<p>Plot</p>
<input type="text" name='thePlot'>

<button type="submit">SAVE</button>

</form>