<form action="/movies" method="post">
    <label>Title:</label>
    <input type="text" name='title' placeholder="SharkBait">

    <label>Genre:</label>
    <input type="text" name="genre" placeholder="Science Horror">

    <label>Plot:</label>
    <input type="text" name="plot" placeholder="Shar eats world, left with himself, becomes god">

    <button type="submit">Add New Movie!</button>
</form>