<h2>New Movie</h2>
<form action="/movies/new" method="POST">
  <input type="text" name="name" id="">
  <input type="text" name="genre" id="">
  <input type="text" name="plot" id="">
  <button>Crear</button>
</form>