<h2>New Movie</h2>
<div class="container">
  <div class="item unique">
    <form action="/movies" method="post">
<input type="text"  name="title" id="name-title" placeholder="Title">
<input type="text"  name="genre" id="name-genre" placeholder="Genre">
<textarea  rows="10" name="plot" id="name-plot" placeholder="Plot"></textarea>
<button type="submit">Add</button>
</form>
  </div>
</div>
