<form action="/movies/new" method="post">

  <div class="form-row">
    <label for="">Movie Title:</label>
    <input type="text" name="title" class="form-control">

  </div>

  <div class="form-row">
    <label for="">Genre:</label>

    <input type="text" name="genre" class="form-control">
  </div>
  <div class="form-row">

    <label for="">Plot:</label>
    <input type="text" name="plot" class="form-control">

    <button type="submit">ADD MOVIE</button>
  </div>
</form>