<h2>Create new movie</h2>
<form method="POST" action="/movies">
  <input type="text" name="title" placeholder="title"/><br/>
  <input type="text" name="genre" placeholder="genre"/><br/>
  <input type="text" name="plot" placeholder="plot"/><br/>
  <button type="submit" value="Submit">Submit</button>
</form>