
<h1>Insert another Movie!</h1>
<form action="/movies" method="POST">
    <p><label for="title">Title: </label><input type="text" name="title" placeholder="title"></p>
    <p><label for="genre">Genre: </label><input type="text" name="genre" placeholder="genre"></p>
    <p><label for="plot">Plot: </label><input type="text" name="plot" placeholder="write plot"></p>
    <p><button type="submit">Done</button></p>
</form> 