<div class="containerNew">
  <h2>Añadir nueva movie</h2>

  <form class="box" action="/movies" method="POST">
    <label for="">Titulo:</label>
    <input type="text" name="title" placeholder="titulo"><br>

    <label for="">Genero:</label>
    <input type="text" name="genre" placeholder="genero"><br>

    <label for="">Sinopsis:</label>
    <input type="text" name="plot" placeholder="sinopsis"><br>

    <button type="submit">Añadir movie</button>

  </form><br>

  <a href="/movies">Cancelar y volver a la lista de movies</a>
</div>