<h2>Add a Movie
<form action="/movie" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" />

  <label for="genre">Genre:</label>
  <input type="text" name="genre" />

  <label for="plot">Plot:</label>
  <input type="text" name="plot">

  <button type="submit">Create a Movie</button>
</form> 
