

<h1 style="padding-top: 4rem">Add a movie</h1>

<form action="/movies/new/save" method="POST">
  <p>Title</p>
  <input type="text" name="title">

  <p>Director</p>
  <input type="text" name="director">

  <p>Image</p>
  <input type="text" name="image">

  <button>Save</button>
</form>