<h2>Define your movie</h2>
<form method="post" action="/movies" enctype="application/json" class="form">
    <label class="label" for="title">title</label>
    <input class="input" id="title" type="text" name="title">
    <label class="label" for="genre">genre</label>
    <input class="input" id="genre" type="text" name="genre">
    <label class="label" for="plot">plot</label>
    <input class="input" id="plot" type="text" name="plot">
    <button class="btn">submit<plot