<h2>Create a new celebrity</h2>
<form method="POST" action="/movies/new">
  <div class="form-group">
    <label for="todoName">Title</label>
    <input name="title" type="text" class="form-control" id="todoName" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="todoDesc">Genre</label>
    <input name="genre" type="text" class="form-control" id="todoDesc">
  </div>
  <div class="form-group">
    <label for="todoDesc">Plot</label>
    <input name="plot" type="text" class="form-control" id="todoDesc">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
