<h2>New Celebrity</h2>

<h2>Create a own movie</h2>

<form action="/movies/new" method="post">

  <label for="title-input">Title:</label>
  <input type="text" name="title"/>
  <br>
  <label for="genre-input">genre:</label>
  <input type="text" name="genre"/>
  <br>
  <label for="plot-input">Plot:</label>
  <input type="text" name="plot"/>
  <br>
  <button type="submit">Create movie</button>

</form>