<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>NEW</h1>
  <form action="/movies" method ="POST">
  <label for="text">Title</label>
  <input type="text" name="title">
  <label for="text">Genre</label>
  <input type="text" name="genre">
  <label for="text">Plot</label>
  <input type="text" name="plot">  
  <input type="submit" value="send">
  </form>
</body>
</html>