<header>
    <h2>Add a new movie</h2>
</header>

<form action="/movies" method="post">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title">

    <label for="genre">Genre:</label>
    <input id="genre" type="text" name="genre">

    <label for="plot">Plot:</label>
    <input id="plot" type="text" name="plot">

    <button type="submit">Add</button>

</form>