<div class="container">
  <h2>Nueva movie</h2>

  <form action="/movies/new" method="POST">
    <div class="form-group">
      <label for="field1">Title</label>
      <input name="title" type="text" class="form-control" id="field1">
    </div>
    <div class="form-group">
      <label for="field2">Gente</label>
      <input name="genre" type="text" class="form-control" id="field2">
    </div>
    <div class="form-group">
      <label for="field3">Plot</label>
      <input name="plot" type="text" class="form-control" id="field3">
    </div>

    <button type="submit">new movie</button>
  </form>
</div>