<section id="movies">
  <div class="container">
    <div class="row">
      <div class="column">
        <a class="button" href="/movies">
          <i class="fas fa-arrow-left"></i> Go back
        </a>
        
        <h2>Add a movie</h2>
      </div>
    </div>

    {{> moviesForm data }}
  </div>
</section>
