<h2>Add to server</h2>


<form action="/movies/created" method="POST">

<p>Title</p>
<input type="text" name="theTitle">

<p>Genre</p>
<input type="text" name="theGenre">

<p>Plot</p>
<input type="text" name="thePlot">

<p>Actors</p>
<input type="text" name="theActors">

<button>Save</button>

</form>