<h2>Page's heading</h2>

<form method="post" action="/movies/new" >

 <label class="label" for="title">Movie's title</label>
 <input class="input" id="title" type="text" value="fakename" name="title">

 <label class="label" for="genre">Movies's genre</label>
 <input class="input" id="genre" type="text" value="fakeoccup" name="genre">

 <label class="label" for="plot">Celebrity's catch phrase</label>
 <input class="input" id="plot" type="text" value="fakecatch" name="plot">

    <button class="btn">Create</button>
</form>