<h2>Add a New Movie</h2>
<form method="POST" action="/movies">
  <div class="form-group">
    <label for="theName">Title</label>
    <input name="title" type="text" class="form-control" id="theTitle" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <input name="genre" type="text" class="form-control" id="theGenre">
  </div>
    <div class="form-group">
    <label for="theCathPhrase">Plot</label>
    <input name="plot" type="text" class="form-control" id="thePlot">
  </div>
  <button type="submit" class="submit-button">Submit</button>
</form>