<h2>Add a new movie</h2>

<form method="POST" action="/movies">

    <label for="title"></label>
    <input id="title" type="text" name="title" value="fake title">

    <label for="genre"></label>
    <input id="genre" type="text" name="genre" value="fake genre">

    <label for="plot"></label>
    <input id="plot" type="text" name="plot" value="fake plot">

    <button>Add</button>
    
</form>
