<div class="movie-new">
    <h2>Add Celebrity</h2>
    <div class="error">{{error}}</div>
    <form method="POST" action="/movies">

        <label for="theTitle">Title:</label>
        <input name="theTitle" type="input" required />

        <label for="theGenre">Genre:</label>
        <input name="theGenre" type="input" required />

        <label for="thePlot">Plot:</label>
        <input name="thePlot" type="input" required />

        <button>Submit</button>

    </form>
</div>