<h1>Great movies make great peoples</h1>

<a href="/movies">Go back</a>

<form action="/movies/new" method="POST">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title"><br>
    <label for="genre">Genre: </label>
    <input type="text" id="genre" name="genre"><br>
    <label for="plot">Plot :</label>
    <input type="text" id="plot" name="plot"><br>
    <button>Add movie</button>
</form>