<h2>New Movie Phrase</h2>
<form action="./new" method="post">
  Title:
  <input type="text" name="title"><br>
  Genre:
  <input type="text" name="genre"><br>
  Plot:
  <input type="text" name="plot"><br>
  <input type="submit" value="Submit">
</form>
