<h2>Add a new movie!</h2>
<form action="" method="POST">
  
  <label for="">
    Title:
    <input type="text" name="title">
  </label>
  
  <label for="">
    Genre:
    <input type="text" name="genre">
  </label>
  
  <label for="">
    Plot:
    <input type="text" name="plot">
  </label>
  
  <button type="submit">Add</button>

</form>