<h2>Create New Movie</h2>

<form method="POST" action="/movies/new">
  <div class="form-group">
    <label for="titleField">Title</label>
    <input name="title" type="text" class="form-control" id="titleField" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="genreField">Genre</label>
    <input name="genre" type="text" class="form-control" id="genreField" placeholder="Enter Genre">
  </div>
  <div class="form-group">
    <label for="plotField">Plot</label>
    <input name="plot" type="text" class="form-control" id="plotField" placeholder="Enter Plot">
  </div>
  <button type="submit" class="btn btn-primary">Add Movie!</button>
</form> 