<!--Creo un form POST para crear una nueva movie.-->
<h2>Create a new movie!</h2>

<form action="/movies/new" method="post">
    <label for="title">Movies title:</label>
    <input placeholder="Les miserables" type="text" name="title">

    <label for="genre">Genre:</label>
    <input placeholder="IDK" type="text" name="genre">

    <label for="plot">Plot:</label>
    <input placeholder="Who cares?????" type="text" name="plot">

    <button type="submit">Create!</button>
</form>