<h2>Add a movie</h2>

<form action='/movies' method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="genre" placeholder="Genre">
  <input type="text" name="plot" placeholder="Plot">
  <button type="submit">Add a new movie!</button>
</form>