<form method="post" action="/new-movies">
  <h2>Add one movie</h2>
  <input type="text" name="title">
  <input type="text" name="genre">
  <input type="text" name="plot">
  <button>Click Me!</button>
</form>