<h2 class="title">Add a new Movie</h2>
<div class="nav nav-secondary">
  <a href="/movies">Go back</a>
</div>

<div class="row">
  <div class="row__item">
    <form action="/movies" method="POST">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="imageUrl" placeholder="imageUrl">
      <input type="text" name="genre" placeholder="genre">
      <input type="text" name="plot" placeholder="plot">

      <button type="submit" class="btn btn-primary">Add Movie</button>
    </form>
  </div>
</div>