<h2> Add a new movie to your collection! </h2>

<form action="/movies/new" method="post">

  Title: <input type="text" name="title"> <br>
  Genre: <input type="text" name="genre"> <br>
  Plot: <input type="text" name="plot"> <br>

  <button class="save-button" type="submit">Save</button>
  
</form> 