<h1>{{title}}</h1>
<br>
<form action="/movies" method="POST">
  <label for="title">Movie: 
  </label> 
  <input type="text" name="title" id="title">
<br>
<label for="genre">Genre: 
  </label> 
  <input type="text" name="genre" id="genre">
  <br>
  <label for="plot">Plot: 
  </label> 
  <input type="text" name="plot" id="plot">
<br>
<button type="submit">Save</button>
</form>
