<h2>New Movies</h2>
<form action='/movies/create' method='POST'>
<label>Title</label>
<input type='type'name='title'>
<label>Genre</label>
<input type='type' name='genre'>
<label>Plot</label>
<input type='type'name='plot'>
<p></p>
<button type='submit'>Send</button>

</form>