<div class="section">
  <h1><a href="/">Where is my idol?</a></h1>
  <h2>Add a new movie</h2>
  <form action="/movies/new" method="POST" class="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="The movie's title">
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" name="genre" placeholder="The movie's genre">
    </div>
    <div class="form-group">
      <label for="plot">The plot</label>
      <textarea type="text" name="plot" rows="10" cols="20" placeholder="The movie's plot"></textarea>
    </div>
    <input type="submit" value="Add movie" class="button button-create">
  </form>
  <a href="/movies" class="button button-goback">Go back</a>
</div>