<h2>Create a new Movie</h2><br>
<form action="/movies" method="POST">
<p>Title: </p>
<input type="text" label="Name: "name="title">
<p>Genre: </p>
<input type="text" label="Ocuppation: " name="genre">
<p>Plot: </p>
<input type="text" label="Catchphrase: " name="plot">

<button type="submit">Add</button>
</form>