<h2>Add a new movie</h2>
<form method="post" action="/movies/new" class="form">
    <label for="title" class="label">Title</label>
    <input id="title" name="title" type="text" value="Scream">

    <label for="genre" class="label">Genre</label>
    <input id="genre" name="genre" type="text" value="Horror">

    <label for="plot" class="label">Plot</label>
    <input id="plot" name="plot" type="text" value="Scary things happens">

    <button class="btn">Add</button>
</form>