<a href="/movies">Back</a>

<form action="/movies" method="POST">
Name: <br>
  <input type="text" name="name" value="La vida es Bella">
  <br>
  Genre: <br>
  <input type="text" name="occupation" value="Drama">
  <br>
  Plot: <br>
  <input type="text" name="catchPhrase"value="Dramatic movie">
  <br>
  <button type="submit">Add Movie</button>
</form>