<h2>Add a Movie</h2>

<form action="/movies/process-add" method="POST">
  <label>
    Title: 
    <input type="text" name="title" placeholder="The Movie" />
  </label>

   <label>
    Genre: 
    <input type="text" name="genre" placeholder="Cinematic" />
  </label>

   <label>
    Plot: 
    <input type="text" name="plot" placeholder="moving images..." />
  </label>

  <button>Submit Movie</button>
</form>