<h2>New movie</h2>
<form action="/movies/new" method="post">
    <label for="name">Title</label>
    <input class="form-control" type="text" name="title" id="">
    <label for="occupation">Genre</label>
    <input class="form-control" type="text" name="genre" id="">
    <label for="catchPhrase">Plot</label>
    <input class="form-control" type="text" name="plot" id="">
    <button type="submit" class="btn btn-primary my-3">Add new movie</button>
</form>