<h2>AGREGAR UNA NUEVA PELICULA</h2>

<form action="/movies" method="post" class="form-control form-control-lg">

<label for="">Titulo</label>
<input type="text" name="title" required placeholder="title movie">
<br>

<label for="">Genre</label>
<input type="text" name="genre" required placeholder="genre">
<br>

<label for="">Plot</label>
<input type="text" name="plot" required>
<br>

<input type="submit" value="create">

</form>