<p><a href="/">Home</a> | <a href="/movies">All movies</a> | <a href="/movies/new">Add new movie</a></p>
<h2>Add here the details of a new movie</h2>
<form action="/movies/new" method="post">

  <label for="title-input">Title:</label>
  <input type="text" name="title" id="title-input" />

  <label for="director-input">Director:</label>
  <input type="text" name="director" id="director-input" />

  <label for="year-input">Year:</label>
  <input type="number" name="year" id="year-input" />

  <label for="stars-input">Stars:</label>
  <input type="text" name="stars" id="stars-input" />

  <label for="description-input">Sinopsis:</label>
  <input type="text" name="description" id="description-input"/>

  <button type="submit">Create</button>

</form>