<h1>Add Movie</h1>

<form action="/movies/new" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">
  <br><br>
  <label for="">Genre:</label>
  <input type="text" name="genre">
  <br><br>
  <label for="">Plot:</label>
  <input type="text" name="plot">
  <br><br>
  <label for="authors-select">Cast:</label>
  <select name="cast" id="cast-select" multiple>
    {{#each celebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br><br>
  <button type="submit">ADD</button>
</form>