<h2>Add to server</h2>


<form action="/movies/created" method="POST">

<p>Title</p>
<input type="text" name="theTitle">

<p>Genre</p>
<input type="text" name="theGenre">

<p>Plot</p>
<input type="text" name="thePlot">

<p>Actors</p>
<select name="theActors">

  <option value="" selected disabled>Please Select One</option>

{{#each allCelebrities}}
{{!-- the array of authors gets pulled from the Database  --}}
<option value="{{this._id}}">{{this.name}}</option>

{{/each}} 


</select>

<button>Save</button>

</form>
