<h2>Create new movie</h2>

<form method="post" action="/movies/new">

    <label for="title">Title</label>
    <input type="text" id="title" title="title" value="title">

    <label for="genre">Genre</label>
    <input type="text" id="genre" title="genre" value="genre">

    <label for="plot">Plot</label>
    <input type="text" id="plot" title="plot" value="plot">

    <button class="btn">create</button>

</form>