<h2>Add new Movie</h2>


<hr class="mt-0" />



<div class="row">
    <div class="col-15 col-sm-12">
        <form action="/movies" method="post" class="mt-3 mb-3 mx-auto">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Movie title" name="title"
                    value={{movie.title}}>
                <label for="name">MOVIE TITLE</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="genre" placeholder="Movie genre" name="genre"
                    value={{movie.genre}}>
                <label for="genre">MOVIE GENRE</label>
            </div>

            {{!-- <div class="form-floating mb-3">
                <input type="text" class="form-control" id="plot" placeholder="Movie plot" name="plot"
                    value={{movie.plot}}>
                <label for="catchPhrase">MOVIE PLOT</label>
            </div> --}}


       <div class="form-floating">
                <textarea class="form-control" placeholder="Movie plot" id="plot" name="plot" value={{movie.plot}}
                    style="height: 100px"></textarea>
                <label for="plot">MOVIE PLOT</label>
            </div>



            <div>
                <div class="m-5">
                    <button type="submit" class="btn btn-outline-success pl-4 pr-4">ADD NEW MOVIE</button>

                </div>
            </div>


        </form>

    </div>
</div>

</div>