<h2>Create a new Movie</h2>

<form action="/movies/new" method="POST">
  <label for="title-input">Title</label>
  <input type="text" name="title" id="title-input">
  <br>

  <label for="genre-input">Genre</label>
  <input type="text" name="genre" id="genre-input"></input>
  <br>

  <label for="plot-input">Plot</label>
  <textarea type="text" name="plot" id="plot-input"></textarea>
  <br>

  <button type="submit">Create the Movie</button>
</form>