<h2>New Moviey</h2>
<form action="/movies" method="POST">
  <label>Title</label>
  <input id="inputName" type="text" name="title">
  <label>Genre</label>
  <input id="inputOccupation" type="text" name="genre">
  <label>Plot</label>
  <input id="inputCatchPhrase" type="text" name="plot">
  <button type="submit">Create</button>
</form>