<h2>Add a new movie:</h2>
<form action="/movies" method="post">
    <label>Title: <input type="text" name="title"></label><br><br>
    <label>Genre: <input type="text" name="genre"></label><br><br>
    <label>Plot: <input type="text" name="plot"></label><br><br>
    <button type="submit">Send</button>
</form>