<h1>Add Movie</h1>
<form action="/movies" method="post">
  Title: <input type="text" name="title"> <br>
  Genre: <input type="text" name="genre"><br>
  Plot: <input type="text" name="plot"><br>
  Actors: 
  <select multiple name="actors">
    {{#each celebs}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <button type="submit">Create</button>
</form>	

<a href="../movies">Back</a>