<h2>Create new movie</h2>

<form action="/movies/new" method="POST">

    <label for="title-input"> Title </label>
    <input type="text" name="title" id="title-input">
    <br>

    <label for="genre-input"> Genre </label>
    <input type="text" name="genre" id="genre-input">
    <br>

    <label for="plot-input"> Plot </label>
    <input type="text" name="plot" id="plot-input">
    <br>

    <button type="submit"> Add </button>
</form>

<div>
    {{#if message}}
    <p><b>{{message}}</b></p>
    {{/if}}
</div>