<div class="body-movies-index">
    <h2> Add a new Movie</h2>
    <div class="items-edit">
        <div class="form-edit">
            <form action="/movies" method="POST">
                <input type="text" name="title" placeholder="Title"> </p>
                <input type="text" name="genre" placeholder="Genre"> </p>
                <input type="text" name="plot" placeholder="Plot"> </p>
                <button type="submit">Create</button>
            </form>
            <div class="button-back">
                <a href="/movies">Back</a>
            </div>
        </div>


    </div>

</div>