<h2>Add Movie</h2>

<form action="/movies" method="POST">
<input type="text" placeholder="Title" name="title" required>
<input type="text" placeholder="Genre" name="genre" required>
<input type="text" placeholder="Plot" name="plot" required>
<input type="submit">
</form>