<h2> new movies</h2>

<form action="/movies/create" method="post">
<label>Title</label>
<input type="text" name="title">
<label>Genre</label>
<input type="text" name="genre">
<label>Plot</label>
<input type="text" name="plot">
<p></p>
<button type="submit">Send </button>
</form>