<h2>New Movie</h2>
<form action="/movies/new" method="POST">
  Title <br><input type="text" name="title"> <br><br><br><br>
  Genre <br><input type="text" name="genre"> <br><br><br><br>
  Plot <br> <input type="text" name="plot"> <br><br><br><br>
  <button type="submit">Add new</button>
</form>