<h2>ADD A NEW MOVIE</h2>
<br>
<form action="/movies/new" method="POST">
	<input name="title" type="text" placeholder="¿Título de la película?" required>
	<input name="genre" type="text" placeholder="¿Qué género es?" required>
	<input name="plot" type="text" placeholder="¿De qué va?" required>
	<button type="submit" class="btn btn-primary">ADD</button>
</form>