<form action="/movies/new" method="POST">
    <input name="title" type="text" placeholder="title" required>
    <input name="genre" type="text" placeholder="genre" required>
    <input name="plot" type="text" placeholder="plot" required>
    <button type="submit">ADD</button>
</form>