<h2>New Movie</h2>
<form action="/movies" method="post">
  <div>
    <label for="GET-title">Title : </label>
    <input id="GET-title" type="text" name="title">
  </div>
  <div>
    <label for="GET-Plot">Plot:</label>
    <input id="GET-Plot" type="text" name="plot">
  </div>
  <div>
    <label for="GET-Genre">Genre:</label>
    <input id="GET-Genre" type="text" name="genre">
  </div>
  <input type="submit" value="Enregistrer">
</form>
{{#if something}}coucou{{/if}}

<a href="/celebrities">Go back to the list</a>