<div class="container">
    <div class="row">

        <h2>Create a new Movie</h2>

        <form action="/movie/main/movies" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" name="title" class="form-control" placeholder="Title">
                </div>
                <div class="col">
                    <input type="text" name="genre" class="form-control" placeholder="Genre">
                </div>
                <div class="col">
                    <input type="text" name="plot" class="form-control" placeholder="Plot">
                </div>
            </div>
            <button type="Submit" class="btn btn-large btn-block btn-success">Create</button>
        </form>
    </div>
</div>