<h1>Add a new movie to our site! </h1>
<h2>Fill the blank spaces with the movie info you want to share</h2>


<form action="/movies" method="post">
  <label>Title</label>
  <input type="text" name="title" id="title">
  <label>Genre</label>
  <input type="text" name="genre" id="genre">
  <label>Catch Phrase</label>
  <input type="text" name="plot" id="plot">
  <input type="submit" value="Add Movie">
</form>

<a href="/movies">Main</a>