<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h2>New Movie</h2>

            <form action="/newito" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input name="genre" type="text" class="form-control" id="genre">

                </div>
                <div class="form-group">
                    <label for="plot">plot</label>
                    <input name="plot" type="text" class="form-control" id="plot">
                </div>

                <button type="submit" class="btn btn-dark">Send Movie</button>
            </form>
        </div>
    </div>