<h2>New Movie</h2>

<form action="/movies/new" method="POST">


<label for="">Title</label>
<input type="text" name="title">

<label for="">Genre</label>
<input type="text" name="genre">


<label for="">Plot</label>
<input type="text" name="plot">

<label for="">Celebrity</label>



<select name="celebrity">
{{#each allStars}}

<option value="{{this._id}}">{{this.name}} </option>


{{/each}}
</select>

<button type="submit">Add</button>

</form>


