

<h3>The Movie Entry form </h3>

<form action="/movies" method="POST">
<div>
   Enter the moviename: <input type="text" name="title" >

</div>

<div>
   Enter the genre: <input type="text" name="genre" ><br>

</div>

<div>
   Enter the plot : <input type="text" name="plot" ><br>

</div>

   <button type="submit">Submit</button>

</form>