
<h2>New Movie</h2>
<form action="/newMovie" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title"/>

  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre"/>

  <label for="plot">Plot:</label>
  <input type="text" name="plot" id="plot"/>
  <button>Submit</button>
</form> 