<h1>Add new movie </h1>

<form action="/movies" method="POST">
    <input type="text" name="name" placeholder="New movie's name">
    <input type="text" name="genre" placeholder="New movies's genre">
    <input type="text" name="plot" placeholder="Plot of new movie">
    <button type="submit">Submit new movie</button>
</form>

<div>
    <a href="/movies/"> Go back</a>
</div>