<h2>Add a new movie</h2>

<form action="/movies/new-movie" method="POST">
    <div>
        <label for="title">Title: <input type="text"  name="title" placeholder="Movie name"></label>
        <br>
        <label for="genre">Genre: <input type="text"  name="genre" placeholder="Movie genre"></label>
        <br>|
        <label for="plot">Plot: <input type="text"  name="plot" placeholder="Movie plot"></label>
    </div>

    <button type="submit">Add movie</button>
</form>