<form action="/movies/newmovie" method="post" class="form">
    <h2 class="title">Create a movie</h2>

    <label class="label" for="title">title</label>
    <input class="input" id="title" type="text" name="title" value="title">

    <label class="label" for="description">genre</label>
    <textarea class="input" id="genre" type="text" name="genre">
    </textarea>

     <label class="plot" for="description">plot</label>
    <textarea class="input" id="plot" type="text" name="plot">
    </textarea>
    <button class="btn">add</button>
</form>