<h2>Create a new Movie</h2>
<form action="/movies/new" method="post">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input" />
    <label for="genre-input">Genre:</label>
    <input type="text" name="genre" id="genre-input" />
    <label for="plot-input">Plot:</label>
    <textarea name="plot" id="plot-input" cols="30" rows="4"> </textarea>
    <button type="submit">Create</button>
</form>
<a href="/">Go Back</a>