<h2>Create new Movie here</h2>

<form action="/movies/create-new-movie" method="POST">
  <label>Movie Title</label>
  <input name="title" type="text">
  <label>Movie Genre</label>
  <input name="genre" type="text">
  <label>Genre Plot</label>
  <input name="plot" type="text">
  <button>Create New Movies</button>
</form>