<h2>Add a new Movie
<form action="/movies/add" method="POST">
    <div class="form-group">
        <label>Movie title: </label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label>Movie genre: </label>
        <input type="text" class="form-control" name="genre">
    </div>
    <div class="form-group">
        <label>Plot: </label>
        <input type="text" class="form-control" name="plot">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>