<div>
<h1>Welcome to {{theMovie.title}}'s Page!</h1>
<hr>
<br>
<h2>genre: {{theMovie.genre}}</h2>

<p>plot: {{theMovie.plot}}</p>

<a href="/movies/edit/{{theMovie._id}}"><button>Edit This Movie</button></a>

</div>