<h1>MOVIE DETAILS </h1>

<div class="card form" style="width: 500px">

  <p>TITLE: {{title}}</p>
  <p>GENRE: {{genre}}</p>
  <p>PLOT: {{plot}}</p>

<a class="btn btn-success" href="/movies/edit/{{_id}}">Edit Movie</a>
<a class="btn btn-primary" href="/movies/index">Back to Index</a>

</div>


