<h2>Movies</h2>
<table>
    <tr>
        <th>Titulo</th>
        <th>Genero</th>
        <th>Descripcion</th>
    </tr>

    <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.plot}}</td>
    </tr>
</table>