<h2>MORE INFO ABOUT YOUR MOVIESY</h2>
<div>
<h3>{{this.oneMovie.title}}</h3>
<h4>{{this.oneMovie.genre}}</h4>
<h4>{{this.oneMovie.plot}}</h4>
</div>
<a href="/movies/{{this.oneMovie._id}}/edit/">Update info</a>

