<h2>Look at this movie!</h2>

<p>Name: {{movieIndiv.title}}</p>
<p>Occupation: {{movieIndiv.genre}}</p>
<p>Catch Phrase: {{movieIndiv.plot}}</p>

<a href="{{movieIndiv._id}}/edit">Edit this movie!</a>