<div class="container">

<h2>{{moveDetails.title}}</h2>

<article>
    <ul>
        <li> <strong>Genre</strong> : {{moveDetails.genre}}</li>
        <li> <strong>Plot</strong>: "{{moveDetails.plot}}" </li>
    </ul>
</article> 

<a class="btn btn-md btn-dark" href="/movies">Back</a>

</div>