<h2>Details</h2>

<h5><span class="font-weight-bold">Title:</span> {{title}}</h5>
<h5><span class="font-weight-bold">Genre:</span> {{genre}}</h5>
<h5><span class="font-weight-bold">Plot:</span> {{plot}}</h5>
<h6><a href="/movies" class="btn btn-info">Go back</a></h6>