<h2>{{this.movie.title}}</h2>

<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Genre</h5>
    <p class="card-text">{{this.movie.genre}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Plot</h5>
    <p class="card-text">{{this.movie.plot}}</p>
  </div>
  <div class="card-body">
    <a href="/movies" class="card-link">All movies</a>
  </div>
</div>