<h2> Movie Details </h2>

<div class="movieDetails">
  <h3><strong>Title:</strong> {{movie.title}}</h3>
  <h3><strong>Genre:</strong> {{movie.genre}}</h3>
  <h3><strong>Plot:</strong> {{movie.plot}}</h3>
</div>