<div class="card">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <table>
      <tbody class="item-details">
        <tr>
          <th>Title</th>
          <td>{{title}}</td>
        </tr>
        <tr>
          <th>Genre</th>
          <td>{{genre}}</td>
        </tr>
        <tr>
          <th>Plot</th>
          <td>{{plot}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>