<h2 class="text-center py-5">Show movie info</h2>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{movie.genre}}</h6>
    <p class="card-text">Plot: <br> {{movie.plot}}</p>
    <p class="card-text">Cast: {{movie.moviesOf.0.name}}</p>
    <a href="/movies" class="btn btn-success my-2">Go to index</a>
    <a href="/" class="btn btn-warning my-2">Go to Home</a>
  </div>
</div>
