{{> nav}}

<div class="container-fluid">
  <h2>Movie:</h2>
</div>

<div id="movies" class="container-fluid">
  <div class="row boxed">
    <div class="container-fluid">
      <h3>{{movie.title}}</h3>
    </div>
    <div class="container-fluid">
      <p>{{movie.genre}}</p>
    </div>
    <div class="container-fluid">
      <p>"{{movie.plot}}"</p>
    </div>
    <div class="container-fluid">
      <a class="btn btn-dark" href="/movies/{{movie.id}}/edit"> Editar info</a>
    </div>
  </div>
</div>