<h2> {{title}} - in details </h2>
<span> <a class="a_navigation" href="/movies"> Go Back </a></span>
<ul>
    <li>  {{title}} </li>
    <li> Genre : {{genre}} </li>
    <li> Plot : {{plot}} </li>
</ul>