
{{> nav}}
<section class="section-1">
<h2>{{foundObjFromId.title}} Info</h2>

<ul>
  <li>Title: {{foundObjFromId.title}}  </li>
  <li>Genre: {{foundObjFromId.genre}}</li>
  <li>Plot: {{foundObjFromId.plot}}</li>

</ul>
</section>
