<h2>Movie Information</h2>

<div>
  <h5>Title: {{movie.title}}</h5>
  <p>Genre: {{movie.genre}}</p>
  <p>Plot: {{movie.plot}}</p>
  <a href="/movies/details/{{movie._id}}/edit"><button>Edit</button></a>
</div>