<h2>Show Movies</h2>
<div class="card" style="width: 18rem;">
{{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
<div class="card-body">
    <h5 class="card-title">{{onemovie.title}}</h5>
    <p class="card-text">{{onemovie.genre}}</p>
    <p class="card-text">{{onemovie.plot}}</p>
</div>
</div>