<h2>Movie Details</h2>
<ul>
    <li>{{title}}</li>
    <li>{{genre}}</li>
    <li>{{plot}}</li>
</ul>
<br>
<br>
<a href="/movies/{{_id}}/edit">
    <button>Edit data</button>
</a> 
<br>
<br>
<br>
<a href="/">Back to menu</a>