<div>
    <h2>{{movie.title}}</h2>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot: {{movie.plot}}</p>
    <a href="/movies/{{movie.id}}/edit">Edit</a>
    <hr>
    <a href="/movies">Back to movies page</a>
</div>