<div class="container"></div>
<h2>Detalles de la Película => {{title}}</h2>
<hr>
<h3>Título:{{title}}</h3>
<h4>Género:{{genre}}</h4>
<h5>Descripción:"{{plot}}"</h5>
<a href="/movies/listaPeliculas">Volver >></a>
</div>