<h2>Movie Details</h2>

<ul>
    <li> {{ this.details.title }} </li>
    <li> {{ this.details.genre }} </li>
    <li> {{ this.details.plot }} </li>
    <a href="/movies/{{this.details.id}}/edit">Edit</a>
</ul>