<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <h2>
                <strong> Details of </strong>{{movies.title}}</h2>
        </div>
        <div class="col-12 col-md-8">
            <h3>{{movies.title}}</h3>
            <ul>
                <li>Genre :{{movies.genre}}</li>
                <li>Plot :{{movies.plot}}</li>
            </ul>
            <a href="/movies">Back</a>
        </div>


    </div>
</div>
</div>