<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="catHeader">Movie's Details</h2>
      <hr>
      <h3 class="catHeader">{{title}}</h3>
      <p><span class="bold">Genre: </span>{{genre}}</p>
      <p><span class="bold">Plot: </span>{{plot}}</p>
    </div>
  </div>
</div>