<div class="row">
    <div class="col">
        <h2>Detalle de la película</h2>
    </div>
</div>

<div class="card" style="width: 50rem;">
    <div class="card-header text-white bg-info">
        <h5><strong>{{title}}</strong></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Genero: </strong>{{genre}}</li>
        <li class="list-group-item"><strong>Trama: </strong>{{plot}}</li>
    </ul>
</div>
<a href="/movies"><button type="button" class="btn btn-back-list btn-info">Volver a Películas</button></a>