<div class="container">
    <h1>Detalles de {{title}}</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Genre: {{genre}}</p>
        </div>
        <div class="col-md-6">
            <p>Plot: {{plot}}</p>

        </div>
    </div>
    <a class="btn btn-dark" href="/movies">Volver a la lista</a>

</div>