<section class="detail-page page">
        <a href="/movies"><i class="fas fa-undo"></i></a>
        <h2>The Movies Details Page</h2>
        <p>Title: <span>{{title}}</span></p>
        <p>Genre: <span>{{genre}}</span></p>
        <p>Plot: <span>{{plot}}</span></p>

</section>