<h2>Show</h2>
<div class="card" style="width: 18rem;">
{{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
<div class="card-body">
    <h5 class="card-title">{{oneMovie.title}}</h5>
    <p class="card-text">{{oneMovie.genre}}</p>
    <p class="card-text">{{oneMovie.plot}}</p>
</div>
</div>