<section class="container details"></section>

    <h2>DETAILS OF BEST MOVIE:</h2>

    <ul>
        <li><strong>Name:</strong> {{allInfo.title}}</li>
        <li><strong>Ocuppation:</strong> {{allInfo.genre}}</li>
        <li><strong>Best phrase:</strong> {{allInfo.plot}}</li>
    </ul>


    <a href="/movies/{{allInfo.id}}/edit" class="btn btn-lg btn-warning">Edit</a>

 </section>
