<h2>Movie details</h2>

<a href="/movies">Go back</a>

<ul>
    <li>
        Title: {{movie.title}}
    </li>
    <li>
        Genre : {{movie.genre}}
    </li>
    <li>
        Plot: {{movie.plot}}
    </li>
</ul>