<div class="row text-center">
  <h2 class="text-center">Movie's profile:</h2>
  <div class="card text-center m-1>
    <div class=" card-body">
    <h5 class="card-title m-2">{{movie.title}}</h5>
    <p class="card-title m-2"> Genre: {{movie.genre}}</p>
    <p class="card-title m-2"> Plot: {{movie.plot}}</p>
  </div>
</div>
</div>