<h1>About</h1>

<div>
  <h2><strong>{{title}}</strong></h2>
  <h3>{{genre}}</h3>
  <p>Plot :</p>
  <p>{{plot}}</p>
  <a href="/movies/{{this.id}}/edit"><button>Edit</button></a>
  <a href="/movies"><button>Go Back to the Movies list</button></a>

</div>