<h2>Details of {{movies.title}}</h2>
<ul>
    <li>Title: {{movies.title}}</li>
    <li>Genre: {{movies.genre}}</li>
    <li>Plot: {{movies.plot}}</li>
</ul>

<a href="/movies">Go to the movies list</a>