<h2>{{oneMovie.title}}</h2>
<ul>
    <li>Name: {{oneMovie.title}}</li>
    <li>Genre: {{oneMovie.genre}}</li>
    <li>Plot phrase: "{{oneMovie.plot}}"</li>
</ul>

<a href="/movies">Go to the movies list</a> 