<div class="d-flex flex-column justify-content-center align-items-center w-100">
<h2>DETAILS</h2>
{{#each movie}}
<p>{{this.title}}</p>
<p>{{this.genre}}</p>
<p>{{this.plot}}</p>

{{/each}}
<a class="btn btn-dark" href="/movies">Go back</a>
</div>
