<div class="view">

    <div class="center-block">

        {{> backButton}}

        <h2>More about</h2>

        <h3>{{movie.title}}</h3>
        <p>Genre: {{movie.genre}}</p>
        <p>Plot: {{movie.plot}}</p>

    </div>
</div>