<section class="container">

  <article class="row justify-content-center">

    <div class="col-6 columns">
      <h2>{{movieInfo.title}}</h2>
      <hr><br>
      <h6>{{movieInfo.genre}}</h6>
      <p>{{movieInfo.plot}}</p>

      <a href="/movies/{{movieInfo.id}}/edit" class="btn btn-info">Edit</a>

    </div>

  </article>

</section>