<div class="wrapper">
    <div class="container wrapperShow">
        <div class="col s12">
            <div class="card large whiteBack">
                <div class="card-image">
                    <img src="{{movie.img}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{movie.title}}</span>
                    <p>{{movie.genre}}</p>
                    <p>{{movie.plot}}</p>
                </div>
            </div>
            <a class="waves-effect waves-light btn links" href="/movies">Go back to the list</a>
        </div>
    </div>
</div>