<div class="containerNew">
  <h1>La Movie</h1>

  <p>Título: {{movie.title}}</p>
  <p>Género: {{movie.genre}}</p>
  <p>Argumento: {{movie.plot}}</p>

  <a href="/movies">Cancelar y volver a la lista de movies</a>
</div>