<div class="row">
  <div class="col-4">
    <h3>{{movie.title}} <br></h3>
    <p>{{movie.genre}}</p>
    <h5>{{movie.plot}}</h5>
    <a href="/movies/{{movie._id}}/edit">
      <button class="btn btn-secondary">Edit</button>
    </a>
    <a href="/movies/index">
      <button class="btn btn-secondary">Go back</button>
    </a>
  </div>

</div>