<div>
  {{#with details}}
    <h2>Movie details!!!</h2>
    <br>
    <h3>Title: {{title}}</h3>
    <h3>Genre: {{genre}}</h3>
    <h3>Plot: {{plot}}</h3>
  {{/with}}
  <br>
  <a href="/movies/{{details._id}}/edit">Edit movie</a>
  <br><br>
  <a href="/movies">Return to movies list</a>
</div>