<div class="container pad-50 bg-cream">
    <div class="row">
        <div class="col-12">
            <h2 class=" border-lf-rg pad-50 aling-center white"><strong>Movie{{title}} Detail</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 aling-center">
            <h5><strong>Genre:</strong> {{genre}}</h5>
        </div>
        <div class="col-12 aling-center">
            <p>
            <blockquote><strong>Plot</strong><em>'{{plot}}'</em></blockquote>
            </p>
        </div>
    </div>
    <a class="btn btn-dark btn-sm bradius-0" href='/movies'>Volver</a>
</div>