<div class="container">
    <h2>Movie details</h2>

    <hr>
    <p><strong>Title:</strong> {{title}}</p>
    <p><strong>Genre:</strong> "{{genre}}"</p>
    <p><strong>Plot:</strong> "{{plot}}"</p>

    <button type="button" class="btn btn-secondary">
        <a href="/movies">Back to Movies</a>
    </button>

</div>