<h2 class="mb-5">View details</h2>

<span class="badge badge-dark">Title</span>
<h5 class="mb-4">{{title}}</h5>
<span class="badge badge-dark">Genre</span>
<p class="mb-4">{{genre}}</p>
<span class="badge badge-dark">Plot</span>
<p class="mb-4">{{plot}}</p>