<h1>{{title}}</h1>
<h2>Movie Details</h2>
<div class="form-group">
  <label for="title">Title:</label>
  <span id="title">{{this.title}}</span>
  <br/>
  <label for="genre">Genre:</label>
  <span id="genre">{{this.genre}}</span>
  <br/>
  <label for="plot">Plot:</label>
  <p id="plot">{{this.plot}}</p>
  <a name="" id="" class="btn btn-primary" href="/movies" role="button">Return to List</a>
</div>