<div class="container">
    <h2>Movie Detail</h2>
    <div id="detail">
        <div>
            <p><strong>Title: </strong>{{movie.name}}</p>
            <p><strong>Genre: </strong>{{movie.genre}}</p>
            <p><strong>Plot: </strong><em>{{movie.plot}}</em></p>
        </div>
        <a href="/movies">Go to Movies</a>
    </div>
</div>