<header>
  <h2>{{movie.title}}</h2>
  <hr>
</header>
<div></div>
<ul>
    <li>Genre: {{movie.genre}}</li>
    <li>Plot: {{movie.plot}}</li>
</ul>
<a href="/movies/all"><button>Go back</button></a>
</div>