<h2>Movies Details</h2>
<div class="container">
    {{#each movieId}}

        <h4>{{title}}</h4>
        <p>{{genre}}</p>
        <p>{{plot}}</p>

    {{/each}}

    <a class="btn btn-ligth btn-outline-dark" href="/movies/index">Back</a>

</div>