<h2>Movie Details Page</h2>

<div class="container">
  <div class="item unique">
    <h4>Title: {{movieFromDb.title}}</h4>
  <h5>Genre: {{movieFromDb.genre}}</h5>
  <h6>Plot: {{movieFromDb.plot}}</h6>
  <a href="/movies/{{movieFromDb.id}}/edit">Edit</a>
  </div>
</div>
  