<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">

      <h2><strong>{{title}}</strong></h2>

      <ul class="list-group">
        <li class="list-group-item"><strong>Genre:</strong> {{genre}} </li>
        <li class="list-group-item"><strong>Plot:</strong> {{plot}}</li>
        <a href="/movies/"><button class="btn-dark btn">Back to celebrities</button></a>
      </ul>

    </div>
  </div>
</div>