<div class="profile-page">
  <h2>{{title}}</h2>
  <p>Genre: {{genre}}</p>
  <p>Short summary: {{plot}}</p>
  <p>Actors:</p>
  <ul>
    {{#each actors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>