<head>
  <title>Celebrities-Movies</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="mainbody">
    <h1><%= movie.title %></h1>
    <h3>Genre: <span><%= movie.genre %></span></h3>
    <p><%= movie.plot %></p>
  </div>
  <a href="/movies"><button type="button" name="button">Back to list</button></a>
</body>
