<div class="list">
    <div class="card-info">
            <a href="/movies">Go back</a>
            <h3>{{movie.title}}</h3>
            <p>Genre: {{movie.genre}}</p>
            <p>Plot: {{movie.plot}}</p>
    </div>  
</div