<div class="bar">
    <h2>Movie details</h2>
</div>

<div class="col-lg-6 celebrity-container">
    <div class="celebrity-info-container">
        <h2>{{movie.title}}</h2>
        <h4>Genre</h4>
        <p>{{movie.genre}}</p>
        <h4>Plot</h4>
        <p>{{movie.plot}}</p>
    </div>
</div>