<p class="text-center">Details of {{movieDetails.title}}</p>
<p>


  {{movieDetails.genre}}
</p>

<p>{{movieDetails.plot}}</p>

<a class="btn btn-primary btn-sm" href="/movies">Back to Celebrity List</a>

</div>