<!--IT 3-->
<h2>"{{thisMovie.title}}" detailed information</h2>

<ul>
    <li>Title: {{thisMovie.title}}</li>
    <li>Genre: {{thisMovie.genre}}</li>
    <li>Plot: {{thisMovie.plot}}</li>
</ul>

<a href="/movies">Back to movies' list.</a>