<h2 class="h1">Movie details</h2>
<div class="card col-lg-6">
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{movie.genre}}</h6>
    <p class="card-text">{{movie.plot}}</p>
  </div>
</div>