<h3>Movie Details</h3>

<div class="card text-center">
  <div class="card-header">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{genre}}</h5>
    <p class="card-text">"{{plot}}"</p>
    <a href="/movies" class="btn btn-dark">Back</a>

  </div>
  <div class="card-footer text-muted">
  </div>
</div>