<div class="body-movies-index">
    <h1>Movie Details</h1>
    <div class="items-details title-list">
        <h2>{{this.title}}</h2>
        <p><span>Genre:</span> {{this.genre}}</p>
        <p><span>Plot Summary:</span> {{this.plot}}</p>
    </div>
    <div class="button-back">
       <a href="/movies">Back</a>
    </div>
</div>