<h2>Movie {{movies.title}}</h2>
    <p><b> title: </b>{{movies.title}}</p>
    <p><b> Genre: </b>{{movies.genre}}</p>
    <p><b> Plot: </b>{{movies.plot}}</p>
<div>
    <a href="/movies" style="color: red";>Go to movies</a>
</div>
<div>
    <a href="/" style="color: red;">Return</a>
</div>