<section class="celebSectionDetails">

<h2>{{movieDetails.title}}</h2>

<p>
  <strong>Genre:</strong>
  {{movieDetails.genre}}
</p>

<p>
  <strong>Plot:</strong>
  {{movieDetails.plot}}
</p>

</section>
<!--
<a href="/books/{{book._id}}/edit">Edit this book</a>
-->