<h2>Movies Info!</h2>

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{obj.title}}</div>
  <div class="card-body">
    <h5 class="card-title">{{obj.genre}}</h5>
    <p class="card-text">{{obj.plot}}</p>
  </div>
</div>
