<div class="container">

    <h1>Ficha de la Película</h1>

    <hr>

    <p><strong>Título:</strong> {{title}}</p>
    <p><strong>Género:</strong> {{genre}}</p>
    <p><strong>Trama:</strong> {{plot}}</p>

    <hr>

    <a href="/movies" class="btn btn-dark">Volver a las Películas</a>

</div>