<div class="container">
    <div class="celebrities-title">
        <h2>The Movie</h2>
    </div>
    <div class="celebrities-box">

        <h3>{{theMovie.title}}</h3>
        <p>Genre: {{theMovie.genre}}</p>
        <p>Plot: {{theMovie.plot}}</p>

    </div>
    <a href="/movies">Movies</a>
    <a href="/">Home</a>
</div>