<main>
    <h2 class="text-center py-5">Show Movie</h2>
    <p><span class="font-weight-bold">Title: </span>{{this.title}}</p>
    <p><span class="font-weight-bold">Genre: </span>{{this.genre}}</p>
    <p><span class="font-weight-bold">Plot: </span>{{this.plot}}</p>
</main>