<h2>Info movies</h2>

<a class="btn btn-primary" href="/">Home</a>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Title: {{{title}}}</h5>
    <p class="card-text">Genre: {{{genre}}}</p>
    <p class="card-text">Plot: {{{plot}}}</p>
  
  </div>
</div>