<main class="container">
    <h2>Details of "{{title}}"</h2>
        <div class="row">
            <div class="col-12">
                <p>Title: {{title}}</p>
                <p>Genre: {{genre}}</p>
                <p>Plot: {{plot}}</p>
            </div>
        </div>    
        <hr>

<a class="btn btn-sm btn-dark" href="/movies/index">Back</a>
</main>