<div>
  <h2>MOVIE</h2>
  <div>title: {{title}}</div>
  <br>
  <div>Genre: {{genre}}</div>
  <br>
  <div>Plot: {{plot}}</div>
  <form action="/movies/{{_id}}/edit">
  <button type="submit">Edit</button>
  </form>
</div>