<h2> Movie Details </h2>



<div class="container">

    <div class="form-border">

        <div id="form-inner">
            <div class="form-item">
                <p>Title: {{movieInfo.title}} </p>
            </div>

            <div class="form-item">
                <p> Movie Genre: {{movieInfo.genre}}</p>
            </div>

            <div class="form-item">
                <p> Movie Plot: {{movieInfo.plot}}</p>
            </div>

            <a class="add-btn" href="/movies"> Go Back</a>

        </div>

    </div>
</div>