<div class="container mt-5 py-5">
    <div class="row mt-5 py-5 border border-dark">
        <div class="col">
            <div class="row">
                <div class="col my-3">
                    <a href="/movies">Go Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>{{title}}</h1>
                        <p>
                            <strong>Ocupation: {{genre}}</strong>
                        </p>
                        <p>
                            <strong> {{plot}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
