<div class="container">

  <h1>{{title}} </h1>

  <hr>

  <p><strong>Título:</strong> {{title}}</p>
  <p><strong>Género: </strong> {{genre}}</p>
  <p><strong>Argumento: </strong> {{plot}}</p>

  <hr>
  <a href="/movies" class="btn btn-dark">Volver al listado de películas</a>
</div>