<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie</title>
</head>
  <body>
    <h2> Details</h2>
    <p>
      {{this.title}}
    </p>
    <p>
      {{this.genre}}
    </p>
    <p>
      {{this.plot}}
    </p>
    <p>
      <a href="/movies/edit/{{this._id}}">Update</a>
    </p>
  </body>
</html>