{{#with movie}}
<h2 class="center-title">More about {{title}}</h2>

<div class="row justify-content-center">
  <div class="col text-center" style="max-width: fit-content">
    {{> moviePage}}
  </div>
</div>
{{/with}}