<div class="row  d-flex flex-column justify-content-center align-items-center h-100">
  <div class="wrapper">

    <h2>Movie Details</h2>
    <ul class="list-group details">
      <li><b>Name:</b> {{movie.name}}</li>
      <li><b>Genre:</b> {{movie.genre}}</li>
      <li><b>Plot:</b> {{movie.plot}}</li>
    </ul>

  </div>
</div>