<h2>{{title}} details' page</h2>
<ul>
    <li>{{title}}</li>
    <li>{{genre}}</li>
    <li>{{plot}}</li>
</ul>

<a href="/movies">< Go back</a>
<span>|</span>
<a href="/movies/new">+ Add new movie</a></Go>