<section id="movies">
  <div class="container">
    <div class="row">
      <div class="column">
        <a class="button" href="/movies">
          <i class="fas fa-arrow-left"></i> Go back
        </a>
        
        <h2>{{movie.title}}</h2>
        <p><em>{{movie.genre}}</em></p>
        <blockquote class="text-center">
          <i class="fas fa-quote-left icon"></i>
          {{movie.plot}}
        </blockquote>
      </div>
    </div>
  </div>
</section>