<h2>Movie details:</h2>
<div>
    <p>Title: {{movie.title}}</p>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot: "{{movie.plot}}"</p>
</div>

<p>Something wrong? You can <a href="/movies/{{movie._id}}/edit">edit this movie</a>!</p>