<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 style="text-align:center">Movie details</h2>
            <hr>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12 offset-md-4">

            <div class="card" style="width: 20rem">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Genre: {{this.genre}}</h6>
                    <p class="card-text">Movie plot: {{this.plot}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="new col-md-4 offset-md-5">
        <a href="/movie/main/movies" id="create-celeb" class="btn btn-primary">Return to list</a>
    </div>
</div>