<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>movies details</h2>
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="card text-black bg-light mb-2 shadow-sm image">
                <h1>{{this.title}}</h1>
                <h6>
                    Genre: {{this.genre}}
                </h6>
                <h6>
                    Plot: {{this.plot}}
                </h6>
                <div class="col-md-10 col-sm-10 text-center">
                    <a href="celebrities/{{this._id}}" class="btn btn-sm btn-primary">see details</a>
                </div>
            </div>
        </div>

    </div>
</div>