<section>
<h2>{{ title }}</h2>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ genre }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ plot }}</h6>
  </div>
</div>
<br>
<a href="/movies"><button class="btn btn-primary">Regresa</button></a>
</section>