<h2 class="mb-4">{{title}}</h2>

<div class="d-flex align-items-center mb-4">
    <b class="mr-1">Genre:</b>
    <span class="font-italic badge badge-secondary text-wrap">{{movie.genre}}</span>
</div>
<p class="lead">{{movie.plot}}</p>