<h2>Movies Details</h2>
<h3>Title: {{this.title}}</h3>
<p>Genre: {{this.genre}}</p>
<p>Plot: {{this.plot}}</p>
<form action="/movies/{{this.id}}/edit" method="get">
<button type="submit">Edit Movie</button>
</form>