<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h2><%= movie.title %></h2>

    <p>Title:
        <%= movie.title %>
    </p>
    <p>Genre:
        <%= movie.genre %>
    </p>
    <p>Plot:
        <%= movie.plot %>
    </p>

</body>

</html>
