<div class="detailContainer">

<h2>Movie details</h2>
<ul>
  <li><strong>Title </strong>{{movie.title}}</li>
  <li><strong>Genre </strong>{{movie.genre}}</li>
  <li><strong>Plot </strong>{{movie.plot}}</li>
</ul>

</div>

<div class="viewFooter">
<a class="new" href="/movies/{{movie._id}}/edit">Edit</a>
<a class="backHome" href="/movies/">Back to Movies</a>
</div>