<section id="show">
    <h2 class="title">{{movie.title}}</h2>
    <hr>
    <ul>
        <li>
            <span>Genre | </span><span>{{movie.genre}}</span>
        </li>
        <li>
            <span>Plot | </span><span>{{movie.plot}}</span>
        </li>
    </ul>
    <br>
    <br>
    <a href="/movies/all"><button>Go back</button></a>
</section>