<h2>{{selectedMovie.title}}</h2>
<h5><i>{{selectedMovie.genre}}</i></h5>
<h4>Plot: {{selectedMovie.plot}}</h4>

<button><a href="/movies/{{selectedMovie._id}}/edit" class="edit-button">Edit</a></button> <br>


<a href="/movies">Go back to all movies</a>