<div class="container">
    <div class="show">
        <h3>{{movie.title}}</h3>
        <h4>{{movie.genre}}</h4>
        <p class="text">{{movie.plot}}</p>
        <a href="/movies"><button type="button" class="btn btn-default btn-sm">Back</button></a>
    </div>
</div>