<h2>Welcome to {{title}}'s page</h2>
<hr>

<h3>{{title}}'s details:</h3>

<ul>
  <li>
    <h4>Occupation:</h4>
    <p>{{genre}}</p>
    </li>
  <li>
    <h4>Iconic phrase:</h4>
    <p>{{plot}}</p>
  </li>
</ul>

<a href="/movies">Go back to the list</a>