<h2>Movies</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card list">
      <div class="card-body">
        <h5 class="card-title">Name: {{name}}</h5>
        <ul class="card-text">
          <li>plot:{{plot}}</li>
          <li>genre:{{genre}}</li>
        </ul>
        <button class="card-link btn btn-success" type="submit">Delete celeb</button>
      </div>
    </div>
  </div>
</div>