<h2 class='heading__title'>Movie Details</h2>
<div class='container'>
    <div class='row'>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{movies.title}}</h5>
                <h6>{{movies.genre}}</h6>
                <p class="card-text">{{movies.plot}}</p>
            </div>
        </div>
    </div>
</div>