<h2>Peliculas</h2>
<div>
  <table>
    <tr>
      <th>Titulo</th>
      <th>Genero</th>
      <th>PLOT</th>
    </tr>
    <tr>
      <td>{{pelicula.title}}</td>
      <td>{{pelicula.genre}}</td>
      <td>{{pelicula.plot}}</td>
    </tr>
  </table>
</div>
