<form method="post" action="/add-new-movie" class="form">
    <h1 class="title">Add a movie in database</h1>
    <label for="title" id="title">TITLE:</label>
    <input class="input" type="text" id="title" name="title">
    <label for="genre" id="genre">GENRE</label>
    <input class="input" type="text" id="genre" name="genre">
    <label for="plot" id="plot">PLOT</label>
    <input class="input" type="text" id="plot" name="plot">
    <button class="btn">Update !</button>
    {{!-- <input class="btn" type="submit" value="create !"> --}}
</form>