<form action="/movies/{{m._id}}/edit" method="POST">
    <input name="title" value="{{m.title}}"/>
    <input name="plot" value="{{m.plot}}"/>
    
    <button type="submit" class="btn btn-success">Update</button>
</form>