<h1>Edit movie</h1>
<form action="update/<%= movie._id%>" method="POST">
  <input type="text" name="title"
    placeholder="title"
    value="<%= movie.title %>">
  |
  <input type="text" name="genre"
    placeholder="genre"
    value="<%= movie.genre %>">
  |
  <input type="text" name="plot"
    placeholder="plot"
    value="<%= movie.plot %>">
  <button>Edit</button>
</form>
<a href="/movie">Back to movies list</a>
