<h2>Add new celebrity</h2>

<form action="/celebrities" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Insert name">

  <label for="occupation">occupation</label>
  <input type="text" name="occupation" id="occupation" placeholder="Insert occupation">

  <label for="catchPhrase">catchPhrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Insert catchPhrase">

<button type="submit">Add new celebritie</button>
<a href="/celebrities"><button>Go back</button></a>
