<h2> Page Celebrities </h2>

      <%=celebrity.name%><br>
      <%=celebrity.occupation%><br>
      <%=celebrity.catchPhrase%><br><br><br>
<a href="/celebrities/<%=celebrity.id%>/edit"><button>Edit celebrity</button></a>
<a href="/celebrities"><button>Go back</button></a>
