<form action="/celebrities" method="post">
  <label for="">Nombre</label>
  <input type="text" name="name">
  <label for="">Ocupación</label>
  <input type="text" name="occupation">
  <label for="">Frase célebre</label>
  <input type="text" name="catchPhrase">
  <input type="submit" value="Enviar">
</form>