<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Add a Movie </title>
  </head>
  <body>

    <form class="newCeleb" action="/movies/new" method="post">
      <label for="name">Title:</label> <br>
      <input id="name" type="text" name="title" value="" placeholder="Title"> <br><br>

      <label for="occupation">Genre:</label> <br>
      <input id="occupation" type="text" name="genre" value="" placeholder="Genre"> <br><br>

      <label for="catchPhrase">Plot:</label> <br>
      <input id="catchPhrase" type="text" name="plot" value="" placeholder="Plot"> <br><br>

      <button type="submit" name="button">Submit</button>
    </form>

  </body>
</html>
