<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= result.title %></title>
  </head>
  <body>

    <h1>Details:</h1>
    <ul>
      <li> Title:   <%= result.title %></li>
      <li> Genre:  <%= result.genre %></li>
      <li> Plot:  <%= result.plot %></li>
    </ul>

  </body>
</html>
