<h2>Add new celebrity</h2>
<form action="/celebrities">
  <ul id="quotesList">
    <li>
      <label for="name">Fullname: </label>
      <input type="text" name="name">
    </li>
    <li>
      <label for="occupation">Occupation: </label>
      <input type="text" name="occupation">
    </li>
    <li>
      <label for="catchPhrase">Famous quote:</label>
      <input type="text" name="catchPhrase">
    </li>
    <li>
      <label for="more">
        <a href="#" id="add">More</a>
      </label>
    </li>
  </ul>

  <button type="submit">Add</button>
</form>