<h2>Celebrities Detail of <%=data.name%> </h2>
<ul>
    <li> Name : <%=data.name%> , Occupation: <%=data.occupation%> , catchPhrase <%=data.catchPhrase%> </li>
</ul>
<a href="/celebrities">Return to list </a>
