<form action="/add-new" method="post">
  Name: <input type="text" name="name"> <br>
  Occupation: <input type="text" name="occupation"> <br>
  Catchphrase: <input type="text" name="catchPhrase"> <br>
  <button type="submit" >Submit</button>
</form>