<h1>werk</h1>

<form action="/add-new" method="POST">
{{!-- Define a req.body.name --}}
  Name: <input type="text" name="name"/><br> <br>
  W3RK? <input type="text" name="occupation"/><br><br>
  Catchphrase: <input type="text" name="catchphrase" /><br><br>
  <button>Submit</button>
</form>
<br>
<a href="/celebrities">return</a>