<form action="/add" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
   <input type="text" name="catchPhrase" placeholder="catchphrase">
 
 

  <input type="submit" value="Add New Celebrity">
</form>