<main>
  <div class="add_element_form">
    <form action="/movies/new" method="POST">
      <div>
        <label for="title">Movie title</label>
        <input type="text" name="title">
      </div>
      <div>
      <label for="genre">Genre</label>
      <input type="text" name="genre">
      </div>
      <div>
      <label for="plot">Plot</label>
      <input type="text" name="plot">
      </div>
      <input type="submit" value="Add Movie">
    </form>
  </div>
</main>