<main>
  <div class="add_element_form">
    <form action="/celebrities/new" method="POST">
      <div>
        <label for="name">Celebrity name</label>
        <input type="text" name="name">
      </div>
      <div>
      <label for="occupation">Occupation</label>
      <input type="text" name="occupation">
      </div>
      <div>
      <label for="catchPhrase">Catch Phrase</label>
      <input type="text" name="catchPhrase">
      </div>
      <input type="submit" value="Add celebrity">
    </form>
  </div>
</main>