<h2>Create a new celebrity:</h2>

<form action="/celebrities/new" method="post">

<label for="name">Name:</label>
<input id="name" name="name">

<label for="occupation">Occupation:</label>
<input id="occupation" name="occupation">

<label for="catchPhrase">Catch Phrase:</label>
<input id="catchPhrase" name="catchPhrase">

<button type="submit">Submit</button>

</form>