<h2>Add a celebrity to the database</h2>

<form method="POST" action="/celebrities">
  <div>
    <label for="celeb-name">Celebrity name: </label>
    <input id="celeb-name" type="text" name="name" placeholder="Name">
  </div>
  <div>
    <label for="celeb-occupation">Occupation: </label>
    <input id="celeb-occupation" type="text" name="occupation" placeholder="Occupation">
  </div>
  <div>
    <label for="celeb-catchphrase">Catchphrase: </label>
    <input id="celeb-catchphrase" type="text" name="catchphrase" placeholder="&quot;Catchphrase&quot;">
  </div>

  <button>Add celebrity!</button>
</form>