


<div class="row justify-content-center">

   

<form action="/celebrities/add" method="POST">
<h2>Add a decayed celebrities</h2>

    <div class="form-group">
        <label for="name">Add name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="occupation">Add an occupation</label>
            <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Enter an occupation">
        </div>

        <div class="form-group">
            <label for="motto">Add a motto</label>
            <input type="text" class="form-control" id="motto" name="catchPhrase" placeholder="Enter a motto">
        </div>

        <button type="submit" class="btn btn-dark">Add ???</button>
</form>
</div>