<h1>Add your own Character!</h1>
<p>fill the form in below</p>

<form action="/celebrities" method="POST">
  <label for="Name">Name</label>
  <input type="text" name="Name" id="Name">
  <label for="Occupation">Occupation</label>
  <input type="text" name="Occupation" id="Occupation">
  <label for="Catchphrase">Catchphrase</label>
  <input type="text" name="Catchphrase" id="Catchphrase">
  <button type="submit"> Create a new Character</button>

</form>