<div class="row justify-content-center">



    <form action="/movies/addMovies" method="POST">
        <h2>Add another bad Movies</h2>

        <div class="form-group">
            <label for="title">Add a Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter a title">
        </div>

        <div class="form-group">
            <label for="genre">Add the genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Enter a genre">
        </div>

        <div class="form-group">
            <label for="plot">Add a the plot</label>
            <input type="text" class="form-control" id="plot" name="plot" placeholder="Enter thr plot">
        </div>

        <button type="submit" class="btn btn-dark">Add movies ???</button>
    </form>
</div>