<h1 class="header">Add A New Celebrity</h1>

<form action="/celebs/creation" method="POST">

    <p>Name</p>
    <input type="text" name="theName" placeholder="Jon Snow">

    <p>Occupation</p>
    <input type="text" name="theOccupation" placeholder="Lord Commander">

    <p>Catch Phrase</p>
    <input type="text" name="theCatchPhrase" placeholder="You're Ma Queen!">


<p><button>Save</button></p>


</form>