<h1 class="header">Add A New Movie</h1>

<div class="parent">
    <div class="child">
<form action="/movies/creation" method="POST">

    <p class="center-text">Title</p>
    <input  class="center-text-2" type="text" name="theTitle" placeholder="Movie Name">

    <p  class="center-text">Genre</p>
    <input class="center-text-2" type="text" name="theGenre" placeholder="Movie Genre">

    <p class="center-text">Plot</p>
    <input class="center-text-2" type="text" name="thePlot" placeholder="Movie Plot">

    <p class="center-text">Star</p>
    <select class="center-text-2" name="theStar">

        <option value="" selected disabled>Please Select One</option>

        {{#each allTheCelebrities}}

        <option value="{{this._id}}">{{this.name}}</option>

        {{/each}}

    </select>

        <p class="center-text" >Image</p>
    <input  class="center-text-2" type="text" name="theImage" placeholder="Image URL">



    <p class="center-text"><button>Save</button></p>


</form>

</div>
</div>