<h1 class="header">Add A New Celebrity</h1>

<div class="parent">

    <div class="child">
<form action="/celebs/creation" method="POST">

    <p class="center-text">Name</p>
    <input  class="center-text-2" type="text" name="theName" placeholder="Jon Snow">

    <p class="center-text">Occupation</p>
    <input  class="center-text-2" type="text" name="theOccupation" placeholder="Lord Commander">

    <p class="center-text">Catch Phrase</p>
    <input  class="center-text-2" type="text" name="theCatchPhrase" placeholder="You're Ma Queen!">

    <p class="center-text">Image</p>
    <input  class="center-text-2" type="text" name="theImage" placeholder="Image URL">


<p class="center-text"><button>Save</button></p>


</form>
</div>

</div>