<h2>Add a new Celebrity!</h2>

<form action="/addNew" method="post">
  <input type="text" placeholder="Enter Name" name="name"> 
  <input type="text" placeholder="Enter Occupation" name="occupation">
  <input type="text" placeholder="Enter Catch Phrase" name="catchPhrase">
  <button type="submit">Add Celebrity</button>
</form>