<h1 class="header">Add A New Movie</h1>

<form action="/movies/creation" method="POST">

    <p>Title</p>
    <input type="text" name="theTitle" placeholder="Movie Name">

    <p>Genre</p>
    <input type="text" name="theGenre" placeholder="Movie Genre">

    <p>Plot</p>
    <input type="text" name="thePlot" placeholder="Movie Plot">


<p><button>Save</button></p>


</form>