<h2>Add a New Movie!</h2>

<form action="/addNewMovie" method="post">
  <input type="text" placeholder="Enter Title" name="title"> 
  <input type="text" placeholder="Enter Genre" name="genre">
  <input type="text" placeholder="Enter Plot" name="plot">
  <button type="submit">Add Movie</button>
</form>