<form action="/movies/{{theMovie._id}}/reviews/create" method="post">
  <label for="reviewer">Name: </label>
  <input type="text" name="reviewer" id="reviewer">

  <label for="content">What do you have to say?</label>
  <textarea name="content" cols="25" rows="3"></textarea>
  <button type="submit">submit</button>

</form>