<div class="ajax-movies-container">
  <div class="ajax-movies-wrapper">
    <div class="create-movie-container">
      <form id="ajaxCreateMovies">
        <input type="text" placeholder="Movie Name" required="true" name="name" id="movie-name">
        <input type="text" placeholder="Movie Genre" required="true" name="genre" id="movie-genre">
        <input type="text" placeholder="The Plot" required="true" name="plot" id="movie-plot">
        <select name="actor" id="actors-list">
          <option value="actor-id">Actor Name</option>
        </select>
        <button type="submit">Add to list</button>
      </form>
    </div>
    <div id="movie-list">
      
    </div>
  </div>
</div>