<h2>Lista de Celebridades:</h2>
<div>
  <ul>
  {{#each celebs as |celeb|}}
  <li>
    <a href="/celebrities/{{celeb.id}}">{{celeb.name}}</a>
    <form action="/celebrities/{{celeb.id}}/delete" method="POST">
     <button type="submit">Borrar</button>
    </form>
  </li>
  {{/each}}
  </ul>
  <a href="/newCeleb/celebs">Crea una nueva celebridad</a>
</div>