<h1>
    Celebrities
</h1>


{{#each allCelebs}}
    <div class="celeb-list-one">
        <img class="celebImg" src="{{this.image}}">
        <div class="celebName">{{this.name}}</div>
        <a href="/celebrities/{{this._id}}">See Details</a>
    </div>
{{/each}}