<h2>Celebrities</h2>

{{#each celeb}}

<p>Name: {{this.name}} <p>
    <a href="/celebrities/{{this._id}}">More Details</a>
    <a href="/celebrities/delete/{{this.id}}">Delete</a>
    <a href="/celebrities/edit?celebrity_id={{this._id}}">Edit</a>
    {{/each}}

    <br>
    <br>

    <a href="/celebrities/add">Add Celeb</a>

    <a href="/">Take me home</a>