<h2>Crea una nueva Celebridad</h2>
<form action="/celebrities" method="POST">
<div>
  <label for="name">Nombre</label>
  <input type="text" name="name">
</div>
<div>
  <label for="ocuppation">Ocupacion</label>
  <input type="text" name="ocuppation">
</div>
<div>
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase">
</div>
<button type="submit">Crealo!</button>
</form>