<div class="containter celebrities">
        
    <a href="/celebrities/create" class="btn btn-sm btn-outline-dark">Create new celebrity</a>
    
    <h1>Celebrities</h2>

    <div class="row">

        {{#each celebrities}}

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{image}}" class="card-img-top" alt="{{name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <a href="/celebrities/detail/{{id}}" class="btn btn-sm btn-outline-dark">See more</a>
                    </div>
                </div>
            </div>

        {{/each}}

    </div>

</div>