<form action ='/celebrities/edit?celebId={{celebId._id}}' method='POST'>
<label for='name' name='name'>Name</label>
<input type ='text' name='name' placeholder='name' value='{{celebrities.name}}'>
<label for='name' name='name'>Occupation</label>
<input type ='text' name='occupation' placeholder='occupation' value='{{celebrities.occupation}}'>
<label for='name' name='name'>Catch Phrase</label>
<input type ='text' name='catchPhrase' placeholder='Catch Phrase' value='{{celebrities.catchPhrase}}'>
<button type ='submit'>edit</button>

</form>