<h1>Celebrity Information</h1>
<p>Celebrity name: {{celeb.name}}</p>
<p>Occupation: {{celeb.occupation}}</p>
<p>Catchphrase: {{celeb.catchPhrase}}</p>
<a class="btn btn-success" href="/celebrities">Return to celebrities</a>
