<h2 class="index-title">Celebrities</h2>


<div class="row">
  <div class="col-sm-10">
    {{#each celebrity}}
    {{> listofceleb}}
    {{/each}}
  </div>
</div>


<div class="row">
  <div class="col-sm-10">
    <a href="/celebrities/new"><button type="submit" class="btn btn-success btn-add">Add a new celebrity</button></a>
  </div>
</div>