<a href="/">back to homepage</a>
 <br>
 <br>

<h1>Celebs:</h1>

{{#each celebrities}}
<a href="/celebrities/{{this._id}}"><h2>{{this.name}}</h2></a>
{{/each}}


<br>
<a href="/celebrities/new"><button>Create Celebrities</button></a>
<br>




