<h2>Add new Celeb</h2>

<form action="/celebrities" method="POST">
   <label for="name">Celeb Name</label>
   <input type="text" name="name" id="name">
   <label for="Occupation">Occupation</label>
   <input type="text" name="occupation" id="occupation">
   <label for="catchPhrase">CatchPhrase</label>
   <input type="text" name="catchPhrase" id="catchPhrase">
   <button type="submit">Add your favourite Celeb</button>
</form>