<h2>Lista de celebridades (esta es la vista)</h2>

<ul>
  {{#each celebrities}}
  <li><a href="/celebrities/{{this.id}}">{{this.name}}</a></li>
  {{/each}}
</ul>

<a href="/celebrities/new">Añadir nueva celebridad</a>