{{#with celebrity}}
<div>
  <h1>{{name}}</h1>
  <p>{{occupation}}</p>
  <p>{{catchPhrase}}</p>
  <a href="/celebrities" class="link">← Back to the celebrities list</a>
  <a href="/celebrities/{{_id}}/edit" class="link">Edit info about celebrity</a>
</div>
{{/with}}