<div>
  <h2>New Celebrity:</h2>
  <form action="/celeb/new" method="POST">
  <div>
    <label for="">Name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="">Occupation:</label>
    <input type="text" name="occupation">
  </div>
  <div>
    <label for="">Catch Phrase:</label>
    <input type="text" name="catchPhrase">
  </div>
  <div><button type="submit">ADD</button></div>
  </form>
</div>