<h1>Añade a la persona "Especial" a nuestra lista de estrellas</h1>

<form action="/celebrities/add" method="post">
  <label for="">Nombre:</label>
  <input type="text" name="name"><br>

  <label for="">Duerme o es Ironhaker:</label>
  <input type="text" name="occupation" value="Ironhacker"><br>

  <label for="">Descripción:</label>
  <input type="text" name="catchPhrase"><br>


  <button type="submit">Añadir</button>
</form>

{{!-- <a href="/books/list">Cancelar y volver a la lista</a> --}}