<div class="container">

  <h2>Detalles de un famoso</h2>

  <ul>

    {{#with cell}}
    <p>Nombre: {{this.name}} </p>
    <p>Ocupación: {{this.occupation}}</p>
    <p>Frase: {{this.catchPhrase}}</p>
    {{/with}}

  </ul>
  <p>
    <a href="/celebrities">Volver</a>
  </p>
</div>