 
<h2>Edit celebrity details</h2>

{{#with response}}
<form action="/celebrity-edit/{{_id}}" method="POST">

    <label for="name">Name:
    <input type="text" name="name" value="{{name}}">
    </label>

    <label for="occupation">Occupation:
    <input type="text" name="occupation" value="{{occupation}}">
    </label>

    <label for="catchPhrase">Catch Phrase:
    <input type="text" name="catchPhrase"value="{{catchPhrase}}">
    </label>

    <button type="submit">Save</button>
</form>

{{/with}}