<form action="/celebrity/add" method="post">
<label for="name">Nombre de la Celebridad: <input type="text" name="name"></label><br>
<label for="occupation">Ocupación: <input type="text" name="occupation"></label><br>
<label for="catchPhrase">Eslogan: <input type="text" name="catchPhrase"></label><br>
<button type="submit">Aceptar</button><button type="reset">Limpiar campos</button>

</form>