{{#with celebrityDbTwo}}
<h4>Name: {{name}}</h4>
<h4>Occupation: {{occupation}}</h4>
<h4>CatchPhrase: {{catchPhrase}}</h4>
{{/with}}

<form action="/celebrities" method="GET">
   <button class="btn-return" type="submit">Return</button>
</form>