<h1>Artist's name: {{name}}</h1>
    <ul>
        <li>
            occupation: {{occupation}}
        </li>
    </ul>
    <ul>
        <li>
            catchphrase: <em>{{catchPhrase}}</em>
        </li>
    </ul>

