<h2>Celebrities</h2>
<ul>
{{#each celebs}}
  <li>{{name}} <a href="/celebrities/{{_id}}">detail</a> <a href="/celebrities/{{_id}}/updateCeleb">update</a>  <a href="/celebrities/{{_id}}/deleteCeleb">delete</a></li>
{{/each}}
</ul>

<a href="/">Go home</a>