<h1>Formulario para a침adir libro</h1>

<form action="/celebs/add" method="POST">

  <label for="">Nombre:</label>
  <input type="text" name="name"> <br>

  <label for="">Profesi칩n:</label>
  <input type="text" name="occupation"> <br>

  <label for="">Frase:</label>
  <input type="text" name="catchPhrase"><br>

  <button type="submit">A침adir celebridad</button>

</form>

<a href="/celebs/list">Anular y volver atr치s</a>