<h1>Get the details on this celebrity:</h1>
<ul>
  <li><strong>Name:</strong> {{name}}</li>
  <li><strong>Occupation:</strong> {{occupation}}</li>
  <li><strong>Catch phrase:</strong> {{catchPhrase}}</li>
</ul>

