<main>
  <div class="container">
   <p>"{{celebrity.catchPhrase}}"</p>
   <p>
     <a href="/celebrities/delete/{{celebrity._id}}">Delete this Celebrity</a>
   </p>
   <p>
     <a href="/celebrities">Back to all celebrities</a>
     </p>
  </div>
</main>