 

{{#each allcelebrities}}
<h1>{{name}}</h1>
<a class="btn btn-outline-primary btn-sm" href="/details/{{_id}}">See more here!</a> <br>
<a class="btn btn-outline-primary btn-sm" href="/edit/?celebrityId={{_id}}">Edit Celebrity!</a> <br>
<a class="btn btn-outline-primary btn-sm" href="/delete/{{_id}}">Delete Celebrity!</a> <br>


{{/each}}







