<h1>
This is are celebrity list 
</h1>

{{#each celebrities}}

   
   <h2>{{this.name}}</h2>
   <a href="/celebrities/{{this._id}}">See Details</a>
   <a href="/celebrities/{{this._id}}/edit">Edit This Celebrity</a>

{{/each}}

<hr>
<a href="/celebrities/new">Add</a>