<h2>Agrega la nueva celebridad</h2>
<form action="/newCelebrity" method="post">
    <p>
        <label for="name">Escribe el nombre</label>
        <input type="text" name="name" placeholder="Escríbele aquí">
    </p>
    <p>
        <label for="occupation">Ocupación</label>
        <input type="text" name="occupation" placeholder="Escríbele aquí">
    </p>
    <p>
        <label for="catchPhrase">Frase Célebre</label>
        <input type="text" name="catchPhrase" placeholder="Escríbele aquí">
    </p>
    <input type="submit">
</form>