<h2>Add Celeb</h2>

<form action="/celebrities/add" method="POST">

  <label for="field1">Celebrity Name</label>
  <input type="text" id="field1" name="name">
  <br>

  <label for="field2">Celebrity Occupation</label>
  <input type="text" id="field2" name="occupation">
  <br>

  <label for="field3">Celebrity Catch Phrase</label>
  <input type="text" id="field3" name="catchPhrase">
  <br>
  <br>

  <button type="submit">Add your celebrity</button>
  <br>
  <a href="/celebrities">Go back to list of celebs</a>

</form>

</div>