<h1>Look at all these celebrities!</h1>
{{#each celebs}}
  <h2><a href="/celebrities/{{this._id}}">{{this.name}}</a></h2>
{{/each}}

<h3><a href="/celebrities/new">Click here</a> to add a new celebrity</h3>