<main>
    <h2>Celebrities List:</h2>
    <a href="/celebrities/new">Add new celebrity</a>
    <ul>
    {{#each celebrities}}
    <li>
        <a href="/celebrities/{{this._id}}">{{this.name}}</a>
        <a href="/celebrities/{{this._id}}/edit">Editar Celebridade</a>
        <form action="/celebrities/{{this._id}}/delete" 
        method="post">
        <button type = "submit">Deletar Celebridade</button>
        </form>
    </li>
    {{/each}}
    </ul>
</main>