<div class="container">
  <h1> Details: </h1>
  <h3>Name</h3>
  <p>{{fullCelebrity.name}}</p>
  <h3>Occupation</h3>
  <p>{{fullCelebrity.occupation}}</p>
  <h3>Catch Phrase</h3>
  <p>{{fullCelebrity.catchphrase}}</p>

  <a href="/edit" class="btn btn-dark">Edit celebrity</a>
  <a href="/celebrities" class="btn btn-dark">Back to list</a>

</div>