<div>
  <h2>Celebrities list:</h2>
  <ul>
  {{#each celeb}}
  <li><a href="/celebrities/{{id}}">{{name}}</a></li>
  {{/each}}
  </ul>
  <p><a href="/celeb/new">Add a new celebrity</a></p>
  <p><a href="/">Return Home</a></p>
</div>