<h2>List famouses</h2>
<ul>
    {{#each celebrity}}
    <li><a href="/celebrities/view/{{_id}}">{{name}}</a>
        <form action="/celebrities/{{_id}}/delete" method="post">
            <button type='submit'>Delete</button>
            <a href="/celebrities/edit/{{_id}}">Edit</a>
        </form>

    </li>
    {{/each}}
</ul>

<a href="/celebrities/new">Add celebrity</a>
