<div class="container">
  <h1>Detalles de <strong>{{name}}</strong></h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p><strong>OCCUPATION:</strong> {{occupation}}</p>
    </div>
    <div class="col-md-6">
      <p><STRONG>CATCH PHRASE:</STRONG> {{catchPhrase}}</p>
    </div>
  </div>
  <hr>
  <a class="btn btn-dark" href="/listado">Volver a celebritys</a>
</div>