<div>
   <form action="/books/{{_id}}/update" method="POST">
    <input type="text" name="name" id="name">
    <input type="text" name="occupation" id="occupation">
    <input type="text" name="catchPhrase" id="catchPhrase">
    <button type="submit">Edit Celebrity</button>
    </form>
    <h3>{{name}}</h3>
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
</div>