    

<h1>{{name}}</h1>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<a href="/celebrities">Return</a>
<form action="{{id}}/edit">
    <br>
    <button style="color:white;background-color:rgb(149, 203, 235)" type="submit">Edit</button>
</form>


