<h1>Añadir nueva celebrity</h1>

<form action="/celebrities/add" method="post">
    <label for="">Nombre:</label>
    <input type="text" name="name"><br><br>

    <label for="">Occupation:</label>
    <input type="text" name="occupation"><br><br>

    <label for="">Catch Phrase:</label>
    <input type="text" name="catchPhrase"><br><br>

    <button type="submit">Añadir nueva celebrity</button>
</form><br><br>

<a href="/celebrities">Cancelar y volver a la lista</a>