{{#if message}}
    <h2 style="background:green; color:white; height:40px">{{message}}</h2>
{{/if}}

<h2>Tus celebrities:</h2>

<section>
    {{#each celebrities as |celebrity|}}
        <a href="/celebrities/{{celebrity._id}}">
            <p>{{celebrity.name}}</p>
        </a>
    <div>
        <form action="/celebrities/{{celebrity._id}}/delete" method="post">
            <input type="submit" value="Delete">
        </form>
    </div>
    {{/each}}
</section>
