<h1>Detalles de {{celebrity.name}} </h1>
<p>ocupación actual: {{celebrity.occupation}} </p>
<p>Eslogan : {{celebrity.catchPhrase}} </p>
<a href="/celebrity/list">Return</a>
<a href="/celebrity/delete/:{{celebrity._id}} ">borrar celebrity</a>
