<form action="/celebrities/new" method="post" class="form">
    <h1 class="title">Add a celebrity<label for=""></label></h1>

    <label class="label" for="name">Name</label>
    <input class="input" id="name" type="text" name="name">

    <label class="label" for="occupation">Occupation</label>
    <input class="input" id="occupation" type="text" name="occupation">

    <label class="label" for="catchPhrase">Catch phrase</label>
    <input class="input" id="catchPhrase" type="text" name="catchPhrase">

    <button class="btn">ok</button>
</form>

<br><br>
<a class="link" href="/">Go back home</a>