

{{#each allcelebrities}}
<h1>{{name}}</h1>
<a href="/details/{{_id}}">See more here!</a> <br>
<a href="/edit/{{_id}}">Edit Celebrity!</a> <br>
<a href="/delete/{{_id}}">Delete Celebrity!</a> <br>


{{/each}}

<a href="/new">Create Your Own Celebrities!</a> <br>

<a href="/">INICIO</a> <br> 

