<h1>werk</h1>

<p>Name: {{celeb.name}}</p>  
<p>Occupation: {{celeb.occupation}}</p>  
<p>Catchphrase: {{celeb.catchphrase}}</p>  

<a href="/celebrities">Return</a>
{{!-- break nt werkin --}}
<br> 
<p>            </p>
<form action="/delete/:celebId" method="post">
<a href="/delete/{{celeb._id}}">Delete</a>
  
</form>