<h2>Estrellas de Ironhack</h2>
<div>
  {{#each celebrity}}
   <p>Superestrella:<a href="/celebrities/{{this._id}}"> {{name}}</a></p>
  {{/each}}
</div>
<button><a href="/celebrities/add">Añadir</a></button>