   <h1>Nueva criatura</h1>

            <form action="/new" method="post">

               
                    <label>nombre</label>
                    <input name="name" type="text">
              
                    <label>ocupacion</label>
                    <input name="occupation" type="text">
            

                    <label>lema</label>
                    <input name="catchPhrase" type="text">
            

                <button type="submit">Crear</button>
            </form>