<div class="page">
    <h2 class="title">Celebrity in details</h2>
    <hr>

    <p>{{celebrity.name}}</p>
    <p>{{celebrity.occupation}}</p>
    <p>{{celebrity.catchPhrase}}</p>

</div>

<br><br>
<a href="/">Go back home</a>