
<p>Name: {{celeb.name}}</p>  
<p>Occupation: {{celeb.occupation}}</p>  
<p>Catchphrase: {{celeb.catchphrase}}</p>  

<a href="/celebrities">Return</a>

<br> 
<p>            </p>
<form action="/delete/:celebId" method="post">
<a href="/delete/{{celeb._id}}">Delete</a>

</form> 