<h2> This is Celebrities Page </h2>

{{#each allTheCebs}}
 <div>
{{this.name}}
<a href = 'details/{{this.id}}'>click here</a>


 <form action="/celebrities/delete/{{this.id}}" method="POST"><button>
   Delete Celebrities
 </button>
 
 
 </form>

 </div> 

<div> 


 </div>
{{/each}}