<h2>Add Celebrity File</h2>

<form action="/celebs/add" method="POST">
  <label for="name-input">Name</label>
  <input name="name" type="text" id="name-input">
  <label for="occupation-input">Occupation</label>
  <input name="occupation" type="text" id="occupation-input">
  <label for="catchPhrase-input">Catch Phrase</label>
  <input name="catchPhrase" type="text" id="catchPhrase-input">
  <button type="submit">Submit</button>
</form>