<form action="/movies/createMovie" method="post">
  <h2>Create Movie</h2>
  <p>Title:</p>
  <input type="text" name="title" placeholder="Title" required>
  <p>Genre:</p>
  <input type="text" name="genre" placeholder="Genre" required>
  <p>Plot:</p>
  <input type="text" name="plot" placeholder="Plot" required>
  <input type="submit" value="create">
</form>

<a href="/">Go home</a>