<form action="/celebrities" method="post">
<div>
  <label for="name">Celebrities Name</label>
  <input type="text" name="name" id="name" placeholder="Insert name of celebrity here">
  </div>

  <div>
  <label for="occupation">Celebrities Occupation</label>
  <input type="text" name="occupation" id="occupation" placeholder="Insert occupation of celebrity here">
  </div>

  <div>
  <label for="catchPhrase">Celebrities Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Insert catch phrase of celebrity here">
  </div>

<button type="submit">Create </button>
</form>