<h1>Celebrity</h1>
<ul>
  
    <li>   
        <strong>{{name}}</strong>
        </a>
        <div>
        <a href="/celebrities/{{id}}/edit"> Edit</a>
        </div>
        <p>{{occupation}}</p>  
        <p>Quote: {{catchPhrase}}</p>
        </li>
</ul>

<form method = "POST" action=""> 
<button type="submit">
    Delete
    </button>
    </form>