<h1>Movie</h1>
<ul>
  
    <li>   
        <strong>{{title}}</strong>
        </a>
        <div>
        <a href="/movies/{{id}}/edit"> Edit</a>
        </div>
        <p>{{genre}}</p>  
        <p>Plot: {{plot}}</p>
        </li>
</ul>

<form method = "POST" action=""> 
<button type="submit">
    Delete
    </button>
    </form>