<form action="/{{oneCeleb._id}}/process-edit" method = "POST">

  <label>
    Name :
    <input type="text" name= "name" value = "{{oneCeleb.name}}">
  </label>

  <label>
    Occupation :
    <input type="text" name= "occupation" value = "{{oneCeleb.occupation}}">
  </label>

  <label>
    CatchPhrase :
    <input type="text" name= "catchPhrase" value = "{{oneCeleb.catchPhrase}}">
  </label>

  <button>Edit baby</button>

</form>