<form action="/movies/edit?movie_id={{movie._id}}" method="POST">
  <label for="title">Título: </label>
  <input type="text" name="title" value="{{movie.title}}" required>
  <br>
  <label for="genre">Género: </label>
  <input type="text" name="genre" value="{{movie.genre}}">

  <label for="plot">Plot: </label>
  <input type="text" name="plot" value="{{movie.plot}}">

  <button type="submit" name="button">Añadir</button>
</form>

<a href="/movies">< Regresar</a></Regresar>