<h1>Edit Movie</h1>

<form action="/movies/{{movie._id}}/edit" method="post">
  <div class="form-group">
    <label for="title-input">Title</label>
    <input name="title" value="{{movie.title}}" type="text" class="form-control" id="title-input">
  </div>

  <div class="form-group">
    <label for="genre-input">Genre</label>
    <input name="genre" value="{{movie.genre}}" type="text" class="form-control" id="genre-input">
  </div>

  <div class="form-group">
    <label for="plot-input">Plot </label>
    <input name="plot" value="{{movie.plot}}" type="text" class="form-control" id="plot-input">
  </div>

  <button type="submit" class="btn btn-dark">Edit Movie</button>

</form>