<div>
<h2>Edit your celebrity</h2>

<form action="/celebrities/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="" placeholder="{{celebrities.name}}">
  <br>
  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation" value="" placeholder="{{celebrities.occupation}}">
  <br>
  <label for="phrase">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="" placeholder="{{celebrities.catchPhrase}}">
  <br>
  <button type="submit" name="button" class="btn btn-success">Guardar</button>
</form>

<a href="/celebrities">< Regresar</a></Regresar>
</div>