<form action="/celebrities/{{celebrities._id}}" method="post">
  Name: <input type="text" name="name" value="{{celebrities.name}} "> <br>
  Occupation: <input type="text" name="occupation" value="{{celebrities.occupation}} "> <br>
  Catchphrase: <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}} "> <br>
  <button type="submit" >Submit</button>
</form>