<form action="/{{oneMovie._id}}/edit-movie" method="post">
<label>
  Title :
  <input type="text" name = "title" value ="{{oneMovie.title}}">
</label>

<label>
  genre :
  <input type="text" name = "genre" value ="{{oneMovie.genre}}">
</label>

<label>
  plot :
  <input type="text" name = "plot" value ="{{oneMovie.plot}}">
</label>

  <button>Edit baby</button>
</form>