{{#with celeb}}
<form action="/celebrities/{{_id}}" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="{{name}}">
    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation" id="occupation" value="{{occupation}}">
    <label for="catchPhrase">Catch Phrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
    <button type="submit">Save Changes</button>
</form>
{{/with}}