<form action="/homeCelebrities/edit?celebrities_id={{celebrity._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{celebrity.name}}"/>

  <label for="">Occupation:</label>
  <input type="text" name="occupation"  value="{{celebrity.occupation}}"/>

  <label for="">Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" />

  <button type="submit">EDIT</button>
</form>
<a href="/homeCelebrities">Return</a>