<div class="container">

  <h2>Modificar un famoso</h2>

  <div class="row justify-content-center">

    <div class="col-md-8">

      <form action="/celebrities/edit?cellId={{_id}}" method="POST">
        <div class="form-group">
          <label for="field1">Nombre: </label>
          <input type="text" class="form-control" id="field1" name="name" value="{{name}}">
        </div>
        <div class="form-group">
          <label for="field2">Ocupación: </label>
          <input type="text" class="form-control" id="field2" name="occupation" value="{{occupation}}">
        </div>
        <div class="form-group">
          <label for="field3">Frase: </label>
          <input type="text" class="form-control" id="field3" name="catchPhrase" value="{{catchPhrase}}">
        </div>

        <button type="submit" class="btn btn-dark">Modificar un famoso</button>
      </form>

    </div>
  </div>
</div>