<h1>Edit Celebrity</h1>

<form action="/edit-celebrity" method="POST">
  <input type="hidden" name="celebrityId" value="{{_id}}">
  <label for="name">Name: 
    <input type="text" name="name" value="{{name}}">
  </label>
  <br>
  <label for="occupation">Occupation: 
    <input type="text" name="occupation" value="{{occupation}}">
  </label>
  <br>
  <label for="catchPhrase">Catchphrase: 
    <input type="text" name="catchPhrase" value="{{catchPhrase}}">
  </label>
  <br>
  <button type="submit">SAVE</button>
</form>

<a href="/celebrities">Go back</a>