<form action="/{{_id}}/editCeleb" method="post">
    <p>
        <label for="name">Escribe el nombre</label>
        <input  name="name" type="text" value="{{name}}" placeholder="Escríbele aquí">
    </p>
    <p>
        <label for="occupation">Ocupación</label>
        <input name="occupation" type="text" value="{{occupation}}" placeholder="Escríbele aquí">
    </p>
    <p>
        <label for="catchPhrase">Frase Célebre</label>
        <input  name="catchPhrase" type="text" value="{{catchPhrase}}" placeholder="Escríbele aquí">
    </p>
        <button type="submit">Submit</button>
</form> 