<h2>EDIT</h2>

<form action="/<%= celeb.id %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= celeb.name %>">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation" value="<%= celeb.occupation %>">

  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="phrase" id="phrase" value="<%= celeb.catchPhrase %>"></input>

  <button type="submit">Edit Celebrity!</button>
</form>
