<section id="error">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Error!</h1>
        <h2>There was an error on the server! Check the console!</h2>
      </div>
    </div>
  </div>
</section>
