<div class="text-center">
  <img src="/images/error.svg" width="250px" alt="Error img">
  <h1 class="mt-5"><b>Error!</b></h1>
  <h3 class="mx-auto" style="max-width: 500px;">There was an error on the server! Check the console!</h3>
</div>