<img src="https://afinde-production.s3.amazonaws.com/uploads/450ea6e5-32c8-4387-a5f3-ce46e2620ec5.jpeg" alt="">
<h1><%= message %></h1>
<!-- <h2> error.status </h2>
 <pre> error.stack </pre>  faltan los para activar estos mensaje-->
