<section>
  <form action="/celebrity" method="post">
    <input type="text" name="celebrityName" placeholder="Name">
    <input type="text" name="celebrityOccupation" placeholder="Occupation">
    <input type="text" name="celebrityCatchPhrase" placeholder="CatchPhrase">

    <button type="submit">Add new celebrity!</button>
  </form>
</section>