<h2>Create a new movie</h2>

<form action="/movies/create-movie" method="post" class="form">

    <label class="label" for="title">title</label>
    <input class="input" id="tile" type="text" name="title" value="title">

    <label class="label" for="genre">genre</label>
    <input class="input" id="genre" type="text" name="genre" value="genre">

    <label class="label" for="plot">plot<label>
     <textarea class="input" id="plot" type="text" name="plot">plot</textarea>

    <button class="btn">Add</button>
    {{!-- <input class="btn" type="submit" value="ok"> --}}
</form>