<h2>Create a new celebrity</h2>

<form action="/celebrities/create-celebrity" method="post" class="form">

    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="name" value="name">

    <label class="label" for="occupation">occupation</label>
    <input class="input" id="occupation" type="text" name="occupation" value="occupation">

    <label class="label" for="catchPhrase">catch Phrase<label>
    <input class="input" id="catchPhrase" type="text" name="catchPhrase" value="catchPhrase">

    <button class="btn">Add</button>
    {{!-- <input class="btn" type="submit" value="ok"> --}}
</form>