<h2>CELEBRITIES</h2>

{{#each celebrities}}
    <p>
        <a href="/homeCelebrities/{{this._id}}">{{this.name}}</a>
        <a href="/homeCelebrities/edit?celebrities_id={{this._id}}" >EDIT</a>
        <form action="/homeCelebrities/{{this._id}}" method="post">
            <button type="submit" class="delete-button">DELETE</button>
        </form>
    </p>
{{/each}}

<a href="/">Return</a>