<div class="containerr home-container">
  <h2 class="homeTitle">{{title}}</h2>
  {{!-- <img src="https://pbs.twimg.com/media/BhxWutnCEAAtEQ6.jpg" class="img-fluid" alt="Responsive image"> --}}
</div>
