<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav>
  <div class="navbar">
    <a href="/celebrities">View Celebrities</a> | 
    <a href="/movies">View Movies</a>
  </div>
  <div>
    <a href="/signup">Signup</a> | 
    <a href="/login">Login</a> | 
    <a href="/profile">Profile</a>
    <form action="/logout" method="POST"><button>Logout</button></form>
  </div>
</nav>
