<h1 class="text-center">{{title}}</h1>

<a href="/celebrities" class="btn-index btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">Celebrities</a>
<a href="/movies" class="btn-index btn btn-outline-danger btn-lg btn-block" role="button" aria-pressed="true">Movies</a>

