{{!-- <a href="/celebrities/populate"> Populate Celebrities</a>
<a href="/populateMovies"> Populate Movies</a> --}}
<h1> Celebs & Movies DB</h1>
<a href="/celebrities">View All Celebrities</a>
<a href="/movies">View All Movies</a>