<div class="home-page-container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a class="button" href="/celebrities">Celebrities</a>
    <a class="button" href="/movies">Movies</a>
</div>