<div class="jumbotron jumbotron-fluid mt-50">
  <div class="container">
    <h1 class="display-4 text-center">Mongoose Movies</h1>
  </div>
  <form action="POST">
    <div class="buttoms">
      <a type="button" class="btn btn-primary btn-lg" href="/celebrities/">Celebrities List</a>
      <a type="button" class="btn btn-secondary btn-lg" href="/movies/">Movies List</a>
    </div>
  </form>
</div>