<h1>Mongoose & Express Movies</h1>
<br>
<br>
<br>

<a href="/celebrities/index">
  <button type="submit" value="Show Celebrities" class="btn btn-primary">Show Celebrities</button>
</a>

<a href="/movies/index">
  <button type="submit" value="Show Movies" class="btn btn-primary">Show Movies</button>
</a>