<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/celebrities">Celebrities <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/movies">Movies<span class="sr-only">(current)</span></a>
            </li>
            
    </div>
</nav>





