<h1>Hello Bitches</h1>
<a href="/celebrities">Click here</a>
<br>
<a href="/celebrities/new">Make a new Celebrity!</a>
<br>
<br>
<hr>
<br>

<a href="/movies">AND Click here</a>
<br>
<a href="/movies/new">Make a new Movie!</a>