<div class="container-home">
  <div class="container-home-celebrities">
    <a class="button-home" href="/celebrities"> See the list of celebrities </a>
    {{!-- <a class="button-home" href="/celebrities/new"> Add celebrities </a> --}}
  </div>

  <div class="container-home-movies">
    <a class="button-home" href="/movies"> See the list of movies </a>
    {{!-- <a class="button-home" href="/movies/new"> Add movies </a> --}}
  </div>
</div>
