<h1>Celebrities Database</h1>

<p><a href="/celebrities">Go check all the celebrities!</a></p>
<p><a href="/celebrities/new">Go register a new celebrity</a></p>

<p><a href="/movies">Go check all the movies!</a></p>
