<div class="container-index">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="start">
        <a href="/celebrity"> Go Celebrity list</a>
    </div>
    <div class="end">
        <a href="/movie"> Go Movies list</a>
    </div>
</div>