<div class="home-page">
    <div class="celeb-home">
        <a href="/celebrities">View Celebrities</a>
    </div>
    <div class="movie-home">
        <a href="/movies">View Movies</a>
    </div>
</div>