<div class="body">

<div class="all-content">

<h1>Movies and Celebrities!</h1>
<p class="btn"><a href="/celebrities">Meet the celebrities!</a></p>
<p class="btn"><a href="/movies">See all the Movies!</a></p>

</div>

</div>
