<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="home-buttons">
  <a href="/celebrities"><button type="button" class="btn btn-outline-secondary">Celebreties</button></a>
  <a href="/movies"><button type="button" class="btn btn-outline-secondary">Movies</button></a>
</div>