<h1 class="d-flex justify-content-center">{{title}}</h1>
<div class="container d-flex justify-content-center align-self-center">
  <blockquote class="twitter-tweet" data-conversation="none">
    <p lang="en" dir="ltr"><a href="https://twitter.com/Alexx_Shmalex?ref_src=twsrc%5Etfw">@Alexx_Shmalex</a> I am a
      celebrity database lmao</p>&mdash; DanielleMichelle (@Danielle0829) <a
      href="https://twitter.com/Danielle0829/status/455897893237714944?ref_src=twsrc%5Etfw">April 15, 2014</a>
  </blockquote>
</div>