<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">View celebrities</a>

<div>
  <a href="/celebrities/new">Create new celebrity</a>
</div>

<div>
  <a href="/movies">View MOVIES</a>
</div>