{{!-- In the views/index.hbs (homepage) file:
Add a link that goes to the /celebrities route. --}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<a href="celebrities/">Celebrities</a>

<br><br>

<a href="/movies">Movies</a>