<div class="index-container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/views/celebrities/index.hbs"></a>
  <div class="buttons">
    <a href="/celebrities">celebrities</a>
    <a href="/movies">movies</a>
  </div>
</div>