<div class="row">
  <div class="col">
    <h1 class="text-center">
      {{title}}
    </h1>
    <h4 class="text-center py-3">
      Welcome to
      {{title}}
    </h4>
    <div class="col">
        
    </div>
    <a href="celebrities" class="btn btn-info">
      See all celebrities
    </a>
    <a href="movies" class="btn btn-primary">
      See all movies
    </a>
  </div>
</div>