<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= title %>
        <p>Welcome to <%= title %></p>

    <a href="/celebrities">Click me to see list of celebrities</a>
</body>
</html>
