<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>{{title}}</h1>
      <p>Welcome to {{title}}!</p>

      <a href="/celebrities" class="btn btn-dark">Check our Celebs</a>
      <a href="/movies" class="btn btn-dark">Check our Movies</a>

    </div>
  </div>
</div>