<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="homepage">
<a href="/pokemon">Click here for pokemon</a>
<a href="/movies">Click here for movies</a>
<a href="/celebrities">Celebrities ***members only - login or signup***</a>
<a href="/login">Click here to login</a>
<a href="/signup">Click here to signup</a>
{{#if theUser}}
</div>
<div>
    {{theUser.username}}
    </div>
{{/if}}