<h1 class="text-center py-5">Welcome to {{title}}</h1>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <a href="/celebrities" class="btn btn-primary btn-lg"> go to CELEBRITIES page!</a>
            <a href="/movies" class="btn btn-secondary btn-lg"> go to MOVIES page!</a>
        </div>
    </div>
</div>
