<h1>Hello!</h1>
<p>Welcome to 'Anyone can make a star' - An {{title}}</p>

<a href="/celebrities">Lot of celebrities in here, follow me!</a>
<br>
<a href="/movies">A bunch of great movies over here!</a>
