<div class="title-bar">
<h1>Welcome to the Movie + Celebity Database</h1>
<br>
<a href="/celebrities/"><button type="button" class="btn btn-info">See All Celebrities</button></a>
<a href="/movies/"><button type="button" class="btn btn-info">See All Movies</button></a>
</div>
<hr>
