<h1>Welcome to {{title}}</h1>
<img src='/images/classic-movie-stars.jpg'>
<p><a href='/auth/signup'>Sign up</a></p>
<p><a href='/auth/login'>Log In</a></p>
<h2><a href='/celebrities'>Check the list of Celebrities!</a></h2>
<h2><a href='/movies'>Check the list of Movies!</a></h2>
