<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <a href="/celebrities/">Click Me to show all artist</a>
</div>
<div>
  <a href="/celebrities/new">Click Me to add your favorite artist</a>
</div>