<div>
    <div>
        <h1>{{title}}</h1>
    </div>
    <div>
        <p>Welcome to {{title}}</p>
    </div>

</div>
<div>
    <h2>Celebrities</h2>
</div>
<div>
    <a href="/celebrities">Check the celebrities</a>
</div>