

{{!-- welcome page --}}
<div class="container-fluid home-page">
  <h1 class="home-title">Iron Movies</h1>
  <button class="btn-style2 btn-lab btn-all-movies">
    <a href="/movies" class="btn-lab-link" >Check the movies!</a>
  </button>
</div>