<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href="/celebrities"> Your favorite celebs</li>
      <li><a href="/celebrities/new"> Add new celeb</li>
    </ul>
  </body>
</html>
