<h1>Celebs and Movies</h1>
<p>Welcome to Celebs and Movies</p>

<a href="/celebrities/index">
    <button type="submit" class="btn btn-outline-primary">Celebs</button>
</a>

<a href="/movies/index">
    <button type="submit" class="btn btn-outline-primary">Movies</button>
</a>