<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome</h1>

    <a href="/celebrities">Go to celebrities</a>
    <a href="/movies">Go to movies</a>

</body>

</html>
