<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrity">Celebrities</a>
<a href="/movie">Movies</a>
<a href="/user/login">Login</a>
<a href="/user/signup">Sign Up</a>
<a href="/user/secret">SECRET!!!</a>
<a href="/user/logout">Logout</a>
{{#if message}}
{{message}}
{{/if}}