<div class="cover-container text-right"id="main-container">
  <main  class="row justify-content-center" > 
    <a href="/celebrities" class="btn btn-dark py-3 px-5 my-3 rounded-pill">Check the Celebrities </a>
  </main>
  <a href="/celebrities/new"> Add new Celeb</a>
</div>