<h1>{{websiteTitle}}</h1>
<p>Welcome to {{websiteTitle}}</p>
<ul>
  <li>
    <a href="/celebrities">List all Celebrities</a>
  </li>
  <li>
    <a href="/movies">List all movies</a>
  </li>
</ul>
<a class="btn btn-primary" href="/celebrity-add">Add a celebrity</a>
<a class="btn btn-primary" href="/movie-add">Add a movie</a>
