


<div class="container">

    <h1 class=" row justify-content-center mt-5 mb-5">Bienvenido a Movie & Celebrity</h1>

    <div class=" row justify-content-center">
      <img src="/images/sfdk.jpg" class="rounded float-left w-50 mb-3" alt="celebrity">
      <img src="/images/celebrity.jpg" class="rounded float-right w-50 mb-3" alt="celebrity">
    </div>
    <hr>
    <div class=" row justify-content-around">
        <a href="/listado" type="button" class="btn btn-secondary btn-lg btn-lg mr-5">Ver Nuestras Celebritys</a>
        <a href="/listado-movies" type="button" class="btn btn-secondary btn-lg btn-lg ml-5">Ver Nuestras Movies</a>
    </div>
</div>