<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
<br>

<a href="/celebrity">
  <button>
    Lista de famosos
  </button>
</a>

<a href="/celebrity/new">
  <button>
    Añadir un famosos
  </button>
</a>

<br>
<br>

<a href="/movie">
  <button>
    Lista de películas
  </button>
</a>

<a href="/movie/new">
  <button>
    Crear una nueva película
  </button>
</a>