
<div class="container">
    <div class="title">
        <h2>Ironhack Lab</h2>
        <p>Welcome!!</p>
    </div>
        
    <h4 class="indexh4"><a href="/celebrities">Go to Celebrities</a></h4>  
    <h4 class="indexh4"><a href="/celebrities/new">Add a new celebrity</a></h4>    
    <h4 class="indexh4"><a href="/movies">Go to movies</a></h4>
    <h4 class="indexh4"><a href="/movies/new">Add a new movie</a></h4>
</div>
