<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col s3 offset-s6 ">
                <h1>Cinema</h1>
                <a class="waves-effect waves-light btn links" href="/celebrities">Celebrities</a>
                <a class="waves-effect waves-light btn links" href="/movies">Movies</a>
            </div>
        </div>
    </div>
</div>