<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/new">Add a new celebrity</a>

<a href="/celebrities">Show all celebrities</a>
<a href="/movies">See all movies</a>
<a href="/movies/new">Add a movie</a>
