<div class="container">
  <div class="row">
    <div class="col-md-7">

      <h2>Welcome to {{sitetitle}}</h2>

      <div>


      </div>

      <a href="/celebrities/">
        <button type="button" class="btn btn-dark btn-block">Celebrities</button>
      </a>

      <a href="/movies/">
        <button type="button" class="btn btn-dark btn-block">Movies</button>
      </a>

    </div>
  </div>
</div>