<div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Para ver las  celebrities <a href="/celebrities">haz click</a></p>
<p>Para crear una celebrity <a href="/celebrities/new"> sigue este click</a></p>
</dir>
