<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li><a href="/celebrities">See them celebs!!!</a></li>
    <li><a href="/celebrities/new">Add a celeb!!!</a><br></li>
    <li><a href="/movies">See them movies!!!</a></li>
    <li><a href="/movies/new">Add some movies!!!</a></li>
</ul>





