<h1>{{title}} and Movies</h1>
<hr>
<h5 class="mb-3">Welcome to {{title}} and Movies</h5>
<p>Click <a href="/celebrities"> here </a> to check my selected celebs.</p>
<p>Or click <a href="/movies"> here </a> to check my selected movies.</p>