<h1 class="bottomMargin"><strong>Data Base - Celebrities and Movies</strong></h1>

<div class="btn btn-dark btn-lg">
  <a class="indexBtn" href="/celebrities">Celebrities</a>
</div>
<div class="btn btn-dark btn-lg indexBtn">
  <a class="indexBtn" href="/movies">Movies</a>
</div>