<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
    <div class="row">
        <div class="col-auto">
            <a href="/celebrities">
                <button class="btn btn-dark px-3 py-1 my-3">The Celebrities</button>
            </a>
        </div>
        <div class="col-auto">
            <a href="/movies">
                <button class="btn btn-dark px-3 py-1 my-3">The Movies</button>
            </a>
        </div>
    </div>
</div>