<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Celebrities List</a>

{{!-- 
1. See the list of celebrities
2. See the details of a celebrity
3. Add new celebrities
4. Update existing celebrities
5. Delete celebrities
 --}}

{{!-- 
The user should be able to:

6. See the list of movies.
7. See the details of a movie.
8. Add new movies.
9. Update existing movies.
10. Delete movies.\
 --}}