<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>

<h2>Login with your account</h2>
<a href="/auth/login">Login</a>


<p>No account yet?</p>
<a href="/auth/signup">Signup</a>

<br>
<br>
<p><a href="/celebrities">Check out all our users favorite Celebrities an/or add some new ones!</a></p>
<p><a href="/movies">Check out all our users favorite Movies and/or add some new ones!</a></p>
 