<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/celebrities">Go to Celebrities</a></br>
<a href="/celebrities/new">Add a celebrity!</a>
<br></br>
<a href="/movies">Go to Movies</a></br>
<a href="/movies/new">Add a movie!</a>
