<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Click here to see Celebs</a><br>
<a href="/new">Click here to add a Celeb</a><br>
<a href="/movies">Click here to see Movies</a><br>
<a href="/newmovies">Click here to add a Movie</a>