<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Celebrities</a>
<br>
<a href="/celebrities/new">Add Celebrity</a>
<hr>
<a href="/movies">Movies</a>
<br>
<a href="/movies/new">Add Movie</a>

