<div class="title-bar">
    <h1>Welcome to the Movie + Celebity Database!</h1>
    {{#if req.session.User}}
    <a href="/logout">
        <button type="button" class="btn btn-info">Logout</button>
    </a>
    {{else}}
     <a href="/login">
        <button type="button" class="btn btn-info">Login</button>
    </a>
    {{/if}}
</div>
<hr>
<br>
<div class="home-row">
    <div class="home-profile">
        <div class="home-img-container">
            <img style="background-image" src="https://images-na.ssl-images-amazon.com/images/I/61RLRZnbc%2BL._SY679_.jpg" class="home-img"
                alt="">
        </div>
        <a href="/movies/">
            <button type="button" class="btn btn-primary">See Movie Directory</button>
        </a>
    </div>
    <div class="home-profile">
        <div class="home-img-container">
            <img style="background-image" src="https://www.popworkouts.com/wp-content/uploads/2013/03/matthew-mcconaughey-headshot.jpg"
                class="home-img" alt="">
        </div>
        <a href="/celebrities/">
            <button type="button" class="btn btn-primary">See Celebrity Directory</button>
        </a>
    </div>
</div>