<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <a href="/celebrities">See the celebrities</a>
  <a href="/celebrities/new">Create a new celebrity</a>
  <a href="/movies">See all movies</a>
  <a href="/movies/new">Create a new movie</a>
</div>