<a href="/celebrities" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">View Celebrities</a>
<a href="/new" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Adding Celebrities</a>