<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Index</h2>
    <a href="/celebrities">Celebrities</a>
  </body>
</html>
