{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
 --}}

<h1>YOU ARE INSIDE VIEWS INDEX</h1>

<a href="/celebrities">Click here for Celebrity Infos</a><br>
<br>
<a href="/movies">Click here for the list of Movies</a>
