<h1>{{title}}</h1>
<h1>Celebrites/Movies Database</h1>
<ul>
    <li><a href="/celebrities">View All Celebrites</a></li>
    <li><a href="/movies">View All Movies</a></li>
    <li><a href="/profile">Go to your profile</a></li>
</ul>
