<div class="row">
	<div class="col-12 d-flex flex-column justify-content-around align-items-center">
		<h1 class="my-5">{{title}}</h1>
		<p class="my-5">Welcome to {{title}}</p class="my-5">
		<a class="my-5" href="celebrities">Go to celebrities</a>
	</div>
</div>
