<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button role="link" onclick="window.location=`/celebrities`">
        Check the celebrities!
    </button>
<button role="link" onclick="window.location=`/movies`">
        Check the movies!
    </button>
