<div class="main-container">
  <h1 class="main-title"><span>Celebrities</span><span>Movies</span></h1>
  <nav class="main-menu">
    <div>
      <a href="/celebrities">Check it out</a>
      <img src="/images/celebrity.png" alt="Celebrity image">
    </div>
    <div>
      <a href="/movies">Check it out</a>
      <img src="/images/movie.png" alt="Movie image">
    </div>
  </nav>
</div>