<div class="main-container">
  <h1 class="main-title"><span>Celebrities</span><span>Movies</span></h1>
  <nav class="main-menu">
    <a href="/celebrities">Check it out</a>
    <a href="/movies">Check it out</a>
  </nav>
</div>