<h1>Quotes by Famous People</h1>
<p>Welcome to the App which can help you to store quotes of famous people!</p>
<a href="/celebrities">Visit the page with all celebrities</a> <br>
<a href="/movies">Visit the page with all movies</a>