<h2>ir a celebrities</h2>
 <form action="/celebrities" >
    <div class="">
      <button class="" type="">pulsa</button>
    </div>
  </form>

   <form action="/new" >
    <div class="">
      <button class="" type="">pulsa new</button>
    </div>
  </form>