<div class="container mt-5">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div>
        <a href="/celebrities" class="btn btn-primary">View celebrities</a>
        <a href="/celebrities/new" class="btn btn-info">Add a celebrity to the DB</a>
    </div>
    <div class="mt-4">
        <a href="/movies" class="btn btn-secondary">View movies</a>
        <a href="/movies/new" class="btn btn-info">Add a movie to the DB</a>
    </div>
</div>