<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-success" href="/celebrities">See the celebrities</a>
<a class="btn btn-success" href="/celebrities/new">Add a celebrity</a>
<br>
<br>
<a class="btn btn-success" href="/movies">See the movies</a>
<a class="btn btn-success" href="/movies/new">Add a movie</a>