<h1>THE AWSOME PAGE OF THE WORST CELEBRITIES</h1>

<a class="indexA" href='/celebrities/ceb-index'>Look at the celebrities</a>
<a class="indexA" href='/celebrities/create'>Add new celebrities to the list</a>
