<!DOCTYPE html>
<html>
  <head>
    <title>Celebrities-Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mainbody">
      <h1>Celebrities & Movies!</h1>
      <p>Welcome to you personal celebrities and movies website!</p>
      <div class="links">
        <a href="celebrities"><button type="button" name="button">Go to Celebrities!</button></a>
        <a href="movies"><button type="button" name="button">Go to Movies!</button></a>
      </div>
    </div>
  </body>
</html>
