<h1>{{title}}</h1>
<p>Bem-vindo to {{title}}</p>

<a href="celebrities/new">Create a new Celeb</a>
<br>
<a href="celebrities">List of all Celebs</a>
<br>
<a href="movies/new">Create a new Movie</a>
<br>
<a href="movies">List of all Movies</a>




