<main>
    <h1>Página de celebridades y películas</h1>
    <br>
    <div>
        <h2>Accede a las celebridades o crea una nueva</h2>
        <br>
        <a href="/celebrities"><button class="btn btn-primary"> Celebriades</button></a>
        <a href="/celebrities/new"><button class="btn btn-success">Añade nueva celebridad</button></a>
    </div>
    <br>
    <div>
        <h2>Accede a las películas o crea una nueva</h2>
        <br>
        <a href="/movies"><button class="btn btn-primary">Películas</button></a>
        <a href="/movies/new"><button class="btn btn-success">Añade nueva película</button></a>
    </div>
</main>
