<div class="main-fama">
  <div class="marquee">
    <div>
      <span>La Fama La Fama La Fama La Fama La Fama La Fama</span>
    </div>
  </div>
  <div class="main-fama-buttons">
    <a href="/celebrities"><button><span class="normal-text">ADMIRA LAS CELEBRIDADES</span><span
          class="emoji">😜</span></button></a>
    <a href="/movies"><button><span class="normal-text">OBSERVA LOS PELICULONES</span><span
          class="emoji">🤓</span></button></a>
  </div>