<body class="welcome">
<h1> Welcome to our Information Center</h1>

<a href="/celebrities/celebrities"><button class="welcomeBtn button :hover">See the list of Celebrities</button></a>

<a href="/movies/movies"><button class="welcomeBtn button2 :hover">See the list of Movies</button></a>

</body>