<div class="container home">
    <h1>{{title}}</h1>
    <section class="options">
        <a class="btn btn-primary btn-lg" href="/celebrities">View Celebrities</a>
        <a class="btn btn-secondary btn-lg" href="/movies">View Movies</a>
    </section>
</div>


