<h1>Ironhacker...</h1>
<h2>Looking for something??</h2>
<p><a href="/celebrities">Go to celebrities list</a></p>
<p><a href="/new">Add new celebrities</a></p>
<p><a href="/movies">Go to movies list</a></p>
<p><a href="/newMovies">Add new movies</a></p>