{{!-- <h1>{{title}}</h1>
<p>Welcome to Celeeeebrities{{title}}</p>

{{#each celebrities}}

{{name}} --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <h1>Welcome to Celeeebrities</h1>
  <img src="https://media.giphy.com/media/fp3h1wpfp7kFa/giphy.gif">
  <a href="/celebrities">celebrities</a>
</body>

</html>