<div class="index-container">
  <h1>Movies & Celebrities</h1>
  <p>♥ by ironhackers</p>
  {{!-- <p>Welcome to {{title}}</p> --}}
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <a href="/movies">
        <div class="card card-index" style="width: 100%;">
          <img
            src="https://www.lavanguardia.com/img/91d8dd6c-55c2-11e6-9037-f624d265cb4e/original/img_isota_20160729-195153_imagenes_lv_otras_fuentes_uy8b5iju0dgfhpwsjsfm-438.gif"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title card-title-index">MOVIES</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 col-sm-6">
      <a href="/celebrities">
        <div class="card card-index" style="width: 100%;">
          <img src="https://media3.giphy.com/media/dqOlV9kIiQuxa/source.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title card-title-index">CELEBRITIES</h5>
          </div>
        </div>
      </a>
    </div>
  </div>


</div>