<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Go to celebrities</a>
<br>
<a href="/celebrities/new">Create a new celebrity</a>
<br>

<a href="/movies">Go to movies</a>
<br>
<a href="/movies/new">Create a new movie</a>

