<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4">{{title}}</h1>
    <p class="lead">The biggest movie database that doesn't exist.</p>

    <hr>

    <div class="d-flex">

      <a href="/celebrities" class="btn btn-dark">Check our Celebs</a>
      <a href="/movies" class="btn btn-dark">Check our Movies</a>

    </div>

  </div>
</div>