{{!-- <h1>{{title}}</h1>
<p>Welcome to... {{title}}</p> --}}


<div>
  <h2>
    Celebrities
  </h2>
    <form action="/celebrities" method="GET">
      <button type="submit">Celebrities</button>
    </form>
</div>