<h1>MONGOOSE ATTACK: The official website for the many mongeese movies</h1>
<p>Click <a href="/celebrities"> here </a> to see our celebrities</p>

<p>Click <a href="/movies"> here </a> to see the award winning films in the Mongoose Attack Trilogy</p>


