<h1>{{siteTitle}}</h1>
<p>Welcome to {{siteTitle}}</p>


<a href="/celebrities" class="btn btn-warning">Celebrities</a>

<a href="/celebrities/new" class="btn btn-warning">Create your own celebrity</a>