<h1>
  EL SHOWROOM DE HOLLYWOOD
</h1>
<div class="botones">
<button type="button" class="btn"><a href="/celebrities">Check the Celebrities!</a></button>
<button type="button" class="btn"><a href="/movies">Check the Movies!</a></button>
</div>
