<h1 class="text-center">{{title}}</h1>
<p class="text-center ">Bienvenido a {{title}}</p>
<div class="container text-center margin-top">
  <a href="/celebrities" class="btn btn-info">Ver Celebrities</a>
  <a href=" /movies" class="btn btn-info">Ver Movies</a>
</div>