<div class="whole"> 
  <div class="main-text">
    <h1>Movies and Celebrities</h1>
    <div class="links">
      <a href="/celebrities">Check out the Celebrities</a> &#8195;|&#8195;
      <a href="/movies">Check out the Movies</a>
    </div>
  </div>
</div>