<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link active" href="/index">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/celebrities">All Celebritites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/celebrities/add">Add Celebrity</a>
    </li>
</ul>

<h1 class="display-4 b4- ">Celebrities</h1>