<div class="row">
	<div class="col-12 d-flex flex-column justify-content-around align-items-center">
		<h1 class="my-5">{{title}}</h1>
		<p class="my-5">Welcome to {{title}}</p class="my-5">
	</div>
</div>
<div class="row justify-content-around">
	<div class="col-4">
<a class="my-5 btn btn-dark btn-lg btn-block" href="celebrities">Go to celebrities</a>
	</div>
	<div class="col-4">
<a class="my-5 btn btn-dark btn-lg btn-block" href="movies">Go to movies</a>
	</div>
</div>
