<h1>IRONHACK CELEBRITIES AND MOVIES</h1>
<a href="/celebrities">Check Some Celebrities</a>
<hr>
<a href="/celebrities/new">Create A new Celebrity</a>
<hr>
<a href="/movies">Check Some Movies</a>
<hr>
<a href="/movies/new">Create A new Movie</a>