<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s5">
        <a href="/celebrities/index" class="btn waves-effect waves-light ">Celebrities
          <i class="material-icons right">star</i>
        </a>
      </div>
      <div class="col s5 push-s3">
        <a href="/movies/index" class="btn waves-effect waves-light ">Movies
          <i class="material-icons right">local_movies</i>
        </a>
      </div>
    </div>
      <div class="row">

        <a href="/signup"> Signup</a>
        <a href="/login"> Login</a>
        <a href="/profile"> Profile</a>

        <form action="/logout" method="POST">
          <button>Logout</button>
        </form>
      </div>
  </div>
</div>