<section id="start-screen">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="btn-container">
        <a href="/celebrities"><button>Check all celebrities</button></a>
        <a href="/movies"><button>Check all movies</button></a>
    </div>
</section>