<div class="index-page">
<h1>{{title}}</h1>

<p>
  Welcome to {{title}}! I'm so glad that you're exploring my site!
  I'd love for you to create a username and password so that you're equipped to
  look up celebrities and movies. Please follow the link below to sign up and
  if you're already a user, please login to view your information.
</p>

<a href="/celeb-index">Go to Celebrities</a>

<a href="/movie-index">Go to Movies</a>
</div>