<h1>{{name}}</h1>
<p>Welcome to {{name}}</p>

<p>Puedes ver todas nuestras celebridades <a href="/celebrities/list">en este enlace</a></p>
<p>Puedes añadir una celebridad <a href="/celebrities/new">en este enlace</a></p>
<p>Puedes editar una celebridad <a href="/celebrities/edit">en este enlace</a></p>


<p>Puedes ver todas nuestras peliculas <a href="/movies/list">en este enlace</a></p>
<p>Puedes añadir una pelicula <a href="/movies/new">en este enlace</a></p>
<p>Puedes editar una pelicula <a href="/movies/edit">en este enlace</a></p>