
<h2>Celebrities</h2>
<a href="/celebrities">Show all Celebrities</a>
<br>
<a href="/new-celebrity">Add new Celebrity</a>

<hr>
<h2>Movies</h2>
<a href="/movies">Show all Movies</a>
<br>
<a href="/new-movie">Add new Movie</a>
