<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities"> <button class="btn btn-primary">Enter Celebrities</button> </a>
<a href="/movies"> <button class="btn btn-primary">Enter Movies</button> </a>