<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Go to <a href="/celebrities">Celebrities</a></p>
<p>Go to <a href="/celebrities/new">New Celebrity</a></p>
<p>Go to <a href="/movies">Movies</a></p>
<p>Go to <a href="/movies/new">New Movie</a></p>