<div class="general-index-container">
  <h1>Celebrities & Movies</h1>
  <p id="welcome" class="welcome">Welcome to Celebrities & Movies. The completely new and
  customizable database. Fun!</p>
  <a href="/celebrities">Celebrities</a>
  <a href="/movies">Movies</a>
</div>