<h1>lab-mongoose-movies</h1>
<p>Este es el index.hbs que no he tocado.<br>
Le pongo un botón simplemente para ir a la vista que me <br>
interesa LOCALHOST:3000/celebrities/new. Así podemos meter nuestras primeras celebrities y hacer pruebas</p>
<a href="/celebrities/new">Ir a Celebrities</a>

