<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title is-1">{{title}}</h1>
        <p class="subtitle is-3">Welcome to {{title}}</p>
        <a class="button is-danger" href="/celebrities">Check the celebrities!</a> 
        <a class="button is-info" href="/movies">Check the movies!</a> 
    </div>
  </div>
</section>



