<div class="home-page row">

    <div class="col-sm-7"></div>
    <div class="col-sm-4">
        <h1>Mongoose Movies</h1>
        <p>Welcome to the Ironhack Videoclub</p>


        <div id="home" class="col-sm-9 col-md-6 col-lg-8">

            <a class="btn btn-success" href="/celebrities">Celebrities</a>
            <a class="btn btn-success" href="/movies">Movies</a>
        </div>
    </div>
</div>