<form action="/celebrities">
    <input class="boton" type="submit" value="list of celebrities" />
</form>

{{!-- <form action="/movies">
    <input class="boton" type="submit" value="list of movies" />
</form> --}}