<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


    <div class="container_row">
        <div id="celebs"> <a href="/celebrities"> celebrities </a> </div>
        <div id="movies"> <a href="/movies"> movies </a> </div>
    </div>
