<div class="container">

<h1>{{title}}</h1>
<p>Welcome to Mongoose Movies{{title}}</p>
<a class="btn btn-dark btn-sm non-radius" href="/celebrities">Look Celebrities</a>
<a class="btn btn-dark btn-sm non-radius" href="/movies">Look Movies</a>

</div>

