<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <a href="/celebrities">List of Celebrities</a>
<a href="/celebrities/add">Create Celebrity</a>
<a href="/movies">List of Movies</a>
<a href="/movies/add">Create movie</a> --}}
