<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/celebrities">See all celebrities</a>
<br>
<a href="/celebrities/new">Add a celebrity</a>
<br>
<a href="/movies">See our movies</a>
<br>
<a href="/movies/new">Add a movie</a>