<section class="container hero">

<h1>{{siteTitle}}</h1>
<p>Welcome to {{siteTitle}}</p>


<a href="/celebrities" class="btn btn-lg btn-danger">Celebrities</a>

<a href="/celebrities/new" class="btn btn-lg btn-danger">Create your own celebrity</a>

<a href="/movies" class="btn btn-lg btn-danger">Movies</a>

<a href="/movies/new" class="btn btn-lg btn-danger">Create your own movie</a>

</section>