<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Click here to view our wonderful selection of celebrities</a></br>
<a href="/movies">Click here to view our poorly designed movies</a>