<div class="text-center mx-auto">
    <img src="/images/awards.svg" class="hero-img" alt="IronMovies hero">
    <div class="mt-5">
        <a href="/celebrities" class="orange-background"><i class="las la-trophy"></i> See Celebrities</a>
        <a href="/movies" class="orange-background"><i class="las la-ticket-alt"></i> See Movies</a> 
    </div>
</div>