<div class="index-container flex-column">

  <h1 id="logo">{{title}}</h1>

  <div class="index-sections flex">

    <div class="celebrities-section flex-column">
      <a href="/celebrities"><img src="/images/celebrity.svg" alt="Celebrity img"></a>
      <button><a href="/celebrities">Celebrities</a></button>
    </div>

    <div class="movies-section flex-column">
      <a href="/movies"><img src="/images/movie.svg" alt="Moive img"></a>
      <button><a href="/movies">Movies</a></button>
    </div>

  </div>

</div>
