<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Ironhack Movies</title>
</head>

<body class="d-flex align-items-center justify-content-center">
  <main>
    <h1 class="d-flex justify-content-center">Ironhack Celebrities</h1>

    <div class="container d-flex justify-content-center" id="home">
      <div class="card m-5 p-5">
        <h4 class="mb-4">Check out:</h4>
        <a href="/celebrity/list" class="btn btn-outline-primary">Celebrities</a>
      </div>
      <div class="card m-5 p-5">
        <h4 class="mb-4">Check out:</h4>
        <a href="/movie/list" class="btn btn-outline-primary">Movies</a>
      </div>
    </div>
  </main>
</body>

</html>