<!DOCTYPE html>
<html>

<head>
  <title>Index lab-mongoose-movie</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>Index lab-mongoose-movie</h2>
  <ul>
      <li>
          <a href="/celebrities">Celebrities</a>
        </li>
        <li>
          <a href="/celebrities/new">New celebrity</a>
        </li>
    <li>
      <a href="/movies">Movies</a>
    </li>
    <li>
      <a href="/movies/new">New movie</a>
    </li>
  </ul>

</body>

</html>