<h1>{{title}}</h1>
<p><a href="/celebrities/add"> Create your own personal celebrities</a></p>
<p><a href="/celebrities/list">or see the existing list.</a> </p>

<hr>

<p><a href="/movies/add">Create your own personal movie</a></p>
<p><a href="/movies/list">or see the existing list</a></p>
