<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/new">Create a New Celebrity</a>
<a href="/celebrities">Celebrities List</a>
<a href="/movies/new"> Create New Movies</a>
<a href="/movies">All Movies</a>