<div class="background text-center">
    <h1 class="text-light">Welcome to {{title}}</h1>
    <div class="pt-5">
      <a href="/celebrities"><button type="button" class="btn btn-light">Celebrities</button></a>
      <a href="/movies"><button type="button" class="btn btn-light">Movies</button></a>   
    </div>
</div>
