<div class="container">
    <h1>{{title}}</h1>
    <div class="row justify-content-around">
        <div class="col">
            <a class="btn-secondary btn-lg active" href="/celebrities/list">Famosos</a>
            <a class="btn-secondary btn-lg active"href="/moviess/list">Peliculas</a>
        </div>
    </div>
</div>



    

