<h1>Mongoose Movies</h1>
<p>Welcome to the Ironhack Lab</p>
<hr>

<div class="container">

<div class="row">

    <div class="col-12">

        <a href="/celebrities">Go to the Celebrities List!</a>

    </div>

</div>

<div class="row">

    <div class="col-12">

        <a href="/movies">Go to the Movies List!</a>

    </div>

</div>

</div>
