<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Celebrities</a>
<a href="/movies">Movies</a>
<a href="/auth/signup">Sign up</a>
<a href="/auth/login">Log in</a>
<a href="/auth/google">Log in with Google</a>
