<a href="/celebrities">View celebrities</a>
<div>
  <a href="/celebrities/new">Create new celebrity</a>
</div>
<div>
  <a href="/movies">Movies</a>
</div>
<div>
  <a href="/movies/new">Create new Movie</a>
</div>
