<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p></p>
<p><a class="btn btn-success btn-lg" href='/celebrities' role="button">See the celebrities!</a></p>
<p></p>
<p><a class="btn btn-success btn-lg" href='/movies' role="button">See the movies!</a></p>
