<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Celebrities</a>
<a href="/celebrities/new">Add a celebrity</a>
<a href="/movies">Movies</a>
<a href="/movies/new">Add a movie</a>
