<div>
  <h3>Celebrities</h3>
  <a href="/celebrities">View all</a>
  <a href="/celebrities/createCeleb">Add</a>
</div>
<div><h3>Movies</h3>
  <a href="/movies">View all</a>
  <a href="/movies/createMovie">Add</a>
</div>
