<div class="container">
    <h1>CelebrityLand</h1>
    <hr>

    <a href="/celebrities" class="btn btn-dark btn-sm">Alfombra Roja</a>
    <a href="celebrities/new" class="btn btn-dark btn-sm">Crea nuevo Artista</a>
    <a href="/movies" class="btn btn-dark btn-sm">Cartelera</a>
    <a href="movies/new-movie" class="btn btn-dark btn-sm">Crea nueva Película</a>
</div>