<h4>
<a href="/signup">Sign-Up</a>
  </h4>

<h2>The Celebs </h2>
{{#each theCelebs}}

<a href="/celebrities/{{this._id}}">
<h3>
 {{this._id}} 
{{this.name}}
</h3>
</a>

{{/each}}


<a href="/new">
<button type="submit">Add Celebrity</button>
</a>
