<h1>Welcome to my celebrity crush</h1>
<p class="center">Here you will find all the celebrities that I will leave my wife in a second for any of them</p>
<a class="button" href="/celebrities">Find out who they are</a>
<h2>Movies that are the shit</h2>
<p class="center">If you want to know the best movies of all time</p>
<a class="button" href="/movies">Find out</a>