<div class="center">
<h1>{{Celebrities}} & {{Movies}} DB</h1>
<h2 style="margin: 25px 0px;">Add your favorites {{celebrities}} or {{movies}}</h2>
<a  class="btn btn-secondary button" href="../celebrities" role="button" style="margin: 40px;">Celebrities</a>
<a  class="btn btn-secondary button" href="../movies" role="button">Movies</a>
</div>
