<section>
    <div>

        <h1>{{titleHome}}</h1>
        <p>Welcome to {{titleHome}}</p>
        <a class="btn btn-dark" href="celebrities/list">Celebrities</a>
        <a class="btn btn-dark" href="movies/list">Movies</a>

    </div>
</section>
