<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Click to See the Celebs</a>
<a href="/celebrities/new">Click to Add Celebs</a>
<hr>
<a href="/movies">Click to See the Movies</a>
<a href="/movies/new">Click to Add Movies</a>