<section id="homeSection">
<h1 class="mainTitle">Celebrities & Movies</h1>
<div class="navHome">
  <a class="mainButton" href="/celebrities">Celebrities</a>
  <a class="mainButton" href="/movies">Movies</a>
</div>
</section>
