<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-dark" href="/celebrities">View Celebrities</a>
<a class="btn btn-dark" href="/celebrities/new">Create Celebrity</a>
<a class="btn btn-dark" href="/movies">View Movies</a>
<a class="btn btn-dark" href="/movies/new">Create Movie</a> 