<header class="header">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</header>

{{!-- Add a link that goes to the /celebrities route.
 --}}
<div class="nav-container">
    <div class="container">
        <a href="/celebrities">Celebrities</a>
    </div>
    <div class="container">
        <a href="/movies">Movies</a>
    </div>
</div>