<div class="row indexbackground">
  <div class="container d-flex align-items-center align-content-center justify-content-center">
    <div class="row">
      <div class="title-text col-12 text-white">
        <a class="btn btn-danger p-3 m-3" href="/celebrities">Celebrities</a>
        <a class="btn btn-warning p-3 m-3" href="/movies">Movies</a></div>
    </div>
  </div>
</div>