<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Celebrities</h2>

<p><a href="/celebrities">Go to the list of celebrities</a></p>

<p><a href="/celebrities/newCelebrity">Add a new celebrity</a></p>

<h2>Movies</h2>

<p><a href="/movies">Go to the list of movies</a></p>

<p><a href="/movies/newMovie">Add a new movie</a></p>

