<div class="container mt-5">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/celebrities" class="btn btn-primary">View celebrities</a>
    <a href="/celebrities/new" class="btn btn-info">Add a celebrity to the DB</a>
</div>



