<div class="index">
    <h1>IronCelebrties</h1>
    <form action="/celebrities" method="GET">
        <button>Check the celebrities</button>
    </form>
    <form action="/movies" method="GET">
        <button>Check the movies</button>
    </form>
</div>
