
<p>Home Page</p>

<button class="celebBtn"><a href="/celebrities">Click here to View all Celebrities!</a></button>
<button class="celebBtn"><a href="/celebrities/new">Click here to Create a New Celeb!</a></button>

<button class="celebBtn"><a href="/movies">Click here to View all Movies!</a></button>