<div>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities{{_id}}">Celebrities</a>
<br>
<a href="/new"> Create a new celebrity</a>
<br>
<a href="/movies{{_id}}">Movies</a>
<br>
<a href="/newMovie"> Create a new celebrity</a>
</div>