<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
<a href='/celebrities/new'>Create a New Celebrity</a>
<br>
<br>
<a href="/celebrities">See the list of Celebrities</a>
<br>
<br>
<a href="/movies/new">Create a New Movie</a>
<br>
<br>
<a href="/movies">See the list of Movies</a>
<br>