<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Go To Celebrities Page</a><br>
<a href="/celebrities/new">Create a New Celebrity</a>
<br><br>
<a href="/movies">Go To Movies Page</a><br>
<a href="/movies/new">Create a New Movie</a>