<div id="container">
  <a href="/signup">Sign up</a> <span> |&nbsp;|</span>
  <a href="/login">Login</a> <span> |&nbsp;&nbsp;|</span>
  <a href="/logout">LogOUT</a> <span> |&nbsp;&nbsp;|</span>
  <a href="secretviews/secret">Protected page (requires authentication!)</a>
</div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">to celebrities list</a>
<hr>
<a href="/movies">to Movies list</a>
