<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

            <a class="btn btn-success" href="/celebrities" role="button">Celebrities</a>
            <a class="btn btn-warning" href="/movies" >Movies</a>