<div class="cover-container text-right"id="main-container">
  <main  class="row justify-content-center" > 
    <a href="/celebrities" class="btn btn-light py-3 px-5 my-3 rounded-pill">Check the Celebrities </a>
    <a href="/movies" class="btn btn-light py-3 px-5 my-3 rounded-pill">Check the Movies </a>
 
  </main>
</div>