  <div class="part-one-back">
   <div class="movies-container">
     <h1 class="initial-title movie-title">MOVIES</h1>
     <p class="first-p roboto">Let's create some movies!</p>
     <a class="btn btn-primary btn-outline btn-lg roboto movies-link btn-movies" href="/movies">LETS GO!</a>
   </div>
  </div>
  <div class="part-two-back">
    <div class="movies-container">
     <h1 class="initial-title celebrity-title">CELEBRITIES</h1>
     <p class="first-p roboto">Let's create some celebrities!</p>
     <a class="btn btn-primary btn-outline btn-lg roboto movies-link btn-celebrities" href="/celebrities">LETS GO!</a>
   </div>
  </div>