<a href="/celebrities" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">show celebrities</a>
<a href="/new" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">create new celebrity</a>