<div class="hero-section">
<h1>{{title}}</h1>
<div class="lists-wrapper">
  <a href="/celebrities">BROWSE THE LIST OF CELEBRITIES</a>
  <a href="/movies">BROWSE THE LIST OF MOVIES</a>
</div>
<p>*no, not really 🌚</p>
</div>