<h1>My Celebrities</h1>
<p>Welcome!</p>


<a href="/celebrities" >Click here to see all your celebrities!</a>



<a href="/movies" >Click here to see all your movies!</a>



 <a href="/celebrities/new">Create a new celebrity!</a>

 

  <a href="/movies/new">Create a new movie!</a>


