<a href="/celebrities">Go to celebrities</a>

<span> | </span>

<a href="/movies">Go to movies</a>

<span> | </span>

<a href='/signup'>Sign Up</a>

<span> | </span>

<a href="/login">Login</a>

<span> | </span>

<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
  
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


