
<section class="mainCointainer">
    <h1>{{title}}</h1>

    <section class="buttonSection">
        <button class="introButtons"><a href="/celebrities">Celebrities</a></button>
        <button class="introButtons"><a href="/movies">Movies</a></button>
    </section>

</section>