<div class="background text-center">
    <h1 class="text-light display-3">Welcome to {{title}}</h1>
    <div class="pt-5">
      <a href="/celebrities"><button class="btn btn-light btn-lg mr-4">Celebrities</button></a>
      <a href="/movies"><button class="btn btn-light btn-lg">Movies</button></a>   
    </div>
</div>

