
<div class="inicio">

<h1>Welcome to</h1>
<h2>Ironllywood</h2>
<div>
    <h2><a href="/celebrities">View the list of celebrities</a></h2>
</div>
<div>
    <h2><a href="/movies">View the list of movies</a></h2>
</div>

</div>