<h1>Celebrities' Lives</h1>
<p>Welcome to a celebrity creator</p>
<p>Make your celebrities play a role in one of your own movies</p>
<a href="/celebrities">Check the celebrities</a>
<a href="/movies">Check the movies available to choose from</a>
