<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities" class="btn btn-dark">Celebrities List</a>
<a href="/celebrities/create" class="btn btn-dark">Add Celebrity</a>
<a href="/movies" class="btn btn-dark">Movies List</a>
<a href="/movies/create" class="btn btn-dark">Add Movie</a>