<section class="home-page page">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>

        <div>
                <a href="/celebrities" class="btn">Show all celebrities</a>
                <a href="/movies" class="btn">Show all movies</a>
        </div>

</section>