<div class="index">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5 text-center container-index align-middle">
       <h1 class="mb-4 text-dark">HELLO IRONHACKER!</h1>
        <a class="btn btn-primary" href="/celebrities">View all celebrities</a>
        <a class="btn btn-primary" href="/movies">View all movies</a>
    </div>

  </div>
 
</div>