<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- la ruta de href es la misma que apuntamos desde app.js --}}
<a href="/celebrities">View all celebrities</a> 
<a href="/movies">View all movies</a> 

