<h1>{{title}}</h1>
<nav>
    <a href="/celebrities">Celebrities</a>
     <a href="/celebrities/new">Create a celebrity</a>
       <a href="/movies">Movies</a>
     <a href="/movies/new">Create a movie</a>

</nav>
<p>Welcome to {{title}}</p>
