<h1>Let`s Shine</h1>
<q>Movies and Stars Database</q>
<div>
  <button class="btn-main"><a href="/celebrities">Celebs</a></button>
  <button class="btn-main"><a href="/movies">Movies</a></button>
</div>