<section class='home-page'>

    <div class='home-div'>
        <h1>Mongoose Movies</h1>
        <div class="buttons">
        <a href="/all-celebs">All Celebs</a>
         <a href="/all-movies">All Movies</a>
    </div>
    </div>


</section>