<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/new">Add Celebrity</a>
<a href="/celebrities">All Celebrities</a>
<a href="/movies/new">Add Movie</a>
<a href="/movies">All Movies</a>
