<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
This is the homepage. <br> <br>
<a href="/celebrities/new">Add a new Celebrity</a><br>
<a href="/celebrities/">All Celebrities</a><br>
<a href="/movies">All Movies</a><br>
<a href="/movies/new/">Add a new Movie</a>