<div class="celeb-padding">
    <div class="home-page-content">
        <h1>Welcome to Movies & Celebrities</h1>
        <a href="/home-page"><button class="waves-effect waves-light btn-large">Enter</button></a>
    </div>
</div>