<h1>Celebs in the Web</h1>
<p>Welcome to Celebs in the Web, your go to for all the info on your favorite celebrities!</p>
<p><a href="/celebrities">celebrities</a></p>
<p><a href="/movies">movies</a></p>
