<section id="home">
  <div class="container">
    <div class="row">
      <div class="column one-half text-center">
        <h2>Celebrities</h2>
        <a class="button" href="/celebrities">View celebrities</a>
      </div>
      <div class="column one-half text-center">
        <h2>Movies</h2>
        <a class="button" href="/movies">View movies</a>
      </div>
    </div>
  </div>
</section>