<div class="container">

    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

            <a class="btn btn-dark" href="/celebrities/index">View Celebrities</a>
            <a class="btn btn-dark" href="/celebrities/new">New Celebrity</a>
            <a class="btn btn-ligth btn-outline-dark" href="/movies/index">View Movie</a>
            <a class="btn btn-ligth btn-outline-dark" href="/movies/new">New movie</a>

</div>