<div class="ugly-container"><h1>{{title}}</h1>
<p>Bienvenue sur le répertoire des célébrités</p>
<nav>
    <ul>
      <li><a href="/celebrities/all">Nos célébrités les plus épatantes</a></li>
      <li><a href="/celebrities/new">Ajouter une épatante célébrité</a></li>
      <li><a href="/movies/all">Nos célébrités les plus épatantes</a></li>
      <li><a href="/movies/new">Ajouter une épatante célébrité</a></li>
    </ul>
  </nav>
  
</div>