<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<h2>CELEBS!</h2>
<br>
<a href="/celebrities">Click here to see a celebrities list</a>
<br><br>
<a href="/create-celebrity">Click here to add a new celebrity</a>
<br><br><br>
<h2>MOVIES!</h2>
<br>
<a href="/movies">Click here to see a movies list</a>
<br>
<a href="/create-movie">Click here to add a new movie</a>