<h1>IRONCELEBRITIES</h1>
<hr>
<ul>
    <li><a href="/celebrities">Celebrities</a></li><br>
    <li><a href="/celebrities/new">Add new Celebrity</a></li><br>
</ul>
<hr>
<ul>
    <li><a href="/movies">Movies</a></li><br>
    <li><a href="/movies/new">Add new Movie</a></li><br>
</ul>
