<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div><div><a href="/celebrities">FOLLOW THE RABBIT</a>
<a href="/celebrities/new">Create the rabbit</a></div>
<div><a href="/movies">FOLLOW THE MOVIE</a>
<a href="/movies/new">Create the movie</a></div></div>