<main class="container">
    <h1>Welcome to Celebs & Movies Page!</h1>
        <div class="row index-buttons">
            <div class="col-12">
                <a class="btn btn-success" href="/celebrities/index">See celebrities!</a>
                <a class="btn btn-success" href="/celebrities/create">Add a new Celebrity!</a>
            </div>
        </div>    
        <div class="row index-buttons">    
            <div class="col-12">
                <a class="btn btn-info" href="/movies/index">See movies!</a>
                <a class="btn btn-info" href="/movies/create">Add a new movie!</a>
            </div>
        </div>
</main>