<div class="container pad-50">
    <div class="col aling-center white">
        <h2 class="pad-50">Autor: <br><strong>{{autor}}</strong></h2>
        <h1>Welcome to <br><strong>{{title}}</strong></h1>
    </div>
    <div class="row pad-50">
        <div class="col aling-center">
            <a class="btn btn-light btn-lg" href="/celebrities" role="button">Celebrities</a>
        </div>
        <div class="col aling-center ">
            <a class="btn btn-light btn-lg" href="/movies" role="button">Movies</a>
        </div>
    </div>
</div>
</div>