

<div>

    <h1 > {{title}}</h1>

        <h2 >Welcome to {{title}}</h2>


        <div class="col-6">
            <h3>Go to artist<a href="/celebrities">aquí</a></h3>
        </div>

        <div class="col-6">
            <h3>Movie list <a href="/movies">aquí</a></h3>    
        </div>


</div>