<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/new">Add new celebrity</a>
<a href="/celebrities">All celebrities</a>
<a href="/movies/new">Add new move</a>
<a href="/movies">All movies</a>