<div class="home-page row h-100 bg">

    <div class="col-sm-8"></div>
    <div class="col-sm-3 my-auto text-center" id="mongoose-movies">
        <h3>Mongoose Movies</h3>
        <p>Welcome to the Ironhack Videoclub</p>


        <div id="home" class="col-12">

            <a class="btn btn-success" href="/celebrities">Celebrities</a>
            <a class="btn btn-success" href="/movies">Movies</a>
        </div>
    </div>
</div>