<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>
<button><a href="/celebrities">¡Mira a las estrellas de Ironhack!</a></button>
<button><a href="/movies">¡Mira a las peliculas de Ironhack!</a></button>