<div class="header">
  <div class="box">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="start-btn">
      <button class="btn btn-primary button" type="button"><a href="/celebrities/">Celebrities</a></button>
      <button class="btn btn-primary button" type="button"><a href="/movies/">Movies</a></button>
    </div>
  </div>
</div>