<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/new" class="btn btn-primary">Add a new celebrity</a>
<a href="/celebrities" class="btn btn-primary">List of celebrities</a>
<a href="/movies/new" class="btn btn-success">Add a new movie</a>
<a href="/movies" class="btn btn-success">List of movies</a>