<section class="container">

  <h1>{{siteTitle}}</h1>
  <p>Welcome to {{siteTitle}}</p>

  <hr><br>

  <article class="row">

    <div class="col-6 columns">
      <a href="/celebrities" class="btn btn-info btn-block">Celebrities</a>
    </div>
    <div class="col-6 columns">
      <a href="#" class="btn btn-info btn-block">Movies</a>
    </div>

  </article>


</section>