<h2>Pages landing</h2>
<ul>

  <li><a href="/celebrities">Celebrities</a></li>
  <li><a href="/celebrities/new">New Celebrity!!</a></li>
  <li><a href="/movies">Movies</a></li>
  <li><a href="/movies/new">New movie!</a></li>
</ul>