<div class="index">
    <h1>IronCelebrities</h1>
    <form action="/celebrities" method="GET">
        <button class="btn btn-primary m-2">Check the celebrities</button>
    </form>
    <form action="/movies" method="GET">
        <button class="btn btn-primary m-2">Check the movies</button>
    </form>
</div>
