<section class="home">
    <div class="container">

        <h1>Ironhack <br> Celebrities and Movies </h1>
        <h5>Welcome to {{titleHome}}</h5>
        <a class="btn btn-dark" href="celebrities/list">Celebrities</a>
        <a class="btn btn-dark" href="movies/list">Movies</a>

    </div>
</section>
