<h1>Welcome to the A - List</h1>
<a href="/celebrities">Check out our A - Listers</a>
<h1>Welcome to the Movie - List</h1>
<a href="/movies">Check out our Movies - List</a>

<div class="user-links">
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
  <a href="/user-profile">Profile</a>
  <a href="/ajaxMovies">AJAX Movies</a>
</div>

