<main class="bg-light bg-gradient text-center d-flex flex-column align-items-center justify-content-center">
    <h1 class="pb-5">{{title}}</h1>
    <h4 class="pb-5">Welcome to the greatest movie database</h4>
    <div>
        <a class="btn btn-outline-dark btn-lg me-3" href="/celebrities" role="button">Celebrities</a>
        <a class="btn btn-outline-dark btn-lg" href="/movies" role="button">Movies</a>
    </div>
</main>