<section id="homeSection">
<div class="headerHome">
<h1>Mongoose Movies</h1>
</div>
<div class="navHome">
  <a href="/celebrities">Celebrities</a>
  <span>|</span>
  <a href="/movies">Movies</a>
</div>
</section>
