<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main__container">
       <h1>Celeeebrities</h1>
    {{{body}}}
    </div>

    <script src='/javascripts/script.js' />
  </body>
</html>
