<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
   <header id="header-main" class="row">
        <a href="/" class="logo">Mongoose Movies</a>
        <nav id="nav-main" class="nav">
            <a href="/" class="link">| home </a>
            <a href="/all-celebrities" class="link">| all celebrities</a>
            <a href="/all-teams" class="link">| all Teams</a>
            {{!-- <a href="/admin/artists" class="link">| admin artists</a> --}}
        </nav>
    </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>