<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  {{{body}}}

  <h1>Manage Celebrities</h1> 

    <ul>
        <li><a href="/create-celebrity">create cleb</a></li>
        <li><a href="/all-celebrities">all celeb</a></li>
        <li><a href="/admin/celebrities">admin celeb all</a></li>
    </ul>  

  <h1>Manage Movies</h1>  

    <ul>
        <li><a href="/create-movie">create movie</a></li>
        <li><a href="/all-movies">all movies</a></li>
        <li><a href="/admin/movies">admin movie all</a></li>
    </ul>  

  <script src="/javascripts/script.js"></script>
</body>
</html>