<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="content">
  <div class="nav-bar">
    <div class="nav-links">
    <a class="link" href="/">Home</a>
    <a class="link" href="/celebrities/index">Celebs</a>
    <a class="link" href="/movies/index">Movies</a>
    </div>

  </div>

{{{body}}}

  </div>
  <script src="/javascripts/script.js"></script>
</body>
<footer>
  <h5>created by Ironhack Williams</h5>
</footer>
</html>