<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1> <%= title %> </h1>
      <nav>
        <a href="/"> Home </a> <br>
        <a href="/celebrities"> Our Celebrities </a> <br>
        <a href="/celebrities/new/"> Add a Celebrity </a> <br>
        <a href="/movies"> Our Movies </a><br>
        <a href="/movies/new"> Add a Movie</a>
      </nav>
    </header>
    <%- body %>
  </body>
</html>
