<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="nav navbar navbar-expand-sm navbar-dark bg-primary justify-content-center mb-3">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/celebrities">All celebrities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">All movies</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>