<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo"><a href="/">Mongoose</a></div>
      <button type="button" class="btn-burger btnMenu" data-toggle="menu"><span></span></button>
      <nav id="menu">
        <buton type="button" class="btn-close btnMenu" data-toggle="menu">X</buton>
        <ul>
          <li><a href="/celebrities">Celebrities</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/celebrities/new">Add a Celebrity</a></li>
          <li><a href="/movies/new">Add a Movie</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  <script src="/javascripts/script.js"></script>
</body>
</html>