<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <a href="/celebrity/create">Create a celebrity</a><br>
    <a href="/celebrity/allcelebrities">Show all celebrities</a><br>
    <a href="/movie/create">Create a movie</a><br>
    <a href="/movie/allmovies">Show all movies</a><br>
  </nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>