
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
{{#if error}}
    <div>{{ error }}</div>
  {{/if}}
  {{#if success}}
    <div>{{ success }}</div>
  {{/if}}

<form action="/logout" method="POST"><button>Log Out</button></form>

  {{{body}}}

  <script src="/javascripts/zxcvb.js"></script> 
  <script src="/javascripts/script.js"></script>

</body>
</html>