<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1> Celebrities </h1>

  <nav>
    <a href="/"> Home </a>
    <br>

    <a href="/celebrities"> All Celebrities </a>
    <br>

    <a href="/celebrities/new"> Add a Celebrity </a>
    <br>
  </nav>

    <%- body %>




  </body>
</html>
