<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a href="/">Main</a>
    <br>
    <a href="/celebrities">List of celebrities</a>
    <br>
    <a href="/celebrities/new">Add celebrity</a>
    <br>
    <%- body %>
  </body>
</html>
