<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header style="background-color:blanchedalmond">
      <h1 style="color:orange">Iron Paparazzi Database</h1>
      <a href="/celebrities">Home</a>
      <br />
      <a href="/celebrities/new">Add a celebrity</a>
    </header>

    {{{body}}}

  <footer style="background-color:blanchedalmond">
      <p>Made at Ironhack with lots of gossips</p>
  </footer>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
