<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <a href="/celebrities/add">Create a new Celebrity</a>
  <a href="/celebrities">Show all the celebrities</a>
  <a href="/movies/add">Create a new Movie </a>
  <a href="/movies">Show all the Movies</a>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>