<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/script.js" type="module"></script>
  {{#each js}}
  <script src="/javascripts/{{this}}.js" type="module"></script>
  {{/each}}
</head>

<body>

  <h1>{{title}}</h1>

  <nav>
    <a href="/">Home</a>
    <a href="/celebrities">Celebrities</a>
    <a href="/movies">Movies</a>
  </nav>

  {{{body}}}
</body>

</html>