<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <a href="/">Home</a>

  <h2>Celebrities</h2>

  <ol>
    <li><a href="/celebrities">Celebrities List</a></li>
    <li><a href="/celebrities/new">Add celebrity</a></li>
  </ol>

  <h2>Movies</h2>

  <ol>
    <li><a href="/movies">Movies List</a></li>
    <li><a href="/movies/new">Add movie</a></li>
  </ol>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>