<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylessheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
