<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <a href="/">Inicio</a>
  {{!-- <a href="/celebrities/celebrities-list">Lista de famosos</a>
  <a href="/celebrities/celebrities-new">Añadir famosos</a> --}}
  <a href="/movies/movies-list">Lista de peliculas</a>
  <a href="/movies/movies-new">Añadir pelicula</a>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>