<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav class="container_row">

  <ul>Celebrities
  <li>  <a href="/celebrities" class="a_navigation">list</a>   </li>
  <li><a href="/celebrities/new" class="a_navigation">add celebrity</a></li>
</ul>
 <div id="home">| <a href="/" class="a_navigation">HOME</a> |</div>

<ul>Movies
  <li>  <a href="/movies" class="a_navigation">list</a>   </li>
  <li><a href="/movies/new" class="a_navigation">add movie</a></li>
</ul>



</nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>