<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <header id="header-main" class="row">
    <a href="/" class="logo">Celebs and Movies</a>
    <nav id="nav-main" class="nav">
        <a href="/" class="link">| home </a>
        <a href="/celebrities" class="link">| all celebs</a>
        <a href="/celebrities/new" class="link">| create celeb</a>
        <a href="/movies" class="link">| all movies</a>
        <a href="/movies/new" class="link">| create movie</a>
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>