<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<nav class='navbar'>
  <a href="/"> Home </a>
  <a href="/celebrity"> List of Celebrities </a>
  <a href="/celebrity/new"> Add New Celebrity </a>
  <a href="/movies"> List of All Movies </a>
  <a href="/movies/new"> Add New Movie </a>
</nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>