<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://kit.fontawesome.com/41b2f77684.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="container-fluid">
    <div class="row">
      <div class="col-2 p-0" id="profile">{{>profile}}</div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>