<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/celebrities/index">CELEBRITIES</a></li>
        <li><a href="/movies/index">MOVIES</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <footer>
    Ironhack, 2020
  </footer>
  <script src="/javascripts/script.js"></script>
</body>
</html> 
