<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<div class="navbar">
  <a href="/celebs">Home</a>
  <a href="/celebs/create-new-celeb">Create New Celebrity</a>
  <a href="/movies">Movies</a>
  <a href="movies/create-new-movie">Create New Movie</a>
</div>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>