<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/movies">Movies</a>
      <a href="/celebrities">Celebs</a>
      <a class="btn btn-primary" href="/celebrity-add">Add a celebrity</a>
      <a class="btn btn-primary" href="/movie-add">Add a movie</a>
    </nav>
    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
