<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/">home</a>
  <a href="/celebrities">celebrities</a>
  <a href="/movies">movies</a>
  {{{body}}}
</body>

</html>