<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CinemaIron</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<nav>


<h3>
  <a href="../celebrities">Celebrities</a>
</h3>

<h3>
  <a href="../celebrities/new">Add new celebrity</a>
</h3>

<h3>
  <a href="../movies">Movies</a>
</h3>

<h3>
  <a href="../movies/new">Add a new movie</a>
</h3>


</nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>