<h1 class="header">List of Celebrities</h1>

<div class="movieParent">
{{#each celebrities}}
<div class = 'movieList'></div>


<a class="name" href = "/celebs/details/{{this._id}}">
{{this.name}}
</a>

<form action="/celebs/delete/{{this._id}}" method="POST">
    <button>Delete</button>
</form>
<div class = 'movieList'></div>
{{/each}}
</div>