<h1 class="header">List of Celebrities</h1>

{{#each celebrities}}

<div class = 'celebName'>

<a class="name" href = "/celebs/details/{{this._id}}">
{{this.name}}
</a>

<form action="/celebs/delete/{{this._id}}" method="POST">
    <button>Delete</button>
</form>
</div>


{{/each}}