<h1>Añade peliculas con nuestros actores</h1>
{{!-- title, genre, plot --}}
<form action="/movies/add" method="post">
  <label>Nombre:</label>
  <input type="text" name="title"><br>

  <label>Genero:</label>
  <input type="text" name="genre"><br>

  <label for="">Argumento:</label>
  <input type="text" name="plot"><br>


  <button type="submit">Añadir</button>
  <button type="reset">Reset</button>
</form>