<h2>Add Movie</h2>

<form action="/movies/add" method="POST">
  <label for="field1">Movie Title</label>
  <input type="text" id="field1" name="title"></input>

  <label for="field2">Movie Genre</label>
  <input type="text" id="field2" name="genre"></input>

  <label for="field3">Movie Plot</label>
  <input type="text" id="field3" name="plot"></input>

  <button type="submit">Add your Movie</button>
  <a href="/movies">Go back to list of movies</a>

      <a href="/">Take me home</a>