<a href="/movies">Back</a>

<h2>Add movie</h2>

<form action="/movie-new" method="POST">

    <label for="title">Title:
    <input type="text" name="title">
    </label>

    <label for="genre">Genre:
    <input type="text" name="genre">
    </label>

    <label for="plot">Plot:
    <input type="text" name="plot">
    </label>

    <button type="submit">ADD</button>
</form>