{{#each movies}}
<p>movie : {{this.title}}</p>
<a href="/movies/{{this._id}}/details">Go to details</a>
{{/each}}

<div><a href="/movies/new-movie">Add a movie</a></div>
<div><a href="/">Home page</a></div>