   <h1>Nueva peli</h1>

            <form action="/newMovies" method="post">

               
                    <label>title</label>
                    <input name="title" type="text">
              
                    <label>genre</label>
                    <input name="genre" type="text">
            

                    <label>plot</label>
                    <input name="plot" type="text">
            

                <button type="submit">Crear</button>
            </form>