<h1>Formulario para añadir película</h1>

<form action="/movies/add" method="POST">

  <label for="">Nombre:</label>
  <input type="text" name="title"> <br>

  <label for="">Género:</label>
  <input type="text" name="genre"> <br>

  <label for="">Argumento:</label>
  <input type="text" name="plot"><br>

  <button type="submit">Añadir peli</button>

</form>

<a href="/movies/list">Anular y volver atrás</a>