<form action="/movie/add" method="post">
  <label for="title">Nombre de la Película: <input type="text" name="title"></label><br>
  <label for="genre">Género: <input type="text" name="genre"></label><br>
  <label for="plot">Argumentos: <input type="text" name="plot"></label><br>
  <button type="submit">Aceptar</button><button type="reset">Limpiar campos</button>

</form>