<form action="/create-movie" method="POST">
  <label>Title</label>
  <input type="text" name="title" />

  <label>Genre</label>
  <input type="text" name="genre" />

  <label>Plot</label>
  <input type="text" name="plot" />

  <button type="submit">Send</button>
</form>
<div>
  <a href="/movies">Back</a>
</div>