<form action ='/movies/edit?moviesId={{moviesId._id}}' method='POST'>
<label for='name' name='name'>Name</label>
<input type ='text' name='title' placeholder='title' value='{{movies.title}}'>
<label for='name' name='name'>Occupation</label>
<input type ='text' name='genre' placeholder='gemre' value='{{movies.genre}}'>
<label for='name'>Plot</label>
<input type ='text' name='plot' placeholder='Plot' value='{{movies.plot}}'>
<button type ='submit'>edit</button>

</form>