<h1>Movies</h1>

{{#each movies}}
<p>{{this.title}}</p>
<a href="/movies/{{_id}}" class="btn btn-primary">Ver detalles</a>
<a href="/movies/{{_id}}/edit" class="btn btn-primary">Editar</a>
<form action="/movies/{{_id}}/delete" method="post">
  <button type="submit" class="btn btn-primary">Borrar</button>
</form>
{{/each}}

<a href="/" class="btn btn-dark">Home</a>