<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Listados de Películas</h1>
      <a href="/movies/create" class="btn btn-dark">Añadir Película</a>
      <a href="/" class="btn btn-dark">Volver al menu principal</a>

    </div>
    <div class="col-md-6">
      <ul class="celebrities-list">
        {{#each movies}}

        <li>
          {{title}}
          <div>
            <a href="/movies/detail/{{_id}}">Ver detalles |</a>
            <a href="/movies/edit?movieId={{_id}}">| Editar película |</a>
            <a href="/movies/delete?movieId={{_id}}">| Eliminar peliíula</a>

          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>