<h1>Las peliculas {{title}}</h1>

<ul>
    {{#each movies}}
    <li>
        <p>{{title}} | <a href="/movies/{{_id}}"> ver detalles</a> | <a href="/movies/delete{{_id}}">Eliminar</a< /p>
    </li>
    {{/each}}
</ul>