<h2>Crea una nueva Pelicula</h2>
<form action="/movies" method="POST">
<div>
  <label for="title">Titulo</label>
  <input type="text" name="title">
</div>
<div>
  <label for="genere">Genero</label>
  <input type="text" name="genere">
</div>
<div>
  <label for="plot">Plot</label>
  <input type="text" name="plot">
</div>
<button type="submit">Crealo!</button>
</form>