<div class="container">
  <h1>Detalles de <strong>{{title}}</strong></h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p><strong>GENRE:</strong> {{genre}}</p>
    </div>
    <div class="col-md-6">
      <p><STRONG>PLOT:</STRONG> {{plot}}</p>
    </div>
  </div>
  <hr>
  <a class="btn btn-dark" href="/listado-movies">Volver a movies</a>
</div>