<div>
  <h2>New Movie:</h2>
  <form action="/movie/new" method="POST">
  <div>
    <label for="">Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="">Genre:</label>
    <input type="text" name="genre">
  </div>
  <div>
    <label for="">Plot:</label>
    <input type="text" name="plot">
  </div>
  <div><button type="submit">ADD</button></div>
  </form>
</div>