<h1>Lista de Peliculas</h1>

<ul>
  {{#each movies}}
  <li>

    <a href="/movies/view/{{this._id}}">{{this.title}}</a>

    <a href="/movies/edit/{{this._id}}">editar</a>

    <form action="/movies/delete/{{_id}}" method="post">

      <button type="submit">BORRAR</button>
    </form>
  </li>
  {{/each}}
</ul>


<a href="/movies/add">Añadir nueva pelicula</a>

<a href="/">Volver a Inicio</a>