<div class="container"> 
  <h2>Movies</h2>
  <br>
  <br>
  
<div class="row">
{{#each movies as |movie|}}
<div class="col-4">
  <h3>{{movie.title}}</h3>
  <a href="/movie-details/{{movie._id}}">
    <button class="btn btn-warning">Details</button>
  </a>
  <a href="/delete-movie/{{movie._id}}">
    <button class="btn btn-danger">Delete</button>
  </a>
   <hr>    
</div>
{{/each}}
</div>
</div>