<main>
  <div class="container">
   <p>{{movie.plot}}</p>
   <p>
     <a href="/movies/delete/{{movie._id}}">Delete this Movie</a>
   </p>
   <p>
     <a href="/movies">Back to all movies</a>
     </p>
  </div>
</main>