<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1>Nueva película</h1>
    </div>

    <div class="col-md-6">

      <form action="/movies/create" method="post">
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" type="text" class="form-control" id="name-input">
        </div>

        <div class="form-group">
          <label for="genre-input">Género</label>
          <input name="genre" type="text" class="form-control" id="genre-input">
        </div>

        <div class="form-group">
          <label for="plot-input">Escenario</label>
          <textarea name="plot" class="form-control" id="plot-input"></textarea>
        </div>

        <button type="submit" class="btn btn-dark">Crear nueva película</button>

      </form>
    </div>

  </div>
</div>