
  <a class="navbar-brand" href="#">Movies And Celebrities</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/celebrities">Celebrities</a>
      <a class="nav-item nav-link " href="/movies">Movies</a>
    </div>
 
  </div>
     <a class="nav-item nav-link to-right" href="/signup">{{{nav}}</a>
      <a class="nav-item nav-link to-right" href="/login">{{nav}}</a>

         <form  id="logout-form" action="/logout" method="POST">
          <button class="nav-item nav-link to-right btn btn-link" >Logout</button>
        </form>


