<h1>Add new celebrity</h1>

<form action="/new-celebrity" method="post">
 Name: <input type="text" name="name"><br>
<br>
Occupation: <input type="text" name="occupation">
<br>
catchphrase: <input type="text" name="catchphrase">
<br>
Image URL: <input type="text" name="image">
<br>
<button class= "button">Add</button>
</form>