<form action="/process-movie" method = "POST">

  <label>
    Title :
    <input type="text" name= "title" placeholder="Star Wars">
  </label>

  <label>
    Genre :
    <input type="text" name= "genre" placeholder="Romantic">
  </label>

  <label>
    Plot :
    <input type="text" name= "plot" placeholder="May the force be with you">
  </label>

  <button>Submit baby</button>

</form>