<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h1>Edit your Celebrities!</h1>

            <form action="/edit/{{_id}}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" value="{{this.name}}">
                </div>
                <div class="form-group">
                    <label for="occupation">Occupation</label>
                    <input name="occupation" type="text" class="form-control" id="occupation" value="{{occupation}}">
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="catchPhrase">CatchPhrase</label>
                    <input name="catchPhrase" type="text" class="form-control" id="catchPhrase" value="{{catchPhrase}}">
                    <small class="form-text text-muted"></small>
                </div>


                <button type="submit" class="btn btn-dark">Edit Celebrity</button>
            </form>
        </div>
    </div>