<div>

    <h1>Create a new movie</h1>
</div>

<form action ='/movies' method='POST'>
<label for='title'>title</label>
<input type ='text' name='title' placeholder='title'>
<label for='gnre'> Genre</label>
<input type ='text' name='Genre' placeholder='Genre'>
<label for='plot'> Plot</label>
<input type ='text' name='Plot' placeholder='Plot'>
<button type ='submit'>ADD</button>

</form>