<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Nueva Pelicula</h2>

            <form action="/movies/new" method="post">

                <div class="form-group">
                    <label>title</label>
                    <input name="title" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>genre</label>
                    <input name="genre" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>plot</label>
                    <input name="plot" type="text" class="form-control">
                </div>

                <button type="submit" class="btn btn-dark">Crear</button>
            </form>
        </div>
    </div>
</div>