<h1>Add New Celebrity</h1>

<form action="/celebrities/create" method="post">
  <div class="form-group">
    <label for="name-input">Name</label>
    <input name="name" type="text" class="form-control" id="name-input">
  </div>

  <div class="form-group">
    <label for="occupation-input">Occupation</label>
    <input name="occupation" type="text" class="form-control" id="occupation-input">
  </div>

  <div class="form-group">
    <label for="catch-phrase-input">Catch Phrase </label>
    <input name="catchPhrase" type="text" class="form-control" id="catch-phrase-input">
  </div>

  <button type="submit" class="btn btn-dark">Add Celebrity</button>

</form>