<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>NEW CELEBRITY</h1>

      <form action="/crear" method="post">

        <div class="form-group">
          <label>NAME : </label>
          <input name="name" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>OCCUPATION :</label>
          <input name="occupation" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>CATCH PHRASE :</label>
          <input name="catchPhrase" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark">Crear</button>
      </form>
    </div>
  </div>
</div>