<h1>Add a new Celebrity</h1>

<form action="/new-celebrity" method="post">
  
  Name: <input type="text" name="name"><br>
  Occupation: <input type="text" name="occupation"><br>
  catchPhrase: <input type="text" name="catchPhrase"><br>

  <button>Create</button>
</form>