<h1>Add Movie</h1>

<form action="/new-movie" method="POST">
  <input type="hidden" name="movieId">
  <label for="title">Title: 
    <input type="text" name="title">
  </label>
  <br>
  <label for="genre">Genre: 
    <input type="text" name="genre">
  </label>
  <br>
  <label for="plot">Plot: 
    <input type="text" name="plot">
  </label>
  <br>
  <button type="submit">ADD</button>
</form>

<a href="/movies">Go back</a>