<form action="/process-movie" method="POST">

  <label>
    Title :
    <input type="text" name="title" placeholder="">
  </label>
  <label>
    Genre :
    <input type="text" name="genre" placeholder="">
  </label>
  <label>
    Plot :
    <input type="text" name="plot" placeholder="">
  </label>

  <button>Add</button>

</form>