<h1>Movie form</h1>

<form action="/movies/new-movie" method="post">
  <label for="title">title</label>
  <input type="text" id="title" name="title">
  <label for="genre">genre</label>
  <input type="text" id="genre" name="genre">
  <label for="plot">Description</label>
  <input type="text" id="plot" name="plot">

  <button type="submit">Add new movie</button>
  <button type="reset">reset</button>
  <button type="submit"><a href="/movies">Cancel</a></button>
</form>