<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>NEW MOVIE</h1>

      <form action="/crear-movie" method="post">

        <div class="form-group">
          <label>TITLE : </label>
          <input name="title" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>GENRE :</label>
          <input name="genre" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>PLOT :</label>
          <input name="plot" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark">Crear</button>
      </form>
    </div>
  </div>
</div>