<form action="/celebrities/add" method="POST">
  <label for="name">Nombre de la celebridad</label>
  <input type="text" name="name" value="" placeholder="Nombre de la celebridad" required>
  <br>
  <label for="occupation">Ocupación </label>
  <input type="text" name="occupation" value="" placeholder="Ocupación">

  <label for="catchPhrase">Frase </label>
  <input type="text" name="catchPhrase" value="" placeholder="frase">

  <button type="submit" name="button">Añadir</button>
</form>

<a href="/celebrities">< Regresar</a></Regresar>