<h2>Create a new celebrity</h2>
<form method="POST" action="/celebrity/new">
      <div class="form-group"> <label>Name</label> <input name="name" type="text" class="form-control" id="todoName"
                  aria-describedby="emailHelp"> </div>
      <div class="form-group"> <label>occupation</label> <input name="occupations" type="text" class="form-control">
      </div>
      <div class="form-group"> <label>catchPhrase</label> <input name="catchPhrase" type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Create Celeb</button>
</form>