
<form id="form" action="/new" method="POST">
    <h2>New movie</h2>
    <input type="text" name="title" id="title" placeholder="Title...">
    <input type="text" name="genre" id="genre" placeholder="Genre..." >
    <input type="text" name="plot" id="plot" placeholder="Plot...">
    <input type="number" name="rating" id="rating" placeholder="Rating">
    <button type="submit">Create new Movie</button>
</form>