<form class="" action="/celebrities/new" method="post">
  <input type="text" name="firstname" value=""><label for="">firstname</label>
  <input type="text" name="Occupation" value=""><label for="">lastname</label>
  <input type="text" name="Phrase" value=""><label for="">phrase</label>
  <button type="submit" name="button">Add new Illuminate Member</button>
</form>
