


<h2>THE NEW PAGE!!</h2>

<form action="/celeb/create" method="POST"> 


  <label>Name</label>
  <input type="text" name="name">

  <label>Occupation</label>
  <input type="text" name="occupation">

  <label>Catch Phrase</label>
  <input  type="text" name="catchPhrase">

<a href="/celebrities">
<button type="submit">Add Celebrity</button>
</a>






</form>