Add a new Celebrity!
<form action="/celebrities" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="catchPhrase" placeholder="catchPhrase" />
    <input type="text" name="occupation" placeholder="occupation" />
    <button type="submit">Submit</button>
</form>