<h2>Create New</h2>

<form id="form" action="/celebrities" method="POST">
  <label for="name">Calebrity Name</label><br>
  <input type="text" name="celebName" placeholder="Celebrities Name">

  <label for="occupation">Occupation</label><br>
  <input type="text" name="occupation" placeholder="occupation">

  <label for="catchphrase">Catch Phrase</label><br>
  <input type="text" name="catchphrase" placeholder="catchphrase">


  <button type="submit">Create Celebrity</button>
</form>