<h2>add a new celeb!</h2>


<form method="POST" action="/process-new">
  <label>Name:
    <input type="text" name="name" placeholder="amal" />
  </label>
  <label>Occupation:
    <input type="text" name="occupation" placeholder="clooney" />
  </label>
  <label>Catchphrase:
    <input type="text" name="catchPhrase" placeholder="arguably the ideal human" required />
  </label>

  <button>save this celeb!</button>
</form>