
<form id="form" action="/movies" method="POST">
    <h2>New movie</h2>
    <input type="text" name="title" id="title">
    <input type="text" name="genre" id="genre">
    <input type="text" name="plot" id="plot">
    <input type="number" name="rating" id="rating">
    <button type="submit">Create new Movie</button>
</form>