<h2>Add new Celebrity</h2>

<form action="create-the-celebrity" method="POST">


<p>Name</p>

<input type="text" name="theCelebName">

<p>Occupation</p>

<input type="text" name="theCelebOccupation">

<p>Catch Phrase</p>

<input type="text" name="theCelebPhrase">


<button>Save!</button>

</form>