<h2>Add a celebrity</h2>

<form action="/new" method="POST">
  Name:<br>
  <input type="text" name="name">
  <br>
  Occupaton:<br>
  <input type="text" name="occupation">
  <br>
  CatchPhrase:<br>
  <input type="text" name="catchPhrase">
  <br><br>
  <input type="submit" value="Submit">
</form> 