<h2>Add Celebrity:</h2>
<form action="/celebrities" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Occupation:</label>
    <input type="text" name="occupation">

    <label for="">Catch Phrase:</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Submit</button>
</form>