<h2>add a new celebrity</h2>
<form action="/process-celebrity" method="POST">
    <label> name
        <input type="text" name="name" placeholder="mastroianni" />
    </label>
    <label> Occupation
        <input type="text" name="occupation" placeholder="actor " />
    </label>
    <label> CatchPhrase
        <input type="text" name="catchPhrase" placeholder="piru piru piru" />
    </label>

    <button>Add this celebrity</button>
</form>