<div>

    <h1>Create a new celebrity</h1>
</div>

<form action ='/celebrities' method='POST'>
<label for='name' name='name'>Name</label>
<input type ='text' name='name' placeholder='name'>
<label for='name' name='name'>Occupation</label>
<input type ='text' name='occupation' placeholder='occupation'>
<label for='name' name='name'>Catch Phrase</label>
<input type ='text' name='catchPhrase' placeholder='Catch Phrase'>
<button type ='submit'>ADD</button>

</form>