<h2>Create your own Sleb!</h2>

<form action="/new" method="post">
<label for="name-input">Name</label>
<input type="text" name="name" id="name-input">

<label for="occupation-input">Occupation</label>
<input type="text" name="occupation" id="occupation-input">

<label for="catchPhrase-input">CatchPhrase</label>
<input type="text" name="catchPhrase" id="catchPhrase-input">

<input type="submit" value="submit">
</form>