<h2>Añadir nueva celebridad</h2>

<form action="/celebrities" method="post">
  <label for="name">Nombre:</label>
  <input type="text" name="name"><br>

  <label for="occupation">Actividad:</label>
  <input type="text" name="occupation"><br>

  <label for="phrase">Moto:</label>
  <input type="text" name="phrase"><br>

  <button type="submit">AÑADIR NUEVA CELEBRIDAD</button>

</form>

<a href="/celebrities">Cancelar y volver a la lista</a>