<h1>New pipel in da house</h1>
<div class="new-celeb">
    <form action="/celebrities/new" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="price">Occupation</label>
        <input type="text" name="occupation">
        <label for="image-url">Catch phrase</label>
        <input type="text" name="catchPhrase">
        <button type="submit" class="update">Add celeb</button>
    </form>
</div>
<div class="margin-above">
    <form action="/celebrities">
        <button type="submit" value="home">Go back</button>
    </form>
</div>