<h1>Add a celebrity</h1>

<form action="/celebrities" method="post">
  Name: <input type="text" name="name"> <br>
  Occupation: <input type="text" name="occupation"><br>
  Catch phrase: <input type="text" name="catchPhrase"><br>
 
  <button type="submit">Create celebrity</button>
</form>