<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    Add a new Celebrity!
    <form action="/celebrities" method="post">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="catchPhrase" placeholder="catchPhrase" />
        <input type="text" name="occupation" placeholder="occupation" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>