<form action="/process-new" method = "POST">

  <label>
    Name :
    <input type="text" name= "name" placeholder="Geogeo">
  </label>

  <label>
    Occupation :
    <input type="text" name= "occupation" placeholder="Ironhacker">
  </label>

  <label>
    CatchPhrase :
    <input type="text" name= "catchPhrase" placeholder="Coucou">
  </label>

  <button>Submit baby</button>

</form>