<h2>
  Create a celebrity
</h2>

<form method="post" action="/celebrities/add" class="form">
    <label class="label" for="name">Celebrity name</label>
    <input class="input" id="name" type="text" value="Toto" name="name">

    <label class="label" for="occupation">Occupation</label>
    <input class="input" id="occupation" type="text" value="unknown" name="occupation">

    <label class="label" for="cacthPhrase">Catch phrase</label>
    <input class="input" id="cacthPhrase" type="text" value="giggity" name="catchPhrase">
    <button class="btn">create</button>
</form>