<form action="/celebrities/process-new" method="POST">

  <label>
    Name :
    <input type="text" name="name" placeholder="">
  </label>
  <label>
    Occupation :
    <input type="text" name="occupation" placeholder="">
  </label>
  <label>
    Catchphrase :
    <input type="text" name="catchPhrase" placeholder="">
  </label>

  <button>Add</button>

</form>