<h2>NEW CELEBRITY</h2>

<form action="/" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="phrase" id="phrase"></input>

  <button type="submit">Add Celebrity!</button>
</form>
