<h1>New pipel in da house</h1>
<div class="new-celeb">
    <form action="/celebrities/new" method="POST">
        <label for="name">Name</label>
        <input placeholder="20 characters max" required maxlength="20" type="text" id="name" name="name">
        <label for="price">Occupation</label>
        <input placeholder="20 characters max" required maxlength="20" type="text" name="occupation">
        <label for="image-url">Catch phrase</label>
        <input placeholder="100 characters max" required maxlength="100" type="text" name="catchPhrase">
        <button class="update inline" type="submit" class="update">Add celeb</button>
        <div class="inline">
                <a class="blue-btn a-button" href="/celebrities">Go back</a>
        </div>
    </form>
</div>
