<form method="post" action="" class="form">
    <h2>{{title}}</h2>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" value="Name">
    <label for="occupation">Occupation</label>
    <input id="occupation" name="occupation" type="text" value="Occupation">
    <label for="catchPhrase">Catch  Phrase</label>
    <input id="catchPhrase" name="catchPhrase" type="text" value="Catch Phrase">
    <button>Submit</button>
  
</form>