<h2>Add your celeb here!</h2>

<form action="/celebrities/add" method='post'>
<input type="text" name='name' value='Celeb Name'>
<input type="text" name='occupation' value='Occupation'>
<input type="text" name='catchPhrase' value='Celebs Catchphrase'>
<button type="submit">Add your celebrity now!</button>
 </form>