<h2>Create New Celebrity</h2>
<form action="/create-celebrity" method="POST" >
  <label>Name:</label>
  <input type="text" name="name" />

  <label>Occupation:</label>
  <input type="text" name="occupation" />

  <label>Catch phrase:</label>
  <input type="text" name="catchPhrase" />

  <button type="submit">Send</button>
</form>