<div class="detail__container">
    <h2>Create a Celebrity</h2>
    <div class="inner__detail">
        <div class="inner__form">
            <form class="create__form" action="" method="post">
                <label for="">Name:</label>
                <input type="text" name="name">

                <label for="">Occupation:</label>
                <input type="text" name="occupation">

                <label for="">Catch Phrase:</label>
                <input type="text" name="catchPhrase">
                <button type="submit">Add your Celebrity</button>
        </div>
        </form>
    </div>
    <a href="/celebrities">
        <div class="back__button detail__button">Back</div>
    </a>
</div>
