<h4>Add A Celebrity to Our Database</h4>



<p>
  <form action="/newceleb" method="post">
    Celebrity Name: <input type="text" name="name"><br><br> Occupation: <input type="text" name="occupation"><br><br> Catch
    Phrase:
    <input type="text" name="catchphrase"><br><br>
    <button>Submit</button>
  </form>
</p>