<form action="/movies/add" method="POST">
  <label for="name">Nombre de la película</label>
  <input type="text" name="title" value="" placeholder="Nombre de la película" required>
  <br>
  <label for="genre">Género </label>
  <input type="text" name="genre" value="" placeholder="Género">

  <label for="plot">Plot </label>
  <input type="text" name="plot" value="" placeholder="plot">

  <button type="submit" name="button">Añadir</button>
</form>

<a href="/movies">< Regresar</a></Regresar>