<h2>Create a new movie</h2>
<form method="POST" action="/movies/new">
      <div class="form-group"> <label>Movie title</label> <input name="title" type="text" class="form-control" id="todoName"
                  aria-describedby="emailHelp"> </div>
      <div class="form-group"> <label>genre</label> <input name="genre" type="text" class="form-control">
      </div>
      <div class="form-group"> <label>plot</label> <input name="plot" type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Create Movie</button>
</form>