<h2>Add your movie</h2>
<form action="/movies/newMovie" method="post">
    <p>
        Title:
        <input name="title" type="text">
    </p>
    <p>
        Genre:
        <input name="occupation" type="text">
    </p>
    <p>
        Plot:
        <input name="plot" type="text">
    </p>
    <input type="submit" value="Add Movie">
</form>