<h4>Add A Movie to Our Database</h4>

<p>
  <form action="/newmovie" method="post">
    Movie Name: <input type="text" name="title"><br><br> Genre: <input type="text" name="genre"><br><br> Plot: <input type="text"
      name="plot"><br><br>
    <button>Submit</button>
  </form>
</p>