<div class="text-center">
  <img src="/images/404.svg" width="250px" alt="Error img">
  <h1 class="mt-5"><b>404 Error</b></h1>
  <h3 class="mx-auto" style="max-width: 500px;">This route does not exist on the app! Check if everything is ok!</h3>
</div>