<h1>Estoy en oneCelebrity.hbs</h1>

{{#each celebrityFound}}
    <li>
        {{this.name}}
        {{this.occupation}}
        {{this.catchPhrase}}
        <a href="window.history.back()">Go back</a>
    </li>
{{/each}} 