<div class="posts-container">
  <div class="posts-wrapper">
    {{#each posts}}
        <div class="movie">
          <h3>Subject: {{this.subject}}</h3>
          <p>{{this.article}}</p>
          <h5>Authored By: {{this.author}}</h5>
        </div>
      {{/each}}
  </div>
</div>

//views
//routes