

<h2>Image Upload Form</h2>


<form action="/imgcreate" method="POST" enctype="multipart/form-data">

<p>Image Name</p>
<input type="text" name="imgName">

<p>Info</p>
<textarea name="description" id="" cols="30" rows="8"></textarea>

<input type="file" name="photo">

<button>Submit</button>



</form>