<h1>welcome yo your Progile {{user.username}} </h1>

<h2>Hey, here is your pic <img src="{{user.profilePic}}" alt="" style="height: 150px;" ></h2>


<h2>Movies, you have watched </h2>

<ul>  
{{#each movie}}
<li>
 <a href="/movies/{{this._id}}">
 {{this.title}}</a>
</li>

{{/each}}
</ul>