<h1>Welcome {{currentUser.username}}</h1>


<h3>Upload a Profile Photo<a href="/profileUpload"> Here</a></h3>

<p>this is {{currentUser.name }} profile page</p>


<h1>Profile Image</h1>



<div>


    <p>{{user.imgName}}</p>

    <img src="{{user.imgPath}}">

<hr>

</div>


{{!-- {{/each}} --}}