<div>
  <form action="/search-movie/a" method="post"><button type="submit"><img src="./images/up.png" alt="UP" height="20px"></button></form>
  <form action="/search-movie/d" method="post"><button type="submit"><img src="./images/down.png" alt="DOWN" height="20px"></button></form>
  <table>
    {{#each movies}}
    <tr>
      <td>{{title}}</td>
    </tr>
    {{/each}}
  </table>
</div>