Show Page: <br>

<h1>Name: {{theCeleb.name}}</h1>

<h3>Occupation: {{theCeleb.occupation}}

    <br>
    CatchPhrase: {{theCeleb.catchPhrase}}
</h3>

<br> <br>
<a href="/celebrities">Back</a><br>
<a href="/">Home</a>