<h2>Details Page</h2>
<h3>Celebrity name: {{celebrity.name}}</h3>
<h4>Occupation: {{celebrity.occupation}}</h4>
<p>Catch phrase: {{celebrity.catchPhrase}}</p>
<a href="/celebrities/{{celebrity._id}}/edit">Edit</a>