<h1>CELEBRITY</h1>

<p><strong>Name: </strong> {{celebrities.name}}</p>
<p><strong>Occupation: </strong>{{celebrities.occupation}}</p>
<p><strong>CatchPhrase: </strong> {{celebrities.catchPhrase}}</p>

<a href="/homeCelebrities">Return</a>
