<div class="detail__container">
    <h2>{{{showCelebrities.name}}}</h2>
    <div class="inner__detail">
        <h4>{{{showCelebrities.occupation}}}</h4>
        <h5>
            <i>"{{{showCelebrities.catchPhrase}}}"</i>
        </h5>
    </div>
    <a href="/celebrities"><div class="back__button detail__button">Back</div></a>
</div>
