<form action="/signup" method="post">

  Username: <input type="text" name="username" placeholder="my name">
  Password: <input type="password" name="password" placeholder="my password">

  <button type="submit">Signup</button>

</form>