<div class="signup-container">
  <div class="signup-wrapper">
    <h1>Sign Up</h1>
    <form action="/userSignup" method="POST">
      <label for="userName">Choose your username</label>
      <input type="text" name="username" required="true" placeholder="Enter a new username">
      <label for="passWord">Choose your password</label>
      <input type="password" name="password" required="true" placeholder="Enter a new password">
      <button>Sign Up</button>
    </form>
    <h4>{{message}}</h4>
  </div>
</div>