<h1>Sign Up</h1>
<form action="" method="POST" enctype="multipart/form-data">

<label>Username</label>
<input type="text" name="username" required> 


<label >Password</label>
<input type="text" name="password" required>

<input type="file" name="the-picture">


<button>Submit</button>
</form>


{{#if message}}
<h3>
{{message}}

</h3>
{{/if}}