<form action="/celebrities/{{celebrity._id}}" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="celebrity-name" placeholder="name" value="{{celebrity.name}}">
  <label for="occupation">occupation</label>
  <input type="text" name="occupation" id="celebrity-occupation" value="{{celebrity.occupation}}">
  <label for="catchPhrase">catchPhrase</label>
  <input type="text" name="catchPhrase" id="celebrity-catchPhrase" value="{{celebrity.catchPhrase}}">
  <button type="submit">submit</button>
</form>