<div class="container">
<form action="/update-celeb?celebritiesid={{_id}}" method="post">
  <div class="form-group">
  <label for="name">Name</label>
  <input value="{{name}}"class="form-control" type="text" name="name" id="name">
  </div>
  <div class="form-group">
  <label for="occupation">Occupation</label>
  <input value="{{occupation}}" class="form-control" type="text" name="occupation" id="occupation">
  </div>
  <div class="form-group">
  <label for="catchPhrase">Catch Phrase</label>
  <input value="{{catchPhrase}}" class="form-control" type="text" name="catchPhrase" id="catchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>