<div class="profile-container">
  <div class="profile-wrapper">
    <div class="user-info">
      {{#if user}}
        <h1>welcome, {{user.username}}</h1>
        <p>This is {{user.username}}'s super duper private page</p>
        <a href="/">Home</a>
        <a href="/logout">Log Out</a>
      {{/if}}
    </div>
  </div>
</div>