# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published(aqui va el .env, en esta practica lo borramos para que los TA puedan verlo).

