<div class="container">
    <div class="card">
        <div class="list-flex">
            <h1>Look at all my Celebrities</h1>
            <a href="/create-book"><button>Make A new Celebrity</button></a>
        </div>
        <ul>
            {{#each data}} {{> celebritylistpartial this}} {{/each}}
        </ul>
    </div>
</div>


