<!DOCTYPE html>
<html>

<head>
  <title>{{title}} Mongoose MOVIES by JASON</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/movies" class='list'>
    <button href="/movies">Movie List</button>
  </a>
  <a href="/celebrities" class='list'>
    <button>Celebrity List</button>
  </a>

  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>