<h2>Movie Information</h2>

<div class="container">
    <div class="card">
        {{#if updated}}
        <h3>**Updated**</h3>
        {{/if}}


        <h3>Title : {{data.title}}</h3>
        <h4>Genre : {{data.genre}}</h4>
        <h4>Plot : {{data.plot}}</h4>

        <a href="/movies" class='list'><button>Back to list</button></a>
        &nbsp; &nbsp; &nbsp; 
        
        <a href="/movies/{{data._id}}/edit"><button>Edit this entry</button>
        </a>
    </div>
</div>