<h1> Add a celebrity to the list!</h1>
<div class="container">
    <div class="card">
        <form action="/new" method="post">
            <label for="name" class="name">Name:</label>
            <input type="text" id='name' name='name' class="name" require="true">
            <br>
            <label for="occupation" class="occupation">Occupation:</label>
            <input type="text" id='occupation' name='occupation' class="occupation" require="true">
            <br>
            <label for="catchPhrase" class="catchPhrase">Catchphrase:</label>
            <input type="text" id='catchPhrase' name='catchPhrase' class="catchPhrase" require="true">
            <br>
            <button type='submit' class="go-btn">Add this Celebrity~!</button>
        </form>
    </div>
</div>