<h1> Add a new freaking Movie!</h1>
<div class="container">
    <div class="card">
        <form action="/newmovie" method="post">
            <label for="title" class="title">Title:</label>
            <input type="text" id='title' name='title' class="title" require="true">
            <br>
            <label for="genre" class="genre">genre:</label>
            <input type="text" id='genre' name='genre' class="genre" require="true">
            <br>
            <label for="plot" class="plot">plot:</label>
            <input type="text" id='plot' name='plot' class="plot" require="true">
            <br>
            <button type='submit' class="go-btn">Add this Movie~!</button>
        </form>
    </div>
</div>