<h2>Add a new Movie</h2>
<form action="/movies/create" method="post">
  <input type="text" name="title" placeholder="Movie Title" />
  <input type="text" name="genre" placeholder="Genre" id="" />
  <input type="text" name="plot" placeholder="Plot Description" id="" />
  <select name="cast" id="" >{{#each celebArray}}<option value="{{this._id}}">{{this.name}}</option>{{/each}}</select>
  {{!-- <input type="text" name="cast" placeholder="Cast Members" id=""> --}}
  <button type="submit">SAVE</button>
</form>

<navbar class="navbar">
    <ul>
      <li><a href="http://localhost:3000/movies">Go Back</a></li>
    </ul>
  </navbar>