<h2>Add a new movie to the list</h2>

<form action="/movies" method="POST">

  <p>Title</p>
  <input type="text" name="title">

  <p>Genre</p>
  <input type="text" name="genre">

  <p>Director</p>
  <select name="director">
    {{#each directors}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  
  <p>Plot</p>
  <input type="text" name="plot">
  <button>Save</button>
  
</form>