<div class="container">
    <h1>{{title}}</h1>

    <hr>

    <p><strong>Género:</strong> {{genre}}</p>
    <p><strong>Título:</strong> {{title}}</p>
    <p><strong>Trama:</strong> {{plot}}</p>

    <hr>
    <a href="/peliculas" class="btn btn-dark">Volver a las películas</a>
</div>