<h3>Edit movies</h3>

<form action="/movies/{{id}}/edit" method="POST">

    <input type="text" name="title" placeholder="title" value="{{title}}">
    <br>
    <input type="text" name="genre" placeholder="genre" value="{{genre}}">
    <br>
    <input type="text" name="plot" placeholder="Plot" value="{{plot}}">
    <br>
    <button type="submit" class="btn btn-dark"> Edit</button>



</form>