<h2>Update Movie</h2>

<form method="post" action="/movies/<%=movie._id%>">
  <div>
    <label for="_title"> Title: </label>
    <input type="text" name="_title" value="<%=movie.title%>">
  </div>

  <div>
    <label for="_genre"> Genre: </label>
    <input type="text" name="_genre" value="<%=movie.genre%>">
  </div>

  <div>
    <label for="_plot"> Plot: </label>
    <input type="text" name="_plot" value="<%=movie.plot%>">
  </div>

  <input type="submit" name="" value="UPDATE">
</form>
