<h2>Edit page</h2>
<form action="/movies/:id" method="post">
    <label>title</label>
    <input type="text" name="title">
    <br>

    <label>genre</label>
    <input type="text" name="genre">
    <br>

    <label>plot</label>
    <textarea name="plot" cols="30" rows="10"></textarea>
    <br>

    <button type="submit">Save Movie</button>
</form>