<h2>Movies</h2>

<table class="table table-sm">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
       {{#each movies}}
    <tr>
     
      <td class="td1"><a href="/movies/{{_id}}" class="nombre">{{title}}</a></td>
      <td class="td2"><a href="/movies/{{_id}}/edit">Edit</a></td>
      <td class="td3"><a href="/movies/{{_id}}/delete" class="borrar">Delete</a></td>
      
    </tr>
    {{/each}}
  </tbody>
</table>