<h2>All Movies</h2>
<div>
  {{#each movies}}
    <h3>{{name}}</h3>
    <p>{{genre}}</p>
    <a href="/movies/{{_id}}">Go to Movie Details</a>
  {{/each}}
</div>
<a href="/movies/new">Create a new Movie!</a>