
<h2>Movie List</h2>
<a href="/celebrities/new">Add New Movie</a>
<ul>
  <% movies.forEach((movie) => { %>
    <li>
    <a href="/movies/<%=movie._id%>"><h3><%=movie.title%></a></h3>
    <form action="/movies/<%= movie._id %>/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
    </li>
<% }) %>
</ul>
