<h2>Movies:</h2>
{{#each movies}}
<h3>
    <a href="./{{this._id}}">{{this.title}}</a>
</h3>

<form action="./{{this._id}}/delete" method="post">
    <span>
        <button type="submit">DELETE</button>
    </span>
    <input type="hidden" name="_id">

</form>


<button>
    <a href="./{{this._id}}/edit">EDIT</button>

{{/each}}

<h3>
    <a href="/movies/new">Add a new Movie</a>
</h3>