<a class="navigation-links icon" href="/"><i class="fas fa-home"></i> HOME</a>
<h2 class="main-title">Movies archive</h2>

<div class="list-container">
  <ul>
    <% movies.forEach(function(movie){ %>
      <li class="list-row"><a href="/movies/<%= movie.id %>" class="list-element"><%= movie.title %></a></li>
      <form action="/movies/<%= movie.id %>/delete" method="post">
      <button type="submit" class="icon delete"><i class="fas fa-eraser"></i></button>
      </form>
    <% }); %>
  </ul>
  <a class="icon add-element" href="/movies/new"><i class="fas fa-plus-circle"></i></a>
</div>