<h2>Movie details</h2>
{{theMovie}}

<h3>Title</h3>
<p>{{title}}</p>

<h3>Genre</h3>
<p>{{genre}}</p>

<h3>Plot</h3>
<p>{{plot}}</p>

<a class="btn btn-dark non-radius" href="/peliculas/listadoPelis">Volver</a>