<h3 class="titlelist">Add a new movie</h3>

<form action="/movies/new" method="POST">
<h4>Title</h4>
    <input type="text" name="title" placeholder="Title">
    <br>
    <h4>Genre</h4>
    <input type="text" name="genre" placeholder="Genre">
    <br>
    <h4>Plot</h4>
    <input type="text" name="plot" placeholder="Plot">
    <br>
    <button type="submit" class="btn btn-dark btnadd"> Add Movie</button>



</form>