<h2> Add a movie to our database</h2>

<form method="POST" action="/movies/new">
  <label for="name-input"> Title</label>
  <input id="name-input" type="text" name="movieTitle">
  <br>

  <label for="genre-input"> Genre </label>
  <input id="genre-input" type="text" name="movieGenre">
  <br>

  <label for="plot-input"> Plot </label>
  <textarea id="plot-input" name="moviePlot"></textarea>
  <br>
  <button> Add movie</button>

</form>
