<div class="container">
    <div class="card">
        <h2>CREATE NEW MOVIE</h2>
        <form action="/movies" method='POST'>
            <input type="text" id='title' name='title' required="true" placeholder="title">
            <br>
            <input type="text" id='genre' name='genre' required="true" placeholder="genre">
            <br>
            <textarea type="text" id='plot' name='plot' required="true" placeholder="plot"></textarea>
            <br>
            <button type='submit' class='btn btn-add'>ADD</button>
        </form>
    </div>
</div>