<h2>New Movie</h2>
<form action="/movies" method="POST">
  <label for="title"> Title
    <input type="text" name="title" id="title">
  </label>

  <label for="genre"> Genre
    <input type="text" name="genre" id="genre">
  </label>

  <label for="plot"> Plot
    <input type="text" name="plot" id="plot">
  </label>

  <button type="submit">Create</button>
</form>