<h1>NEW Movie</h1>

<form action="/movies/create" method="POST">
<label for="title">Title</label>
<input type="text" name="title" id="">
<label for="genre">Genre</label>
<input type="text" name="genre" id="">
<label for="plot">Plot</label>
<input type="textarea" name="plot" id="">
<button>Add</button>
</form>