
<div class="container">
    <h2 class="list">Crear película</h2>
    <hr>
    <div class="row">
        <form action="/movies/new" method="post">
            <div class= "col-3">
             <label for="">Título:</label>
             <input type="text" name="title">
             </div>    

            <div class= "col-3">
            <label for="">Género:</label>
            <input type="text" name="genre">
            </div> 

            <div class="col-3">
             <label for="">Argumento:</label>
            <input type="text" name="plot">
            </div>
           
    </div>

         <button class= "btn btn-dark submit" type="submit">Crear</button>


</form>
</div>

