

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h2>Create new movie</h2>

            <form action="/movies/new" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input name="genre" type="text" class="form-control" id="genre">
                </div>
                <div class="form-group">
                    <label for="plot">Plot</label>
                    <input name="plot" type="text" class="form-control" id="plot">
                </div>
                
                <button type="submit" class="btn btn-primary">Create movie</button>
            </form>
            <a class="btn btn-dark" href="/movies">Go back</a>
        </div>
    </div>