<h2>Create a new Celebrity</h2>

<form method="post" action="/celebrities">
  <div>
    <label for="_name"> Titile: </label>
    <input type="text" name="_title">
  </div>

  <div>
    <label for="_occupation"> Genre: </label>
    <input type="text" name="_genre">
  </div>

  <div>
    <label for="_catchPhrase"> Plot: </label>
    <input type="text" name="_plot">
  </div>

  <input type="submit" name="" value="ADD">
</form>
