<main class="container">
    <h3>Add a new movie</h3>

    <form action="/movies" method="POST">
        <div class="form-group row">
            <label for="title" class="col-md-2">Title</label>
            <input name="title" type="text" class="form-control col-md-8" id="title"  >
        </div>
        <div class="form-group row">
            <label for="genre" class="col-md-2">Genre</label>
            <input name="genre" type="text" class="form-control col-md-8" id="genre" >
        </div>
        <div class="form-group row">
            <label for="plot" class="col-md-2">Plot</label>
            <input name="plot" type="text" class="form-control col-md-8" id="plot" >
        </div>
        <div class="row">
            <button type="submit" class="btn btn-secondary  offset-md-2">Submit</button>
        </div>
    </form>


</main>