<h2>Create New Movies</h2>
<form action="/movies/create" method="post">

<label>Title: </label>
<input type="text" name="title">
<br>

<label>Genre: </label>
<input type="text" name="genre">
<br>

<label>Plot: </label>
<input type="text" name="occupation">
<br>

<button type="submit">Save Movie</button>
</form>

