<div class="container">

    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-7">

            <h2 class="mb-5">Create new Movie </h2>

            <form class="mb-5" method="POST" action="/movies/new">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Genre</label>
                    <input type="text" class="form-control" name="genre">
                </div>
                <div class="form-group">
                    <label>Plot</label>
                    <textarea name="plot" class="form-control" rows="3">{{this.plot}}</textarea>
                </div>

                <button type="submit" class="btn btn-success btn-block">Create new movie</button>
            </form>
            <a class="mt-5 btn btn-outline-secondary" href="/movies">Go back</a>
        </div>
    </div>

</div>