<h2>new movie</h2>

<form action="/movies/create" method="post">
    <!--form action sends the keys to the appointed area!!!-->

    <label>Title</label>
    <input type="text" name="title">
    <br>

    <label>Genre</label>
    <input type="text" name="genre">
    <br>

    <label>Plot</label>
    <textarea name="plot" cols="30" rows="10"></textarea>
    <br>

    <button type="submit">Save Movie</button>

</form>