<h2>Add the details to the movie here</h2>
<form action="/movies" method="post">
  <label for="title">Title</label>
  <input type="text" name="title">{{!-- why to put 'for' here? --}}
  <label for="genre">Genre</label>
  <input type="text" name="genre">
  <label for="plot">Plot</label>
  <input type="text" name="plot">

  <button type="submit">Save</button>
</form>