<h2>Add a new movie</h2>


<form class="form-group form-edit" action="/movies/new" method="POST">

    <div class='form-group row'>
        <label class="col-1">Title: </label>
        <input class="col-2 form-control" type='text' name="title">
    </div>

    <div class='form-group row'>
        <label class="col-1">Genre: </label>
        <input class="col-2 form-control" type='text' name="genre">
    </div>

    <div class='form-group row'>
        <label class="col-1">Plot: </label>
        <textarea class="col-10 form-control" type='text' name="plot"> </textarea>
    </div>

    <button class="btn btn-add" type='submit' class='btn btn-info'>Add!</button>

</form>