<h1>NEW Movie</h1>

<form action="/movies/create" method="POST">

<label for="title">Title</label>
<input type="text" name="title" id="title">

<label for="genre">Genre</label>
<input type="text" name="genre" id="genre">

<label for="plot">Plot</label>
<input type="textarea" name="plot" id="plot">

<label for="image">Image</label>
<input type="text" name="image" id="image">

<select name="actors">
    <option selected disabled>Pick A Celeb</option>
  {{#each actors}}
  <option value={{id}}>{{name}}</option>
  {{/each}}
</select>
<button>Add</button>
</form>