<h2>AquÍ seguimos y hasta ahora funciona todo</h2>
<form action="/movies/new" method="post">
 <label for="title">Título</label>
 <input type="text" name="title" value="" placeholder="Título">
  <label for="genre">Género</label>
 <input type="text" name="genre" value="" placeholder="Género">
  <label for="plot">Trama</label>
 <input type="text" name="plot" value="" placeholder="Trama">
 <button type="submit" name="button">Agregar</button>
</form>