<h2>Create New Movies</h2>
<form action="/movies/create" method="post">

<label>Title: </label>
<input type="text" name="title">
<br>

<label>Genre: </label>
<input type="text" name="genre">
<br>

<label>Plot: </label>
<input type="text" name="occupation">
<br>

<label>Celebrities: </label>
<select name= "celebrities" required = "true">
    {{#each allTheCelebs}}
        <option value = "null"></option> //makes author selector empty 
        <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>

<button type="submit">Save Movie</button>
</form>

