<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h2>Create your new movie</h2>

            <form id="form" action="/movies/new" method="post">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input name="genre" type="genre" class="form-control" id="genre">
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="plot">Plot</label>
                    <input name="plot" type="plot" class="form-control" id="plot">
                    <small class="form-text text-muted"></small>
                </div>

                <button type="submit" class="btn btn-dark">Create</button>

                <p class="error">{{errorMsg}}</p>
            </form>
        </div>
    </div>
</div>