<div class="container">
    <h2>{{moviesTitle}}</h2>
    <h3>Add a new Celebrity in our club!</h3>
    <form method="POST" action="/movies/new">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>Genre</label>
            <input type="text" class="form-control" name="genre">
        </div>
        <div class="form-group">
            <label>Plot</label>
            <input type="text" class="form-control" name="plot">
        </div>
        <button type="submit" class="btn-warning btn-lg">Let's join to the club!</button>

    </form>
</div>