<h2>Movie Details</h2>

<div>

    <h3>{{movie.name}}</h3>

    <p>Genre: {{movie.genre}}</p>

    <p>Plot: {{movie.plot}}</p>

</div>

<a href="/movies/{{movie.id}}/edit">Edit Movie</a>
<br>
<br>
<a href="/">Home</a>
<br>
<br>
<a href="/movies">Back</a>