<section class="details">
    <div class="container">
        <h2>About {{title}}</h2>
        <br>
        <hr>
        <ul>
            <li>Title: {{title}}</li>
            <li>Genre: {{genre}}</li>
            <li>Plot: {{plot}}</li>
        </ul>
        <a href="/movies" class="btn btn-primary btn-sm">Go back</a>
    </div>
</section>