<h2 class="details-header">Movie Details</h2>

<h3> {{movie.title}} </h3>

<h4 class="genre"> {{movie.genre}} </h4>

<span> {{movie.plot}} </span>
<br>
<br>
<a href="/movies/{{movie._id}}/edit">Edit Movie Details</a>
<br>
<br>
<a href="/movies">Go Back</a>