<h2 class="text-center text-secondary m-3 p-3">Details Page</h2>
<p class="text-center m-3 pt-3"> Name: {{title}}</p>
<p class="text-center m-3">Occupation: {{genre}}</p>
<p class="text-center m-3">catchPhrase: {{plot}}</p>