<section class="detailed-view container">

    <h2>Detailed view</h2>

    <ul>

        <li>Title: {{this.title}}</li>
        <hr>
        <li>Genre: {{this.genre}}</li>
        <hr>
        <li>Plot: {{this.plot}}</li>

    </ul>

    <a href="/movies" class="btn btn-dark">See all</a>

</section>