<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="display-1">{{title}}</h2>
            <hr>
            <h3 class="display-4">Genre:</h3>
            <p class="text-secondary">{{genre}}</p>
            <hr>
            <h3 class="display-4">Plot:</h3>
            <p class="text-secondary">{{plot}}</p>
            <hr>
        </div>
    </div>
</div>
