<div class="container">
    <div class="card">
        <h1>{{movie.title}}</h1>
        <h3><strong>GENRE: {{movie.genre}}</strong></h3>
        <h3><strong>PLOT: {{movie.plot}}</strong></h3>
    </div>
</div>