<div class="container">

    <h2>Detalle de peliculas:</h2>

    <hr>

    <h4>{{title}}</h4>

    <br>

    <p><strong>Genero:</strong> {{genre}}</p>
    <p><strong>Argumento:</strong> {{plot}}</p>
    <hr>

    <a href="/movies" class="btn btn-dark">Volver a listado de peliculas</a>

</div>