<div class="container">
    <h2>{{moviesTitle}}</h2>
    <p><strong>Title:</strong> {{title}}</p>
    <p><strong>Genre:</strong> {{genre}}</p>
    <p>"{{plot}}"</p>
    <a class="btn btn-warning btn-sm" href="/movies">Go back</a>
</div>