<div class="container">

    <h2>Movies Web Page</h2>

    <br>

    <ul>

        <h3>{{this.title}}</h3>
        <h5>{{this.genre}}</h5>
        <p>{{this.plot}}</p>


        <br>

    </ul>

</div>