<h2>Movie Details</h2>

<h4>{{movie.title}}</h4>
<h4>{{movie.genre}}</h4>
<h4>{{movie.plot}}</h4>

<a href="/movies/{{movie._id}}/edit">Edit Movie Details</a>
<br>
<br>

<a href="/movies">Go back to Movies</a>