<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class='body-error'>
  <div class="error">
    <h1>There was a problem loading this page</h1>
    <p>Try again later</p>
    <div><img src="/images/error_outline_white_192x192.png"></div>
  </div>
</body>
</html>