
<a href="/all-celebrities-page">Get back</a>


<h3>{{celebrity.name}}</h3>
<h4>{{celebrity.occupation}}</h4>
<h4>{{celebrity.catchPhrase}}</h4>

<br><a href="/celebrities/{{celebrity._id}}/delete">Delete celebrity</a>     

