<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
<header>
  <h1>Wanna learn more about celebrity ?</h1>

  
  <nav>
    <a href="/">Home</a>
    <a href="/all-celebrities-page">All the celebrities</a>
    <a href="/movies-page">All the movies</a>
  </nav>
</header>
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
