<h2>Add a celebrity!! 🤩</h2>


<form action="/process-celebrity" method="POST">
<input type= "text" name="name" placeholder="Name...">
<br>
<input type= "text" name="occupation" placeholder="Occupation..">
<br>
<input type= "text" name="catchPhrase" placeholder="Something I say a lot">
<br>


  <button>Save this Celebrity</button>
  </form>
