<h2>Edit the Information</h2>
<br>
<form action="/celebrities/a/<%= celebrity._id %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%=celebrity.name%>">
  <br>

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation" value="<%=celebrity.occupation%>">
  <br>

  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="<%=celebrity.catchPhrase%>">
  <br>

  <button type="submit">Confirm Changes!</button>
</form>
