<h2>Info for Celebrities</h2>
<br>
<ul>
  <li><strong>Name:</strong> <%= celebrity.name %></li>
  <li><strong>Occupation:</strong> <%= celebrity.occupation %></li>
  <li><strong>Favorite Quote:</strong> <%= celebrity.catchPhrase %></li>
</ul>
