<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>Añadir nueva película</h1>

            <form method="POST" action="/movies/new">

                <div class="form-group">
                    <label>Título</label>
                        <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Género</label>
                    <input type="text" class="form-control" name="genre">
                </div>
                <div class="form-group">
                    <label>Trama</label>
                    <input type="text" class="form-control" name="plot">
                </div>


                <button type="submit" class="btn btn-primary">Añadir</button>
            </form>
        </div>
    </div>



</div>