<h2>Adding celebrity page!</h2>
<hr>
<form action="/celebrities" method="POST">
    <div class="form-group"><label for="name">NAME</label><input name="name" placeholder="Enter new name" type="text" class="form-control"></div>
    <div class="form-group"><label for="occupation">OCCUPATION</label><input name="occupation"  placeholder="Enter occupation" type="text" class="form-control"></div>
    <div class="form-group"><label for="catchPhrase">CATCHPHRASE</label><input name="catchPhrase" placeholder="Enter catchphrase" type="text" class="form-control"></div>
    <button class="btn btn-success" type="submit">SUBMIT</button>
</form>