<h2>Celebrity's info page!</h2>
<hr>
<p>OUR MAIN HERO TODAY IS:{{celebrity.name}}. - Why? - Because he is the best {{celebrity.occupation}}. - And look at his phrase: "{{celebrity.catchPhrase}}"</p>
<a href="/celebrities">Return to celebrities page!</a>