<h2>Celebrity's info page!</h2>
<hr>
<p>OUR MAIN HERO TODAY IS: <span class="badge badge-secondary">{{celebrity.name}}</span>. - Why? - Because he is the best <span class="badge badge-secondary">{{celebrity.occupation}}</span>. - And look at his phrase: <span class="badge badge-secondary">"{{celebrity.catchPhrase}}"</span></p>
<a class="btn btn-primary" href="/celebrities">Return to celebrities page!</a>