<h2> List of Celebrities </h2>

  <ul>
    <% celebrities.forEach((oneCelebrity)=> { %>
      <li> <%=oneCelebrity.name %>
        <a href="/celebrities/<%= oneCelebrity._id %>"> View Details </a>
        <br>
      </li>
      <% }) %>
  </ul>


  <a href="/celebrities/new">
    Add a Celebrity
  </a>
