<h2> List of Celebrities </h2>

  <ul>
    <% celebrities.forEach((oneCelebrity)=> { %>
      <li> <%=oneCelebrity.name %>
        <a href="/celebrities/<%= oneCelebrity._id %>"> View Details </a>
          <!-- this makes for a better route address ^ -->
          <br>
      </li>
  <% }) %>
</ul>
