<h2>HEADING</h2>


<form action="/celebrities/<%= celebrities.id %>" method="post">
    <input type="text" value="Name" name="name">
    <input type="text" value="occupation" name="occupation">
    <input type="text" value="catchPhrase" name="catchPhrase">
    <input type="submit" value="Submit">
</form>