<h1>Actors</h1>
<br><br>

{{#each celebrities}}
<a href="/celebrities/show/{{ _id }}">{{name}}</a>&nbsp;
<a href="/celebrities/edit/{{ _id }}"> <img src="/images/edit.png" width="12px"></a>&nbsp;
<a href="/celebrities/delete/{{ _id }}"> <img src="/images/delete.png" width="12px"></a><br><br>
{{/each}}


<br><br>
<a href="/celebrities/add">Add new celebrity</a>