<h2>Header</h2>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <%= celebArr.forEach( (celebs) => { %>
        <li><%= celebs.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
