<h2>Celebrities</h2>
    

<ul>
    <% celebrities.forEach((celebrity) => { %>
        <li>

            <%= celebrity.name %>
            (<a href="celebrities/<%= celebrity.id%>">Details</a>)

        </li>
        <% })%>
</ul>