
<ul>
        <button class="btn btn-lg btn-primary">
            <a href="/celebrities/new/">Input New Celebrity</a>
        </button>
    <% celebrities.forEach((celebrity) => { %>
        <li>
           <h3> <%= celebrity.name %></h3>
           <button class="btn btn-info">
               <a href="/celebrities/<%= celebrity._id %>/show">View Details</a>
            </button>

            <button class="btn btn-info">
            <a href="/celebrities/<%= celebrity._id %>/edit/">Edit Celebrity Info</a>
            </button>

            <form action="/celebrities/<%= celebrity._id %>/delete" method="POST">
                <button class="btn-warning" type="submit">Delete Celebrity</button>
            </form>
        
        </li> <br>
    <% }) %>
</ul>
