<h2>heading</h2>

<ul>
    <% celebrities.forEach((celebrity) => { %>
      <li>
       <a href="/celebrities/<%= celebrity.id %>"> <%= celebrity.name %> </a>
       <form action="/celebrities/<%= celebrity.id %>/delete" method='post'><button>DELETE</button></form>
      </li>
    <%  }) %>
  </ul>

  <a href="/celebrities/new">New Celeb</a>