
<form action="/celebrities" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="Occupation">Occupation</label>
    <input type="text" name="occupation" id="occupation">
    <br>
    <label for="image-url">Image URL</label>
    <input type="text" name="imageUrl" id="image-url">
    <br>
    <label for="catchPhrase">Catchphrase</label>
    <textarea type="text" name="catchPhrase" id="catch-phrase"></textarea>
    <br>
    <button class="btn btn-success" type="submit">Input Celebrity</button>
</form>
<button class="btn btn-lg btn-primary"><a href="/celebrities/">Back to Celebrities</a></button>