<h2>There you can add any Celebrity that you  know about!!</h2>


<form action="/celebrities/process-create" method="POST">
  <input type="text" name="name" placeholder="What's the name?">
  <br>
  <input type="text" name="occupation" placeholder="What does she/he does?">
  <br>
  <input type="text" name="catchPhrase" placeholder="Tell us about her/his best catchphrase...">
  <br>
  <button type="submit"> Add a Celebrity</button>
</form>