<div>
  <h2>CREAR UNA CELEBRIDAD</h2>
  <form action="/celebrities/new" method="post">
    <label for="">Nombre:</label>
    <input name="name" type="text">

    <label for="">Ocupación:</label>
    <input name="occupation" type="text">

    <label for="">Frase Famosa:</label>
    <input name="catchPhrase" type="text">

    <button type="submit">Agregar</button>
  </form>
  </br>
</br>

<a href="/celebrities">Volver a la lista</a>

</div>