<form action="/celebrities" method="POST">
  <label for="name">Celebrity Name</label>
  <input type="text" name="name">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation">

  <label for="catchPhrase">Catchphrase</label>
  <input type="text" name="catchPhrase">

  <button type="submit">Add celebrity</button>
</form>
