<h1><%= celebrity.name %></h1>
<img height="250"src="<%= celebrity.imageUrl %>">
<h3>Occupation: <span><%= celebrity.occupation %></span></h3>
<p><%= celebrity.catchPhrase %></p>

<button class="btn btn-primary"><a href="/celebrities/">Back to Celebrities</a></button>