<!DOCTYPE html>
<html>
  <head>
    <title>Celebrity Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Celebrity Details </h2>
    <p> <%=celebrity.name %> </p>
    <p> <%=celebrity.occupation %> </p>
    <p> <%=celebrity.catchPhrase %> </p
  </body>
</html>
