<div>
  <h2>DETALLES DE LA CELEBRIDAD {{celebrity.name}}</h2>
  <p><b>Nombre</b>: {{celebrity.name}}</p>
   <p><b>Ocupación</b>: {{celebrity.occupation}}</p> 
   <p><b>Frase</b>: {{celebrity.catchPhrase}}</p> 
</div>