<h2><%= name %></h2>

<ul>
  <li><b>Name:</b> <%= name %></li>
  <li><b>Occupation:</b> <%= occupation %></li>
  <li><b>Catchprase:</b> <%= catchPhrase %></li>
</ul>

<a href="/celebrities">Go back to celebrities page</a>
