

<h1>Further Celeb info </h1>


  <a href="/celebrities">Back</a>


    <h1><%= celeb.name %></h1>

    <h3> His occupation: </h3> <%= celeb.occupation%>

    <h3> His famous words: </h3> <%= celeb.catchPhrase %>
