<h2>Add a new movie</h2>
<form action='/movies/create' method='post'>

  <div class="form-group">
    <label for="title">Movie title</label>
    <input type="text" class="form-control" id="title" name='title'>
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" class="form-control" id="genre" name='genre'>
  </div>

  <div class="form-group">
    <label for="plot">Plot</label>
    <input type="text" class="form-control" id="plot" name='plot'>
  </div>

  <a href='/'><button type="submit" class="btn btn-dark">Add</button></a>

</form>

