<h2>Add a new movie</h2>
<form action='/movies/create' method='post'>

  <div class="form-group">
    <label for="title">Movie title</label>
    <input type="text" class="form-control" id="title" name='title' placeholder="EL retorno de React">
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" class="form-control" id="genre" name='genre' placeholder="Thriller">
  </div>

  <div class="form-group">
    <label for="plot">Plot</label>
    <input type="text" class="form-control" id="plot" name='plot' placeholder="La historia de unos alumnos enfrentándose a un futuro incierto">
  </div>

  <a href='/'><button type="submit" class="btn btn-dark">Add</button></a>

</form>

