<br>
<h2>List of movies</h2>
<br>
<ul class="list-group">

    {{#each moviesArr}}
        <li class="list-group-item">

            <a href='/movies/{{this._id}}'>{{this.title}}</a>

            <form action='/movies/{{this._id}}/remove' method='post'>
            <br>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            <br> 
            <a href='/movies/{{this._id}}/edit'><button type="button" class="btn btn-primary">Edit</button></a> 

        </li>
    {{/each }}

</ul>

<br>
<br>

<a href='/movies/create'><button type="button" class="btn btn-primary">Create a new movie!</button></a> 
<a href='/'><button type="button" class="btn btn-primary">Go back!</button></a> 

