<form action="/movie/<%= movie._id %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="title" name="title" value="<%=movie.title %>">

  <label for="name">Occupation</label>
  <input type="text" id="genre" name="genre" value="<%=movie.genre %>">

  <label for="name">Phrase</label>
  <input type="text" id="plot" name="plot" value="<%=movie.plot %>">

  <button type="submit">Update Movie</button>
</form>
