<form action="/movie" method = "POST">

  <label>Name</label>
  <input type="text" name="titleinput"  >

  <label>Occupation</label>
  <input type="text" name="genreinput" >

  <label>Phrase</label>
  <input type="text" name="plotinput">

  <button>Submit</button>

</form>
