<h2> Page Movies </h2>

      <%=movie.title%><br>
      <%=movie.genre%><br>
      <%=movie.plot%><br><br><br>
<a href="/movies/<%=movie.id%>/edit"><button>Edit movie</button></a>
<a href="/movies"><button>Go back</button></a>
