<body id="index">
  <h1 class="title">¿Qué quieres ver hoy?</h1>
  <hr>
  <section class="padre">
    <section class="celeb gen">
      <a href="./celebrities">Celebridades</a>
    </section>
    <section class="pelis gen">
      <a href="./movies">Películas</a>
    </section>
  </section>
</body>
