<div class="container">
    {{#with celebrity}}
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h2>{{name}} ({{occupation}})</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="oblique">
                    <h3>"{{catchPhrase}}"</h3>
                </div>
            </div>
        </div>
    {{/with}}
    <div class="row">
        <div class="col-sm-12">
            <div class="lonely button">
                <a href="/celebrity">Go back to My Characters</a>
            </div>
        </div>
    </div>
</div>