<!DOCTYPE html>
<html>
  <head>
    <title>Movie World</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Movie World</h1>
    <p>Check out our new <a href="/celebrities">celebrities</a> profile</p>
  </body>
</html>
