<h2><%= theCeleb.nameCelebrity %></h2>
<div>
    <div class="row">
        <div class="col-md-6">
        <p><%= theCeleb.occupation %></p>
        <p><%= theCeleb.catchPhrase%></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
         <a href="/celebrities/<%= theCeleb._id %>/edit" class="btn btn-default"><button>Edit</button></a>

        </div>
    </div>

</div>
