<h2>Celebrities List</h2>



<% celebrities.forEach((oneCelebrity) => { %>

  <strong>Name: <%= oneCelebrity.name %> </strong>
  <a href="/celebrities/<%= oneCelebrity._id %>">View Details</a>
  <a href="/celebrities/<%= oneCelebrity._id %>/edit">Edit</a>
  <br>
  <form  action="/celebrities/<%= oneCelebrity._id %>/delete" method="post">
  <button>Delete</button>
  <br>

<% }); %>

<a href="/celebrities/new">Add New Celebrity</a>
