<!--layout.hbs-->
<h2>Celebrities</h2>
{{#each celebrities}}
<ul>
    <li>
        {{name}} - <a href="/celebrities/{{id}}">más info</a>
        <form action="/celebrities/{{id}}/edit" method="get">
            <button type="submit">edit</button>
        </form>
        <form action="/celebrities/{{id}}/delete" method="post">
            <button type="submit">delete</button>
        </form>
    </li>
</ul>
{{/each}}
<a href="/celebrities/new">Add celebrity</a>