<h2>Celebrity List</h2>

<% console.log("hi"); %>
<ul>
  <% celebrityRoutes.forEach((oneCelebrity) => { %>
    <li>
      <p>Name: <%=oneCelebrity.name%> <a href="celebrities/<%=oneCelebrity._id%>">More info</a></p>
    </li>
<%  }) %>
</ul>

<a href="/celebrities/new"> Add a new celebrity</a>
