<!--layout.hbs-->
<h2>Adding new celebrity</h2>
<form action="/celebrities" method="post">
    <label>Name:</label>
    <input type="text" name="name" placeholder="name">
    <label>Occupation:</label>
    <input type="text" name="occupation" placeholder="occupation">
    <label>catchPhrase:</label>
    <input type="text" name="catchPhrase" placeholder="catchPhrase">
    <input type="submit" value="enviar">
</form>