<link rel='stylesheet' href='/stylesheets/style.css' />

<h2>Create a celebrity</h2>

  <form action="/celebrities" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="occupation">Occupation</label>
    <input type="text" name="occupation">

    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Create a Celeb'</button>


  </form>
