<h2>Celebrity Show Page</h2>
  <p>
    <li>Name: <%=celebrity.name%></li>
    <li>Ocupation: <%=celebrity.ocupation%></li>
    <li>CatchPhrase: <%=celebrity.catchPhrase%></li>
   <br/>
   <img src="<%=celebrity.profileImage%>"</li>
  </p>
