<h1><%= celebrities.name %></h1>
<h2>Is currently working as a <span><%= celebrities.occupation %></span></h2>
<h3>You might know him for phrases like: "<%= celebrities.catchPhrase %>"</h3>

<a href="/celebrities">&lArr; Go back to the celebrities index</a>
