<link rel='stylesheet' href='/stylesheets/style.css' />

<h2>Details of <%= celebrity.name %></h2>
<ul>
  <li>
    Name: <%= celebrity.name %>
  </li>
  <li>
    Occupation: <%= celebrity.occupation %>
  </li>
  <li>
    Catch Phrase: <%= celebrity.catchPhrase %>
  </li>
</ul>
