<h2>New Book</h2>

<form action="/books" method="POST">

  <label for="title">Title:</label>
  <input type="text" name="title" required />

  <label for="genre">Genre:</label>
  <input type="text" name="genre" required />

  <label for="plot">Plot:</label>
  <input type="text" name="plot" required />

  <button type="submit">Submit</button>

</form>