body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.movie-card {
  text-align: center;
}

.movie-card h2 {
  color: darkgrey;
}

.movie-card h3 {
  font-size: 1vw;
}

.movie-create-button {
  margin-top: 5vw;
  background-color: lawngreen;
  color: grey;
  padding: 4vw;
}

.movie-create-button:hover {
  background-color: violet;
  font-size: 2vw;
}