<h2>Add a Celebrity</h2>

<form action="/celebrities/new" method="post">
  <p>
    <label for="name">Name</label>
    <input placeholder="Sofía Vergara" id="name" name="name" type="text"> 
  </p>

  <p>
    <label for="occupation">Occupation</label>
    <input placeholder="Actress" id="occupation" name="occupation" type="text">
  </p>

  <p>
    <label for="catchPhrase">Quote</label>
    <textarea placeholder="All you need is love and tacos..." id="catchPhrase" name="catchPhrase" type="text"></textarea>
  </p>

  <input type="submit" value="Add">
</form>