
<body>
  <a href="/celebrities/c-list"><button>All Celebrities</button></a>

  <div>
    <h1>{{name}}</h1>
    <br>
    <h2>{{occupation}}</h2>
    <br>
    <p>Quote: "{{catchPhrase}}"</p>
    <br>
    <a href="/celebrities/c-list/{{this.id}}/edit"><button>Edit</button></a>
  </div>
  
</body>
