<form action="/celebrities/<%= celebrity._id %>/edit" method="POST">

<input type="text" name="name" placeholder="name" value="<%= celebrity.name %>"/>
<input type="text" name="name" placeholder="ocuupation" value="<%= celebrity.occupation %>"/>
<input type="text" name="name" placeholder="catchPurchase" value="<%= celebrity.catchPurchase %>"/>
<button type="submit">Edit</button>

</form>