<h1>Edit celebrity.</h1>
<form action="/celebrities/<%= celebrity._id %>" method="post">
  <label for="title">Name</label>
  <input type="text" name="name" value="<%= celebrity.name %>">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" value="<%= celebrity.occupation %>">
  <label for="catchPhrase">SuperStellarQuote</label>
  <input type="text" name="catchPhrase" value="<%= celebrity.catchPhrase %>">
  <input type="submit" value="Send">
</form>