<h1>Edit Celebrity</h1>
<form action="/process-edit/{{celeb._id}}" method="post">
  <input type="text" name="name" value="{{celeb.name}}" placeholder="name">
  <br>
  <input type="text" name="occupation" value="{{celeb.occupation}}" placeholder="occupation">
  <br>
  <input type="text" name="catchPhrase" value="{{celeb.catchPhrase}}" placeholder="catch Phrase">
  <br>
  <button>Save</button>
</form>

