{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<h1 class="check-the-celebrities">Welcome to the celebrities info page<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp click =></h1>
<a class="check-the-celebrities movies" href="/movies">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCheck the Movies </a>
<a class="check-the-celebrities" href="/celebrities">Check the celebrities &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
<a class="check-the-celebrities" href="/celebrities/the-new-window">Create New</a>
<img class="cover-image" src="images/celebBackground.jpg" alt="celeb Background">