<section id="celebrities">
  <h1>LIST OF CELEBRITIES</h1>
  <ul>
  {{#each celebs}}
    <li>
      <p>{{this.name}}</p><a href="celebrities/{{this._id}}">See more</a> 
    </li>
  {{/each}}
  </ul>
  <a href="/celebrities/new">ADD a new Celebrity</a>
  
</section>