<h2>Page Heading</h2>

{{#each celebrities}}
<a href="celebrity/{{this._id}}">
  <h5>{{this.name}}</h5>
</a>
<form action="/celebrities/{{this.id}}/delete" method="POST">
    <button type="submit" class="btn btn-success">Delete</button>
  </form>
<form action="/celebrities/{{this.id}}/edit" method="POST">
    <button type="submit" class="btn btn-success">Edit</button>
  </form>

{{/each}}