{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<h1 class="check-the-celebrities">Welcome to the celebrities info page<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp click =></h1>
<a class="check-the-celebrities" href="/celebrities">check the celebrities</a>
<a class="check-the-celebrities" href="/celebrities/new">create new</a>
<img class="cover-image" src="images/cinema.jpg" alt="">