<h2>Add a Celebrity</h2>

<form action="/celeb" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">Quote</label>
  <textarea type="text" name="catchPhrase" id="catchPhrase"></textarea>

  <button type="submit">Add Celebrity</button>
</form>
