<h1>Introduce New Celebrity.</h1>
<form action="/celebrities" method="post">
  <label for="title">Name</label>
  <input type="text" name="name">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation">
  <label for="catchPhrase">SuperStellarQuote</label>
  <input type="text" name="catchPhrase">
  <input type="submit" value="Send">
</form>