
<h2>Add a new celebrity</h2>
<a href="/celebrities">Back to all celebrities</a>
<form action="/createCelebrity" method="POST">
  <input type="text" name="name" placeholder="Name..." style="margin:10px">
  <br>
  <input type="text" name="occupation" placeholder="Occupation..." style="margin:10px">
  <br>
  <input type="text" name="catchPhrase" placeholder="Catch phrase..." style="margin:10px">
  <br>  
  <button style="margin:10px"> Save new celebrity</button>
</form>
