<form action="/celebrities" method="POST">

<input type="text" name="name" placeholder="name"/>
<input type="text" name="name" placeholder="ocuupation"/>
<input type="text" name="name" placeholder="catchPurchase"/>
<button type="submit">Insert new</button>

</form>