<div>

{{!-- Helloooooo --}}
<form method="/celebrities" action="POST">
  <label for="name">Name of celebrity</label>
  <input type="text" name="name" id="name"><br>
  <label for="occupation">Occupation of celebrity</label>
  <input type="text" name="occupation" id="occupation"><br>
   <label for="occupation">description of celebrity</label>
  <input type="text" name="description" id="occupation"><br>
  <button type="submit">SUBMIT</button>
</form>
<a href="/celebrities">Go back to celebrities page</a>

</div>