<h1>New Celebrity</h1>
<form action="/process-celeb" method="post">
  <input type="text" name="name" placeholder="name">
  <br>
  <input type="text" name="occupation" placeholder="occupation">
  <br>
  <input type="text" name="catchPhrase" placeholder="catch Phrase">
  <br>
  <button>Save this Celebrity</button>
</form>


