<h2>Add a Celebrity</h2>

<form action="/celebrities/new" method="post">
<p>
 <label for="name">Full Name</label>
 <input placeholder="Chris Pratt, AngelinaJolie,..." id="name" name="name" type="text"> 
</p>

<p>
  <label for="occupation">Occupation</label>
  <input placeholder="Actor, Comedian,..." id="occupation" name="occupation" type="text">
</p>

<p>
<label for="catchPhrase">Catch Phrase</label>
 <textarea placeholder="Celebrity is intoxicating..." id="catchPhrase" name="catchPhrase" type="text"></textarea>
</p>

<input type="submit" value="Send">
</form>