


Hello creation



<h1>Edd a New celebrity To The Library</h1>


<form action="/celebrities/new" method="POST">

    <label for="">Name</label>
    <input type="text" name="celebName">

    <label for="">Description</label>
    <input type="text" name="occupation">

    <label for="">ctchPhrase</label>
    <input type="text" name="ctchPhrase">

    <label for="">imageSrc</label>
    <input type="text" name="image">

    <button>Create</button>



</form>