<h2>New</h2>
<form action="/celebrities/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="ocupation">Ocupation:</label>
  <input type="text" name="ocupation">

  <label for="catchPhrase">Catchphrase:</label>
  <input type="text" name="catchPhrase">

  <button type="submit">Add a celebrity</button>
</form>