<h2>Celebrity Detail</h2>
<h3> <%= celebrity.name %> </h3>
<p> <%= celebrity.occupation %> </p>
<quote> SuperEstelarQuote: "<%= celebrity.catchPhrase %>" </quote>
<a href="/celebrities"><button class="home-btn">Check our Celebrities!</button></a>