<div class="celebrity-details-container">
  <h2>Name: {{name}}</h2>
  <p>
    Occupation: {{occupation}}<br>
    Catch Phrase: {{catchPhrase}}
  </p>
  <form action="celebrities/:id/delete" method="pst">
    <button type="submit">Delete</button>
  </form>
</div>