<div>
  Hello
  {{!-- {{#each celebrities}} --}}
    <h1>{{celebrity.name}}</h1>
    <h2>{{celebrity.occupation}}</h2>
    <p>{{celebrity.catchPhrase}}</p>
    <a href="/celebrities">Go back to celebrities page</a>
  {{!-- {{/each}} --}}
  </div>