<h2>Celebrity Details</h2>
<ul>
  <li>
    <div>
      <p>Name: {{celebrity.name}}</p>
    </div>
  </li>
  <li>
    <div>
      <p>Occupation: {{celebrity.occupation}}</p>
    </div>
  </li>
  <li>
    <div>
      <p>Catch Phrase: {{celebrity.catchPhrase}}</p>
    </div>
  </li>
</ul>

<a href="/celebrities">Go back to the list</a>