<section id="celebrity">
  <h1>DETAILS</h1>
  <h1>{{title}}</h1>
  <ul>
    <li>
      <h4>{{celeb.name}}</h4>
      <h5>Occupation: {{celeb.occupation}}</h5>
      <p>Catch Phrase: {{celeb.catchPhrase}}</p>
    </li>
  </ul>
  <a href="/celebrities">Go back!</a>
</section>