

{{#if message}}
<div>{{message}}: welcome {{user.username}}</div>
{{/if}}

<a class="check-the-celebrities" href="/celebrities/new">Create New Celebrity</a>

<a class="check-the-celebrities movies" href="/movies/new">Create New Movie</a>

<img class="cover-image" src="../images/cinema.jpg" alt="celeb Background">

