<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>The celebrity section</h1>

    <a href="/celebrities"> See the list of celebrities </a>

    <h1>The movie section</h1>

    <a href="/movies"> See the list of movies </a>

  </body>
</html>
