<h1>Nuevo Pelicula </h1>

<form action="/moviess/add" method="post">
    <label for="">Titulo:</label>
    <input type="text" name="title">

    <label for="">Genero:</label>
    <input type="text" name="genre">

    <label for="">Trama:</label>
    <input type="text" name="plot">

    <button type="submit">Crear</button>
</form>