<form action="/celeb" method = "POST">

  <label>Name</label>
  <input type="text" name="Nameinput"  >

  <label>Occupation</label>
  <input type="text" name="Occupinput" >

  <label>Phrase</label>
  <input type="text" name="Phraseinput">

  <button>Submit</button>

</form>
