<h1>Sign Up</h1>
<form action="signup" method="POST">
  <input type="hidden" name="latitude">
  <input type="hidden" name="longitude">
  <div>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
  </div>

  <div id="acquiring">Acquiring location...</div>

  <div>
    <button disabled>Submit</button>
  </div>
</form>
{{#if messages.length}}
<p>
  <ul>
    {{#each messages}}
    <li>{{this}}</li>
    {{/each}}

  </ul>
</p>
{{/if}}