<h2>CELEBRITY NAMES</h2>
<ul>
    <% celebrities.forEach((celeb) => { %>
        <li>
         <%= celeb.name %> - <a href="/celebrities/<%= celeb._id %>">Details</a>
        </li>
    <%  }) %>
</ul>

<a href="/">Back to Main</a>