<form action="http://localhost:3006/celebrities" method="POST">

  <input type="text" name="name" value="name" >
  <input type="text" name="occupation" value="occupation">
  <input type="text" name="catchPhrase" value="catchPhrase">

  <button type="submit">CREATE</button>
</form>
