<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> <a href="/celebrities"> Check my celebrities list </a> </p>
    <p> <a href="/celebrities/new"> ¿You want to add a new celebrity? </a> </p>
  </body>
</html>
