<h2> Celebrity List </h2>

<!--<a href="/products/new"> Add a New Product </a>-->

<ul>
  <% listOfcelebrities.forEach((oneCelebrity) => { %>
    <li>
      <h3> <%= oneCelebrity.name %> </h3>
      <p> $<%= oneCelebrity.occupation%> </p>
        <p> $<%= oneCelebrity.catchPhrase%> </p>

    </li>
  <% }) %>
</ul>
