<nav>
      <a href="/">Home</a>
      <a href="/celebrities"> Celebrities </a>

    <%celebrityDetails.forEach((oneCelebrity) => { %>
        <a href=`/celebrities/<%=oneCelebrity._id%>/edit`>Go to the specific celbrity</a>

        <%})%>


  </nav>
