<h1> Add your favorite character </h1>
<form action="/create-the-char" method="POST">
  <p>Name</p>
  <input type="text" name="theNewCharacterName">
  <p>Movie</p>
  <input type="text" name="theNewCharacterMovie">
  <p>Quote</p>
  <input type="text" name="theNewCharacterQuote">
  <button> Save!</button>


</form>