html{
	font-size: 16px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.list-home {

}

.list-celebrities, .list-movies {
	.celebrities-name, .movies-name{
		padding-right: 20px;
	} 
	form {
		display: inline-block;
	}
	.btn {
		font-size: 0.85rem;
		padding: 5px 15px;
		border-radius: 5px;
		cursor: pointer;
		&:first-child{
			margin-right: 5px;
		}
	}
	.celebrities-create, .movies-create {
		font-size:  1.125rem;
		display: inline-block;
		margin-top: 20px;
		border: 1px solid #00B7FF;
		border-radius: 6px;
		padding: 8px 12px;
		background-color: #00B7FF;
		color: #FFF;
	}
}