NEW CELEBS


<form action="/celebRoutes/create" method="POST">

Name: 
<input type="text" name="theName"> <br>

Occupation: 
<input type="text" name="theOccupation"> <br>

Catchphrase: 
<input type="text" name="theCatchPhrase"> <br>

<button>Save</button>

</form>


{{!-- <input type="submit" value="Submit" > --}}