<h1> CELEBRITIES LIST </h1>

{{#each celebrities}}
    {{this.name}}
    <a href="/celebrities/{{this._id}}">View More</a>
    <a href="/celebrities/{{this._id}}/delete">Delete</a>
     
    <br>
{{/each}}


<br>
<a href="/celebrities/new">Add a new celebrity</a>