
<div>
  <div id="celebrities">
    {{#each celebrities}}
    <h2>{{this.name}}</h2>
   <p>
   <a href="/celebrities/show/{{this._id}}">See More </a>
  </p>
 {{/each}} <br/>
 <button><a href="/celebrities/new"> Add a New Celebrity</a></button>
  </div>
</div>
















