<div id="movies">
<h1>Edit Movie</h1>

<form action="/movies/edit/{{_id}}" method="post">
   <p>
    <label for="title">Movie Name</label>
    <input type="text" name="title" value="{{title}}">
   </p> 
   <p>
    <label for="genre">Genre</label>
    <input type="text" name="genre" value="{{genre}}">
   </p>
    <p>
    <label for="plot">Plot</label>
    <input type="text" name="plot" value="{{plot}}">
    </p>
     <button type="submit" value="Save">Save</button>  
</form>
</div>