
<div id="homepage-container">
    <div>
        <h1>Welcome to Our Celebrities <br/>and Movies Page</h1>
    </div>

    <div id="homepage-buttons">
        <button><a href="/celebrities"> Check the Celebrities</a></button>
        <button><a href="/movies"> Check the Movies</a></button>
    </div>
</div>

