<h1>Celebridades y películas</h1>
<p>¡Encuentra tus favoritos celebridades y películas!</p>

<a href="/celebrities"><button>Busca celebridades</button></a>
<a href="/movies"><button>Busca películas</button></a>