<div id="movies">
<h2>Add a New Movie</h2>
<form action="/movies/new" method="post">
   <p>
    <label for="title">Movie Name</label>
    <input type="text" name="title">
   </p> 
   <p>
    <label for="genre">Genre</label>
    <input type="text" name="genre">
   </p>
    <p>
    <label for="plot">Plot</label>
    <input type="text" name="plot">
    </p>
    <button type="submit" value ="Add New Movie">Add New Movie</button> 
</form>
</div>