  <h1> Adding a new celebrity</h1>

  <form action="/celebrities" method="POST">

    <input id="celebrity-name" type="text" name="name">
    <input id="celebrity-occupation" type="text" name="occupation">
    <input id="celebrity-catchPhrase" type="text" name="catchPhrase">
    

    <input type="submit" value="Add a new celebrity">
    
  </form>

  <a href="/celebrities">Go to celebrity page</a>