<h2>Coloca la informacion de tu celebridad</h2>

<form action="/celebrities/new" method="POST">
    <p>
  <label for="title">Nombre del famoso:</label>
  <input type="text" name="name" placeholder="Tom Cruise">
  </p>
  <p>
  <label for="title">Ocupacion:</label>
  <input type="text" name="occupation" placeholder="actor,cartoon,comedian ...">
  </p>
  <p>
  <label for="title">Frase:</label>
  <textarea type="text" name="catchPhrase" placeholder="..."></textarea>
  </p>
  <input type="submit" value="guardar">
</form>