<h1>Create User</h1>

<form action="/signup" method="POST">
  <div>
    <label>Username</label>
    <input type="test" name="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password">
  </div>

  <div>
    <label>Role</label>
    <select name="role">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
      <option value="Guest">Guest</option>
    </select>
  </div>
  <button>Save</button>
</form>