<h1>This is your profile</h1>

<h3>Welcome {{currentUser.username}}</h3>
<p>{{currentUser.email}}</p>
<img src={{currentUser.image}}>

<form action="/me/delete" method="POST">
  <button>Delete My Account</button>
</form>