<h1>SIGNUP TO MY THING.</h1>


<form action="/user/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <button>Sign me up!</button>
</form>