<a href="/celebrities">Return</a>
<h1>Edit this celebrity</h1>
<div >
  <label for="">Name:</label>
  <input type="text" id="name">

  <label for="">Occupation:</label>
  <input type="text" id="occupation" >

  <label for="">Catch Phrase:</label>
  <input type="text" id="catchPhrase">
  {{!-- material button --}}
  <button class="foo-button mdc-button mdc-button--raised" id="new-celebrity-button" type="submit">Add celebrity</button>
<div/>

<div>

    <ul id="celebrity-list">

    </ul>

    
</div>
