<h2>Add your celibrity</h2>

<form action='/celebrities/new' method='post'>

  <div>
    <label for="name">Celebrity name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Voy">
  </div>

  <div>
    <label for="occupation">Occupation</label>
    <input type="text" class="form-control" id="occupation" name='occupation' placeholder="a morir">
  </div>

  <div>
    <label for="catchPhrase">Main Phrase</label>
    <input type="text" class="form-control" id="catchPhrase" name='catchPhrase' placeholder="pronto">
  </div>

  <a href='/'><button type="submit">Create</button></a>

</form>
