  
  <ul>
    {{#each celeberty}}
    <li>
      <h2>{{{this.name}}}</h2>
      <a href="/celeberties/{{this._id}}">See more</a>
    </li>
    {{/each}}

  </ul>

    <a class = "button" href="/new-celeberty">Add new Celeberty</a>


