<h2>Edit Celebrity</h2>
{{#with celeb}}
<form action="/celeberties/{{_id}}" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="{{name}}">
  <label for="occupation">Occupation: </label>
  <input type="text" name="occupation" id="occupation" value="{{occupation}}">
  <label for="catchPhrase">Catchphrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
  <button type="submit">Submit</button>
</form>
{{/with}}