<h2>Add a new Celeberty</h2>
{{#if falseInput}}
<div class="error">
<p> Please fill out all fields in order to add the celeberty</p>
</div>
{{/if}}



<form action="/new-celeberty" method="post">
  <span class = "input"><p>Name:</p> <input type="text" name="name"></span>
  <span class = "input" ><p>Occupation: </p> <input type="text" name="occupation"></span>
  <span class = "input"><p>Catch-Phrase: </p><input type="text" name="catchPhrase"></span>
  <button class = "button" type="submit">Add</button>
</form>