<h2>{{movie.title}}</h2>

<ul>
  <li><b>Title: </b>{{movie.title}}</li>
  <li><b>Genre: </b>{{movie.genre}}</li>
  <li><b>Plot: </b> <i>"{{movie.plot}}"</i></li>
</ul>

<a href="/movies">Back to list</a>