<h2>Celebrities List</h2>

<% celebridades.forEach( celeb => { %>

    <li>
      VIP name:<%= celeb.name %>
    </li>
    <li>
      Occupation:  <%= celeb.occupation %>
    </li>
    <li>
    Favourite Phrase:  <%= celeb.catchPhrase %>
    </li>
    <br>
  <% }) %>
</ul>
