<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Celebrities</title>
</head>
<body>

  <h2>Celebrities:</h2>

  <ul>
    <% celebs.forEach((celeb) => { %>
      <li>
        <a href="/celebrities/<%= celeb._id %>">
          <%= celeb.name %>
        </a>
      </li>
      <% }); %>
    </ul>

    <a href="/celebrities/new"><h2>Add a new celebrity</h2></a>
  </body>
  </html>
