<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

		<a href="/celebrities/new">Add a celeb!</a>

		<ul>
			<% celebs.forEach((fakeCeleb) => { %>
				<li><a  href="/celebrities/<%= fakeCeleb._id%>"><%= fakeCeleb.name %></a></li>
			<% }) %>
		</ul>

  </body>
</html>
