<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add a celebrity</title>
</head>
<body>

  <h2>Add a celebrity:</h2>

  <form action="/celebrities/new" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="occupation" placeholder="Occupation">
    <input type="text" name="catchPhrase" placeholder="Favorite catch-phrase">
    <button type="submit">Submit</button>
  </form>

</body>
</html>
