<h2>Adding New Celebrities</h2>
<form action="/celebrities" method="POST">
	<label>Name: <input type="text" name="name"></label>
	<label>Occupation: <input type="text" name="occupation"></label>
	<label>Catch phrase: <input type="text" name="catchPhrase"></label>
	<button>Add new celebrity</button>
</form>