<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= celeb.name %></title>
</head>
<body>

  <h2><%= celeb.name %>:</h2>

  <ul>
    <li>Occupation: <%= celeb.occupation %></li>
    <li>Most famous catch-phrase: <%= celeb.catchPhrase %></li>
  </ul>

  <a href="/celebrities">Go back to the list of celebrities...</a>
</body>
</html>
