<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
<div class="allMovies">


    {{#each listOfMovies}}
      <div class="each-movie">

        <h3>{{this.title}}</h3>
        <button class="btn btn-warning"><a href="/movies/{{this._id}}">See more</a></button>
        <br>
        <br>
        <form action="/movies/delete/{{this._id}}" method="POST">
        <button class="btn btn-danger"> Delete this movie </button>
        </form>


      </div>
    {{/each}}

  <div class="create-new">

    <h4>Want to create a new movie?</h4>
    <button class="btn btn-success"><a href="/movies/new">Create!</a> </button>

  </div>
</div>
