


<h1>Get The List of Movies</h1>
<button id="fetch-movies">Fetch Movies</button>

{{!-- <button id="add-movies">Add Movies</button> --}}
  
<div id="add-form">
      <label for="">Title</label>
      <input type="text" id="title1">
  
      <label for="">Genre</label>
      <input type="text" id="genre1">
  
      <label for="">plot</label>
      <input type="text" id="plot1">
  
      <label for="">imageSrc</label>
      <input type="text" id="image1">

      <button id="create-movies" >Create</button>
</div>

<div id="results"></div>

  <script src="/javascripts/script.js"></script>