<h2>Add a new movie</h2>
<a href="/movies">Back to all movies</a>
<form action="/createmovie" method="POST">
  <input type="text" name="title" placeholder="Title..." style="margin:10px">
  <br>
  <input type="text" name="genre" placeholder="genre..." style="margin:10px">
  <br>
  <input type="text" name="plot" placeholder="plot..." style="margin:10px">
  <br>  
  <button style="margin:10px"> Save new movie</button>
</form>
