Hello creation



<h1>Edd a New Movie To The Library</h1>


<form action="/movies/new" method="POST" enctype="multipart/form-data">

    <label for="">Title</label>
    <input type="text" name="title">

    <label for="">Genre</label>
    <input type="text" name="genre">

    <label for="">plot</label>
    <input type="text" name="plot">

    <label for="">imageSrc</label>
    <input type="text" name="image">

    <label>Poster</label>
    <input type="file" name="photo">

    <label for="">Actors</label>
    <select name="actors">
        {{#each actors}}
    <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <button>Create</button>

</form>