<section id="movie">
  <h1>DETAILS</h1>
  <h1>{{title}}</h1>
  <ul>
    <li>
      <h2>{{movie.title}}</h2>
      <h4>Genre: {{movie.genre}}</h4>
      <p><b>Plot: </b>{{movie.plot}}</p>
    </li>
  </ul>
  <a href="/movies">Go back!</a>
</section>