<h2>Movie Details</h2>
<ul>
  <li>
    <div>
      <p>Title: {{movie.title}}</p>
    </div>
  </li>
  <li>
    <div>
      <p>Genre: {{movie.genre}}</p>
    </div>
  </li>
  <li>
    <div>
      <p>Plot: {{movie.plot}}</p>
    </div>
  </li>
</ul>

<a href="/movies">Go back to the list</a>