<p><strong>Name of the celebrity:</strong> {{singleCelebrity.name}}</p>
<p><strong>Occupation</strong> {{singleCelebrity.ocupation}}</p>
<p><strong> Phrase: </strong> {{singleCelebrity.catchPhrase}}</p>
<a href="/celebrities"> Go back</a>