<h2>Edit <%= celeb.name %></h2>

<form action="/celebrities/<%= celeb.id %>" method="POST">
  <label for="name">EDIT Name: </label>
  <input type="text" id="name" name="name">

  <label for="price">EDIT Occupation: </label>
  <input type="text" id="occupation" name="occupation">


  <label for="image-url">EDIT Catch Phrase: </label>
  <input type="text" id="catchPhrase" name="catchPhrase">


  <button type="submit">SAVE UPDATES</button>
</form>