<h2>The list of our celebs!</h2>
<ul><% theCelebritiesRetrieved.forEach((element) => { %>
    <li><a href="/celebrities/<%= element.id %>"><%= element.name %></a>
      <form action="/celebrities/<%= element.id%>/delete" method="POST">
         <button type="submit">Delete</button>
      <a href="/celebrities/<%= element.id%>/edit">Edit</a>
    <% }); %>
    </li>
</ul>