<h2>Add a new Celebrity to our database!</h2>

<form action="/celebrities/new" method="POST">
  <label for="name">Name: </label>
  <input type="text" id="name" name="name">

  <label for="price">Occupation: </label>
  <input type="text" id="occupation" name="occupation">


  <label for="image-url">Catch Phrase: </label>
  <input type="text" id="catchPhrase" name="catchPhrase">


  <button type="submit">Create Celebrity</button>
</form>
