<h2>The profile of <%= celeb.name %></h2>

<ul>
    <li>Celebrity's full name: <strong><%= celeb.name %></strong></li>
    <br>
    <li>Celebrity's occupation: <strong><%= celeb.occupation %></strong></li>
    <br>
    <li>Celebrity's catch phrase: <strong><%= celeb.catchPhrase %></strong></li>
    <br>
</ul>