<h1>Get The List of Movies</h1>
<button id="fetch-movies">Fetch Movies</button>

<form class="half-width">
    <label for="title">Title</label>
      <input type="text" name="title" id="addTitle">

      <label for="director">Director</label>
      <input type="text" name="director" id="addDirector">

      <label for="description">Description</label>
      <input type="text" name="description" id="addDescription">

      <label for="image">Image link</label>
      <input type="text" name="image" id="addImage">

      <button id="addMovie" class="btn">Add</button>
</form>

<div id="listOfMovies"></div>