<h1>IronHack Wall of Fame</h1>

{{#if message}}
<div>{{message}}</div>
{{/if}}

{{!-- {{#if theUser}}
<div>You are logged in as {{theUser.username}}</div>
{{/if}} --}}


<a class="btn" href="/characters">Check out our characters</a>

<span>or ...</span>

<a class="btn" href="/celebrities">Check out our celebrities</a>

<span>or ...</span>

<a class="btn" href="/movies">Check out our movies</a>

{{!-- <a class="btn" href="/recipes">Cook with one of our recipes</a> --}}
