<h1>IronHack Wall of Fame</h1>
<a class="btn" href="/celebrities">Check out our celebrities</a>

<span>or ...</span>

<a class="btn" href="/movies">Check out our movies</a>

{{!-- <a class="btn" href="/recipes">Cook with one of our recipes</a> --}}
