<h2>Edit this Movie</h2>
<form action="/movie/editOne" method="POST" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">

  <label>Director</label>
  <input type="text" name="director">

  <label>Description</label>
  <input type="text" name="description">

  <label>Poster</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>