<h1>Add a New Famous Cat to Our List</h1>


<form action="/celebrities/create" method="POST">

    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Occupation</label>
    <input type="text" name="occupation">

    <label for="">Catch Phrase</label>
    <input type="text" name="catchPhrase">

    <label for="">Photo link</label>
    <input type="text" name="photo">

    <button class="btn">Add</button>



</form>