<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Celebrities Details</h1>

  <a href="/">Back</a>

  <h2><%= celebrities.name %></h2>
  <h2><%= celebrities.occupation %></h2>
  <p>
    <%= celebrities.catchFrase %>
  </p>
</body>

</html>
