<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Holaaaaaaaaaaaaaa</h1>


    <%- body %>
  </body>
</html>
