<!-- Views/detailsOfCelebsPage  -->

<h2> <%= celebrity.name %> </h2>
<br>

<div>
  <div>
    <p>Occupation:
      <%= celebrity.occupation %>
    </p>
  </div>

  <br>
  <div>
    <p>Catchphrase:
      <%= celebrity.catchPhrase %>
    </p>
  </div>
</div>

<br>
<a href="/celebrities">Check out the list of Celebrities we have!</a>
<br>

<br>
<strong><p> Or </p></strong>

<a href="/movies">Check out the List of Movies we have!</a>
