<h2>Celebrities</h2>

<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li> <%= celebrity.name %>
    <%= celebrity.occupation %>
     <%= celebrity.catchPhrase%></li>
  <a href="/celebrities/<%= celebrity._id %>">Details</a>
  <% })%>
</ul>

<a href="/products/new">New Product</a>
