<h2>Add new celebrity</h2>

<form method="POST" action="/process-celebrities">
  <input type="text" name="name">
  <input type="text" name="occupation">
  <input type="text" name="catchPhase">

  <button>Add celebrity</button>
</form>