<h2>Add a Celebrity</h2>

<form action="/celebrities" method="POST">
  <ul>
    <li>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name">
    </li>
    <br>
    <li>
      <label for="occupation">Occupation: </label>
      <input type="text" id="occupation" name="occupation">
    </li>
    <br>
    <li>
      <label for="catchPhrase">Catch-phrase: </label>
      <input type="text" id="catchPhrase" name="catchPhrase">
    </li>
    <br>
    <li>
      <button type="submit">Create</button>
    </li>
  </ul>
</form>
