<h2> New Celebrity</h2>



<form method="post" action="/celebrities">
  <div>
    <label for="name"> Celebrity Name: </label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="occupation"> Occupation: </label>
    <input type="text" name="occupation" id="occupation">
  </div>

  <div>
    <label for="catchPhrase"> Catchphrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase">
  </div>

  <button> Add this celebrity </button>
</form>
