<h2>Celebrities</h2>

<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li> <%= celebrity.name %> (<%= celebrity.occupation %>)(<%= celebrity.catchPhrase%>)</li>
  <% })%>
</ul>

<a href="/products/new">New Product</a>
