<div class="lista">
  <h2>Actualizar película</h2>
  <form action="/movies/edit/{{_id}}" method="post">
    <p>
      <label for="title">Título: </label>
      <input type="text" name="title" placeholder="Título" id="title" value="{{title}}">
    </p>
    <p>
      <label for="genre">Género: </label>
      <input type="text" name="genre" placeholder="Género" id="genre" value="{{genre}}">
    </p>
    <p>
      <label for="plot">Trama: </label>
      <input type="text" name="plot" placeholder="Trama" id="plot" value="{{plot}}">
    </p>
    <input type="submit" value="Actualizar">
  </form><hr><br>
  <a href="/movies/" class="button">Cancelar</a>
</div>