<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Movies and Celebrities</h1>
    <p>Welcome to this amazing site, please choose what information you want to check</p>
    <button style="margin-left:20px; margin-bottom:10px; height:60px; width: 200px; background-color:cyan; border-radius:5px; border:1px solid black;"><a href="/celebrities" style="text-decoration:none; font-size: 18px; color: black;">Go to celebrities</a></button>
    <button style="margin-left:20px; margin-bottom:10px; height:60px; width: 200px; background-color:cyan; border-radius:5px; border:1px solid black;"><a href="/movies" style="text-decoration:none; font-size: 18px; color: black;">Go to movies</a></button>

  </body>
</html>
