<!DOCTYPE html>
<html>
  <head>
    <title>Celebrities and Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Celebrities and Movies</h1>
    <p><a href="/celebs">List of celebrities</a></p>
    <p><a href="/movies">List of movies</a></p>
  </body>
</html>
