<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome dude</h1>
  </body>
</html>


<a href="/celebrities">Go to Celebrities</a>
