<div class="container-fluid index">
    <div class="inner-index">
        <a href="/celebrities" class="btn-lg btn-info">View celebrities</a>
        <a href="/movies" class="btn-lg btn-info">View movies</a>
    </div>
</div>