<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div id="center">
  <a href="/celebrities">Celebrities</a>
  <->
  <a href="/movies">Movies</a>
</div>


  </body>
</html>
