<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/celebrities">Celebrity</a></li>
      <li><a href="/movies">Movies</a></li>


    </ul>
  </nav>
    <%- body %>
  </body>
</html>

