.celeb-details {
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  img {
    height: 200px;
  }
  li {
    margin-top: 20px;
  }
  .celeb-item {
    margin: 0;
    width: 70%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
      display: flex;
      flex-direction: row;
      .catch-phrase {
        width: 70%;
        margin-left: 10px;
        display: flex;
        align-content: flex-start;
        text-align: right;
      }
    }
  }
}
