<h2>Add new Movie</h2>
<form action="/movies" method="POST">
  <label for="title-input">Title:</label>
  <input type="text" id="title-input" name="title">
  <br>
  <br>
  <br>

  <label for="genre-input">Genre:</label>
  <input type="text" id="genre-input" name="genre">
  <br>
  <br>
  <br>

  <label for="plot-input">Plot:</label>S
  <input type="text" id="plot-input" name="plot">
  <br>
  <br>
  <br>

  <button type="submit">Add</button>

</form>