<h2>Those are my celebrities</h2>

<ul>
        <% celebrities.forEach(function(celebrities){%>
         <li>
             <a href="/celebrities/"<%<h2>Titulo: <%=celebrities.name%></h2></a>
             
         </li>
       <% }) %>
</ul>