<h2> Add a New Celebrity </h2>

<form method="post" action="/celebrities">

  <label for="celeb-name-input"> Celebrity Name </label>
  <input  id="celeb-name-input" name="celebName" type="text">
  <br>

  <label for="occupation-input"> Occupation </label>
  <input  id="occupation-input" name="occupation" type="text">
  <br>

  <label for="catchPhrase-input"> Catch Phrase </label>
  <input  id="catchPhrase-input" name="catchPhrase" type="text">
  <br>

  <button> Save This Celeb </button>

</form>
