<section>
  <h1>Details</h1>
  <ul>
    <li>
      <h4>{{celebrity.name}}</h4>
      <h5>Occupation: {{celebrity.occupation}}</h5>
      <p>Catch Phrase: {{celebrity.catchPhrase}}</p>
    </li>
  </ul>
  <a href="/celebrities">Back</a>
</section>