<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Celebrities</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/">Index</a>
    <a href="/celebs">List of Celebrities</a>
    <a href="/celebs/create">Create a Celebrity</a>
    <a href="/movies">Movies</a>
  </nav>
  
  <%- body %>
  
</body>
</html>