<h2>Edit movie</h2>
<form method="post" action="/movies/<%= movieData.id%>">
    <div>
        <label for="movie-name"> movie Name: </label>
        <input type="text" name="title" value="<%= movieData.title%>">
    </div>

    <div>
        <label for="occupation"> Genre: </label>
        <input type="text" name="genre" value="<%= movieData.genre%>">
    </div>

    <div>
        <label for="catch-phrase"> Plot:  </label>
        <input type="text" name="plot" value="<%= movieData.plot%>">
    </div>

    <button> Save Edit </button>
</form>