<form action="/movies/<%= movie._id %>" method="POST">
  <label for="title">Name</label>
  <input type="text" name="title" id="title" value="<%= movie.title %>">

  <label for="genre">Occupation</label>
  <input type="text" name="genre" id="genre" value="<%= movie.genre %>">

  <label for="plot">Plot</label>
  <input type="text" name="plot" id="catch-plot" value="<%= movie.plot %>">

  <button type="submit">Submit</button>
</form>
