<h2>Add new movie</h2>
<form method="post" action="/movies">
    <div>
        <label for="movie-name"> Movie Name: </label>
        <input type="text" name="name" id="Movie-name">
    </div>

    <div>
        <label for="genre"> Genre: </label>
        <input type="text" name="genre" id="genre">
    </div>

    <div>
        <label for="movie-plot"> Plot: </label>
        <input type="text" name="plot" id="movie-plot">
    </div>

    <button> Add this movie </button>
</form>