<h2>Modify Movie</h2>

<form action="/movies/<%= movie._id %>" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value=" <%= movie.title %>">
    <br>

    <label>Genre:</label>
    <input type="text" name="genre" value="<%= movie.genre %>">
    <br>

    <label>Plot:</label>
    <input type="text" name="plot" value="<%= movie.plot %>">
    <br>

    <button type="submit">Submit</button>
</form>