<h2>Agregar otra película</h2>

<form action="/movies/new" method="post">
  <p>
    <label for="title">Nombre de película</label>
    <input placeholder="No agarro el pedo" id="title" name="title" type="text">
  </p>

  <p>
    <label for="genre">género</label>
    <input placeholder="comedia" id="genre" name="genre" type="text">
  </p>

  <p>
    <label for="plot">la trama</label>
    <textarea placeholder="alumnos pretenden chambear como programadores" id="plot" name="plot" type="text"></textarea>
  </p>
  <button>
    <input type="submit" value="Send">
  </button>
</form>