<h2>Add a new movie</h2>


<form action="/movies" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <br>

    <label>Genre:</label>
    <input type="text" name="genre">
    <br>

    <label>Plot:</label>
    <textarea type="text" name="plot"></textarea>
    <br>

    <button type="submit"> Add Movie</button>
</form>