<h2>Editing <%= theMovie.title %></h2>
<form method="post" action="/movies/<%= theMovie._id %>">
  <div>
    <label for="title"> Name: </label>
    <input type="text" name="title" id="title">
  </div>

  <div>
    <label for="genre"> genre: </label>
    <input type="text" name="genre" id="genre">
  </div>

  <div>
    <label for="plot"> Catch Phrase:  </label>
    <input type="text" name="plot" id="plot">
  </div>

  <button type="submit"> Submit your edition</button>
</form>