<h2>Here are your favorites movies</h2>
<ul>
  <% movies.forEach((movie) => { %>
    <li>
      <a href="/movies/<%= movie._id %>"><%= movie.title %>
      </a>    <button style="margin-left:20px; margin-bottom:10px; height:30px; background-color:lightgreen; border-radius:5px; border:1px solid black;"><a style="text-align:center; color:black; font-size: 14px;" href="/movies/<%= movie._id %>/edit">Edit</a></button>   <button style="margin-left:20px; margin-bottom:10px; height:30px; background-color:#ff6666; border-radius:5px; border:1px solid black;"><a style="text-align:center; color:black; font-size: 14px;" href="/movies/<%= movie._id %>/delete">Delete</a></button></li>
  <%  }) %>
</ul>

<button style="margin-left:20px; margin-bottom:10px; height:30px; background-color:#ffc266; border-radius:5px; border:1px solid black;"><a href="/movies/new">New Movie</a></button>
