


<a href="/movies/new">New movie</a>
<ul>
  <% movies.forEach((movie) => { %>
    <li>
      <a href ="/movies/<%= movie._id %>"> <%= movie.title %><br>
      <a href="/movies/<%= movie._id %>/delete">  -Delete</a><br>
      <a href="/movies/<%= movie._id %>/edit">  -Edit</a><br>
    </li><br>
  <%  }) %>
</ul>

<a href="/">Back</a>
