<h2>Add New Movie</h2>

<form action="/movies/new" method="post">
  <label for="movie-name-input">Movie Name</label>
  <input id="movie-name-input" type="text" name="movieName">
  <br>
  <label for="movie-genre-input">Movie Genre</label>
  <input id="movie-genre-input" type="text" name="movieGenre" >
  <br>
  <label for="movie-plot-input">Movie Plot</label>
  <textarea id="movie-plot-input" name="moviePlot"></textarea>
  <button> Add Movie </button>
</form>
