<form method="POST" action="/movies">
<label>Title</label>
<input type='text' name='title' />
<p>
<label>Genre</label>
<input type='text' name='genre' />
<p>
<label>Plot</label>
<input type='textarea' name='plot' />
<p>
<button type="submit">Add Movie</button>
</form>
