<!--layout.hbs-->
<div class="container-fluid movies-new">
    <div class="movies-inner-new">
        <h2>Adding new movie</h2>
        <form action="/movies" method="post">
            <label>Title:</label>
            <input type="text" name="title" placeholder="title" class="form-control">
            <label>Genre:</label>
            <input type="text" name="genre" placeholder="genre" class="form-control">
            <label>Plot:</label>
            <input type="text" name="plot" placeholder="plot" class="form-control">
            <button type="submit" class="btn btn-info"> Send</button>
        </form>
    </div>
</div>