<!--layout.hbs-->
<h2>Adding new movie</h2>
<form action="/movies" method="post">
    <label>Title:</label>
    <input type="text" name="title" placeholder="title">
    <label>Genre:</label>
    <input type="text" name="genre" placeholder="genre">
    <label>Plot:</label>
    <input type="text" name="plot" placeholder="plot">
    <input type="submit" value="enviar">
</form>