<h2>Add a Movie</h2>

<% if (typeof errors !=='undefined') {%>
<ul>
  <% for (key in errors)  {%>
  <li><%= errors[key].message %></li>
  <% } %>
</ul>
<% } %>

<form method="post" action="/movie/new">
  <div>
    <label for="title"> Title: </label>
    <input type="text" name="title" id="title">
  </div>

  <div>
    <label for="genre"> Genre: </label>
    <input type="text" name="genre" id="genre">
  </div>

  <div>
    <label for="plot"> Plot:  </label>
    <input type="text" name="plot" id="plot">
  </div>

  <button> Add this Movie </button>
</form>