<!--layout.hbs-->
<div class="container-fluid movies-details">
    <div class="movies-inner-details">
        <h2>Details of {{title}}</h2>
        <ul>
            <li>title: <span class="detail">{{title}}</span></li>
            <li>genre: <span class="detail">{{genre}}</span></li>
            <li>plot: <span class="detail">{{plot}}</span></li>
        </ul>
    </div>
</div>