<h2>Agrega al nuevo perdedor</h2>
<form action="/new" method="post">

<p>
    <label for="name">Escribe el nombre del perderdor</label>
    <input placeholder="Escribe el nombre" type="text" name="name">
</p>
<p>
    <label for="occupation">Escribe a que se dedica el perderdor</label>
    <input placeholder="ocupacion" type="text" name="occupation">
</p>
<p>
    <label for="catchPhrase">Que tonteria dice el perdedor</label>
    <input placeholder="frase celebre" type="text" name="catchPhrase">
</p>

<input type="submit" value="manda a la base de datos">

</form>