<h1> Iron Celebridades y perdedores</h1>
<h3>En esta pagina se encuentra una lista de artistas (cantantes, actores, etc..) perdedores, excepto Luis Miguel por supuesto. Tu mision, si decides aceptarla. es agregar, borrar, y/o editar cuanta gente quieras, procura que sean perdedores. Happy Coding ;)</h3>
<h2><a href="/celebrities">Todas las celebridades</a></h2>
<img src="https://i.ytimg.com/vi/7wLgDbdLAFY/maxresdefault.jpg" alt="Luismi Gordito">


