<h2>Add new movie</h2>

<form action="/movie/add" method="post" style="text-align: center">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Genre:</label>
  <input type="text" name="genre">

  <label for="">Plot:</label>
  <input type="text" name="plot">

  <button type="submit">Add</button>
</form>

<a href="/movie">Back</a>