<h1>All Movies</h1>
<a href="/movie/create">Create Movie</a>
<div class="movieAll">
{{#each movies}}

<div class="eachMovie">
  <h2>{{this.title}}</h2>
  <h3>{{this.genre}}</h3>
  <p>{{this.plot}}</p>
  <a href="movie/{{this._id}}">See More</a>
</div>

{{/each}}
</div>