<form action="/movie/create" method="POST">
    <h2>Create a Movie</h2>
    <label for="title">Title : </label>
    <input type="text" id="title" name="title" placeholder="Harry Potter">

    <label for="genre">Genre : </label>
    <input type="text" id="genre" name="genre" placeholder="Fiction">

    <label for="plot">Plot : </label>
    <input type="text" id="plot" name="plot" placeholder="Just after knowing he was a sorcer, Harry begins to be a apprentice at the school of sorcellery...">

    <button>Create</button>
</form>