<form action="/movie/edit/{{movie._id}}" method="POST">
    <h2>Edit this Movie</h2>
    <label for="title">Title : </label>
    <input type="text" id="title" name="title" value="{{movie.title}}">

    <label for="genre">Genre : </label>
    <input type="text" id="genre" name="genre" value="{{movie.genre}}">

    <label for="plot">Plot : </label>
    <input type="text" id="plot" name="plot" value="{{movie.plot}}">

    <button>Create</button>
</form>