
<h2>List of Movies</h2>




{{#each movies}}

<div style='display:flex;flex-direction:row'>
<a href="/movie/{{this.id}}"">{{this.title}}</a>

<div></div>
<form action="/movie/{{this.id}}/edit" method="get">
  <button style='position:absolute;left:200px' type="submit">Edit</button>
</form>

<form action="/movie/{{this.id}}/delete" method="post">
  <button style='position:absolute;left:250px' type="submit">Delete</button>
</form>
</div>

{{/each}}


<br>
<br>
<a href="/movie/add/new" >Add new</a>

