Movie
<form action="/movies" method="post">
  <input name="title" type="text">
  <input name="genre" type="text">
  <input name="plot" type="text">

  <button type="submit">Add</button>
</form>


<form action="/movies" method="get">

  <button type="submit">Back</button>



</form>

