<a href="/movies">Back</a>
<form action="/movies/new" method="POST">
    <div>
        <label>Title: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label>Genre: </label>
        <input type="text" name="genre">
    </div>
    <div>
        <label>Plot: </label>
        <input type="text" name="plot">
    </div>
    <button>Create</button>
</form>