<h3>Create new Movie</h3>
{{#if error}}
<p>{{error}}</p>
{{/if}}

<form action="/movie/new" method="post">
    <label for="title">Title:</label>
    <input required name="title" type="text">
    <label for="genre">Genre:</label>
    <input required name="genre" type="text">
    <label for="plot">Plot:</label>
    <input required name="plot" type="text">
    <button type="submit">Submit</button>
</form>