<div>
    <form action="/movies" method="POST">
        <label>Name:</label>
        <input type="text" name="title" placeholder="Sharknado">
        <label>Occupation</label>
        <input type="text" name="genre" placeholder="Fantasy">
        <label>Catch phrase</label>
        <input type="text" name="plot" placeholder="Flying sharks">
        <button type="submit">ADD</button>
    </form>
</div>