<h2>Add new movie</h2>

<form action="/newMovie" method="POST">
<label for="">Title:</label>
<input type="text" name="title" id="title">
<label for="">Genre:</label>
<input type="text" name="genre" id="genre">
<label for="">Plot:</label>
<input type="text" name="plot" id="plot">
<label for=""></label>
<button type="submit">ADD</button>
</form>
</form>