<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="wrap">
      <h1>Mongoose Flama CRUD</h1>
      <p>We put the 'to' in 'flama'</p>
      <button><a href="./celebrities">List Celebrities</a></button> - <button><a href="./movies">List Movies</a></button>
    </div>
  </body>
</html>
