<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose Flama CRUD</h1>
    <p>We put the 'to' in 'flama'</p>
    <a href="./celebrities">List Celebrities</a>
    <a href="./movies">List Movies</a>
  </body>
</html>
