
<h1>Sign Up</h1>

{{#if errorMessage}}
    {{errorMessage}}
{{/if}}


<form action="/signup" method="POST">

    <label for="">Username</label>
    <input type="text" name="username">

    <label for=""></label>
    <input type="text" name="password">


    <button>Submit</button>




</form>