<h2>Your favorite celebs:</h2>

<% celebArray.forEach((celeb) => { %>
    <h2><a href="celebrities/<%= celeb._id %>"><b><%= celeb.name %></b</a></h2>
 
   <!-- <ul>
       <li><b>Occupation: </b> <%= celeb.occupation %></li>
       <li><b>Catch Phrase: </b> <%= celeb.catchPhrase %></li>
   </ul> -->
<% }); %>