<ul>
            <h2><b><%= celebs.name %></b></h2>
            <h3><b>Occupation: </b> <%= celebs.occupation %></h3>
            <h3><b>Catch Phrase: </b> <%= celebs.catchPhrase %></h3>
        </li>
 </ul>