<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Fake Celebs Page!</h1>
    <a href="http://localhost:3000/celebrities">See The Fake Celebrities Here</a>
  </body>
</html>