/// Fonts
$primary-font: "Lora", "Georgia", serif;
$secondary-font: "Quicksand", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

/// Text color
$text-color-dark: #0b0b11;
$text-color-medium: #2e2e2e;
$text-color-light: #ffffff;

$color-highlight: #ff7f50;
