<h2>EDIT a CELEB</h2>

<form action="update" method="post">

  <div class="form-group">

    <label>Name</label>
    <input type="text" name="name" value="{{this.name}}">
    <br>
  </div>

  <div class="form-group">
    <label>Occupation</label>
    <input type="text" name="occupation" value="{{this.occupation}}">
    <br>
  </div>

  <div class="form-group">
    <label>Catch phrase</label>
    <input type="text" name="catchPhrase" value="{{this.catchPhrase}}">
    <br>
  </div>


  <button type="submit">SAVE CHANGES</button>

</form>