<h2>
  Add a new celebrity</h2>

<form action="/create" method="post">

  <div class="form-group">

    <label>Name</label>
    <input type="text" name="name">
    <br>
  </div>

  <div class="form-group">
    <label>Occupation</label>
    <input type="text" name="occupation">
    <br>
  </div>

  <div class="form-group">
    <label>Catch phrase</label>
    <input type="text" name="catchPhrase">
    <br>
  </div>


  <button type="submit">Create</button>

</form>