<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>
  <div>
    <a href="/celebrities"> Go to celebrities list</a>
  </div>
  <div>
    <a href="/movies"> Go to movies list</a>
  </div>
</body>

</html>
