<center>

<h1>New Celebrity</h1>
<div class="form">
<form action="/celebs" method="post">

  <label for="celebrity-name-input">Celebrity Name</label>
 <br>
<input id="celebrity-name-input" type="text" name="celebrityName">
<br>

<br>
    <label for="occupation-input">How Many Propellers</label>
    <br>
     <input id="occupation-input" type="text" name="occupation">
    <br>

<br>
   <label for="catch-phrase-input">Max Speed</label>
     <br>
    <input  id="catch -phrase-input" type="text name="catchPhrase">
     <br>
   </div>
<br>
   <button>Add new Celebrity</button>

   </form>

</center>
