<nav>
  <a href="/">home</a>
</nav>

<h2>Movies</h2>

<a href="/movies/new">Add a movie</a>

<ul>
  {{#each movies}}
    <li>
      <a href="/movies/{{id}}">{{title}}</a>
      ‒
      <a href="/movies/{{id}}/edit">Edit</a>
      <form action="/movies/{{id}}/delete" method="POST">
        <button>Delete</button>
      </form>
    </li>
  {{/each}}
</ul>