<h2>New movie</h2>

<form action="/movies" method="POST">
  <p>
    <label>
      Title:
      <input type="text" name="title">
    </label>
  </p>

  <p>
    <label>
      Genre:
      <input type="text" name="genre">
    </label>
  </p>

  <p>
    <label>
      Plot:
      <input type="text" name="plot">
    </label>
  </p>

  <p>
    <label>
      Cast:
      <select multiple name="cast">
        {{#each celebrities}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </label>
  </p>

  <button>Add this movie</button>
</form>