<h2>Celebrities</h2>
<div>
{{#each celebrities}}
<li>{{this.name}} 
  - 
  <a href="/celebrities/{{_id}}">Show more</a>
  -
  <a href="celebrities/delete/{{_id}}">Delete</a>
  -
  <a href="celebrities/edit/{{_id}}">Edit</a>
</li>
{{/each}}
<br>
  <a href="/celebrities/new">Create new celebritie</a> 
  <br>
  <a href="/">Go back to menu</a>
</div>
