<h2>Are you famous?</h2>

<form method="POST" action="/celebrities">
    <input placeholder="Your Name" type="text" name="newcelebrity">
    <input placeholder="Occupation" type="text" name="occupation">
    <input placeholder="Catch phrase" type="text" name="catchPhrase">
    <button type="submit">SUBMIT</button>
</form>