<h2>Add a new celebrity:</h2>

<form action="/celebrities" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <label for="occupation">Occupation: </label>
  <input type="text" name="occupation" id="occupation">
  <label for="catchPhrase">Catch Phrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase">
  <button type="submit">Submit</button>
</form>
<hr>
<br>
<a href="/celebrities">Back</a>