
    <h1>Welcome To {{celeb.name}}'s Page!</h1>


    <h3>
    occupation: {{celeb.occupation}}

    </h3>

    <h4>
    catchphrase: {{celeb.catchphrase}}

    </h4>

        <a href="/celebrities/edit/{{celeb._id}}">
            <button>Edit This Celebrity</button>
        </a>
<br>
                <a href="/celebrities">
           Go back to list
        </a>