<!DOCTYPE html>
<html>

<head>
  <title>
Celebrities
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>celebrities</h2>
  <ul>
    <% celebrities.forEach((celebrity) => { %>
      <li>
        <%= celebrity.name %> - $<%= celebrity.occupation %> - $<%= celebrity.catchPhrase %> -
      </li>
      <%  }) %>
  </ul>
  </body>
</html>
