<h2>ADD NEW STAR</h2>

<form action="/stars" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="catchPhrase">


  <button type="submit">Add</button>
</form>