<h2>Crea una nueva celebridad</h2>

<form action="/celebrities" method="post">
    <div>
        <label for="name">Escribe el nombre de la celebridad:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="occupation">Escribe la ocupación de la celebridad:</label>
        <input type="text" name="occupation">
    </div>
    <div>
        <label for="catchPhrase">Escribe la frase de la celebridad:</label>
        <input type="text" name="catchPhrase">
    </div>
    <button type="submit">Enviar</button>
</form>
