<h2>Detalles de la celebridad</h2>

<p>Nombre: {{celebrity.name}}</p>
<p>Ocupación: {{celebrity.occupation}}</p>
<p>Frase: {{celebrity.catchPhrase}}</p>

<a href="/celebrities/{{celebrity._id}}/edit">Editar</a>
