<h2>Celebrities time!</h2>

{{#each celebrities}}
<a href="/celebrities/{{this.id}}"><p>{{this.name}}</p></a>
<form action="/celebrities/{{this._id}}/delete" method="POST">
<button type="submit">Delete!!</button>
</form>

<form action="/celebrities/edit/{{_id}}" >
<button type="submit">Edit!!</button>
</form>

{{/each}}

<a href="/new"><p>Add one!!</p></a>
