<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <article class="container">
    <h1>
      Movies shop
    </h1>

    <hr>

    <%- body %>
  </article>
</body>
</html>