<h2>CREATE A NEW CELEBRITY</h2>

<form action="/new" method="POST">

    <label for="name">Name</label>
    <input type="text "name="name">

    <label for="ocupation">Ocupation</label>
    <input type="text" name="ocupation">
    
    <label for="catchPhrase">CatchPhrase</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Submit</button>
</form>
<a href="/celebrities">Go Back</a>