<h2> Celebrities list</h2>
{{#each  celebrities}}
  <li>
   {{name}}
  </li>
  <a href="/celebrities/{{this._id}}"> Details</a>
  <br>
  
  <form action="/celebrities/{{this._id}}/delete" method="post">˚
  <button type="submit" >Delete</button>
</form>
{{/each}}
<br>
  <a href="/celebrities/new"> Add new Celebrity</a>

