<div id="index">
  <div id="title">
    <span> Cinema Ironhack </span>
    <a role="button" href="/movies" class="btn">
      <button id="b">
          Check the movies!
      </button>
    </a>
  </div>
  

</div>

<script>
  let indexHeight = document.getElementById('index');
  let indexWidth = document.getElementById('index');

  indexWidth.width = Math.floor(window.innerWidth);
  indexWidth.style.width = indexWidth.width+"px";
  indexHeight.height = Math.floor(window.innerHeight);
  indexHeight.style.height = indexHeight.height+"px";
</script>