<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href="/">Home</a>

<form action="/keyword" method="get">
  <input type="text" name="celebrity" placeholder="Celebrity">
  <button>Search for celebrity</button>
</form>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
