  <div id="movie-list">
   <h2>
          Ironhack Cinema
    </h2>
    <p>
          Click on the movie to check the showtimes!
    </p>
    <div id="list">
        {{#each mov}}
        {{> moviesPartial this}}  
        {{/each}}

    </div>
  </div>
