<img src="/images/hollywoodhead.jpg" class="img-fluid" alt="Responsive image">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Awesome Mongoose Celebrities...</h2>
    <p class="lead">You wanna know a little bit more, don´t you?</p>
  </div>
</div>

<a href="/celebrities/new" class="btn btn-warning">"Wanna" add new celeb?</a>

{{#each celebrities}}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{name}}
    <a href="/celebrities/{{_id}}" span class="badge badge-primary badge-pill">More details</a>
  </li>
</ul>
{{/each}}