<form action="/celebrities/{{_id}}/edit" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{name}}">

  <label for="">Occupation:</label>
  <input type="text" name="occupation" value="{{occupation}}">

  <label for="">Catch phrase:</label>
  <input type="text" name="catch_phrase" value="{{catch_phrase}}">

  <button type="submit">EDIT</button>
</form>