<h1>Welcome to the best celebrities and movies web</h1>
<p>Choose what you want to see, celebrities or movies</p>

<a href="/celebrities" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See celebrities</a>
<a href="/movies" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See movies</a>