<link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Codystar|Libre+Baskerville" rel="stylesheet">


<body class="index">

  <div>
    <h1 class="titulo">Celebrities & Movies</h1>

  </div>

  <div>
      <a  href="/celebrities/c-list"><button class="button1">Celebrities</button></a>
      <a href="/movies"><button class="button1">Movies</button></a> 
  </div>

</body>


