<div class="container">
<h1>Moongoose Movie</h1>
<p>Welcome to the Bible of Cinema : </p> <br />
<p> Cinematography (also called Direction of Photography) is the science or art of motion-picture photography by recording light or other electromagnetic radiation, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as film stock.[1]

Typically, cinematographers use a lens to repeatedly focus the light reflected from objects into real images on the light-sensitive surface inside a camera during a questioned[citation needed] exposure, creating multiple images. 

"</p>
<a href="/celebrities">Go to my celebrities</a> <br />
<a href="/movies">Go to my Movies</a>

</div>

