<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
<div class="index">
<h1>Welcome to the Mongoose Movies App</h1>


<button class="btn btn-warning button"><a href="/celebrities">See All Celebrities</a></button>
<br>
<button class="btn btn-warning button"><a href="/movies">See All Movies</a></button>
</div>