<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
<div class="new-celeb">

  <h2>Create a New Celebrity</h2>
  <form action="/celebrities/create" method="POST">
  
  <label for="">Celebrity Name</label>
  <input type="text" name="newName">
  <br>
  <label for="">Occupation</label>
  <input type="text" name="newOccupation">
  <br>
  <label for="">Catchphrase</label>
  <input type="text" name="newCatchphrase">
  <br>
  
  <button class="btn btn-success">Create the Celebrity!</button>

  </form>



</div>