<h2>Add a Celebrity</h2>

<form action="/process-celeb" method="POST">
    <input type="text" name="name" placeholder="Name..">
    <br>
    <input type="text" name="occupation" placeholder="Occupation..">
    <br>
    <input type="text" name="catchPhrase" placeholder="Catch Phrase..">
    <br>

    <button>Save this celebrity</button>
</form>