<link rel="stylesheet" href="/stylesheets/style.css">
<div class="theCelebInfo">


{{#each theCelebInfo}}
<h2>{{this.name}}</h2>
<h4>{{this.occupation}}</h4>
<p>{{this.catchphrase}}</p>

{{/each}}
</div>