<div class="vista">
<h2>Celebrities</h2>

<div class="container">
{{#each stars}}
<p><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
{{/each}}

</div>

<a href="/" style='font-size:24p; color:black'><i class='fas'>&#xf3e5;</i></a>
<a href="/add" class="btn">Agregar</a>

</div>

