<div class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/movies">Movies</a>
  <a href="/celebrities">Celebrities</a>

</div>
<div class="principal">
  <h1>Movies Ironhack</h1>
  <p>Welcome</p>
</div>
