<h2>Add a new movie</h2>

<form action="/movies/add" method="post">
  <label for="">Title:</label><br>
  <input type="text" name="name"><br><br>

  <label for="">Genre:</label><br>
  <input type="text" name="genre"><br><br>

  <label for="">Plot:</label><br>
  <input type="text" name="plot"><br><br>

  <label for="">Celebrities:</label><br>
  <input type="text" name="_celebrities"><br><br>

  <button type="submit">ADD</button>
</form>