<form action="/movies/<%=movie._id%>" method="POST">
  <label for="name">Title</label>
  <input type="text" name="title" value="<%=movie.title%>">

  <label for="occupation">Genre</label>
  <input type="text" name="genre" value="<%=movie.genre%>">

  <label for="catchPhrase">Plot</label>
  <input type="text" name="plot" value="<%=movie.plot%>">

  <button type="submit">Edit movie</button>
</form>
