<h2>Movie List</h2>
  <ul>
    <% movies.forEach((oneMovie)=>{ %>
      <li>
        <a href="/movies/<%= oneMovie._id%>"><%= oneMovie.title %></a>
        <br><br>
        <a href="/movies/<%= oneMovie._id%>/edit">Edit</a>
        <br>
        <form action="/movies/<%= oneMovie._id %>/delete" method="post">
          <button>Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <a href="/movies/new">
    Add new movie
  </a>
