<h2>HEADINGGGG</h2>

<form action="/movies" method="post">
    <input type="text" value="Title" name="title">
    <input type="text" value="genre" name="genre">
    <input type="text" value="plot" name="plot">
    <input type="submit" value="Submit">
</form>