<h2> My Celebrities </h2>

<ul> 
    <% celebrities.forEach((celebs) => { %>
        <li>
        <h3> <a href="/celebrities/<%= celebs._id %>"> <%= celebs.name %> </a> </h3>
        
        </li>
   <% }) %>
</ul>