<h2> My Celebrities </h2>

<ul> 
    <% celebrities.forEach((celebs) => { %>
        <li>
        <%= celebs.name %> - 
        <%= celebs.occupation %> - 
        <%= celebs.catchPhrase %>
        </li>
   <% }) %>
</ul>