<h2> Add your favourite celebrity </h2>

<form action="/celebrities" method="POST">
  <label for="name"> Name </label>
  <input type="text"  name="name">

  <label for="occupation"> Occupation </label>
  <input type="text" name="occupation" >

  <label for="catchPhrase"> Famous Phrase </label>
  <input type="text" name="catchPhrase" >

  <button type="submit"> Add your new celebrity </button>
</form>

<a href="/"> Return to home page </a>