<h2> Celebrities details </h2>

<h3>Name: <span><%= celebDetail.name %></span></h3>
<h3>Occupation: <span><%= celebDetail.occupation %></span></h3>
<h3>Famous Phrase: <span><%= celebDetail.catchPhrase %></span></h3>