<h2>Movies Index</h2>

<ul>
    {{#each movie}}
    <li>
        <a href="/movies/{{_id}}">{{title}}</a>
        <form action="/movies/{{_id}}/delete" method="post">
            <button type="submit">Delete</button>
        </form>
        <form action="/movies/{{_id}}/edit" method="get">
            <button type="submit">Edit</button>
        </form>
    </li>
    {{/each}}
</ul>