<div class="container-fluid">
    <h2>Add new Movie</h2>

    <form action="/movies/new" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title">

        <label for="genre">Genre</label>
        <input type="text" name="genre">

        <label for="plot">Plot</label>
        <input type="text" name="plot">

        <button type="submit">Add Movie</button>
    </form>
</div>