<div class="container-fluid">
    <h2>Movie Details</h2>
    <ul>
        {{#with movie}}
        <li>{{title}}</li>
        <li>{{genre}}</li>
        <li>{{plot}}</li>
        {{/with}}
    </ul>
</div>