<h2>New Movie</h2>

<form action = "/movies/" method="post">

<label>Title</label>
<input type ="text" name ="title">
<br>

<label>Genre</label>
<input type = "text" name = "genre">
<br>

<label>Plot</label>
<textarea name ="plot" col="30" rows="10"> </textarea>

  <button type="submit">Save Movie</button>

  </form>