<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/celebrities">Your favorites celebs</a>
    <a href="celebrities/new">Add new celebs</a>
    <p>Welcome to <%= title %></p>
  </body>
</html>
