<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <ul>
    <% celebrities.forEach((celebrity) => { %>
      <li><%= celebrity.name %>
        <a href="/celebrities/<%= celebrity._id %>"> View details</a>
      </li>
      <%  }) %>
  </ul>

  </body>
</html>
