<h2>Add A New Celebrity</h2>


<form action="/celebrities/new" method="POST">
    <label>Name: </label>
    <input type="text" name="name"><br>
    <label>Occupation: </label>
    <input type="text" name="occupation"><br>
    <label>Catch Phrase: </label>
    <textarea type="text" name="catchPhrase"></textarea>
    <button>Add Celeb</button>
</form>