<h2><%= title %></h2>

<form action="/celebrities" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="ocupation">Occupation</label>
    <input type="text" name="ocupation" id="ocupation">

    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase">

    <button type="submit">Create new celeb</button>
  </form>
