<h2>Let's add some celebs -- just what the world needs!</h2>

<form class="" action="/celebrities" method="post">
  <label for="name">Celebrity name</label>
  <input type="text" name="name" id="name" value="">

  <label for="occupation">Celebrity occupation</label>
  <input type="text" name="occupation" id="occupation" value="">

  <label for="catchphrase">Celebrity catchphrase</label>
  <input type="text" name="catchphrase" id="catchphrase" value="">

  <button type="submit" name="button">Add a celeb</button>
</form>
