<h2>Here is some celebrity info</h2>

  <li><%= celebrity.name %></li>
  <li><%= celebrity.occupation %></li>
  <li><%= celebrity.catchphrase %></li>

  <a href="/celebrities/<%=celebrity.id%>/edit">Click to edit these details</a>
