<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Create a celebrity<h2>
  <form action="/celebrities" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation">
    <label for="catchPhrase">Catch phrase</label>
    <input type="text" name="catchPhrase">
    <input type="submit" value='send'>
  </form>
</body>
</html>